Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(pnport): return ENOENT for missing descendant executables
  crates/pnport-preload/src/unix.rs
  crates/pnport/tests/native.c
Due: cargo-fmt

fix(pnport): retain every active archive digest marker
  crates/pnport/src/view.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(pnport): report recorded preload runtime failures
  crates/pnport/src/supervisor.rs
Due: cargo-fmt

fix(pnport): allow confined dangling archive symlinks
  crates/pnport/src/cache.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

test(pnport): verify virtual peer ZIP paths are materialized
  crates/pnport/tests/core.rs
Due: cargo-fmt

docs(pnport): record repaired runtime coverage
  docs/crates-pnport-foundation.md
Due: none

style(pnport): format review repairs
  crates/pnport-preload/src/unix.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(clibox): reject inherited macOS state ACLs
  crates/clibox-system/src/run.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): clean up supervision failures
  crates/clibox-system/src/run.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): compile state locks on Linux
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(clibox): space managed service probes
  apps/public-docs/docs/clibox/system.md
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): stop before cancelled workload spawn
  apps/public-docs/docs/clibox/system.md
  crates/clibox-system/src/run.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): reject unknown rate state fields
  crates/clibox-system/src/run.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): forward Unix launcher SIGINT
  apps/public-docs/docs/clibox/output.md
  crates/clibox/README.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  packages/clibox/README.md
  packages/clibox/src/launcher.cjs
  packages/clibox/test/launcher.test.mjs
Due: none

test(clibox): stabilize nested npm timeout coverage
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(pnport): preserve preload recursion guard on nested hooks
  crates/pnport-preload/src/unix.rs
Due: cargo-fmt

docs: add pnport public guides
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/README.md
  apps/public-docs/docs/index.md
  apps/public-docs/docs/pnport/benchmarks.md
  apps/public-docs/docs/pnport/cache.md
  apps/public-docs/docs/pnport/commands.md
  apps/public-docs/docs/pnport/diagnostics.md
  apps/public-docs/docs/pnport/editors.md
  apps/public-docs/docs/pnport/filesystem-and-processes.md
  apps/public-docs/docs/pnport/getting-started.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/releases.md
  apps/public-docs/docs/projects-overview.md
  apps/public-docs/rspress.config.ts
  apps/public-docs/scripts/project-routes.mjs
  apps/public-docs/scripts/validate-clean-urls.mjs
  apps/public-docs/scripts/validate-public-docs.mjs
  crates/pnport/README.md
  docs/README.md
  docs/apps-pnport-docs-foundation.md
  docs/apps-public-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/packages-docs-site-switcher-contract.md
  docs/project-pnport.md
  docs/project-public-docs.md
  docs/repository-environment-contract.md
  packages/docs-site-switcher/src/index.tsx
  packages/docs-site-switcher/tests/DocsSiteSwitcher.test.tsx
  packages/pnport/README.md
Due: none

fix(pnport): invoke Yarn smoke through host npm helper
  packages/pnport/scripts/smoke.mjs
Due: none

docs: include pnport in scoped public docs rules
  apps/AGENTS.md
Due: none

docs: keep pnport interception details internal
  apps/public-docs/docs/pnport/filesystem-and-processes.md
Due: none

fix(clibox): delay managed service startup
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
Due: cargo-fmt

docs: clarify pnport color precedence
  apps/public-docs/docs/pnport/commands.md
  crates/pnport/README.md
  docs/crates-pnport-foundation.md
Due: none

fix(pnport): run TypeScript release gate on six native hosts
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  .github/workflows/release-project.yml
  docs/packages-pnport-distribution-contract.md
  packages/pnport/scripts/typescript-conformance.mjs
Due: none

fix(clibox): refresh final output activity
  crates/clibox-system/src/run.rs
Due: cargo-fmt

feat(pnport): support Linux syscall virtualization for dynamic and static children
  crates/AGENTS.md
  crates/pnport-preload/vendor/fspy/PROVENANCE.md
  crates/pnport-preload/vendor/fspy/linux-target.rs
  crates/pnport/README.md
  crates/pnport/src/linux.rs
  crates/pnport/src/main.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/src/view.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/linux-tree.c
  crates/pnport/tests/linux.Dockerfile
  crates/pnport/tests/static-go/main.go
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/typescript-conformance.mjs
Due: cargo-fmt, go-fmt

fix(clibox): fail on wrapper output forwarding errors
  apps/public-docs/docs/clibox/output.md
  crates/clibox-system/src/run.rs
  crates/clibox/README.md
  crates/clibox/tests/run.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
Due: cargo-fmt

fix(clibox): require protected Windows state DACLs
  crates/clibox-system/src/run.rs
Due: cargo-fmt

docs: sync package selector scope with pnport
  packages/AGENTS.md
Due: none

docs: describe pnport unsupported children without internals
  apps/public-docs/docs/pnport/index.md
Due: none

test(clibox): isolate package wrapper smoke state
  packages/clibox/scripts/smoke.mjs
Due: none

fix: keep mobile docs selector scrollable
  docs/packages-docs-site-switcher-contract.md
  packages/docs-site-switcher/src/styles.css
Due: none

fix(clibox): bound retry backoff calculation
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(pnport): build injection companion before Rust CI tests
  .github/workflows/CI.yml
Due: none

fix(pnport): retain readonly ownership through proc fd reopens
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

docs(pnport): add public guides (#960)
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/README.md
  apps/public-docs/docs/index.md
  apps/public-docs/docs/pnport/benchmarks.md
  apps/public-docs/docs/pnport/cache.md
  apps/public-docs/docs/pnport/commands.md
  apps/public-docs/docs/pnport/diagnostics.md
  apps/public-docs/docs/pnport/editors.md
  apps/public-docs/docs/pnport/filesystem-and-processes.md
  apps/public-docs/docs/pnport/getting-started.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/releases.md
  apps/public-docs/docs/projects-overview.md
  apps/public-docs/rspress.config.ts
  apps/public-docs/scripts/project-routes.mjs
  apps/public-docs/scripts/validate-clean-urls.mjs
  apps/public-docs/scripts/validate-public-docs.mjs
  crates/pnport/README.md
  docs/README.md
  docs/apps-pnport-docs-foundation.md
  docs/apps-public-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/packages-docs-site-switcher-contract.md
  docs/project-pnport.md
  docs/project-public-docs.md
  docs/repository-environment-contract.md
  packages/AGENTS.md
  packages/docs-site-switcher/src/index.tsx
  packages/docs-site-switcher/src/styles.css
  packages/docs-site-switcher/tests/DocsSiteSwitcher.test.tsx
  packages/pnport/README.md
Due: none

fix(pnport): allow execveat on regular file descriptors
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(pnport): forward tracee SIGTRAP stops
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(clibox): protect newly created Windows state files
  crates/clibox-system/src/run.rs
Due: cargo-fmt
