Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(dexdex): persist PR metadata and harden PR update flows
  docs/servers-dexdex-pr-management-contract.md
  servers/dexdex-main-server/db/migrations/011_extend_pr_records_metadata.sql
  servers/dexdex-main-server/db/query/pr_records.sql
  servers/dexdex-main-server/internal/dbquery/models.go
  servers/dexdex-main-server/internal/dbquery/pr_records.sql.go
  servers/dexdex-main-server/internal/dbquery/querier.go
  servers/dexdex-main-server/internal/handler/pr_handler.go
  servers/dexdex-main-server/internal/polling/pr_poller.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/postgres.go
  servers/dexdex-main-server/internal/store/seed.go
  servers/dexdex-main-server/internal/worker/dispatch.go
Due: go-fmt

fix(dexdex): derive PR tracking IDs from GitHub URLs
  servers/dexdex-main-server/internal/handler/id.go
  servers/dexdex-main-server/internal/handler/pr_handler.go
Due: go-fmt

fix(dexdex): preserve PR tracking state on duplicate registration
  docs/servers-dexdex-pr-management-contract.md
  servers/dexdex-main-server/db/query/pr_records.sql
  servers/dexdex-main-server/internal/dbquery/pr_records.sql.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/postgres.go
Due: go-fmt

fix(dexdex): harden workspace and PR tracking reliability (#275)
  apps/dexdex/src/components/sidebar.tsx
  apps/dexdex/src/features/inbox/inbox-page.tsx
  apps/dexdex/src/features/reviews/review-assist-panel.tsx
  apps/dexdex/src/features/tasks/subtask-timeline.tsx
  apps/dexdex/src/hooks/use-workspace-stream.ts
  apps/dexdex/src/lib/adapters.ts
  apps/dexdex/src/lib/event-stream.ts
  docs/servers-dexdex-pr-management-contract.md
  servers/dexdex-main-server/db/migrations/010_add_workspace_type.sql
  servers/dexdex-main-server/db/migrations/011_extend_pr_records_metadata.sql
  servers/dexdex-main-server/db/query/pr_records.sql
  servers/dexdex-main-server/db/query/workspaces.sql
  servers/dexdex-main-server/internal/dbquery/models.go
  servers/dexdex-main-server/internal/dbquery/pr_records.sql.go
  servers/dexdex-main-server/internal/dbquery/querier.go
  servers/dexdex-main-server/internal/dbquery/workspaces.sql.go
  servers/dexdex-main-server/internal/handler/badge_theme_handler.go
  servers/dexdex-main-server/internal/handler/handler_test.go
  servers/dexdex-main-server/internal/handler/id.go
  servers/dexdex-main-server/internal/handler/pr_handler.go
  servers/dexdex-main-server/internal/handler/review_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
  servers/dexdex-main-server/internal/handler/workspace_handler.go
  servers/dexdex-main-server/internal/polling/pr_poller.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/memory_test.go
  servers/dexdex-main-server/internal/store/postgres.go
  servers/dexdex-main-server/internal/store/seed.go
  servers/dexdex-main-server/internal/worker/dispatch.go
Due: go-fmt

apps/dexdex: move repository management to sidebar pages
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/command-palette.tsx
  apps/dexdex/src/components/sidebar.tsx
  apps/dexdex/src/features/repositories/repositories-page.tsx
  apps/dexdex/src/features/repositories/repository-groups-page.tsx
  apps/dexdex/src/features/settings/settings-page.tsx
  apps/dexdex/src/stores/draft-store.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-user-guide-contract.md
  docs/project-dexdex.md
Due: none

refactor(dexdex): move repository management to sidebar pages (#276)
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/command-palette.tsx
  apps/dexdex/src/components/sidebar.tsx
  apps/dexdex/src/features/repositories/repositories-page.tsx
  apps/dexdex/src/features/repositories/repository-groups-page.tsx
  apps/dexdex/src/features/settings/settings-page.tsx
  apps/dexdex/src/stores/draft-store.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-user-guide-contract.md
  docs/project-dexdex.md
Due: none

Enable danger-full-access sandbox
  .codex/config.toml
Due: none

chore: Enable danger-full-access sandbox mode for Codex sessions (#277)
  .codex/config.toml
Due: none

dexdex: support repository IDs as implicit task repository groups
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/features/tasks/create-dialog.tsx
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-user-guide-contract.md
  docs/project-dexdex.md
  docs/protos-dexdex-api-contract.md
  docs/protos-dexdex-entities-contract.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  servers/dexdex-main-server/internal/handler/repository_group_resolution.go
  servers/dexdex-main-server/internal/handler/repository_group_resolution_test.go
  servers/dexdex-main-server/internal/handler/session_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
Due: go-fmt

fix(dexdex): harden workspace validation for repository actions
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/components/sidebar.tsx
  apps/dexdex/src/features/inbox/inbox-page.tsx
  apps/dexdex/src/features/repositories/repositories-page.tsx
  apps/dexdex/src/hooks/use-dexdex-queries.ts
  apps/dexdex/src/hooks/use-global-shortcut.ts
  apps/dexdex/src/hooks/use-tray-status.ts
  apps/dexdex/src/hooks/use-workspace-stream.ts
  apps/dexdex/src/stores/app-store.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-workspace-connectivity-contract.md
  docs/project-dexdex.md
Due: none

fix(dexdex): harden workspace validation for repository actions (#279)
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/components/sidebar.tsx
  apps/dexdex/src/features/inbox/inbox-page.tsx
  apps/dexdex/src/features/repositories/repositories-page.tsx
  apps/dexdex/src/hooks/use-dexdex-queries.ts
  apps/dexdex/src/hooks/use-global-shortcut.ts
  apps/dexdex/src/hooks/use-tray-status.ts
  apps/dexdex/src/hooks/use-workspace-stream.ts
  apps/dexdex/src/stores/app-store.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-workspace-connectivity-contract.md
  docs/project-dexdex.md
Due: none

feat(dexdex): support repository selector for create task
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/features/repositories/repository-groups-page.tsx
  apps/dexdex/src/features/tasks/create-dialog.tsx
  apps/dexdex/src/features/tasks/task-detail.tsx
  apps/dexdex/src/features/tasks/task-list.tsx
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/lib/repository-target.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-user-guide-contract.md
  docs/project-dexdex.md
  docs/protos-dexdex-api-contract.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/handler/handler_test.go
  servers/dexdex-main-server/internal/handler/repository_group_auto.go
  servers/dexdex-main-server/internal/handler/repository_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
Due: go-fmt

feat(dexdex): support repository selector for CreateUnitTask (#280)
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/features/repositories/repository-groups-page.tsx
  apps/dexdex/src/features/tasks/create-dialog.tsx
  apps/dexdex/src/features/tasks/task-detail.tsx
  apps/dexdex/src/features/tasks/task-list.tsx
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/lib/repository-target.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-user-guide-contract.md
  docs/project-dexdex.md
  docs/protos-dexdex-api-contract.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/handler/handler_test.go
  servers/dexdex-main-server/internal/handler/repository_group_auto.go
  servers/dexdex-main-server/internal/handler/repository_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
Due: go-fmt

refactor(ttl): extract shared IR package from runner
  cmds/ttlc/internal/ir/ir.go
  cmds/ttlc/internal/runner/runner.go
Due: go-fmt

feat(ttl): implement environment snapshot hashing
  cmds/ttlc/internal/fingerprint/fingerprint.go
  cmds/ttlc/internal/fingerprint/fingerprint_test.go
Due: go-fmt

feat(ttl): add func declaration support in sema and runner
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/testdata/valid/func_helper.ttl
Due: go-fmt

feat(ttl): wire runtime task invocation in emitter (Phase 2)
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/emitter/go_emitter.go
  cmds/ttlc/internal/emitter/go_emitter_test.go
Due: go-fmt

feat(ttl): implement import support with recursive resolution
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/contracts/enums.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
  cmds/ttlc/testdata/invalid/import_cycle.ttl
  cmds/ttlc/testdata/valid/import_lib.ttl
  cmds/ttlc/testdata/valid/import_main.ttl
Due: go-fmt

feat(ttl): add import support, func declarations, and shared IR extraction (#281)
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/contracts/enums.go
  cmds/ttlc/internal/emitter/go_emitter.go
  cmds/ttlc/internal/emitter/go_emitter_test.go
  cmds/ttlc/internal/fingerprint/fingerprint.go
  cmds/ttlc/internal/fingerprint/fingerprint_test.go
  cmds/ttlc/internal/ir/ir.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
  cmds/ttlc/testdata/invalid/import_cycle.ttl
  cmds/ttlc/testdata/valid/func_helper.ttl
  cmds/ttlc/testdata/valid/import_lib.ttl
  cmds/ttlc/testdata/valid/import_main.ttl
Due: go-fmt

dexdex: forward tauri dev console logs to terminal
  apps/dexdex/package.json
  apps/dexdex/src-tauri/Cargo.lock
  apps/dexdex/src-tauri/Cargo.toml
  apps/dexdex/src-tauri/capabilities/default.json
  apps/dexdex/src-tauri/src/lib.rs
  apps/dexdex/src/lib/dev-console-terminal-bridge.test.ts
  apps/dexdex/src/lib/dev-console-terminal-bridge.ts
  apps/dexdex/src/main.tsx
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
  pnpm-lock.yaml
Due: cargo-fmt

dexdex: avoid global logger conflict in tauri log plugin
  apps/dexdex/src-tauri/src/lib.rs
Due: cargo-fmt

feat(dexdex): forward tauri dev console logs to terminal (#282)
  apps/dexdex/package.json
  apps/dexdex/src-tauri/Cargo.lock
  apps/dexdex/src-tauri/Cargo.toml
  apps/dexdex/src-tauri/capabilities/default.json
  apps/dexdex/src-tauri/src/lib.rs
  apps/dexdex/src/lib/dev-console-terminal-bridge.test.ts
  apps/dexdex/src/lib/dev-console-terminal-bridge.ts
  apps/dexdex/src/main.tsx
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
  pnpm-lock.yaml
Due: cargo-fmt

dev
  pnpm-lock.yaml
  servers/commit-tracker/.gitignore
  servers/commit-tracker/package.json
  servers/dexdex-main-server/.gitignore
  servers/dexdex-main-server/package.json
  servers/dexdex-worker-server/.gitignore
  servers/dexdex-worker-server/package.json
  servers/remote-file-picker/.gitignore
  servers/remote-file-picker/package.json
Due: none

chore: Add dev scripts (#283)
  pnpm-lock.yaml
  servers/commit-tracker/.gitignore
  servers/commit-tracker/package.json
  servers/dexdex-main-server/.gitignore
  servers/dexdex-main-server/package.json
  servers/dexdex-worker-server/.gitignore
  servers/dexdex-worker-server/package.json
  servers/remote-file-picker/.gitignore
  servers/remote-file-picker/package.json
Due: none

remove devmon command and tidy go dependencies
  cmds/devmon/README.md
  cmds/devmon/devmon.example.toml
  cmds/devmon/internal/cli/root.go
  cmds/devmon/internal/cli/root_test.go
  cmds/devmon/internal/config/config_test.go
  cmds/devmon/internal/config/load.go
  cmds/devmon/internal/config/model.go
  cmds/devmon/internal/config/validate.go
  cmds/devmon/internal/contracts/enums.go
  cmds/devmon/internal/executor/shell.go
  cmds/devmon/internal/executor/shell_test.go
  cmds/devmon/internal/logging/logger.go
  cmds/devmon/internal/logging/logger_test.go
  cmds/devmon/internal/menubar/menubar_darwin.go
  cmds/devmon/internal/menubar/menubar_darwin_test.go
  cmds/devmon/internal/menubar/menubar_other.go
  cmds/devmon/internal/menubar/menubar_other_test.go
  cmds/devmon/internal/paths/paths.go
  cmds/devmon/internal/paths/paths_test.go
  cmds/devmon/internal/scheduler/runner.go
  cmds/devmon/internal/scheduler/runner_test.go
  cmds/devmon/internal/servicecontrol/controller.go
  cmds/devmon/internal/servicecontrol/controller_darwin.go
  cmds/devmon/internal/servicecontrol/controller_darwin_test.go
  cmds/devmon/internal/servicecontrol/controller_other.go
  cmds/devmon/internal/servicecontrol/controller_other_test.go
  cmds/devmon/internal/state/store.go
  cmds/devmon/internal/state/store_test.go
  cmds/devmon/main.go
  go.mod
  go.sum
Due: go-fmt

remove devmon from docs and repository contracts
  AGENTS.md
  CLAUDE.md
  apps/public-docs/README.md
  apps/public-docs/devmon.mdx
  apps/public-docs/docs.json
  apps/public-docs/index.mdx
  apps/public-docs/projects-overview.mdx
  cmds/AGENTS.md
  docs/README.md
  docs/cmds-devmon-foundation.md
  docs/project-devmon.md
Due: none

restore dexdex proto module requirement
  go.mod
Due: none

chore(devkit): upgrade next and react dependencies
  apps/devkit/next-env.d.ts
  apps/devkit/package.json
  pnpm-lock.yaml
Due: none

chore(devkit): upgrade Next.js and React dependencies (#285)
  apps/devkit/next-env.d.ts
  apps/devkit/package.json
  pnpm-lock.yaml
Due: none

ttlc: add trace and deterministic diagnostic logging ids
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/diagnostic/diagnostic.go
  cmds/ttlc/internal/diagnostic/diagnostic_test.go
  docs/cmds-ttl-foundation.md
  docs/cmds-ttl-language-contract.md
Due: go-fmt

feat(mpapp): add screen contract and safe session snapshot restore
  apps/mpapp/.env.example
  apps/mpapp/App.tsx
  apps/mpapp/app.json
  apps/mpapp/src/__tests__/mpapp-runtime-config.test.ts
  apps/mpapp/src/__tests__/screen-contract.test.ts
  apps/mpapp/src/__tests__/session-machine.test.ts
  apps/mpapp/src/__tests__/session-snapshot-store.test.ts
  apps/mpapp/src/config/mpapp-runtime-config.ts
  apps/mpapp/src/contracts/enums.ts
  apps/mpapp/src/contracts/types.ts
  apps/mpapp/src/navigation/screen-contract.ts
  apps/mpapp/src/state/session-machine.ts
  apps/mpapp/src/state/session-snapshot-store.ts
  docs/apps-mpapp-foundation.md
  docs/project-mpapp.md
Due: none

nodeup: implement completions command and sync docs
  Cargo.lock
  apps/public-docs/nodeup.mdx
  crates/nodeup/Cargo.toml
  crates/nodeup/README.md
  crates/nodeup/src/commands/skeleton.rs
  crates/nodeup/tests/cli.rs
  docs/crates-nodeup-foundation.md
  docs/project-nodeup.md
Due: cargo-fmt

dexdex: align plan shortcuts and subtask dispatch contracts
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/features/tasks/plan-decisions.tsx
  apps/dexdex/src/hooks/use-keyboard-shortcuts.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/project-dexdex.md
  docs/servers-dexdex-pr-management-contract.md
  servers/dexdex-main-server/internal/handler/dispatch_contract_test.go
  servers/dexdex-main-server/internal/handler/id.go
  servers/dexdex-main-server/internal/handler/pr_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
  servers/dexdex-main-server/internal/worker/dispatch.go
  servers/dexdex-main-server/main.go
Due: go-fmt

fix(dexdex): align connect-query invalidation and repository UX
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/features/repositories/repositories-page.tsx
  apps/dexdex/src/hooks/use-dexdex-queries.ts
  apps/dexdex/src/hooks/use-workspace-stream.ts
  apps/dexdex/src/lib/connect-query-invalidation.test.ts
  apps/dexdex/src/lib/connect-query-invalidation.ts
Due: none

feat(thenv): align selected-version UX and docs contracts
  apps/devkit/src/apps/thenv/README.md
  apps/devkit/src/apps/thenv/components/bundle-detail.test.tsx
  apps/devkit/src/apps/thenv/components/bundle-detail.tsx
  apps/devkit/src/apps/thenv/components/thenv-app.tsx
  apps/devkit/src/apps/thenv/hooks/use-thenv-queries.ts
  docs/apps-thenv-web-console-foundation.md
  docs/cmds-thenv-cli-foundation.md
  docs/project-thenv.md
Due: none

fix(ttl): align logging contracts with trace and diagnostic identifiers (#286)
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/diagnostic/diagnostic.go
  cmds/ttlc/internal/diagnostic/diagnostic_test.go
  docs/cmds-ttl-foundation.md
  docs/cmds-ttl-language-contract.md
Due: go-fmt

feat(nodeup): implement completions command and sync docs (#287)
  Cargo.lock
  apps/public-docs/nodeup.mdx
  crates/nodeup/Cargo.toml
  crates/nodeup/README.md
  crates/nodeup/src/commands/skeleton.rs
  crates/nodeup/tests/cli.rs
  docs/crates-nodeup-foundation.md
  docs/project-nodeup.md
Due: cargo-fmt

feat(mpapp): add screen contract and safe session snapshot restore (#288)
  apps/mpapp/.env.example
  apps/mpapp/App.tsx
  apps/mpapp/app.json
  apps/mpapp/src/__tests__/mpapp-runtime-config.test.ts
  apps/mpapp/src/__tests__/screen-contract.test.ts
  apps/mpapp/src/__tests__/session-machine.test.ts
  apps/mpapp/src/__tests__/session-snapshot-store.test.ts
  apps/mpapp/src/config/mpapp-runtime-config.ts
  apps/mpapp/src/contracts/enums.ts
  apps/mpapp/src/contracts/types.ts
  apps/mpapp/src/navigation/screen-contract.ts
  apps/mpapp/src/state/session-machine.ts
  apps/mpapp/src/state/session-snapshot-store.ts
  docs/apps-mpapp-foundation.md
  docs/project-mpapp.md
Due: none

feat(thenv): align selected-version UX and docs contracts (#291)
  apps/devkit/src/apps/thenv/README.md
  apps/devkit/src/apps/thenv/components/bundle-detail.test.tsx
  apps/devkit/src/apps/thenv/components/bundle-detail.tsx
  apps/devkit/src/apps/thenv/components/thenv-app.tsx
  apps/devkit/src/apps/thenv/hooks/use-thenv-queries.ts
  docs/apps-thenv-web-console-foundation.md
  docs/cmds-thenv-cli-foundation.md
  docs/project-thenv.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
