Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delidev): stop app-owned sidecars on normal quit (#1347)
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/desktop_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/supervision.rs
  apps/delidev/src-tauri/src/tests.rs
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/desktop_host.go
  cmds/delidev-cli/internal/cli/desktop_host_test.go
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/cli/start_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/lifecycle.go
  cmds/delidev-cli/internal/server/server_startup.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-requirements.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

docs(delidev): clarify repository proof and origin ownership
  cmds/delidev-cli/internal/workspace/AGENTS.md
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve hidden task authority and keyboard focus
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/device-settings.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/network-settings.test.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/pricing.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-navigation.test.tsx
  apps/delidev/src/settings-task-context.ts
  apps/delidev/src/settings-task.css
  apps/delidev/src/settings-task.tsx
  apps/delidev/src/ssh-setup.tsx
  apps/delidev/src/subscription-quota.tsx
  apps/delidev/src/worker-network-native.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve original clone receipts after Worker retirement
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/repository_clone.go
  cmds/delidev-cli/internal/server/repository_clone_test.go
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): isolate macOS development browser storage
  Cargo.lock
  apps/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/src/browser.rs
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/browser_storage.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-browser-contract.md
  docs/project-delidev.md
Due: cargo-fmt

fix(delidev): preserve task cancellation and destructive focus
  apps/delidev/src/AGENTS.md
  apps/delidev/src/settings-task-context.ts
  apps/delidev/src/settings-task.test.tsx
  apps/delidev/src/settings-task.tsx
  apps/delidev/src/ssh-setup.test.tsx
  apps/delidev/src/ssh-setup.tsx
  apps/delidev/src/subscription-accounts.tsx
  apps/delidev/src/subscription-controller.test.tsx
  apps/delidev/src/subscription-login.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): size routing dialogs and bound frontend test workers
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/vitest.config.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): accept Codex workspace routing metadata
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/subscription.go
  cmds/delidev-cli/internal/harness/codex/subscription_response_test.go
  cmds/delidev-cli/internal/harness/codex/subscription_test.go
  cmds/delidev-cli/internal/server/subscription_native_smoke_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): accept Codex workspace routing metadata (#1356)
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/subscription.go
  cmds/delidev-cli/internal/harness/codex/subscription_response_test.go
  cmds/delidev-cli/internal/harness/codex/subscription_test.go
  cmds/delidev-cli/internal/server/subscription_native_smoke_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): preserve OAuth provider capability during settings merge
  apps/delidev/src/settings.tsx
Due: none

fix(delidev): recover failed initial ChatGPT login cleanup
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/subscription.go
  cmds/delidev-cli/internal/domain/subscription_cleanup_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_cleanup.go
  cmds/delidev-cli/internal/server/subscription_cleanup_runtime.go
  cmds/delidev-cli/internal/server/subscription_cleanup_test.go
  cmds/delidev-cli/internal/server/subscription_native_smoke_test.go
  cmds/delidev-cli/internal/server/subscription_server.go
  cmds/delidev-cli/internal/server/subscription_server_test.go
  cmds/delidev-cli/internal/server/subscriptions.go
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-subscription-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(ci): extend Windows worker test watchdog
  docs/repository-workflow-contract.md
  scripts/ci/go-test.mjs
  scripts/ci/go-test.test.mjs
Due: none

chore(delidev): reserve general API browser OAuth allocations (#1343)
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/migration-reservations.json
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/project-delidev.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

chore(delidev): reserve GitHub token onboarding protocol
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

chore(delidev): reserve GitHub token onboarding protocol (#1359)
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

feat(delidev): reorganize settings and separate Git policies (#1354)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-github.integration.test.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings-presentation.css
  apps/delidev/src/settings-server-preferences.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-requirements.md
  docs/project-delidev.md
Due: none

feat(delidev): add protected API OAuth token lifecycle
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/domain/account_oauth_credentials.go
  cmds/delidev-cli/internal/providers/oauth_clients.go
  cmds/delidev-cli/internal/providers/oauth_clients.json
  cmds/delidev-cli/internal/server/account_inspection.go
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_credentials.go
  cmds/delidev-cli/internal/server/account_oauth_profiles.go
  cmds/delidev-cli/internal/server/account_oauth_test.go
  cmds/delidev-cli/internal/server/account_oauth_tokens.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/diagnostics.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/account_oauth.go
  cmds/delidev-cli/internal/store/account_oauth_credentials.go
  cmds/delidev-cli/internal/store/backup_restore_image.go
  cmds/delidev-cli/internal/store/historical_schema_test.go
  cmds/delidev-cli/internal/store/migration_031.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/store.go
  packages/delidev-api-client/src/gen/delidev/v1/account_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/provider_pb.ts
  protos/delidev/v1/account.proto
  protos/delidev/v1/provider.proto
  protos/gen/go/delidev/v1/account.pb.go
  protos/gen/go/delidev/v1/provider.pb.go
Due: go-fmt

Make DeliDev server preferences directly editable
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/server-preferences.css
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings-server-preferences.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): preserve explicit CEF storage branches
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

feat(delidev): save Worker model selections atomically
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/agent_worker_configuration.go
  cmds/delidev-cli/internal/server/agent_worker_configuration_test.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server_scope.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/catalog.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/configuration-ConfigurationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/configuration_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/provider_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/resource_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/configuration.proto
  protos/delidev/v1/provider.proto
  protos/delidev/v1/resource.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/configuration.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/configuration.connect.go
  protos/gen/go/delidev/v1/provider.pb.go
  protos/gen/go/delidev/v1/resource.pb.go
  protos/gen/go/delidev/v1/system.pb.go
Due: go-fmt

feat(delidev): configure Agent Workers through a four-step wizard
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-configuration.test.tsx
  apps/delidev/src/agent-configuration.tsx
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/native-model-settings.tsx
  apps/delidev/src/pricing.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings-claude.integration.test.tsx
  apps/delidev/src/settings-configuration.integration.test.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings-models.test.tsx
  apps/delidev/src/settings-pricing.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-native-models-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): use theme selection contrast for wizard steps
  apps/delidev/src/agent-worker-wizard.css
  docs/project-delidev.md
Due: none

test(delidev): cover source boundaries and repeated wizard validation
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  cmds/delidev-cli/internal/server/agent_worker_configuration_test.go
Due: go-fmt

fix(delidev): refresh conflicted worker selections and enforce source pages
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/native-model-settings.test.tsx
  apps/delidev/src/native-model-settings.tsx
Due: none

fix(delidev): reconcile wizard with grouped Git settings
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/settings.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

feat(delidev): connect managed Hugging Face through browser OAuth
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/account_oauth.go
  cmds/delidev-cli/internal/cli/account_oauth_test.go
  cmds/delidev-cli/internal/cli/help.go
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/account_oauth_credentials.go
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/oauth_clients.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_multi_test.go
  cmds/delidev-cli/internal/server/account_oauth_tokens.go
  cmds/delidev-cli/internal/store/AGENTS.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
Due: cargo-fmt, go-fmt

feat(delidev): connect GitHub profiles from verified tokens
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/github-onboarding.test.tsx
  apps/delidev/src/github-onboarding.tsx
  apps/delidev/src/github-opening.test.tsx
  apps/delidev/src/github-opening.tsx
  apps/delidev/src/integrations.test.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/settings-github.integration.test.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/styles.css
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/github_onboarding.go
  cmds/delidev-cli/internal/server/github_onboarding_test.go
  cmds/delidev-cli/internal/server/integration_access.go
  cmds/delidev-cli/internal/server/integration_inspection.go
  cmds/delidev-cli/internal/server/integrations.go
  cmds/delidev-cli/internal/server/integrations_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/server_status.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/integration-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/integration_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/integration.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/integration.connect.go
  protos/gen/go/delidev/v1/integration.pb.go
  protos/gen/go/delidev/v1/system.pb.go
Due: go-fmt

test(delidev): distinguish OAuth inventory reads from browser actions
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/settings-navigation.test.tsx
Due: cargo-fmt

fix(delidev): satisfy native window clippy checks
  apps/delidev/src-tauri/src/appearance_host.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/notification_host.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src-tauri/src/window_host.rs
Due: cargo-fmt

test(delidev): verify wizard reflow with all current settings groups
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/agent-worker-wizard.test.tsx
Due: none

fix(delidev): retire canceled OAuth token metadata after cleanup
  cmds/delidev-cli/internal/server/account_oauth.go
Due: go-fmt

test(delidev): keep Windows unlink race anchored
  cmds/delidev-cli/internal/workspace/snapshot_unlink_test.go
Due: go-fmt

fix(delidev): show invalid profile names before saving
  apps/delidev/src/github-onboarding.tsx
Due: none

fix(delidev): keep autocomplete accessibility state valid across pages
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
Due: none

feat(delidev): connect Gemini OAuth with an explicit quota project
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/api-account.css
  cmds/delidev-cli/internal/apiproxy/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/oauth_project_test.go
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/domain/account_oauth_credentials.go
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/client.go
  cmds/delidev-cli/internal/providers/oauth_project.go
  cmds/delidev-cli/internal/providers/oauth_project_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_inspection.go
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_gemini_test.go
  cmds/delidev-cli/internal/server/account_oauth_profiles.go
  cmds/delidev-cli/internal/server/execution_authority.go
  docs/cmds-delidev-account-oauth-contract.md
Due: cargo-fmt, go-fmt

test(delidev): exercise Gemini quota isolation over HTTP
  cmds/delidev-cli/internal/apiproxy/oauth_project_test.go
Due: go-fmt

test(delidev): remove successor OAuth schema from migration 29 fixtures
  cmds/delidev-cli/internal/store/provider_additions_migration_test.go
Due: go-fmt

fix(delidev): scroll keyboard model selections into view
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/settings-layout.fixture.tsx
Due: none

feat(delidev): connect Baseten with server-owned Device OAuth
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/oauth_clients.go
  cmds/delidev-cli/internal/providers/oauth_clients.json
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_device.go
  cmds/delidev-cli/internal/server/account_oauth_device_test.go
  cmds/delidev-cli/internal/server/account_oauth_profiles.go
  cmds/delidev-cli/internal/server/account_oauth_tokens.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/server.go
  docs/cmds-delidev-account-oauth-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
Due: cargo-fmt, go-fmt
