Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(taskflow): validate metadata generations before cancelling session work
  crates/taskflow/AGENTS.md
  crates/taskflow/src/discover.rs
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(devhud): fence API origin recovery races
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): apply synchronized appearance
  apps/devhud/src/App.tsx
Due: none

fix(taskflow): preserve supported Go shard flag values
  crates/taskflow/AGENTS.md
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(devhud): fence rekeyed auth and account state
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/native_plugin.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(taskflow): retain inputs beside partial output globs
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): retain fresh pairing codes during auth recovery
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/pairing.test.tsx
  docs/apps-async-commit-hook-contract.md
Due: none

fix(taskflow): honor configured shells for generic shards
  crates/taskflow/src/process.rs
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): locate implicit Cargo workspaces from members
  crates/taskflow/src/cli.rs
  crates/taskflow/src/discover.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): normalize branch labels for protobuf transport
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/branch_text_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): apply overlap policies to running tasks only
  crates/taskflow/AGENTS.md
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): bound committed configuration reads before parsing
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/commit_config_test.go
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/git.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): ignore inactive LFS attribute declarations
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/attributes_test.go
  cmds/async-commit-hook/internal/core/git.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): keep Go metadata discovery offline
  crates/taskflow/AGENTS.md
  crates/taskflow/src/discover.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): honor the shell installer version option
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/public/docs/index.html
  apps/async-commit-hook/public/install.sh
  docs/cmds-async-commit-hook-release-contract.md
  scripts/release/async-commit-hook.test.mjs
Due: none

fix(taskflow): propagate service owner cleanup failures
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): await development server process tree cleanup
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/scripts/development.mjs
  apps/async-commit-hook/scripts/development.test.mjs
  docs/apps-async-commit-hook-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
  turbo.json
Due: none

fix(taskflow): restore Windows links with native separators
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(devhud): describe API origin change confirmation
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

docs(ach): record fifth-pass repair verification
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(ach): bound committed attribute inspection
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/attributes_test.go
  cmds/async-commit-hook/internal/core/git.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): reject partial CI artifact ownership
  apps/public-docs/docs/taskflow/configuration.md
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/src/ci.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): honor service shells in readiness probes
  crates/taskflow/src/process.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): roll back hooks after ownership persistence failure
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/hooks.go
  cmds/async-commit-hook/internal/core/hooks_rollback_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): validate input globs during check
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): reject recovered journals in delayed update helpers
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/update.go
  cmds/async-commit-hook/internal/core/update_recovery_race_test.go
  docs/cmds-async-commit-hook-release-contract.md
Due: go-fmt

fix(ach): validate configuration at the selected worktree root
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/integration/config_validate_test.go
  cmds/async-commit-hook/internal/cli/cli.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): respect Windows environment name semantics
  apps/public-docs/docs/taskflow/cache.md
  crates/taskflow/AGENTS.md
  crates/taskflow/Cargo.toml
  crates/taskflow/src/docker.rs
  crates/taskflow/src/environment.rs
  crates/taskflow/src/process.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): back off pending run reconciliation failures
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/runner.go
  cmds/async-commit-hook/internal/core/worker_retry_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): normalize repository display strings at the API boundary
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/repository_text_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): preserve cancellation during task setup
  crates/taskflow/src/docker.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): aggregate run outcomes with explicit precedence
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/aggregate_state_test.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): distinguish duplicate JUnit failure identities
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/junit_identity_test.go
  cmds/async-commit-hook/internal/core/reports.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): verify cached artifact identity and contents
  apps/public-docs/docs/taskflow/cache.md
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/src/cli.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): parse report syntax before redacting persisted text
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/report_syntax_secret_test.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): serialize pre-push attempt selection and acceptance
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/prepush.go
  cmds/async-commit-hook/internal/core/prepush_concurrency_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

docs(ach): record follow-up concurrency and evidence repairs
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(taskflow): tolerate removed notification paths
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(devhud): fence identity transitions
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(ach): stream expanded report redaction into evidence storage
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/failure_summary.go
  cmds/async-commit-hook/internal/core/report_stream_test.go
  cmds/async-commit-hook/internal/core/reports.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
