Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): harden native auth recovery
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src/auth/contracts.ts
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): address auth review feedback
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/src-tauri/auth-bridge/android/src/main/java/dev/deli/devhud/auth/DevHudAuthPlugin.kt
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

feat(proto): add RealQA v1 Connect contract
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-devhud-realqa-foundation.md
  pnpm-lock.yaml
  protos/AGENTS.md
  protos/buf.yaml
  protos/devhud-realqa/AUTHENTICATION.md
  protos/devhud-realqa/README.md
  protos/devhud-realqa/buf.gen.yaml
  protos/devhud-realqa/contract_test.go
  protos/devhud-realqa/contract_typecheck.ts
  protos/devhud-realqa/devhud.realqa.v1.binpb
  protos/devhud-realqa/gen/go/devhud-realqa/v1/common.pb.go
  protos/devhud-realqa/gen/go/devhud-realqa/v1/preset.pb.go
  protos/devhud-realqa/gen/go/devhud-realqa/v1/realqav1connect/preset.connect.go
  protos/devhud-realqa/gen/go/devhud-realqa/v1/realqav1connect/submission.connect.go
  protos/devhud-realqa/gen/go/devhud-realqa/v1/realqav1connect/tracker.connect.go
  protos/devhud-realqa/gen/go/devhud-realqa/v1/submission.pb.go
  protos/devhud-realqa/gen/go/devhud-realqa/v1/tracker.pb.go
  protos/devhud-realqa/gen/ts/devhud-realqa/v1/common_pb.ts
  protos/devhud-realqa/gen/ts/devhud-realqa/v1/preset_pb.ts
  protos/devhud-realqa/gen/ts/devhud-realqa/v1/submission_pb.ts
  protos/devhud-realqa/gen/ts/devhud-realqa/v1/tracker_pb.ts
  protos/devhud-realqa/index.ts
  protos/devhud-realqa/package.json
  protos/devhud-realqa/tsconfig.json
  protos/devhud-realqa/v1/common.proto
  protos/devhud-realqa/v1/preset.proto
  protos/devhud-realqa/v1/submission.proto
  protos/devhud-realqa/v1/tracker.proto
  servers/AGENTS.md
Due: go-fmt

feat(devhud): add Deck Connect contract
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-delidev-app-foundation.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  pnpm-lock.yaml
  protos/AGENTS.md
  protos/buf.yaml
  protos/devhud-deck/AUTHENTICATION.md
  protos/devhud-deck/README.md
  protos/devhud-deck/buf.gen.yaml
  protos/devhud-deck/contract_test.go
  protos/devhud-deck/contract_typecheck.ts
  protos/devhud-deck/devhud.deck.v1.binpb
  protos/devhud-deck/gen/go/devhud-deck/v1/common.pb.go
  protos/devhud-deck/gen/go/devhud-deck/v1/deckv1connect/device.connect.go
  protos/devhud-deck/gen/go/devhud-deck/v1/deckv1connect/integration.connect.go
  protos/devhud-deck/gen/go/devhud-deck/v1/deckv1connect/view.connect.go
  protos/devhud-deck/gen/go/devhud-deck/v1/device.pb.go
  protos/devhud-deck/gen/go/devhud-deck/v1/integration.pb.go
  protos/devhud-deck/gen/go/devhud-deck/v1/view.pb.go
  protos/devhud-deck/gen/ts/devhud-deck/v1/common_pb.ts
  protos/devhud-deck/gen/ts/devhud-deck/v1/device_pb.ts
  protos/devhud-deck/gen/ts/devhud-deck/v1/integration_pb.ts
  protos/devhud-deck/gen/ts/devhud-deck/v1/view_pb.ts
  protos/devhud-deck/generate.go
  protos/devhud-deck/index.ts
  protos/devhud-deck/package.json
  protos/devhud-deck/tsconfig.json
  protos/devhud-deck/v1/common.proto
  protos/devhud-deck/v1/device.proto
  protos/devhud-deck/v1/integration.proto
  protos/devhud-deck/v1/view.proto
  servers/AGENTS.md
Due: go-fmt

docs(proto): specify RealQA auth metadata
  docs/protos-devhud-realqa-api-contract.md
Due: none

feat(devhud): add RealQA Windows capture backend
  .github/workflows/CI.yml
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/package.json
  apps/devhud/scripts/check-realqa-windows.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
  apps/devhud/src/realqa/capture.test.ts
  apps/devhud/src/realqa/capture.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): harden auth recovery and reset
  apps/AGENTS.md
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src-tauri/src/lib.rs
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): tighten Deck contract inputs
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  protos/AGENTS.md
  protos/devhud-deck/README.md
  protos/devhud-deck/contract_test.go
  protos/devhud-deck/devhud.deck.v1.binpb
  protos/devhud-deck/gen/go/devhud-deck/v1/device.pb.go
  protos/devhud-deck/gen/go/devhud-deck/v1/view.pb.go
  protos/devhud-deck/gen/ts/devhud-deck/v1/device_pb.ts
  protos/devhud-deck/gen/ts/devhud-deck/v1/view_pb.ts
  protos/devhud-deck/v1/device.proto
  protos/devhud-deck/v1/view.proto
  servers/AGENTS.md
Due: go-fmt

feat(devhud): add macOS RealQA capture backend
  .github/workflows/CI.yml
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-diagnostics.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/realqa-capture.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/geometry.rs
  apps/devhud/src-tauri/src/realqa_capture/macos.rs
  apps/devhud/src-tauri/src/realqa_capture/macos_native.m
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src/realqa/capture.test.ts
  apps/devhud/src/realqa/capture.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

feat(devhud): add nondestructive screenshot editor
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/realqa-composer.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
  apps/devhud/src-tauri/src/realqa_capture/image_boundary.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src/realqa/capture.test.ts
  apps/devhud/src/realqa/capture.ts
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  apps/devhud/src/realqa/editor/model.test.ts
  apps/devhud/src/realqa/editor/model.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(ci): gate Windows capture checks correctly
  .github/workflows/CI.yml
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(devhud): restore macOS 14 capture CI
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/src-tauri/src/realqa_capture/macos_native.m
Due: none

fix(devhud): compile Windows capture adapter
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

feat(devhud): implement Linux RealQA capture backend
  .github/workflows/CI.yml
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-diagnostics.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/realqa-capture.json
  apps/devhud/src-tauri/src/diagnostics.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/linux.rs
  apps/devhud/src-tauri/src/realqa_capture/linux/portal.rs
  apps/devhud/src-tauri/src/realqa_capture/linux/x11.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src/realqa/capture.test.ts
  apps/devhud/src/realqa/capture.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address Windows capture review
  .github/workflows/CI.yml
  Cargo.lock
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(devhud): structure shortcut device inputs
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  protos/AGENTS.md
  protos/devhud-deck/README.md
  protos/devhud-deck/contract_test.go
  protos/devhud-deck/contract_typecheck.ts
  protos/devhud-deck/devhud.deck.v1.binpb
  protos/devhud-deck/gen/go/devhud-deck/v1/device.pb.go
  protos/devhud-deck/gen/ts/devhud-deck/v1/device_pb.ts
  protos/devhud-deck/v1/device.proto
  servers/AGENTS.md
Due: go-fmt

fix(devhud): handle disabled macOS capture backend
  apps/devhud/src-tauri/src/realqa_capture/macos_native.m
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(devhud): align screenshot editor previews
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  apps/devhud/src/realqa/editor/model.test.ts
  apps/devhud/src/realqa/editor/model.ts
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): address auth review feedback
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
Due: cargo-fmt

ci(devhud): keep capture smoke foreground-only
  .github/workflows/CI.yml
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): address macOS capture review
  .github/workflows/CI.yml
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/Info.plist
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): validate Linux capture dependency isolation
  apps/devhud/scripts/check-mobile-contracts.mjs
Due: none

fix(ci): build DevHud before Windows checks
  .github/workflows/CI.yml
Due: none

fix(devhud): address Linux capture review feedback
  apps/devhud/src-tauri/src/realqa_capture/linux.rs
  apps/devhud/src-tauri/src/realqa_capture/linux/x11.rs
Due: cargo-fmt

fix(devhud): preserve pre-reset records outcome
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): address screenshot editor review
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  apps/devhud/src/realqa/editor/model.test.ts
  apps/devhud/src/realqa/editor/model.ts
Due: cargo-fmt

fix(devhud): complete Deck list and renewal contract
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  protos/AGENTS.md
  protos/devhud-deck/README.md
  protos/devhud-deck/contract_test.go
  protos/devhud-deck/devhud.deck.v1.binpb
  protos/devhud-deck/gen/go/devhud-deck/v1/device.pb.go
  protos/devhud-deck/gen/go/devhud-deck/v1/view.pb.go
  protos/devhud-deck/gen/ts/devhud-deck/v1/device_pb.ts
  protos/devhud-deck/gen/ts/devhud-deck/v1/view_pb.ts
  protos/devhud-deck/v1/device.proto
  protos/devhud-deck/v1/view.proto
  servers/AGENTS.md
Due: go-fmt

fix(devhud): harden macOS capture boundary
  .github/workflows/CI.yml
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/src/realqa_capture/macos_native.m
Due: none

fix(devhud): harden Windows capture identity
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(devhud): satisfy editor clippy checks
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
Due: cargo-fmt

fix(devhud): observe desktop ready diagnostic
  apps/devhud/scripts/smoke-desktop.mjs
Due: none

fix(devhud): scope capture backend constructor to tests
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(devhud): preserve Windows capture gaps
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

ci(devhud): cover macOS capture workspace inputs
  .github/workflows/CI.yml
Due: none

fix(devhud): validate paired grant on restore
  apps/devhud/src-tauri/src/auth.rs
Due: cargo-fmt

fix(devhud): expose Deck mutation operands
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  protos/AGENTS.md
  protos/devhud-deck/README.md
  protos/devhud-deck/contract_test.go
  protos/devhud-deck/devhud.deck.v1.binpb
  protos/devhud-deck/gen/go/devhud-deck/v1/view.pb.go
  protos/devhud-deck/gen/ts/devhud-deck/v1/view_pb.ts
  protos/devhud-deck/v1/view.proto
  servers/AGENTS.md
Due: go-fmt

fix(devhud): align Linux capture semantics
  apps/devhud/src-tauri/src/realqa_capture/linux/portal.rs
  apps/devhud/src-tauri/src/realqa_capture/linux/x11.rs
Due: cargo-fmt

test(httpserver): stabilize timeout checks on Windows
  servers/internal/httpserver/httpserver_test.go
Due: go-fmt

fix(devhud): stabilize Windows desktop smoke
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt
