Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(clibox-fspy): reap detached macOS descendants
  crates/clibox-fspy/src/macos.rs
  crates/clibox-fspy/src/macos/supervise.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(delidev): restore the retained window on macOS reopening
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/src/main.rs
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: cargo-fmt

fix(clibox-fspy): classify Windows descriptor access from live handles
  crates/clibox-fspy/src/windows.rs
  crates/clibox-fspy/src/windows/supervise.rs
  crates/fspy_preload_windows/src/windows/detours/nt.rs
  crates/fspy_preload_windows/src/windows/operation.rs
  crates/fspy_preload_windows/src/windows/winapi_utils.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): honor cancellation throughout reproduction setup
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

feat(delidev): preview and atomically import portable configuration
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/configuration-transfer.test.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/configuration_transfer.go
  cmds/delidev-cli/internal/cli/configuration_transfer_test.go
  cmds/delidev-cli/internal/domain/configuration_transfer.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_import.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  cmds/delidev-cli/internal/server/repositories.go
  cmds/delidev-cli/internal/store/configuration_transfer.go
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-ConfigurationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): bind isolated Grok API sessions to original claims
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/initialize.go
  cmds/delidev-cli/internal/harness/grok/inspect.go
  cmds/delidev-cli/internal/harness/grok/probe_test.go
  cmds/delidev-cli/internal/harness/grok/schema_test.go
  cmds/delidev-cli/internal/harness/grok/session.go
  cmds/delidev-cli/internal/harness/grok/session_test.go
  cmds/delidev-cli/internal/harness/grok/testdata/session.json
  cmds/delidev-cli/internal/harness/nativewire/wire.go
  cmds/delidev-cli/internal/harness/nativewire/wire_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): validate original Grok text and completion observations
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/native_turn_test.go
  cmds/delidev-cli/internal/harness/grok/schema_test.go
  cmds/delidev-cli/internal/harness/grok/testdata/prompt-completed.json
  cmds/delidev-cli/internal/harness/grok/testdata/prompt-result.json
  cmds/delidev-cli/internal/harness/grok/testdata/text-chunk.json
  cmds/delidev-cli/internal/harness/grok/testdata/turn-completed.json
  cmds/delidev-cli/internal/harness/grok/turn.go
  cmds/delidev-cli/internal/harness/grok/turn_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): bind Grok queue observations to original input
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/native_turn_test.go
  cmds/delidev-cli/internal/harness/grok/queue.go
  cmds/delidev-cli/internal/harness/grok/queue_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

feat(delidev): control original Grok text input and publication
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/metadata.go
  cmds/delidev-cli/internal/harness/grok/metadata_test.go
  cmds/delidev-cli/internal/harness/grok/native_turn_test.go
  cmds/delidev-cli/internal/harness/grok/session.go
  cmds/delidev-cli/internal/harness/grok/testdata/passive.json
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): journal original Grok Worker mutations
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_claims_test.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): release startup ownership before HTTP readiness
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/lifecycle_test.go
  cmds/delidev-cli/internal/server/server.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

feat(delidev): join original Grok session closure before cleanup
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/closure.go
  cmds/delidev-cli/internal/harness/grok/closure_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_claims_test.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): verify original Grok closed text history
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/closure.go
  cmds/delidev-cli/internal/harness/grok/history_files.go
  cmds/delidev-cli/internal/harness/grok/history_files_test.go
  cmds/delidev-cli/internal/harness/grok/history_files_unix.go
  cmds/delidev-cli/internal/harness/grok/history_files_unix_test.go
  cmds/delidev-cli/internal/harness/grok/history_files_windows.go
  cmds/delidev-cli/internal/harness/grok/history_text.go
  cmds/delidev-cli/internal/harness/grok/history_text_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/turn.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): parse native Grok interrupted text outcomes
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/cancellation.go
  cmds/delidev-cli/internal/harness/grok/cancellation_test.go
  cmds/delidev-cli/internal/harness/grok/native_cancellation_test.go
  cmds/delidev-cli/internal/harness/grok/testdata/cancel-completed.json
  cmds/delidev-cli/internal/harness/grok/testdata/cancel-result.json
  cmds/delidev-cli/internal/harness/grok/testdata/cancel-turn.json
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): join original Grok Stop claims and cleanup
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/native_cancellation_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/harness/grok/stop.go
  cmds/delidev-cli/internal/harness/grok/stop_test.go
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_claims_test.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): retain original Grok file tool and permission facts
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/native_file_tools_test.go
  cmds/delidev-cli/internal/harness/grok/testdata/file-tool-read.json
  cmds/delidev-cli/internal/harness/grok/testdata/file-tool-write.json
  cmds/delidev-cli/internal/harness/grok/tool_interactions.go
  cmds/delidev-cli/internal/harness/grok/tool_observer.go
  cmds/delidev-cli/internal/harness/grok/tools.go
  cmds/delidev-cli/internal/harness/grok/tools_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): compose original Grok Read inputs and accounting
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/native_file_tools_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/harness/grok/read_input_test.go
  cmds/delidev-cli/internal/harness/grok/response_accounting.go
  cmds/delidev-cli/internal/harness/grok/stop.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): own original Grok Write permission responses
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/file_rejection.go
  cmds/delidev-cli/internal/harness/grok/file_rejection_test.go
  cmds/delidev-cli/internal/harness/grok/file_reply.go
  cmds/delidev-cli/internal/harness/grok/file_reply_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/native_file_reply_test.go
  cmds/delidev-cli/internal/harness/grok/native_file_tools_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/harness/grok/stop.go
  cmds/delidev-cli/internal/harness/grok/testdata/file-reject-completed.json
  cmds/delidev-cli/internal/harness/grok/testdata/file-reject-failed.json
  cmds/delidev-cli/internal/harness/grok/testdata/file-reject-result.json
  cmds/delidev-cli/internal/harness/grok/testdata/file-reject-turn.json
  cmds/delidev-cli/internal/harness/grok/tool_observer.go
  cmds/delidev-cli/internal/harness/grok/tools.go
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_claims_test.go
  cmds/delidev-cli/internal/worker/grok_file_native_test.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): classify Claude probe cancellation at native start
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/probe.go
  cmds/delidev-cli/internal/harness/claude/probe_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

feat(delidev): preserve original Grok remembered edit approval
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/file_policy_test.go
  cmds/delidev-cli/internal/harness/grok/file_reply.go
  cmds/delidev-cli/internal/harness/grok/file_reply_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/stop.go
  cmds/delidev-cli/internal/harness/grok/tool_observer.go
  cmds/delidev-cli/internal/worker/grok_claims_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): join independent Grok session and MCP setup
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/session.go
  cmds/delidev-cli/internal/harness/grok/session_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

feat(delidev): own original Grok question responses
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/native_questions_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/harness/grok/question_answer.go
  cmds/delidev-cli/internal/harness/grok/question_observer.go
  cmds/delidev-cli/internal/harness/grok/question_reply.go
  cmds/delidev-cli/internal/harness/grok/question_reply_test.go
  cmds/delidev-cli/internal/harness/grok/questions.go
  cmds/delidev-cli/internal/harness/grok/questions_test.go
  cmds/delidev-cli/internal/harness/grok/stop.go
  cmds/delidev-cli/internal/harness/grok/testdata/question-tool.json
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  cmds/delidev-cli/internal/worker/grok_question_claims_test.go
  cmds/delidev-cli/internal/worker/grok_question_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): compose original Grok file and question tools
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/file_reply.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/mixed_tools.go
  cmds/delidev-cli/internal/harness/grok/mixed_tools_test.go
  cmds/delidev-cli/internal/harness/grok/native_mixed_tools_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/harness/grok/question_reply.go
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_mixed_claims_test.go
  cmds/delidev-cli/internal/worker/grok_mixed_native_test.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  cmds/delidev-cli/internal/worker/grok_question_claims_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): bind original Grok Plan mode before input
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/mode.go
  cmds/delidev-cli/internal/harness/grok/mode_test.go
  cmds/delidev-cli/internal/harness/grok/native_questions_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/harness/grok/question_observer.go
  cmds/delidev-cli/internal/harness/grok/question_reply.go
  cmds/delidev-cli/internal/harness/grok/questions.go
  cmds/delidev-cli/internal/harness/grok/testdata/initial-plan-mode.json
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_claims_test.go
  cmds/delidev-cli/internal/worker/grok_mode_claims_test.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  cmds/delidev-cli/internal/worker/grok_question_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): own original Grok plan artifacts and decisions
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/file_reply.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/mixed_tools.go
  cmds/delidev-cli/internal/harness/grok/native_plan_test.go
  cmds/delidev-cli/internal/harness/grok/owned_api.go
  cmds/delidev-cli/internal/harness/grok/plan_observer.go
  cmds/delidev-cli/internal/harness/grok/plan_observer_test.go
  cmds/delidev-cli/internal/harness/grok/plan_reply.go
  cmds/delidev-cli/internal/harness/grok/plan_reply_test.go
  cmds/delidev-cli/internal/harness/grok/plan_tools.go
  cmds/delidev-cli/internal/harness/grok/question_reply.go
  cmds/delidev-cli/internal/harness/grok/stop.go
  cmds/delidev-cli/internal/harness/grok/testdata/plan-abandoned.json
  cmds/delidev-cli/internal/harness/grok/testdata/plan-approved.json
  cmds/delidev-cli/internal/harness/grok/testdata/plan-cancelled.json
  cmds/delidev-cli/internal/harness/grok/testdata/plan-revised.json
  cmds/delidev-cli/internal/harness/grok/tool_observer.go
  cmds/delidev-cli/internal/worker/grok_claims.go
  cmds/delidev-cli/internal/worker/grok_native_test.go
  cmds/delidev-cli/internal/worker/grok_plan_claims_test.go
  cmds/delidev-cli/internal/worker/grok_plan_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): publish original Grok session and input binding
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-configuration.test.tsx
  apps/delidev/src/execution-configuration.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/grok_settings.go
  cmds/delidev-cli/internal/domain/grok_settings_test.go
  cmds/delidev-cli/internal/domain/native_identity.go
  cmds/delidev-cli/internal/harness/grok/binding.go
  cmds/delidev-cli/internal/harness/grok/binding_test.go
  cmds/delidev-cli/internal/harness/grok/native_plan_test.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/execution_authority_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_events_test.go
  cmds/delidev-cli/internal/server/execution_grok_native_test.go
  cmds/delidev-cli/internal/server/execution_grok_publication_test.go
  cmds/delidev-cli/internal/worker/grok_binding.go
  cmds/delidev-cli/internal/worker/grok_binding_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): publish original Grok text and response usage
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/native-grok.test.tsx
  apps/delidev/src/native-grok.tsx
  apps/delidev/src/native-usage.test.tsx
  apps/delidev/src/native-usage.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/grok_content.go
  cmds/delidev-cli/internal/domain/grok_content_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/native_turn_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_grok_native_test.go
  cmds/delidev-cli/internal/server/grok_content.go
  cmds/delidev-cli/internal/server/grok_content_test.go
  cmds/delidev-cli/internal/worker/grok_binding.go
  cmds/delidev-cli/internal/worker/grok_content.go
  cmds/delidev-cli/internal/worker/grok_content_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-usage-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): publish closed original Grok text completion
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/native-grok.test.tsx
  apps/delidev/src/native-grok.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/grok_settings_test.go
  cmds/delidev-cli/internal/domain/grok_terminal.go
  cmds/delidev-cli/internal/harness/grok/closed_observation.go
  cmds/delidev-cli/internal/harness/grok/closed_observation_test.go
  cmds/delidev-cli/internal/harness/grok/closure.go
  cmds/delidev-cli/internal/harness/grok/history_text_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_grok_native_test.go
  cmds/delidev-cli/internal/server/execution_grok_publication_test.go
  cmds/delidev-cli/internal/server/grok_terminal.go
  cmds/delidev-cli/internal/server/grok_terminal_test.go
  cmds/delidev-cli/internal/worker/grok_binding.go
  cmds/delidev-cli/internal/worker/grok_content.go
  cmds/delidev-cli/internal/worker/grok_terminal.go
  cmds/delidev-cli/internal/worker/grok_terminal_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-usage-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): run original Grok text through public Worker dispatch
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-configuration.test.tsx
  apps/delidev/src/execution-configuration.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/grok_context_test.go
  cmds/delidev-cli/internal/domain/grok_settings.go
  cmds/delidev-cli/internal/harness/codex/interaction_inspection_test.go
  cmds/delidev-cli/internal/harness/grok/binding.go
  cmds/delidev-cli/internal/harness/grok/binding_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_dispatch_test.go
  cmds/delidev-cli/internal/server/session_grok_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_grok_dispatch_test.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/grok_binding.go
  cmds/delidev-cli/internal/worker/grok_execution.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): retain independent original Grok Stop evidence
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/native_cancellation_test.go
  cmds/delidev-cli/internal/harness/grok/stop_test.go
  cmds/delidev-cli/internal/harness/grok/stopped_observation.go
  cmds/delidev-cli/internal/harness/grok/stopped_observation_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(clibox-fspy): acknowledge macOS hello before process exit
  crates/clibox-fspy/src/macos.rs
  crates/clibox-fspy/src/macos/supervise.rs
  crates/fspy_preload_unix/src/operation.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): preserve enumerated directories in reproductions
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): record failed Linux PATH executable probes
  crates/clibox-fspy/src/linux/capture.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): require nonzero read requests for EOF coverage
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/coverage.rs
  crates/clibox-fspy/src/linux/capture.rs
  crates/clibox-fspy/src/macos.rs
  crates/clibox-fspy/src/record.rs
  crates/clibox-fspy/src/windows.rs
  crates/clibox-fspy/src/windows/supervise.rs
  crates/fspy_preload_unix/src/interceptions/operation_io.rs
  crates/fspy_preload_unix/src/operation.rs
  crates/fspy_preload_windows/src/windows/detours/nt.rs
  crates/fspy_preload_windows/src/windows/operation.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(react-forge): wait for MCP fixture process closure
  docs/packages-react-forge-mcp-contract.md
  packages/react-forge/tests/mcp.test.ts
  packages/react-forge/tests/mcp/client.ts
Due: none

feat(delidev): report original Grok Stop through public execution
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/native-grok.test.tsx
  apps/delidev/src/native-grok.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/grok_content.go
  cmds/delidev-cli/internal/domain/grok_settings_test.go
  cmds/delidev-cli/internal/domain/grok_stop.go
  cmds/delidev-cli/internal/harness/grok/closure.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/metadata.go
  cmds/delidev-cli/internal/harness/grok/retry.go
  cmds/delidev-cli/internal/harness/grok/retry_test.go
  cmds/delidev-cli/internal/harness/grok/stopped_observation.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/grok_stop.go
  cmds/delidev-cli/internal/server/grok_stop_test.go
  cmds/delidev-cli/internal/server/grok_terminal.go
  cmds/delidev-cli/internal/server/session_grok_dispatch_native_test.go
  cmds/delidev-cli/internal/worker/grok_binding.go
  cmds/delidev-cli/internal/worker/grok_content.go
  cmds/delidev-cli/internal/worker/grok_execution.go
  cmds/delidev-cli/internal/worker/grok_stop.go
  cmds/delidev-cli/internal/worker/grok_stop_control.go
  cmds/delidev-cli/internal/worker/grok_stop_test.go
  cmds/delidev-cli/internal/worker/grok_terminal.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

test(clibox-fspy): expect selected directory in enumeration
  crates/clibox-fspy/src/cli.rs
Due: cargo-fmt

feat(delidev): preserve original Grok Stop before first text
  apps/delidev/AGENTS.md
  apps/delidev/src/native-grok.test.tsx
  apps/delidev/src/native-grok.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/grok_stop.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/native_cancellation_test.go
  cmds/delidev-cli/internal/harness/grok/stopped_observation.go
  cmds/delidev-cli/internal/harness/grok/stopped_observation_test.go
  cmds/delidev-cli/internal/server/grok_stop.go
  cmds/delidev-cli/internal/server/grok_stop_test.go
  cmds/delidev-cli/internal/server/session_grok_dispatch_native_test.go
  cmds/delidev-cli/internal/worker/grok_stop.go
  cmds/delidev-cli/internal/worker/grok_stop_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

test(clibox-fspy): allow macOS injection startup before timeout fixture
  crates/clibox-fspy/src/macos/supervise.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(clibox): keep readiness fixture alive through command timeout
  crates/clibox/tests/run.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
