Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delidev): inspect session Git diffs through the Worker
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/session-diff.test.tsx
  apps/delidev/src/session-diff.tsx
  apps/delidev/src/session-files.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/session_files.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/domain/workspace_diff.go
  cmds/delidev-cli/internal/domain/workspace_diff_test.go
  cmds/delidev-cli/internal/domain/workspace_reads.go
  cmds/delidev-cli/internal/server/workspace_reads.go
  cmds/delidev-cli/internal/workspace/diff.go
  cmds/delidev-cli/internal/workspace/diff_test.go
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/read.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-files-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

test(pnport): wait for steady scratch reuse across thread waves
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(clibox-fspy): publish explicit reports in quiet mode
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

feat(delidev): derive local review coordinates from original Git diffs
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/session_files.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/domain/review_anchor.go
  cmds/delidev-cli/internal/domain/review_diff.go
  cmds/delidev-cli/internal/domain/review_diff_test.go
  cmds/delidev-cli/internal/server/review_context.go
  cmds/delidev-cli/internal/server/review_context_test.go
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/read.go
  cmds/delidev-cli/internal/workspace/review_diff_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-files-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SessionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(clibox-fspy): retain Linux cancellation through report commit
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/publication.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): trace macOS cancellation-free descriptor calls
  crates/clibox-fspy/src/cli.rs
  crates/fspy_preload_unix/src/interceptions/operation_io.rs
  crates/fspy_preload_unix/src/libc.rs
  docs/crates-fspy-vendor-contract.md
Due: cargo-fmt

fix(clibox-fspy): observe Windows end-of-file mutations
  crates/fspy_preload_windows/src/windows/detours/nt.rs
  docs/crates-fspy-vendor-contract.md
Due: cargo-fmt

fix(clibox-fspy): bind macOS descriptor events to live inode
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/macos.rs
  crates/clibox-fspy/src/macos/supervise.rs
  crates/fspy_preload_unix/src/operation.rs
  docs/crates-fspy-vendor-contract.md
Due: cargo-fmt

fix(clibox-fspy): record failed root PATH lookups on native backends
  crates/clibox-fspy/src/macos/supervise.rs
  crates/clibox-fspy/src/windows/supervise.rs
  crates/fspy/src/command.rs
  docs/crates-clibox-fspy-contract.md
  docs/crates-fspy-vendor-contract.md
Due: cargo-fmt

fix(clibox-fspy): retain native report cancellation until publication
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): retry transient macOS cleanup observations
  crates/clibox-fspy/src/macos/supervise.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(runmoor): discover and publish verified release drafts by ID
  .github/workflows/release-runmoor.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/install.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
  docs/repository-workflow-contract.md
  scripts/ci/runmoor-release.test.mjs
  scripts/release/runmoor.mjs
  scripts/release/runmoor.test.mjs
Due: none

feat(delidev): submit durable local reviews to the session queue
  apps/delidev/AGENTS.md
  apps/delidev/src/local-review-model.test.ts
  apps/delidev/src/local-review-model.ts
  apps/delidev/src/local-reviews.test.tsx
  apps/delidev/src/local-reviews.tsx
  apps/delidev/src/session-diff-model.ts
  apps/delidev/src/session-diff.test.tsx
  apps/delidev/src/session-diff.tsx
  apps/delidev/src/styles.css
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/local_reviews.go
  cmds/delidev-cli/internal/cli/local_reviews_test.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/domain/local_review.go
  cmds/delidev-cli/internal/domain/local_review_test.go
  cmds/delidev-cli/internal/server/local_review_submission.go
  cmds/delidev-cli/internal/server/local_reviews.go
  cmds/delidev-cli/internal/server/local_reviews_test.go
  cmds/delidev-cli/internal/store/local_reviews.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-files-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SessionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

test(pnport): retry unobserved constructor entry under host load
  crates/pnport/src/supervisor.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(runmoor): recheck release uniqueness before publication
  AGENTS.md
  docs/cmds-runmoor-foundation.md
  docs/repository-workflow-contract.md
  scripts/release/runmoor.mjs
  scripts/release/runmoor.test.mjs
Due: none

test(delidev): verify native local review changes across repositories
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/local_reviews_native_test.go
  cmds/delidev-cli/internal/cli/session_dispatch_native_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-files-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(runmoor): restore signed release publication (#1001)
  .github/workflows/release-runmoor.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/install.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
  docs/repository-workflow-contract.md
  scripts/ci/runmoor-release.test.mjs
  scripts/release/runmoor.mjs
  scripts/release/runmoor.test.mjs
Due: none

docs(runmoor): record verified macOS release recovery
  docs/cmds-runmoor-foundation.md
  docs/repository-workflow-contract.md
Due: none

feat(delidev): retain Grok user input from verified native history
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/native-grok.test.tsx
  apps/delidev/src/native-grok.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/grok_terminal.go
  cmds/delidev-cli/internal/domain/grok_user.go
  cmds/delidev-cli/internal/domain/grok_user_test.go
  cmds/delidev-cli/internal/harness/grok/closed_observation.go
  cmds/delidev-cli/internal/harness/grok/closure.go
  cmds/delidev-cli/internal/harness/grok/history_text.go
  cmds/delidev-cli/internal/harness/grok/history_text_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_grok_native_test.go
  cmds/delidev-cli/internal/server/grok_content.go
  cmds/delidev-cli/internal/server/grok_terminal.go
  cmds/delidev-cli/internal/server/grok_terminal_test.go
  cmds/delidev-cli/internal/server/grok_user_test.go
  cmds/delidev-cli/internal/server/session_grok_dispatch_native_test.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/grok_binding.go
  cmds/delidev-cli/internal/worker/grok_binding_test.go
  cmds/delidev-cli/internal/worker/grok_content.go
  cmds/delidev-cli/internal/worker/grok_terminal.go
  cmds/delidev-cli/internal/worker/grok_terminal_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

Reject exhausted Windows fspy event budgets before launch
  crates/clibox-fspy/src/windows/supervise.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

Reserve synthetic fspy record bytes before native launch
  crates/clibox-fspy/src/macos/supervise.rs
  crates/clibox-fspy/src/windows/supervise.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

docs(runmoor): record verified release recovery (#1013)
  docs/cmds-runmoor-foundation.md
  docs/repository-workflow-contract.md
Due: none

Stage selected directories observed by metadata and open
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

Launch the pre-resolved Linux fspy root executable
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/linux/capture.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

docs(runmoor): publish verified native package availability
  apps/AGENTS.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/docs/runmoor/install.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/repository-linux-packages-contract.md
Due: none

docs(runmoor): retire completed release recovery instructions
  docs/repository-workflow-contract.md
Due: none

Run staged project executables in reproduction candidates
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

feat(delidev): apply ordered Grok instructions through native rules
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/grok_settings.go
  cmds/delidev-cli/internal/domain/grok_settings_test.go
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/binding.go
  cmds/delidev-cli/internal/harness/grok/history_text.go
  cmds/delidev-cli/internal/harness/grok/history_text_test.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/inspect.go
  cmds/delidev-cli/internal/harness/grok/instructions.go
  cmds/delidev-cli/internal/harness/grok/instructions_native_test.go
  cmds/delidev-cli/internal/harness/grok/instructions_test.go
  cmds/delidev-cli/internal/harness/grok/mode.go
  cmds/delidev-cli/internal/harness/grok/native_turn_test.go
  cmds/delidev-cli/internal/harness/grok/session.go
  cmds/delidev-cli/internal/server/execution_grok_publication_test.go
  cmds/delidev-cli/internal/server/session_grok_dispatch_native_test.go
  cmds/delidev-cli/internal/worker/grok_binding.go
  cmds/delidev-cli/internal/worker/grok_binding_test.go
  cmds/delidev-cli/internal/worker/grok_execution.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

docs(runmoor): clarify package compatibility and runtime support
  apps/AGENTS.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/docs/runmoor/install.md
  docs/apps-runmoor-docs-foundation.md
  docs/repository-linux-packages-contract.md
Due: none

docs(runmoor): reflect verified package availability (#1014)
  apps/AGENTS.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/docs/runmoor/install.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/repository-linux-packages-contract.md
  docs/repository-workflow-contract.md
Due: none

feat(delidev): store GitHub PATs directly in isolated native credentials
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/credentials/native.go
  cmds/delidev-cli/internal/credentials/native_darwin.go
  cmds/delidev-cli/internal/credentials/native_darwin_test.go
  cmds/delidev-cli/internal/credentials/native_linux.go
  cmds/delidev-cli/internal/credentials/native_linux_test.go
  cmds/delidev-cli/internal/credentials/native_other.go
  cmds/delidev-cli/internal/credentials/native_windows.go
  cmds/delidev-cli/internal/credentials/native_windows_test.go
  cmds/delidev-cli/internal/credentials/pat.go
  cmds/delidev-cli/internal/credentials/pat_test.go
  docs/cmds-delidev-credentials-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

docs(runmoor): clarify APT repository registration
  apps/AGENTS.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/docs/runmoor/install.md
  docs/apps-runmoor-docs-foundation.md
Due: none

feat(runmoor): publish verified Apple Silicon Homebrew formula
  .github/workflows/release-runmoor-homebrew.yml
  .github/workflows/release-runmoor.yml
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/install.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
  docs/repository-workflow-contract.md
  packaging/homebrew/AGENTS.md
  packaging/homebrew/README.md
  packaging/homebrew/templates/runmoor.rb.tmpl
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
  scripts/ci/project-release.test.mjs
  scripts/ci/runmoor-release.test.mjs
  scripts/release/README.md
  scripts/release/runmoor-homebrew.mjs
  scripts/release/runmoor-homebrew.test.mjs
  scripts/release/update-homebrew.sh
Due: none

docs(runmoor): clarify APT repository registration (#1016)
  apps/AGENTS.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/docs/runmoor/install.md
  docs/apps-runmoor-docs-foundation.md
Due: none

fix(runmoor): align Homebrew rules and preserve license text
  .github/workflows/release-runmoor-homebrew.yml
  AGENTS.md
  docs/cmds-runmoor-foundation.md
  packaging/homebrew/templates/runmoor.rb.tmpl
  scripts/ci/runmoor-release.test.mjs
  scripts/release/runmoor-homebrew.test.mjs
Due: none

feat(delidev): manage isolated GitHub PAT profiles across clients
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/integrations.test.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/integrations.go
  cmds/delidev-cli/internal/cli/integrations_test.go
  cmds/delidev-cli/internal/domain/integration.go
  cmds/delidev-cli/internal/domain/integration_test.go
  cmds/delidev-cli/internal/integrations/github/client.go
  cmds/delidev-cli/internal/integrations/github/client_test.go
  cmds/delidev-cli/internal/server/integration_inspection.go
  cmds/delidev-cli/internal/server/integrations.go
  cmds/delidev-cli/internal/server/integrations_test.go
  cmds/delidev-cli/internal/server/server.go
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-credentials-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(runmoor): distribute Apple Silicon releases through Homebrew (#1015)
  .github/workflows/release-runmoor-homebrew.yml
  .github/workflows/release-runmoor.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/install.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
  docs/repository-workflow-contract.md
  packaging/homebrew/AGENTS.md
  packaging/homebrew/README.md
  packaging/homebrew/templates/runmoor.rb.tmpl
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
  scripts/ci/project-release.test.mjs
  scripts/ci/runmoor-release.test.mjs
  scripts/release/README.md
  scripts/release/runmoor-homebrew.mjs
  scripts/release/runmoor-homebrew.test.mjs
  scripts/release/update-homebrew.sh
Due: none

feat(runmoor): add automatic defaults and managed runner lifecycle
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/capacity_darwin.go
  cmds/runmoor/internal/runmoor/capacity_linux.go
  cmds/runmoor/internal/runmoor/capacity_other.go
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/config_test.go
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/defaults.go
  cmds/runmoor/internal/runmoor/defaults_test.go
  cmds/runmoor/internal/runmoor/docker.go
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/managed_test.go
  cmds/runmoor/internal/runmoor/managed_types.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/runner_release.go
  cmds/runmoor/internal/runmoor/runner_release_test.go
  cmds/runmoor/internal/runmoor/scheduler.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

feat(delidev): inspect repository-specific GitHub read access
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/integration-access.test.tsx
  apps/delidev/src/integration-access.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/integration_access_test.go
  cmds/delidev-cli/internal/cli/integrations.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/integration_access.go
  cmds/delidev-cli/internal/domain/integration_test.go
  cmds/delidev-cli/internal/integrations/github/access.go
  cmds/delidev-cli/internal/integrations/github/access_test.go
  cmds/delidev-cli/internal/server/integration_access.go
  cmds/delidev-cli/internal/server/integration_access_test.go
  cmds/delidev-cli/internal/server/server.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt
