Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(derun): close behavioral matrix with conpty and contract tests (#133)
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  cmds/derun/internal/e2e/contract_posix_test.go
  cmds/derun/internal/e2e/contract_test.go
  cmds/derun/internal/e2e/contract_windows_test.go
  cmds/derun/internal/mcp/server_contract_test.go
  cmds/derun/internal/transport/conpty_errors_stub.go
  cmds/derun/internal/transport/conpty_errors_windows.go
  cmds/derun/internal/transport/run_pipe.go
  cmds/derun/internal/transport/run_posix.go
  cmds/derun/internal/transport/run_posix_test.go
  cmds/derun/internal/transport/run_windows_conpty.go
  cmds/derun/internal/transport/run_windows_conpty_stub.go
  docs/project-derun.md
Due: go-fmt

refactor(skills): migrate PR review loop helpers to javascript
  .agents/skills/gh-pr-codex-review-loop/SKILL.md
  .agents/skills/gh-pr-codex-review-loop/scripts/check_codex_thumbs_up.js
  .agents/skills/gh-pr-codex-review-loop/scripts/check_codex_thumbs_up.py
  .agents/skills/gh-pr-codex-review-loop/scripts/collect_codex_feedback.js
  .agents/skills/gh-pr-codex-review-loop/scripts/collect_codex_feedback.py
  docs/monorepo.md
Due: none

feat(nodeup): enable tracing pretty logging
  crates/nodeup/src/logging.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

chore(skills): add chatgpt codex connector bot actor
  .agents/skills/gh-pr-codex-review-loop/references/gh-review-loop-reference.md
  .agents/skills/gh-pr-codex-review-loop/scripts/check_codex_thumbs_up.js
  .agents/skills/gh-pr-codex-review-loop/scripts/collect_codex_feedback.js
  docs/monorepo.md
Due: none

feat(nodeup): enable tracing pretty logging (#145)
  crates/nodeup/src/logging.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

feat(skills): add Codex PR review loop skill with JS helpers (#144)
  .agents/skills/gh-pr-codex-review-loop/SKILL.md
  .agents/skills/gh-pr-codex-review-loop/agents/openai.yaml
  .agents/skills/gh-pr-codex-review-loop/references/gh-review-loop-reference.md
  .agents/skills/gh-pr-codex-review-loop/scripts/check_codex_thumbs_up.js
  .agents/skills/gh-pr-codex-review-loop/scripts/collect_codex_feedback.js
  docs/monorepo.md
Due: none

test(devmon): add contract-complete coverage for scheduler and service flows (#143)
  cmds/devmon/internal/cli/root.go
  cmds/devmon/internal/cli/root_test.go
  cmds/devmon/internal/executor/shell.go
  cmds/devmon/internal/menubar/menubar_other_test.go
  cmds/devmon/internal/scheduler/runner_test.go
  cmds/devmon/internal/servicecontrol/controller_darwin_test.go
  cmds/devmon/internal/servicecontrol/controller_other_test.go
  docs/project-devmon.md
Due: go-fmt

fix(nodeup): reject reserved linked runtime names
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/src/selectors.rs
  crates/nodeup/tests/cli.rs
Due: cargo-fmt

docs(nodeup): reserve channel names for linked runtimes
  docs/project-nodeup.md
Due: none

fix(derun): implement windows session liveness and append locking
  cmds/derun/internal/state/lock_windows.go
  cmds/derun/internal/state/process_windows.go
  cmds/derun/internal/state/process_windows_test.go
  cmds/derun/internal/state/store_windows_test.go
  docs/project-derun.md
Due: go-fmt

fix(nodeup): reject reserved linked runtime names (#147)
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/src/selectors.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

docs(derun): document codex MCP local integration flow
  docs/project-derun.md
Due: none

docs(derun): document sandbox-friendly Codex MCP setup
  .gitignore
  docs/project-derun.md
Due: none

chore(codex): move derun MCP setup to project-local config
  .codex/config.toml
  docs/project-derun.md
Due: none

feat(nodeup): cache release index for channel resolution
  crates/nodeup/src/lib.rs
  crates/nodeup/src/overrides.rs
  crates/nodeup/src/paths.rs
  crates/nodeup/src/release_index.rs
  crates/nodeup/src/resolver.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(nodeup): invalidate release cache when index URL changes
  crates/nodeup/src/release_index.rs
  docs/project-nodeup.md
Due: cargo-fmt

test(derun): deflake concurrent session output assertion
  cmds/derun/internal/e2e/contract_test.go
Due: go-fmt

feat(nodeup): cache release index for channel resolution (#146)
  crates/nodeup/src/lib.rs
  crates/nodeup/src/overrides.rs
  crates/nodeup/src/paths.rs
  crates/nodeup/src/release_index.rs
  crates/nodeup/src/resolver.rs
  docs/project-nodeup.md
Due: cargo-fmt

docs(policies): require git add before commit
  AGENTS.md
  docs/monorepo.md
Due: none

docs: clarify git commit order (#150)
  AGENTS.md
  docs/monorepo.md
Due: none

fix(derun): replace Windows liveness/lock stubs in state store (#149)
  cmds/derun/internal/e2e/contract_test.go
  cmds/derun/internal/state/lock_windows.go
  cmds/derun/internal/state/process_windows.go
  cmds/derun/internal/state/process_windows_test.go
  cmds/derun/internal/state/store_windows_test.go
  docs/project-derun.md
Due: go-fmt

docs(agents): move monorepo rules into AGENTS hierarchy
  AGENTS.md
  apps/AGENTS.md
  cmds/AGENTS.md
  crates/AGENTS.md
  docs/monorepo.md
  docs/project-cargo-mono.md
  docs/project-derun.md
  docs/project-devkit-commit-tracker.md
  docs/project-devkit-remote-file-picker.md
  docs/project-devkit.md
  docs/project-mpapp.md
  docs/project-nodeup.md
  docs/project-template.md
  docs/project-thenv.md
  servers/AGENTS.md
Due: none

docs(agents): consolidate monorepo rules into AGENTS hierarchy (#151)
  AGENTS.md
  apps/AGENTS.md
  cmds/AGENTS.md
  crates/AGENTS.md
  docs/monorepo.md
  docs/project-cargo-mono.md
  docs/project-derun.md
  docs/project-devkit-commit-tracker.md
  docs/project-devkit-remote-file-picker.md
  docs/project-devkit.md
  docs/project-mpapp.md
  docs/project-nodeup.md
  docs/project-template.md
  docs/project-thenv.md
  servers/AGENTS.md
Due: none

docs(derun): add local Codex MCP integration guide
  docs/project-derun.md
Due: none

chore(thenv): generate protobuf before dev server startup
  docs/project-thenv.md
  servers/thenv/package.json
Due: none

chore(derun): add project-local codex mcp config
  .codex/config.toml
  .gitignore
  docs/project-derun.md
Due: none

build(proto): split server proto generation and run before dev
  .github/workflows/CI.yml
  docs/project-devkit-commit-tracker.md
  docs/project-thenv.md
  package.json
  scripts/generate-go-proto.sh
  scripts/lib/go-proto-tools.sh
  servers/AGENTS.md
  servers/commit-tracker/generate.go
  servers/commit-tracker/scripts/generate-go-proto.sh
  servers/thenv/generate.go
  servers/thenv/scripts/generate-go-proto.sh
Due: go-fmt

fix(ci): run proto go:generate via sh on windows
  servers/commit-tracker/generate.go
  servers/thenv/generate.go
Due: go-fmt

feat(rust-cli): enable color logs by default
  AGENTS.md
  crates/AGENTS.md
  crates/cargo-mono/src/logging.rs
  crates/nodeup/src/logging.rs
  docs/project-cargo-mono.md
  docs/project-nodeup.md
Due: cargo-fmt

fix(ci): invoke bash in proto go:generate directives
  servers/commit-tracker/generate.go
  servers/thenv/generate.go
Due: go-fmt

fix(derun): use portable shell for local codex mcp config
  .codex/config.toml
  docs/project-derun.md
Due: none

refactor(rust-cli): drop clicolor log env handling
  crates/cargo-mono/src/logging.rs
  crates/nodeup/src/logging.rs
  docs/project-cargo-mono.md
  docs/project-nodeup.md
Due: cargo-fmt

build(proto): run server-local go generate before pnpm dev (#154)
  .github/workflows/CI.yml
  docs/project-devkit-commit-tracker.md
  docs/project-thenv.md
  package.json
  scripts/generate-go-proto.sh
  scripts/lib/go-proto-tools.sh
  servers/AGENTS.md
  servers/commit-tracker/generate.go
  servers/commit-tracker/scripts/generate-go-proto.sh
  servers/thenv/generate.go
  servers/thenv/scripts/generate-go-proto.sh
Due: go-fmt

revert(docs): restore derun project document
  docs/project-derun.md
Due: none

test(cargo-mono): disable log color in invocation assertion
  crates/cargo-mono/tests/cli.rs
Due: cargo-fmt

chore(derun): add project-local Codex MCP integration (#155)
  .codex/config.toml
  .gitignore
Due: none

test(nodeup): disable log color in cli test env
  crates/nodeup/tests/cli.rs
Due: cargo-fmt

feat(rust-cli): enable color logs by default (#156)
  AGENTS.md
  crates/AGENTS.md
  crates/cargo-mono/src/logging.rs
  crates/cargo-mono/tests/cli.rs
  crates/nodeup/src/logging.rs
  crates/nodeup/tests/cli.rs
  docs/project-cargo-mono.md
  docs/project-nodeup.md
Due: cargo-fmt

feat(public-docs): add mintlify docs app and policy contracts
  .github/workflows/CI.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/README.md
  apps/public-docs/docs.json
  apps/public-docs/documentation-lifecycle.mdx
  apps/public-docs/getting-started.mdx
  apps/public-docs/index.mdx
  apps/public-docs/package.json
  apps/public-docs/projects-overview.mdx
  docs/project-public-docs.md
  pnpm-lock.yaml
Due: none

chore(public-docs): pin mint dev port to 46249
  apps/public-docs/README.md
  apps/public-docs/getting-started.mdx
  apps/public-docs/package.json
  docs/project-public-docs.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
