Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delidev): complete OpenCode manual compaction product flow
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-context.test.tsx
  apps/delidev/src/session-context.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/session_compaction.go
  cmds/delidev-cli/internal/domain/session_compaction_opencode.go
  cmds/delidev-cli/internal/domain/session_compaction_result_test.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/compaction_checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/compaction_context.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_compaction_authority.go
  cmds/delidev-cli/internal/server/session_compaction_test.go
  cmds/delidev-cli/internal/server/session_context.go
  cmds/delidev-cli/internal/server/session_continuation_test.go
  cmds/delidev-cli/internal/server/session_opencode_compaction_native_test.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/opencode_execution.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/session_compaction.go
  cmds/delidev-cli/internal/worker/session_compaction_opencode.go
  docs/cmds-delidev-compaction-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/session_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/v1/session.proto
  protos/delidev/v1/system.proto
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/session.pb.go
  protos/gen/go/delidev/v1/system.pb.go
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

feat(delidev): pin complete Codex compaction lineage across native continuation
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/session_compaction.go
  cmds/delidev-cli/internal/domain/session_compaction_result_test.go
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/continuation.go
  cmds/delidev-cli/internal/harness/codex/continuation_context.go
  cmds/delidev-cli/internal/harness/codex/continuation_context_test.go
  cmds/delidev-cli/internal/harness/codex/native_auto_compaction_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/native_compaction_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_checkpoint.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

feat(delidev): retain original Codex context compaction observations
  apps/delidev/src/native-context-compaction.test.tsx
  apps/delidev/src/native-context-compaction.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/domain/execution_artifacts.go
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/native_compaction.go
  cmds/delidev-cli/internal/domain/native_compaction_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/compaction_test.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/native_compaction_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/server/execution_artifacts.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_native_compaction_test.go
  cmds/delidev-cli/internal/worker/codex_events.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

fix(delidev): validate empty fork change events and pin child chronology
  apps/delidev/src/opencode-fork-profile.ts
  apps/delidev/src/session-fork.test.tsx
  cmds/delidev-cli/internal/harness/opencode/subagents.go
  cmds/delidev-cli/internal/harness/opencode/subagents_history_test.go
Due: go-fmt

docs(delidev): align independently implemented compaction profiles
  docs/cmds-delidev-compaction-contract.md
Due: none

fix(delidev): validate complete OpenCode fork and child presentation
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/native-context-compaction.test.tsx
  apps/delidev/src/native-context-compaction.tsx
  apps/delidev/src/opencode-fork-profile.ts
  apps/delidev/src/opencode-subagents.test.tsx
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  apps/delidev/src/subagent-record.ts
  cmds/delidev-cli/internal/worker/compaction_large_stream_test.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

fix(delidev): retain sparse compaction and closed child side effects
  cmds/delidev-cli/internal/apiproxy/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/opencode_tasks.go
  cmds/delidev-cli/internal/apiproxy/opencode_tasks_test.go
  cmds/delidev-cli/internal/apiproxy/stream.go
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/pricing.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/subagents.go
  cmds/delidev-cli/internal/harness/opencode/subagents_history_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/pricing.go
  cmds/delidev-cli/internal/store/pricing_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_fork_deletion_test.go
  docs/cmds-delidev-compaction-contract.md
  docs/cmds-delidev-forks-contract.md
  docs/cmds-delidev-subagents-contract.md
Due: go-fmt

fix(delidev): preserve large original compaction assignments
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/session_compaction_documents.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_compaction_authority.go
  cmds/delidev-cli/internal/server/session_compaction_large_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/native_job_documents.go
  cmds/delidev-cli/internal/worker/native_job_documents_test.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/session_compaction.go
  cmds/delidev-cli/internal/worker/storage_documents.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

Preserve original OpenCode pruning and recent native tails
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/opencode_context.go
  cmds/delidev-cli/internal/domain/opencode_context_test.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/api_profile.go
  cmds/delidev-cli/internal/harness/opencode/api_runtime.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history_test.go
  cmds/delidev-cli/internal/harness/opencode/compaction_pruning_native_test.go
  cmds/delidev-cli/internal/worker/opencode_execution.go
  cmds/delidev-cli/internal/worker/session_compaction_opencode.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

feat(delidev): verify native OpenCode General Chat fork preparation
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_resume.go
  cmds/delidev-cli/internal/harness/opencode/claims.go
  cmds/delidev-cli/internal/harness/opencode/fork.go
  cmds/delidev-cli/internal/harness/opencode/fork_history.go
  cmds/delidev-cli/internal/harness/opencode/fork_native_test.go
  cmds/delidev-cli/internal/harness/opencode/fork_session.go
  cmds/delidev-cli/internal/harness/opencode/fork_test.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_http.go
  docs/cmds-delidev-forks-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): preserve native checkpoint bounds and preflight fork output
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_test.go
  cmds/delidev-cli/internal/harness/opencode/fork.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_compaction_large_test.go
  cmds/delidev-cli/internal/server/session_context.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/opencode_checkpoint.go
  cmds/delidev-cli/internal/worker/opencode_continuation.go
  cmds/delidev-cli/internal/worker/session_compaction_codex.go
  cmds/delidev-cli/internal/worker/session_compaction_codex_test.go
  cmds/delidev-cli/internal/worker/session_compaction_opencode.go
  cmds/delidev-cli/internal/worker/session_fork_capacity_test.go
  cmds/delidev-cli/internal/worker/session_fork_opencode.go
  docs/cmds-delidev-compaction-contract.md
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

fix(delidev): preserve large compaction execution authority
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/session_compaction_large_test.go
  cmds/delidev-cli/internal/server/subscriptions.go
Due: go-fmt

test(delidev): synchronize terminal shutdown loss fixture
  cmds/delidev-cli/internal/worker/terminal_shutdown_unix_test.go
Due: go-fmt

fix(delidev): reserve complete OpenCode fork checkpoint capacity
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/fork.go
  cmds/delidev-cli/internal/harness/opencode/fork_capacity.go
  cmds/delidev-cli/internal/harness/opencode/fork_capacity_test.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

test(delidev): scope native fork capacity fixture to Unix
  cmds/delidev-cli/internal/harness/opencode/fork_capacity_test.go
Due: go-fmt

fix(delidev): retain large routed compaction and revocation authority
  cmds/delidev-cli/internal/server/execution_controls.go
  cmds/delidev-cli/internal/server/session_compaction_large_test.go
  cmds/delidev-cli/internal/server/worker_network.go
Due: go-fmt

fix(delidev): reconstruct child settlement and omit unknown context
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_test.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/subagents.go
  cmds/delidev-cli/internal/harness/opencode/subagents_history_test.go
  docs/cmds-delidev-compaction-contract.md
  docs/cmds-delidev-subagents-contract.md
Due: go-fmt

fix(delidev): retain complete OpenCode compaction envelopes
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_compaction_opencode.go
  cmds/delidev-cli/internal/worker/session_compaction_opencode_test.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

ci(ci): migrate remaining macOS 14 runners to macOS 15
  .github/AGENTS.md
  .github/workflows/CI.yml
  .github/workflows/release-binpm.yml
  .github/workflows/release-cargo-mono.yml
  .github/workflows/release-clibox.yml
  .github/workflows/release-nodeup.yml
  .github/workflows/release-with-watch.yml
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/clibox-release.test.mjs
  scripts/ci/project-release.test.mjs
Due: none

fix(delidev): retain OAuth admission and restore ownership
  apps/delidev/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/backup_restore_image.go
  docs/cmds-delidev-account-oauth-contract.md
Due: go-fmt

fix(delidev): retain cancellation after a lost OAuth start reply
  apps/delidev/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_test.go
  docs/cmds-delidev-account-oauth-contract.md
Due: go-fmt

fix(delidev): satisfy native OAuth callback lint checks
  apps/delidev/src-tauri/src/oauth.rs
Due: cargo-fmt

feat(delidev): integrate trusted desktop OpenRouter OAuth flow
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src-tauri/src/oauth_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/desktop.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/account_oauth.go
  cmds/delidev-cli/internal/cli/account_oauth_test.go
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_http.go
  cmds/delidev-cli/internal/server/account_oauth_http_test.go
  cmds/delidev-cli/internal/server/account_oauth_test.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/catalog_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/account_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/account.proto
  protos/delidev/v1/provider.proto
  protos/gen/go/delidev/v1/account.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/account.connect.go
Due: cargo-fmt, go-fmt

fix(delidev): retain OAuth keys across transport cancellation
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_http.go
  cmds/delidev-cli/internal/server/account_oauth_http_test.go
  cmds/delidev-cli/internal/server/account_oauth_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/account_oauth.go
  cmds/delidev-cli/internal/store/account_oauth_test.go
  docs/cmds-delidev-account-oauth-contract.md
Due: go-fmt

fix(delidev): preserve OAuth callback authority and exact binding retries
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth_http.go
  cmds/delidev-cli/internal/server/account_oauth_http_test.go
  docs/cmds-delidev-account-oauth-contract.md
Due: cargo-fmt, go-fmt

test(delidev): preserve OAuth sentinel scans with active Windows locks
  cmds/delidev-cli/internal/server/account_oauth_test.go
Due: go-fmt

fix(delidev): preserve canonical native guidance bytes on Windows
  .gitattributes
  cmds/delidev-cli/internal/providers/AGENTS.md
  docs/cmds-delidev-providers-contract.md
Due: none

fix(delidev): scope OAuth command adapter lint exception
  apps/delidev/src-tauri/src/oauth_host.rs
Due: cargo-fmt

docs(delidev): align OAuth implementation and acceptance boundaries
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/project-delidev.md
Due: none

fix(pnport): verify clone flags against the native macOS host
  crates/AGENTS.md
  crates/pnport/tests/cache-conformance.c
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): authorize the repair release and retain disclosed limits
  .github/AGENTS.md
  AGENTS.md
  crates/AGENTS.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/package.json
  packages/pnport/scripts/github-release.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

fix(pnport): return denied child image errors to their callers
  AGENTS.md
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/diagnostic.rs
  crates/pnport-core/src/executable.rs
  crates/pnport/tests/exec-replace.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

docs(pnport): reconcile the child admission invariant
  docs/project-pnport.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
