Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): preserve shortcut key privacy
  apps/devhud/src-tauri/src/shortcuts.rs
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/shortcuts.ts
Due: cargo-fmt

fix(devhud): reject unavailable shortcut staging
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/shortcuts.rs
Due: cargo-fmt

fix(devhud): make diagnostic cleanup retryable
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): restore settings synchronization contracts
  apps/devhud/src/github-settings-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/service-boundary.tsx
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): bound repository validation concurrency
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/github-provider.test.ts
  apps/devhud/src/github-settings-ui.test.tsx
  apps/devhud/src/github-settings-ui.tsx
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): restore identity fallback shortcuts
  apps/devhud/package.json
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
Due: none

fix(devhud): reset mapping draft after local upload
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/service-boundary.tsx
Due: none

fix(devhud): address Deck review feedback
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  docs/apps-devhud-foundation.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: cargo-fmt, go-fmt

fix(devhud): address diagnostics review feedback
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: cargo-fmt, go-fmt

feat(devhud): implement desktop RealQA capture
  AGENTS.md
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/package.json
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/platform-smoke-child.test.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/Info.desktop.plist
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/src/secure_store.rs
  apps/devhud/src-tauri/tauri.conf.json
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  apps/devhud/src/styles.css
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): preserve Deck retry and label syntax
  apps/devhud/src/deck.test.ts
  apps/devhud/src/deck.ts
Due: none

fix(devhud): serialize mapping credential updates
  apps/devhud/src/github-settings-ui.test.tsx
  apps/devhud/src/github-settings-ui.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.tsx
Due: none

fix(devhud): guard Deck refresh lifecycle
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
Due: none

fix(devhud): suspend shortcuts after session cleanup
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): preserve Deck refresh state
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/deck.test.ts
  apps/devhud/src/deck.ts
  apps/devhud/src/localization.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address URL mapping review feedback
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): restore shortcut permission settings
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.tsx
Due: none

fix(devhud): retry undelivered Deck notifications
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
Due: none

fix(devhud): harden RealQA capture flow
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): reject bracketed IPv4 hosts
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): bound canonical URL mapping paths
  apps/devhud/src/url-mapping.test.ts
  apps/devhud/src/url-mapping.ts
Due: none

fix(devhud): address RealQA review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  apps/devhud/src/styles.css
Due: none

fix(devhud): restore RealQA CI coverage
  .github/workflows/CI.yml
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
Due: cargo-fmt

fix(devhud): preserve blocked shortcut hydration
  apps/devhud/src/browser-context.test.ts
  apps/devhud/src/browser-context.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
Due: none

fix(devhud): reject backslash mapping paths
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): canonicalize mapping path bounds
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): preserve mapping draft baselines
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): support Ubuntu 22.04 capture builds
  .github/workflows/CI.yml
  Cargo.lock
  apps/devhud/src-tauri/Cargo.toml
Due: none

fix(devhud): scope Deck query branches
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/service-boundary.tsx
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): preserve diagnostics export failures
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/native-bridge.ts
Due: none

fix(devhud): bound crash report persistence
  AGENTS.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/AGENTS.md
  servers/devhud-api/internal/domain/domain.go
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): validate migrated Decks and reviewer unions
  apps/devhud/src/github-provider.test.ts
  apps/devhud/src/github-provider.ts
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
Due: none

fix(devhud): validate Deck query branches
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): harden RealQA capture lifecycle
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): complete Deck editor states
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/localization.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): remove obsolete capture wrapper
  apps/devhud/src-tauri/src/capture.rs
Due: cargo-fmt

fix(devhud): address diagnostics review feedback
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  docs/packages-devhud-api-client-contract.md
  docs/project-devhud.md
  docs/protos-devhud-v1-contract.md
  docs/servers-devhud-api-contract.md
  packages/devhud-api-client/src/gen/devhud/v1/common_pb.ts
  protos/devhud/v1/common.proto
  protos/gen/go/devhud/v1/common.pb.go
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: cargo-fmt, go-fmt

test(devhud): tolerate reaped macOS zombies
  apps/devhud/scripts/platform-smoke-child.test.mjs
Due: none

fix(devhud): enforce diagnostics retention boundaries
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
