Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delidev): transmit original Claude callback responses
  apps/delidev/AGENTS.md
  apps/delidev/src/interactions.tsx
  apps/delidev/src/native-claude-interaction.test.tsx
  apps/delidev/src/native-claude-interaction.tsx
  apps/delidev/src/native-claude-response.test.tsx
  apps/delidev/src/native-claude-response.tsx
  apps/delidev/src/native-claude-tool.test.tsx
  apps/delidev/src/native-claude-tool.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/approval_responses.go
  cmds/delidev-cli/internal/domain/claude_responses.go
  cmds/delidev-cli/internal/domain/claude_responses_test.go
  cmds/delidev-cli/internal/domain/claude_tools.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/opencode_responses.go
  cmds/delidev-cli/internal/domain/question_responses.go
  cmds/delidev-cli/internal/harness/claude/content.go
  cmds/delidev-cli/internal/harness/claude/content_test.go
  cmds/delidev-cli/internal/harness/claude/interactions.go
  cmds/delidev-cli/internal/harness/claude/reply_claim.go
  cmds/delidev-cli/internal/harness/claude/reply_claim_test.go
  cmds/delidev-cli/internal/harness/claude/session.go
  cmds/delidev-cli/internal/server/approval_responses.go
  cmds/delidev-cli/internal/server/claude_reply_echo.go
  cmds/delidev-cli/internal/server/claude_responses_native_test.go
  cmds/delidev-cli/internal/server/claude_responses_test.go
  cmds/delidev-cli/internal/server/execution_claude_interactions_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/question_responses.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_interactions.go
  cmds/delidev-cli/internal/worker/claude_responses.go
  cmds/delidev-cli/internal/worker/claude_responses_test.go
  cmds/delidev-cli/internal/worker/claude_tools.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): settle original Claude callback results
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-interaction.test.tsx
  apps/delidev/src/native-claude-interaction.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_settlement.go
  cmds/delidev-cli/internal/domain/claude_settlement_test.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/interactions.go
  cmds/delidev-cli/internal/server/claude_responses_native_test.go
  cmds/delidev-cli/internal/server/claude_settlement.go
  cmds/delidev-cli/internal/server/claude_settlement_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_responses.go
  cmds/delidev-cli/internal/worker/claude_responses_test.go
  cmds/delidev-cli/internal/worker/claude_settlement_test.go
  cmds/delidev-cli/internal/worker/claude_tools.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): settle original Claude Plan approvals
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-interaction.test.tsx
  apps/delidev/src/native-claude-interaction.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_settlement.go
  cmds/delidev-cli/internal/domain/claude_settlement_test.go
  cmds/delidev-cli/internal/server/claude_responses_native_test.go
  cmds/delidev-cli/internal/server/claude_settlement_test.go
  cmds/delidev-cli/internal/server/execution_claude_interactions_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): preserve interrupted Claude denial evidence
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_tools.go
  cmds/delidev-cli/internal/harness/claude/content.go
  cmds/delidev-cli/internal/harness/claude/denial_test.go
  cmds/delidev-cli/internal/harness/claude/interactions.go
  cmds/delidev-cli/internal/harness/claude/interrupt.go
  cmds/delidev-cli/internal/harness/claude/lifecycle.go
  cmds/delidev-cli/internal/harness/claude/lifecycle_schema.go
  cmds/delidev-cli/internal/harness/claude/native_denial_smoke_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): publish original Claude denial interruptions
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-interaction.test.tsx
  apps/delidev/src/native-claude-interaction.tsx
  apps/delidev/src/native-claude-interruption.test.tsx
  apps/delidev/src/native-claude-interruption.tsx
  apps/delidev/src/native-claude-response.test.tsx
  apps/delidev/src/native-claude-response.tsx
  apps/delidev/src/native-claude-tool.test.tsx
  apps/delidev/src/native-claude-tool.tsx
  apps/delidev/src/native-claude-usage.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_interruption.go
  cmds/delidev-cli/internal/domain/claude_interruption_test.go
  cmds/delidev-cli/internal/domain/claude_responses.go
  cmds/delidev-cli/internal/domain/claude_responses_test.go
  cmds/delidev-cli/internal/domain/claude_settlement.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/server/claude_interruption.go
  cmds/delidev-cli/internal/server/claude_interruption_test.go
  cmds/delidev-cli/internal/server/claude_responses_native_test.go
  cmds/delidev-cli/internal/server/claude_settlement_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_interruption.go
  cmds/delidev-cli/internal/worker/claude_interruption_test.go
  cmds/delidev-cli/internal/worker/claude_responses_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-usage-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): publish original Claude session progress
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/execution-configuration.test.tsx
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/native-claude-interruption.tsx
  apps/delidev/src/native-claude-progress.test.tsx
  apps/delidev/src/native-claude-progress.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_progress.go
  cmds/delidev-cli/internal/domain/claude_progress_test.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/server/claude_progress.go
  cmds/delidev-cli/internal/server/claude_progress_test.go
  cmds/delidev-cli/internal/server/claude_responses_native_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/worker/claude_binding.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_progress.go
  cmds/delidev-cli/internal/worker/claude_progress_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): publish Claude input terminal and cleanup
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/native-claude-terminal.test.tsx
  apps/delidev/src/native-claude-terminal.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_terminal.go
  cmds/delidev-cli/internal/domain/claude_terminal_test.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/harness/claude/completion_test.go
  cmds/delidev-cli/internal/harness/claude/session.go
  cmds/delidev-cli/internal/harness/claude/session_test.go
  cmds/delidev-cli/internal/server/claude_responses_native_test.go
  cmds/delidev-cli/internal/server/claude_terminal.go
  cmds/delidev-cli/internal/server/claude_terminal_test.go
  cmds/delidev-cli/internal/server/execution_claude_publication_test.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/claude_binding.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_terminal.go
  cmds/delidev-cli/internal/worker/claude_terminal_test.go
  cmds/delidev-cli/internal/worker/claude_usage.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): dispatch original Claude inputs through Worker
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_dispatch_test.go
  cmds/delidev-cli/internal/worker/claude_controls.go
  cmds/delidev-cli/internal/worker/claude_controls_test.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/execution.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): retain native Claude Stop and Archive completion
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/native-claude-message.tsx
  apps/delidev/src/native-claude-stop.test.tsx
  apps/delidev/src/native-claude-stop.tsx
  apps/delidev/src/native-claude-terminal.tsx
  apps/delidev/src/native-claude-usage.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_content.go
  cmds/delidev-cli/internal/domain/claude_stop.go
  cmds/delidev-cli/internal/domain/claude_stop_test.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/harness/claude/content.go
  cmds/delidev-cli/internal/harness/claude/interrupt.go
  cmds/delidev-cli/internal/harness/claude/lifecycle.go
  cmds/delidev-cli/internal/harness/claude/native_stop_smoke_test.go
  cmds/delidev-cli/internal/harness/claude/progress.go
  cmds/delidev-cli/internal/harness/claude/session.go
  cmds/delidev-cli/internal/harness/claude/stop_retry_test.go
  cmds/delidev-cli/internal/server/claude_stop.go
  cmds/delidev-cli/internal/server/claude_stop_test.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/worker/claude_binding.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/claude_stop.go
  cmds/delidev-cli/internal/worker/claude_stop_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): retain original Claude API retry progress
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-progress.test.tsx
  apps/delidev/src/native-claude-progress.tsx
  apps/delidev/src/native-claude-retry.tsx
  apps/delidev/src/native-claude-stop.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_progress.go
  cmds/delidev-cli/internal/domain/claude_progress_test.go
  cmds/delidev-cli/internal/domain/claude_retry.go
  cmds/delidev-cli/internal/domain/claude_stop.go
  cmds/delidev-cli/internal/server/claude_progress.go
  cmds/delidev-cli/internal/server/claude_progress_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/worker/claude_progress.go
  cmds/delidev-cli/internal/worker/claude_progress_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): verify original Claude denial process cleanup
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/denial_completion.go
  cmds/delidev-cli/internal/harness/claude/denial_completion_test.go
  cmds/delidev-cli/internal/harness/claude/native_denial_smoke_test.go
  cmds/delidev-cli/internal/harness/claude/session.go
  cmds/delidev-cli/internal/harness/claude/session_test.go
  cmds/delidev-cli/internal/harness/claude/stream.go
  cmds/delidev-cli/internal/harness/claude/stream_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): publish original Claude denied-run cleanup
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/native-claude-denial-completion.test.tsx
  apps/delidev/src/native-claude-denial-completion.tsx
  apps/delidev/src/native-claude-interruption.test.tsx
  apps/delidev/src/native-claude-interruption.tsx
  apps/delidev/src/native-claude-stop.tsx
  apps/delidev/src/native-claude-terminal.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_denial_completion.go
  cmds/delidev-cli/internal/domain/claude_denial_completion_test.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/server/claude_denial_completion.go
  cmds/delidev-cli/internal/server/claude_denial_completion_test.go
  cmds/delidev-cli/internal/server/claude_responses_native_test.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_denial_completion.go
  cmds/delidev-cli/internal/worker/claude_denial_completion_test.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/claude_terminal.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): retain Claude history after original EOF
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/continuation.go
  cmds/delidev-cli/internal/harness/claude/continuation_test.go
  cmds/delidev-cli/internal/harness/claude/native_continuation_smoke_test.go
  cmds/delidev-cli/internal/harness/claude/session.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): continue original Claude root history through Worker
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/server/claude_continuation_test.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/claude_binding.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): continue original Claude Read history
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_read_continuation_native_test.go
  cmds/delidev-cli/internal/store/claude_continuation_test.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_tools.go
  cmds/delidev-cli/internal/worker/claude_tools_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): retain original Claude question history
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/checkpoint.go
  cmds/delidev-cli/internal/harness/claude/content.go
  cmds/delidev-cli/internal/harness/claude/inline_tool_history.go
  cmds/delidev-cli/internal/harness/claude/interactions.go
  cmds/delidev-cli/internal/harness/claude/native_question_history_smoke_test.go
  cmds/delidev-cli/internal/harness/claude/question_checkpoint.go
  cmds/delidev-cli/internal/harness/claude/question_checkpoint_test.go
  cmds/delidev-cli/internal/harness/claude/read_tool_history_test.go
  cmds/delidev-cli/internal/harness/claude/tool_approval_checkpoint.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): continue original Claude answered questions
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_continuation_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_question_continuation_native_test.go
  cmds/delidev-cli/internal/store/claude_interactions.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_interactions.go
  cmds/delidev-cli/internal/worker/claude_question_continuation_test.go
  cmds/delidev-cli/internal/worker/claude_tools.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): continue original Claude command and file history
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_continuation_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_effect_continuation_native_test.go
  cmds/delidev-cli/internal/server/session_claude_question_continuation_native_test.go
  cmds/delidev-cli/internal/store/claude_continuation_test.go
  cmds/delidev-cli/internal/store/claude_interactions.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_interactions.go
  cmds/delidev-cli/internal/worker/claude_question_continuation_test.go
  cmds/delidev-cli/internal/worker/claude_settlement_test.go
  cmds/delidev-cli/internal/worker/claude_tools.go
  cmds/delidev-cli/internal/worker/claude_tools_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): inspect Claude checkpoints without prompt bodies
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/checkpoint.go
  cmds/delidev-cli/internal/harness/claude/checkpoint_inspection_test.go
  cmds/delidev-cli/internal/harness/claude/native_question_history_smoke_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): recover original Claude completed execution reports
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_recovery.go
  cmds/delidev-cli/internal/domain/execution_recovery_test.go
  cmds/delidev-cli/internal/server/claude_continuation_test.go
  cmds/delidev-cli/internal/server/claude_recovery_test.go
  cmds/delidev-cli/internal/server/execution_claude_publication_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_recovery_native_test.go
  cmds/delidev-cli/internal/server/session_execution_recovery.go
  cmds/delidev-cli/internal/server/session_execution_recovery_test.go
  cmds/delidev-cli/internal/worker/claude_checkpoint.go
  cmds/delidev-cli/internal/worker/claude_inspection.go
  cmds/delidev-cli/internal/worker/execution_inspection.go
  cmds/delidev-cli/internal/worker/execution_recovery.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): publish original Claude root tool progress
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-progress.test.tsx
  apps/delidev/src/native-claude-progress.tsx
  apps/delidev/src/native-claude-tool-progress.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_progress.go
  cmds/delidev-cli/internal/domain/claude_tool_progress.go
  cmds/delidev-cli/internal/domain/claude_tool_progress_test.go
  cmds/delidev-cli/internal/server/claude_progress.go
  cmds/delidev-cli/internal/server/claude_tool_progress_test.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/claude_progress.go
  cmds/delidev-cli/internal/worker/claude_tool_progress.go
  cmds/delidev-cli/internal/worker/claude_tool_progress_test.go
  cmds/delidev-cli/internal/worker/claude_tools.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): publish original Claude local Bash tasks
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-progress.tsx
  apps/delidev/src/native-claude-tasks.test.tsx
  apps/delidev/src/native-claude-tasks.tsx
  apps/delidev/src/native-claude-tool-progress.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_progress.go
  cmds/delidev-cli/internal/domain/claude_tasks.go
  cmds/delidev-cli/internal/domain/claude_tasks_test.go
  cmds/delidev-cli/internal/domain/claude_tool_progress.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/server/claude_progress.go
  cmds/delidev-cli/internal/server/claude_tasks_test.go
  cmds/delidev-cli/internal/server/claude_terminal.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_effect_continuation_native_test.go
  cmds/delidev-cli/internal/server/session_claude_tasks_native_test.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/claude_tasks.go
  cmds/delidev-cli/internal/worker/claude_tasks_test.go
  cmds/delidev-cli/internal/worker/claude_terminal.go
  cmds/delidev-cli/internal/worker/claude_tool_progress.go
  cmds/delidev-cli/internal/worker/claude_tools_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): continue and recover original Claude Bash task history
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_tasks.go
  cmds/delidev-cli/internal/domain/claude_tasks_test.go
  cmds/delidev-cli/internal/harness/claude/bash_task_checkpoint.go
  cmds/delidev-cli/internal/harness/claude/bash_task_checkpoint_test.go
  cmds/delidev-cli/internal/harness/claude/checkpoint.go
  cmds/delidev-cli/internal/harness/claude/continuation.go
  cmds/delidev-cli/internal/harness/claude/native_bash_history_smoke_test.go
  cmds/delidev-cli/internal/harness/claude/tasks.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_tasks_native_test.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): preserve original Claude heartbeat ownership
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-progress.test.tsx
  apps/delidev/src/native-claude-tool-progress.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_tool_progress.go
  cmds/delidev-cli/internal/domain/claude_tool_progress_test.go
  cmds/delidev-cli/internal/harness/claude/progress.go
  cmds/delidev-cli/internal/harness/claude/tasks_test.go
  cmds/delidev-cli/internal/server/claude_progress.go
  cmds/delidev-cli/internal/server/claude_tool_progress_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_effect_continuation_native_test.go
  cmds/delidev-cli/internal/server/session_claude_tasks_native_test.go
  cmds/delidev-cli/internal/worker/claude_tool_progress.go
  cmds/delidev-cli/internal/worker/claude_tool_progress_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): retain early Claude task tool results
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/execution_claude_tools.go
  cmds/delidev-cli/internal/server/execution_claude_tools_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_effect_continuation_native_test.go
  cmds/delidev-cli/internal/server/session_claude_tasks_native_test.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/claude_tools.go
  cmds/delidev-cli/internal/worker/claude_tools_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): retain original Claude compaction across continuation
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-compaction.test.tsx
  apps/delidev/src/native-claude-compaction.tsx
  apps/delidev/src/native-claude-progress.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_compaction.go
  cmds/delidev-cli/internal/domain/claude_compaction_test.go
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_progress.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/server/claude_compaction_test.go
  cmds/delidev-cli/internal/server/claude_progress.go
  cmds/delidev-cli/internal/server/claude_terminal.go
  cmds/delidev-cli/internal/server/claude_terminal_test.go
  cmds/delidev-cli/internal/server/session_claude_compaction_native_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_recovery_native_test.go
  cmds/delidev-cli/internal/worker/claude_binding.go
  cmds/delidev-cli/internal/worker/claude_compaction.go
  cmds/delidev-cli/internal/worker/claude_compaction_test.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/claude_progress.go
  cmds/delidev-cli/internal/worker/claude_terminal.go
  cmds/delidev-cli/internal/worker/claude_terminal_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(clibox-fspy): exclude mutating opens from repro inputs
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): restore breakpoint terminals before signals
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): reserve macOS root events before launch
  crates/clibox-fspy/src/macos.rs
  crates/clibox-fspy/src/macos/supervise.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): stage selected directory query entries
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): compare observed inputs with snapshot identities
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

feat(delidev): publish original Claude citation history
  apps/delidev/AGENTS.md
  apps/delidev/src/native-claude-citations.test.tsx
  apps/delidev/src/native-claude-citations.tsx
  apps/delidev/src/native-claude-message.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_citations.go
  cmds/delidev-cli/internal/domain/claude_citations_test.go
  cmds/delidev-cli/internal/domain/claude_content.go
  cmds/delidev-cli/internal/domain/claude_stop.go
  cmds/delidev-cli/internal/server/claude_citations_test.go
  cmds/delidev-cli/internal/server/session_claude_citations_native_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/claude_citations.go
  cmds/delidev-cli/internal/worker/claude_citations_test.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): continue and recover original Claude web citations
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_citations.go
  cmds/delidev-cli/internal/domain/claude_citations_test.go
  cmds/delidev-cli/internal/harness/claude/native_citation_history_smoke_test.go
  cmds/delidev-cli/internal/harness/claude/native_continuation_smoke_test.go
  cmds/delidev-cli/internal/server/session_claude_citations_native_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/store/claude_citations.go
  cmds/delidev-cli/internal/store/claude_citations_test.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/claude_citations_test.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): preserve all Claude project repositories across resume
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/api.go
  cmds/delidev-cli/internal/harness/claude/checkpoint.go
  cmds/delidev-cli/internal/harness/claude/native_continuation_smoke_test.go
  cmds/delidev-cli/internal/harness/claude/session.go
  cmds/delidev-cli/internal/harness/claude/workspace_roots.go
  cmds/delidev-cli/internal/harness/claude/workspace_roots_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_claude_multiple_native_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/worker/claude_checkpoint.go
  cmds/delidev-cli/internal/worker/claude_checkpoint_test.go
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/claude_inspection.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
Due: go-fmt

docs(delidev): record current desktop build and UI verification limit
  docs/cmds-delidev-evidence.md
Due: none

fix(clibox-fspy): reject hardlinks to blocked snapshot paths
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): allow generated original-run repro inputs
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): preflight report destinations before execution
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/publication.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox-fspy): capture macOS descriptor truncation
  crates/clibox-fspy/src/macos.rs
  crates/clibox-fspy/src/macos/supervise.rs
  crates/fspy_preload_unix/src/interceptions/operation_io.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
