Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

docs(delidev): record Grok accounting validation results
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): bound network profile lifecycle and type rpc responses
  cmds/delidev-cli/internal/cli/network.go
  cmds/delidev-cli/internal/outbound/credential_body.go
  cmds/delidev-cli/internal/outbound/credential_body_test.go
  cmds/delidev-cli/internal/outbound/transport.go
  cmds/delidev-cli/internal/server/network.go
  cmds/delidev-cli/internal/server/network_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-network-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): restore managed backups with atomic recovery
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/backups.go
  cmds/delidev-cli/internal/cli/backups_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/security/files.go
  cmds/delidev-cli/internal/server/backup_restores.go
  cmds/delidev-cli/internal/server/backup_restores_test.go
  cmds/delidev-cli/internal/server/backups.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/backup_restore_image.go
  cmds/delidev-cli/internal/store/backup_restores.go
  cmds/delidev-cli/internal/store/backup_restores_test.go
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SystemService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): evaluate stable ALLGREEN queue CI
  apps/delidev/AGENTS.md
  apps/delidev/src/github-ci-fixture.ts
  apps/delidev/src/github-ci-queue.ts
  apps/delidev/src/github-ci.test.tsx
  apps/delidev/src/github-ci.tsx
  apps/delidev/src/github-pr-observations.tsx
  apps/delidev/src/pr-problems.test.tsx
  apps/delidev/src/pr-problems.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/integration_ci.go
  cmds/delidev-cli/internal/domain/integration_ci_evidence.go
  cmds/delidev-cli/internal/domain/integration_ci_queue.go
  cmds/delidev-cli/internal/domain/integration_ci_queue_test.go
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/domain/pr_ci_problems.go
  cmds/delidev-cli/internal/domain/pr_remediation.go
  cmds/delidev-cli/internal/integrations/github/ci_graphql.go
  cmds/delidev-cli/internal/integrations/github/ci_inventory.go
  cmds/delidev-cli/internal/integrations/github/ci_queue.go
  cmds/delidev-cli/internal/integrations/github/ci_queue_test.go
  cmds/delidev-cli/internal/integrations/github/ci_test.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/store/pr_ci_problems_test.go
  cmds/delidev-cli/internal/store/pr_problem_collection.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: go-fmt

docs(delidev): record failed-resume race and baseline evidence
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): evaluate pinned required workflows on PR test merges
  apps/delidev/AGENTS.md
  apps/delidev/src/github-ci.tsx
  apps/delidev/src/github-rules.tsx
  apps/delidev/src/github-workflows.test.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/integration_ci.go
  cmds/delidev-cli/internal/domain/integration_rules.go
  cmds/delidev-cli/internal/domain/integration_workflows.go
  cmds/delidev-cli/internal/domain/integration_workflows_test.go
  cmds/delidev-cli/internal/integrations/github/access.go
  cmds/delidev-cli/internal/integrations/github/graphql.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/rules.go
  cmds/delidev-cli/internal/integrations/github/workflows.go
  cmds/delidev-cli/internal/integrations/github/workflows_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): exclude native-only response detail rows
  apps/delidev/AGENTS.md
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): validate dedicated PR verification sources
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/activity.go
  cmds/delidev-cli/internal/server/pr_activity_test.go
  cmds/delidev-cli/internal/store/pr_activity.go
  docs/cmds-delidev-activity-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

feat(delidev): expose metadata-only request diagnostics
  apps/delidev/AGENTS.md
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/diagnostics.go
  cmds/delidev-cli/internal/apiproxy/diagnostics_test.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/apiproxy/stream.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/request_diagnostics.go
  cmds/delidev-cli/internal/cli/request_diagnostics_test.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/domain/request_diagnostics.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/request_diagnostics.go
  cmds/delidev-cli/internal/server/request_diagnostics_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/title_execution_authority.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/request_diagnostics.go
  cmds/delidev-cli/internal/store/request_diagnostics_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-diagnostics-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SessionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

docs(delidev): record account switch validation and limits
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): show exact Grok daily interval bounds
  apps/delidev/AGENTS.md
  apps/delidev/src/grok-accounting.test.tsx
  apps/delidev/src/grok-accounting.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retain project IDs in Grok accounting
  apps/delidev/AGENTS.md
  apps/delidev/src/grok-accounting.test.tsx
  apps/delidev/src/grok-accounting.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): coordinate permanent session deletion
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/session_deletions.go
  cmds/delidev-cli/internal/cli/session_deletions_test.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/security/remove.go
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/session_deletions.go
  cmds/delidev-cli/internal/server/session_deletions_test.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/session_deletion_backups.go
  cmds/delidev-cli/internal/store/session_deletion_remediation.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/session_deletions_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/execution.go
  cmds/delidev-cli/internal/workspace/prepare.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SessionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev-WorkerService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

docs(delidev): record outbound proxy validation evidence
  docs/cmds-delidev-evidence.md
Due: none

test(delidev): isolate notification and import draft workflows
  apps/delidev/src/App.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record Claude accounting validation evidence
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record base-revision workflow validation limits
  docs/cmds-delidev-evidence.md
Due: none

test(delidev): reject stale PR activity cursors
  cmds/delidev-cli/internal/server/pr_activity_test.go
Due: go-fmt

test(delidev): verify diagnostic lifecycle and atomic publication
  cmds/delidev-cli/internal/server/request_diagnostics_test.go
  cmds/delidev-cli/internal/store/request_diagnostics_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

feat(delidev): add privacy-safe macOS status widget
  apps/delidev/AGENTS.md
  apps/delidev/macos-widget/Bridge/Bridge.swift
  apps/delidev/macos-widget/DeliDevWidget.xcodeproj/project.pbxproj
  apps/delidev/macos-widget/Intent/Info.plist
  apps/delidev/macos-widget/Intent/IntentHandler.swift
  apps/delidev/macos-widget/Intent/Widget.entitlements
  apps/delidev/macos-widget/Shared/SelectServer.intentdefinition
  apps/delidev/macos-widget/Shared/Snapshot.swift
  apps/delidev/macos-widget/Shared/SnapshotStore.swift
  apps/delidev/macos-widget/Tests/main.swift
  apps/delidev/macos-widget/Widget/Info.plist
  apps/delidev/macos-widget/Widget/StatusEntry.swift
  apps/delidev/macos-widget/Widget/StatusView.swift
  apps/delidev/macos-widget/Widget/StatusWidget.swift
  apps/delidev/macos-widget/Widget/Widget.entitlements
  apps/delidev/package.json
  apps/delidev/scripts/build-widget.mjs
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-macos-dry-run.test.mjs
  apps/delidev/scripts/test-widget.mjs
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/entitlements.plist
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/presentation.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src-tauri/src/widget_host.rs
  apps/delidev/src-tauri/tauri.conf.json
  apps/delidev/src/tray.test.ts
  apps/delidev/src/tray.ts
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-packaging-contract.md
  docs/apps-delidev-widget-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt

docs(delidev): record usage review repair validation
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): fence interrupted deletion and join final journal owners
  cmds/delidev-cli/internal/store/response_usage.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/session_deletions_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

docs(delidev): record full race validation limitations
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): retain final full-suite validation limits
  docs/cmds-delidev-evidence.md
Due: none

test(delidev): bound native Settings waits
  apps/delidev/AGENTS.md
  apps/delidev/src/settings.integration.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): retain protocol-owned provider request identifiers
  cmds/delidev-cli/internal/apiproxy/diagnostics.go
  cmds/delidev-cli/internal/apiproxy/diagnostics_test.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/server/request_diagnostics_test.go
  docs/cmds-delidev-diagnostics-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

docs(delidev): record restore validation and baseline failure
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record PR activity validation and baseline failure
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record deletion validation and baseline timeout
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): bound child inspection lifetime
  cmds/delidev-cli/internal/harness/codex/subagents.go
  cmds/delidev-cli/internal/worker/execution.go
  docs/cmds-delidev-subagents-contract.md
Due: go-fmt

test(delidev): await durable profile save observations
  apps/delidev/src/settings.integration.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

feat(delidev): add authenticated session port forwarding
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/forwards.go
  cmds/delidev-cli/internal/cli/forwards_test.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/forward.go
  cmds/delidev-cli/internal/domain/identity.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/forwarding/cleanup.go
  cmds/delidev-cli/internal/forwarding/cleanup_test.go
  cmds/delidev-cli/internal/forwarding/runtime.go
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/forwards.go
  cmds/delidev-cli/internal/server/forwards_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/store/forwards.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/forwards.go
  cmds/delidev-cli/internal/worker/run.go
  docs/README.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-forwarding-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-ForwardService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(delidev): preserve copied fork workspace permission modes
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_snapshot_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

test(delidev): await profile saves through delayed real RPCs
  apps/delidev/AGENTS.md
  apps/delidev/src/settings.integration.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record forwarding protocol validation
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): classify snapshot storage exhaustion safely
  cmds/delidev-cli/internal/workspace/snapshots.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
  cmds/delidev-cli/internal/workspace/storage_darwin.go
  cmds/delidev-cli/internal/workspace/storage_linux.go
  cmds/delidev-cli/internal/workspace/storage_windows.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt
