Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(nodeup,cargo-mono): use swc_malloc in binary entrypoints
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/cargo-mono/src/main.rs
  crates/nodeup/Cargo.toml
  crates/nodeup/src/main.rs
  docs/crates-cargo-mono-foundation.md
  docs/crates-nodeup-foundation.md
Due: cargo-fmt

chore(release): bump 2 crate(s)
  crates/cargo-mono/Cargo.toml
  crates/nodeup/Cargo.toml
Due: none

ci: gate dexdex ios build by iOS paths and affected workspace
  .github/workflows/CI.yml
  AGENTS.md
Due: none

ci: tighten dexdex iOS build change detection gate (#326)
  .github/workflows/CI.yml
  AGENTS.md
Due: none

perf: use swc_malloc for nodeup/cargo-mono (#327)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/cargo-mono/src/main.rs
  crates/nodeup/Cargo.toml
  crates/nodeup/src/main.rs
  docs/crates-cargo-mono-foundation.md
  docs/crates-nodeup-foundation.md
Due: cargo-fmt

chore(release): bump nodeup and cargo-mono patch versions
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/nodeup/Cargo.toml
Due: none

chore(release): remove winget publishing and docs contracts
  .github/workflows/release-derun.yml
  .github/workflows/release-dexdex.yml
  .github/workflows/release-nodeup.yml
  AGENTS.md
  CLAUDE.md
  apps/public-docs/derun.mdx
  apps/public-docs/dexdex.mdx
  apps/public-docs/nodeup.mdx
  docs/cmds-derun-foundation.md
  docs/project-derun.md
  docs/project-dexdex.md
  packaging/winget/README.md
  packaging/winget/templates/installer-portable.yaml.tmpl
  packaging/winget/templates/installer-wix.yaml.tmpl
  packaging/winget/templates/locale.en-US.yaml.tmpl
  packaging/winget/templates/version.yaml.tmpl
  scripts/install/derun.ps1
  scripts/install/dexdex-stack.ps1
  scripts/install/nodeup.ps1
  scripts/release/README.md
  scripts/release/update-winget.sh
Due: none

chore(release): use GH_TOKEN for Homebrew workflow updates
  .github/workflows/release-derun.yml
  .github/workflows/release-dexdex.yml
  .github/workflows/release-nodeup.yml
  AGENTS.md
Due: none

ci: fully disable winget publishing paths (#329)
  .github/workflows/release-derun.yml
  .github/workflows/release-dexdex.yml
  .github/workflows/release-nodeup.yml
  AGENTS.md
  CLAUDE.md
  apps/public-docs/derun.mdx
  apps/public-docs/dexdex.mdx
  apps/public-docs/nodeup.mdx
  docs/cmds-derun-foundation.md
  docs/project-derun.md
  docs/project-dexdex.md
  packaging/winget/README.md
  packaging/winget/templates/installer-portable.yaml.tmpl
  packaging/winget/templates/installer-wix.yaml.tmpl
  packaging/winget/templates/locale.en-US.yaml.tmpl
  packaging/winget/templates/version.yaml.tmpl
  scripts/install/derun.ps1
  scripts/install/dexdex-stack.ps1
  scripts/install/nodeup.ps1
  scripts/release/README.md
  scripts/release/update-winget.sh
Due: none

chore: bump nodeup and cargo-mono patch versions (#328)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/nodeup/Cargo.toml
Due: none

fix(release): set Homebrew commit identity before tap commit
  scripts/release/README.md
  scripts/release/update-homebrew.sh
Due: none

ci: configure git identity for Homebrew tap commits (#330)
  scripts/release/README.md
  scripts/release/update-homebrew.sh
Due: none

refactor(servers): remove project prefixes from env keys
  docs/project-dexdex.md
  servers/commit-tracker/cmd/commit-tracker/main.go
  servers/dexdex-main-server/internal/config/config.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/config/config.go
  servers/dexdex-worker-server/internal/handler/agent_exec.go
  servers/remote-file-picker/cmd/remote-file-picker/main.go
  servers/thenv/.env.example
  servers/thenv/internal/service/service.go
  servers/thenv/main.go
Due: go-fmt

chore(nodeup): bump patch version to 0.1.8
  Cargo.lock
  crates/nodeup/Cargo.toml
Due: none

chore(nodeup): bump patch version to 0.1.8 (#331)
  Cargo.lock
  crates/nodeup/Cargo.toml
Due: none

refactor: remove project prefixes from env keys (#332)
  docs/project-dexdex.md
  servers/commit-tracker/cmd/commit-tracker/main.go
  servers/dexdex-main-server/internal/config/config.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/config/config.go
  servers/dexdex-worker-server/internal/handler/agent_exec.go
  servers/remote-file-picker/cmd/remote-file-picker/main.go
  servers/thenv/.env.example
  servers/thenv/internal/service/service.go
  servers/thenv/main.go
Due: go-fmt

typia
  Cargo.lock
  Cargo.toml
  crates/typia/Cargo.toml
  crates/typia/src/lib.rs
Due: cargo-fmt

chore: Initialize crate `typia` (#333)
  Cargo.lock
  Cargo.toml
  crates/typia/Cargo.toml
  crates/typia/src/lib.rs
Due: cargo-fmt

docs: onboard typia project contracts
  AGENTS.md
  crates/AGENTS.md
  crates/typia/README.md
  docs/README.md
  docs/crates-typia-core-foundation.md
  docs/crates-typia-macros-foundation.md
  docs/project-typia.md
Due: none

feat: scaffold typia-macros crate
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/typia-macros/Cargo.toml
  crates/typia-macros/src/lib.rs
  crates/typia/README.md
  docs/crates-typia-core-foundation.md
  docs/crates-typia-macros-foundation.md
  docs/project-typia.md
Due: cargo-fmt

feat: scaffold typia-macros crate and activate typia macro contracts (#334)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/typia-macros/Cargo.toml
  crates/typia-macros/src/lib.rs
  crates/typia/README.md
  docs/README.md
  docs/crates-typia-core-foundation.md
  docs/crates-typia-macros-foundation.md
  docs/project-typia.md
Due: cargo-fmt

feat(typia): add LLMData derive and native lenient parser
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/typia-macros/Cargo.toml
  crates/typia-macros/src/lib.rs
  crates/typia/Cargo.toml
  crates/typia/README.md
  crates/typia/src/lenient_json.rs
  crates/typia/src/lib.rs
  crates/typia/tests/derive_compile_fail.rs
  crates/typia/tests/llm_data_runtime.rs
  crates/typia/tests/ui/llm_data_union.rs
  crates/typia/tests/ui/llm_data_union.stderr
  docs/crates-typia-core-foundation.md
  docs/crates-typia-macros-foundation.md
  docs/project-typia.md
Due: cargo-fmt

fix(typia): collapse surrogate-pair branch for clippy
  crates/typia/src/lenient_json.rs
Due: cargo-fmt

feat(typia): add LLMData derive and native lenient parser (#335)
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/typia-macros/Cargo.toml
  crates/typia-macros/src/lib.rs
  crates/typia/Cargo.toml
  crates/typia/README.md
  crates/typia/src/lenient_json.rs
  crates/typia/src/lib.rs
  crates/typia/tests/derive_compile_fail.rs
  crates/typia/tests/llm_data_runtime.rs
  crates/typia/tests/ui/llm_data_union.rs
  crates/typia/tests/ui/llm_data_union.stderr
  docs/crates-typia-core-foundation.md
  docs/crates-typia-macros-foundation.md
  docs/project-typia.md
Due: cargo-fmt

feat(typia): align lenient parse recovery with TS parity
  crates/typia/README.md
  crates/typia/src/lenient_json.rs
  crates/typia/tests/llm_data_runtime.rs
  crates/typia/tests/llm_json_parse_parity.rs
  docs/crates-typia-core-foundation.md
  docs/project-typia.md
Due: cargo-fmt

feat(typia): align lenient parse recovery with TS parity (#336)
  crates/typia/README.md
  crates/typia/src/lenient_json.rs
  crates/typia/tests/llm_data_runtime.rs
  crates/typia/tests/llm_json_parse_parity.rs
  docs/crates-typia-core-foundation.md
  docs/project-typia.md
Due: cargo-fmt

feat(typia): add Validate runtime and typia-style validation results
  Cargo.lock
  crates/typia/Cargo.toml
  crates/typia/src/lib.rs
  crates/typia/src/validate.rs
  crates/typia/tests/llm_data_runtime.rs
Due: cargo-fmt

feat(typia-macros): add #[typia(tags(...))] parsing and diagnostics
  crates/typia-macros/src/lib.rs
  crates/typia/tests/derive_compile_fail.rs
  crates/typia/tests/ui/llm_data_invalid_tag_alias.rs
  crates/typia/tests/ui/llm_data_invalid_tag_alias.stderr
  crates/typia/tests/ui/llm_data_invalid_tag_target.rs
  crates/typia/tests/ui/llm_data_invalid_tag_target.stderr
  crates/typia/tests/ui/llm_data_non_string_map_key.rs
  crates/typia/tests/ui/llm_data_non_string_map_key.stderr
Due: cargo-fmt

docs(typia): sync Validate and tags contracts
  crates/AGENTS.md
  crates/typia/README.md
  docs/crates-typia-core-foundation.md
  docs/crates-typia-macros-foundation.md
  docs/project-typia.md
Due: none

fix(typia): avoid unsupported regex look-ahead in duration format
  crates/typia/src/validate.rs
Due: cargo-fmt

fix(typia-macros): respect serde default and rename_all in validation
  Cargo.lock
  crates/typia-macros/Cargo.toml
  crates/typia-macros/src/lib.rs
  crates/typia/tests/llm_data_runtime.rs
Due: cargo-fmt

fix(typia-macros): silence rename-rule enum_variant_names lint
  crates/typia-macros/src/lib.rs
Due: cargo-fmt

fix(typia): support serde flatten and signed numeric tags
  crates/typia-macros/src/lib.rs
  crates/typia/tests/llm_data_runtime.rs
  docs/crates-typia-macros-foundation.md
Due: cargo-fmt

fix(typia-macros): handle serde skip and extra field options
  crates/typia-macros/src/lib.rs
  crates/typia/tests/llm_data_runtime.rs
  docs/crates-typia-macros-foundation.md
Due: cargo-fmt

feat(typia): port validate + derive tags (#337)
  Cargo.lock
  crates/AGENTS.md
  crates/typia-macros/Cargo.toml
  crates/typia-macros/src/lib.rs
  crates/typia/Cargo.toml
  crates/typia/README.md
  crates/typia/src/lib.rs
  crates/typia/src/validate.rs
  crates/typia/tests/derive_compile_fail.rs
  crates/typia/tests/llm_data_runtime.rs
  crates/typia/tests/ui/llm_data_invalid_tag_alias.rs
  crates/typia/tests/ui/llm_data_invalid_tag_alias.stderr
  crates/typia/tests/ui/llm_data_invalid_tag_target.rs
  crates/typia/tests/ui/llm_data_invalid_tag_target.stderr
  crates/typia/tests/ui/llm_data_non_string_map_key.rs
  crates/typia/tests/ui/llm_data_non_string_map_key.stderr
  docs/crates-typia-core-foundation.md
  docs/crates-typia-macros-foundation.md
  docs/project-typia.md
Due: cargo-fmt

chore(deps): update root pnpm tool dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): refresh devkit and dexdex workspace deps
  apps/devkit/package.json
  apps/dexdex/package.json
  pnpm-lock.yaml
Due: none

chore(deps): refresh mpapp and public-docs deps
  apps/mpapp/package.json
  apps/public-docs/package.json
  pnpm-lock.yaml
Due: none

chore(go): bump direct root dependencies
  go.mod
  go.sum
Due: none
