Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(derun): reject dot-alias session ids (#109)
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  cmds/derun/internal/state/store.go
  cmds/derun/internal/state/store_test.go
  docs/project-derun.md
Due: go-fmt

feat(commit-tracker): add GitHub Actions report CLI flow (#107)
  cmds/commit-tracker/internal/cli/github_context.go
  cmds/commit-tracker/internal/cli/github_output.go
  cmds/commit-tracker/internal/cli/github_output_test.go
  cmds/commit-tracker/internal/cli/report.go
  cmds/commit-tracker/internal/cli/root.go
  cmds/commit-tracker/internal/cli/root_test.go
  cmds/commit-tracker/internal/contracts/enums.go
  docs/project-devkit-commit-tracker.md
Due: go-fmt

feat(devmon): add daemon cli config scheduler and shell executor
  cmds/devmon/devmon.example.toml
  cmds/devmon/internal/cli/root.go
  cmds/devmon/internal/config/load.go
  cmds/devmon/internal/config/model.go
  cmds/devmon/internal/config/validate.go
  cmds/devmon/internal/contracts/enums.go
  cmds/devmon/internal/executor/shell.go
  cmds/devmon/internal/logging/logger.go
  cmds/devmon/internal/scheduler/runner.go
  cmds/devmon/main.go
Due: go-fmt

test(devmon): add scheduler executor and config coverage
  cmds/devmon/internal/cli/root_test.go
  cmds/devmon/internal/config/config_test.go
  cmds/devmon/internal/executor/shell_test.go
  cmds/devmon/internal/scheduler/runner_test.go
Due: go-fmt

fix(nodeup): resolve clippy needless borrow in uninstall preflight
  crates/nodeup/src/commands/toolchain.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(nodeup): make multi-runtime uninstall atomic (#110)
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(mpapp): emit due coalesced move segments
  apps/mpapp/App.tsx
  apps/mpapp/src/__tests__/move-sampling-policy.test.ts
  apps/mpapp/src/input/move-sampling-policy.ts
  docs/project-mpapp.md
Due: none

feat(devmon): add recurring folder automation daemon CLI (#114)
  AGENTS.md
  cmds/AGENTS.md
  cmds/devmon/devmon.example.toml
  cmds/devmon/internal/cli/root.go
  cmds/devmon/internal/cli/root_test.go
  cmds/devmon/internal/config/config_test.go
  cmds/devmon/internal/config/load.go
  cmds/devmon/internal/config/model.go
  cmds/devmon/internal/config/validate.go
  cmds/devmon/internal/contracts/enums.go
  cmds/devmon/internal/executor/shell.go
  cmds/devmon/internal/executor/shell_test.go
  cmds/devmon/internal/logging/logger.go
  cmds/devmon/internal/scheduler/runner.go
  cmds/devmon/internal/scheduler/runner_test.go
  cmds/devmon/main.go
  docs/monorepo.md
  docs/project-devmon.md
Due: go-fmt

fix(mpapp): schedule trailing move emission by deadline
  apps/mpapp/App.tsx
  apps/mpapp/src/__tests__/move-sampling-policy.test.ts
  apps/mpapp/src/input/move-sampling-policy.ts
  docs/project-mpapp.md
Due: none

feat(mpapp): add coalesced move throttle policy (#113)
  apps/mpapp/App.tsx
  apps/mpapp/src/__tests__/move-sampling-policy.test.ts
  apps/mpapp/src/components/touchpad-surface.tsx
  apps/mpapp/src/contracts/enums.ts
  apps/mpapp/src/input/move-sampling-policy.ts
  docs/project-mpapp.md
Due: none

fix(devkit-thenv): preserve policy drafts when filtering audit
  apps/devkit/src/app/apps/thenv/page.test.tsx
  apps/devkit/src/apps/thenv/README.md
  apps/devkit/src/apps/thenv/thenv-console.tsx
  docs/project-thenv.md
Due: none

fix(devkit): resolve commit-tracker log context build typing
  apps/devkit/src/apps/commit-tracker/logging.ts
Due: none

fix(devkit): align commit-tracker web logs with structured fields (#111)
  apps/devkit/src/app/apps/commit-tracker/page.test.tsx
  apps/devkit/src/apps/commit-tracker/commit-tracker-app.tsx
  apps/devkit/src/apps/commit-tracker/logging.ts
  docs/project-devkit-commit-tracker.md
Due: none

fix(devkit-thenv): expose audit outcome and time-range filters (#115)
  apps/devkit/src/app/api/thenv/audit/route.test.ts
  apps/devkit/src/app/api/thenv/audit/route.ts
  apps/devkit/src/app/apps/thenv/page.test.tsx
  apps/devkit/src/app/globals.css
  apps/devkit/src/apps/thenv/README.md
  apps/devkit/src/apps/thenv/api-client.ts
  apps/devkit/src/apps/thenv/contracts.ts
  apps/devkit/src/apps/thenv/thenv-console.tsx
  docs/project-thenv.md
Due: none

fix(devkit): update home status copy for live mini-app maturity
  apps/devkit/src/app/page.test.tsx
  apps/devkit/src/app/page.tsx
  docs/project-devkit.md
Due: none

fix(derun): reject non-whole-second retention values
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  docs/project-derun.md
Due: go-fmt

fix(cargo-mono): add changed path include/exclude filters
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/cargo-mono/src/cli.rs
  crates/cargo-mono/src/commands/changed.rs
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/commands/targeting.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(devkit): align home status copy with live mini-app maturity (#122)
  apps/devkit/src/app/page.test.tsx
  apps/devkit/src/app/page.tsx
  docs/project-devkit.md
Due: none

fix(derun): reject non-whole-second retention values (#123)
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  docs/project-derun.md
Due: go-fmt

fix(nodeup): emit JSON error envelopes in json mode
  crates/nodeup/src/errors.rs
  crates/nodeup/src/main.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(cargo-mono): add configurable changed path filters (#124)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/cargo-mono/src/cli.rs
  crates/cargo-mono/src/commands/changed.rs
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/commands/targeting.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(devkit): propagate commit-tracker rpc status in series/report proxies
  apps/devkit/src/app/api/commit-tracker/report/route.test.ts
  apps/devkit/src/app/api/commit-tracker/report/route.ts
  apps/devkit/src/app/api/commit-tracker/series/route.test.ts
  apps/devkit/src/app/api/commit-tracker/series/route.ts
  docs/project-devkit-commit-tracker.md
Due: none

fix(mpapp): persist input preferences and axis inversion
  apps/mpapp/App.tsx
  apps/mpapp/src/__tests__/input-preferences-store.test.ts
  apps/mpapp/src/__tests__/translate-gesture.test.ts
  apps/mpapp/src/contracts/types.ts
  apps/mpapp/src/input/translate-gesture.ts
  apps/mpapp/src/preferences/input-preferences-store.ts
  docs/project-mpapp.md
Due: none

fix(devkit): enforce strict thenv proxy input validation
  apps/devkit/src/app/api/thenv/_lib/connect.ts
  apps/devkit/src/app/api/thenv/_lib/validation.ts
  apps/devkit/src/app/api/thenv/activate/route.ts
  apps/devkit/src/app/api/thenv/audit/route.ts
  apps/devkit/src/app/api/thenv/policy/route.ts
  apps/devkit/src/app/api/thenv/versions/route.ts
Due: none

test(devkit): cover thenv proxy validation boundaries
  apps/devkit/src/app/api/thenv/activate/route.test.ts
  apps/devkit/src/app/api/thenv/audit/route.test.ts
  apps/devkit/src/app/api/thenv/policy/route.test.ts
  apps/devkit/src/app/api/thenv/versions/route.test.ts
Due: none

docs(thenv): document devkit proxy validation contract
  docs/project-thenv.md
Due: none

feat(devmon): add macOS daemon service and menubar control
  cmds/devmon/internal/cli/root.go
  cmds/devmon/internal/cli/root_test.go
  cmds/devmon/internal/contracts/enums.go
  cmds/devmon/internal/menubar/menubar_darwin.go
  cmds/devmon/internal/menubar/menubar_other.go
  cmds/devmon/internal/paths/paths.go
  cmds/devmon/internal/scheduler/runner.go
  cmds/devmon/internal/servicecontrol/controller.go
  cmds/devmon/internal/servicecontrol/controller_darwin.go
  cmds/devmon/internal/servicecontrol/controller_darwin_test.go
  cmds/devmon/internal/servicecontrol/controller_other.go
  cmds/devmon/internal/servicecontrol/controller_other_test.go
  cmds/devmon/internal/state/store.go
  cmds/devmon/internal/state/store_test.go
  docs/monorepo.md
  docs/project-devmon.md
  go.mod
  go.sum
Due: go-fmt

feat(derun): add windows conpty transport path
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  cmds/derun/internal/transport/run_windows_conpty.go
  cmds/derun/internal/transport/run_windows_conpty_stub.go
Due: go-fmt

fix(devkit): preserve commit-tracker rpc status in series/report proxies (#126)
  apps/devkit/src/app/api/commit-tracker/report/route.test.ts
  apps/devkit/src/app/api/commit-tracker/report/route.ts
  apps/devkit/src/app/api/commit-tracker/series/route.test.ts
  apps/devkit/src/app/api/commit-tracker/series/route.ts
  docs/project-devkit-commit-tracker.md
Due: none

test(derun): add contract e2e and framed mcp coverage
  cmds/derun/internal/e2e/contract_posix_test.go
  cmds/derun/internal/e2e/contract_test.go
  cmds/derun/internal/e2e/contract_windows_test.go
  cmds/derun/internal/mcp/server_contract_test.go
Due: go-fmt

fix(nodeup): ignore delegated run args in output detection
  crates/nodeup/src/main.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(mpapp): avoid preference hydration overwrite race
  apps/mpapp/App.tsx
  docs/project-mpapp.md
Due: none

docs(derun): map behavioral matrix to automated tests
  docs/project-derun.md
Due: none

fix(devkit): keep upstream thenv parse failures as 502
  apps/devkit/src/app/api/thenv/_lib/validation.ts
  apps/devkit/src/app/api/thenv/activate/route.test.ts
  apps/devkit/src/app/api/thenv/activate/route.ts
  apps/devkit/src/app/api/thenv/policy/route.test.ts
  apps/devkit/src/app/api/thenv/policy/route.ts
  docs/project-thenv.md
Due: none

fix(devmon): address review on install preflight and menubar keepalive
  cmds/devmon/internal/servicecontrol/controller_darwin.go
  cmds/devmon/internal/servicecontrol/controller_darwin_test.go
  docs/project-devmon.md
Due: go-fmt

docs(agents): require gh cli for github.com access
  AGENTS.md
Due: none

fix(devkit): enforce strict thenv proxy validation (#132)
  apps/devkit/src/app/api/thenv/_lib/connect.ts
  apps/devkit/src/app/api/thenv/_lib/validation.ts
  apps/devkit/src/app/api/thenv/activate/route.test.ts
  apps/devkit/src/app/api/thenv/activate/route.ts
  apps/devkit/src/app/api/thenv/audit/route.test.ts
  apps/devkit/src/app/api/thenv/audit/route.ts
  apps/devkit/src/app/api/thenv/policy/route.test.ts
  apps/devkit/src/app/api/thenv/policy/route.ts
  apps/devkit/src/app/api/thenv/versions/route.test.ts
  apps/devkit/src/app/api/thenv/versions/route.ts
  docs/project-thenv.md
Due: none

docs(agents): require gh cli for github.com access (#134)
  AGENTS.md
Due: none

fix(nodeup): tighten json output detection and logging defaults
  crates/nodeup/src/logging.rs
  crates/nodeup/src/main.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(mpapp): guard preference writes after hydration failure
  apps/mpapp/App.tsx
  docs/project-mpapp.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
