Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

ci(react-forge): remove Windows ARM from regular CI
  docs/packages-react-forge-contract.md
  docs/packages-react-forge-release-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/native-matrices.json
  scripts/ci/plan.test.mjs
  scripts/ci/react-forge-release.test.mjs
Due: none

fix(delidev): gate named workspace deletion
  cmds/delidev-cli/internal/server/session_deletions.go
  cmds/delidev-cli/internal/server/session_deletions_test.go
Due: go-fmt

feat(delidev): inherit source-specific harness defaults
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/harness-inheritance.test.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/settings-configuration.integration.test.tsx
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/configuration_transfer.go
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/harness_defaults.go
  cmds/delidev-cli/internal/domain/harness_defaults_test.go
  cmds/delidev-cli/internal/domain/model_identity.go
  cmds/delidev-cli/internal/rpc/common.go
  cmds/delidev-cli/internal/server/agent_worker_configuration.go
  cmds/delidev-cli/internal/server/agent_worker_configuration_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/store/execution.go
  cmds/delidev-cli/internal/store/harness_defaults.go
  cmds/delidev-cli/internal/store/harness_defaults_test.go
  cmds/delidev-cli/internal/store/source_routing.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/configuration-identity.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/inline-models.test.ts
  protos/delidev/allocations.json
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/system.pb.go
Due: go-fmt

fix(delidev): retain selected profile authentication at admission
  cmds/delidev-cli/internal/store/execution.go
Due: go-fmt

fix(delidev): convert terminal capability errors
  cmds/delidev-cli/internal/worker/terminals.go
Due: go-fmt

test(delidev): wait for repository inventory rows
  apps/delidev/src/settings.test.tsx
Due: none

test(delidev): requery retry status control
  apps/delidev/src/settings.test.tsx
Due: none

ci(delidev): verify reclaimed sidebar shell geometry
  .github/AGENTS.md
  .github/workflows/CI.yml
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

fix(delidev): use semantic focus colors across application controls
  apps/delidev/scripts/test-appearance-colors.mjs
  apps/delidev/src/agent-configuration.css
  apps/delidev/src/appearance-colors.fixture.css
  apps/delidev/src/appearance-colors.fixture.tsx
  apps/delidev/src/disclosure.css
  apps/delidev/src/project-list.css
  apps/delidev/src/session.css
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): apply complete bundled semantic palettes
  apps/delidev/scripts/test-appearance-colors.mjs
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/appearance.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/appearance-colors.fixture.css
  apps/delidev/src/appearance-colors.fixture.tsx
  apps/delidev/src/appearance-palettes.json
  apps/delidev/src/appearance-palettes.test.ts
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

fix(delidev): show command previews and direct tool output
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-tool-turn-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/native-claude-tool.tsx
  apps/delidev/src/native-shell.tsx
  apps/delidev/src/tool-command.test.tsx
  apps/delidev/src/tool-command.tsx
  apps/delidev/src/tool-turn-layout.fixture.tsx
  apps/delidev/src/tool-turn-projection.ts
  apps/delidev/src/tool-turn-transcript.css
  apps/delidev/src/tool-turn-transcript.test.tsx
  apps/delidev/src/tool-turn-transcript.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

ci(delidev): include transcript localization validation
  .github/workflows/CI.yml
Due: none

ci(delidev): verify command transcript presentation geometry
  .github/AGENTS.md
  .github/workflows/CI.yml
  apps/delidev/scripts/test-tool-turn-layout.mjs
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

ci(react-forge): remove Windows ARM from regular CI (#2852)
  docs/packages-react-forge-contract.md
  docs/packages-react-forge-release-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/native-matrices.json
  scripts/ci/plan.test.mjs
  scripts/ci/react-forge-release.test.mjs
Due: none
