Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(taskflow): normalize watcher paths before graph matching
  crates/taskflow/AGENTS.md
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): recover accepted runs before any check was claimed
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/runner.go
  cmds/async-commit-hook/internal/core/unstarted_recovery_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(devhud): wait for API origin focus restore
  apps/devhud/src/App.test.tsx
Due: none

fix(taskflow): pass portable relative paths to JavaScript test runners
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

perf(ach): stream workspace blobs through one Git batch
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/git.go
  cmds/async-commit-hook/internal/core/git_blobs.go
  cmds/async-commit-hook/internal/core/git_blobs_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

test(taskflow): wait for session progress under CI startup load
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): propagate check persistence failures to workers
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/persistence_failure_test.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): bound structured failure summaries across each run
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/failure_summary.go
  cmds/async-commit-hook/internal/core/failure_summary_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/cmds-async-commit-hook-contract.md
  docs/protos-async-commit-hook-v1-contract.md
Due: go-fmt

fix(taskflow): validate readiness commands and timeouts before execution
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): retain cleanup ownership of Windows update helpers
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/service.go
  cmds/async-commit-hook/internal/core/update.go
  cmds/async-commit-hook/internal/core/update_cleanup.go
  cmds/async-commit-hook/internal/core/update_cleanup_test.go
  docs/cmds-async-commit-hook-release-contract.md
Due: go-fmt

fix(taskflow): reject ignored head comparison options
  apps/public-docs/docs/taskflow/commands.md
  crates/taskflow/src/cli.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): verify output digests before suppressing unchanged work
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): stop polling completed execution details
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/run-detail.test.tsx
  docs/apps-async-commit-hook-contract.md
Due: none

fix(taskflow): recheck inputs before restoring cached outputs
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): preserve history when checkout paths are reused
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/registry.go
  cmds/async-commit-hook/internal/core/registry_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): validate shard selections before running prerequisites
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): coordinate cache cleaning with reads and writes
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/src/cli.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): resolve cache link chains before restoring outputs
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(ach): record repair evidence and unresolved Unix ownership gap
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(taskflow): evaluate Cargo conditions for selected task platforms
  Cargo.lock
  apps/public-docs/docs/taskflow/configuration.md
  crates/taskflow/AGENTS.md
  crates/taskflow/Cargo.toml
  crates/taskflow/src/discover.rs
  crates/taskflow/src/graph.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): preserve installation after shard preflight
  crates/taskflow/src/cli.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(devhud): preserve auth callbacks through origin hydration
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): drain callbacks after cleanup failure
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(ach): retain kernel ownership of daemonized descendants
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/model.go
  cmds/async-commit-hook/internal/core/process_scope_darwin.go
  cmds/async-commit-hook/internal/core/process_scope_darwin_test.go
  cmds/async-commit-hook/internal/core/process_scope_linux.go
  cmds/async-commit-hook/internal/core/process_scope_linux_test.go
  cmds/async-commit-hook/internal/core/process_scope_unix.go
  cmds/async-commit-hook/internal/core/process_scope_unix_test.go
  cmds/async-commit-hook/internal/core/process_unix.go
  cmds/async-commit-hook/internal/core/process_windows.go
  cmds/async-commit-hook/internal/core/runner.go
  cmds/async-commit-hook/internal/core/scheduler_test.go
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

test(ach): allow native shell startup in persistence fixtures
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/persistence_failure_test.go
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

fix(taskflow): isolate designated secrets between grouped tasks
  crates/taskflow/AGENTS.md
  crates/taskflow/src/environment.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): distinguish libtest units by package identity
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): union restricted stepped cron day fields
  crates/taskflow/src/schedule.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): preserve cached directory symlink types
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): scope native metadata coverage to owning projects
  crates/taskflow/AGENTS.md
  crates/taskflow/src/discover.rs
  crates/taskflow/src/graph.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): preserve supervisor account lifecycle ownership
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/lifecycle.go
  cmds/async-commit-hook/internal/core/process_scope_darwin.go
  cmds/async-commit-hook/internal/core/process_scope_darwin_test.go
  cmds/async-commit-hook/internal/core/process_scope_linux.go
  cmds/async-commit-hook/internal/core/process_scope_linux_test.go
  cmds/async-commit-hook/internal/core/process_scope_unix.go
  cmds/async-commit-hook/internal/core/process_scope_unix_test.go
  cmds/async-commit-hook/internal/core/process_windows.go
  cmds/async-commit-hook/internal/core/query.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

fix(ach): reject conflicting environment secrecy declarations
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/environment_conflict_test.go
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

fix(taskflow): provide unchanged reporting inside Docker tasks
  apps/public-docs/docs/taskflow/commands.md
  crates/taskflow/AGENTS.md
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): normalize Git commit subjects for transport
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/commit_text_test.go
  cmds/async-commit-hook/internal/core/git.go
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

fix(taskflow): export stable local Cargo dependency identities
  crates/taskflow/src/discover.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

perf(ach): bound Go report output tail copying
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/report_tail.go
  cmds/async-commit-hook/internal/core/report_tail_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

fix(taskflow): enforce service deadlines across readiness and execution
  apps/public-docs/docs/taskflow/configuration.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): reject overflowing retention ages before pruning
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/query.go
  cmds/async-commit-hook/internal/core/retention_bounds_test.go
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

fix(taskflow): include Unix input permissions in task cache keys
  apps/public-docs/docs/taskflow/cache.md
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(ach): record complete fourth-pass repair verification
  docs/cmds-async-commit-hook-evidence.md
Due: none
