Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

test(realqa): assert aged cutoff is not back-billed
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): expect aged grace cutoff
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): isolate aged cutoff fixture
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): preserve immutable cutoff history
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(devhud): build Deck client before tests
  apps/devhud/package.json
Due: none

fix(realqa): replay persisted storage attempts
  servers/devhud-realqa/db/migrations/000009_recurring_storage_billing.sql
  servers/devhud-realqa/db/migrations/security_test.go
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/db/query/storage_billing.sql
  servers/devhud-realqa/internal/database/dbgen/models.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/database/dbgen/storage_billing.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_charging.go
  servers/devhud-realqa/internal/service/storage_rebind.go
  servers/devhud-realqa/internal/service/submission_billing_test.go
  servers/devhud-realqa/internal/service/submission_issue.go
Due: go-fmt

fix(devhud): address Deck refresh review
  apps/devhud/package.json
  servers/devhud-deck/db/query/views.sql
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/dbgen/views.sql.go
  servers/devhud-deck/internal/database/notifications.go
  servers/devhud-deck/internal/database/refresh.go
  servers/devhud-deck/internal/database/refresh_integration_test.go
  servers/devhud-deck/internal/service/device.go
  servers/devhud-deck/internal/service/refresh.go
Due: go-fmt

fix(realqa): close recurring storage review gaps
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_charging.go
  servers/devhud-realqa/internal/service/storage_rebind.go
Due: go-fmt

test(realqa): scope pending deletion fixture
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(realqa): close storage review gaps
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_charging.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_billing_test.go
  servers/devhud-realqa/internal/service/submission_issue.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

test(realqa): authorize recovery replay fixture
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): type expired attempt timestamps
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): age expired issue attempt
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(realqa): handle storage grace races
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_charging.go
Due: go-fmt

fix(realqa): preserve storage cleanup replays
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_rebind.go
Due: go-fmt

fix(realqa): version orphan rebind cleanup
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_rebind.go
Due: go-fmt

fix(realqa): settle rebind cutoffs before replacement
  servers/devhud-realqa/db/migrations/000009_recurring_storage_billing.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/migrations/security_test.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_rebind.go
Due: go-fmt

fix(realqa): close recurring billing review gaps
  servers/devhud-realqa/db/migrations/000009_recurring_storage_billing.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/query/storage_billing.sql
  servers/devhud-realqa/internal/database/dbgen/storage_billing.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_charging.go
  servers/devhud-realqa/internal/service/storage_rebind.go
  servers/devhud-realqa/internal/service/submission_billing_test.go
Due: go-fmt

fix(realqa): preserve storage recovery recipes
  AGENTS.md
  docs/project-delibase.md
  docs/project-devhud.md
  docs/protos-delibase-api-contract.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-delibase-server-foundation.md
  docs/servers-devhud-realqa-foundation.md
  servers/AGENTS.md
  servers/delibase/internal/service/authorized_usage.go
  servers/delibase/internal/service/background_authorization_integration_test.go
  servers/devhud-realqa/db/migrations/000009_recurring_storage_billing.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/db/query/storage_billing.sql
  servers/devhud-realqa/internal/database/dbgen/models.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/database/dbgen/storage_billing.sql.go
  servers/devhud-realqa/internal/delibase/client.go
  servers/devhud-realqa/internal/delibase/client_test.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_charging.go
  servers/devhud-realqa/internal/service/storage_rebind.go
  servers/devhud-realqa/internal/service/submission_billing.go
  servers/devhud-realqa/internal/service/submission_billing_test.go
  servers/devhud-realqa/internal/service/submission_issue.go
Due: go-fmt

fix(realqa): finalize recurring storage recovery
  AGENTS.md
  docs/protos-delibase-api-contract.md
  docs/servers-devhud-realqa-foundation.md
  servers/AGENTS.md
  servers/delibase/internal/service/authorized_usage.go
  servers/delibase/internal/service/background_authorization.go
  servers/delibase/internal/service/background_authorization_test.go
  servers/devhud-realqa/db/migrations/000009_recurring_storage_billing.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/query/storage_billing.sql
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/storage_billing.sql.go
  servers/devhud-realqa/internal/delibase/client.go
  servers/devhud-realqa/internal/delibase/client_test.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/storage_charging.go
  servers/devhud-realqa/internal/service/storage_rebind.go
  servers/devhud-realqa/internal/service/submission_billing.go
Due: go-fmt

fix(deck): align saved query length limit
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  servers/devhud-deck/internal/query/query.go
  servers/devhud-deck/internal/query/query_test.go
Due: go-fmt

fix(devhud): repair merged CI fixtures
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.72c8fd8452.js
  apps/delidev-app/dist/static/js/index.daf5df6db6.js
  apps/delidev-app/dist/sw.js
  servers/devhud-deck/internal/database/database_integration_test.go
Due: go-fmt

fix(deck): stop search at full final page
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
Due: go-fmt

feat(devhud): register desktop RealQA production tool
  AGENTS.md
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/scripts/check-widget-artifacts.mjs
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/desktop-main.json
  apps/devhud/src-tauri/capabilities/realqa-composer.json
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_transport.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/realqa/RealQaToolEntry.test.tsx
  apps/devhud/src/realqa/RealQaToolEntry.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.test.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
  apps/devhud/src/realqa/product/contracts.test.ts
  apps/devhud/src/realqa/product/contracts.ts
  apps/devhud/src/realqa/transport.test.ts
  apps/devhud/src/realqa/transport.ts
  apps/devhud/src/styles.css
  apps/devhud/src/tools/registry.test.ts
  apps/devhud/src/tools/registry.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  pnpm-lock.yaml
Due: cargo-fmt

fix(devhud): address RealQA workspace review
  apps/devhud/src-tauri/src/realqa_transport.rs
  apps/devhud/src/realqa/product/RealQaWorkspace.test.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
  apps/devhud/src/realqa/product/contracts.ts
Due: cargo-fmt

fix(devhud): keep body measurement origin-free
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
Due: none

fix(devhud): address RealQA review feedback
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/realqa-composer.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_transport.rs
  apps/devhud/src/realqa/product/RealQaWorkspace.test.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
  apps/devhud/src/realqa/product/contracts.ts
  apps/devhud/src/realqa/product/uuid.ts
  apps/devhud/src/realqa/transport.test.ts
  apps/devhud/src/realqa/transport.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address RealQA production review
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/realqa_transport.rs
  apps/devhud/src/auth/SessionProvider.test.tsx
  apps/devhud/src/auth/contracts.ts
  apps/devhud/src/realqa/RealQaToolEntry.test.tsx
  apps/devhud/src/realqa/RealQaToolEntry.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.test.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
  apps/devhud/src/realqa/product/contracts.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address RealQA review feedback
  apps/devhud/package.json
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src/auth/contracts.ts
  apps/devhud/src/realqa/RealQaToolEntry.test.tsx
  apps/devhud/src/realqa/RealQaToolEntry.tsx
  apps/devhud/src/realqa/onlineSubmission.ts
  apps/devhud/src/realqa/product/RealQaWorkspace.test.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
  apps/devhud/src/realqa/product/contracts.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

refactor(thenv): remove thenv project
  .github/workflows/CI.yml
  AGENTS.md
  CLAUDE.md
  README.md
  apps/public-docs/docs/projects-overview.md
  cmds/AGENTS.md
  cmds/thenv/internal/cli/root.go
  cmds/thenv/internal/cli/root_test.go
  cmds/thenv/internal/contracts/enums.go
  cmds/thenv/internal/logging/logger.go
  cmds/thenv/main.go
  docs/README.md
  docs/cmds-thenv-cli-foundation.md
  docs/project-thenv.md
  docs/servers-thenv-server-foundation.md
  lefthook.yml
  pnpm-lock.yaml
  scripts/generate-go-proto.sh
  scripts/generate-proto.sh
  servers/AGENTS.md
  servers/thenv/.env.example
  servers/thenv/.gitignore
  servers/thenv/buf.gen.yaml
  servers/thenv/buf.yaml
  servers/thenv/generate.go
  servers/thenv/internal/contracts/enums.go
  servers/thenv/internal/logging/logger.go
  servers/thenv/internal/service/service.go
  servers/thenv/internal/service/service_test.go
  servers/thenv/main.go
  servers/thenv/package.json
  servers/thenv/proto/thenv/v1/thenv.proto
  servers/thenv/scripts/generate-go-proto.sh
Due: go-fmt

refactor(thenv): remove thenv project (#794)
  .github/workflows/CI.yml
  AGENTS.md
  CLAUDE.md
  README.md
  apps/public-docs/docs/projects-overview.md
  cmds/AGENTS.md
  cmds/thenv/internal/cli/root.go
  cmds/thenv/internal/cli/root_test.go
  cmds/thenv/internal/contracts/enums.go
  cmds/thenv/internal/logging/logger.go
  cmds/thenv/main.go
  docs/README.md
  docs/cmds-thenv-cli-foundation.md
  docs/project-thenv.md
  docs/servers-thenv-server-foundation.md
  lefthook.yml
  pnpm-lock.yaml
  scripts/generate-go-proto.sh
  scripts/generate-proto.sh
  servers/AGENTS.md
  servers/thenv/.env.example
  servers/thenv/.gitignore
  servers/thenv/buf.gen.yaml
  servers/thenv/buf.yaml
  servers/thenv/generate.go
  servers/thenv/internal/contracts/enums.go
  servers/thenv/internal/logging/logger.go
  servers/thenv/internal/service/service.go
  servers/thenv/internal/service/service_test.go
  servers/thenv/main.go
  servers/thenv/package.json
  servers/thenv/proto/thenv/v1/thenv.proto
  servers/thenv/scripts/generate-go-proto.sh
Due: go-fmt

fix(devhud): address RealQA review feedback
  apps/devhud/src-tauri/src/realqa_transport.rs
  apps/devhud/src/realqa/product/RealQaWorkspace.test.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
  apps/devhud/src/realqa/product/contracts.ts
  apps/devhud/src/realqa/transport.ts
  apps/devhud/src/ui/SettingsPanel.tsx
Due: cargo-fmt

feat(devhud): register Deck production tool
  AGENTS.md
  README.md
  apps/AGENTS.md
  apps/devhud/.gitignore
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/desktop-main.json
  apps/devhud/src-tauri/capabilities/mobile-main.json
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src-tauri/src/deck_transport.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/deck/DeckProvider.tsx
  apps/devhud/src/deck/DeckToolEntry.tsx
  apps/devhud/src/deck/DeckWorkspace.test.tsx
  apps/devhud/src/deck/DeckWorkspace.tsx
  apps/devhud/src/deck/QueryEditor.tsx
  apps/devhud/src/deck/contracts.ts
  apps/devhud/src/deck/nativeGateway.ts
  apps/devhud/src/deck/query.test.ts
  apps/devhud/src/deck/query.ts
  apps/devhud/src/deck/transport.ts
  apps/devhud/src/deck/uuid.test.ts
  apps/devhud/src/deck/uuid.ts
  apps/devhud/src/styles.css
  apps/devhud/src/tools/registry.test.ts
  apps/devhud/src/tools/registry.ts
  apps/devhud/src/ui/state.tsx
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  pnpm-lock.yaml
Due: cargo-fmt

fix(devhud): enforce RealQA review boundaries
  apps/devhud/src/realqa/product/RealQaWorkspace.test.tsx
  apps/devhud/src/realqa/product/RealQaWorkspace.tsx
  apps/devhud/src/realqa/product/contracts.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): validate Deck widget artifacts
  apps/devhud/scripts/check-widget-artifacts.mjs
Due: none

fix(devhud): preserve RealQA authorization failures
  apps/devhud/src-tauri/src/realqa_transport.rs
  apps/devhud/src/realqa/product/contracts.ts
  apps/devhud/src/realqa/transport.ts
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): address Deck production review
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/auth-bridge/android/src/main/java/dev/deli/devhud/auth/DevHudAuthPlugin.kt
  apps/devhud/src-tauri/auth-bridge/build.rs
  apps/devhud/src-tauri/auth-bridge/ios/Sources/DevHudAuthPlugin/DevHudAuthPlugin.swift
  apps/devhud/src-tauri/auth-bridge/permissions/autogenerated/reference.md
  apps/devhud/src-tauri/auth-bridge/src/mobile.rs
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/desktop-main.json
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src-tauri/src/deck_transport.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/deck/DeckProvider.tsx
  apps/devhud/src/deck/DeckToolEntry.tsx
  apps/devhud/src/deck/DeckWorkspace.test.tsx
  apps/devhud/src/deck/DeckWorkspace.tsx
  apps/devhud/src/deck/contracts.ts
  apps/devhud/src/deck/nativeGateway.ts
  apps/devhud/src/deck/transport.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  protos/AGENTS.md
  protos/devhud-deck/devhud.deck.v1.binpb
  protos/devhud-deck/gen/go/devhud-deck/v1/deckv1connect/view.connect.go
  protos/devhud-deck/gen/go/devhud-deck/v1/view.pb.go
  protos/devhud-deck/gen/ts/devhud-deck/v1/view_pb.ts
  protos/devhud-deck/v1/view.proto
  servers/AGENTS.md
  servers/devhud-deck/internal/authn/authn.go
  servers/devhud-deck/internal/service/view.go
Due: cargo-fmt, go-fmt

test(devhud): include Deck owner discovery RPC
  protos/devhud-deck/contract_test.go
Due: go-fmt

fix(devhud): address RealQA production review
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/scripts/check-widget-artifacts.mjs
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/realqa/RealQaToolEntry.test.tsx
  apps/devhud/src/realqa/RealQaToolEntry.tsx
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
  apps/devhud/src/tools/registry.test.ts
  apps/devhud/src/tools/registry.ts
Due: cargo-fmt

fix(devhud): retry stalled Windows CEF smoke
  apps/devhud/scripts/smoke-desktop.mjs
  docs/apps-devhud-foundation.md
Due: none
