Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): retain cached empty pull request repository guidance
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/pull-requests.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

chore(delidev): refresh generated widget conflict guidance (#2784)
  apps/delidev/macos-widget/Shared/Localization.swift
Due: none

fix(delidev): prioritize selected appearance palettes
  apps/delidev/package.json
  apps/delidev/scripts/test-appearance-colors.mjs
  apps/delidev/src/appearance-preferences.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve automatic title cleanup uncertainty
  cmds/delidev-cli/internal/worker/title_cleanup.go
  cmds/delidev-cli/internal/worker/title_cleanup_test.go
  cmds/delidev-cli/internal/worker/title_execution.go
  docs/cmds-delidev-session-titles-contract.md
Due: go-fmt

fix(delidev): admit selected revert history in native state checks
  cmds/delidev-cli/internal/harness/codex/revert_test.go
  cmds/delidev-cli/internal/harness/codex/thread_decode.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): preserve UNC image-view reference scope
  cmds/delidev-cli/internal/workspace/image_view.go
  cmds/delidev-cli/internal/workspace/image_view_test.go
  cmds/delidev-cli/internal/workspace/result.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

feat(delidev): present paid credits with exact balance disclosure
  apps/delidev/src/locales/en/paid-credits.json
  apps/delidev/src/locales/ko/paid-credits.json
  apps/delidev/src/subscription-paid-credits.css
  apps/delidev/src/subscription-paid-credits.test.tsx
  apps/delidev/src/subscription-paid-credits.tsx
  apps/delidev/src/subscription-settings.test.tsx
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-subscription-contract.md
Due: none

fix(delidev): retain revert fences and draft edit history
  apps/delidev/src/App.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/session-revert.integration.test.tsx
  apps/delidev/src/session-revert.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): bind deletion proofs to worker obligations
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): validate compaction history before backup quarantine
  cmds/delidev-cli/internal/store/backup_restore_image.go
  cmds/delidev-cli/internal/store/backup_restore_job_limits_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): announce confirmed unavailable skill status
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): fence skill announcements across scope changes
  apps/delidev/src/skill-completion.test.tsx
Due: none

fix(delidev): preserve queue presentation during background reads
  apps/delidev/src/queue-read-presentation.test.tsx
  apps/delidev/src/queue-read-presentation.tsx
  apps/delidev/src/session-queue-recovery.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/waiting-queue.test.tsx
  apps/delidev/src/waiting-queue.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): close embedded browser children without closing product windows
  apps/delidev/src-tauri/src/browser_child_close.rs
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/main.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): record queued browser child teardown
  apps/delidev/src-tauri/src/browser_host.rs
Due: cargo-fmt

test(delidev): compare Claude recovery operation claim versions
  cmds/delidev-cli/internal/server/session_claude_recovery_native_test.go
  cmds/delidev-cli/internal/server/session_opencode_fork_recovery_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): count escaped Claude web metadata bytes
  apps/delidev/src/go-json-bytes.ts
  apps/delidev/src/native-claude-citations.tsx
  apps/delidev/src/native-claude-message.tsx
  apps/delidev/src/native-claude-web.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): settle original Runner inspection gates
  apps/delidev/src/AGENTS.md
  apps/delidev/src/jobs.test.tsx
  apps/delidev/src/jobs.tsx
  apps/delidev/src/machine-settings.test.tsx
  apps/delidev/src/machine-settings.tsx
  apps/delidev/src/runner-remediation.tsx
  apps/delidev/src/schedules.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): advance work scans past blocked cleanup jobs
  cmds/delidev-cli/internal/server/worker_dependency_rescan_test.go
  cmds/delidev-cli/internal/server/workers.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): retain exact generic Git source paths
  cmds/delidev-cli/internal/domain/repository_clone.go
  cmds/delidev-cli/internal/domain/repository_clone_test.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  cmds/delidev-cli/internal/server/repositories_test.go
  cmds/delidev-cli/internal/workspace/prepare_test.go
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

fix(delidev): propagate managed clone symbolic head failures
  cmds/delidev-cli/internal/workspace/remote_clone.go
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

fix(delidev): reject protected display names in quota identifiers
  cmds/delidev-cli/internal/harness/codex/quota.go
  cmds/delidev-cli/internal/harness/codex/quota_reflection_test.go
  cmds/delidev-cli/internal/server/subscription_server_quota.go
  cmds/delidev-cli/internal/server/subscription_server_quota_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

perf(delidev): decode credential JSON escapes with bounded state
  cmds/delidev-cli/internal/outbound/credential_json.go
  cmds/delidev-cli/internal/outbound/credential_json_test.go
  docs/cmds-delidev-network-contract.md
Due: go-fmt

fix(delidev): release Sidechat retries rejected before Fork claim
  cmds/delidev-cli/internal/server/sidechat_retry.go
  cmds/delidev-cli/internal/server/sidechat_retry_preclaim_test.go
  cmds/delidev-cli/internal/server/workers.go
  docs/cmds-delidev-sidechat-contract.md
Due: go-fmt

fix(delidev): preserve diagnostic words around private short values
  apps/delidev/scripts/desktop-diagnostics.mjs
  apps/delidev/scripts/run-desktop.test.mjs
Due: none

fix(delidev): sanitize desktop launch child diagnostics
  apps/delidev/scripts/desktop-diagnostics.mjs
  apps/delidev/scripts/run-desktop.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  docs/apps-delidev-desktop-contract.md
  scripts/spawn-dev-server.mjs
Due: none

fix(delidev): retain OpenCode Go native accounting identity
  cmds/delidev-cli/internal/domain/native_accounting.go
  cmds/delidev-cli/internal/domain/native_accounting_test.go
  cmds/delidev-cli/internal/store/native_accounting.go
  cmds/delidev-cli/internal/store/native_accounting_test.go
  docs/cmds-delidev-usage-contract.md
Due: go-fmt

feat(delidev): add explicit native Shell controls
  apps/delidev/src/locales/en/native-shell.json
  apps/delidev/src/locales/ko/native-shell.json
  apps/delidev/src/mutation-submission.test.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/native-shell-action-model.test.ts
  apps/delidev/src/native-shell-action-model.ts
  apps/delidev/src/native-shell-action-ui.test.tsx
  apps/delidev/src/native-shell-action.css
  apps/delidev/src/native-shell-action.test.ts
  apps/delidev/src/native-shell-action.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): expose explicit native shell CLI actions
  cmds/delidev-cli/internal/cli/dispatch_session.go
  cmds/delidev-cli/internal/cli/help.go
  cmds/delidev-cli/internal/cli/session_native_shell.go
  cmds/delidev-cli/internal/cli/session_native_shell_test.go
  cmds/delidev-cli/internal/cli/sessions.go
Due: go-fmt

fix(delidev): verify original shell authority across live publications
  apps/delidev/src/native-shell-action.test.ts
  apps/delidev/src/native-shell-action.tsx
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/native_shell.go
  cmds/delidev-cli/internal/server/native_shell_test.go
  cmds/delidev-cli/internal/worker/native_shell_test.go
  cmds/delidev-cli/internal/worker/session_compaction_codex.go
Due: go-fmt

fix(delidev): avoid repeated backup nouns in safe labels
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/locales/en/backup-job.json
  apps/delidev/src/locales/en/backups.json
  apps/delidev/src/locales/ko/backup-job.json
  apps/delidev/src/locales/ko/backups.json
Due: none

feat(delidev): open compact numbered terminal tabs
  apps/delidev/src/locales/en/session-terminals.json
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/session-terminals.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/session-tab-bar.test.tsx
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-tabs.test.ts
  apps/delidev/src/session-tabs.tsx
  apps/delidev/src/session-terminal-dismissal.test.tsx
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcuts.test.ts
  apps/delidev/src/shortcuts.ts
  apps/delidev/src/terminal-dock.css
  apps/delidev/src/terminal-presentation.test.ts
  apps/delidev/src/terminal-presentation.ts
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-terminals-contract.md
Due: none

feat(delidev): preview unsaved schedule calendars
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/schedule-creation.json
  apps/delidev/src/locales/ko/schedule-creation.json
  apps/delidev/src/schedule-calendar.test.tsx
  apps/delidev/src/schedule-calendar.tsx
  apps/delidev/src/schedule-creation.css
  apps/delidev/src/schedule-creation.tsx
  apps/delidev/src/schedules.test.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/schedule_preview.go
  cmds/delidev-cli/internal/domain/schedule_preview_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/schedule_preview.go
  cmds/delidev-cli/internal/server/schedule_preview_test.go
  cmds/delidev-cli/internal/server/server_status.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-schedules-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/schedule-ScheduleService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/schedule_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/schedule.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/schedule.connect.go
  protos/gen/go/delidev/v1/schedule.pb.go
  protos/gen/go/delidev/v1/system.pb.go
  scripts/delidev/proto-layout.json
Due: go-fmt

fix(delidev): simplify grouped command previews and output
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/native-claude-tool.tsx
  apps/delidev/src/native-shell.tsx
  apps/delidev/src/tool-command.test.tsx
  apps/delidev/src/tool-command.tsx
  apps/delidev/src/tool-turn-transcript.css
  apps/delidev/src/tool-turn-transcript.test.tsx
  apps/delidev/src/tool-turn-transcript.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): discard passive native gateway OAuth metadata
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/gateway_oauth.go
  cmds/delidev-cli/internal/harness/codex/gateway_oauth_events.go
  cmds/delidev-cli/internal/harness/codex/gateway_oauth_events_test.go
  cmds/delidev-cli/internal/harness/codex/gateway_oauth_test.go
  cmds/delidev-cli/internal/harness/codex/observations.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_gateway_oauth_test.go
  cmds/delidev-cli/internal/worker/title_execution.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

feat(delidev): answer original Codex time requests once
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/client_test.go
  cmds/delidev-cli/internal/harness/codex/current_time.go
  cmds/delidev-cli/internal/harness/codex/current_time_test.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/turn_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
