Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

test(clibox): serialize native watch fixtures
  crates/clibox/tests/fspy_watch.rs
Due: cargo-fmt

fix(pnport): resolve native descriptors from live paths
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport/tests/readlinkat.c
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): validate readlink path pointers safely
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport/tests/readlinkat.c
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): preserve readlink terminal components
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport/tests/readlinkat.c
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(clibox): retain macOS final-symlink metadata semantics (#1285)
  crates/AGENTS.md
  crates/clibox-fspy/src/macos.rs
  crates/clibox/tests/fspy_nofollow.rs
  crates/fspy_preload_unix/src/interceptions/readlink.rs
  crates/fspy_preload_unix/src/interceptions/stat.rs
  crates/fspy_preload_unix/src/operation.rs
  docs/crates-clibox-fspy-contract.md
  docs/crates-fspy-vendor-contract.md
Due: cargo-fmt

fix(clibox): clean up fbreak children on macOS terminal hangup (#1288)
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/macos/supervise.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

ci(pnport): require native benchmark results before candidate success
  .github/AGENTS.md
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  docs/packages-pnport-distribution-contract.md
  docs/repository-workflow-contract.md
  packages/pnport/scripts/benchmark.mjs
  scripts/release/pnport-matrix.test.mjs
Due: none

fix(pnport): verify benchmark source content across host checkouts
  packages/pnport/scripts/benchmark.mjs
  packages/pnport/test/benchmark.test.mjs
Due: none

fix(clibox): ignore stale watcher generations
  crates/clibox-fspy/src/watch.rs
Due: cargo-fmt

fix(fspy): preserve Windows last-error after observations
  crates/fspy_preload_windows/src/windows/operation.rs
Due: cargo-fmt

fix(clibox-fspy): ignore access-only watch events
  crates/clibox-fspy/src/watch.rs
Due: cargo-fmt

docs(pnport): clarify comparable benchmark conditions and evidence
  apps/AGENTS.md
  apps/public-docs/docs/pnport/benchmarks.md
  docs/apps-pnport-docs-foundation.md
Due: none

fix(clibox): ignore access-only watch events
  crates/clibox-fspy/src/watch.rs
Due: cargo-fmt

fix(pnport): mediate macOS readlinkat through the logical filesystem (#1282)
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/native.c
  crates/pnport/tests/readlinkat.c
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(clibox-fspy): preserve Windows path namespace
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

fix(clibox-fspy): keep absolute links valid after publication
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

fix(clibox-fspy): verify raw symlink spelling
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

fix(delidev): reject uncertain local workers during inspection
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
Due: none

fix(clibox-fspy): stage raw symlink chains
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

fix(delidev): refresh worker heartbeat during repository registration
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
Due: none

fix(delidev): reconcile shared settings headings
  apps/delidev/src/settings.tsx
Due: none

fix(clibox-fspy): recheck raw link chains
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

fix(clibox): retain autowatch aliases under equivalent root prefixes (#1284)
  crates/AGENTS.md
  crates/clibox-fspy/src/watch.rs
  crates/clibox/tests/fspy_watch_alias.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

pnport: share inherited directory overlay offsets
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/inherited-directory-listing.c
Due: cargo-fmt

feat(pnport): require reproducible native cold and warm benchmarks (#1290)
  .github/AGENTS.md
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  apps/AGENTS.md
  apps/public-docs/docs/pnport/benchmarks.md
  docs/apps-pnport-docs-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/pnport/package.json
  packages/pnport/scripts/benchmark.mjs
  packages/pnport/test/benchmark.test.mjs
  packages/pnport/test/fixtures/benchmark.c
  scripts/release/pnport-matrix.test.mjs
Due: none

fix(clibox-fspy): classify staged links by target
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

feat(delidev): register repositories from folders (#1258)
  Cargo.lock
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/repository-folder.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings-workspace.integration.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/inspection_metadata_test.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/inspection_attach_test.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/run_test.go
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/inspection_metadata.go
  cmds/delidev-cli/internal/workspace/inspection_metadata_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/worker.pb.go
Due: cargo-fmt, go-fmt

fix(pnport): include virtual dependencies in parent listings (#1289)
  crates/AGENTS.md
  crates/fspy_preload_unix/src/libc.rs
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/view.rs
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/directory-listing.c
  crates/pnport/tests/inherited-directory-listing.c
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(clibox): watch symlink ancestors of observed inputs (#1283)
  crates/AGENTS.md
  crates/clibox-fspy/src/watch.rs
  crates/clibox/tests/fspy_watch.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(pnport): recover stopped macOS command groups after supervisor death
  crates/AGENTS.md
  crates/pnport/src/macos_owner.rs
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

ci(pnport): require packaged process lifecycle conformance
  .github/AGENTS.md
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  docs/packages-pnport-distribution-contract.md
  scripts/release/pnport-matrix.test.mjs
Due: none

fix(pnport): recover stopped macOS groups after supervisor death (#1291)
  .github/AGENTS.md
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  crates/AGENTS.md
  crates/pnport/src/macos_owner.rs
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  scripts/release/pnport-matrix.test.mjs
Due: cargo-fmt

fix(pnport): preserve macOS fcntl arguments on hook reentry
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/fspy_preload_unix/src/pnport/fcntl_tests.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/fcntl-loader.c
  crates/pnport/tests/fcntl.c
  crates/pnport/tests/readlinkat.c
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(pnport): preserve macOS fcntl arguments on hook reentry (#1293)
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/fspy_preload_unix/src/pnport/fcntl_tests.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/fcntl-loader.c
  crates/pnport/tests/fcntl.c
  crates/pnport/tests/readlinkat.c
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

test(clibox-fspy): use native Windows link spelling
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

fix(fspy): preserve Windows errors during observation
  crates/fspy_preload_windows/src/windows/detours/nt.rs
  crates/fspy_preload_windows/src/windows/operation.rs
Due: cargo-fmt

fix(pnport): preserve native descendant execution errors
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/executable.rs
  crates/pnport/tests/exec-replace.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(pnport): satisfy explicit preload lint checks
  crates/fspy_preload_unix/src/pnport.rs
Due: cargo-fmt

fix(clibox): preserve internal file symlinks in min-repro (#1277)
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/repro.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(pnport): scope virtual dependency directories to package roots
  crates/AGENTS.md
  crates/pnport-core/src/view.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/directory-listing.c
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
