Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): bind PR push ordering independently of Worker clock skew
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/pr_fix.go
  cmds/delidev-cli/internal/store/pr_fix_test.go
  docs/cmds-delidev-integrations-contract.md
  docs/evidence/delidev/issue-1081/manual-pr-fix.md
Due: go-fmt

fix(delidev): prove namespace claims before absent recovery
  cmds/delidev-cli/internal/worker/workspace_storage_test.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): retain acknowledged output cursors on loss
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/terminal_output.go
  cmds/delidev-cli/internal/server/terminal_output_test.go
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/output-loss-cursor-2026-09-30.md
Due: go-fmt

fix(delidev): retain the checkout shown in repository confirmation
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

docs(delidev): keep Grok accounting rules in the Usage section
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): create private compaction claim directories
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_compaction.go
  cmds/delidev-cli/internal/worker/session_compaction_test.go
  docs/cmds-delidev-compaction-contract.md
  docs/evidence/delidev/issue-1093/native-context-manual-compaction.md
Due: go-fmt

docs(delidev): record final restore repairs and race validation
  docs/evidence/delidev/issue-1080/README.md
Due: none

docs(delidev): record review repairs and completed validation
  docs/evidence/delidev/issue-1094/implementation.md
  docs/evidence/delidev/issue-1094/review-repairs.md
Due: none

fix(delidev): establish owner context at private execution dispatch
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_dispatch.go
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1081/manual-pr-fix.md
Due: go-fmt

test(delidev): allow bounded preferences save refresh waits
  apps/delidev/src/settings-preferences.integration.test.tsx
  docs/evidence/delidev/issue-1136/preferences-ci-wait-validation.md
Due: none

docs(delidev): record main merge validation and outstanding CI evidence
  docs/evidence/delidev/issue-1100/main-merge-maintenance-2026-09-30.md
Due: none

refactor(delidev): group Projects settings (#1191)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/settings-projects.test.tsx
  apps/delidev/src/settings-test-fixture.ts
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1157/main-merge-maintenance-2026-09-30-1700.md
  docs/evidence/delidev/issue-1157/main-merge-maintenance-2026-09-30-1718.md
  docs/evidence/delidev/issue-1157/projects-settings.md
Due: none

docs(delidev): record PR 1193 review repair validation
  docs/evidence/delidev/issue-1142/pr-1193-review-repair.md
Due: none

fix(delidev): expose unknown terminal output retention
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/terminal_output.go
  cmds/delidev-cli/internal/server/terminal_output_test.go
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/output-retention-gap-2026-09-30.md
Due: go-fmt

fix(delidev): restrict mapped loopback browser addresses
  apps/delidev/src-tauri/src/browser.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): preserve dispatch lifecycle errors without queued PR input
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/pr_fix.go
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1081/manual-pr-fix.md
Due: go-fmt

fix(delidev): defer offline browser cleanup acknowledgment
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): resume verified settled Claude failures explicitly (#1166)
  apps/delidev/src/settings-preferences.integration.test.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_continuation_test.go
  cmds/delidev-cli/internal/domain/execution_recovery.go
  cmds/delidev-cli/internal/domain/execution_recovery_test.go
  cmds/delidev-cli/internal/harness/claude/continuation_test.go
  cmds/delidev-cli/internal/harness/claude/failed_checkpoint_settings_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/claude_continuation_test.go
  cmds/delidev-cli/internal/server/claude_failed_resume_test.go
  cmds/delidev-cli/internal/server/claude_recovery_test.go
  cmds/delidev-cli/internal/server/session_execution_recovery.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_continuation_test.go
  cmds/delidev-cli/internal/worker/claude_inspection.go
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1102/background-requested-review-repair.md
  docs/evidence/delidev/issue-1102/failed-job-diagnostic-review-repair.md
  docs/evidence/delidev/issue-1102/full-race-and-main-baseline.md
  docs/evidence/delidev/issue-1102/preferences-ci-wait-repair.md
  docs/evidence/delidev/issue-1102/restored-worktree-validation.md
  docs/evidence/delidev/issue-1102/verified-failed-resume.md
Due: go-fmt

fix(delidev): fill the visible Activity outlet background
  apps/delidev/src/AGENTS.md
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1156/activity-outlet-review-validation.md
Due: none

fix(delidev): join stopping server ownership on fresh launch
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/cli/start.go
  docs/cmds-delidev-contract.md
  docs/evidence/delidev/issue-1137/review-maintenance-2026-09-30.md
Due: go-fmt

docs(delidev): record complete header merge validation
  docs/evidence/delidev/issue-1161/maintenance-2026-09-30.md
Due: none

docs(delidev): record Schedules creation merge verification
  docs/evidence/delidev/issue-1153/schedule-creation-merge-validation.md
Due: none

fix(delidev): enforce account-switch principal roles
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_account_switch.go
  cmds/delidev-cli/internal/server/session_account_switch_test.go
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1097/stopped-account-switch.md
Due: go-fmt

ci(go): precompile Windows shards before serial tests (#1207)
  .github/AGENTS.md
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/go-test.mjs
  scripts/ci/go-test.test.mjs
Due: none

fix(delidev): accept bounded escaped terminal paths
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/terminals.go
  cmds/delidev-cli/internal/server/terminals_test.go
  cmds/delidev-cli/internal/terminal/protocol.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/terminals.go
  cmds/delidev-cli/internal/worker/terminals_test.go
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/escaped-path-reports-2026-09-30.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): preserve unproved legacy startup configuration
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/cli/start.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/evidence/delidev/issue-1137/review-maintenance-2026-09-30.md
Due: go-fmt

fix(delidev): retain browser purge scopes when forgetting connections
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/main.rs
  docs/cmds-delidev-browser-contract.md
  docs/cmds-delidev-connections-contract.md
Due: cargo-fmt

fix(delidev): search subscription creation provider choices
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/subscription-controller.test.tsx
  docs/evidence/delidev/issue-1143/maintenance-2026-09-30-0826.md
Due: none

fix(delidev): verify Windows fork rollout ACLs
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/fork_open_unix.go
  cmds/delidev-cli/internal/harness/codex/fork_open_windows.go
  cmds/delidev-cli/internal/harness/codex/fork_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/README.md
Due: go-fmt

fix(delidev): block account retries during sibling operations
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  docs/evidence/delidev/issue-1143/maintenance-2026-09-30-0826.md
Due: none

fix(delidev): erase remediation activity without republication
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletion_remediation.go
  cmds/delidev-cli/internal/store/session_deletions_test.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1078/ci-activity-composition.md
Due: go-fmt

docs(delidev): preserve review repair validation evidence
  docs/evidence/delidev/issue-1079/README.md
  docs/evidence/delidev/issue-1079/review-repair-validation.md
Due: none

fix(delidev): render each subscription quota window once
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  docs/evidence/delidev/issue-1143/maintenance-2026-09-30-0826.md
Due: none

fix(delidev): canonicalize relative launch admission scopes
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/userservice/launch.go
  cmds/delidev-cli/internal/userservice/launch_test.go
  docs/cmds-delidev-user-services-contract.md
  docs/evidence/delidev/issue-1137/review-maintenance-2026-09-30.md
Due: go-fmt

fix(delidev): keep refreshes on accepted Home boundaries
  apps/delidev/src/AGENTS.md
  apps/delidev/src/home-navigation.test.ts
  apps/delidev/src/home-navigation.ts
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1161/review-repairs-2026-09-30.md
Due: none

fix(delidev): preserve terminal cleanup recovery errors
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/terminals.go
  cmds/delidev-cli/internal/worker/terminals_unix_test.go
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/control-cleanup-problem-2026-09-30.md
Due: go-fmt

fix(delidev): update reset warnings for retained quota windows
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  docs/evidence/delidev/issue-1143/maintenance-2026-09-30-0826.md
Due: none

docs(delidev): record Activity outlet repair validation
  docs/evidence/delidev/issue-1156/pr-1182-outlet-full-validation.md
Due: none

test(delidev): wait for native settings saves in CI
  apps/delidev/src/settings-preferences.integration.test.tsx
  docs/evidence/delidev/issue-1106/ci-preferences-wait.md
Due: none

docs(delidev): align terminal wire allocation references
  docs/evidence/delidev/issue-1088/protocol-number-docs-2026-09-30.md
  docs/protos-delidev-v1-contract.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
