Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): expose global Home read recovery outside groups
  apps/delidev/src/AGENTS.md
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1161/review-repairs-2026-09-30.md
Due: none

docs(delidev): retain immutable full race validation results
  docs/evidence/delidev/issue-1081/manual-pr-fix.md
Due: none

docs(delidev): record CI composition validation
  docs/evidence/delidev/issue-1078/ci-activity-composition.md
Due: none

fix(delidev): bound joined startup with one aggregate deadline
  apps/delidev/src-tauri/AGENTS.md
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/userservice/launch.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/evidence/delidev/issue-1137/review-maintenance-2026-09-30.md
Due: go-fmt

docs(delidev): record complete PR repair validation
  docs/evidence/delidev/issue-1143/maintenance-2026-09-30-0826.md
Due: none

fix(delidev): move browser persistence off the native UI loop
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/main.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): normalize fork index paths on Windows
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_test.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/README.md
Due: go-fmt

docs(delidev): record current-main PR 1193 maintenance validation
  docs/evidence/delidev/issue-1142/pr-1193-main-merge-0837.md
Due: none

docs(delidev): record passing merged frontend and final repair checks
  docs/evidence/delidev/issue-1081/manual-pr-fix.md
Due: none

feat(delidev): refine Agent Workers settings presentation (#1186)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1162/agent-workers-presentation.md
  docs/evidence/delidev/issue-1162/initial-pr-conflict-repair.md
  docs/evidence/delidev/issue-1162/main-merge-126641a6.md
  docs/evidence/delidev/issue-1162/main-merge-6441b848.md
  docs/evidence/delidev/issue-1162/unsupported-agent-name-bound.md
Due: none

docs(delidev): record final startup review validation
  docs/evidence/delidev/issue-1137/review-maintenance-2026-09-30.md
Due: none

fix(delidev): preserve accepted ranges across opaque cursor renewal
  apps/delidev/src/AGENTS.md
  apps/delidev/src/home-navigation.test.ts
  apps/delidev/src/home-navigation.ts
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1161/review-repairs-2026-09-30.md
Due: none

docs(delidev): record Projects ownership merge validation
  docs/evidence/delidev/issue-1153/projects-ownership-merge-validation.md
Due: none

feat(delidev): redesign AI Subscription settings (#1198)
  apps/delidev/public/subscription-marks/LICENSE.txt
  apps/delidev/public/subscription-marks/NOTICE.md
  apps/delidev/public/subscription-marks/claude.svg
  apps/delidev/public/subscription-marks/grok.svg
  apps/delidev/public/subscription-marks/openai.svg
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/settings-subscriptions.integration.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/subscription-catalog.ts
  apps/delidev/src/subscription-controller.test.tsx
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/evidence/delidev/issue-1143/main-merge-maintenance-2026-09-30.md
  docs/evidence/delidev/issue-1143/maintenance-2026-09-30-0826.md
  docs/evidence/delidev/issue-1143/subscription-ui-validation.md
  docs/project-delidev.md
  docs/repository-license-contract.md
Due: none

docs(delidev): qualify full race runs and isolated rechecks
  docs/evidence/delidev/issue-1079/review-repair-validation.md
Due: none

docs(delidev): record PR repair validation limits
  docs/evidence/delidev/issue-1105/review-repairs.md
Due: none

docs(delidev): record final Home review repair validation
  docs/evidence/delidev/issue-1161/review-repairs-2026-09-30.md
Due: none

fix(delidev): close subscription lane on uncertain completion
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/subscriptions.go
  cmds/delidev-cli/internal/worker/subscriptions_lane_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/validation.md
Due: go-fmt

fix(delidev): use the native window handle for X11 browser parents
  apps/delidev/src-tauri/src/browser_host.rs
Due: cargo-fmt

docs(delidev): retain post-review validation results
  docs/evidence/delidev/issue-1093/native-context-manual-compaction.md
Due: none

docs(delidev): retain new review inventory for scheduled repair
  docs/evidence/delidev/issue-1094/main-merge-2026-09-30.md
Due: none

feat(delidev): accumulate Home navigation through scrolling (#1200)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/cache.ts
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/home-navigation-query.ts
  apps/delidev/src/home-navigation.test.ts
  apps/delidev/src/home-navigation.ts
  apps/delidev/src/server-presentation.ts
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1161/home-navigation.md
  docs/evidence/delidev/issue-1161/maintenance-2026-09-30.md
  docs/evidence/delidev/issue-1161/review-repairs-2026-09-30.md
  docs/project-delidev.md
Due: none

docs(delidev): record Agent Workers merge validation for PR 1193
  docs/evidence/delidev/issue-1142/pr-1193-agent-workers-merge-0852.md
Due: none

fix(delidev): satisfy native browser Clippy checks
  apps/delidev/src-tauri/src/browser.rs
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

docs(delidev): record merged client validation
  docs/evidence/delidev/issue-1079/review-repair-validation.md
Due: none

docs(delidev): record Settings merge validation
  docs/evidence/delidev/issue-1137/settings-merge-maintenance-2026-09-30.md
Due: none

delidev: redesign the Models settings list (#1187)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings-models.test.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1160/maintenance-2026-09-30T0752.md
  docs/evidence/delidev/issue-1160/maintenance-2026-09-30T0823.md
  docs/evidence/delidev/issue-1160/maintenance-2026-09-30T0838.md
  docs/evidence/delidev/issue-1160/maintenance-2026-09-30T0852.md
  docs/evidence/delidev/issue-1160/models-list-2026-09-30.md
Due: none

fix(delidev): clean managed authentication before native startup
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_authentication_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/validation.md
Due: go-fmt

docs(delidev): record Agent and Subscription merge validation
  docs/evidence/delidev/issue-1153/agent-subscription-merge-validation.md
Due: none

fix(delidev): exclude canceled Grok completions from accounting
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/grok_accounting_test.go
  docs/cmds-delidev-usage-contract.md
  docs/evidence/delidev/issue-1100/main-reconciliation-2026-09-30-0837.md
  docs/evidence/delidev/issue-1100/review-cancellation-race.md
Due: go-fmt

docs(delidev): record current main merge validation
  docs/evidence/delidev/issue-1156/pr-1182-current-main-full-validation.md
Due: none

docs(delidev): record PR browser repair validation and limits
  docs/evidence/delidev/issue-1087/browser-implementation.md
  docs/evidence/delidev/issue-1087/pr1201-review-repairs.md
Due: none

docs(delidev): record completed isolated race retry outcome
  docs/evidence/delidev/issue-1084/short-credential-review.md
Due: none

docs(delidev): record restore merge race validation
  docs/evidence/delidev/issue-1080/main-merge-maintenance-2026-09-30.md
Due: none

fix(delidev): redesign the Schedules context pane (#1189)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/schedules-sidebar.test.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/sidebar-context.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1153/agent-subscription-merge-validation.md
  docs/evidence/delidev/issue-1153/main-merge-validation.md
  docs/evidence/delidev/issue-1153/projects-ownership-merge-validation.md
  docs/evidence/delidev/issue-1153/schedule-creation-merge-validation.md
  docs/evidence/delidev/issue-1153/schedules-context-validation.md
  docs/evidence/delidev/issue-1153/selector-and-history-review-validation.md
Due: none

docs(delidev): state the executed client build precisely
  docs/evidence/delidev/issue-1088/review-main-merge-2026-09-30.md
Due: none

docs(delidev): record Home and Models merge validation
  docs/evidence/delidev/issue-1156/pr-1182-home-models-full-validation.md
Due: none

fix(delidev): discard login progress after ownership loss
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/subscriptions_progress_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/validation.md
Due: go-fmt

docs(delidev): reserve provider preset wire identities for issue 1148
  docs/cmds-delidev-structure-contract.md
  docs/evidence/delidev/issue-1148/protocol-reservation-preflight.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none
