Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delibase): allow catalog price rollovers
  servers/delibase/db/query/catalog.sql
  servers/delibase/internal/database/database.go
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/catalog.sql.go
  servers/delibase/internal/database/dbgen/querier.go
Due: go-fmt

fix(delidev): preserve reviewed billing state
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.75eb70f4cc.js
  apps/delidev-app/dist/static/js/index.78635129e9.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-invitations.test.tsx
  apps/delidev-app/src/test/organization-pages.test.ts
Due: none

fix(delibase): type catalog close query
  servers/delibase/db/query/catalog.sql
  servers/delibase/internal/database/dbgen/catalog.sql.go
Due: go-fmt

fix(delidev): preserve reviewed operation state
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.75eb70f4cc.js
  apps/delidev-app/dist/static/js/index.8bb0eee064.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/AccountPage.tsx
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/account-page.test.tsx
  apps/delidev-app/src/test/organization-billing.test.tsx
  apps/delidev-app/src/test/organization-pages.test.ts
  docs/apps-delidev-app-foundation.md
Due: none

fix(delibase): preserve retained persistence links
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000002_catalog.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/query/catalog.sql
  servers/delibase/internal/database/database.go
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/catalog.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
Due: go-fmt

chore(repo): remove DexDex remnants (#728)
  .gitignore
  apps/dexdex/src-tauri/gen/schemas/acl-manifests.json
  apps/dexdex/src-tauri/gen/schemas/capabilities.json
  apps/dexdex/src-tauri/gen/schemas/desktop-schema.json
  apps/dexdex/src-tauri/gen/schemas/macOS-schema.json
Due: none

fix(delibase): enforce persistence invariants
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/models.go
Due: go-fmt

fix(delibase): close persistence review gaps
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/query/catalog.sql
  servers/delibase/internal/database/database.go
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/catalog.sql.go
  servers/delibase/internal/database/dbgen/querier.go
Due: go-fmt

docs(devhud): establish foundation contract
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

docs(devhud): clarify documentation-only scope
  docs/project-devhud.md
Due: none

fix(delibase): enforce review persistence boundaries
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/models.go
Due: go-fmt

docs(devhud): include beta store assets
  docs/apps-devhud-foundation.md
Due: none

fix(delibase): enforce remaining persistence invariants
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): serialize reservation invariants
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

feat(devhud): add CEF feasibility gate scaffold
  AGENTS.md
  Cargo.lock
  Cargo.toml
  README.md
  apps/AGENTS.md
  apps/devhud/.gitignore
  apps/devhud/README.md
  apps/devhud/eslint.config.js
  apps/devhud/package.json
  apps/devhud/public/index.html
  apps/devhud/rsbuild.config.ts
  apps/devhud/scripts/check-build-reproducibility.mjs
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-lockfiles.mjs
  apps/devhud/scripts/process.mjs
  apps/devhud/scripts/run-cargo-checks.mjs
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/probe.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/tauri.conf.json
  apps/devhud/src/App.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/probe/index.ts
  apps/devhud/src/probe/model.ts
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
  apps/devhud/src/styles.css
  apps/devhud/tsconfig.json
  apps/devhud/turbo.json
  apps/devhud/vitest.config.ts
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  pnpm-lock.yaml
Due: cargo-fmt

fix(delibase): preserve queued operation identity
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): preserve member access coverage
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): enforce reviewed storage invariants
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(devhud): address feasibility gate review feedback
  .github/workflows/CI.yml
  AGENTS.md
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
Due: cargo-fmt

fix(delibase): close reviewed lifecycle gaps
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(devhud): validate feasibility gate evidence
  .github/workflows/CI.yml
  AGENTS.md
  apps/devhud/scripts/run-cargo-checks.mjs
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
Due: none

fix(devhud): build frontend before rust checks
  .github/workflows/CI.yml
  AGENTS.md
  apps/devhud/scripts/run-cargo-checks.mjs
Due: none

fix(devhud): add probe window icon
  apps/devhud/src-tauri/icons/icon.png
  apps/devhud/src-tauri/icons/icon.svg
Due: none

fix(delibase): enforce reviewed lifecycle invariants
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): preserve terminal database state
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000002_catalog.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(devhud): tighten feasibility evidence validation
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/probe/model.ts
Due: none

fix(devhud): require helper cleanup evidence
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  docs/apps-devhud-foundation.md
Due: none

fix(delibase): close reviewed settlement gaps
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000002_catalog.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/db/migrations/000004_reliability_audit.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): use current settlement period
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(devhud): reject unconfigured HTTPS origins
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
Due: cargo-fmt

fix(delibase): enforce billing lifecycle invariants
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/models.go
Due: go-fmt

fix(devhud): bind bundled origins to runtime
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
Due: cargo-fmt

fix(delibase): close billing review gaps
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): preserve reservation capacity fixture
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): isolate credit capacity scenarios
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): retain overage split fixture
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): exhaust active credit capacity
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): enforce billing identity invariants
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): record retained reservation hold
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): preserve reviewed billing invariants
  servers/delibase/db/migrations/000001_identity.sql
  servers/delibase/db/migrations/000003_billing_usage.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
