Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

build(delidev): add six-target native package dry runs and retain notices
  .github/AGENTS.md
  .github/workflows/delidev-native-dry-run.yml
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-native-dry-run.mjs
  apps/delidev/scripts/native-package.mjs
  apps/delidev/scripts/native-package.test.mjs
  apps/delidev/scripts/verify-unsigned-windows.ps1
  apps/delidev/src-tauri/notices/CEF-LICENSE.txt
  apps/delidev/src-tauri/notices/README.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/tauri.conf.json
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-packaging-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
  docs/repository-workflow-contract.md
  scripts/ci/delidev-native-package.test.mjs
Due: cargo-fmt

Fix add account action for API providers
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.test.tsx
Due: none

fix(delidev): enforce desktop endpoint before registration recovery
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/src/desktop_recovery.rs
  apps/delidev/src-tauri/src/tests.rs
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/desktop_recovery_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
Due: cargo-fmt, go-fmt

fix(delidev): reject source changes during native package verification
  apps/delidev/scripts/bundle-native-dry-run.mjs
  docs/apps-delidev-packaging-contract.md
Due: none

Page native subscription provider choices
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/settings.test.tsx
Due: none

Keep provider inventory cursors Unicode stable
  cmds/delidev-cli/internal/store/provider_inventory.go
  cmds/delidev-cli/internal/store/provider_inventory_test.go
Due: go-fmt

fix(delidev): pin native package jobs to the workspace Rust host
  .github/workflows/delidev-native-dry-run.yml
  docs/apps-delidev-packaging-contract.md
  scripts/ci/delidev-native-package.test.mjs
Due: none

Check provider capabilities before filtered CLI reads
  cmds/delidev-cli/internal/cli/catalog.go
  cmds/delidev-cli/internal/cli/catalog_capability_test.go
  cmds/delidev-cli/internal/cli/cli.go
Due: go-fmt

feat(delidev): redesign token usage with daily and model analytics (#1062)
  apps/delidev/AGENTS.md
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/usage-chart.tsx
  apps/delidev/src/usage-time.test.ts
  apps/delidev/src/usage-time.ts
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/search_test.go
  cmds/delidev-cli/internal/cli/usage.go
  cmds/delidev-cli/internal/domain/usage_summary.go
  cmds/delidev-cli/internal/domain/usage_summary_test.go
  cmds/delidev-cli/internal/server/usage_summary.go
  cmds/delidev-cli/internal/server/usage_summary_test.go
  cmds/delidev-cli/internal/store/usage_summary.go
  cmds/delidev-cli/internal/store/usage_summary_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-usage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

docs(delidev): record final verification and remaining implementation gaps
  docs/cmds-delidev-evidence.md
Due: none

Preserve legacy provider preset payload shape
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/catalog_test.go
  docs/cmds-delidev-provider-activation-contract.md
Due: go-fmt

Honor account scope in provider filtered lists
  cmds/delidev-cli/internal/store/provider_inventory.go
  cmds/delidev-cli/internal/store/provider_inventory_test.go
  docs/cmds-delidev-provider-activation-contract.md
Due: go-fmt

fix(delidev): complete guided account settings
  apps/delidev/src/App.test.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/server/catalog_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): retain fresh pairing proof before credential publication
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/desktop_recovery_test.go
  cmds/delidev-cli/internal/cli/local_client.go
  cmds/delidev-cli/internal/worker/pair.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

docs(delidev): record account settings validation
  apps/delidev/src/App.test.tsx
  apps/delidev/src/settings.integration.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

feat(delidev): add contextual navigation and pull requests
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/pr-problems.test.tsx
  apps/delidev/src/pr-problems.tsx
  apps/delidev/src/pr-remediation-history.test.tsx
  apps/delidev/src/pr-remediation-history.tsx
  apps/delidev/src/pr-workflow.test.tsx
  apps/delidev/src/pr-workflow.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/sidebar-context.tsx
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): retire completed renderer recovery requests on inspection
  apps/delidev/AGENTS.md
  apps/delidev/src/local-registration.test.tsx
  apps/delidev/src/local-registration.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record integrated PR verification
  docs/cmds-delidev-evidence.md
Due: none

Install provider activation schema on first start
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/pr_ci_problems_test.go
  cmds/delidev-cli/internal/store/pr_remediation_test.go
  cmds/delidev-cli/internal/store/pricing_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-provider-activation-contract.md
Due: go-fmt

fix(delidev): avoid redundant completed deletion syncs
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_deletions.go
  cmds/delidev-cli/internal/store/backup_deletions_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): validate prerequisite installation observations
  apps/delidev/AGENTS.md
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): bind deletion consent to the inspected backup
  apps/delidev/AGENTS.md
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/backups.tsx
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: none

fix(delidev): observe accepted backups outside history pages
  apps/delidev/AGENTS.md
  apps/delidev/src/backup-job.tsx
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/backups.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/backups.go
  cmds/delidev-cli/internal/cli/backups_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/server/backup_deletions.go
  cmds/delidev-cli/internal/server/backups_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SystemService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

Record provider activation repair evidence
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): recover revoked desktop registrations explicitly (#1060)
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/desktop_recovery.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/desktop.tsx
  apps/delidev/src/device-settings.test.tsx
  apps/delidev/src/device-settings.tsx
  apps/delidev/src/local-registration.test.tsx
  apps/delidev/src/local-registration.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/desktop_recovery_test.go
  cmds/delidev-cli/internal/cli/devices.go
  cmds/delidev-cli/internal/cli/local_client.go
  cmds/delidev-cli/internal/worker/pair.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

test(delidev): wait for fresh pairing observations in CI
  apps/delidev/src/settings.integration.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

test(delidev): retain Worker diagnostics for CLI acceptance failures
  cmds/delidev-cli/internal/cli/sessions_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

test(delidev): start PR observation deadline after fixture setup
  cmds/delidev-cli/internal/workspace/pr_match_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

Default hosted DeliDev API providers to enabled
  apps/delidev/AGENTS.md
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli_test.go
  cmds/delidev-cli/internal/cli/configuration_transfer_test.go
  cmds/delidev-cli/internal/server/catalog_test.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  cmds/delidev-cli/internal/store/catalog.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/provider_defaults.go
  cmds/delidev-cli/internal/store/provider_defaults_test.go
  cmds/delidev-cli/internal/store/provider_inventory_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/store_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-provider-activation-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(runmoor): preserve Linux session context
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/operations_test.go
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_env_test.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(runmoor): reject unsupported Tart guest OS
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

docs: record issue 1059 merge validation
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record repair validation and remaining macOS race failures
  docs/cmds-delidev-evidence.md
Due: none

fix(runmoor): preserve completion after late busy removal
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/busy_removal_race_test.go
  cmds/runmoor/internal/runmoor/manager.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): escape SQLite state paths
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
Due: go-fmt

feat(delidev): default hosted API providers to enabled (#1067)
  apps/delidev/AGENTS.md
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli_test.go
  cmds/delidev-cli/internal/cli/configuration_transfer_test.go
  cmds/delidev-cli/internal/server/catalog_test.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  cmds/delidev-cli/internal/store/catalog.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/provider_defaults.go
  cmds/delidev-cli/internal/store/provider_defaults_test.go
  cmds/delidev-cli/internal/store/provider_inventory_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/store_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-provider-activation-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): acknowledge retained mutations after navigation
  apps/delidev/src/App.test.tsx
  apps/delidev/src/mutation.tsx
Due: none

fix(delidev): report retained backup deletion failures to maintenance
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_deletions.go
  cmds/delidev-cli/internal/store/backup_deletions_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): reset pull request query on load
  apps/delidev/src/App.test.tsx
  apps/delidev/src/pull-requests.tsx
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
