Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): reject nested diagnostic credentials
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): address RealQA review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src-tauri/assets/fonts/noto-sans-kr/LICENSE
  apps/devhud/src-tauri/assets/fonts/noto-sans-kr/NotoSansKR-VF.ttf
  apps/devhud/src-tauri/assets/fonts/noto-sans-kr/SOURCE.md
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/src/native_plugin.rs
  apps/devhud/src-tauri/src/shortcuts.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address native messaging review feedback
  apps/devhud-chrome-extension/src/configured-mapping.test.ts
  apps/devhud-chrome-extension/src/configured-mapping.ts
  apps/devhud-chrome-extension/src/popup.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/native-messaging.test.ts
  apps/devhud/src/native-messaging.ts
  crates/devhud-native-messaging-host/build.rs
  crates/devhud-native-messaging-host/src/endpoint.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address capture review feedback
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): align RealQA capture previews
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/src/secure_store.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): harden diagnostic privacy boundaries
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): harden native messaging boundaries
  apps/devhud-chrome-extension/package.json
  apps/devhud-chrome-extension/scripts/build-test.mjs
  apps/devhud-chrome-extension/scripts/deterministic-build.test.mjs
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/popup-language.test.ts
  apps/devhud-chrome-extension/src/popup-language.ts
  apps/devhud-chrome-extension/src/popup.ts
  apps/devhud-chrome-extension/src/protocol.test.ts
  apps/devhud-chrome-extension/src/protocol.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  apps/devhud/src-tauri/src/native_messaging.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): isolate desktop native host config
  apps/devhud/scripts/run-tauri-arguments.mjs
  apps/devhud/scripts/run-tauri.test.mjs
  apps/devhud/scripts/verify-pins-policy.mjs
  apps/devhud/scripts/verify-pins-policy.test.mjs
  apps/devhud/scripts/verify-pins.mjs
  apps/devhud/src-tauri/tauri.conf.json
  apps/devhud/src-tauri/tauri.desktop.conf.json
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address RealQA review feedback
  apps/devhud/rsbuild.config.ts
  apps/devhud/scripts/platform-smoke-child.test.mjs
  apps/devhud/scripts/verify-frontend-output.mjs
  apps/devhud/src-tauri/infoplist/ko.lproj/InfoPlist.strings
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/tauri.macos.conf.json
  apps/devhud/src/realqa-font.css
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): serialize RealQA draft updates
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address RealQA capture feedback
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): correct macOS plist resource mapping
  apps/devhud/scripts/platform-smoke-child.test.mjs
  apps/devhud/src-tauri/tauri.macos.conf.json
Due: none

fix(devhud): close diagnostic payload gaps
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): reconcile administrator review feedback
  apps/AGENTS.md
  apps/devhud-admin/src/App.test.tsx
  apps/devhud-admin/src/App.tsx
  apps/devhud-admin/src/auth.test.ts
  apps/devhud-admin/src/i18n.ts
  docs/apps-devhud-admin-contract.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/cmd/devhud-api-sweeper/main.go
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.58e91285.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.7dc5bc81.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.7dc5bc81.js.LICENSE.txt
  servers/devhud-api/internal/domain/upload.go
  servers/devhud-api/internal/postgres/admin_store.go
  servers/devhud-api/internal/postgres/admin_store_integration_test.go
  servers/devhud-api/internal/postgres/upload_store.go
  servers/devhud-api/internal/postgres/upload_store_integration_test.go
  servers/devhud-api/internal/sweeper/sweeper.go
  servers/devhud-api/internal/upload/service.go
  servers/devhud-api/internal/upload/service_test.go
  servers/devhud-api/migrations/00005_administration.sql
Due: go-fmt

fix(devhud): scan encoded diagnostic URLs
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): harden RealQA capture paths
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): complete native messaging hardening
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  crates/devhud-native-messaging-host/src/auth.rs
  crates/devhud-native-messaging-host/src/main.rs
  crates/devhud-native-messaging-host/src/protocol.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): explain crash report quota failures
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src/diagnostics-ui.tsx
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/localization.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): complete truncated export cleanup
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
Due: none

fix(devhud): reject credentials in relative diagnostic URLs
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): harden native messaging pairing
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  crates/devhud-native-messaging-host/src/endpoint.rs
  crates/devhud-native-messaging-host/src/main.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address RealQA review feedback
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): scope draft helpers to tests
  apps/devhud/src-tauri/src/capture.rs
Due: cargo-fmt

fix(devhud): close diagnostics review gaps
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/local-data.ts
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/packages-devhud-api-client-contract.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): reject multiply encoded diagnostics
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): address RealQA capture review feedback
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address native messaging review feedback
  apps/AGENTS.md
  apps/devhud/scripts/run-tauri.mjs
  apps/devhud/scripts/run-tauri.test.mjs
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
  apps/devhud/src/url-mapping.test.ts
  apps/devhud/src/url-mapping.ts
  crates/devhud-native-messaging-host/src/endpoint.rs
  crates/devhud-native-messaging-host/src/main.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): preserve diagnostics cleanup recovery
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address Deck review feedback
  apps/devhud/src/App.test.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

test(devhud-api): tamper cursor deterministically
  servers/devhud-api/internal/upload/cursor_test.go
Due: go-fmt

fix(devhud): make RealQA output commits atomic
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): close diagnostics review gaps
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): preserve Deck polling contracts
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud-admin): refresh embedded assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.4295da24.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.443d659a.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.443d659a.js.LICENSE.txt
Due: none

fix(devhud): harden native messaging lifecycle
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  apps/devhud/src-tauri/src/native_messaging.rs
  crates/devhud-native-messaging-host/src/endpoint.rs
Due: cargo-fmt

fix(devhud): retain failed Deck notifications
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/deck.test.ts
  apps/devhud/src/deck.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): refresh origins after pairing
  apps/devhud-chrome-extension/src/popup.test.ts
  apps/devhud-chrome-extension/src/popup.ts
  docs/apps-devhud-chrome-extension-contract.md
  docs/project-devhud.md
Due: none

fix(devhud): close diagnostics export review gaps
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
Due: none

test(devhud-api): tamper cursor bytes deterministically
  servers/devhud-api/internal/upload/cursor_test.go
Due: go-fmt

fix(devhud): address Deck review feedback
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  apps/devhud/src/settings-contract.ts
  docs/apps-devhud-foundation.md
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt
