Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): report snapshot read and deletion costs
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/snapshot_accounting_test.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

test(delidev): bind manual push fixtures to explicit write permission
  cmds/delidev-cli/internal/store/pr_fix_test.go
  docs/evidence/delidev/issue-1081/store-write-permission-2026-09-30.md
Due: go-fmt

fix(delidev): bind Codex execution provider to accepted auth profile
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_provider_test.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_checkpoint.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/review-provider-profile-2026-09-30.md
Due: go-fmt

docs(delidev): record second review repair validation
  docs/evidence/delidev/issue-1088/review-round-two-validation-2026-09-30.md
Due: none

docs(delidev): record main merge validation for proxy PR
  docs/evidence/delidev/issue-1084/main-98df29c4-local-validation.md
Due: none

fix(delidev): reserve bounded snapshot publication capacity
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/snapshot_capacity_test.go
  cmds/delidev-cli/internal/workspace/snapshot_capture.go
  cmds/delidev-cli/internal/workspace/snapshot_files.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): retain fork runtime when copy rollback is unproved
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_inspection_test.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-unproved-copy-rollback-2026-09-30.md
Due: go-fmt

fix(delidev): close superseded browser before retry authorization
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/main.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-reservation-repair.md
Due: cargo-fmt

fix(delidev): recover child reports from their fork runtime
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_execution_recovery.go
  cmds/delidev-cli/internal/server/session_fork_execution_test.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-fork-child-report-recovery-2026-09-30.md
Due: go-fmt

fix(delidev): rotate retained browser cleanup intents across exits
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-cleanup-cursor-repair.md
Due: cargo-fmt

docs(delidev): record merged frontend validation limits
  docs/evidence/delidev/issue-1094/heartbeat-frontend-2026-09-30-1404.md
Due: none

fix(delidev): discover browser removals before completing exit
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-final-discovery-repair.md
Due: cargo-fmt

fix(delidev): bind child publications to the native fork boundary
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/session_fork_execution_test.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-child-native-publication-2026-09-30.md
Due: go-fmt

fix(delidev): capture managed execution bundle before native close
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_authentication_native_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/review-terminal-bundle-2026-09-30.md
Due: go-fmt

docs(delidev): record reconciled main validation
  docs/evidence/delidev/issue-1091/main-98df-reconciliation-2026-09-30.md
Due: none

fix(delidev): accept child resource counts in prerequisites
  apps/delidev/src/AGENTS.md
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  docs/apps-delidev-diagnostics-contract.md
  docs/evidence/delidev/issue-1094/diagnostics-kind-review-2026-09-30.md
  docs/project-delidev.md
Due: none

fix(delidev): resume original terminal closes after Worker restart
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/terminals.go
  cmds/delidev-cli/internal/worker/terminals_close_recovery_test.go
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/replacement-close-review-repair-2026-09-30.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): preserve Codex child source telemetry omissions
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/subagent_source_omission_test.go
  cmds/delidev-cli/internal/harness/codex/subagents.go
  docs/cmds-delidev-subagents-contract.md
  docs/evidence/delidev/issue-1094/codex-source-omission-review-2026-09-30.md
Due: go-fmt

fix(delidev): enumerate the bounded cleanup cursor inventory
  apps/delidev/src-tauri/src/browser_host.rs
Due: cargo-fmt

fix(delidev): replay network saves after profile deletion
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/network.go
  cmds/delidev-cli/internal/server/network_receipt_test.go
  docs/cmds-delidev-network-contract.md
  docs/evidence/delidev/issue-1084/review-save-receipts.md
Due: go-fmt

fix(delidev): pin restore migration images before cleanup
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/backup_restore_cleanup.go
  cmds/delidev-cli/internal/store/backup_restore_migration_cleanup_test.go
  cmds/delidev-cli/internal/store/backup_restores.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1080/review-migration-image-fingerprints.md
Due: go-fmt

fix(delidev): preserve subscription generation after pre-native failure
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/subscriptions_prenative_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_authentication_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/review-prenative-generation-2026-09-30.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
Due: go-fmt

fix(delidev): deduplicate acknowledged Claude child history
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/claude_child_history_identity_test.go
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_subagents.go
  docs/cmds-delidev-subagents-contract.md
  docs/evidence/delidev/issue-1094/claude-history-dedup-review-2026-09-30.md
Due: go-fmt

docs(delidev): record native browser review repairs and validation
  docs/evidence/delidev/issue-1087/pr1232-native-review-validation.md
Due: none

test(delidev): align Grok probe fixture with operation deadline
  cmds/delidev-cli/internal/harness/grok/probe_test.go
  docs/evidence/delidev/issue-1080/ci-windows-grok-probe-deadline.md
Due: go-fmt

docs(delidev): retain newly arrived browser review follow-ups
  docs/evidence/delidev/issue-1087/pr1232-native-review-validation.md
Due: none

fix(delidev): authorize fork status observation
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_fork_observation_test.go
  cmds/delidev-cli/internal/server/session_forks.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-fork-observation-authorization-2026-10-01.md
Due: go-fmt

fix(delidev): retain recoverable proxy deletion cleanup
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/network.go
  cmds/delidev-cli/internal/server/network_delete_intent.go
  cmds/delidev-cli/internal/server/network_delete_intent_test.go
  docs/cmds-delidev-network-contract.md
  docs/evidence/delidev/issue-1084/review-delete-cleanup.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): validate native child usage report schemas
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_usage.go
  cmds/delidev-cli/internal/domain/subagent_usage.go
  cmds/delidev-cli/internal/domain/subagent_usage_test.go
  cmds/delidev-cli/internal/domain/subagents.go
  cmds/delidev-cli/internal/domain/subagents_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subagent_usage_test.go
  cmds/delidev-cli/internal/server/subagents_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  docs/cmds-delidev-subagents-contract.md
  docs/evidence/delidev/issue-1094/usage-schema-review-2026-09-30.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): reserve generated Git config entries
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/snapshot_capture.go
  cmds/delidev-cli/internal/workspace/snapshot_config_budget_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): keep plaintext loopback requests off proxies
  cmds/delidev-cli/internal/apiproxy/network_test.go
  cmds/delidev-cli/internal/outbound/AGENTS.md
  cmds/delidev-cli/internal/outbound/transport.go
  cmds/delidev-cli/internal/outbound/transport_test.go
  cmds/delidev-cli/internal/outboundtest/fixture.go
  cmds/delidev-cli/internal/providers/network_test.go
  docs/cmds-delidev-network-contract.md
  docs/cmds-delidev-providers-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/evidence/delidev/issue-1084/review-plaintext-loopback.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): verify original Grok proposal digests
  cmds/delidev-cli/internal/cli/grok_responses_test.go
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/grok_interactions.go
  cmds/delidev-cli/internal/domain/grok_tools.go
  cmds/delidev-cli/internal/harness/grok/public_proposal_test.go
  cmds/delidev-cli/internal/harness/grok/public_tools.go
  cmds/delidev-cli/internal/harness/grok/public_tools_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/grok_tools.go
  cmds/delidev-cli/internal/server/grok_tools_test.go
  cmds/delidev-cli/internal/worker/grok_response_boundary_test.go
  docs/cmds-delidev-harness-contract.md
  docs/evidence/delidev/issue-1091/proposal-digest-review-2026-10-01.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

docs(delidev): record composed frontend validation limits
  docs/evidence/delidev/issue-1095/review-frontend-2026-10-01.md
Due: none

docs(delidev): record final desktop validation failures
  docs/evidence/delidev/issue-1094/heartbeat-frontend-final-2026-09-30-1404.md
Due: none

fix(delidev): validate forks before creating process scopes
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_preflight_test.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-fork-preparation-scope-2026-10-01.md
Due: go-fmt

fix(delidev): fence tab publication against view replacement
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser.rs
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/main.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-tab-publication-repair.md
Due: cargo-fmt

test(delidev): synchronize native Grok fixture diagnostics
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/probe_test.go
Due: go-fmt

fix(delidev): reject superseded address publication
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-address-publication-repair.md
Due: cargo-fmt

docs(delidev): record replacement close validation and limits
  docs/evidence/delidev/issue-1088/review-round-three-validation-2026-09-30.md
Due: none
