Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

ci: restore DevHud client tests
  .github/workflows/CI.yml
Due: none

test(delidev): verify source route replay, concurrency and Settings compatibility
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/settings-claude.integration.test.tsx
  apps/delidev/src/settings-configuration.integration.test.tsx
  cmds/delidev-cli/internal/server/agent_worker_configuration_test.go
  cmds/delidev-cli/internal/store/execution_test.go
Due: go-fmt

fix(delidev): keep backup inspection in layout fixture
  apps/delidev/src/settings-layout.fixture.tsx
Due: none

feat(runmoor): update older service managers during reload
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/control_peer_darwin.go
  cmds/runmoor/internal/runmoor/control_peer_linux.go
  cmds/runmoor/internal/runmoor/control_peer_other.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_native_test.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

chore(delidev): reserve remote-first repository capabilities
  AGENTS.md
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/allocations.json
Due: none

feat(delidev): select Agent Worker harnesses with brand cards (#1373)
  apps/delidev/AGENTS.md
  apps/delidev/public/subscription-marks/NOTICE.md
  apps/delidev/public/subscription-marks/opencode.svg
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/settings-claude.integration.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/repository-license-contract.md
Due: none

fix(delidev): make server preferences directly editable (#1362)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/server-preferences.css
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings-server-preferences.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): retain source blockers and focus through account route editing
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/settings-claude.integration.test.tsx
  cmds/delidev-cli/internal/domain/source_routing.go
  cmds/delidev-cli/internal/domain/source_routing_test.go
Due: go-fmt

chore(delidev): reserve remote-first repository capabilities (#1377)
  AGENTS.md
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/allocations.json
Due: none

ci: replace DevHud protocol job with DeliDev validation (#1374)
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  docs/packages-delidev-api-client-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
  scripts/release/devhud-operations.test.mjs
Due: none

fix(delidev): refresh generated installation binding
  packages/delidev-api-client/src/gen/delidev/v1/installation_pb.ts
Due: none

Fix Worker wizard harness card dialog layout
  apps/delidev/src/agent-worker-wizard.css
Due: none

fix(runmoor): defer journal recovery to live foreground peer
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
Due: go-fmt

fix(delidev): advance after harness confirmation
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/settings-claude.integration.test.tsx
  apps/delidev/src/settings-configuration.integration.test.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

fix(ci): isolate cargo-mono JSON from tracing output
  docs/repository-workflow-contract.md
  scripts/ci/rust-affected-live.test.mjs
  scripts/ci/rust-affected.mjs
  scripts/ci/rust-affected.test.mjs
Due: none

test(ci): verify indirect Rust dependents and planner boundaries
  docs/repository-workflow-contract.md
  scripts/ci/rust-affected-fixture.mjs
  scripts/ci/rust-affected-live.test.mjs
  scripts/ci/rust-affected.test.mjs
Due: none

ci: test affected Rust crates with prebuilt cargo-mono
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  docs/crates-cargo-mono-foundation.md
  docs/repository-workflow-contract.md
  scripts/ci/cargo-mono-prebuilt.mjs
  scripts/ci/cargo-mono-prebuilt.test.mjs
  scripts/ci/ci-contract.test.mjs
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/result.mjs
  scripts/ci/rust-affected-fixture.mjs
  scripts/ci/rust-affected-live.test.mjs
  scripts/ci/rust-affected.mjs
  scripts/ci/rust-affected.test.mjs
Due: none

ci: summarize targeted Rust command outcomes
  scripts/ci/rust-affected.mjs
  scripts/ci/rust-affected.test.mjs
Due: none

fix(delidev): hide accounts with connection problems in Worker choices (#1375)
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/settings-claude.integration.test.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

perf(ci): select affected Go packages and shard DeliDev checks
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/src/AGENTS.md
  apps/delidev/src/settings-test-fixture.ts
  apps/delidev/turbo.json
  docs/packages-delidev-api-client-contract.md
  docs/repository-workflow-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/tests/server.integration.test.ts
  packages/delidev-api-client/turbo.json
  scripts/ci/ci-contract.test.mjs
  scripts/ci/fixture-binary.d.mts
  scripts/ci/fixture-binary.mjs
  scripts/ci/fixture-binary.test.mjs
  scripts/ci/go-affected.mjs
  scripts/ci/go-affected.test.mjs
  scripts/ci/go-quality.mjs
  scripts/ci/go-test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/prepare-delidev-test-binary.mjs
  scripts/ci/result.mjs
  scripts/release/devhud-operations.test.mjs
Due: none

feat(delidev): add independent desktop windows (#1353)
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/permissions/saved.toml
  apps/delidev/src-tauri/src/appearance_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/notification_host.rs
  apps/delidev/src-tauri/src/oauth_host.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src-tauri/src/updater_host.rs
  apps/delidev/src-tauri/src/window_host.rs
  apps/delidev/src-tauri/src/window_registry.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/saved-connections.test.tsx
  apps/delidev/src/saved-connections.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-widget-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-browser-contract.md
  docs/project-delidev.md
Due: cargo-fmt

fix(ci): normalize native Windows Go discovery paths
  scripts/ci/go-affected.mjs
  scripts/ci/go-affected.test.mjs
Due: none

perf(ci): check affected Rust crates with prebuilt cargo-mono (#1380)
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  docs/crates-cargo-mono-foundation.md
  docs/repository-workflow-contract.md
  scripts/ci/cargo-mono-prebuilt.mjs
  scripts/ci/cargo-mono-prebuilt.test.mjs
  scripts/ci/ci-contract.test.mjs
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/result.mjs
  scripts/ci/rust-affected-fixture.mjs
  scripts/ci/rust-affected-live.test.mjs
  scripts/ci/rust-affected.mjs
  scripts/ci/rust-affected.test.mjs
Due: none

feat(delidev): register repository URLs without local workers
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/repository-clone-fields.tsx
  apps/delidev/src/repository-registration.css
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/schedules_test.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/testgit/fixture.go
  docs/cmds-delidev-contract.md
Due: go-fmt

test(delidev): await pricing editor save completion
  apps/delidev/src/settings-pricing.integration.test.tsx
Due: none

ci: hydrate DeliDev assets before task validation
  .github/workflows/CI.yml
Due: none

fix(delidev): preserve independent fork clone ownership
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/remote_repositories_test.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/remote_clone.go
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
  docs/cmds-delidev-workspace-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

test(delidev): wait for server preference saves to finish
  apps/delidev/src/settings-preferences.integration.test.tsx
Due: none

fix(delidev): address Agent Worker route review feedback
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  cmds/delidev-cli/internal/domain/source_routing.go
  cmds/delidev-cli/internal/domain/source_routing_test.go
  cmds/delidev-cli/internal/server/account_deletion_refs_test.go
  cmds/delidev-cli/internal/server/model_deletion_refs_test.go
  cmds/delidev-cli/internal/server/resources.go
Due: go-fmt

ci: preserve affected Rust selection and scope tool hashes
  .github/workflows/CI.yml
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/cache-context.mjs
  scripts/ci/cache.test.mjs
  scripts/ci/ci-contract.test.mjs
  scripts/ci/package.json
  scripts/ci/run-affected.mjs
  scripts/ci/run-affected.test.mjs
  scripts/ci/run-rust.mjs
  scripts/ci/run-rust.test.mjs
  scripts/ci/task-graph.mjs
  scripts/ci/turbo.json
  turbo.json
Due: none

fix(runmoor): preserve reload recovery boundaries
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
Due: go-fmt

test(delidev): verify URL registration and clone lifecycle boundaries
  apps/delidev/scripts/qa/test-browser.mjs
  apps/delidev/scripts/test-repository-dialog-layout.mjs
  apps/delidev/src/new-session.tsx
  apps/delidev/src/remote-repository.integration.test.tsx
  apps/delidev/src/repository-registration.css
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings-pricing.integration.test.tsx
  apps/delidev/src/settings-server-preferences.test.tsx
  apps/delidev/src/settings-workspace.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
Due: go-fmt

fix(delidev): keep GitHub profile paging explicit
  apps/delidev/src/repository-github-picker.tsx
  apps/delidev/src/repository-registration.test.tsx
Due: none

fix(ci): pass cache variables through composite inputs
  .github/actions/setup-turbo-cache/action.yml
  .github/workflows/CI.yml
  scripts/ci/ci-contract.test.mjs
Due: none

fix(delidev): validate remote sources before local preparation
  apps/delidev/scripts/qa/qa.test.mjs
  cmds/delidev-cli/internal/server/remote_repositories_test.go
  cmds/delidev-cli/internal/server/session_workspace.go
Due: go-fmt

perf(ci): select affected Go packages and shard DeliDev checks (#1382)
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/src/AGENTS.md
  apps/delidev/src/settings-pricing.integration.test.tsx
  apps/delidev/src/settings-test-fixture.ts
  apps/delidev/turbo.json
  docs/packages-delidev-api-client-contract.md
  docs/repository-workflow-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/tests/server.integration.test.ts
  packages/delidev-api-client/turbo.json
  scripts/ci/ci-contract.test.mjs
  scripts/ci/fixture-binary.d.mts
  scripts/ci/fixture-binary.mjs
  scripts/ci/fixture-binary.test.mjs
  scripts/ci/go-affected.mjs
  scripts/ci/go-affected.test.mjs
  scripts/ci/go-quality.mjs
  scripts/ci/go-test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/prepare-delidev-test-binary.mjs
  scripts/ci/result.mjs
  scripts/release/devhud-operations.test.mjs
Due: none

test(delidev): harden protocol CI waits
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/tray-presentation.test.tsx
Due: none

test(delidev): canonicalize updater fixture temp path
  apps/delidev/src-tauri/src/updater.rs
Due: cargo-fmt
