Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): retain removal admission barrier on cleanup failure
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

fix(delidev): append streamed queue inputs by identity
  apps/delidev/src/session-order.test.ts
  apps/delidev/src/session.tsx
Due: none

test(delidev): use native workspace path in snapshot fixture
  cmds/delidev-cli/internal/harness/opencode/checkpoint_snapshot_test.go
Due: go-fmt

test(delidev): allow detached startup its readiness window
  cmds/delidev-cli/internal/cli/start_test.go
Due: go-fmt

test(delidev): fence native write before late turn cancellation
  cmds/delidev-cli/internal/harness/codex/turn_test.go
Due: go-fmt

feat(delidev): expose managed backup inventory and integrity inspection
  apps/delidev/AGENTS.md
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/backups.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/backups.go
  cmds/delidev-cli/internal/cli/backups_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/server/backups.go
  cmds/delidev-cli/internal/server/backups_test.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/backups_test.go
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SystemService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): migrate desktop shell and packaging to pinned CEF
  Cargo.lock
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/src/bin/delidev-tauri-cli.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/notification_host.rs
  apps/delidev/src-tauri/src/tray_host.rs
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt

fix(delidev): start windows maximized
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/tauri.conf.json
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

feat(delidev): connect first-session checklist to live setup observations
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/src/App.tsx
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  pnpm-lock.yaml
Due: none

feat(delidev): replace desktop app icon
  .gitattributes
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon-source.png
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  apps/delidev/src-tauri/icons/icon.svg
  apps/delidev/src-tauri/tauri.conf.json
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

feat(delidev): redesign project session sidebar
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): redesign the desktop sidebar around projects and an icon rail (#1051)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): start desktop windows maximized (#1048)
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/tauri.conf.json
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

feat(delidev): redesign settings as full-window sidebar modal
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/doctor.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/ui.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): keep CEF authorization off the native event loop
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/notification_host.rs
  apps/delidev/src-tauri/src/tray_host.rs
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: cargo-fmt

test(ci): require DeliDev icon LFS pointer
  scripts/ci/lfs-assets.test.mjs
Due: none

feat(delidev): persist irreversible managed backup deletion jobs
  apps/delidev/AGENTS.md
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/backups.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/backups.go
  cmds/delidev-cli/internal/cli/backups_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/backup_deletions.go
  cmds/delidev-cli/internal/server/backups.go
  cmds/delidev-cli/internal/server/backups_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/backup_deletions.go
  cmds/delidev-cli/internal/store/backup_deletions_test.go
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SystemService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): redesign settings as a full-window sidebar modal (#1053)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/doctor.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/ui.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

Implement DeliDev Inbox workspace v2
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/inbox-drafts.ts
  apps/delidev/src/inbox-selection.test.tsx
  apps/delidev/src/inbox-selection.tsx
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  apps/delidev/src/interactions.tsx
  apps/delidev/src/native-claude-interaction.tsx
  apps/delidev/src/native-claude-response.tsx
  apps/delidev/src/native-interaction-response.tsx
  apps/delidev/src/native-interaction.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/tray-presentation.test.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): preserve settings category state
  apps/delidev/src/App.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/settings.tsx
Due: none

feat(delidev): add account type list filters
  apps/delidev/AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/accounts_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/server/resource_pages_test.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-evidence.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

test(delidev): reconstruct legacy schemas before migration checks
  cmds/delidev-cli/internal/store/pr_ci_problems_test.go
  cmds/delidev-cli/internal/store/pr_remediation_test.go
  cmds/delidev-cli/internal/store/pricing_test.go
Due: go-fmt

fix(delidev): expose saved CEF documents to native accessibility
  Cargo.lock
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/src/main.rs
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: cargo-fmt

fix(delidev): initialize native Inbox option rows
  apps/delidev/src/native-claude-response.test.tsx
  apps/delidev/src/native-claude-response.tsx
  apps/delidev/src/native-interaction-response.test.tsx
  apps/delidev/src/native-interaction-response.tsx
Due: none

feat(delidev): implement Inbox workspace v2 (#1055)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/inbox-drafts.ts
  apps/delidev/src/inbox-selection.test.tsx
  apps/delidev/src/inbox-selection.tsx
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  apps/delidev/src/interactions.tsx
  apps/delidev/src/native-claude-interaction.tsx
  apps/delidev/src/native-claude-response.test.tsx
  apps/delidev/src/native-claude-response.tsx
  apps/delidev/src/native-interaction-response.test.tsx
  apps/delidev/src/native-interaction-response.tsx
  apps/delidev/src/native-interaction.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/tray-presentation.test.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): add sidebar project creation (#1054)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): recover revoked desktop registrations explicitly
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/desktop_recovery.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/desktop.tsx
  apps/delidev/src/device-settings.test.tsx
  apps/delidev/src/device-settings.tsx
  apps/delidev/src/local-registration.test.tsx
  apps/delidev/src/local-registration.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/desktop_recovery_test.go
  cmds/delidev-cli/internal/cli/devices.go
  cmds/delidev-cli/internal/cli/local_client.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

feat(delidev): retain backup creation jobs across client loss and restart
  apps/delidev/AGENTS.md
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/backups.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/backups.go
  cmds/delidev-cli/internal/cli/backups_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/backup_creations.go
  cmds/delidev-cli/internal/server/backups_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/backup_creations.go
  cmds/delidev-cli/internal/store/backup_creations_test.go
  cmds/delidev-cli/internal/store/backup_deletions.go
  cmds/delidev-cli/internal/store/backup_locks.go
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SystemService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

Clarify API provider validation evidence
  docs/cmds-delidev-evidence.md
Due: none

feat(delidev): add guided account management
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/styles.css
Due: none

fix(delidev): verify original backup authority before creation recovery
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_creations_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

build(delidev): verify keyless macOS CEF bundles with an isolated dry run
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-macos-dry-run.test.mjs
  apps/delidev/src-tauri/tauri.dry-run.conf.json
  apps/delidev/vitest.config.ts
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

delidev: add daily and model token analytics
  apps/delidev/AGENTS.md
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/usage-chart.tsx
  apps/delidev/src/usage-time.test.ts
  apps/delidev/src/usage-time.ts
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/search_test.go
  cmds/delidev-cli/internal/cli/usage.go
  cmds/delidev-cli/internal/domain/usage_summary.go
  cmds/delidev-cli/internal/domain/usage_summary_test.go
  cmds/delidev-cli/internal/server/usage_summary.go
  cmds/delidev-cli/internal/server/usage_summary_test.go
  cmds/delidev-cli/internal/store/usage_summary.go
  cmds/delidev-cli/internal/store/usage_summary_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-usage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

feat(delidev): add project creation to the sidebar header (#1058)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): replace desktop app icon (#1050)
  .gitattributes
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon-source.png
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  apps/delidev/src-tauri/icons/icon.svg
  apps/delidev/src-tauri/tauri.conf.json
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/lfs-assets.test.mjs
Due: none

docs: record token usage validation evidence
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): bind revoked recovery to original credential proof
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/desktop_recovery_test.go
  cmds/delidev-cli/internal/cli/local_client.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

fix(delidev): require original local pairing evidence for recovery
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/desktop_recovery_test.go
  cmds/delidev-cli/internal/cli/local_client.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
