Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(dexdex): align plan shortcuts and subtask dispatch contracts (#289)
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/features/tasks/plan-decisions.tsx
  apps/dexdex/src/hooks/use-keyboard-shortcuts.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-ui-contract.md
  docs/project-dexdex.md
  docs/servers-dexdex-pr-management-contract.md
  servers/dexdex-main-server/internal/handler/dispatch_contract_test.go
  servers/dexdex-main-server/internal/handler/id.go
  servers/dexdex-main-server/internal/handler/pr_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
  servers/dexdex-main-server/internal/worker/dispatch.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(cargo-mono): improve runtime error messaging with hints
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/commands/targeting.rs
  crates/cargo-mono/src/errors.rs
  crates/cargo-mono/src/git.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/src/versioning.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

derun: unify user-facing error message contracts
  cmds/derun/internal/cli/errors.go
  cmds/derun/internal/cli/mcp.go
  cmds/derun/internal/cli/root.go
  cmds/derun/internal/cli/root_test.go
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_flow.go
  cmds/derun/internal/mcp/errors.go
  cmds/derun/internal/mcp/output_helpers.go
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/tools_list_get.go
  cmds/derun/internal/mcp/tools_read_wait.go
  cmds/derun/internal/transport/run_pipe.go
  cmds/derun/internal/transport/run_posix.go
  cmds/derun/internal/transport/run_windows_conpty.go
  cmds/derun/internal/transport/run_windows_conpty_stub.go
  cmds/derun/internal/transport/run_windows_stub.go
  docs/cmds-derun-foundation.md
  docs/project-derun.md
Due: go-fmt

nodeup: standardize actionable error messages with hints
  apps/public-docs/nodeup.mdx
  crates/nodeup/README.md
  crates/nodeup/src/commands/run_cmd.rs
  crates/nodeup/src/commands/self_cmd.rs
  crates/nodeup/src/commands/show.rs
  crates/nodeup/src/commands/skeleton.rs
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/src/commands/update_check.rs
  crates/nodeup/src/commands/which_cmd.rs
  crates/nodeup/src/dispatch.rs
  crates/nodeup/src/errors.rs
  crates/nodeup/src/installer.rs
  crates/nodeup/src/overrides.rs
  crates/nodeup/src/paths.rs
  crates/nodeup/src/process.rs
  crates/nodeup/src/release_index.rs
  crates/nodeup/src/resolver.rs
  crates/nodeup/src/selectors.rs
  crates/nodeup/src/store.rs
  crates/nodeup/tests/cli.rs
  docs/crates-nodeup-foundation.md
Due: cargo-fmt

ttlc: centralize and improve user-facing diagnostics/errors
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/lexer/lexer.go
  cmds/ttlc/internal/lexer/lexer_test.go
  cmds/ttlc/internal/logging/logger.go
  cmds/ttlc/internal/messages/diagnostics.go
  cmds/ttlc/internal/messages/errors.go
  cmds/ttlc/internal/messages/messages_test.go
  cmds/ttlc/internal/parser/parser.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
Due: go-fmt

docs(ttlc): define centralized error message contract
  cmds/AGENTS.md
  docs/cmds-ttl-foundation.md
  docs/cmds-ttl-language-contract.md
  docs/project-ttl.md
Due: none

feat(nodeup): standardize actionable error messages with hints (#293)
  apps/public-docs/nodeup.mdx
  crates/nodeup/README.md
  crates/nodeup/src/commands/run_cmd.rs
  crates/nodeup/src/commands/self_cmd.rs
  crates/nodeup/src/commands/show.rs
  crates/nodeup/src/commands/skeleton.rs
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/src/commands/update_check.rs
  crates/nodeup/src/commands/which_cmd.rs
  crates/nodeup/src/dispatch.rs
  crates/nodeup/src/errors.rs
  crates/nodeup/src/installer.rs
  crates/nodeup/src/overrides.rs
  crates/nodeup/src/paths.rs
  crates/nodeup/src/process.rs
  crates/nodeup/src/release_index.rs
  crates/nodeup/src/resolver.rs
  crates/nodeup/src/selectors.rs
  crates/nodeup/src/store.rs
  crates/nodeup/tests/cli.rs
  docs/crates-nodeup-foundation.md
Due: cargo-fmt

feat(ttlc): centralize and improve user-facing diagnostics/errors (#294)
  cmds/AGENTS.md
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/lexer/lexer.go
  cmds/ttlc/internal/lexer/lexer_test.go
  cmds/ttlc/internal/logging/logger.go
  cmds/ttlc/internal/messages/diagnostics.go
  cmds/ttlc/internal/messages/errors.go
  cmds/ttlc/internal/messages/messages_test.go
  cmds/ttlc/internal/parser/parser.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
  docs/cmds-ttl-foundation.md
  docs/cmds-ttl-language-contract.md
  docs/project-ttl.md
Due: go-fmt

feat(cargo-mono): improve runtime error messaging with actionable hints (#292)
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/commands/targeting.rs
  crates/cargo-mono/src/errors.rs
  crates/cargo-mono/src/git.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/src/versioning.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

chore: Publish crates
  Cargo.lock
  apps/devkit/next-env.d.ts
  crates/cargo-mono/Cargo.toml
  crates/nodeup/Cargo.toml
Due: none

chore: Publish crates (#296)
  Cargo.lock
  apps/devkit/next-env.d.ts
  crates/cargo-mono/Cargo.toml
  crates/nodeup/Cargo.toml
Due: none

feat(derun): unify user-facing error message contracts (#295)
  cmds/derun/internal/cli/errors.go
  cmds/derun/internal/cli/mcp.go
  cmds/derun/internal/cli/root.go
  cmds/derun/internal/cli/root_test.go
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_flow.go
  cmds/derun/internal/mcp/errors.go
  cmds/derun/internal/mcp/output_helpers.go
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/tools_list_get.go
  cmds/derun/internal/mcp/tools_read_wait.go
  cmds/derun/internal/transport/run_pipe.go
  cmds/derun/internal/transport/run_posix.go
  cmds/derun/internal/transport/run_windows_conpty.go
  cmds/derun/internal/transport/run_windows_conpty_stub.go
  cmds/derun/internal/transport/run_windows_stub.go
  docs/cmds-derun-foundation.md
  docs/project-derun.md
Due: go-fmt

cargo-mono: switch to multiline error format with structured context
  crates/AGENTS.md
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/commands/targeting.rs
  crates/cargo-mono/src/errors.rs
  crates/cargo-mono/src/git.rs
  crates/cargo-mono/src/versioning.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

nodeup: enrich error messages with actionable diagnostic context
  crates/nodeup/src/commands/run_cmd.rs
  crates/nodeup/src/commands/self_cmd.rs
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/src/commands/update_check.rs
  crates/nodeup/src/errors.rs
  crates/nodeup/src/installer.rs
  crates/nodeup/src/release_index.rs
  crates/nodeup/src/resolver.rs
  crates/nodeup/src/selectors.rs
  crates/nodeup/tests/cli.rs
  docs/crates-nodeup-foundation.md
Due: cargo-fmt

feat(cargo-mono): improve runtime errors with multiline structured context (#297)
  crates/AGENTS.md
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/commands/targeting.rs
  crates/cargo-mono/src/errors.rs
  crates/cargo-mono/src/git.rs
  crates/cargo-mono/src/versioning.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

feat(nodeup): enrich error messages with actionable diagnostic context (#298)
  crates/nodeup/src/commands/run_cmd.rs
  crates/nodeup/src/commands/self_cmd.rs
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/src/commands/update_check.rs
  crates/nodeup/src/errors.rs
  crates/nodeup/src/installer.rs
  crates/nodeup/src/release_index.rs
  crates/nodeup/src/resolver.rs
  crates/nodeup/src/selectors.rs
  crates/nodeup/tests/cli.rs
  docs/crates-nodeup-foundation.md
Due: cargo-fmt

Improve ttlc diagnostics with contextual error data
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/messages/diagnostics.go
  cmds/ttlc/internal/messages/errors.go
  cmds/ttlc/internal/messages/messages_test.go
  cmds/ttlc/internal/parser/parser.go
  cmds/ttlc/internal/parser/parser_test.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
  docs/cmds-ttl-foundation.md
  docs/cmds-ttl-language-contract.md
Due: go-fmt

chore: bump patch versions for nodeup and cargo-mono
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/nodeup/Cargo.toml
Due: none

derun: enrich runtime errors with deterministic details
  cmds/derun/internal/capture/writer.go
  cmds/derun/internal/cli/errors.go
  cmds/derun/internal/cli/mcp.go
  cmds/derun/internal/cli/root.go
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_flow.go
  cmds/derun/internal/errmsg/format.go
  cmds/derun/internal/errmsg/format_test.go
  cmds/derun/internal/logging/logger.go
  cmds/derun/internal/mcp/errors.go
  cmds/derun/internal/mcp/output_helpers.go
  cmds/derun/internal/mcp/output_helpers_test.go
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/tools_list_get.go
  cmds/derun/internal/mcp/tools_read_wait.go
  cmds/derun/internal/mcp/tools_test.go
  cmds/derun/internal/retention/gc.go
  cmds/derun/internal/session/id.go
  cmds/derun/internal/state/lock_unix.go
  cmds/derun/internal/state/lock_windows.go
  cmds/derun/internal/state/paths.go
  cmds/derun/internal/state/store.go
  cmds/derun/internal/state/store_test.go
  cmds/derun/internal/transport/errors.go
  cmds/derun/internal/transport/run_pipe.go
  cmds/derun/internal/transport/run_posix.go
  cmds/derun/internal/transport/run_windows_conpty.go
  cmds/derun/internal/transport/run_windows_conpty_stub.go
  cmds/derun/internal/transport/run_windows_stub.go
  docs/cmds-derun-foundation.md
  docs/project-derun.md
Due: go-fmt

chore: bump patch versions for nodeup and cargo-mono (#300)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/nodeup/Cargo.toml
Due: none

feat(ttlc): modernize diagnostics with contextual error data (#299)
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/messages/diagnostics.go
  cmds/ttlc/internal/messages/errors.go
  cmds/ttlc/internal/messages/messages_test.go
  cmds/ttlc/internal/parser/parser.go
  cmds/ttlc/internal/parser/parser_test.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
  docs/cmds-ttl-foundation.md
  docs/cmds-ttl-language-contract.md
Due: go-fmt

feat(derun): enrich error messages with deterministic details (#301)
  cmds/derun/internal/capture/writer.go
  cmds/derun/internal/cli/errors.go
  cmds/derun/internal/cli/mcp.go
  cmds/derun/internal/cli/root.go
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_flow.go
  cmds/derun/internal/errmsg/format.go
  cmds/derun/internal/errmsg/format_test.go
  cmds/derun/internal/logging/logger.go
  cmds/derun/internal/mcp/errors.go
  cmds/derun/internal/mcp/output_helpers.go
  cmds/derun/internal/mcp/output_helpers_test.go
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/tools_list_get.go
  cmds/derun/internal/mcp/tools_read_wait.go
  cmds/derun/internal/mcp/tools_test.go
  cmds/derun/internal/retention/gc.go
  cmds/derun/internal/session/id.go
  cmds/derun/internal/state/lock_unix.go
  cmds/derun/internal/state/lock_windows.go
  cmds/derun/internal/state/paths.go
  cmds/derun/internal/state/store.go
  cmds/derun/internal/state/store_test.go
  cmds/derun/internal/transport/errors.go
  cmds/derun/internal/transport/run_pipe.go
  cmds/derun/internal/transport/run_posix.go
  cmds/derun/internal/transport/run_windows_conpty.go
  cmds/derun/internal/transport/run_windows_conpty_stub.go
  cmds/derun/internal/transport/run_windows_stub.go
  docs/cmds-derun-foundation.md
  docs/project-derun.md
Due: go-fmt

chore: stop tracking next-env.d.ts
  .gitignore
  apps/devkit/next-env.d.ts
Due: none

chore: stop tracking next-env.d.ts (#302)
  .gitignore
  apps/devkit/next-env.d.ts
Due: none

cargo-mono: improve cycle and metadata diagnostics
  crates/cargo-mono/src/errors.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

chore(release): bump 1 crate(s)
  crates/cargo-mono/Cargo.toml
Due: none

chore: sync Cargo.lock for cargo-mono 0.5.3
  Cargo.lock
Due: none

feat(cargo-mono): improve diagnostics and bump to 0.5.3 (#303)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/cargo-mono/src/errors.rs
  crates/cargo-mono/src/workspace.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

ci: add dexdex iOS smoke build job
  .github/workflows/CI.yml
  AGENTS.md
  docs/apps-dexdex-desktop-app-foundation.md
Due: none

chore(devkit): bump next to 16.2.1
  apps/devkit/package.json
  pnpm-lock.yaml
Due: none

ci: make dexdex iOS smoke build skip beforeBuildCommand
  .github/workflows/CI.yml
  AGENTS.md
  docs/apps-dexdex-desktop-app-foundation.md
Due: none

feat(cargo-mono): colorize human output and improve publish failure excerpts
  crates/cargo-mono/src/cli.rs
  crates/cargo-mono/src/commands/bump.rs
  crates/cargo-mono/src/commands/changed.rs
  crates/cargo-mono/src/commands/list.rs
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/src/types.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

chore(devkit): bump Next.js to 16.2.1 (#305)
  apps/devkit/package.json
  pnpm-lock.yaml
Due: none

feat(cargo-mono): colorize human output and improve publish failure excerpts (#306)
  crates/cargo-mono/src/cli.rs
  crates/cargo-mono/src/commands/bump.rs
  crates/cargo-mono/src/commands/changed.rs
  crates/cargo-mono/src/commands/list.rs
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/src/types.rs
  crates/cargo-mono/tests/cli.rs
  docs/crates-cargo-mono-foundation.md
  docs/project-cargo-mono.md
Due: cargo-fmt

chore(cargo-mono): bump patch version to 0.5.4
  Cargo.lock
  crates/cargo-mono/Cargo.toml
Due: none

ci: remove unsupported no-build flag from dexdex iOS job
  .github/workflows/CI.yml
  AGENTS.md
  docs/apps-dexdex-desktop-app-foundation.md
Due: none

chore(cargo-mono): bump patch version to 0.5.4 (#307)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
Due: none

fix(dexdex): gate desktop-only tauri integrations
  apps/dexdex/src-tauri/src/lib.rs
Due: cargo-fmt

feat(nodeup): add human output color controls
  apps/public-docs/nodeup.mdx
  crates/nodeup/README.md
  crates/nodeup/src/cli.rs
  crates/nodeup/src/commands/default_cmd.rs
  crates/nodeup/src/commands/mod.rs
  crates/nodeup/src/commands/override_cmd.rs
  crates/nodeup/src/commands/run_cmd.rs
  crates/nodeup/src/commands/self_cmd.rs
  crates/nodeup/src/commands/show.rs
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/src/commands/update_check.rs
  crates/nodeup/src/commands/which_cmd.rs
  crates/nodeup/src/lib.rs
  crates/nodeup/src/main.rs
  crates/nodeup/src/output_style.rs
  crates/nodeup/tests/cli.rs
  docs/crates-nodeup-foundation.md
  docs/project-nodeup.md
Due: cargo-fmt

fix(dexdex): add tauri mobile entry point for iOS build
  apps/dexdex/src-tauri/src/lib.rs
Due: cargo-fmt
