Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

docs(taskflow): record review repairs and isolated validation
  docs/crates-taskflow-conformance.md
Due: none

docs(ach): record twenty-fourth PR repair validation
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(clibox): show help when a subcommand is missing (#927)
  AGENTS.md
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/cli.rs
  crates/clibox/src/main.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/wait.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

fix(clibox): enforce YAML limits on emitted values only
  crates/AGENTS.md
  crates/clibox/src/yaml.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

test(taskflow): wait for initialized MinIO before S3 setup
  crates/taskflow/AGENTS.md
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(clibox): retain errors when tracing filters suppress diagnostics
  crates/AGENTS.md
  crates/clibox/src/config_runtime.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

feat(clibox): add text time base64 and hash utilities (#922)
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/base64.rs
  crates/clibox/src/cli.rs
  crates/clibox/src/environment.rs
  crates/clibox/src/hash.rs
  crates/clibox/src/io.rs
  crates/clibox/src/main.rs
  crates/clibox/src/publication.rs
  crates/clibox/src/system.rs
  crates/clibox/src/text.rs
  crates/clibox/src/time.rs
  crates/clibox/src/transform.rs
  crates/clibox/src/transform_error.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/process.rs
  crates/clibox/tests/utilities.rs
  crates/clibox/tests/wait.rs
  crates/clibox/tests/windows_cancellation.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
  scripts/ci/clibox-release.test.mjs
Due: cargo-fmt

fix(ach): include leftover workspaces in byte retention
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/query.go
  cmds/async-commit-hook/internal/core/retention_workspace_test.go
  docs/cmds-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-evidence.md
Due: go-fmt

fix(taskflow): validate task identity before suppression
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): forward effective Docker environment names once
  crates/taskflow/AGENTS.md
  crates/taskflow/src/docker.rs
  crates/taskflow/src/environment.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): select the highest stable update version
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/update.go
  cmds/async-commit-hook/internal/core/update_version.go
  cmds/async-commit-hook/internal/core/update_version_test.go
  docs/cmds-async-commit-hook-evidence.md
  docs/cmds-async-commit-hook-release-contract.md
  go.mod
Due: go-fmt

fix(taskflow): reject NUL in complete glob declarations
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): discard failed update preparation backups
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/update.go
  cmds/async-commit-hook/internal/core/update_preparation_test.go
  docs/cmds-async-commit-hook-evidence.md
  docs/cmds-async-commit-hook-release-contract.md
Due: go-fmt

fix(taskflow): retain queued directory mutation causes
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

test(ach): avoid Windows readiness file sharing races
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api_discovery_test.go
  docs/cmds-async-commit-hook-evidence.md
  docs/protos-async-commit-hook-v1-contract.md
Due: go-fmt

docs(taskflow): record readiness and review repair validation
  docs/crates-taskflow-conformance.md
Due: none

docs(ach): record retention and update repair validation
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(clibox): share YAML merge maps and incremental size summaries
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/src/yaml.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(runlens): mark io_uring collection incomplete before forwarding
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/io_uring.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): compare baseline access modes across Windows path aliases
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(clibox): await native Windows console cancellation in npm launcher
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/tests/windows_launcher.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/src/launcher.cjs
  packages/clibox/test/launcher.test.mjs
Due: cargo-fmt

fix(runlens): require directory ancestry before and after execution
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/src/execute.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(clibox): count CR and CRLF correctly in YAML diagnostics
  crates/AGENTS.md
  crates/clibox/src/yaml.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(runlens): reject contradictory child termination outcomes
  apps/runlens-docs/docs/reports.md
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/src/model.rs
  crates/runlens/src/report.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

test(runlens): isolate alias regression memory and platform metadata
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
Due: cargo-fmt

test(runlens): prepare output directories in fresh environment fixtures
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
Due: cargo-fmt

ci(release): stop waiting for main CI before project releases
  .github/workflows/release-project.yml
  AGENTS.md
  crates/AGENTS.md
  docs/crates-cargo-mono-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-cargo-mono.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  scripts/ci/project-release.test.mjs
  scripts/release/README.md
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: none

test(async-commit-hook): isolate browser storage from Node globals
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/vitest.config.ts
  docs/apps-async-commit-hook-contract.md
Due: none

fix(taskflow): select descendant inputs for changed gitlinks
  crates/taskflow/AGENTS.md
  crates/taskflow/src/ci.rs
  crates/taskflow/src/cli.rs
  crates/taskflow/src/plan.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): reject remote Docker named pipe endpoints
  crates/taskflow/AGENTS.md
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

ci(release): stop waiting for main CI before project releases (#929)
  .github/workflows/release-project.yml
  AGENTS.md
  crates/AGENTS.md
  docs/crates-cargo-mono-foundation.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-cargo-mono.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  scripts/ci/project-release.test.mjs
  scripts/release/README.md
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: none

fix(taskflow): scope Docker helpers to container lifetimes
  crates/taskflow/AGENTS.md
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): preserve watched input causes across metadata refresh
  crates/taskflow/AGENTS.md
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): reject ignored root policy in child projects
  apps/public-docs/docs/taskflow/configuration.md
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/src/discover.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(clibox): probe Windows attribute access directly in DACL tests
  crates/AGENTS.md
  crates/clibox-transform/src/publication.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

feat(release): prepare async-commit-hook versions and tags
  .github/workflows/release-project.yml
  AGENTS.md
  docs/cmds-async-commit-hook-evidence.md
  docs/cmds-async-commit-hook-release-contract.md
  docs/project-async-commit-hook.md
  docs/repository-workflow-contract.md
  packaging/async-commit-hook/AGENTS.md
  scripts/ci/project-release.test.mjs
  scripts/release/README.md
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: none

docs(taskflow): record review repairs and current validation evidence
  docs/crates-taskflow-conformance.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
