Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(runmoor): transfer reload journal ownership to retries
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

docs(delidev): reconcile remote-first repository owners (#1478)
  AGENTS.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
Due: none

fix(runmoor): resume stopped reload target on first service start
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_start_recovery_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(ci): include hidden paths in affected job selection
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
Due: none

fix(ci): check DevHud generated client freshness
  .github/AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

fix(ci): run DeliDev updater regressions when the generator changes (#1475)
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

test(ci): keep unsigned checksum fixture independent of cosign
  scripts/release/validate-devhud-private-build.test.mjs
Due: none

fix(delidev): preserve reappearing storage namespaces in copy cleanup
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletion_storage_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(ci): reuse immutable CLI releases during publication retries (#1481)
  .github/AGENTS.md
  .github/workflows/release-binpm.yml
  .github/workflows/release-cargo-mono.yml
  .github/workflows/release-derun.yml
  .github/workflows/release-nodeup.yml
  .github/workflows/release-with-watch.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/clibox-tools.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
  scripts/ci/project-release.test.mjs
  scripts/release/legacy-cli-release.mjs
  scripts/release/legacy-cli-release.test.mjs
Due: none

fix(delidev): retain unacknowledged review deletions
  apps/delidev/src/local-reviews.test.tsx
  apps/delidev/src/local-reviews.tsx
  apps/delidev/src/mutation.tsx
Due: none

fix(ci): build extension ZIPs after package regressions (#1479)
  apps/AGENTS.md
  apps/devhud-chrome-extension/turbo.json
  docs/apps-devhud-chrome-extension-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/extension-package.test.mjs
Due: none

fix(ci): skip Go cache saves without setup
  .github/workflows/CI.yml
  scripts/ci/ci-contract.test.mjs
Due: none

fix(ci): require successful Chrome uploads before review submission (#1477)
  AGENTS.md
  docs/apps-devhud-operations-contract.md
  scripts/release/devhud-store-release.mjs
  scripts/release/devhud-store-release.test.mjs
Due: none

fix(runmoor): preserve service definitions with no-replace publication
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_darwin.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_linux.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_other.go
  cmds/runmoor/internal/runmoor/service_reload_publication.go
  cmds/runmoor/internal/runmoor/service_reload_publication_test.go
  cmds/runmoor/internal/runmoor/service_reload_rename_darwin.go
  cmds/runmoor/internal/runmoor/service_reload_rename_linux.go
  cmds/runmoor/internal/runmoor/service_reload_rename_other.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(ci): preserve React Forge Cargo target directory (#1469)
  docs/packages-react-forge-contract.md
  packages/react-forge/AGENTS.md
  packages/react-forge/turbo.json
Due: none

fix(delidev): validate complete account checklist records
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
Due: none

fix(delidev): claim final storage roots before unlink
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletion_storage_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/delete_storage.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/snapshot_claim_remove.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root_test.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(ci): check DevHud generated client freshness (#1487)
  .github/AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

fix(ci): invalidate public docs caches for installer changes (#1488)
  apps/AGENTS.md
  apps/public-docs/turbo.json
  docs/apps-public-docs-foundation.md
  docs/project-public-docs.md
  scripts/ci/public-docs-cache.test.mjs
Due: none

fix(clibox): rediscover retained GitHub release drafts (#1473)
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/scripts/github-release.mjs
  packages/clibox/test/github-release.test.mjs
Due: none

fix(delidev): unmap browser children when forgetting saved scopes
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): invalidate stale Fork preflight drafts (#1502)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-forks-contract.md
Due: none

fix(delidev): confirm harness in hidden-account layout check (#1499)
  apps/delidev/scripts/test-settings-layout.mjs
Due: none

fix(delidev): coalesce pending Inbox detail refreshes (#1501)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retain ChatGPT deletion tasks through dismissal (#1504)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-deletion.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/project-delidev.md
Due: none

fix(runmoor): retain reload journals until the active retry completes (#1506)
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(delidev): repair known model review edges
  cmds/delidev-cli/internal/cli/account_oauth_test.go
  cmds/delidev-cli/internal/cli/accounts_test.go
  cmds/delidev-cli/internal/cli/backups_test.go
  cmds/delidev-cli/internal/cli/browser_test.go
  cmds/delidev-cli/internal/cli/budget_test.go
  cmds/delidev-cli/internal/cli/cli_test.go
  cmds/delidev-cli/internal/cli/configuration_transfer_test.go
  cmds/delidev-cli/internal/cli/connections_test.go
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/cli/desktop_recovery_test.go
  cmds/delidev-cli/internal/cli/devices_test.go
  cmds/delidev-cli/internal/cli/forwards_test.go
  cmds/delidev-cli/internal/cli/inbox_test.go
  cmds/delidev-cli/internal/cli/integrations_test.go
  cmds/delidev-cli/internal/cli/lifecycle_test.go
  cmds/delidev-cli/internal/cli/local_client_test.go
  cmds/delidev-cli/internal/cli/network_test.go
  cmds/delidev-cli/internal/cli/notifications_test.go
  cmds/delidev-cli/internal/cli/pricing_test.go
  cmds/delidev-cli/internal/cli/request_diagnostics_test.go
  cmds/delidev-cli/internal/cli/schedules_test.go
  cmds/delidev-cli/internal/cli/search_test.go
  cmds/delidev-cli/internal/cli/session_dispatch_native_test.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/cli/start_test.go
  cmds/delidev-cli/internal/cli/usage_accounting_test.go
  cmds/delidev-cli/internal/cli/worker_lifecycle_test.go
  cmds/delidev-cli/internal/connections/profiles_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/server_startup.go
  scripts/ci/delidev-known-models.test.mjs
Due: go-fmt

fix(delidev): ignore merged catalog reviews
  scripts/delidev/known-subscription-models-pr.mjs
Due: none

fix(ci): fail closed on ambiguous Google Play publication evidence (#1505)
  AGENTS.md
  docs/apps-devhud-operations-contract.md
  docs/project-devhud.md
  docs/servers-devhud-release-controller-contract.md
  scripts/release/devhud-public-workflow.test.mjs
  scripts/release/devhud-store-release.mjs
  scripts/release/devhud-store-release.test.mjs
Due: none

fix(delidev): guard locally generated proxy errors (#1470)
  cmds/delidev-cli/internal/apiproxy/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/errors.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/local_errors_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-proxy-contract.md
Due: go-fmt

fix(delidev): restore historical descriptor declaration order (#1485)
  docs/cmds-delidev-structure-contract.md
  docs/packages-delidev-api-client-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  packages/delidev-api-client/tests/legacy-imports.test.ts
  packages/delidev-api-client/turbo.json
  protos/delidev/AGENTS.md
  protos/delidev/v1/contracttest/compatibility_test.go
  protos/delidev/v1/contracttest/testdata/legacy-declaration-order.json
  protos/gen/go/delidev/v1/zz_delidev_compat.go
  scripts/delidev/proto-layout.json
Due: go-fmt

fix(delidev): hide hidden-account emptiness during refresh (#1509)
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
Due: none

fix(delidev): guard synthesized Responses error metadata
  cmds/delidev-cli/internal/apiproxy/responses_error_test.go
  cmds/delidev-cli/internal/apiproxy/stream.go
Due: go-fmt

fix(delidev): close remote repository review gaps
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/domain/repository_clone.go
  cmds/delidev-cli/internal/domain/repository_clone_test.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/configuration_import.go
  cmds/delidev-cli/internal/server/repositories.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/prepare_test.go
  cmds/delidev-cli/internal/workspace/remote_clone.go
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

fix(delidev): expose retained manual PR fix retries (#1513)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/mutation.tsx
  apps/delidev/src/pr-fix-navigation.test.tsx
  apps/delidev/src/pr-fix.test.tsx
  apps/delidev/src/pr-fix.tsx
  apps/delidev/src/pull-requests.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): unmap browser children when forgetting saved scopes (#1511)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): move widget persistence and Quit joins off the UI loop
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src-tauri/src/widget_host.rs
  apps/delidev/src-tauri/src/widget_writer.rs
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-widget-contract.md
  docs/project-delidev.md
Due: cargo-fmt

fix(ci): select native Turbo checks for shared root inputs (#1476)
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

fix(delidev): recognize subscription accounts in the first-session checklist (#1449)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
