Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix: address Deck synchronization review feedback
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/deck.test.ts
  apps/devhud/src/deck.ts
  apps/devhud/src/github-provider.test.ts
  apps/devhud/src/github-provider.ts
  apps/devhud/src/localization.ts
  apps/devhud/src/settings-contract.ts
  docs/apps-devhud-foundation.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): disambiguate merged iOS dependency lock
  Cargo.lock
Due: none

fix(devhud): close Deck polling races
  apps/devhud/src/deck-polling-cancellation.ts
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): address native messaging review
  apps/devhud-chrome-extension/scripts/policy.test.mjs
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/popup.test.ts
  apps/devhud-chrome-extension/src/popup.ts
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/native_messaging.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): scan delimited diagnostic credentials
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): refresh embedded admin assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.23cb108c.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.23cb108c.js.LICENSE.txt
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.9dc527a0.js
Due: none

fix(devhud): close logout and migration gaps
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): cancel deck refreshes during account cleanup
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
Due: none

fix(devhud): harden diagnostic label redaction
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): refresh embedded admin assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.23cb108c.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.898a0223.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.898a0223.js.LICENSE.txt
Due: none

fix(devhud): attach Chrome context to RealQA drafts
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/native-messaging.test.ts
  apps/devhud/src/native-messaging.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): close diagnostics review gaps
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: cargo-fmt, go-fmt

fix(devhud): stabilize extension CI checks
  .github/workflows/CI.yml
  apps/devhud-chrome-extension/scripts/deterministic-build.test.mjs
  apps/devhud-chrome-extension/src/capture.test.ts
Due: none

fix(devhud): address native messaging review
  apps/devhud/rsbuild.config.ts
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/verify-frontend-output.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/main.desktop.tsx
  apps/devhud/src/main.mobile.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/native-messaging-ui.tsx
  apps/devhud/src/native-messaging.test.ts
  apps/devhud/src/native-messaging.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  crates/devhud-native-messaging-host/src/main.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address native messaging review
  AGENTS.md
  apps/AGENTS.md
  apps/devhud-chrome-extension/README.md
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  apps/devhud/src-tauri/src/native_messaging.rs
  crates/AGENTS.md
  crates/devhud-native-messaging-host/README.md
  crates/devhud-native-messaging-host/src/main.rs
  crates/devhud-native-messaging-host/src/protocol.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): reconcile extension origin permissions
  apps/devhud-chrome-extension/public/_locales/en/messages.json
  apps/devhud-chrome-extension/public/_locales/ko/messages.json
  apps/devhud-chrome-extension/scripts/policy.test.mjs
  apps/devhud-chrome-extension/src/popup.test.ts
  apps/devhud-chrome-extension/src/popup.ts
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  docs/apps-devhud-chrome-extension-contract.md
  docs/project-devhud.md
Due: none

fix(devhud): fail closed during native cleanup
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/windows/hooks.nsh
  docs/apps-devhud-chrome-extension-contract.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: none

fix(devhud): address native messaging review feedback
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  crates/devhud-native-messaging-host/Cargo.toml
  crates/devhud-native-messaging-host/src/main.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): retry invalidated native sessions
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src-tauri/windows/hooks.nsh
  crates/devhud-native-messaging-host/src/main.rs
  crates/devhud-native-messaging-host/src/protocol.rs
  docs/crates-devhud-native-messaging-host-contract.md
Due: cargo-fmt

fix(devhud): initialize picker on visible candidate
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
Due: none

fix(devhud): harden native listener validation
  apps/devhud/src-tauri/src/native_messaging.rs
Due: cargo-fmt

test(devhud): tolerate macOS process zombies
  apps/devhud/scripts/platform-smoke-child.test.mjs
Due: none

fix(devhud): harden extension permissions and unregister
  AGENTS.md
  apps/devhud-chrome-extension/src/configured-mapping.test.ts
  apps/devhud-chrome-extension/src/origin-permission.test.ts
  apps/devhud-chrome-extension/src/origin-permission.ts
  apps/devhud-chrome-extension/src/popup.test.ts
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud/src-tauri/src/native_messaging.rs
  crates/AGENTS.md
  crates/devhud-native-messaging-host/src/auth.rs
  crates/devhud-native-messaging-host/src/main.rs
  crates/devhud-native-messaging-host/src/protocol.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): invalidate captures on config changes
  apps/devhud/src-tauri/src/native_messaging.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

style(devhud): format merged purge flow
  apps/devhud/src-tauri/src/bridge.rs
Due: cargo-fmt

fix(devhud): bound and isolate element picker
  apps/AGENTS.md
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  docs/apps-devhud-chrome-extension-contract.md
  docs/project-devhud.md
Due: none

fix(devhud): serialize native configuration updates
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src/native-messaging.test.ts
  apps/devhud/src/native-messaging.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): bound native IPC retries and connects
  AGENTS.md
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/src-tauri/src/native_messaging.rs
  crates/AGENTS.md
  crates/devhud-native-messaging-host/Cargo.toml
  crates/devhud-native-messaging-host/src/endpoint.rs
  crates/devhud-native-messaging-host/src/main.rs
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): enforce native context field bounds
  crates/devhud-native-messaging-host/src/protocol.rs
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): preserve grants before configuration hydration
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  docs/apps-devhud-chrome-extension-contract.md
Due: none

feat(devhud): implement signed desktop updater
  .github/workflows/CI.yml
  AGENTS.md
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/package.json
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/validate-updater-release.mjs
  apps/devhud/scripts/verify-pins.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/fixtures/updater/invalid-signature.json
  apps/devhud/src-tauri/fixtures/updater/rollback-authorized.json
  apps/devhud/src-tauri/fixtures/updater/rotation.json
  apps/devhud/src-tauri/fixtures/updater/signed.json
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/src/platform.rs
  apps/devhud/src-tauri/src/updater.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/styles.css
  apps/devhud/src/updater-ui.test.tsx
  apps/devhud/src/updater-ui.tsx
  apps/devhud/updater-trust-root.json
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  scripts/release/README.md
  servers/AGENTS.md
  servers/devhud-api/cmd/devhud-api/main.go
  servers/devhud-api/internal/config/config.go
  servers/devhud-api/internal/server/cors.go
  servers/devhud-api/internal/server/server.go
  servers/devhud-api/internal/server/server_test.go
  servers/devhud-api/internal/updates/handler.go
  servers/devhud-api/internal/updates/handler_test.go
Due: cargo-fmt, go-fmt

fix(devhud): harden updater runtime transitions
  Cargo.lock
  apps/devhud/scripts/verify-pins.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/updater.rs
  docs/apps-devhud-updater-contract.md
Due: cargo-fmt

fix(devhud): exclude hidden text from browser context
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
Due: none

fix(devhud): address native messaging review feedback
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/sanitizer.test.ts
  apps/devhud-chrome-extension/src/sanitizer.ts
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  crates/devhud-native-messaging-host/src/main.rs
  crates/devhud-native-messaging-host/src/protocol.rs
  docs/apps-devhud-chrome-extension-contract.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address updater review feedback
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/updater.rs
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/updater-ui.test.tsx
  apps/devhud/src/updater-ui.tsx
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): validate native messaging configuration
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src/native-messaging.ts
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
  apps/devhud/src/url-mapping.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): bound extension configuration capture
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  docs/apps-devhud-chrome-extension-contract.md
  docs/project-devhud.md
Due: none

fix(devhud): address updater review feedback
  AGENTS.md
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/package.json
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/validate-updater-release.mjs
  apps/devhud/scripts/validate-updater-release.test.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/src/updater.rs
  apps/devhud/src/updater-ui.test.tsx
  apps/devhud/src/updater-ui.tsx
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): compile macOS updater archive validation
  apps/devhud/src-tauri/src/updater.rs
Due: cargo-fmt

test(devhud): normalize policy source line endings
  apps/devhud/scripts/mobile-policy.test.mjs
Due: none
