Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): read quota through the original active execution (#1839)
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_active_quota_test.go
  cmds/delidev-cli/internal/server/subscription_observations.go
  cmds/delidev-cli/internal/worker/subscription_active_quota_unix_test.go
  cmds/delidev-cli/internal/worker/subscriptions_unix_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): remove the false Codex installation version requirement (#1838)
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_installation_diagnostic_test.go
  cmds/delidev-cli/internal/server/subscriptions.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): retain Session Info beside workspace tools (#1841)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-transcript-role-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/transcript-role-layout.fixture.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): show submitted messages before native publication (#1840)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/mutation-submission.test.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/session-mixed-draft.test.tsx
  apps/delidev/src/session-skill-draft.test.tsx
  apps/delidev/src/session-submission-lifetime.test.tsx
  apps/delidev/src/session-submissions.test.ts
  apps/delidev/src/session-submissions.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/test-session-input.ts
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): resize the Browser beside conversations (#1843)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-session-browser-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-browser.json
  apps/delidev/src/locales/ko/session-browser.json
  apps/delidev/src/session-browser-layout.fixture.css
  apps/delidev/src/session-browser-layout.fixture.tsx
  apps/delidev/src/session-browser-layout.test.tsx
  apps/delidev/src/session-browser-layout.ts
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-browser-contract.md
Due: none

fix(delidev): compact the session follow-up composer (#1842)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-session-composer-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/image-attachments.test.tsx
  apps/delidev/src/image-attachments.tsx
  apps/delidev/src/locales/en/image-input.json
  apps/delidev/src/locales/ko/image-input.json
  apps/delidev/src/session-composer-layout.fixture.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): browse workspace files in a lazy tree (#1845)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-files.json
  apps/delidev/src/locales/ko/session-files.json
  apps/delidev/src/session-files-model.test.ts
  apps/delidev/src/session-files-model.ts
  apps/delidev/src/session-files-observation.ts
  apps/delidev/src/session-files.test.tsx
  apps/delidev/src/session-files.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-files-contract.md
  docs/project-delidev.md
Due: none

feat(delidev): add an interactive terminal bottom dock (#1844)
  .gitattributes
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/public/terminal-notices/LICENSE-addon-fit.txt
  apps/delidev/public/terminal-notices/LICENSE-addon-webgl.txt
  apps/delidev/public/terminal-notices/LICENSE-xterm.txt
  apps/delidev/public/terminal-notices/NOTICE.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-terminals.json
  apps/delidev/src/locales/ko/session-terminals.json
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/terminal-dock-size.ts
  apps/delidev/src/terminal-dock.css
  apps/delidev/src/terminal-emulator.ts
  apps/delidev/src/terminal-input-queue.test.ts
  apps/delidev/src/terminal-input-queue.ts
  apps/delidev/src/terminal-parser.test.ts
  apps/delidev/src/themes.css
  apps/delidev/src/themes.test.ts
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-terminals-contract.md
  docs/project-delidev.md
  docs/repository-license-contract.md
  package.json
  patches/@xterm__xterm@6.0.0.patch
  pnpm-lock.yaml
  servers/devhud-api/Dockerfile
Due: none

fix(delidev): show only queued inputs in the waiting list (#1846)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-order.test.ts
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): select date format with a dropdown (#1847)
  apps/delidev/src/account-connection.test.tsx
  apps/delidev/src/date-format.css
  apps/delidev/src/date-format.test.tsx
  apps/delidev/src/date-format.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): show configured account counts in Agent Worker routes (#1848)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-models.test.tsx
  apps/delidev/src/agent-worker-row.css
  apps/delidev/src/agent-worker-row.tsx
  apps/delidev/src/locales/en/agent-worker-row.json
  apps/delidev/src/locales/ko/agent-worker-row.json
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): accept official optional Codex quota fields (#1849)
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/quota.go
  cmds/delidev-cli/internal/harness/codex/quota_response_test.go
  cmds/delidev-cli/internal/harness/codex/subscription_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): recover local Workers after confirmed controller exit (#1852)
  AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_worker.go
  cmds/delidev-cli/internal/process/AGENTS.md
  cmds/delidev-cli/internal/process/controller_identity.go
  cmds/delidev-cli/internal/process/controller_identity_darwin.go
  cmds/delidev-cli/internal/process/controller_identity_linux.go
  cmds/delidev-cli/internal/process/controller_identity_test.go
  cmds/delidev-cli/internal/process/controller_identity_unix.go
  cmds/delidev-cli/internal/process/controller_identity_windows.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/controller_evidence.go
  cmds/delidev-cli/internal/worker/controller_evidence_test.go
  cmds/delidev-cli/internal/worker/lifecycle.go
  cmds/delidev-cli/internal/worker/run.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-process-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): show local Worker problems outside Settings Doctor (#1851)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/doctor.test.tsx
  apps/delidev/src/local-worker-controls.test.tsx
  apps/delidev/src/local-worker-controls.tsx
  apps/delidev/src/locales/en/local-worker-controls.json
  apps/delidev/src/locales/en/settings.json
  apps/delidev/src/locales/ko/local-worker-controls.json
  apps/delidev/src/locales/ko/settings.json
  apps/delidev/src/settings-devices.integration.test.tsx
  apps/delidev/src/settings-runner-devices.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-diagnostics-contract.md
Due: none

fix(runmoor): verify host parent before removal proof
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/host_storage.go
  cmds/runmoor/internal/runmoor/host_storage_unix_test.go
  cmds/runmoor/internal/runmoor/host_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

docs(ci): qualify observed formatter log omission
  scripts/ci/rustfmt-cache.fixture.mjs
Due: none

test(ci): prove formatter completion and package ordering directly
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/extension-package.test.mjs
  scripts/ci/rustfmt-cache.fixture.mjs
Due: none

fix(runmoor): preserve host status ownership failures
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/host.go
  cmds/runmoor/internal/runmoor/host_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): keep offline image listing read-only
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/images_list_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): prove resource absence before remote cleanup
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/github.go
  cmds/runmoor/internal/runmoor/github_absence_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): wait for managed artifacts before global shutdown
  cmds/runmoor/internal/runmoor/artifact_wait_test.go
  cmds/runmoor/internal/runmoor/cli.go
Due: go-fmt

fix(runmoor): validate created Docker volume ownership
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/docker.go
  cmds/runmoor/internal/runmoor/docker_volume_create_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): retain interrupted image creation reservations
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/images_creation_reservation_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): preserve suspension authority after late worker outcomes
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_publication_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): preserve warm capacity during Docker engine waits
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/scheduler.go
  cmds/runmoor/internal/runmoor/scheduler_docker_retirement_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): confirm Darwin Tart process absence
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/process_identity_darwin.go
  cmds/runmoor/internal/runmoor/process_identity_darwin_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): retain recorded host worker identity on completion
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/host.go
  cmds/runmoor/internal/runmoor/host_terminal_identity_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

test(clibox): keep native watch coordination off project paths
  Cargo.lock
  crates/AGENTS.md
  crates/clibox-fspy/Cargo.toml
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(clibox): observe owned descendant before cancellation
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(clibox): report unavailable Windows UDP owners
  crates/clibox-system/src/port/mod.rs
  crates/clibox-system/src/port/tests.rs
  crates/clibox-system/src/port/windows.rs
  crates/clibox-system/src/port/windows_projection.rs
Due: cargo-fmt

test(clibox): publish setup link events before watch discovery
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/tests/fspy_watch.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(clibox): synchronize foreground terminal input
  crates/clibox/tests/run.rs
Due: cargo-fmt

test(clibox): wait for completed watch dependency handoff
  crates/AGENTS.md
  crates/clibox-fspy/src/watch.rs
  crates/clibox/tests/fspy_watch.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(clibox): verify direct foreground shell ownership
  crates/clibox/tests/run.rs
Due: cargo-fmt

test(delidev): isolate GitHub presentation fixture writer
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/tests.rs
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

test(delidev): cover closed presentation failure boundaries
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/tests.rs
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

fix(pnport): freeze scratch inheritance before Linux fork
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/src/linux_scratch.rs
  crates/pnport/src/main.rs
  crates/pnport/tests/process-tree.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

feat(delidev): automate signed download releases
  .github/AGENTS.md
  .github/workflows/release-delidev.yml
  .github/workflows/release-project.yml
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/bundle-release.mjs
  docs/apps-delidev-packaging-contract.md
  docs/cmds-delidev-updates-contract.md
  docs/project-delidev.md
  docs/repository-workflow-contract.md
  scripts/ci/project-release.test.mjs
  scripts/release/delidev-candidate.mjs
  scripts/release/delidev-macos-sign.mjs
  scripts/release/delidev-macos-sign.test.mjs
  scripts/release/delidev-release.mjs
  scripts/release/delidev-release.test.mjs
  scripts/release/delidev-workflow.test.mjs
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: none

test(clibox): observe service readiness and cancellation causally
  crates/clibox/tests/run.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
