Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(runmoor): distinguish remote and local ownership suspension
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

Use portable absolute path in guided IPSW test
  cmds/runmoor/internal/runmoor/guided_init_test.go
Due: go-fmt

feat(delidev): retain PR feedback versions and local dismissal
  apps/delidev/AGENTS.md
  apps/delidev/src/github-items.tsx
  apps/delidev/src/pr-problems.test.tsx
  apps/delidev/src/pr-problems.tsx
  apps/delidev/src/session-pull-requests.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/pr_problems.go
  cmds/delidev-cli/internal/cli/pr_problems_test.go
  cmds/delidev-cli/internal/domain/pr_problems.go
  cmds/delidev-cli/internal/server/pr_problems.go
  cmds/delidev-cli/internal/server/pr_problems_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/notifications_test.go
  cmds/delidev-cli/internal/store/pr_problems.go
  cmds/delidev-cli/internal/store/pr_problems_test.go
  cmds/delidev-cli/internal/store/pricing_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(runmoor): guide macOS Tart image setup during init (#1036)
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/guided_init.go
  cmds/runmoor/internal/runmoor/guided_init_test.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(runmoor): compare managed recovery with failed pool
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): preserve and recover suspended pool state (#1032)
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_types.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

feat(delidev): retain required CI and conflict problem evidence
  apps/delidev/AGENTS.md
  apps/delidev/src/github-ci.tsx
  apps/delidev/src/pr-problems.test.tsx
  apps/delidev/src/pr-problems.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/pr_problems.go
  cmds/delidev-cli/internal/cli/pr_problems_test.go
  cmds/delidev-cli/internal/domain/pr_ci_problems.go
  cmds/delidev-cli/internal/domain/pr_ci_problems_test.go
  cmds/delidev-cli/internal/domain/pr_conflicts.go
  cmds/delidev-cli/internal/domain/pr_conflicts_test.go
  cmds/delidev-cli/internal/domain/pr_problems.go
  cmds/delidev-cli/internal/server/pr_problems.go
  cmds/delidev-cli/internal/server/pr_problems_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/pr_ci_problems.go
  cmds/delidev-cli/internal/store/pr_ci_problems_test.go
  cmds/delidev-cli/internal/store/pr_problem_collection.go
  cmds/delidev-cli/internal/store/pr_problems.go
  cmds/delidev-cli/internal/store/pr_problems_test.go
  cmds/delidev-cli/internal/store/pricing_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

runmoor: accept stable Tart 2.x releases
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

runmoor: support stable Tart 2.x releases (#1039)
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

feat(delidev): persist bounded PR remediation coordination
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/pr_problems.go
  cmds/delidev-cli/internal/domain/pr_remediation.go
  cmds/delidev-cli/internal/domain/pr_remediation_chain.go
  cmds/delidev-cli/internal/domain/pr_remediation_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/pr_ci_problems_test.go
  cmds/delidev-cli/internal/store/pr_remediation.go
  cmds/delidev-cli/internal/store/pr_remediation_test.go
  cmds/delidev-cli/internal/store/pricing_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(release): retry public Linux package readback failures
  docs/repository-linux-packages-contract.md
  packaging/linux/AGENTS.md
  scripts/release/linux-packages.mjs
  scripts/release/linux-packages.test.mjs
  scripts/release/linux-packages/public-readback.mjs
Due: none

feat(delidev): preserve original PR source repository identity
  apps/delidev/AGENTS.md
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/github-pr-source.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/domain/pr_git_target.go
  cmds/delidev-cli/internal/domain/pr_git_target_test.go
  cmds/delidev-cli/internal/integrations/github/pr_git_target_test.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/query.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(release): retry public Linux package readback failures (#1040)
  docs/repository-linux-packages-contract.md
  packaging/linux/AGENTS.md
  scripts/release/linux-packages.mjs
  scripts/release/linux-packages.test.mjs
  scripts/release/linux-packages/public-readback.mjs
Due: none

feat(delidev): prepare exact PR head worktrees on Workers
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/pr_prepare.go
  cmds/delidev-cli/internal/workspace/pr_prepare_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  cmds/delidev-cli/internal/workspace/result.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): revalidate prepared PRs before native startup
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/execution.go
  cmds/delidev-cli/internal/workspace/pr_preflight.go
  cmds/delidev-cli/internal/workspace/pr_preflight_test.go
  cmds/delidev-cli/internal/workspace/pr_prepare_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

feat(delidev): retain original PR startup rejection phases
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/execution.go
  cmds/delidev-cli/internal/workspace/pr_preflight_test.go
  cmds/delidev-cli/internal/workspace/pr_startup.go
  cmds/delidev-cli/internal/workspace/pr_startup_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): reconcile original PR startup rejection reports
  apps/delidev/AGENTS.md
  apps/delidev/src/queue.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/startup-rejection.test.tsx
  apps/delidev/src/startup-rejection.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_startup.go
  cmds/delidev-cli/internal/domain/execution_startup_test.go
  cmds/delidev-cli/internal/domain/pr_remediation_chain.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/server/execution_controls.go
  cmds/delidev-cli/internal/server/pr_startup.go
  cmds/delidev-cli/internal/server/pr_startup_test.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/store/execution_startup.go
  cmds/delidev-cli/internal/store/execution_startup_test.go
  cmds/delidev-cli/internal/store/pr_remediation.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/pr_startup.go
  cmds/delidev-cli/internal/worker/pr_startup_test.go
  cmds/delidev-cli/internal/workspace/pr_preflight_test.go
  cmds/delidev-cli/internal/workspace/pr_startup.go
  cmds/delidev-cli/internal/workspace/pr_startup_proof.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): recover original PR startup rejection without replay
  apps/delidev/AGENTS.md
  apps/delidev/src/session-tools.test.tsx
  apps/delidev/src/session-tools.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_recovery.go
  cmds/delidev-cli/internal/domain/execution_startup.go
  cmds/delidev-cli/internal/domain/pr_startup_recovery.go
  cmds/delidev-cli/internal/domain/pr_startup_recovery_test.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/execution_authority_test.go
  cmds/delidev-cli/internal/server/pr_startup.go
  cmds/delidev-cli/internal/server/pr_startup_recovery.go
  cmds/delidev-cli/internal/server/pr_startup_recovery_test.go
  cmds/delidev-cli/internal/server/pr_startup_test.go
  cmds/delidev-cli/internal/server/session_execution_recovery.go
  cmds/delidev-cli/internal/server/session_execution_recovery_test.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/store/job_device_test.go
  cmds/delidev-cli/internal/store/workers.go
  cmds/delidev-cli/internal/worker/execution_recovery.go
  cmds/delidev-cli/internal/worker/pr_startup_recovery.go
  cmds/delidev-cli/internal/worker/pr_startup_recovery_test.go
  cmds/delidev-cli/internal/worker/pr_startup_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
Due: go-fmt

feat(delidev): expose PR remediation history and allowance resumption
  apps/delidev/AGENTS.md
  apps/delidev/src/pr-problems.tsx
  apps/delidev/src/pr-remediation-history.test.tsx
  apps/delidev/src/pr-remediation-history.tsx
  apps/delidev/src/pr-remediation-model.ts
  apps/delidev/src/startup-rejection.tsx
  apps/delidev/src/timestamp.ts
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/pr_remediation.go
  cmds/delidev-cli/internal/cli/pr_remediation_test.go
  cmds/delidev-cli/internal/server/pr_remediation_history.go
  cmds/delidev-cli/internal/server/pr_remediation_history_test.go
  cmds/delidev-cli/internal/store/pr_remediation_history.go
  cmds/delidev-cli/internal/store/pr_remediation_history_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): plan PR workspaces with current execution eligibility
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/pr_remediation_selection.go
  cmds/delidev-cli/internal/server/pr_remediation_selection_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/store/execution.go
  cmds/delidev-cli/internal/store/pr_remediation_sessions.go
  cmds/delidev-cli/internal/store/pr_remediation_sessions_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): verify current PR workspace candidates through Worker reads
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/pr_remediation_selection.go
  cmds/delidev-cli/internal/server/pr_remediation_workspace_test.go
  cmds/delidev-cli/internal/server/workspace_reads.go
  cmds/delidev-cli/internal/worker/workspace_reads.go
  cmds/delidev-cli/internal/worker/workspace_reads_test.go
  cmds/delidev-cli/internal/workspace/pr_match.go
  cmds/delidev-cli/internal/workspace/pr_match_test.go
  cmds/delidev-cli/internal/workspace/pr_preflight.go
  cmds/delidev-cli/internal/workspace/read.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
Due: go-fmt

docs(delidev): record partial implementation PR checkpoint
  apps/delidev/src/inbox-source.ts
  apps/delidev/src/session-diff-model.ts
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): append live transcript messages by stream arrival
  apps/delidev/AGENTS.md
  apps/delidev/src/session-order.test.ts
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): isolate working-tree diffs from raced filters
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/diff.go
  cmds/delidev-cli/internal/workspace/diff_isolation.go
  cmds/delidev-cli/internal/workspace/diff_test.go
  cmds/delidev-cli/internal/workspace/git.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-files-contract.md
Due: go-fmt

fix(delidev): anchor workspace file reads across path races
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/read.go
  cmds/delidev-cli/internal/workspace/read_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-files-contract.md
Due: go-fmt

fix(devhud): refresh merged mobile dependency closures
  apps/devhud/mobile-platforms.json
  docs/apps-devhud-foundation.md
Due: none

fix(ci): install WebKitGTK for workspace Rust checks
  .github/workflows/CI.yml
  AGENTS.md
  docs/repository-workflow-contract.md
Due: none

fix(ci): prepare DeliDev host inputs for workspace Rust
  .github/workflows/CI.yml
  AGENTS.md
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

fix(delidev): satisfy all-features Rust clippy
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/presentation.rs
  apps/delidev/src-tauri/src/tests.rs
Due: cargo-fmt

fix(delidev): use host-native OpenCode test paths
  cmds/delidev-cli/internal/harness/opencode/api_profile_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_always_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_external_permissions_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_file_tools_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_instructions_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_permissions_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_policy_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_question_dismissal_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_questions_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_rejection_profile_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_rejections_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_search_todo_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_snapshot_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_tool_errors_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_tools_test.go
  cmds/delidev-cli/internal/harness/opencode/events_test.go
  cmds/delidev-cli/internal/harness/opencode/messages_test.go
  cmds/delidev-cli/internal/harness/opencode/native_events_test.go
  cmds/delidev-cli/internal/harness/opencode/native_interactions_test.go
  cmds/delidev-cli/internal/harness/opencode/native_message_error_test.go
  cmds/delidev-cli/internal/harness/opencode/native_read_tool_test.go
  cmds/delidev-cli/internal/harness/opencode/native_rejection_cascade_test.go
  cmds/delidev-cli/internal/harness/opencode/native_retry_test.go
  cmds/delidev-cli/internal/harness/opencode/native_stop_test.go
  cmds/delidev-cli/internal/harness/opencode/observer_test.go
  cmds/delidev-cli/internal/harness/opencode/session_test.go
Due: go-fmt

fix(delidev): preserve Grok Windows fixture paths
  cmds/delidev-cli/internal/harness/grok/history_text_test.go
  cmds/delidev-cli/internal/harness/grok/plan_reply_test.go
Due: go-fmt

fix(delidev): create Grok instructions in private test scope
  cmds/delidev-cli/internal/harness/grok/instructions_test.go
Due: go-fmt

fix(delidev): account for retained Windows history handles
  cmds/delidev-cli/internal/harness/claude/history_files_test.go
  cmds/delidev-cli/internal/harness/grok/history_files_test.go
Due: go-fmt

fix(delidev): avoid reading empty locked state files
  cmds/delidev-cli/internal/server/integrations_test.go
Due: go-fmt

fix(delidev): release journal locks after fault tests
  cmds/delidev-cli/internal/worker/grok_stop_test.go
  cmds/delidev-cli/internal/worker/grok_terminal_test.go
Due: go-fmt

fix(delidev): validate remote PR startup paths by Worker OS
  cmds/delidev-cli/internal/workspace/pr_startup_proof.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/prepare_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

test(delidev): honor Windows OpenCode General Chat gate
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
Due: go-fmt

fix(delidev): append live interactions in stream order
  apps/delidev/AGENTS.md
  apps/delidev/src/session-order.test.ts
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): refresh tray usage during the UTC day
  apps/delidev/AGENTS.md
  apps/delidev/src/tray-presentation.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): satisfy Linux notification clippy
  apps/delidev/src-tauri/src/notifications/linux.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
