Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): remove completed pagination notices (#1789)
  apps/delidev/scripts/test-scroll-pagination-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/locales/en/pagination.json
  apps/delidev/src/locales/ko/pagination.json
  apps/delidev/src/schedules-sidebar.test.tsx
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/scroll-continuation.test.tsx
  apps/delidev/src/scroll-continuation.tsx
  apps/delidev/src/session-files.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): keep General Chat position when Options opens (#1791)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-general-chat-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/general-chat-layout.fixture.css
  apps/delidev/src/general-chat-layout.fixture.tsx
  apps/delidev/src/general-chat-placement.ts
  apps/delidev/src/new-session.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): expose Plan Mode checkboxes in composers (#1792)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-general-chat-layout.mjs
  apps/delidev/scripts/test-plan-mode-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/locales/en/new-session.json
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/new-session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/new-session.tsx
  apps/delidev/src/plan-mode-layout.fixture.css
  apps/delidev/src/plan-mode-layout.fixture.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): remove Runner inspection shortcuts (#1793)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-claude-runners-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/claude-subscription-login.test.tsx
  apps/delidev/src/claude-subscription-login.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/claude-subscription.json
  apps/delidev/src/locales/en/machine-settings.json
  apps/delidev/src/locales/ko/claude-subscription.json
  apps/delidev/src/resource-choice.test.tsx
  apps/delidev/src/runner-remediation.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): apply Inbox filters immediately (#1795)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-inbox-filter-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/inbox-filter-layout.fixture.tsx
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  apps/delidev/src/locales/en/inbox.json
  apps/delidev/src/locales/ko/inbox.json
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): open API account details from More actions (#1794)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-api-details-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/api-details-layout.fixture.css
  apps/delidev/src/api-details-layout.fixture.tsx
  apps/delidev/src/api-entry-row.test.tsx
  apps/delidev/src/api-entry-row.tsx
  apps/delidev/src/locales/en/api-entry-row.json
  apps/delidev/src/locales/ko/api-entry-row.json
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): align Inbox details and disclose execution metadata (#1796)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-inbox-presentation-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/inbox-filter-layout.fixture.tsx
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  apps/delidev/src/locales/en/inbox.json
  apps/delidev/src/locales/ko/inbox.json
  apps/delidev/src/styles.css
  apps/delidev/src/tray-presentation.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): show Worker model summaries with bounded reads (#1797)
  apps/delidev/scripts/test-agent-worker-row-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-models.test.tsx
  apps/delidev/src/agent-worker-models.tsx
  apps/delidev/src/agent-worker-row-layout.fixture.tsx
  apps/delidev/src/agent-worker-row.css
  apps/delidev/src/agent-worker-row.tsx
  apps/delidev/src/locales/en/agent-worker-row.json
  apps/delidev/src/locales/ko/agent-worker-row.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/worker-harness-picker.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve Network disclosure styling (#1799)
  apps/delidev/scripts/test-network-settings-layout.mjs
  apps/delidev/src/network-settings.css
  apps/delidev/src/server-preferences.css
Due: none

feat(delidev): link PR setup to GitHub profiles settings (#1801)
  apps/delidev/scripts/test-pr-cards-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/locales/en/pull-requests.json
  apps/delidev/src/locales/ko/pull-requests.json
  apps/delidev/src/pr-list-cards-layout.fixture.tsx
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): show Project repository metadata with bounded reads (#1800)
  apps/delidev/scripts/test-project-list-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/settings.json
  apps/delidev/src/locales/ko/settings.json
  apps/delidev/src/project-list-metadata.ts
  apps/delidev/src/project-list.css
  apps/delidev/src/project-list.test.tsx
  apps/delidev/src/project-list.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-projects.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): default the first repository on initial selection (#1803)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/project-creation.json
  apps/delidev/src/locales/ko/project-creation.json
  apps/delidev/src/project-creation.test.tsx
  apps/delidev/src/project-creation.tsx
  apps/delidev/src/settings-projects.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

refactor(delidev): remove the Settings GitHub browser (#1802)
  apps/delidev/scripts/test-repository-editor-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/locales/en/github-items.json
  apps/delidev/src/locales/ko/github-items.json
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/repository-list.css
  apps/delidev/src/repository-list.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
Due: none

fix(delidev): anchor pickers within viewport and task bounds (#1804)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-scroll-pagination-layout.mjs
  apps/delidev/src/picker-overlay.test.ts
  apps/delidev/src/picker-overlay.ts
  apps/delidev/src/scroll-pagination-layout.fixture.tsx
  apps/delidev/src/scroll-picker.css
  apps/delidev/src/scroll-picker.test.tsx
  apps/delidev/src/scroll-picker.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): align API verification below the account summary (#1805)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-api-verification-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/api-account.css
  apps/delidev/src/api-entry-row.test.tsx
  apps/delidev/src/api-entry-row.tsx
  apps/delidev/src/api-verification-layout.fixture.css
  apps/delidev/src/api-verification-layout.fixture.tsx
  apps/delidev/src/api-verification.test.tsx
  apps/delidev/src/api-verification.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): compact routing comparisons and retain exact evidence (#1806)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-routing-preview-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/routing-preview.json
  apps/delidev/src/locales/ko/routing-preview.json
  apps/delidev/src/routing-account-metadata.ts
  apps/delidev/src/routing-preview.css
  apps/delidev/src/routing-preview.test.tsx
  apps/delidev/src/routing-preview.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-lifetime.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

ci: inspect native Windows relative-link parent traversal
  scripts/ci/windows-parent-link-diagnostic.rs
Due: cargo-fmt

ci: run isolated Windows pathname diagnostic
  .github/workflows/CI.yml
  scripts/ci/windows-parent-link-diagnostic.rs
Due: cargo-fmt

ci: validate native Windows reproduction mapping
  .github/workflows/CI.yml
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

ci: validate native watch setup and capture boundaries
  .github/workflows/CI.yml
  Cargo.lock
  crates/clibox-fspy/src/watch.rs
  crates/clibox/Cargo.toml
  crates/clibox/tests/fspy_watch.rs
Due: cargo-fmt

test(ci): validate full native watch library repair
  .github/workflows/CI.yml
  Cargo.lock
  crates/AGENTS.md
  crates/clibox-fspy/Cargo.toml
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(ci): validate synchronized native terminal fixture
  .github/workflows/CI.yml
  crates/clibox/tests/run.rs
Due: cargo-fmt

test(ci): validate direct foreground workload ownership
  crates/clibox/tests/run.rs
Due: cargo-fmt

test(delidev): verify managed Sidechat worker authentication
  cmds/delidev-cli/internal/worker/execution_authentication_native_test.go
  cmds/delidev-cli/internal/worker/session_fork_managed_test.go
Due: go-fmt

fix(delidev): keep prompt history cleanup independent of session receipts
  cmds/delidev-cli/internal/server/prompt_history_test.go
  cmds/delidev-cli/internal/store/prompt_history.go
  cmds/delidev-cli/internal/store/prompt_history_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

docs(delidev): keep Sidechat fixture limits general
  AGENTS.md
  apps/delidev/src/AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/worker/AGENTS.md
  packages/delidev-api-client/AGENTS.md
  protos/delidev/AGENTS.md
Due: none

test(delidev): verify recalled text drops skill authority under draft locks
  apps/delidev/src/skill-completion.test.tsx
Due: none

feat(delidev): show quota reset countdowns across desktop surfaces
  apps/delidev/locales/native/en.json
  apps/delidev/locales/native/ko.json
  apps/delidev/macos-widget/Shared/Localization.swift
  apps/delidev/macos-widget/Shared/Snapshot.swift
  apps/delidev/macos-widget/Tests/Layout/main.swift
  apps/delidev/macos-widget/Tests/main.swift
  apps/delidev/macos-widget/Widget/StatusView.swift
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/localization.rs
  apps/delidev/src-tauri/src/localization_keys.rs
  apps/delidev/src-tauri/src/quota_countdown.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/api-entry-row.test.tsx
  apps/delidev/src/api-entry-row.tsx
  apps/delidev/src/locales/en/quota-countdown.json
  apps/delidev/src/locales/ko/quota-countdown.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/routing-preview.test.tsx
  apps/delidev/src/routing-preview.tsx
  apps/delidev/src/subscription-rail.test.tsx
  apps/delidev/src/subscription-rail.tsx
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  apps/delidev/src/timestamp-display.test.tsx
  apps/delidev/src/timestamp-display.tsx
  apps/delidev/src/timestamp-format.ts
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-localization-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/apps-delidev-widget-contract.md
Due: cargo-fmt

feat(delidev): show subscription account details in a dialog
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-subscription-background-layout.mjs
  apps/delidev/scripts/test-subscription-details-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/locales/en/subscription-settings.json
  apps/delidev/src/locales/ko/subscription-settings.json
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/subscription-accounts.tsx
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): summarize routing preview with expandable evidence
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-routing-preview-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/routing-preview.json
  apps/delidev/src/locales/ko/routing-preview.json
  apps/delidev/src/routing-preview.css
  apps/delidev/src/routing-preview.test.tsx
  apps/delidev/src/routing-preview.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): color quota bars by remaining percentage
  apps/delidev/src/AGENTS.md
  apps/delidev/src/api-account.css
  apps/delidev/src/api-entry-row.test.tsx
  apps/delidev/src/api-entry-row.tsx
  apps/delidev/src/quota-color.ts
  apps/delidev/src/styles.css
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  apps/delidev/src/themes.test.ts
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): retain ordered repository helper text
  apps/delidev/src/configuration-fields.tsx
Due: none

fix(delidev): preserve subscription management opener ownership
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/subscription-accounts.tsx
Due: none

fix(delidev): retain subscription metadata revision proof
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/subscription-accounts.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): preserve truthful saved quota observations
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-rail.test.tsx
  apps/delidev/src/subscription-rail.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
