Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): strengthen accessibility coverage
  apps/devhud/package.json
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/ui/state.tsx
  docs/apps-devhud-foundation.md
  pnpm-lock.yaml
Due: none

fix(delibase): enforce deletion and idempotency preflights
  servers/delibase/db/query/identity.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/service_test.go
Due: go-fmt

feat(delibase): implement teams and invitations
  docs/servers-delibase-server-foundation.md
  servers/delibase/README.md
  servers/delibase/db/migrations/000007_team_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/invitation.sql
  servers/delibase/db/query/reliability.sql
  servers/delibase/db/query/team.sql
  servers/delibase/internal/database/dbgen/invitation.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/database/dbgen/team.sql.go
  servers/delibase/internal/reliability/enqueue.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/invitation.go
  servers/delibase/internal/service/service.go
  servers/delibase/internal/service/service_test.go
  servers/delibase/internal/service/team.go
  servers/delibase/internal/service/team_invitation_integration_test.go
Due: go-fmt

feat(delibase): implement Polar billing
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
  servers/delibase/cmd/delibase/main.go
  servers/delibase/cmd/delibase/main_test.go
  servers/delibase/db/migrations/000007_polar_billing.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/api/api.go
  servers/delibase/internal/config/config.go
  servers/delibase/internal/config/config_test.go
  servers/delibase/internal/contracts/contracts.go
  servers/delibase/internal/database/database.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/polar/client.go
  servers/delibase/internal/polar/client_test.go
  servers/delibase/internal/polar/webhook.go
  servers/delibase/internal/polar/webhook_test.go
  servers/delibase/internal/reliability/identifiers.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/billing_test.go
  servers/delibase/internal/service/polar_usage.go
  servers/delibase/internal/service/polar_usage_test.go
  servers/delibase/internal/service/polar_webhook.go
  servers/delibase/scripts/test-image.sh
Due: go-fmt

fix(ci): restore DevHud workflow parsing
  .github/workflows/CI.yml
Due: none

fix(delibase): align image billing fixture
  servers/delibase/scripts/test-image.sh
Due: none

fix(devhud): address empty state review feedback
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/styles.css
Due: none

fix(delibase): address invitation and team review
  AGENTS.md
  docs/project-delibase.md
  docs/protos-delibase-api-contract.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/internal/service/invitation.go
  servers/delibase/internal/service/team.go
  servers/delibase/internal/service/team_invitation_integration_test.go
Due: go-fmt

fix(devhud): improve empty state accessibility
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/styles.css
Due: none

fix(delibase): address Polar billing review
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000007_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/config/config.go
  servers/delibase/internal/config/config_test.go
  servers/delibase/internal/database/database.go
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/polar/webhook.go
  servers/delibase/internal/polar/webhook_test.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/billing_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(ci): avoid delibase image test port collisions
  servers/delibase/scripts/test-image.sh
Due: none

test(delibase): seed shortfall atomically
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): hide deleted team memberships
  servers/delibase/db/query/team.sql
  servers/delibase/internal/database/dbgen/team.sql.go
  servers/delibase/internal/service/team_invitation_integration_test.go
Due: go-fmt

test(delibase): isolate crash recovery queue fixture
  servers/delibase/internal/database/reliability_integration_test.go
Due: go-fmt

fix(delibase): address Polar billing review
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000007_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/billing_test.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

test(delibase): align subscription terminal invariant
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): address team invitation review
  AGENTS.md
  docs/project-delibase.md
  docs/protos-delibase-api-contract.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/internal/service/invitation.go
  servers/delibase/internal/service/team.go
  servers/delibase/internal/service/team_invitation_integration_test.go
Due: go-fmt

fix(delibase): address Polar webhook review
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/polar/webhook.go
  servers/delibase/internal/polar/webhook_test.go
  servers/delibase/internal/reliability/identifiers.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/service/billing_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

feat(devhud): persist local settings and widget references
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/capabilities/main.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/persistence/contracts.ts
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  apps/devhud/src/persistence/tauri.ts
  apps/devhud/src/ui/state.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): register persistence command permissions
  apps/devhud/src-tauri/build.rs
Due: cargo-fmt

feat(delidev): complete organization experience
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/css/index.1c4c6feca8.css
  apps/delidev-app/dist/static/css/index.7e84c0fa4a.css
  apps/delidev-app/dist/static/js/index.341f6fe518.js
  apps/delidev-app/dist/static/js/index.d4937f5014.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/api/errors.ts
  apps/delidev-app/src/components/Dialog.tsx
  apps/delidev-app/src/components/ProtectedRoute.tsx
  apps/delidev-app/src/components/States.tsx
  apps/delidev-app/src/pages/AccountPage.tsx
  apps/delidev-app/src/pages/InvitePage.tsx
  apps/delidev-app/src/pages/OnboardingPage.tsx
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/pages/OrganizationShell.tsx
  apps/delidev-app/src/styles.css
  apps/delidev-app/src/test/TestAccountStateProvider.tsx
  apps/delidev-app/src/test/account-page.test.tsx
  apps/delidev-app/src/test/dialog.test.tsx
  apps/delidev-app/src/test/errors.test.ts
  apps/delidev-app/src/test/onboarding-page.test.tsx
  apps/delidev-app/src/test/organization-billing.test.tsx
  apps/delidev-app/src/test/organization-pages.test.ts
  apps/delidev-app/src/test/organization-routing.test.tsx
  apps/delidev-app/src/test/organization-teams.test.tsx
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

fix(delibase): address Polar billing review
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000009_polar_subscription_checkouts.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/polar/webhook.go
  servers/delibase/internal/polar/webhook_test.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(delidev): surface account refresh failures
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.136eb631a7.js
  apps/delidev-app/dist/static/js/index.341f6fe518.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/components/ProtectedRoute.tsx
  apps/delidev-app/src/test/onboarding-page.test.tsx
Due: none

fix(delidev): address organization review findings
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.136eb631a7.js
  apps/delidev-app/dist/static/js/index.1869521969.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/components/Dialog.tsx
  apps/delidev-app/src/pages/AccountPage.tsx
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/account-page.test.tsx
  apps/delidev-app/src/test/dialog.test.tsx
  apps/delidev-app/src/test/organization-teams.test.tsx
Due: none

fix(delibase): retain Polar billing history
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/reliability/identifiers.go
  servers/delibase/internal/reliability/identifiers_test.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(devhud): harden local persistence
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/persistence/contracts.ts
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  apps/devhud/src/ui/state.tsx
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(delidev): refresh membership capabilities
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.1869521969.js
  apps/delidev-app/dist/static/js/index.2da30799c4.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/TestAccountStateProvider.tsx
  apps/delidev-app/src/test/organization-members.test.tsx
  apps/delidev-app/src/test/organization-teams.test.tsx
Due: none

fix(devhud): protect unreadable persistence records
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  docs/apps-devhud-foundation.md
Due: none

fix(delibase): align billing summary retention
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

fix(delibase): allow billing summary account lock
  servers/delibase/internal/service/billing.go
Due: go-fmt

test(delibase): satisfy billing history fixture
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

fix(delibase): allow billing authorization locks
  servers/delibase/internal/service/billing.go
Due: go-fmt

fix(delidev): preserve organization mutation state
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.2da30799c4.js
  apps/delidev-app/dist/static/js/index.9f728c9e0d.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-settings.test.tsx
  apps/delidev-app/src/test/organization-teams.test.tsx
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

fix(delidev): propagate organization refresh failures
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.3011ce5e81.js
  apps/delidev-app/dist/static/js/index.9f728c9e0d.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationShell.tsx
  apps/delidev-app/src/test/organization-settings.test.tsx
Due: none

fix(delibase): address Polar billing review
  docs/servers-delibase-server-foundation.md
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/billing_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(delidev): handle refresh review findings
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.3011ce5e81.js
  apps/delidev-app/dist/static/js/index.59baa857ce.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/api/errors.ts
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/errors.test.ts
  apps/delidev-app/src/test/organization-members.test.tsx
  apps/delidev-app/src/test/organization-teams.test.tsx
Due: none

fix(delibase): address Polar billing review feedback
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(delidev): retain slug update replay key
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.547871f5aa.js
  apps/delidev-app/dist/static/js/index.59baa857ce.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-settings.test.tsx
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

feat(devhud): add production desktop shell
  AGENTS.md
  Cargo.lock
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/main.json
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
  apps/devhud/src-tauri/src/updater.rs
  apps/devhud/src-tauri/tauri.conf.json
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/runtime/desktop.test.ts
  apps/devhud/src/runtime/desktop.ts
  apps/devhud/src/runtime/startup.ts
  apps/devhud/src/styles.css
  apps/devhud/src/ui/SettingsPanel.test.tsx
  apps/devhud/src/ui/SettingsPanel.tsx
  apps/devhud/src/ui/state.tsx
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt
