Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(runlens): distinguish incomplete clean evidence from failures
  crates/runlens/src/clean.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(taskflow): reject blank CI runner mappings
  crates/taskflow/AGENTS.md
  crates/taskflow/src/ci.rs
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): retain pre-push receipts after runner startup failure
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/cli/prepush_test.go
  cmds/async-commit-hook/internal/core/prepush.go
  cmds/async-commit-hook/internal/core/prepush_receipt_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(packages): use the published Rocky Linux 10 image
  .github/workflows/CI.yml
  .github/workflows/release-linux-packages.yml
  apps/AGENTS.md
  docs/apps-public-docs-foundation.md
  docs/project-public-docs.md
  docs/repository-linux-packages-contract.md
  packaging/linux/AGENTS.md
  scripts/release/linux-packages/smoke.mjs
Due: none

fix(runlens): bound Windows process attribute memory reads
  .github/workflows/runlens.yml
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/vendor/fspy_preload_windows/Cargo.toml
  crates/runlens/vendor/fspy_preload_windows/src/windows/detours/nt.rs
  docs/crates-runlens-foundation.md
  scripts/ci/runlens.test.mjs
Due: cargo-fmt

fix(clibox): preserve platform-specific executable packaging
  .github/workflows/release-clibox.yml
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/bin/clibox.cjs
  packages/clibox/scripts/package.mjs
  packages/clibox/test/distribution.test.mjs
Due: none

fix(taskflow): validate Docker ports before execution
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(runlens): declare missing GNU futimesat preload binding
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_preload_unix/src/libc.rs
Due: cargo-fmt

docs(ach): record nineteenth PR repair validation
  docs/cmds-async-commit-hook-evidence.md
Due: none

test(taskflow): synchronize overlap assertions with watcher delivery
  crates/taskflow/AGENTS.md
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

test(runlens): use configured argv for cache coverage fixtures
  crates/runlens/tests/native.rs
Due: cargo-fmt

docs(taskflow): record repair validation and platform evidence
  docs/crates-taskflow-conformance.md
Due: none

docs(runlens): describe launch-bound executable identity
  apps/runlens-docs/docs/platforms.md
  apps/runlens-docs/docs/reports.md
  docs/crates-runlens-foundation.md
Due: none

style(runlens): remove trailing module whitespace
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/mod.rs
Due: cargo-fmt

fix(runmoor): publish stable releases (#912)
  .github/workflows/release-runmoor.yml
  AGENTS.md
  README.md
  apps/AGENTS.md
  apps/public-docs/docs/projects-overview.md
  apps/runmoor-docs/README.md
  apps/runmoor-docs/docs/commands.md
  apps/runmoor-docs/docs/index.md
  apps/runmoor-docs/docs/install.md
  apps/runmoor-docs/scripts/public-content.test.mjs
  apps/runmoor-docs/scripts/release-claims.mjs
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/config_test.go
  cmds/runmoor/internal/runmoor/power.go
  cmds/runmoor/internal/runmoor/tart.go
  docs/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
  docs/repository-workflow-contract.md
  scripts/ci/runmoor-release.test.mjs
  scripts/release/runmoor-release-notes.md
  scripts/release/runmoor.mjs
  scripts/release/runmoor.test.mjs
Due: go-fmt

fix(clibox): install pinned npm before OIDC publication
  .github/workflows/release-clibox.yml
  AGENTS.md
  docs/packages-clibox-distribution-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/clibox-release.test.mjs
Due: none

docs(async-commit-hook): record upstream merge validation
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(ci): invoke installed Turbo without Windows package shims
  .github/workflows/CI.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/run-affected.mjs
  scripts/ci/run-affected.test.mjs
Due: none

fix(packages): verify published certificates and complete distribution metadata
  .github/workflows/release-derun.yml
  AGENTS.md
  apps/public-docs/docs/linux-packages.md
  apps/runmoor-docs/docs/install.md
  cmds/AGENTS.md
  docs/cmds-derun-foundation.md
  docs/project-derun.md
  docs/repository-linux-packages-contract.md
  packaging/homebrew/README.md
  packaging/homebrew/templates/derun.rb.tmpl
  packaging/linux/AGENTS.md
  packaging/linux/licenses/Apache-2.0.txt
  packaging/linux/licenses/MIT.txt
  scripts/install/derun.sh
  scripts/release/derun-distribution.test.mjs
  scripts/release/linux-packages.test.mjs
  scripts/release/linux-packages/install-test.sh
  scripts/release/linux-packages/model.mjs
  scripts/release/linux-packages/package.mjs
  scripts/release/update-homebrew.sh
Due: none

fix(clibox): canonicalize release text across checkout line endings
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/scripts/common.mjs
  packages/clibox/scripts/package.mjs
  packages/clibox/test/distribution.test.mjs
Due: none

fix(clibox): finalize executable archive modes independently of host
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/scripts/package.mjs
  packages/clibox/test/distribution.test.mjs
Due: none

feat(clibox): scaffold Rust CLI and npm distribution (#914)
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  .github/workflows/release-project.yml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/LICENSE
  crates/clibox/README.md
  crates/clibox/src/main.rs
  crates/clibox/tests/cli.rs
  docs/README.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/bin/clibox.cjs
  packages/clibox/package.json
  packages/clibox/scripts/common.mjs
  packages/clibox/scripts/package.mjs
  packages/clibox/scripts/publish.mjs
  packages/clibox/scripts/smoke.mjs
  packages/clibox/src/launcher.cjs
  packages/clibox/src/platforms.cjs
  packages/clibox/test/distribution.test.mjs
  packages/clibox/test/launcher.test.mjs
  packages/clibox/turbo.json
  pnpm-lock.yaml
  scripts/ci/ci-contract.test.mjs
  scripts/ci/clibox-release.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/project-release.test.mjs
  scripts/ci/run-affected.mjs
  scripts/ci/run-affected.test.mjs
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: cargo-fmt

test(taskflow): isolate overlap checks from startup notifications
  crates/taskflow/AGENTS.md
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(clibox): replace first-publication instructions with release operations
  .github/workflows/release-clibox.yml
  AGENTS.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  scripts/ci/clibox-release.test.mjs
Due: none

fix(taskflow): reject v-prefixed Rust CI toolchains
  crates/taskflow/AGENTS.md
  crates/taskflow/src/ci.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(clibox): use Rust self-contained linker for musl releases
  .github/workflows/release-clibox.yml
  docs/packages-clibox-distribution-contract.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  scripts/ci/clibox-release.test.mjs
Due: none

fix(taskflow): reject conflicting affected selectors
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cli.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): bound encoded artifact capture incrementally
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): include shared suffixes in critical path priority
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): require persisted Docker libtest executables
  .github/workflows/CI.yml
  crates/taskflow/AGENTS.md
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): reject incomplete cached shard collections
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(async-commit-hook): revalidate every latest-attempt gate
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/gate_selection.go
  cmds/async-commit-hook/internal/core/prepush.go
  cmds/async-commit-hook/internal/core/prepush_evidence_lock_test.go
  cmds/async-commit-hook/internal/core/service.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(clibox): prepare musl artifacts and normal release operations (#915)
  .github/workflows/release-clibox.yml
  AGENTS.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  scripts/ci/clibox-release.test.mjs
Due: none

fix(async-commit-hook): bound working configuration reads
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/integration/config_validate_test.go
  cmds/async-commit-hook/internal/cli/cli.go
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/config_read_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

docs(taskflow): record final repair conformance evidence
  docs/crates-taskflow-conformance.md
Due: none

fix(runlens): withhold unbound shebang interpreter identity
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/src/platform.rs
  crates/runlens/tests/core.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(async-commit-hook): preserve opaque branch selection identity
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/repositories.test.tsx
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/branch_identity_test.go
  cmds/async-commit-hook/internal/core/branches.go
  docs/apps-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-contract.md
  docs/packages-async-commit-hook-api-client-contract.md
  docs/project-async-commit-hook.md
  docs/protos-async-commit-hook-v1-contract.md
  packages/async-commit-hook-api-client/src/gen/async_commit_hook/v1/ach_pb.ts
  packages/async-commit-hook-api-client/tests/wire.test.ts
  protos/AGENTS.md
  protos/async_commit_hook/v1/ach.proto
  protos/gen/go/async_commit_hook/v1/ach.pb.go
Due: go-fmt

fix(runlens): bind policy declarations to command identity
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/src/clean.rs
  crates/runlens/src/main.rs
  crates/runlens/src/privacy.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(async-commit-hook): escape state database file URIs
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/store.go
  cmds/async-commit-hook/internal/core/store_path_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(runlens): explain Windows path case aliases
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/src/privacy.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
