Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): flush copied Git config with write access
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/snapshot_capture.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): canonicalize Windows service image ownership
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/userservice/identity_windows.go
  cmds/delidev-cli/internal/userservice/identity_windows_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-user-services-contract.md
Due: go-fmt

fix(delidev): isolate ConPTY from redirected parent stdio
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/process/process_windows.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-process-contract.md
Due: go-fmt

test(delidev): verify native Windows workspace anchoring
  cmds/delidev-cli/internal/workspace/terminal_test.go
  cmds/delidev-cli/internal/workspace/terminal_unix_test.go
  cmds/delidev-cli/internal/workspace/terminal_windows_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

test(delidev): inject native snapshot storage faults
  cmds/delidev-cli/internal/workspace/snapshot_fault_unix_test.go
  cmds/delidev-cli/internal/workspace/snapshot_fault_windows_test.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

test(delidev): preserve UUIDs in Grok event fixtures
  cmds/delidev-cli/internal/worker/grok_content_test.go
  cmds/delidev-cli/internal/worker/grok_public_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

feat(delidev): add privacy-safe macOS status widget (#1120)
  apps/delidev/AGENTS.md
  apps/delidev/macos-widget/Bridge/Bridge.swift
  apps/delidev/macos-widget/DeliDevWidget.xcodeproj/project.pbxproj
  apps/delidev/macos-widget/Intent/Info.plist
  apps/delidev/macos-widget/Intent/IntentHandler.swift
  apps/delidev/macos-widget/Intent/Widget.entitlements
  apps/delidev/macos-widget/Shared/SelectServer.intentdefinition
  apps/delidev/macos-widget/Shared/Snapshot.swift
  apps/delidev/macos-widget/Shared/SnapshotStore.swift
  apps/delidev/macos-widget/Tests/main.swift
  apps/delidev/macos-widget/Widget/Info.plist
  apps/delidev/macos-widget/Widget/StatusEntry.swift
  apps/delidev/macos-widget/Widget/StatusView.swift
  apps/delidev/macos-widget/Widget/StatusWidget.swift
  apps/delidev/macos-widget/Widget/Widget.entitlements
  apps/delidev/package.json
  apps/delidev/scripts/build-widget.mjs
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-macos-dry-run.test.mjs
  apps/delidev/scripts/test-widget.mjs
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/entitlements.plist
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/presentation.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src-tauri/src/widget_host.rs
  apps/delidev/src-tauri/tauri.conf.json
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/tray.test.ts
  apps/delidev/src/tray.ts
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-packaging-contract.md
  docs/apps-delidev-widget-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt

fix(delidev): preserve API provider activation retries and filtering (#1061)
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/styles.css
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/catalog.go
  cmds/delidev-cli/internal/cli/catalog_capability_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/catalog_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/provider_inventory.go
  cmds/delidev-cli/internal/store/provider_inventory_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-provider-activation-contract.md
Due: go-fmt

docs(delidev): record base merge validation
  docs/cmds-delidev-evidence.md
Due: none

feat(delidev): add authenticated session development-server forwarding (#1119)
  apps/delidev/src/settings.integration.test.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/forwards.go
  cmds/delidev-cli/internal/cli/forwards_test.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/forward.go
  cmds/delidev-cli/internal/domain/identity.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/forwarding/cleanup.go
  cmds/delidev-cli/internal/forwarding/cleanup_test.go
  cmds/delidev-cli/internal/forwarding/runtime.go
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/forwards.go
  cmds/delidev-cli/internal/server/forwards_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/store/forwards.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/forwards.go
  cmds/delidev-cli/internal/worker/run.go
  docs/README.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-forwarding-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-ForwardService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(delidev): hydrate desktop icon before native builds
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-native-dry-run.mjs
  apps/delidev/scripts/prepare-assets.mjs
  apps/delidev/scripts/prepare-assets.test.mjs
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-packaging-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

test(clibox): expose macOS autowatch cleanup failures
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/macos/supervise.rs
  docs/cmds-delidev-evidence.md
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(delidev): make app icon background transparent
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon-source@2x.png
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): clarify local private-state permission errors
  apps/delidev/AGENTS.md
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-registration.test.tsx
  apps/delidev/src/local-registration.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): preserve opacity in exported app icons
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): make app icon background transparent (#1130)
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon-source@2x.png
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): synchronize desktop signal fixtures
  apps/delidev/scripts/prepare-assets.test.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record desktop asset verification
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record permission repair validation limits
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): hydrate LFS icon before desktop builds (#1131)
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-native-dry-run.mjs
  apps/delidev/scripts/prepare-assets.mjs
  apps/delidev/scripts/prepare-assets.test.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-packaging-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): clarify local private-state permission errors (#1132)
  apps/delidev/AGENTS.md
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-registration.test.tsx
  apps/delidev/src/local-registration.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

test(delidev): wait for real server preferences after save
  apps/delidev/src/settings.integration.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

test(delidev): bound durable singleton preference waits
  apps/delidev/AGENTS.md
  apps/delidev/src/settings.integration.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): enlarge app icon by twenty percent
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon-source@2x.png
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

docs(delidev): record enlarged icon packaging verification
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): enlarge app icon by 20% (#1133)
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon-source@2x.png
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): shorten AI subscription settings label
  apps/delidev/AGENTS.md
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): use Runs on and Runner Device terminology
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/doctor.tsx
  apps/delidev/src/machine-settings.tsx
  apps/delidev/src/new-session.tsx
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  apps/delidev/src/remediation-policy.tsx
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/session-tools.test.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/pr_remediation_selection.go
  cmds/delidev-cli/internal/server/pr_remediation_selection_test.go
  cmds/delidev-cli/internal/server/schedules.go
  cmds/delidev-cli/internal/server/schedules_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): rename API settings to AI API Keys
  apps/delidev/AGENTS.md
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-provider-activation-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): shorten AI subscription settings label (#1139)
  apps/delidev/AGENTS.md
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): reset Settings state when closing
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/device-settings.test.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/notification-presentation.test.tsx
  apps/delidev/src/notification-presentation.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings-lifetime.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/tray-presentation.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
  docs/project-delidev.md
Due: none

fix(clibox): handle procfs status disappearance
  crates/AGENTS.md
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
  docs/cmds-delidev-evidence.md
  docs/crates-clibox-foundation.md
Due: cargo-fmt

feat(delidev): bootstrap the local runtime on desktop launch
  AGENTS.md
  apps/AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/supervision.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/connection.ts
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-server.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/sidebar.tsx
  cmds/AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/userservice/manager.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-requirements.md
  docs/cmds-delidev-user-services-contract.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

docs(delidev): record complete terminology validation
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record native Settings disposal checks
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record final desktop launch validation
  docs/cmds-delidev-evidence.md
Due: none

feat(delidev): reset Settings on close and reopen at first category (#1150)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/device-settings.test.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/notification-presentation.test.tsx
  apps/delidev/src/notification-presentation.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings-lifetime.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/tray-presentation.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
  docs/project-delidev.md
Due: none

docs(delidev): confirm post-merge contract checks
  docs/cmds-delidev-evidence.md
Due: none

feat(delidev): redesign Diagnostics settings presentation
  apps/delidev/AGENTS.md
  apps/delidev/src/doctor.test.tsx
  apps/delidev/src/doctor.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-diagnostics-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none
