Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): separate pending remnants from deletion obligation capacity
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_deletions.go
  cmds/delidev-cli/internal/store/backup_deletions_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): recheck backup sidecars before publishing inspection
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/backups_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(runmoor): reject mismatched service configurations
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_identity.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
  cmds/runmoor/internal/runmoor/service_launchd_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(delidev): capture sidebar scroll before navigation
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
Due: none

fix(clibox): preserve wait results when stderr closes
  crates/clibox-wait/src/wait_command.rs
  crates/clibox/Cargo.toml
  crates/clibox/tests/wait.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

feat(delidev): add contextual navigation and Pull requests (#1064)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/pr-problems.test.tsx
  apps/delidev/src/pr-problems.tsx
  apps/delidev/src/pr-remediation-history.test.tsx
  apps/delidev/src/pr-remediation-history.tsx
  apps/delidev/src/pr-workflow.test.tsx
  apps/delidev/src/pr-workflow.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/sidebar-context.tsx
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: none

fix(runmoor): preserve Linux user-session context (#1066)
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/operations_test.go
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_env_test.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(clibox): preserve deep nested Unix cleanup ownership
  crates/AGENTS.md
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
  docs/crates-clibox-foundation.md
  docs/project-clibox.md
Due: cargo-fmt

fix(runmoor): bind Tart ownership to VM identity
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/guest_validation_test.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/platform_other.go
  cmds/runmoor/internal/runmoor/platform_unix.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
  cmds/runmoor/internal/runmoor/tart_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(delidev): authorize backup copies under the write gate
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_creations.go
  cmds/delidev-cli/internal/store/backup_creations_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(clibox-wait): handle Windows Ctrl+Break
  AGENTS.md
  crates/AGENTS.md
  crates/clibox-wait/src/wait.rs
  crates/clibox/tests/wait.rs
  crates/clibox/tests/windows_launcher.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
Due: cargo-fmt

fix(delidev): atomically claim backup images before deletion
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_claim_darwin.go
  cmds/delidev-cli/internal/store/backup_claim_linux.go
  cmds/delidev-cli/internal/store/backup_claim_other.go
  cmds/delidev-cli/internal/store/backup_claim_windows.go
  cmds/delidev-cli/internal/store/backup_deletions.go
  cmds/delidev-cli/internal/store/backup_deletions_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(runmoor): reject systemd service drop-ins
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service_identity.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

test(delidev): tolerate bounded lifecycle observation contention
  cmds/delidev-cli/internal/cli/worker_lifecycle_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

fix(runmoor): preserve completion after late busy removal (#1069)
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/busy_removal_race_test.go
  cmds/runmoor/internal/runmoor/manager.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

test(delidev): verify remote HEAD failure fixture reaches its phase
  cmds/delidev-cli/internal/workspace/inspect_failure_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

fix(runmoor): preserve changed service definitions
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_identity.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(clibox): extend deep timeout test cleanup window
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(clibox-wait): name Ctrl+Break cancellation
  crates/clibox-wait/src/wait.rs
  crates/clibox-wait/src/wait_tests.rs
Due: cargo-fmt

fix(clibox): isolate macOS transformation staging ACLs
  apps/public-docs/docs/clibox/output.md
  crates/AGENTS.md
  crates/clibox-transform/src/publication.rs
  crates/clibox/README.md
  crates/clibox/tests/utilities.rs
  docs/crates-clibox-foundation.md
  docs/project-clibox.md
Due: cargo-fmt

fix(runmoor): reject noncanonical service binaries
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service_identity.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

docs(delidev): record final PR repair verification and blockers
  docs/cmds-delidev-evidence.md
Due: none

docs(clibox): document Windows Ctrl+Break waits
  apps/public-docs/docs/clibox/wait.md
  docs/apps-clibox-docs-foundation.md
  docs/packages-clibox-distribution-contract.md
  packages/clibox/README.md
Due: none

Preserve managed provider preset identity
  cmds/delidev-cli/internal/cli/catalog.go
Due: go-fmt

Keep model cursors out of provider inventory
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/settings.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

test(runmoor): validate systemd failure fixture
  cmds/runmoor/internal/runmoor/operations_test.go
Due: go-fmt

docs(delidev): record merged validation for session titles
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): mark full-resolution macOS icon as retina
  .gitattributes
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/icons/icon-source@2x.png
  apps/delidev/src-tauri/tauri.conf.json
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

fix(clibox): preserve inherited ACL after destination removal
  crates/AGENTS.md
  crates/clibox-transform/src/publication.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(runmoor): inspect full systemd user unit path
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service_identity.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): bind Tart deletion to staged VM identity
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/platform_other.go
  cmds/runmoor/internal/runmoor/platform_unix.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
  cmds/runmoor/internal/runmoor/tart_rename_darwin.go
  cmds/runmoor/internal/runmoor/tart_rename_linux.go
  cmds/runmoor/internal/runmoor/tart_test.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(runmoor): prioritize image ownership diagnostics
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
Due: go-fmt

fix(runmoor): reject noncanonical config arguments
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service_identity.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): reload validated launchd definition
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_launchd_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(delidev): probe configured Codex title installation
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/run_test.go
  docs/cmds-delidev-session-titles-contract.md
Due: go-fmt

fix(runmoor): check actual systemd unit name
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_identity.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
Due: go-fmt

fix(delidev): retain unsupported title outcomes
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/session_titles.go
  cmds/delidev-cli/internal/server/session_titles_test.go
  docs/cmds-delidev-session-titles-contract.md
Due: go-fmt

chore(delidev): distinguish native exit event from runtime completion
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/src/main.rs
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: cargo-fmt

fix(delidev): require title relay claims for success
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/session_title_authority_test.go
  cmds/delidev-cli/internal/server/session_titles.go
  cmds/delidev-cli/internal/store/session_title_claims.go
  docs/cmds-delidev-session-titles-contract.md
Due: go-fmt
