Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

ci: add tag-based multi-os release pipelines for nodeup, derun, and dexdex (#240)
  .github/workflows/release-derun.yml
  .github/workflows/release-dexdex.yml
  .github/workflows/release-nodeup.yml
  AGENTS.md
  apps/public-docs/derun.mdx
  apps/public-docs/dexdex.mdx
  apps/public-docs/docs.json
  apps/public-docs/nodeup.mdx
  apps/public-docs/projects-overview.mdx
  docs/project-derun.md
  docs/project-dexdex.md
  docs/project-nodeup.md
  docs/project-public-docs.md
  packaging/homebrew/README.md
  packaging/homebrew/templates/derun.rb.tmpl
  packaging/homebrew/templates/dexdex-main-server.rb.tmpl
  packaging/homebrew/templates/dexdex-worker-server.rb.tmpl
  packaging/homebrew/templates/dexdex.rb.tmpl
  packaging/homebrew/templates/nodeup.rb.tmpl
  packaging/winget/README.md
  packaging/winget/templates/installer-portable.yaml.tmpl
  packaging/winget/templates/installer-wix.yaml.tmpl
  packaging/winget/templates/locale.en-US.yaml.tmpl
  packaging/winget/templates/version.yaml.tmpl
  scripts/install/README.md
  scripts/install/derun.ps1
  scripts/install/derun.sh
  scripts/install/dexdex-stack.ps1
  scripts/install/dexdex-stack.sh
  scripts/install/nodeup.ps1
  scripts/install/nodeup.sh
  scripts/release/README.md
  scripts/release/generate-checksums.sh
  scripts/release/update-homebrew.sh
  scripts/release/update-winget.sh
Due: none

feat(dexdex): add startup workspace picker and global workspace session (#242)
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/contracts/workspace-profile.ts
  apps/dexdex/src/lib/workspace-profiles-store.test.ts
  apps/dexdex/src/lib/workspace-profiles-store.ts
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
Due: none

fix(ttlc): isolate run cache and enforce integer bounds
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

fix(ttlc): preserve run JSON number precision
  cmds/ttlc/internal/cache/sqlite.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
Due: go-fmt

feat(serde-feather): implement phase4 derive expansion
  Cargo.lock
  crates/serde-feather-macros/Cargo.toml
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  crates/serde-feather/tests/ui/enum_duplicate_variant_name.stderr
  crates/serde-feather/tests/ui/enum_type.rs
  crates/serde-feather/tests/ui/enum_type.stderr
  crates/serde-feather/tests/ui/enum_variant_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_attribute.stderr
  crates/serde-feather/tests/ui/enum_variant_field_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_field_attribute.stderr
  crates/serde-feather/tests/ui/generic_struct.rs
  crates/serde-feather/tests/ui/generic_struct.stderr
  crates/serde-feather/tests/ui/tuple_struct.rs
  crates/serde-feather/tests/ui/tuple_struct.stderr
  crates/serde-feather/tests/ui/unsupported_attribute.rs
  crates/serde-feather/tests/ui/unsupported_attribute.stderr
  docs/project-serde-feather.md
Due: cargo-fmt

fix(serde-feather): resolve rust clippy failures
  crates/serde-feather-macros/src/lib.rs
Due: cargo-fmt

test(derun): stabilize flaky e2e CI
  cmds/derun/internal/e2e/contract_test.go
  cmds/derun/internal/e2e/contract_windows_test.go
Due: go-fmt

dexdex: add paginated read rpc surfaces
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
Due: go-fmt

dexdex: ship product-style desktop routes and action center
  apps/dexdex/package.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/contracts/selection-state.ts
  apps/dexdex/src/gen/v1/dexdex-PrManagementService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-RepositoryService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-SessionService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-TaskService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkspaceService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/lib/desktop-local-store.test.ts
  apps/dexdex/src/lib/desktop-local-store.ts
  apps/dexdex/src/styles.css
  pnpm-lock.yaml
Due: none

docs(dexdex): align contracts with product ui and read apis
  docs/project-dexdex.md
Due: none

fix(ttlc): tighten integer args and literal precision
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
Due: go-fmt

fix(serde-feather): preserve generic bounds in derive wrappers
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
Due: cargo-fmt

dexdex: fix stream event rendering and selection reset
  apps/dexdex/src/App.tsx
  apps/dexdex/src/lib/safe-json.test.ts
  apps/dexdex/src/lib/safe-json.ts
Due: none

fix(ttlc): harden hash serialization and metadata decode
  cmds/ttlc/internal/cache/sqlite.go
  cmds/ttlc/internal/cache/sqlite_test.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
Due: go-fmt

fix(serde-feather): keep canonical newtype wire encoding
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
Due: cargo-fmt

fix(ttlc): canonicalize nested hash value encoding
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
Due: go-fmt

dexdex: preserve session state and null local selections
  apps/dexdex/src/lib/desktop-local-store.test.ts
  apps/dexdex/src/lib/desktop-local-store.ts
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
Due: go-fmt

dexdex: use provider transport for stream cache patching
  apps/dexdex/src/App.tsx
Due: none

fix(ttlc): stabilize run cache hit payload and args schema
  cmds/ttlc/internal/cache/sqlite.go
  cmds/ttlc/internal/cache/sqlite_test.go
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
Due: go-fmt

dexdex: harden threads selection and session output rendering
  apps/dexdex/src/App.tsx
Due: none

fix(ttlc): validate float32 run-arg bounds
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
Due: go-fmt

fix(serde-feather): use unit form for skipped newtype variants
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
Due: cargo-fmt

test(serde-feather): satisfy clippy on skip-direction enum
  crates/serde-feather/tests/derive_runtime.rs
Due: cargo-fmt

feat(dexdex): replace RPC dashboard with product UI and add read list APIs (#244)
  apps/dexdex/package.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/contracts/selection-state.ts
  apps/dexdex/src/gen/v1/dexdex-PrManagementService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-RepositoryService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-SessionService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-TaskService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkspaceService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/lib/desktop-local-store.test.ts
  apps/dexdex/src/lib/desktop-local-store.ts
  apps/dexdex/src/lib/safe-json.test.ts
  apps/dexdex/src/lib/safe-json.ts
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
  pnpm-lock.yaml
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
Due: go-fmt

fix(ttlc): prioritize task calls and recursive arg checks
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
Due: go-fmt

fix(serde-feather): add deserialize outlives and default bounds
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
Due: cargo-fmt

fix(ttlc): validate float32 integer arg representability
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
Due: go-fmt

fix(serde-feather): support non-usize const generic derives
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
Due: cargo-fmt

fix(ttlc): forward print builtin output to stderr
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
Due: go-fmt

fix(serde-feather): reject ambiguous default tuple prefixes
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/ui/tuple_default_prefix.rs
  crates/serde-feather/tests/ui/tuple_default_prefix.stderr
Due: cargo-fmt

feat(serde-feather): implement phase4 derive expansion (#243)
  Cargo.lock
  crates/serde-feather-macros/Cargo.toml
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  crates/serde-feather/tests/ui/enum_duplicate_variant_name.stderr
  crates/serde-feather/tests/ui/enum_type.rs
  crates/serde-feather/tests/ui/enum_type.stderr
  crates/serde-feather/tests/ui/enum_variant_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_attribute.stderr
  crates/serde-feather/tests/ui/enum_variant_field_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_field_attribute.stderr
  crates/serde-feather/tests/ui/generic_struct.rs
  crates/serde-feather/tests/ui/generic_struct.stderr
  crates/serde-feather/tests/ui/tuple_default_prefix.rs
  crates/serde-feather/tests/ui/tuple_default_prefix.stderr
  crates/serde-feather/tests/ui/tuple_struct.rs
  crates/serde-feather/tests/ui/tuple_struct.stderr
  crates/serde-feather/tests/ui/unsupported_attribute.rs
  crates/serde-feather/tests/ui/unsupported_attribute.stderr
  docs/project-serde-feather.md
Due: cargo-fmt

feat(ttl): add phase2 run command with generated runner (#238)
  AGENTS.md
  cmds/AGENTS.md
  cmds/derun/internal/e2e/contract_test.go
  cmds/derun/internal/e2e/contract_windows_test.go
  cmds/ttlc/internal/cache/sqlite.go
  cmds/ttlc/internal/cache/sqlite_test.go
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/contracts/enums.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

feat(dexdex): rebuild UI with Codex-inspired 3-panel dark design
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/styles.css
Due: none

feat(dexdex): rebuild UI with Codex-inspired 3-panel dark design (#245)
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/styles.css
Due: none

feat(dexdex): align desktop shell and route contracts to seven pages
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/desktop-shell-frame.tsx
  apps/dexdex/src/components/workspace-picker.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/lib/visual-fixtures.ts
  apps/dexdex/src/styles.css
  apps/dexdex/vitest.config.ts
Due: none

test(dexdex): add playwright visual regression baseline and docs
  apps/dexdex/e2e/visual.spec.ts
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-automations-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-local-environments-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-projects-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-review-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-settings-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-threads-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-worktrees-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/workspace-picker-darwin.png
  apps/dexdex/package.json
  apps/dexdex/playwright.config.ts
  docs/project-dexdex.md
  pnpm-lock.yaml
Due: none

fix(dexdex): align desktop UI parity and add visual regression gate (#246)
  apps/dexdex/e2e/visual.spec.ts
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-automations-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-local-environments-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-projects-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-review-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-settings-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-threads-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/desktop-worktrees-darwin.png
  apps/dexdex/e2e/visual.spec.ts-snapshots/workspace-picker-darwin.png
  apps/dexdex/package.json
  apps/dexdex/playwright.config.ts
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/desktop-shell-frame.tsx
  apps/dexdex/src/components/workspace-picker.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/lib/visual-fixtures.ts
  apps/dexdex/src/styles.css
  apps/dexdex/vitest.config.ts
  docs/project-dexdex.md
  pnpm-lock.yaml
Due: none

docs: require quoted file paths in shell rules
  AGENTS.md
Due: none

docs: require quoted file paths in shell command rules (#247)
  AGENTS.md
Due: none

feat(derun): expand detailed CLI help output
  cmds/derun/internal/cli/help.go
  cmds/derun/internal/cli/mcp.go
  cmds/derun/internal/cli/root.go
  cmds/derun/internal/cli/root_test.go
  cmds/derun/internal/cli/run_flow.go
  cmds/derun/internal/cli/run_test.go
  docs/project-derun.md
Due: go-fmt
