Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): preserve hosted server after desktop pipe loss
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/desktop_host.go
  cmds/delidev-cli/internal/cli/desktop_host_test.go
  docs/cmds-delidev-contract.md
Due: go-fmt

test(delidev): observe server survival before stopping pipe-loss fixture
  cmds/delidev-cli/internal/cli/desktop_host_test.go
Due: go-fmt

test(delidev): verify production quit grace and original child exit
  apps/delidev/src-tauri/src/desktop_host.rs
Due: cargo-fmt

fix(delidev): allow trusted webviews to start OpenRouter OAuth (#1344)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/account-oauth.toml
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src-tauri/src/oauth_host.rs
  docs/cmds-delidev-account-oauth-contract.md
Due: cargo-fmt

fix(delidev): release window listeners before CEF shutdown
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/window_host.rs
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

fix(delidev): persist removal proof before unlink
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/snapshot_claim_remove.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshot_unlink_test.go
Due: go-fmt

fix(delidev): claim removal root before unlink
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/snapshot_claim_remove.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshot_unlink_test.go
Due: go-fmt

test(delidev): join desktop server cleanup on Windows
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
Due: go-fmt

fix(delidev): accept registered IPv4 ChatGPT callbacks
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-login.test.tsx
  apps/delidev/src/subscription-login.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_callback.go
  cmds/delidev-cli/internal/server/subscription_native_smoke_test.go
  cmds/delidev-cli/internal/server/subscription_server.go
  cmds/delidev-cli/internal/server/subscription_server_test.go
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-subscription-contract.md
Due: cargo-fmt, go-fmt

chore(delidev): reserve repository addition protocol (#1341)
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

fix(delidev): complete credential cleanup before account deletion
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-deletion.css
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-deletion.tsx
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/settings-subscriptions.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/subscription-onboarding.tsx
  cmds/delidev-cli/internal/server/account_deletion_test.go
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-accounts-contract.md
Due: go-fmt

feat(delidev): add reusable in-app toast notifications (#1342)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-toast-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/notification-settings.test.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/toast-app.test.tsx
  apps/delidev/src/toast-notifications.css
  apps/delidev/src/toast-notifications.test.tsx
  apps/delidev/src/toast-notifications.tsx
  apps/delidev/src/toast-store.test.ts
  apps/delidev/src/toast-store.ts
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): scope deletion result layout to ChatGPT accounts
  apps/delidev/src/account-deletion.tsx
Due: none

fix(delidev): fence stale window observations and names
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/window_host.rs
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): stop cleanup polling immediately when deletion pauses
  apps/delidev/src/account-deletion.tsx
Due: none

test(delidev): expose jsdom storage to QA fixtures
  apps/delidev/src/test-setup.ts
  apps/delidev/vitest.config.ts
Due: none

chore(deps): enforce weekly Renovate update window
  AGENTS.md
  docs/repository-workflow-contract.md
  renovate.json
Due: none

fix(delidev): record OAuth message allocations
  protos/delidev/allocations.json
Due: none

test(delidev): recover maximum snapshot deletion within deadline
  cmds/delidev-cli/internal/workspace/snapshots_test.go
Due: go-fmt

chore(delidev): reserve Agent Worker wizard protocol
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

feat(delidev): show usage summaries in AI API Keys
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/api-entry-row.test.tsx
  apps/delidev/src/api-entry-row.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/usage-entry.ts
  apps/delidev/src/usage-time.ts
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-usage-contract.md
Due: none

chore(deps): enforce weekly Renovate update window (#1350)
  AGENTS.md
  docs/repository-workflow-contract.md
  renovate.json
Due: none

feat(delidev): add isolated Go-backed parallel browser QA (#1346)
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/qa/cleanup.mjs
  apps/delidev/scripts/qa/environment.mjs
  apps/delidev/scripts/qa/host.mjs
  apps/delidev/scripts/qa/processes.mjs
  apps/delidev/scripts/qa/qa.test.mjs
  apps/delidev/scripts/qa/run.mjs
  apps/delidev/scripts/qa/test-browser.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/host-capabilities.tsx
  apps/delidev/src/qa/bridge.test.ts
  apps/delidev/src/qa/bridge.ts
  apps/delidev/src/qa/main.tsx
  apps/delidev/src/qa/qa.css
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/test-setup.ts
  apps/delidev/vitest.config.ts
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-qa-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): restore provider help browser opening (#1345)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/provider-guidance.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/permission_tests.rs
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

feat(delidev): show usage summaries in AI API Keys (#1352)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/api-entry-row.test.tsx
  apps/delidev/src/api-entry-row.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/usage-entry.ts
  apps/delidev/src/usage-time.ts
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-usage-contract.md
Due: none

feat(delidev): reorganize settings and separate Git policies
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-github.integration.test.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings-presentation.css
  apps/delidev/src/settings-server-preferences.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-requirements.md
  docs/project-delidev.md
Due: none

fix(delidev): clean up ChatGPT credentials before account deletion (#1348)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-deletion.css
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-deletion.tsx
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/settings-subscriptions.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/subscription-onboarding.tsx
  cmds/delidev-cli/internal/server/account_deletion_test.go
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-accounts-contract.md
Due: go-fmt

fix(delidev): accept registered IPv4 ChatGPT callbacks (#1349)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-login.test.tsx
  apps/delidev/src/subscription-login.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_callback.go
  cmds/delidev-cli/internal/server/subscription_native_smoke_test.go
  cmds/delidev-cli/internal/server/subscription_server.go
  cmds/delidev-cli/internal/server/subscription_server_test.go
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-subscription-contract.md
Due: cargo-fmt, go-fmt

chore(delidev): reserve Agent Worker wizard protocol (#1351)
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

feat(delidev): open repository registration in a dialog
  apps/delidev/src/AGENTS.md
  apps/delidev/src/repository-registration.css
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings-workspace.integration.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/ui.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): prepare owned repository clone execution
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/repository_clone.go
  cmds/delidev-cli/internal/domain/repository_clone_test.go
  cmds/delidev-cli/internal/security/files.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/repository_clone.go
  cmds/delidev-cli/internal/workspace/repository_clone_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

feat(delidev): prepare bounded GitHub repository inventory reads
  cmds/delidev-cli/internal/domain/github_repository_list.go
  cmds/delidev-cli/internal/integrations/github/AGENTS.md
  cmds/delidev-cli/internal/integrations/github/access.go
  cmds/delidev-cli/internal/integrations/github/repositories.go
  cmds/delidev-cli/internal/integrations/github/repositories_test.go
  docs/cmds-delidev-integrations-contract.md
Due: go-fmt

fix(delidev): pin staging checkout before clone execution
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/repository_clone.go
  cmds/delidev-cli/internal/workspace/repository_clone_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

feat(delidev): prepare repository clone inputs and keyboard flow
  apps/delidev/scripts/test-repository-dialog-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/repository-clone-fields.test.tsx
  apps/delidev/src/repository-clone-fields.tsx
  apps/delidev/src/repository-registration.css
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/ui.tsx
  cmds/delidev-cli/internal/domain/repository_clone.go
  docs/apps-delidev-desktop-contract.md
Due: go-fmt

fix(delidev): bound repository selection and disable clone hooks
  apps/delidev/scripts/test-repository-dialog-layout.mjs
  apps/delidev/src/repository-github-picker.tsx
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/repository_clone.go
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
Due: go-fmt

test(delidev): scope repository QA confirmation to its dialog
  apps/delidev/scripts/qa/test-browser.mjs
Due: none

fix(delidev): select clone origin independently of Git defaults
  cmds/delidev-cli/internal/workspace/repository_clone.go
  cmds/delidev-cli/internal/workspace/repository_clone_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt
