Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(ach): bound synthesized diagnostic failure responses
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/diagnostic_summary_test.go
  cmds/async-commit-hook/internal/core/query.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): give repeated diagnostic failures distinct stable identities
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/diagnostic_identity_test.go
  cmds/async-commit-hook/internal/core/query.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): accept Go test events within the report size limit
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/report_tail_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): reject overflowing CLI wait durations
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/cli/cli.go
  cmds/async-commit-hook/internal/cli/wait_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): validate the effective Docker context endpoint
  crates/taskflow/AGENTS.md
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(devhud): bind cold-start auth callbacks
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-client.test.ts
  apps/devhud/src/identity-client.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  docs/project-devhud.md
Due: none

fix(taskflow): reject transport credential collisions during check
  crates/taskflow/AGENTS.md
  crates/taskflow/src/environment.rs
  crates/taskflow/src/graph.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): return accepted rerun receipts after startup failure
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/public/docs/index.html
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/run-detail.test.tsx
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/api_rerun_receipt_test.go
  docs/apps-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-contract.md
  docs/packages-async-commit-hook-api-client-contract.md
  docs/project-async-commit-hook.md
  docs/protos-async-commit-hook-v1-contract.md
  packages/async-commit-hook-api-client/AGENTS.md
  packages/async-commit-hook-api-client/src/gen/async_commit_hook/v1/ach_pb.ts
  packages/async-commit-hook-api-client/tests/wire.test.ts
  protos/AGENTS.md
  protos/async_commit_hook/v1/ach.proto
  protos/gen/go/async_commit_hook/v1/ach.pb.go
Due: go-fmt

fix(taskflow): contain both CI export destinations before writing
  crates/taskflow/AGENTS.md
  crates/taskflow/src/ci.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): include both probe streams in tool identities
  crates/taskflow/AGENTS.md
  crates/taskflow/src/process.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(ach): record report and receipt repair verification
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(taskflow): bound CI artifacts independently within each bundle
  crates/taskflow/AGENTS.md
  crates/taskflow/src/ci.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): ignore Windows deletion-storage notification paths
  .github/workflows/CI.yml
  crates/taskflow/AGENTS.md
  crates/taskflow/Cargo.toml
  crates/taskflow/src/files.rs
  crates/taskflow/src/files/windows.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(taskflow): record unresolved detached Unix child ownership
  crates/taskflow/AGENTS.md
  docs/crates-taskflow-conformance.md
Due: none

docs(runlens): define diagnostics and release contracts
  AGENTS.md
  apps/AGENTS.md
  crates/AGENTS.md
  docs/README.md
  docs/apps-runlens-docs-foundation.md
  docs/crates-runlens-foundation.md
  docs/project-runlens.md
Due: none

fix(devhud): format callback policy response
  apps/devhud/src-tauri/src/bridge.rs
Due: cargo-fmt

fix(devhud): preserve auth callback ownership
  apps/devhud/src/identity-client.test.ts
  apps/devhud/src/identity-client.ts
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  docs/project-devhud.md
Due: none

fix(ach): publish cancellation and terminal check state atomically
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/cancellation_finish_test.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): reject artifact names aliased by the restore filesystem
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): distinguish repeated Go test failure occurrences
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/go_test_identity_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): detect Codex MCP conflicts through parsed TOML keys
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/agent_toml_test.go
  cmds/async-commit-hook/internal/core/agents.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): await container cleanup after output drain failures
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/src/shard.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(ach): record cancellation and integration repair evidence
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(taskflow): distinguish finite timeouts from cancellation
  crates/taskflow/AGENTS.md
  crates/taskflow/src/process.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/src/session.rs
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): include explicitly matched ignored input trees
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): honor Cargo manifest selection in shard metadata
  crates/taskflow/AGENTS.md
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): inspect deleted handles after failed Windows path lookups
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files/windows.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): keep restore staging excluded from explicit inputs
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(devhud): recover failed auth callbacks
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/service-boundary.tsx
  docs/project-devhud.md
Due: none

test(runlens): verify native tracing and harden incomplete evidence
  crates/runlens/PATCHES.md
  crates/runlens/src/analysis.rs
  crates/runlens/src/clean.rs
  crates/runlens/src/execute.rs
  crates/runlens/src/model.rs
  crates/runlens/src/platform.rs
  crates/runlens/src/privacy.rs
  crates/runlens/src/report.rs
  crates/runlens/src/snapshot.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_shared/src/ipc/channel/shm_io/writer.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): bound retained metadata and own preparation process lifetimes
  apps/runlens-docs/docs/reports.md
  crates/runlens/.cargo/config.toml
  crates/runlens/PATCHES.md
  crates/runlens/src/clean.rs
  crates/runlens/src/entries.rs
  crates/runlens/src/execute.rs
  crates/runlens/src/lib.rs
  crates/runlens/src/main.rs
  crates/runlens/src/model.rs
  crates/runlens/src/report.rs
  crates/runlens/src/temporary.rs
  crates/runlens/vendor/fspy/src/lib.rs
  crates/runlens/vendor/fspy/src/lifecycle.rs
  docs/crates-runlens-foundation.md
  docs/project-runlens.md
  scripts/ci/runlens.test.mjs
Due: cargo-fmt

fix(runlens): preserve child execution and validate passive evidence
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/schema/report-v1.json
  crates/runlens/scripts/benchmark.py
  crates/runlens/src/analysis.rs
  crates/runlens/src/clean.rs
  crates/runlens/src/entries.rs
  crates/runlens/src/execute.rs
  crates/runlens/src/lib.rs
  crates/runlens/src/macho.rs
  crates/runlens/src/main.rs
  crates/runlens/src/model.rs
  crates/runlens/src/platform.rs
  crates/runlens/src/privacy.rs
  crates/runlens/tests/core.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_preload_windows/Cargo.toml
  crates/runlens/vendor/fspy_preload_windows/src/windows/client.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/convert.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/detour.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/detours/create_process.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/detours/nt.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/mod.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/winapi_utils.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): reject inconsistent reports and correct Windows teardown
  crates/runlens/Cargo.lock
  crates/runlens/Cargo.toml
  crates/runlens/PATCHES.md
  crates/runlens/src/analysis.rs
  crates/runlens/src/clean.rs
  crates/runlens/src/execute.rs
  crates/runlens/src/main.rs
  crates/runlens/src/report.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/Cargo.toml
  crates/runlens/vendor/fspy_preload_windows/src/windows/convert.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/detour.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/detours/nt.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/mod.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/winapi_utils.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): return incomplete status for inconclusive comparisons
  crates/runlens/src/main.rs
Due: cargo-fmt

test(runlens): close native evidence and distribution validation gaps
  .github/workflows/release-runlens.yml
  crates/runlens/.gitattributes
  crates/runlens/scripts/vendor.py
  crates/runlens/src/analysis.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
  scripts/release/runlens.py
Due: cargo-fmt

fix(runlens): preserve bounded source copying and descendant coverage
  apps/runlens-docs/docs/reports.md
  crates/runlens/PATCHES.md
  crates/runlens/src/clean.rs
  crates/runlens/src/lib.rs
  crates/runlens/src/privacy.rs
  crates/runlens/src/snapshot.rs
  crates/runlens/tests/core.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_shared/src/lib.rs
  crates/runlens/vendor/fspy_shared/src/macho.rs
  crates/runlens/vendor/fspy_shared_unix/src/spawn/macos.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): keep Unix targets alive when collection fails
  crates/runlens/PATCHES.md
  crates/runlens/src/clean.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_client_unix/src/lib.rs
  crates/runlens/vendor/fspy_preload_unix/src/client.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/spawn/exec/mod.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/spawn/exec/with_argv.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/spawn/posix_spawn.rs
  crates/runlens/vendor/fspy_shared/src/macho.rs
  crates/runlens/vendor/fspy_shared_unix/src/spawn/macos.rs
  crates/runlens/vendor/fspy_shared_unix/src/spawn/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(ach): verify pre-push evidence outside SQLite writer transactions
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/prepush.go
  cmds/async-commit-hook/internal/core/prepush_evidence_lock_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt
