Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(clibox): preserve exit status when diagnostics close
  crates/AGENTS.md
  crates/clibox/src/main.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

test(clibox): respect Windows environment conversion in capture fixtures
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/environment.rs
  crates/clibox/tests/process.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
Due: cargo-fmt

ci: skip Linux package validation on pull requests (#925)
  AGENTS.md
  docs/repository-linux-packages-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

fix(runlens): retain suspended process handle for Detours payload
  crates/runlens/PATCHES.md
  crates/runlens/vendor/fspy/src/windows/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(clibox): smoke-test release binaries within archive bounds
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/scripts/smoke.mjs
Due: none

fix(clibox): count dotenv diagnostic columns by character
  crates/AGENTS.md
  crates/clibox/src/dotenv.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): reject repeated YAML version directives
  crates/AGENTS.md
  crates/clibox/src/yaml.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): enforce private Unix output mode despite umask
  crates/AGENTS.md
  crates/clibox/src/publication.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): rebase generated checksum records to manifest directories
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/cli.rs
  crates/clibox/src/hash.rs
  crates/clibox/tests/utilities.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

docs(taskflow): record platform CI and merge validation
  docs/crates-taskflow-conformance.md
Due: none

docs(clibox): distinguish native signing from npm permissions
  AGENTS.md
  docs/packages-clibox-distribution-contract.md
  docs/repository-workflow-contract.md
Due: none

test(runlens): isolate ambient runner file descriptors
  crates/AGENTS.md
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(clibox): isolate unpublished Unix replacement permissions
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/main.rs
  crates/clibox/src/publication.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
Due: cargo-fmt

fix(runlens): serialize current-revision docs publication
  .github/workflows/runlens-docs.yml
  apps/AGENTS.md
  docs/apps-runlens-docs-foundation.md
  scripts/ci/runlens.test.mjs
Due: none

feat(clibox): add TCP, HTTP, and file readiness waits (#921)
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/cli.rs
  crates/clibox/src/main.rs
  crates/clibox/src/probe.rs
  crates/clibox/src/probe_tests.rs
  crates/clibox/src/wait.rs
  crates/clibox/src/wait_command.rs
  crates/clibox/src/wait_tests.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/process.rs
  crates/clibox/tests/wait.rs
  docs/README.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
  scripts/ci/clibox-release.test.mjs
Due: cargo-fmt

fix(runlens): observe directory changes as metadata reads
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/chdir.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/mod.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/chdir.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): require a known baseline source revision
  apps/runlens-docs/docs/verification.md
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(ach): bound Go report summaries and occurrence tracking
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/go_report.go
  cmds/async-commit-hook/internal/core/go_summary_test.go
  cmds/async-commit-hook/internal/core/junit_summary_test.go
  cmds/async-commit-hook/internal/core/report_summary.go
  cmds/async-commit-hook/internal/core/report_tail_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(runlens): retain conservative macOS loader evidence
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_preload_unix/src/client.rs
  crates/runlens/vendor/fspy_preload_unix/src/images.rs
  crates/runlens/vendor/fspy_preload_unix/src/lib.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(ach): confine hook refresh snapshots and publication
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/hooks.go
  cmds/async-commit-hook/internal/core/hooks_creation_test.go
  cmds/async-commit-hook/internal/core/hooks_files.go
  cmds/async-commit-hook/internal/core/hooks_read_unix.go
  cmds/async-commit-hook/internal/core/hooks_read_windows.go
  cmds/async-commit-hook/internal/core/hooks_refresh_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(clibox): preserve help for missing subcommands
  AGENTS.md
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/cli.rs
  crates/clibox/src/main.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/wait.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

test(clibox): compare Windows DACL access semantics
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

test(clibox): reset inherited Ctrl+C state in console fixture
  crates/AGENTS.md
  crates/clibox/tests/wait.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(taskflow): preserve timeout status at invocation boundaries
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): preserve cancellation across source Git operations
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api_discovery_test.go
  cmds/async-commit-hook/internal/core/branches.go
  cmds/async-commit-hook/internal/core/commits.go
  cmds/async-commit-hook/internal/core/git.go
  docs/protos-async-commit-hook-v1-contract.md
Due: go-fmt

fix(runlens): keep retained spill indexes in private storage
  crates/AGENTS.md
  crates/runlens/src/entries.rs
  crates/runlens/src/execute.rs
  crates/runlens/src/temporary.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

test(clibox): validate Windows replacement contention safely
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/config_command.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
Due: cargo-fmt

fix(clibox): preserve read-only Windows outputs during atomic replacement
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/publication.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
Due: cargo-fmt

fix(ach): skip backups and replacement for identical updates
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/update.go
  cmds/async-commit-hook/internal/core/update_unchanged_test.go
  docs/cmds-async-commit-hook-release-contract.md
Due: go-fmt

fix(clibox): copy Windows attributes before applying restrictive ACLs
  crates/AGENTS.md
  crates/clibox/src/publication.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): permit replacement of write-only Unix outputs
  crates/AGENTS.md
  crates/clibox/src/publication.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(taskflow): redact combined output across streams and shards
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): preserve absent agent settings during uninstall
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/agent_missing_test.go
  cmds/async-commit-hook/internal/core/agents.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(clibox): escape YAML BMP noncharacters during serialization
  crates/AGENTS.md
  crates/clibox/src/yaml.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

test(clibox): reserve delayed listener ports across parallel fixtures
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/tests/wait.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

test(clibox): account for Windows executable names in help
  crates/clibox/tests/cli.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

feat(linux-packages): add clibox and move Runmoor to stable (#923)
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  .github/workflows/release-linux-packages.yml
  AGENTS.md
  apps/AGENTS.md
  apps/binpm-docs/docs/installation.md
  apps/nodeup-docs/docs/installation.md
  apps/public-docs/docs/cargo-mono.md
  apps/public-docs/docs/derun.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/docs/with-watch.md
  apps/runmoor-docs/docs/install.md
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/tests/wait.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/project-public-docs.md
  docs/project-runmoor.md
  docs/repository-environment-contract.md
  docs/repository-linux-packages-contract.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/github-release.mjs
  packages/clibox/test/distribution.test.mjs
  packages/clibox/test/github-release.test.mjs
  packages/clibox/turbo.json
  packaging/linux/AGENTS.md
  scripts/ci/clibox-release.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/linux-packages.test.mjs
  scripts/release/linux-packages.test.mjs
  scripts/release/linux-packages/build-rust.sh
  scripts/release/linux-packages/install-test.sh
  scripts/release/linux-packages/model.mjs
  scripts/release/linux-packages/package.mjs
Due: cargo-fmt

fix(ach): bind execution deep links to their workspace
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/public/docs/index.html
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/deep-link.test.tsx
  docs/apps-async-commit-hook-contract.md
Due: none

fix(taskflow): restore outputs using filesystem-equivalent roots
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

test(nodeup): keep resolver cleanup inside its owned fixture
  crates/AGENTS.md
  crates/nodeup/src/resolver.rs
  docs/crates-nodeup-foundation.md
Due: cargo-fmt
