Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): confirm native invisibility before acknowledging Hide
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-native-hide-confirmation.md
Due: cargo-fmt

fix(delidev): drain accepted browser addresses during graceful exit
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-shutdown-address-drain.md
Due: cargo-fmt

fix(delidev): close owned browser children before window teardown
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/main.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-native-window-teardown.md
Due: cargo-fmt

test(delidev): synchronize Grok fixture failure logs
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/fixture_logs_test.go
  cmds/delidev-cli/internal/harness/grok/probe_test.go
  docs/evidence/delidev/issue-1094/grok-fixture-log-race-2026-09-30.md
Due: go-fmt

test(delidev): prove text-only initial Grok Plan settlement
  cmds/delidev-cli/internal/harness/grok/public_first_test.go
  docs/evidence/delidev/issue-1091/initial-plan-settlement-review-2026-10-01.md
Due: go-fmt

fix(delidev): keep completed proxy deletion retries read-only
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/network.go
  cmds/delidev-cli/internal/server/network_delete_replay_test.go
  docs/cmds-delidev-network-contract.md
  docs/evidence/delidev/issue-1084/review-completed-delete-replay.md
Due: go-fmt

docs(delidev): retain latest Grok review validation limits
  docs/evidence/delidev/issue-1091/proposal-display-plan-review-validation-2026-10-01.md
Due: none

fix(delidev): retain machines for restored worker routes
  cmds/delidev-cli/internal/server/network_restore_machine_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/backup_restore_image.go
  docs/cmds-delidev-network-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1084/review-restored-worker-route-machines.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): join relay cancellation before handler return
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/cancellation_join_test.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/evidence/delidev/issue-1084/ci-relay-cancellation-join.md
  docs/project-delidev.md
Due: go-fmt

docs(delidev): record close-intent repair validation limits
  docs/evidence/delidev/issue-1088/review-round-five-validation-2026-09-30.md
Due: none

docs(delidev): record browser lifetime repairs and validation limits
  docs/evidence/delidev/issue-1087/pr1232-lifetime-review-validation.md
  docs/evidence/delidev/issue-1087/pr1232-windows-harness-blocker.md
Due: none

docs(delidev): record composed subscription review validation
  docs/evidence/delidev/issue-1095/review-complete-6c7496-2026-10-01.md
Due: none

docs(delidev): retain restored ownership repair evidence
  docs/evidence/delidev/issue-1079/pr-1231-identity-unlink-read-repairs.md
  docs/evidence/delidev/issue-1079/pr-1231-long-path-fixture.md
  docs/evidence/delidev/issue-1079/source-c50507de-completed-race.md
Due: none

docs(delidev): record final PR 1225 reconciliation validation
  docs/evidence/delidev/issue-1094/heartbeat-final-2026-09-30-1832.md
Due: none

docs(delidev): record proxy maintenance validation
  docs/evidence/delidev/issue-1084/review-1944-combined-validation.md
Due: none

fix(delidev): honor pending account selection in the browser
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-browser-selection.test.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/browser.go
  cmds/delidev-cli/internal/server/browser_test.go
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-pending-account-selection.md
Due: go-fmt

fix(delidev): preserve loss without terminal shutdown evidence
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/terminal_shutdown.go
  cmds/delidev-cli/internal/worker/terminal_shutdown_test.go
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/missing-shutdown-output-loss-review-2026-09-30.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): confirm unpublished pre-native authentication cleanup
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_authentication_test.go
  cmds/delidev-cli/internal/worker/subscriptions.go
  cmds/delidev-cli/internal/worker/subscriptions_unpublished_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/review-unpublished-auth-2026-10-01.md
Due: go-fmt

fix(delidev): unmap superseded browser children before release
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-superseded-child-invisibility.md
Due: cargo-fmt

docs(delidev): record seventh maintenance validation
  docs/evidence/delidev/issue-1081/seventh-maintenance-validation-2026-10-01.md
Due: none

fix(delidev): reject retained child parent-tool reuse
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subagent_claude_fixture_test.go
  cmds/delidev-cli/internal/server/subagent_retained_tool_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/subagents.go
  docs/cmds-delidev-subagents-contract.md
  docs/evidence/delidev/issue-1094/retained-parent-tool-2026-09-30.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): wait for busy managed lifecycle leases
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/subscriptions.go
  cmds/delidev-cli/internal/worker/subscriptions_lane_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/review-lifecycle-busy-2026-10-01.md
Due: go-fmt

fix(delidev): preserve common branch reflogs in snapshots
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/snapshot_capture.go
  cmds/delidev-cli/internal/workspace/snapshot_reflog_test.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1079/pr-1231-common-reflogs.md
Due: go-fmt

fix(delidev): reconcile committed terminal report receipts
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/terminal_close_retry_test.go
  cmds/delidev-cli/internal/server/terminal_receipt_recovery_test.go
  cmds/delidev-cli/internal/server/terminals.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/terminals.go
  cmds/delidev-cli/internal/store/terminals_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/terminal_retirement_test.go
  cmds/delidev-cli/internal/worker/terminals.go
  cmds/delidev-cli/internal/worker/terminals_close_recovery_test.go
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/committed-terminal-report-recovery-review-2026-09-30.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): preserve settled Finish after presentation cancellation
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/subscriptions_committed_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/review-committed-finish-2026-10-01.md
Due: go-fmt

fix(delidev): validate child telemetry against native source fields
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/subagents.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subagent_source_fields_test.go
  docs/cmds-delidev-subagents-contract.md
  docs/evidence/delidev/issue-1094/source-field-matrix-2026-09-30.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): restore terminal focus after pending controls
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1088/terminal-control-focus-review-2026-09-30.md
Due: none

fix(delidev): require original staging ownership before cleanup
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletion_storage_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/delete_storage.go
  cmds/delidev-cli/internal/workspace/snapshot_capture.go
  cmds/delidev-cli/internal/workspace/snapshot_files.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshot_staging.go
  cmds/delidev-cli/internal/workspace/snapshot_staging_test.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1079/pr-1231-staging-ownership.md
Due: go-fmt

fix(delidev): show complete handled push audit
  apps/delidev/src/AGENTS.md
  apps/delidev/src/pr-problems.test.tsx
  apps/delidev/src/pr-problems.tsx
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1081/handled-push-audit-2026-10-01.md
Due: none

fix(delidev): omit pending input from public terminal resources
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/terminals.go
  cmds/delidev-cli/internal/rpc/common.go
  cmds/delidev-cli/internal/rpc/terminal_resource.go
  cmds/delidev-cli/internal/rpc/terminal_resource_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/terminal_input_projection_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  docs/cmds-delidev-terminals-contract.md
  docs/evidence/delidev/issue-1088/pending-terminal-input-projection-review-2026-09-30.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): validate complete desktop child observation pages
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-subagents.test.tsx
  apps/delidev/src/subagent-page.test.tsx
  apps/delidev/src/subagent-record.ts
  apps/delidev/src/subagent-test-fixture.ts
  apps/delidev/src/subagents.test.tsx
  apps/delidev/src/subagents.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-subagents-contract.md
  docs/evidence/delidev/issue-1094/desktop-child-page-2026-09-30.md
  docs/project-delidev.md
Due: none

test(delidev): clone terminal receipt requests safely
  cmds/delidev-cli/internal/server/terminal_receipt_recovery_test.go
  docs/evidence/delidev/issue-1088/terminal-receipt-fixture-vet-review-2026-09-30.md
Due: go-fmt

test(delidev): create private Windows child history fixture
  cmds/delidev-cli/internal/worker/claude_child_history_identity_test.go
  docs/evidence/delidev/issue-1094/windows-history-fixture-2026-09-30.md
Due: go-fmt

fix(delidev): preserve POSIX Git environment names
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/pr_git_environment_test.go
  cmds/delidev-cli/internal/workspace/pr_git_tool.go
  docs/cmds-delidev-integrations-contract.md
  docs/evidence/delidev/issue-1081/git-environment-case-2026-10-01.md
Due: go-fmt

docs(delidev): record current PR repair evidence
  docs/evidence/delidev/issue-1094/heartbeat-2026-09-30-2209.md
Due: none

docs(delidev): retain complete desktop validation failures
  docs/evidence/delidev/issue-1079/source-e0a9857e-desktop-failures.md
Due: none

docs(delidev): record account and child repair validation
  docs/evidence/delidev/issue-1087/pr1232-account-and-child-review-validation.md
Due: none

docs(delidev): record desktop validation limits after repairs
  docs/evidence/delidev/issue-1094/heartbeat-frontend-2026-09-30-2209.md
Due: none

docs(delidev): record eighth maintenance validation
  docs/evidence/delidev/issue-1081/eighth-maintenance-validation-2026-10-01.md
Due: none

fix(delidev): retain initial browser geometry failures
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/pr1232-after-created-failure.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
