Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

chore(devkit): pin dev server port to 5990
  apps/devkit/package.json
  docs/project-devkit.md
Due: none

docs(nodeup): define installer and release distribution contracts
  crates/nodeup/README.md
  docs/project-nodeup.md
Due: none

feat(nodeup): add multi-method installer and clean uninstall scripts
  scripts/nodeup/build-packages.sh
  scripts/nodeup/install.sh
  scripts/nodeup/lib/common.sh
  scripts/nodeup/lib/download.sh
  scripts/nodeup/lib/manager.sh
  scripts/nodeup/lib/platform.sh
  scripts/nodeup/render-homebrew-formula.sh
  scripts/nodeup/tests/install_test.sh
  scripts/nodeup/tests/uninstall_test.sh
  scripts/nodeup/uninstall.sh
Due: none

ci(nodeup): automate release artifacts and homebrew tap sync
  .github/workflows/nodeup-release.yml
  crates/nodeup/packaging/homebrew/nodeup.rb.tmpl
  crates/nodeup/packaging/nfpm.yaml
Due: none

feat(nodeup): reduce default managed-alias logging noise
  crates/nodeup/src/logging.rs
  crates/nodeup/src/main.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

chore(devkit): pin dev server port to 5990 (#159)
  apps/devkit/package.json
  docs/project-devkit.md
Due: none

feat(public-docs): add mintlify docs app and policy contracts (#157)
  .github/workflows/CI.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/README.md
  apps/public-docs/docs.json
  apps/public-docs/documentation-lifecycle.mdx
  apps/public-docs/getting-started.mdx
  apps/public-docs/index.mdx
  apps/public-docs/package.json
  apps/public-docs/projects-overview.mdx
  docs/project-public-docs.md
  pnpm-lock.yaml
Due: none

feat(nodeup): reduce default managed-alias logging noise (#158)
  crates/nodeup/src/logging.rs
  crates/nodeup/src/main.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(public-docs): update docs.json navigation schema
  apps/public-docs/docs.json
  docs/project-public-docs.md
Due: none

fix(public-docs): update docs.json navigation schema (#161)
  apps/public-docs/docs.json
  docs/project-public-docs.md
Due: none

chore(dev): run pnpm dev through derun
  docs/project-derun.md
  package.json
  scripts/dev.sh
Due: none

chore(dev): route pnpm dev through derun run (#162)
  docs/project-derun.md
  package.json
  scripts/dev.sh
Due: none

docs(public-docs): add tabbed guides for devmon nodeup derun
  apps/public-docs/index.mdx
  apps/public-docs/projects-overview.mdx
  docs/project-public-docs.md
Due: none

docs(public-docs): add top-nav guides for devmon nodeup derun
  apps/public-docs/README.md
  apps/public-docs/derun.mdx
  apps/public-docs/devmon.mdx
  apps/public-docs/docs.json
  apps/public-docs/index.mdx
  apps/public-docs/nodeup.mdx
  apps/public-docs/projects-overview.mdx
  docs/project-public-docs.md
Due: none

docs(public-docs): document devmon nodeup derun with top-level nav tabs (#164)
  apps/public-docs/README.md
  apps/public-docs/derun.mdx
  apps/public-docs/devmon.mdx
  apps/public-docs/docs.json
  apps/public-docs/index.mdx
  apps/public-docs/nodeup.mdx
  apps/public-docs/projects-overview.mdx
  docs/project-public-docs.md
Due: none

chore(nodeup): add local install env patch script
  docs/project-nodeup.md
  scripts/setup/nodeup-local.sh
Due: none

chore(nodeup): add local install env patch script (#165)
  docs/project-nodeup.md
  scripts/setup/nodeup-local.sh
Due: none

chore(gitignore): ignore .local and .tmp
  .gitignore
Due: none

chore(gitignore): ignore .local and .tmp (#166)
  .gitignore
Due: none

feat(cargo-mono): prefetch published versions before publish
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/commands/publish.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

chore(cargo-mono): bump crate version to 0.5.0
  Cargo.lock
  crates/cargo-mono/Cargo.toml
Due: none

chore(cargo-mono): bump crate version to 0.5.0 (#168)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
Due: none

feat(cargo-mono): prefetch crates.io sparse index before publish (#167)
  Cargo.lock
  crates/cargo-mono/Cargo.toml
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/commands/publish.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

docs(public-docs): promote cargo-mono as top-level guide
  apps/public-docs/README.md
  apps/public-docs/cargo-mono.mdx
  apps/public-docs/docs.json
  apps/public-docs/index.mdx
  apps/public-docs/projects-overview.mdx
  docs/project-public-docs.md
Due: none

docs(public-docs): promote cargo-mono as top-level guide (#170)
  apps/public-docs/README.md
  apps/public-docs/cargo-mono.mdx
  apps/public-docs/docs.json
  apps/public-docs/index.mdx
  apps/public-docs/projects-overview.mdx
  docs/project-public-docs.md
Due: none

feat(cargo-mono): retry publish and prefetch on 429
  crates/cargo-mono/src/commands/publish.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(nodeup): include cache/config roots in show home human output
  crates/nodeup/src/commands/show.rs
  crates/nodeup/tests/cli.rs
Due: cargo-fmt

fix(nodeup): keep default introspection available offline
  crates/nodeup/src/commands/default_cmd.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(derun): require -- separator for run command
  apps/public-docs/derun.mdx
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  docs/project-derun.md
Due: go-fmt

fix(derun): reject fractional mcp integer arguments
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/server_contract_test.go
  cmds/derun/internal/mcp/server_number_test.go
  cmds/derun/internal/mcp/tools_test.go
  docs/project-derun.md
Due: go-fmt

fix(cargo-mono): retry publish and prefetch on 429 (#171)
  crates/cargo-mono/src/commands/publish.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(nodeup): keep default introspection available offline (#174)
  crates/nodeup/src/commands/default_cmd.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(nodeup): include cache/config roots in show home human output (#172)
  crates/nodeup/src/commands/show.rs
  crates/nodeup/tests/cli.rs
Due: cargo-fmt

fix(derun): preserve run help flags when separator is missing
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
Due: go-fmt

fix(derun): avoid float roundtrip in mcp integer parsing
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/server_number_test.go
Due: go-fmt

fix(derun): reject fractional MCP integer arguments (#175)
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/server_contract_test.go
  cmds/derun/internal/mcp/server_number_test.go
  cmds/derun/internal/mcp/tools_test.go
  docs/project-derun.md
Due: go-fmt

fix(derun): require -- separator for run command (#173)
  apps/public-docs/derun.mdx
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  docs/project-derun.md
Due: go-fmt

ci(release): add auto-publish workflow
  .github/workflows/auto-publish.yml
  AGENTS.md
  docs/project-cargo-mono.md
  docs/project-nodeup.md
Due: none

fix(ci): remove unsupported cargo-mono publish flag
  .github/workflows/auto-publish.yml
  AGENTS.md
  docs/project-cargo-mono.md
  docs/project-nodeup.md
Due: none

ci(release): add auto-publish workflow (#169)
  .github/workflows/auto-publish.yml
  AGENTS.md
  docs/project-cargo-mono.md
  docs/project-nodeup.md
Due: none
