Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

docs(pnport): prepare the repair version installation guidance
  packages/pnport/README.md
Due: none

docs(delidev): establish native read-only Sidechat ownership
  AGENTS.md
  cmds/delidev-cli/AGENTS.md
  docs/README.md
  docs/cmds-delidev-sidechat-contract.md
  docs/project-delidev.md
  protos/delidev/AGENTS.md
Due: none

feat(delidev): enforce pinned native read-only Sidechat profile
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/approval_response.go
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/native_fork_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/native_sidechat_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/sidechat.go
  cmds/delidev-cli/internal/harness/codex/sidechat_test.go
  cmds/delidev-cli/internal/harness/codex/thread.go
  cmds/delidev-cli/internal/harness/codex/turn.go
Due: go-fmt

feat(delidev): retain Sidechat workspace references behind joined cleanup
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  cmds/delidev-cli/internal/workspace/result.go
  cmds/delidev-cli/internal/workspace/sidechat.go
  cmds/delidev-cli/internal/workspace/sidechat_test.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  cmds/delidev-cli/internal/workspace/terminal.go
Due: go-fmt

fix(delidev): preserve Sidechat admission and rollback boundaries
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/sidechat_deadline_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/continuation_test.go
  cmds/delidev-cli/internal/harness/codex/sidechat_compaction_test.go
  cmds/delidev-cli/internal/harness/codex/thread_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/sidechat_capacity_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/sidechat.go
  cmds/delidev-cli/internal/workspace/sidechat_rollback_test.go
  docs/cmds-delidev-sidechat-contract.md
Due: go-fmt

fix(delidev): reserve Sidechat capacity before native admission
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/sidechat_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/sidechat.go
  docs/cmds-delidev-sidechat-contract.md
Due: go-fmt

fix(delidev): release Sidechat metadata anchor before Windows removal
  cmds/delidev-cli/internal/workspace/sidechat.go
Due: go-fmt

fix(delidev): retain original Sidechat metadata cleanup across restart
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_deletions.go
  cmds/delidev-cli/internal/server/session_deletions_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/sidechat_deletion_recovery_test.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/sidechat.go
  cmds/delidev-cli/internal/workspace/sidechat_fork_claim.go
  cmds/delidev-cli/internal/workspace/sidechat_rollback_test.go
  cmds/delidev-cli/internal/workspace/sidechat_test.go
  docs/cmds-delidev-sidechat-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): retain large Sidechat storage retirement plans
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/sidechat_storage.go
  cmds/delidev-cli/internal/store/sidechat_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(pnport): unblock macOS validation and authorize the 0.1.2 repair release (#1329)
  .github/AGENTS.md
  AGENTS.md
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/diagnostic.rs
  crates/pnport-core/src/executable.rs
  crates/pnport/tests/cache-conformance.c
  crates/pnport/tests/core.rs
  crates/pnport/tests/exec-replace.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/README.md
  packages/pnport/package.json
  packages/pnport/scripts/github-release.mjs
  scripts/release/pnport-distribution.test.mjs
Due: cargo-fmt

fix(delidev): reconcile original Worker updates after response loss
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/worker_lifecycle.go
  cmds/delidev-cli/internal/cli/worker_updates.go
  cmds/delidev-cli/internal/server/updates.go
  cmds/delidev-cli/internal/server/updates_native_test.go
  cmds/delidev-cli/internal/server/updates_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/updates.go
  docs/cmds-delidev-updates-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/installation_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/installation.proto
  protos/gen/go/delidev/v1/installation.pb.go
Due: go-fmt

refactor(delidev): keep native update requests cohesive and platform bounded
  apps/delidev/src-tauri/src/updater.rs
  apps/delidev/src-tauri/src/updater_host.rs
Due: cargo-fmt

fix(delidev): compile private AppImage replacement permissions on Linux
  apps/delidev/src-tauri/src/updater.rs
Due: cargo-fmt

docs(delidev): reserve signed updates and SSH setup ownership
  apps/delidev/src-tauri/AGENTS.md
  cmds/delidev-cli/AGENTS.md
  docs/README.md
  docs/cmds-delidev-ssh-setup-contract.md
  docs/cmds-delidev-updates-contract.md
  docs/project-delidev.md
  protos/delidev/AGENTS.md
Due: none

fix(delidev): keep original installation inspection available offline
  apps/delidev/AGENTS.md
  apps/delidev/src/updates.test.tsx
  apps/delidev/src/updates.tsx
  docs/cmds-delidev-updates-contract.md
  protos/delidev/allocations.json
Due: none

feat(delidev): verify dedicated signed release inventories and downloads
  cmds/delidev-cli/internal/updates/AGENTS.md
  cmds/delidev-cli/internal/updates/download.go
  cmds/delidev-cli/internal/updates/manifest.go
  cmds/delidev-cli/internal/updates/manifest_test.go
  cmds/delidev-cli/internal/updates/trust-root.json
  scripts/release/generate-delidev-updater.mjs
  scripts/release/generate-delidev-updater.test.mjs
Due: go-fmt

feat(delidev): pin observed SSH hosts before credential authentication
  cmds/delidev-cli/internal/sshsetup/AGENTS.md
  cmds/delidev-cli/internal/sshsetup/transport.go
  cmds/delidev-cli/internal/sshsetup/transport_test.go
  cmds/delidev-cli/internal/updates/manifest_test.go
Due: go-fmt

fix(delidev): serialize and verify revision-bound updater inputs
  .github/workflows/delidev-native-dry-run.yml
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/bundle-native-dry-run.mjs
  apps/delidev/scripts/bundle-updater-dry-run.mjs
  apps/delidev/scripts/native-package.mjs
  apps/delidev/scripts/native-package.test.mjs
  apps/delidev/scripts/verify-unsigned-windows.ps1
  docs/apps-delidev-packaging-contract.md
  protos/delidev/allocations.json
  scripts/ci/delidev-native-package.test.mjs
Due: none

fix(delidev): isolate Git state and log bounded package provenance failures
  apps/delidev/scripts/bundle-native-dry-run.mjs
  apps/delidev/scripts/bundle-updater-dry-run.mjs
  apps/delidev/scripts/native-package.mjs
  docs/apps-delidev-packaging-contract.md
Due: none

fix(delidev): preserve pinned native manifest bytes on Windows
  .gitattributes
  apps/delidev/src-tauri/AGENTS.md
  docs/apps-delidev-packaging-contract.md
Due: none

fix(delidev): preserve atomic first claims under the update admission fence
  cmds/delidev-cli/internal/store/installation_test.go
  cmds/delidev-cli/internal/store/workers.go
Due: go-fmt

chore(delidev): document native owner injection at fixed IPC boundaries
  apps/delidev/src-tauri/src/oauth_host.rs
  apps/delidev/src-tauri/src/updater_host.rs
Due: cargo-fmt

fix(delidev): prepare native helper targets and relative notice sources
  .github/workflows/delidev-native-dry-run.yml
  .github/workflows/delidev-updater-input-dry-run.yml
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-native-dry-run.mjs
  apps/delidev/scripts/bundle-updater-dry-run.mjs
  apps/delidev/scripts/native-package.mjs
  apps/delidev/scripts/native-package.test.mjs
  docs/apps-delidev-packaging-contract.md
  scripts/ci/delidev-native-package.test.mjs
Due: none

refactor(delidev): preserve ordered macOS installation admission in one guard
  apps/delidev/src-tauri/src/updater.rs
Due: cargo-fmt

fix(delidev): prepare pinned CEF cache before native package validation
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/bundle-macos-dry-run.mjs
  apps/delidev/scripts/bundle-native-dry-run.mjs
  apps/delidev/scripts/native-package.mjs
  apps/delidev/scripts/native-package.test.mjs
  apps/delidev/src-tauri/src/browser_host.rs
  docs/apps-delidev-packaging-contract.md
Due: cargo-fmt

fix(delidev): reconcile native OAuth adapter lint attributes
  apps/delidev/src-tauri/src/oauth_host.rs
Due: cargo-fmt

fix(runmoor): exclude DinD daemon CPU from admission
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/config_test.go
  cmds/runmoor/internal/runmoor/defaults.go
  cmds/runmoor/internal/runmoor/defaults_test.go
  cmds/runmoor/internal/runmoor/docker.go
  cmds/runmoor/internal/runmoor/docker_budget_test.go
  cmds/runmoor/internal/runmoor/manager_test.go
  cmds/runmoor/internal/runmoor/scheduler_test.go
  cmds/runmoor/internal/runmoor/state_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

docs(pnport): prepare 0.1.2 release guides
  .github/AGENTS.md
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/index.md
  apps/public-docs/docs/pnport/benchmarks.md
  apps/public-docs/docs/pnport/cache.md
  apps/public-docs/docs/pnport/commands.md
  apps/public-docs/docs/pnport/diagnostics.md
  apps/public-docs/docs/pnport/editors.md
  apps/public-docs/docs/pnport/filesystem-and-processes.md
  apps/public-docs/docs/pnport/getting-started.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/preview-testing.md
  apps/public-docs/docs/pnport/releases.md
  apps/public-docs/scripts/validate-clean-urls.mjs
  apps/public-docs/scripts/validate-public-docs.mjs
  docs/apps-pnport-docs-foundation.md
  docs/apps-public-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  docs/project-public-docs.md
  packages/AGENTS.md
Due: none

fix(runmoor): exclude DinD daemon CPU from admission budgets (#1330)
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/config_test.go
  cmds/runmoor/internal/runmoor/defaults.go
  cmds/runmoor/internal/runmoor/defaults_test.go
  cmds/runmoor/internal/runmoor/docker.go
  cmds/runmoor/internal/runmoor/docker_budget_test.go
  cmds/runmoor/internal/runmoor/manager_test.go
  cmds/runmoor/internal/runmoor/scheduler_test.go
  cmds/runmoor/internal/runmoor/state_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

docs(pnport): document verified 0.1.2 release (#1331)
  .github/AGENTS.md
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/index.md
  apps/public-docs/docs/pnport/benchmarks.md
  apps/public-docs/docs/pnport/cache.md
  apps/public-docs/docs/pnport/commands.md
  apps/public-docs/docs/pnport/diagnostics.md
  apps/public-docs/docs/pnport/editors.md
  apps/public-docs/docs/pnport/filesystem-and-processes.md
  apps/public-docs/docs/pnport/getting-started.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/preview-testing.md
  apps/public-docs/docs/pnport/releases.md
  apps/public-docs/scripts/validate-clean-urls.mjs
  apps/public-docs/scripts/validate-public-docs.mjs
  docs/apps-pnport-docs-foundation.md
  docs/apps-public-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  docs/project-public-docs.md
  packages/AGENTS.md
Due: none

chore(delidev): reserve server subscription login protocol
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

chore(delidev): reserve server subscription login protocol (#1332)
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

refactor(delidev): prepare login-first subscription body
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-onboarding.css
  apps/delidev/src/subscription-onboarding.test.tsx
  apps/delidev/src/subscription-onboarding.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

feat(delidev): activate independent subscription login protocol
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/subscription-SubscriptionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/subscription_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/subscription.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/subscription.connect.go
  protos/gen/go/delidev/v1/subscription.pb.go
  protos/gen/go/delidev/v1/system.pb.go
Due: go-fmt
