Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): unify desktop tab presentation
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/tab-layout-assertions.mjs
  apps/delidev/scripts/tab-presentation.test.mjs
  apps/delidev/scripts/test-session-browser-layout.mjs
  apps/delidev/scripts/test-session-tabs-layout.mjs
  apps/delidev/scripts/test-terminal-history-layout.mjs
  apps/delidev/scripts/test-usage-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/backups.css
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/backups.tsx
  apps/delidev/src/project-edit-tabs.css
  apps/delidev/src/project-edit-tabs.test.tsx
  apps/delidev/src/project-edit-tabs.tsx
  apps/delidev/src/session-browser-layout.fixture.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/session-tab-bar.test.tsx
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/session.css
  apps/delidev/src/settings-presentation.css
  apps/delidev/src/settings-task.css
  apps/delidev/src/settings-task.test.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/tab-presentation.css
  apps/delidev/src/tab-presentation.ts
  apps/delidev/src/terminal-dock.css
  apps/delidev/src/usage.css
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): reveal tab selection after strip updates
  apps/delidev/src/backups.tsx
  apps/delidev/src/project-edit-tabs.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/usage.tsx
Due: none

feat(delidev): open Agent Worker wizard from empty creation selectors
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/empty-agent-creation.test.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/new-session.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): show conflict guidance for initial local ownership failures (#2589)
  apps/delidev/locales/native/en.json
  apps/delidev/locales/native/ko.json
  apps/delidev/src-tauri/src/desktop_host.rs
  apps/delidev/src-tauri/src/localization.rs
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

fix(delidev): remove unused remote-control import
  cmds/delidev-cli/internal/harness/codex/remote_control.go
Due: go-fmt

feat(delidev): hide retained information during initial startup
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-progress.test.tsx
  apps/delidev/src/session-progress.ts
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): wake terminal streams on committed changes and output
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/terminal_notifications.go
  cmds/delidev-cli/internal/server/terminal_notifications_test.go
  cmds/delidev-cli/internal/server/terminal_output.go
  cmds/delidev-cli/internal/server/terminal_output_test.go
  cmds/delidev-cli/internal/server/terminals.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-terminals-contract.md
Due: go-fmt

feat(delidev): default compact diff to negotiated branch changes
  apps/delidev/src/AGENTS.md
  apps/delidev/src/local-review-model.ts
  apps/delidev/src/local-reviews.tsx
  apps/delidev/src/locales/en/session-diff.json
  apps/delidev/src/locales/ko/session-diff.json
  apps/delidev/src/session-diff-model.test.ts
  apps/delidev/src/session-diff-model.ts
  apps/delidev/src/session-diff.css
  apps/delidev/src/session-diff.test.tsx
  apps/delidev/src/session-diff.tsx
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-tabs.tsx
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/session_branch_test.go
  cmds/delidev-cli/internal/cli/session_files.go
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/local_review.go
  cmds/delidev-cli/internal/domain/review_anchor.go
  cmds/delidev-cli/internal/domain/review_diff.go
  cmds/delidev-cli/internal/domain/workspace_branch_test.go
  cmds/delidev-cli/internal/domain/workspace_diff.go
  cmds/delidev-cli/internal/domain/workspace_diff_options.go
  cmds/delidev-cli/internal/domain/workspace_reads.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/local_review_submission.go
  cmds/delidev-cli/internal/server/local_reviews_test.go
  cmds/delidev-cli/internal/server/workspace_reads.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/branch_diff_test.go
  cmds/delidev-cli/internal/workspace/diff.go
  cmds/delidev-cli/internal/workspace/diff_options.go
  cmds/delidev-cli/internal/workspace/read.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-files-contract.md
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

fix(delidev): preserve retained question inspection
  apps/delidev/src/interactions.tsx
Due: none

test(delidev): retain history inspection after tray retirement
  apps/delidev/src/conversation-requests.test.tsx
Due: none

fix(delidev): retire answered conversation questions
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/active-question.test.ts
  apps/delidev/src/active-question.ts
  apps/delidev/src/conversation-requests.test.tsx
  apps/delidev/src/conversation-requests.tsx
  apps/delidev/src/interactions.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): consume Windows warnings after completion
  cmds/delidev-cli/internal/worker/codex_events.go
Due: go-fmt

fix(delidev): retain terminal message timing before the session update (#2592)
  apps/delidev/src/tool-turn-transcript.tsx
  apps/delidev/src/turn-timing.test.tsx
  apps/delidev/src/turn-timing.tsx
Due: none

fix(delidev): discard sandbox metadata in title runs
  cmds/delidev-cli/internal/worker/title_execution.go
Due: go-fmt

fix(delidev): settle Revert failures that occur before the native send claim (#2636)
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/session_revert_presend.go
  cmds/delidev-cli/internal/domain/session_revert_presend_test.go
  cmds/delidev-cli/internal/harness/codex/revert_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_revert_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_compaction_codex.go
  cmds/delidev-cli/internal/worker/session_revert_presend.go
  cmds/delidev-cli/internal/worker/session_revert_presend_test.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

fix(delidev): reject Claude web timestamps outside the renderer grammar (#2594)
  apps/delidev/src/native-claude-web.test.tsx
  cmds/delidev-cli/internal/domain/claude_web.go
  cmds/delidev-cli/internal/domain/claude_web_test.go
  cmds/delidev-cli/internal/domain/testdata/claude-web-timestamps.json
Due: go-fmt

fix(delidev): validate assistant and reasoning items in managed Fork history (#2639)
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/managed_fork_test.go
Due: go-fmt

fix(delidev): support legacy Codex file-change output notifications (#2626)
  cmds/delidev-cli/internal/domain/execution_tools.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/tools.go
  cmds/delidev-cli/internal/harness/codex/tools_test.go
  cmds/delidev-cli/internal/server/execution_tools.go
  cmds/delidev-cli/internal/server/execution_tools_test.go
  cmds/delidev-cli/internal/worker/codex_tools.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): handle native Codex filesystem watch notifications (#2603)
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/filesystem_changed_test.go
  cmds/delidev-cli/internal/harness/codex/observations.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_filesystem_changed_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): support every Worker owner within session job bounds (#2595)
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletion_capacity_test.go
  cmds/delidev-cli/internal/store/session_deletions.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): retry all failed subscription read owners in one action (#2606)
  apps/delidev/src/subscription-accounts.test.tsx
  apps/delidev/src/subscription-accounts.tsx
Due: none

fix(delidev): retain pending archives until title cleanup completes (#2608)
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/session_title_archive_test.go
  cmds/delidev-cli/internal/store/session_title_cleanup.go
  cmds/delidev-cli/internal/store/session_title_cleanup_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/terminal_queries.go
Due: go-fmt

feat(delidev): acknowledge session Inbox alerts after foreground viewing
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/inbox-badge.tsx
  apps/delidev/src/session-inbox-read.test.tsx
  apps/delidev/src/session-inbox-read.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/inbox.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/server/session_inbox_read_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/inbox.go
  cmds/delidev-cli/internal/store/session_inbox_read_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-inbox-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/inbox-InboxService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/inbox_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/inbox.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/inbox.connect.go
  protos/gen/go/delidev/v1/inbox.pb.go
  protos/gen/go/delidev/v1/system.pb.go
  scripts/delidev/proto-layout.json
Due: go-fmt

feat(delidev): mark sessions awaiting user responses in sidebar
  apps/delidev/src/AGENTS.md
  apps/delidev/src/home-navigation.test.ts
  apps/delidev/src/home-navigation.ts
  apps/delidev/src/locales/en/sidebar.json
  apps/delidev/src/locales/ko/sidebar.json
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/themes.css
  apps/delidev/src/themes.test.ts
  cmds/delidev-cli/internal/server/sessions_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/overview.go
  cmds/delidev-cli/internal/store/session_response_waiting_test.go
  cmds/delidev-cli/internal/store/sessions.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-sessions-contract.md
Due: go-fmt

fix(delidev): release workflow gates after verified Runner inspection
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/jobs.test.tsx
  apps/delidev/src/jobs.tsx
  apps/delidev/src/machine-settings.tsx
  apps/delidev/src/runner-remediation.test.tsx
  apps/delidev/src/schedules.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

Declare the measurement fixture element receiver
  apps/delidev/src/terminal-parser.test.ts
Due: none

fix(delidev): show configured reasoning effort in the Agent Workers list (#2577)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/configured-effort.test.mjs
  apps/delidev/scripts/test-agent-worker-row-layout.mjs
  apps/delidev/src/agent-worker-row-layout.fixture.tsx
  apps/delidev/src/agent-worker-row.css
  apps/delidev/src/agent-worker-row.test.tsx
  apps/delidev/src/agent-worker-row.tsx
  apps/delidev/src/configured-effort.ts
  apps/delidev/src/locales/en/agent-worker-row.json
  apps/delidev/src/locales/ko/agent-worker-row.json
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): replace the Open tool label with a tool icon (#2576)
  apps/delidev/scripts/test-session-tabs-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-presentation.tsx
  apps/delidev/src/session-tool-menu.test.tsx
  apps/delidev/src/session-tool-menu.tsx
  apps/delidev/src/session.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): verify dynamic history before fork
  cmds/delidev-cli/internal/harness/codex/dynamic_test.go
  cmds/delidev-cli/internal/harness/codex/fork.go
Due: go-fmt

fix(delidev): reject unobserved dynamic history
  cmds/delidev-cli/internal/harness/codex/dynamic.go
  cmds/delidev-cli/internal/harness/codex/dynamic_test.go
Due: go-fmt

Define deny-by-default original Codex app policy and write receipts
  cmds/delidev-cli/internal/harness/codex/apps_policy.go
  cmds/delidev-cli/internal/harness/codex/apps_policy_test.go
Due: go-fmt

Model original Codex app calls and one-call native approval contexts
  cmds/delidev-cli/internal/domain/codex_app_calls.go
  cmds/delidev-cli/internal/domain/codex_app_calls_test.go
  cmds/delidev-cli/internal/domain/execution_tools.go
  cmds/delidev-cli/internal/domain/interactions.go
  cmds/delidev-cli/internal/domain/question_responses.go
Due: go-fmt

Decode bounded native Codex app inventories without tool authority
  cmds/delidev-cli/internal/harness/codex/apps_inventory.go
  cmds/delidev-cli/internal/harness/codex/apps_inventory_test.go
Due: go-fmt

Pin original Codex app approvals to the manual call-bound native profile
  cmds/delidev-cli/internal/harness/codex/apps_controller.go
  cmds/delidev-cli/internal/harness/codex/apps_controller_test.go
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/subscription.go
  cmds/delidev-cli/internal/harness/codex/thread.go
Due: go-fmt

Bind once-only Codex app writes and removal barriers to original controller
  cmds/delidev-cli/internal/harness/codex/apps_controller.go
  cmds/delidev-cli/internal/harness/codex/apps_controller_test.go
  cmds/delidev-cli/internal/harness/codex/client.go
Due: go-fmt

Keep Codex app inventory facts and original revocation observations separate
  cmds/delidev-cli/internal/harness/codex/apps_snapshot.go
  cmds/delidev-cli/internal/harness/codex/apps_snapshot_test.go
Due: go-fmt

Decode original selected Codex app call lifecycle without MCP adoption
  cmds/delidev-cli/internal/harness/codex/apps_calls.go
  cmds/delidev-cli/internal/harness/codex/apps_calls_test.go
  cmds/delidev-cli/internal/harness/codex/apps_controller.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/tools.go
Due: go-fmt

Define immutable original-account Codex app selections
  cmds/delidev-cli/internal/domain/codex_apps.go
  cmds/delidev-cli/internal/domain/codex_apps_test.go
Due: go-fmt

Correct the closed native app approval mode underlying type
  cmds/delidev-cli/internal/harness/codex/apps_policy.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
