Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

test(delidev): follow top-level task dismissal ownership
  apps/delidev/scripts/qa/test-browser.mjs
  docs/apps-delidev-qa-contract.md
Due: none

fix(delidev): preserve automatic title cleanup uncertainty
  cmds/delidev-cli/internal/worker/title_cleanup.go
  cmds/delidev-cli/internal/worker/title_cleanup_test.go
  cmds/delidev-cli/internal/worker/title_execution.go
  docs/cmds-delidev-session-titles-contract.md
Due: go-fmt

fix(delidev): close embedded browser children independently
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

feat(delidev): format paid-credit cards with exact balance disclosure
  apps/delidev/src/locales/en/paid-credits.json
  apps/delidev/src/locales/ko/paid-credits.json
  apps/delidev/src/subscription-paid-credit-format.test.ts
  apps/delidev/src/subscription-paid-credit-format.ts
  apps/delidev/src/subscription-paid-credits.css
  apps/delidev/src/subscription-paid-credits.test.tsx
  apps/delidev/src/subscription-paid-credits.tsx
  apps/delidev/src/subscription-settings.test.tsx
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-subscription-contract.md
Due: none

fix(delidev): complete verified repository edits automatically
  apps/delidev/src/AGENTS.md
  apps/delidev/src/jobs.test.tsx
  apps/delidev/src/jobs.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): apply selected palettes above dark defaults
  .github/AGENTS.md
  .github/workflows/CI.yml
  apps/delidev/scripts/test-appearance-colors.mjs
  apps/delidev/src/appearance-colors.fixture.tsx
  apps/delidev/src/appearance-colors.test.ts
  apps/delidev/src/appearance-preferences.ts
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

test(delidev): verify default palette restoration
  apps/delidev/scripts/test-appearance-colors.mjs
  apps/delidev/src/appearance-colors.fixture.tsx
Due: none

fix(delidev): validate compaction history before backup restore
  cmds/delidev-cli/internal/store/backup_restore_image.go
  cmds/delidev-cli/internal/store/backup_restore_job_limits_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): admit selected Revert history modes consistently
  cmds/delidev-cli/internal/harness/codex/revert_test.go
  cmds/delidev-cli/internal/harness/codex/thread_decode.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): remove the wide sidebar toggle row
  .github/AGENTS.md
  .github/workflows/CI.yml
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-sidebar-collapse-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/pull-requests-layout.fixture.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

feat(delidev): preserve Codex function-call output evidence
  cmds/delidev-cli/internal/domain/execution_tools.go
  cmds/delidev-cli/internal/domain/function_call_output.go
  cmds/delidev-cli/internal/domain/function_call_output_test.go
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/continuation.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/function_call_output.go
  cmds/delidev-cli/internal/harness/codex/function_call_output_test.go
  cmds/delidev-cli/internal/server/execution_tools.go
  cmds/delidev-cli/internal/server/function_call_output_test.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_function_call_output.go
  cmds/delidev-cli/internal/worker/codex_function_call_output_test.go
  docs/cmds-delidev-compaction-contract.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): simplify indexed reasoning disclosures
  apps/delidev/src/AGENTS.md
  apps/delidev/src/codex-reasoning-transcript.test.tsx
  apps/delidev/src/codex-reasoning.css
  apps/delidev/src/codex-reasoning.test.tsx
  apps/delidev/src/codex-reasoning.tsx
  apps/delidev/src/locales/en/native-reasoning.json
  apps/delidev/src/locales/ko/native-reasoning.json
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): settle original Runner inspection gates without dismissing results
  apps/delidev/src/AGENTS.md
  apps/delidev/src/jobs.tsx
  apps/delidev/src/machine-settings-controller.test.tsx
  apps/delidev/src/machine-settings.tsx
  apps/delidev/src/runner-remediation.test.tsx
  apps/delidev/src/runner-remediation.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): keep task geometry in browser checks
  apps/delidev/src/settings-task.test.tsx
Due: none

test(delidev): cover shared tabs in retained screens
  apps/delidev/package.json
  apps/delidev/scripts/test-session-tabs-layout.mjs
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/settings-task.test.tsx
  apps/delidev/src/usage.test.tsx
Due: none

fix(delidev): share flat desktop tab presentation
  .github/workflows/CI.yml
  apps/delidev/package.json
  apps/delidev/scripts/test-desktop-tabs-layout.mjs
  apps/delidev/src/backups.css
  apps/delidev/src/backups.tsx
  apps/delidev/src/desktop-tabs-layout.fixture.css
  apps/delidev/src/desktop-tabs-layout.fixture.tsx
  apps/delidev/src/desktop-tabs.css
  apps/delidev/src/desktop-tabs.test.ts
  apps/delidev/src/desktop-tabs.ts
  apps/delidev/src/project-edit-tabs.css
  apps/delidev/src/project-edit-tabs.test.tsx
  apps/delidev/src/project-edit-tabs.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/session-tab-bar.test.tsx
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/session.css
  apps/delidev/src/settings-presentation.css
  apps/delidev/src/settings-task.css
  apps/delidev/src/styles.css
  apps/delidev/src/terminal-dock.css
  apps/delidev/src/usage.css
  apps/delidev/src/usage.tsx
  apps/delidev/turbo.json
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

fix(delidev): float repository details above sidebar controls
  .github/AGENTS.md
  .github/workflows/CI.yml
  apps/delidev/scripts/test-pr-sidebar-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/pull-requests-layout.fixture.tsx
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/repository-workflow-contract.md
Due: none

fix(delidev): remove shared pages after native close acknowledgment
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/session-tabs.test.ts
  apps/delidev/src/session-tabs.tsx
  docs/cmds-delidev-browser-contract.md
Due: none

feat(delidev): open compact tool dialog with primary T
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/session-tool-menu.test.tsx
  apps/delidev/src/session-tool-menu.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-settings.tsx
  apps/delidev/src/shortcuts.ts
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): cover tool shortcut help and committed settings
  apps/delidev/src/session-tool-menu.test.tsx
  apps/delidev/src/shortcut-settings.test.tsx
Due: none

fix(delidev): bind automatic titles to initial execution
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/session_execution_recovery.go
  cmds/delidev-cli/internal/server/session_title_initial_execution_test.go
  cmds/delidev-cli/internal/server/session_titles.go
  docs/cmds-delidev-session-titles-contract.md
Due: go-fmt

feat(delidev): freeze registered names for managed checkout directories
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/image_uploads_test.go
  cmds/delidev-cli/internal/server/named_workspace.go
  cmds/delidev-cli/internal/server/named_workspace_test.go
  cmds/delidev-cli/internal/server/remote_repositories_test.go
  cmds/delidev-cli/internal/server/schedule_dispatch_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_dispatch_test.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/session_workspace.go
  cmds/delidev-cli/internal/server/session_workspace_test.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/server/workspace_reads.go
  cmds/delidev-cli/internal/server/workspace_storage.go
  cmds/delidev-cli/internal/worker/named_workspace_test.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/terminals.go
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/directory_capability.go
  cmds/delidev-cli/internal/workspace/directory_names.go
  cmds/delidev-cli/internal/workspace/directory_names_test.go
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  cmds/delidev-cli/internal/workspace/remote_clone.go
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
  cmds/delidev-cli/internal/workspace/restore_identity.go
  cmds/delidev-cli/internal/workspace/result.go
  cmds/delidev-cli/internal/workspace/snapshot_capture.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/allocations.json
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

fix(delidev): clear pending IME presentation when terminal input is disabled
  patches/@wterm__dom@0.5.4.patch
  pnpm-lock.yaml
Due: none

fix(delidev): reconcile browser selection after busy actions
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
  docs/cmds-delidev-browser-contract.md
Due: none

test(delidev): run appearance cascade regression in CI
  .github/workflows/CI.yml
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): apply selected palettes above default dark colors
  apps/delidev/package.json
  apps/delidev/scripts/test-appearance-colors.mjs
  apps/delidev/src/appearance-colors.fixture.css
  apps/delidev/src/appearance-colors.fixture.tsx
  apps/delidev/src/appearance-preferences.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): bound avatar memory and preserve scoped workspace reads
  apps/delidev/src/pr-avatar-cache.test.ts
  apps/delidev/src/pr-avatar-cache.ts
  apps/delidev/src/pr-workspace-model.ts
  apps/delidev/src/pr-workspace.integration.test.tsx
  apps/delidev/src/pr-workspace.tsx
  cmds/delidev-cli/internal/integrations/github/workspace_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
  protos/delidev/allocations.json
Due: go-fmt

fix(delidev): reject conflicting retained workspace snapshots
  apps/delidev/src/pr-workspace-model.test.ts
  apps/delidev/src/pr-workspace-model.ts
  apps/delidev/src/pr-workspace.tsx
Due: none

fix(delidev): complete localized workspace actor presentation
  apps/delidev/src/pr-workspace.css
  apps/delidev/src/pr-workspace.tsx
Due: none

fix(delidev): release completed repository job ownership
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
Due: none

fix(delidev): finish verified repository edits automatically
  apps/delidev/src/jobs.test.tsx
  apps/delidev/src/jobs.tsx
  apps/delidev/src/repository-edit-completion.test.tsx
  apps/delidev/src/repository-edit-completion.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): remove the wide sidebar toggle row
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-inbox-presentation-layout.mjs
  apps/delidev/scripts/test-sidebar-collapse-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/inbox-filter-layout.fixture.tsx
  apps/delidev/src/pull-requests-layout.fixture.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): separate terminal input and output labels
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/terminal-dock.css
  apps/delidev/src/terminal-renderer.integration.test.ts
Due: none

fix(delidev): pass default search options during reset
  patches/@wterm__dom@0.5.4.patch
  pnpm-lock.yaml
Due: none

fix(delidev): propagate named workspace capability
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/terminal_attach_test.go
  cmds/delidev-cli/internal/worker/terminals.go
Due: go-fmt

fix(delidev): handle wasm URL assets in QA builds
  apps/delidev/scripts/qa/run.mjs
Due: none

fix(delidev): reserve .git workspace names
  cmds/delidev-cli/internal/workspace/directory_names.go
  cmds/delidev-cli/internal/workspace/directory_names_test.go
Due: go-fmt

fix(delidev): reserve superscript device names
  cmds/delidev-cli/internal/domain/repository_clone.go
  cmds/delidev-cli/internal/domain/repository_clone_test.go
  cmds/delidev-cli/internal/workspace/directory_names.go
  cmds/delidev-cli/internal/workspace/directory_names_test.go
Due: go-fmt
