Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(runlens): respect platform PATH key semantics
  crates/AGENTS.md
  crates/runlens/src/platform.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

test(clibox): validate utilities and native permissions across all targets
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  crates/clibox/Cargo.toml
  crates/clibox/src/hash.rs
  crates/clibox/src/publication.rs
  crates/clibox/src/runtime.rs
  crates/clibox/src/text.rs
  crates/clibox/src/time.rs
  crates/clibox/tests/utilities.rs
  crates/clibox/tests/windows_cancellation.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/repository-workflow-contract.md
  packages/clibox/scripts/smoke.mjs
  scripts/ci/clibox-release.test.mjs
Due: cargo-fmt

fix(runlens): account for all inherited Unix descriptors
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/src/platform.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(clibox): recheck cancellation at file publication boundary
  crates/clibox/src/publication.rs
  crates/clibox/src/runtime.rs
Due: cargo-fmt

feat(clibox): implement cross-platform developer utilities (#918)
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/clipboard/linux.rs
  crates/clibox/src/clipboard/macos.rs
  crates/clibox/src/clipboard/mod.rs
  crates/clibox/src/clipboard/windows.rs
  crates/clibox/src/environment.rs
  crates/clibox/src/error.rs
  crates/clibox/src/main.rs
  crates/clibox/src/open.rs
  crates/clibox/src/port/linux.rs
  crates/clibox/src/port/macos.rs
  crates/clibox/src/port/mod.rs
  crates/clibox/src/port/tests.rs
  crates/clibox/src/port/windows.rs
  crates/clibox/src/runtime.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/process.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
  scripts/ci/clibox-release.test.mjs
Due: cargo-fmt

fix(runlens): collect Linux filesystem statistics reads
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/mod.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/stat.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

docs(packages): limit initial public availability to binpm
  apps/AGENTS.md
  apps/nodeup-docs/docs/installation.md
  apps/public-docs/docs/cargo-mono.md
  apps/public-docs/docs/derun.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/docs/with-watch.md
  apps/runmoor-docs/docs/install.md
  docs/repository-linux-packages-contract.md
Due: none

fix(taskflow): reject output aliases owned by the same task
  crates/taskflow/AGENTS.md
  crates/taskflow/src/graph.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(runlens): match Windows conflict path aliases
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): preserve native execveat flag semantics
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/spawn/exec/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(taskflow): preserve completed invocation outcomes after cancellation
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cli.rs
  crates/taskflow/src/main.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(ach): record merged upstream verification
  docs/cmds-async-commit-hook-evidence.md
Due: none

test(clibox): compare Windows ACL access semantics
  crates/clibox/src/publication.rs
Due: cargo-fmt

fix(runlens): preserve PATH exec shell fallback
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/spawn/exec/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(taskflow): stop cancelled work before setup and launch
  crates/taskflow/AGENTS.md
  crates/taskflow/src/process.rs
  crates/taskflow/src/runner.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): revalidate queued source registration before preparation
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/git.go
  cmds/async-commit-hook/internal/core/registry_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): collect query redactions before secret access filtering
  crates/taskflow/AGENTS.md
  crates/taskflow/src/environment.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(runlens): retain native variadic exec argument limits
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/variadic.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/spawn/exec/with_argv.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): reject lossy Windows collector paths
  .github/workflows/runlens.yml
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/Cargo.toml
  crates/runlens/vendor/fspy/src/windows/ansi_path.rs
  crates/runlens/vendor/fspy/src/windows/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(clibox): retain usable roots after partial trust loading
  crates/AGENTS.md
  crates/clibox/src/probe.rs
  crates/clibox/src/probe_tests.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(taskflow): revalidate bootstrap results after graph refresh
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cli.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

feat(clibox): add dotenv and YAML configuration commands
  .github/workflows/CI.yml
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/dotenv.rs
  crates/clibox/src/main.rs
  crates/clibox/src/publication.rs
  crates/clibox/src/runtime.rs
  crates/clibox/src/yaml.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

fix(ach): bound JUnit summaries while parsing reports
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/junit_summary.go
  cmds/async-commit-hook/internal/core/junit_summary_test.go
  cmds/async-commit-hook/internal/core/reports.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(runlens): preserve absolute UNC observation roots
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/vendor/fspy_shared/src/ipc/ipc_path.rs
  crates/runlens/vendor/fspy_shared/tests/windows_access.rs
  crates/runlens/vendor/vt_path/src/absolute/mod.rs
  crates/runlens/vendor/vt_path/src/lib.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): retain dangling Windows directory symlinks
  crates/AGENTS.md
  crates/runlens/src/clean.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): remove fallible post-resume handle duplication
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/vendor/fspy/src/lib.rs
  crates/runlens/vendor/fspy/src/windows/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(ach): confine native hook publication to Git common directory
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/hooks.go
  cmds/async-commit-hook/internal/core/hooks_creation_test.go
  cmds/async-commit-hook/internal/core/hooks_rollback_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

feat(packages): add clibox and promote Runmoor to stable
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  .github/workflows/release-linux-packages.yml
  AGENTS.md
  apps/AGENTS.md
  apps/binpm-docs/docs/installation.md
  apps/public-docs/docs/linux-packages.md
  apps/runmoor-docs/docs/install.md
  crates/AGENTS.md
  crates/clibox/README.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/project-public-docs.md
  docs/project-runmoor.md
  docs/repository-environment-contract.md
  docs/repository-linux-packages-contract.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/github-release.mjs
  packages/clibox/test/distribution.test.mjs
  packages/clibox/test/github-release.test.mjs
  packages/clibox/turbo.json
  packaging/linux/AGENTS.md
  scripts/ci/clibox-release.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/linux-packages.test.mjs
  scripts/release/linux-packages.test.mjs
  scripts/release/linux-packages/build-rust.sh
  scripts/release/linux-packages/install-test.sh
  scripts/release/linux-packages/model.mjs
  scripts/release/linux-packages/package.mjs
Due: none

fix(ach): cancel worktree discovery with source RPC requests
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/api_discovery_test.go
  cmds/async-commit-hook/internal/core/registry_test.go
  docs/cmds-async-commit-hook-contract.md
  docs/protos-async-commit-hook-v1-contract.md
Due: go-fmt

fix(clibox): strictly resolve YAML directives and Core tags
  crates/clibox/src/yaml.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

test(runlens): separate source compatibility from native equivalence
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

docs(taskflow): record refreshed graph and cancellation repair validation
  docs/crates-taskflow-conformance.md
Due: none

fix(clibox): retain native trust initialization across retries
  crates/AGENTS.md
  crates/clibox/src/probe.rs
  crates/clibox/src/probe_tests.rs
  crates/clibox/src/wait_command.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): allow every resolved TCP address to connect
  crates/AGENTS.md
  crates/clibox/src/probe.rs
  crates/clibox/src/probe_tests.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): negotiate HTTP/2 for HTTPS readiness checks
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/probe.rs
  crates/clibox/src/probe_tests.rs
  docs/crates-clibox-foundation.md
  docs/project-clibox.md
  packages/clibox/README.md
Due: cargo-fmt

docs(ach): record review fixes and final validation evidence
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(clibox): inspect output permissions without reading contents
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/publication.rs
  crates/clibox/tests/utilities.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
Due: cargo-fmt

fix(clibox): close Windows staging handle before replacement
  crates/AGENTS.md
  crates/clibox/src/publication.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

ci: skip Linux package validation on pull requests
  AGENTS.md
  docs/repository-linux-packages-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
