Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): address Deck review feedback
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: go-fmt

fix(devhud): address RealQA review feedback
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): close diagnostics cleanup gaps
  apps/devhud/scripts/diagnostics-policy.test.mjs
  apps/devhud/src-tauri/src/native_plugin.rs
  apps/devhud/src/diagnostics-ui.tsx
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
Due: cargo-fmt

fix(devhud-api): bound diagnostic decoding
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: none

fix(devhud): address native messaging review
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/origin-permission.test.ts
  apps/devhud-chrome-extension/src/origin-permission.ts
  apps/devhud-chrome-extension/src/popup.test.ts
  apps/devhud-chrome-extension/src/popup.ts
  apps/devhud-chrome-extension/src/protocol.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  apps/devhud/src-tauri/src/native_messaging.rs
Due: cargo-fmt

fix(devhud): harden diagnostics normalization
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: none

fix(devhud): harden RealQA capture state
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
Due: cargo-fmt

test(devhud): serialize component files
  apps/devhud/package.json
Due: none

fix(devhud): harden browser context forwarding
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud-chrome-extension/src/protocol.test.ts
  apps/devhud-chrome-extension/src/protocol.ts
  docs/apps-devhud-chrome-extension-contract.md
Due: none

fix(devhud-api): align credential assignment validation
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: none

fix(devhud-admin): refresh embedded assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.443d659a.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.ce042fab.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.ce042fab.js.LICENSE.txt
Due: none

test(devhud): allow bounded retention workload
  apps/devhud/src/diagnostics.test.ts
Due: none

fix(devhud): reject relative diagnostic credentials
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: none

fix(devhud): make RealQA logout authoritative
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/capture.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
Due: cargo-fmt

fix(devhud-admin): refresh embedded assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.871bf5fb.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.871bf5fb.js.LICENSE.txt
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.ce042fab.js
Due: none

fix(devhud): reject non-web diagnostic URIs
  apps/devhud/src/diagnostics.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): address native messaging review
  apps/devhud-chrome-extension/scripts/build.mjs
  apps/devhud-chrome-extension/scripts/deterministic-build.test.mjs
  apps/devhud-chrome-extension/src/service-worker.test.ts
  apps/devhud-chrome-extension/src/service-worker.ts
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  docs/apps-devhud-chrome-extension-contract.md
  docs/apps-devhud-foundation.md
  docs/crates-devhud-native-messaging-host-contract.md
  docs/project-devhud.md
Due: cargo-fmt

test(devhud): await deletion cleanup
  apps/devhud/src/identity-settings.e2e.test.tsx
Due: none

fix(devhud): harden RealQA draft previews
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

test(devhud): normalize mobile policy line endings
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
Due: none

fix(devhud): close logout diagnostics race
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/packages-devhud-api-client-contract.md
  docs/project-devhud.md
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: none

fix(devhud-admin): refresh embedded assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.09930fe2.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.09930fe2.js.LICENSE.txt
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.871bf5fb.js
Due: none

fix(devhud): preserve valid native messaging context
  apps/devhud-chrome-extension/src/capture.test.ts
  apps/devhud-chrome-extension/src/capture.ts
  apps/devhud/src-tauri/src/native_messaging.rs
Due: cargo-fmt

fix(devhud): bound diagnostics cleanup and export
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/service-boundary.tsx
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud-api): renew expired crash correlations
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
Due: go-fmt

fix(devhud): bound client diagnostic scanning
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: none

fix(devhud): release completed logout cleanup
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
Due: none

fix(devhud-admin): refresh embedded assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.09930fe2.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.5d674a43.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.5d674a43.js.LICENSE.txt
Due: none

fix(devhud): suppress irreversible cleanup diagnostics
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): truncate pending Android exports
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
Due: none

fix(devhud): align diagnostic credential validation
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: none

fix(devhud-admin): refresh embedded assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.155998a2.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.155998a2.js.LICENSE.txt
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.5d674a43.js
Due: none

fix(devhud): address diagnostics review feedback
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
Due: cargo-fmt

fix(devhud): invalidate stale diagnostics state
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/diagnostics-ui.tsx
  apps/devhud/src/diagnostics.test.ts
Due: cargo-fmt

fix(devhud): refresh embedded admin assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.155998a2.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.b8f8a186.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.b8f8a186.js.LICENSE.txt
Due: none

fix(devhud): validate diagnostic URL authorities
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): refresh embedded admin assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.b8a72dc4.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.b8a72dc4.js.LICENSE.txt
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.b8f8a186.js
Due: none

fix(devhud): reject R2 access key diagnostics
  apps/devhud/src/diagnostics.test.ts
  apps/devhud/src/diagnostics.ts
  packages/devhud-api-client/src/validation.ts
  packages/devhud-api-client/tests/validation.test.ts
  servers/devhud-api/internal/rpc/diagnostics.go
  servers/devhud-api/internal/rpc/diagnostics_test.go
Due: go-fmt

fix(devhud): refresh embedded admin assets
  servers/devhud-api/internal/adminassets/dist/index.html
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.9dc527a0.js
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.9dc527a0.js.LICENSE.txt
  servers/devhud-api/internal/adminassets/dist/static/js/assets/index.b8a72dc4.js
Due: none

docs(devhud): document settings schema v4 migration
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none
