Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delidev): add durable transactional state and private data ownership
  cmds/delidev-cli/internal/domain/error.go
  cmds/delidev-cli/internal/domain/identity.go
  cmds/delidev-cli/internal/domain/identity_test.go
  cmds/delidev-cli/internal/security/files.go
  cmds/delidev-cli/internal/security/files_test.go
  cmds/delidev-cli/internal/security/files_unix.go
  cmds/delidev-cli/internal/security/files_windows.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/store_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

fix(clibox): preserve initial idle timeout baseline
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(clibox): retain foreground interrupt relay through grace
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(fspy): keep test parent selection lint-clean
  crates/fspy/src/lib.rs
Due: cargo-fmt

test(clibox): exercise Unix launcher behavior explicitly
  packages/clibox/test/launcher.test.mjs
Due: none

fix(fspy): scope descriptor lifetime guard to Linux
  crates/fspy_preload_unix/src/interceptions/spawn/exec/mod.rs
Due: cargo-fmt

feat(delidev): expose authenticated Connect configuration and CLI lifecycle
  buf.gen.yaml
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/cli_test.go
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/cli/start_unix.go
  cmds/delidev-cli/internal/cli/start_windows.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/identity.go
  cmds/delidev-cli/internal/domain/identity_test.go
  cmds/delidev-cli/internal/domain/routing.go
  cmds/delidev-cli/internal/domain/routing_test.go
  cmds/delidev-cli/internal/rpc/common.go
  cmds/delidev-cli/internal/security/identity.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/server_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/main.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(clibox): reclaim terminal relay before cleanup
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(clibox): close launcher acknowledgement before delegation
  crates/clibox-system/src/lib.rs
  crates/clibox-system/src/run.rs
  crates/clibox-system/src/runtime.rs
Due: cargo-fmt

fix(clibox): bound suspended Windows child recovery
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(forge): release document locks before inherited descriptors close
  crates/AGENTS.md
  crates/delino-forge/src/store.rs
  crates/delino-forge/tests/runtime.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

test(clibox): tolerate scheduler delay during cleanup output
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(pnport): classify inherited managed descriptors
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

feat(delidev): prepare isolated multi-repository worker workspaces
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/security/files.go
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/prepare_test.go
  docs/README.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(pnport): classify proc root aliases through managed backing
  crates/AGENTS.md
  crates/pnport-core/src/view.rs
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(delidev): canonicalize worker ownership before worktree rollback
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/prepare_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

fix(forge): respect native chart cache indices
  crates/forge-pptx/src/import.rs
  crates/forge-pptx/tests/interop.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

fix(pnport): clean read-only cache stages on cancellation
  crates/AGENTS.md
  crates/pnport-core/src/cache.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(forge): identify metadata without claiming unrelated custom XML
  crates/AGENTS.md
  crates/forge-pptx/src/import.rs
  crates/forge-pptx/src/lib.rs
  crates/forge-pptx/tests/interop.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

fix(pnport): replace active arm64 syscall when denying it
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): preserve native Linux pathname spelling
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(forge): recover interrupted source export fingerprint commits
  crates/AGENTS.md
  crates/delino-forge/src/store.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

fix(forge): preserve unrepresentable native table row heights
  crates/delino-forge/README.md
  crates/forge-pptx/src/import.rs
  crates/forge-pptx/tests/interop.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

fix(clibox): rename redundant test feature
  crates/clibox-system/Cargo.toml
  crates/clibox-system/src/run.rs
  crates/clibox/Cargo.toml
Due: cargo-fmt

fix(forge): reject ignored slide root geometry
  crates/delino-forge/README.md
  crates/forge-tree-doc/src/validate.rs
  crates/forge-tree-doc/tests/core.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

fix(forge): enforce a shared inspection node budget
  crates/delino-forge/src/store.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

fix(pnport): require owner for private Linux helpers
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

perf(forge): emit existing chart geometry without cloning packages
  crates/forge-pptx/src/emit.rs
  crates/forge-pptx/src/update.rs
  crates/forge-pptx/tests/interop.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

fix(ci): select Forge jobs when the root Rust toolchain changes
  docs/repository-workflow-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

fix(pnport): propagate foreground child stops
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

feat(delidev): pair scoped devices and dispatch durable worker jobs
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/identity.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/server/workers_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/workers.go
  cmds/delidev-cli/internal/store/workers_test.go
  docs/cmds-delidev-evidence.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

test(delidev): create private database before migration fixtures
  cmds/delidev-cli/internal/store/workers_test.go
Due: go-fmt

feat(delidev): run paired workers with durable local execution journals
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/devices.go
  cmds/delidev-cli/internal/cli/devices_test.go
  cmds/delidev-cli/internal/rpc/transport.go
  cmds/delidev-cli/internal/worker/pair.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/run_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

fix(pnport): rewrite virtual native package paths
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): wait for clone registration before child resume
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

feat(delidev): atomically save repositories after worker revalidation
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/devices.go
  cmds/delidev-cli/internal/cli/devices_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/repositories.go
  cmds/delidev-cli/internal/server/repositories_test.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/server/workers_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

fix(delidev): reconcile accepted jobs when worker authorization is revoked
  cmds/delidev-cli/internal/security/files.go
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/server/workers_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/workers.go
  docs/cmds-delidev-evidence.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(pnport): satisfy Linux Clippy pathname check
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(forge): preserve transforms with lexical true flips
  crates/forge-pptx/src/import.rs
  crates/forge-pptx/tests/interop.rs
  docs/crates-forge-foundation.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
