Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delidev): decorate Agent choices with saved harness marks
  apps/delidev/scripts/test-agent-worker-row-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-row-layout.fixture.tsx
  apps/delidev/src/agent-worker-row.tsx
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/harness-mark.css
  apps/delidev/src/harness-mark.tsx
  apps/delidev/src/resource-choice.test.tsx
  apps/delidev/src/scroll-picker.css
  apps/delidev/src/scroll-picker.tsx
  apps/delidev/src/worker-harness-picker.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): refuse changed managed Fork tool prefixes
  cmds/delidev-cli/internal/worker/session_fork_managed_test.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

fix(delidev): preserve key-based OpenCode Go Fork admission
  cmds/delidev-cli/internal/server/session_forks.go
Due: go-fmt

feat(delidev): fork managed ChatGPT sessions with settled tools
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/session_fork.go
  cmds/delidev-cli/internal/domain/sidechat.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/continuation.go
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/managed_fork_test.go
  cmds/delidev-cli/internal/harness/codex/skill_fork.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/managed_sidechat_test.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_fork_subscription_test.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_managed_test.go
  docs/cmds-delidev-forks-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/cmds-delidev-subscription-contract.md
  docs/project-delidev.md
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/allocations.json
  protos/delidev/v1/system.proto
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/system.pb.go
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

test(delidev): retain Sidechat retry outcomes and fence changed owners
  cmds/delidev-cli/internal/server/sidechat_retry.go
  cmds/delidev-cli/internal/server/sidechat_retry_test.go
Due: go-fmt

fix(ci): allow bounded cold DeliDev fixture builds
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/prepare-delidev-test-binary.mjs
Due: none

fix(delidev): chain session usage table vertical scrolling
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-usage-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/usage.css
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

feat(delidev): publish native Claude web search and fetch evidence
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/native-claude-message.json
  apps/delidev/src/locales/ko/native-claude-message.json
  apps/delidev/src/native-claude-message.tsx
  apps/delidev/src/native-claude-web.test.tsx
  apps/delidev/src/native-claude-web.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_content.go
  cmds/delidev-cli/internal/domain/claude_web.go
  cmds/delidev-cli/internal/domain/claude_web_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_claude_content.go
  cmds/delidev-cli/internal/server/execution_claude_tools.go
  cmds/delidev-cli/internal/server/execution_claude_web_test.go
  cmds/delidev-cli/internal/store/claude_web.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/claude_content.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_web.go
  cmds/delidev-cli/internal/worker/claude_web_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
Due: go-fmt

test(delidev): retain denied native fetch provenance
  cmds/delidev-cli/internal/server/execution_claude_web_test.go
  cmds/delidev-cli/internal/worker/claude_web_test.go
Due: go-fmt

fix(delidev): bound Sidechat retry help to the conversation pane
  apps/delidev/src/sidechat-retry.css
Due: none

fix(delidev): preserve ordinary Sidechat turns and legacy deletion guidance
  apps/delidev/src/sidechat-retry.test.tsx
  apps/delidev/src/sidechat-retry.tsx
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/sidechat_retry.go
  cmds/delidev-cli/internal/server/sidechat_retry.go
  cmds/delidev-cli/internal/store/session_forks.go
Due: go-fmt

Publish original Codex image-view observations without file authority
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/native-image-view.test.tsx
  apps/delidev/src/native-image-view.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/tool-turn-projection.ts
  apps/delidev/src/tool-turn-transcript.test.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_tools.go
  cmds/delidev-cli/internal/domain/image_view.go
  cmds/delidev-cli/internal/domain/image_view_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/image_view_test.go
  cmds/delidev-cli/internal/harness/codex/tools.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_image_view_test.go
  cmds/delidev-cli/internal/server/execution_tools.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/codex_image_view_test.go
  cmds/delidev-cli/internal/worker/codex_tools.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/image_view.go
  cmds/delidev-cli/internal/workspace/image_view_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-image-input-contract.md
  docs/cmds-delidev-sessions-contract.md
Due: go-fmt

test(delidev): verify managed retry Fork protection on the retained child
  cmds/delidev-cli/internal/server/sidechat_retry_test.go
Due: go-fmt

fix(delidev): retain sanitized configuration export diagnostics
  apps/delidev/src/configuration-transfer.test.tsx
  apps/delidev/src/configuration-transfer.tsx
Due: none

fix(delidev): dispose revoked connection notification authority
  apps/delidev/src-tauri/src/notification_host.rs
  apps/delidev/src/notification-settings-layout.fixture.tsx
  apps/delidev/src/notification-settings.test.tsx
Due: cargo-fmt

fix(delidev): keep connection notification choices independent
  apps/delidev/src-tauri/src/notification_connection.rs
  apps/delidev/src-tauri/src/notification_host.rs
  docs/cmds-delidev-inbox-contract.md
Due: cargo-fmt

fix(delidev): satisfy notification host clippy checks
  apps/delidev/src-tauri/src/notification_host.rs
Due: cargo-fmt

test(delidev): verify raw notification transport classification
  cmds/delidev-cli/internal/cli/notification_connection_test.go
Due: go-fmt

fix(delidev): preserve exact notification configuration retries
  AGENTS.md
  apps/delidev/src/notification-settings.test.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  cmds/delidev-cli/internal/cli/notifications.go
  cmds/delidev-cli/internal/cli/notifications_test.go
  cmds/delidev-cli/internal/domain/routing.go
  cmds/delidev-cli/internal/domain/routing_test.go
  cmds/delidev-cli/internal/server/notifications.go
  cmds/delidev-cli/internal/store/notification_situations.go
  docs/cmds-delidev-inbox-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/inbox_pb.ts
  protos/delidev/allocations.json
  protos/delidev/v1/inbox.proto
  protos/gen/go/delidev/v1/inbox.pb.go
Due: go-fmt

test(delidev): compile native disposal authority assertion
  apps/delidev/src-tauri/src/notification_host.rs
Due: cargo-fmt

fix(delidev-mobile): retain shared defaults and granular preferences
  apps/delidev-mobile/AGENTS.md
  apps/delidev-mobile/scripts/layout.mjs
  apps/delidev-mobile/src/app.tsx
  apps/delidev-mobile/src/https.integration.test.ts
  apps/delidev-mobile/src/layout.fixture.tsx
  apps/delidev-mobile/src/localization.ts
  apps/delidev-mobile/src/settings-compatibility.test.tsx
  docs/apps-delidev-mobile-contract.md
Due: none

fix(delidev): show unavailable skills in composers
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-creation-skill-layout.mjs
  apps/delidev/src/general-chat-layout.fixture.css
  apps/delidev/src/general-chat-layout.fixture.tsx
  apps/delidev/src/locales/en/skills.json
  apps/delidev/src/locales/ko/skills.json
  apps/delidev/src/new-session.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): add rolling Usage range presets
  apps/delidev/scripts/test-usage-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/usage.json
  apps/delidev/src/locales/ko/usage.json
  apps/delidev/src/usage-filters.test.tsx
  apps/delidev/src/usage-filters.ts
  apps/delidev/src/usage.css
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-usage-contract.md
Due: none

test(delidev): retain reviewer context proof in Revert layer
  cmds/delidev-cli/internal/apiproxy/reviewer_scope_test.go
Due: go-fmt

test(delidev): retain closed terminals in refresh geometry fixture
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-terminal-history-layout.mjs
  apps/delidev/src/terminal-history.fixture.tsx
Due: none

fix(delidev): keep terminal history refresh geometry stable
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-terminal-history-layout.mjs
  apps/delidev/src/session-terminal-history.test.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/terminal-history.fixture.css
  apps/delidev/src/terminal-history.fixture.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): keep rejected images out of waiting count
  apps/delidev/src/session.tsx
Due: none

fix(delidev): prove image rejection before native input
  AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/execution-startup.test.tsx
  apps/delidev/src/execution-startup.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session.tsx
  apps/delidev/src/startup-rejection.test.tsx
  apps/delidev/src/startup-rejection.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/direct_startup.go
  cmds/delidev-cli/internal/domain/direct_startup_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/image_input.go
  cmds/delidev-cli/internal/harness/codex/image_input_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/rpc/execution_startup.go
  cmds/delidev-cli/internal/rpc/execution_startup_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/direct_startup.go
  cmds/delidev-cli/internal/server/direct_startup_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/direct_startup.go
  cmds/delidev-cli/internal/worker/direct_startup_test.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/image_startup_rejection.go
  docs/cmds-delidev-execution-startup-contract.md
  docs/cmds-delidev-image-input-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

fix(delidev): explain conditional Claude execution eligibility
  apps/delidev/src/agent-permissions.test.tsx
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
Due: none

fix(delidev): keep sidebar activity hook order stable
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/scroll-continuation.tsx
Due: none

feat(delidev): add persistent collapsible sidebar
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-sidebar-collapse-layout.mjs
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/sidebar-preference.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/shortcut_preferences.rs
  apps/delidev/src-tauri/src/sidebar_preference.rs
  apps/delidev/src-tauri/src/sidebar_preference_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/sidebar-preference.json
  apps/delidev/src/locales/ko/sidebar-preference.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/main.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/scroll-continuation.tsx
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcuts.ts
  apps/delidev/src/sidebar-context.tsx
  apps/delidev/src/sidebar-preference.test.tsx
  apps/delidev/src/sidebar-preference.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: cargo-fmt

test(delidev): isolate tray activation from device preference events
  apps/delidev/src/tray-presentation.test.tsx
Due: none

test(delidev): verify sidebar scroll across hidden navigation
  apps/delidev/scripts/test-sidebar-collapse-layout.mjs
Due: none

fix(delidev): preserve acknowledged startup failure guidance
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-startup-guidance.test.tsx
  apps/delidev/src/execution-startup.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/server/direct_startup.go
  cmds/delidev-cli/internal/server/direct_startup_guidance_test.go
  docs/cmds-delidev-execution-startup-contract.md
Due: go-fmt

test(delidev): admit independent sidebar preference inspection
  apps/delidev/src/desktop.test.tsx
Due: none

test(delidev): verify retained sidebar portal drafts in browser
  apps/delidev/scripts/test-sidebar-collapse-layout.mjs
Due: none
