Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

test(delidev): follow portable bundle version
  cmds/delidev-cli/internal/server/subscription_identity_test.go
Due: go-fmt

fix(runmoor): preserve service definitions with no-replace publication (#1507)
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_darwin.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_linux.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_other.go
  cmds/runmoor/internal/runmoor/service_reload_publication.go
  cmds/runmoor/internal/runmoor/service_reload_publication_test.go
  cmds/runmoor/internal/runmoor/service_reload_rename_darwin.go
  cmds/runmoor/internal/runmoor/service_reload_rename_linux.go
  cmds/runmoor/internal/runmoor/service_reload_rename_other.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

test(delidev): wait for task focus before browser input
  apps/delidev/scripts/qa/test-browser.mjs
Due: none

test(delidev): match current repository fixture controls
  apps/delidev/scripts/test-settings-layout.mjs
Due: none

refactor(delidev): require current provider availability and protocols
  apps/delidev/AGENTS.md
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/config_test.go
  cmds/delidev-cli/internal/providers/client.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/store/catalog.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/provider_inventory.go
  docs/apps-delidev-desktop-contract.md
Due: go-fmt

test(delidev): keep Claude native fixture cwd short
  cmds/delidev-cli/internal/worker/claude_subscriptions_test.go
Due: go-fmt

feat(delidev): add screen shortcuts and contextual help (#1626)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/new-session.tsx
  apps/delidev/src/request-diagnostics.tsx
  apps/delidev/src/session-diff.tsx
  apps/delidev/src/session-files.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/shortcut-provider.test.tsx
  apps/delidev/src/shortcut-provider.tsx
  apps/delidev/src/shortcuts.css
  apps/delidev/src/shortcuts.test.ts
  apps/delidev/src/shortcuts.ts
  apps/delidev/src/sidebar-context.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/surface.ts
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): compare the active portable configuration version
  cmds/delidev-cli/internal/server/subscription_identity_test.go
Due: go-fmt

fix(delidev): keep automatic Worker admission on paired transport
  apps/delidev/src-tauri/src/desktop_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/local_worker.rs
  apps/delidev/src-tauri/src/worker_supervision.rs
Due: cargo-fmt

refactor(delidev): reject retired subscription connection views
  apps/delidev/src/account-connection.test.tsx
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/locales/en/account-connection.json
  apps/delidev/src/locales/en/integrations.json
  apps/delidev/src/locales/ko/account-connection.json
  apps/delidev/src/locales/ko/integrations.json
Due: none

fix(delidev): keep supervised launch on short CLI transport
  apps/delidev/src-tauri/src/lib.rs
Due: cargo-fmt

fix(delidev): disconnect API accounts before deleting entries (#1647)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-deletion.css
  apps/delidev/src/api-account-deletion.test.tsx
  apps/delidev/src/api-account-deletion.tsx
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/configuration-browser-cleanup.test.tsx
  apps/delidev/src/locales/en/account-deletion.json
  apps/delidev/src/locales/ko/account-deletion.json
  apps/delidev/src/settings-api-deletion.integration.test.tsx
  apps/delidev/src/settings-subscriptions.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/configuration_delete_logging_test.go
  cmds/delidev-cli/internal/server/resources.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
Due: go-fmt

docs(delidev): reserve inline models and endpoint completion (#1642)
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/migration-reservations.json
  cmds/delidev-cli/internal/worker/AGENTS.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-native-models-contract.md
  docs/cmds-delidev-providers-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/cmds-delidev-subagents-contract.md
  docs/cmds-delidev-usage-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  protos/AGENTS.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

feat(delidev): validate the private Grok OIDC execution profile
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/closure.go
  cmds/delidev-cli/internal/harness/grok/history_text.go
  cmds/delidev-cli/internal/harness/grok/initialize.go
  cmds/delidev-cli/internal/harness/grok/input.go
  cmds/delidev-cli/internal/harness/grok/managed_notifications.go
  cmds/delidev-cli/internal/harness/grok/managed_notifications_test.go
  cmds/delidev-cli/internal/harness/grok/managed_open.go
  cmds/delidev-cli/internal/harness/grok/managed_profile.go
  cmds/delidev-cli/internal/harness/grok/managed_profile_test.go
  cmds/delidev-cli/internal/harness/grok/metadata.go
  cmds/delidev-cli/internal/harness/grok/mode.go
  cmds/delidev-cli/internal/harness/grok/session.go
  cmds/delidev-cli/internal/harness/grok/stop.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/subscriptions.go
  cmds/delidev-cli/internal/worker/subscriptions_cleanup_test.go
  docs/cmds-delidev-grok-subscription-contract.md
Due: go-fmt

test(delidev): use explicit Provider availability in connection fixtures
  apps/delidev/src/settings.test.tsx
Due: none

fix(delidev): restore bounded desktop Worker stop reader
  cmds/delidev-cli/internal/cli/desktop_worker.go
Due: go-fmt

fix(delidev): prevent plugin downloads during Codex login (#1621)
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/client_test.go
  cmds/delidev-cli/internal/harness/codex/lifecycle.go
  cmds/delidev-cli/internal/harness/codex/lifecycle_test.go
  cmds/delidev-cli/internal/harness/codex/subscription_test.go
  cmds/delidev-cli/internal/security/files.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_cleanup.go
  cmds/delidev-cli/internal/server/subscription_cleanup_runtime.go
  cmds/delidev-cli/internal/server/subscription_native.go
  cmds/delidev-cli/internal/server/subscription_native_smoke_test.go
  cmds/delidev-cli/internal/server/subscription_native_test.go
  cmds/delidev-cli/internal/server/subscription_server_test.go
  cmds/delidev-cli/internal/subscription/runtime.go
  cmds/delidev-cli/internal/subscription/runtime_test.go
  cmds/delidev-cli/internal/worker/subscriptions.go
  cmds/delidev-cli/internal/worker/subscriptions_unix_test.go
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): reconcile project wizard focus handling
  apps/delidev/src/App.test.tsx
  apps/delidev/src/settings-task.tsx
Due: none

feat(delidev): capture Grok bundles before original native closure
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/closure.go
  cmds/delidev-cli/internal/harness/grok/managed_bundle.go
  cmds/delidev-cli/internal/harness/grok/managed_bundle_test.go
  cmds/delidev-cli/internal/harness/grok/managed_open.go
  cmds/delidev-cli/internal/harness/grok/managed_profile_test.go
  cmds/delidev-cli/internal/harness/grok/owned_managed.go
  docs/cmds-delidev-grok-subscription-contract.md
Due: go-fmt

feat(delidev): bind API accounts to explicit provider formats
  cmds/delidev-cli/internal/cli/catalog.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/configuration_transfer.go
  cmds/delidev-cli/internal/domain/source_routing.go
  cmds/delidev-cli/internal/providers/api_formats.go
  cmds/delidev-cli/internal/providers/api_formats_test.go
  cmds/delidev-cli/internal/providers/client.go
  cmds/delidev-cli/internal/providers/presets.go
  cmds/delidev-cli/internal/rpc/common.go
  cmds/delidev-cli/internal/server/account_api_formats_test.go
  cmds/delidev-cli/internal/server/account_inspection.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/catalog_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_titles.go
  cmds/delidev-cli/internal/server/title_execution_authority.go
  cmds/delidev-cli/internal/store/provider_defaults.go
  cmds/delidev-cli/internal/store/provider_inventory.go
  cmds/delidev-cli/internal/store/source_routing.go
  cmds/delidev-cli/internal/store/store.go
  packages/delidev-api-client/src/api-formats.ts
  packages/delidev-api-client/src/configuration-identity.ts
  packages/delidev-api-client/src/gen/delidev/v1/common_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/provider_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/resource_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/delidev/v1/common.proto
  protos/delidev/v1/provider.proto
  protos/delidev/v1/resource.proto
  protos/gen/go/delidev/v1/common.pb.go
  protos/gen/go/delidev/v1/provider.pb.go
  protos/gen/go/delidev/v1/resource.pb.go
Due: go-fmt

ci(go): run PR tests on Ubuntu only
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/native-matrices.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/result.mjs
Due: none

test(delidev): preserve rejected Grok native renewal evidence
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/native_refresh_test.go
  docs/cmds-delidev-grok-subscription-contract.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

test(delidev): reject proactive-only Grok refresh controls
  cmds/delidev-cli/internal/harness/grok/native_refresh_test.go
Due: go-fmt

fix(delidev): claim final storage roots before unlink (#1515)
  cmds/delidev-cli/internal/server/subscription_identity_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletion_storage_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/delete_storage.go
  cmds/delidev-cli/internal/workspace/final_root_remove_darwin.go
  cmds/delidev-cli/internal/workspace/final_root_remove_darwin_test.go
  cmds/delidev-cli/internal/workspace/final_root_remove_linux.go
  cmds/delidev-cli/internal/workspace/final_root_remove_other_unix.go
  cmds/delidev-cli/internal/workspace/final_root_remove_unix.go
  cmds/delidev-cli/internal/workspace/final_root_remove_windows.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/snapshot_claim_remove.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root_test.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root_unix_test.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

feat(delidev): select and display API key formats in Settings
  apps/delidev/AGENTS.md
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-preferences.ts
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/api-entry-row.tsx
  apps/delidev/src/api-format-fields.test.tsx
  apps/delidev/src/api-format-fields.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/locales/en/account-connection.json
  apps/delidev/src/locales/en/account-settings.json
  apps/delidev/src/locales/en/agent-worker-wizard.json
  apps/delidev/src/locales/en/api-entry-row.json
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/account-connection.json
  apps/delidev/src/locales/ko/account-settings.json
  apps/delidev/src/locales/ko/agent-worker-wizard.json
  apps/delidev/src/locales/ko/api-entry-row.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings-task.css
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/worker-source.tsx
  packages/delidev-api-client/src/api-formats.test.ts
  packages/delidev-api-client/src/configuration-identity.ts
Due: none

ci(go): run pull request tests on Ubuntu only (#1650)
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/native-matrices.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/result.mjs
Due: none

test(delidev): update optional diagnostics integration flow
  apps/delidev/src/settings-workspace.integration.test.tsx
Due: none

fix(delidev): preserve Keychain access across macOS development rebuilds (#1628)
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/development-signing.mjs
  apps/delidev/scripts/development-signing.test.mjs
  apps/delidev/scripts/run-desktop.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/locales/en/account-oauth.json
  apps/delidev/src/locales/ko/account-oauth.json
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/credentials/native_darwin.go
  cmds/delidev-cli/internal/credentials/native_darwin_process_test.go
  cmds/delidev-cli/internal/credentials/runtime.go
  cmds/delidev-cli/internal/credentials/runtime_other.go
  cmds/delidev-cli/internal/credentials/vault.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_device.go
  cmds/delidev-cli/internal/server/account_oauth_device_test.go
  cmds/delidev-cli/internal/server/account_oauth_test.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/server.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-credentials-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): add project creation wizard and repository names (#1615)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/project-creation.json
  apps/delidev/src/locales/ko/project-creation.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/project-creation.css
  apps/delidev/src/project-creation.test.tsx
  apps/delidev/src/project-creation.tsx
  apps/delidev/src/project-repositories.ts
  apps/delidev/src/remote-repository.integration.test.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-projects.test.tsx
  apps/delidev/src/settings-task.test.tsx
  apps/delidev/src/settings-task.tsx
  apps/delidev/src/settings-workspace.integration.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): style the Grok device login as a secondary action
  apps/delidev/src/styles.css
Due: none

fix(delidev): collapse shutdown input guard
  apps/delidev/src-tauri/src/desktop_host.rs
Due: cargo-fmt

fix(delidev): box resident command control
  apps/delidev/src-tauri/src/desktop_host.rs
Due: cargo-fmt

fix(delidev): remove unused desktop test helpers
  apps/delidev/src-tauri/src/tests.rs
Due: cargo-fmt

test(delidev): create private runtime fixture roots
  cmds/delidev-cli/internal/desktopruntime/auth_test.go
  cmds/delidev-cli/internal/desktopruntime/runtime_test.go
Due: go-fmt

fix(delidev): use inspect-only runtime error reporting
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

fix(delidev): remove redundant locale iterator conversion
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

fix(delidev): preserve credential cleanup and portable format references
  AGENTS.md
  apps/delidev/src/account-preferences.test.tsx
  apps/delidev/src/api-format-fields.test.tsx
  apps/delidev/src/api-format-fields.tsx
  apps/delidev/src/settings-configuration.integration.test.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/api_formats.go
  cmds/delidev-cli/internal/server/account_api_formats_test.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  cmds/delidev-cli/internal/server/resources.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-providers-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  protos/delidev/AGENTS.md
Due: go-fmt

fix(delidev): preserve legacy native source assignments
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/legacy_source_test.go
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_compaction_authority.go
  cmds/delidev-cli/internal/server/session_compaction_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/subscriptions.go
  docs/cmds-delidev-execution-startup-contract.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
