Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): support separate Windows OpenCode global roots (#1223)
  cmds/delidev-cli/internal/harness/opencode/api_profile.go
  cmds/delidev-cli/internal/harness/opencode/api_runtime.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_resume.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_resume_native_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_roots.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_roots_test.go
  cmds/delidev-cli/internal/harness/opencode/instructions.go
  cmds/delidev-cli/internal/harness/opencode/native_api_test.go
  cmds/delidev-cli/internal/harness/opencode/observer.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_reconcile.go
  cmds/delidev-cli/internal/harness/opencode/testdata/checkpoint-v1-unix.json
  cmds/delidev-cli/internal/harness/opencode/testdata/checkpoint-v1-windows.json
  cmds/delidev-cli/internal/harness/opencode/workspace_root.go
  cmds/delidev-cli/internal/harness/opencode/workspace_root_test.go
  cmds/delidev-cli/internal/harness/opencode/workspace_root_windows_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_opencode_native_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
  cmds/delidev-cli/internal/server/session_opencode_native_windows_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/opencode_execution.go
  cmds/delidev-cli/internal/worker/opencode_execution_test.go
  cmds/delidev-cli/internal/worker/opencode_inspection.go
  cmds/delidev-cli/internal/worker/opencode_native_test.go
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1205/initial-main-reconciliation.md
  docs/evidence/delidev/issue-1205/windows-root-validation.md
Due: go-fmt

fix(delidev): reconcile original OpenCode event streams (#1229)
  cmds/delidev-cli/internal/harness/opencode/api.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation_native_test.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation_test.go
  cmds/delidev-cli/internal/harness/opencode/events.go
  cmds/delidev-cli/internal/harness/opencode/frozen_observation.go
  cmds/delidev-cli/internal/harness/opencode/interaction_replies.go
  cmds/delidev-cli/internal/harness/opencode/observer.go
  cmds/delidev-cli/internal/harness/opencode/owned_api.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_http.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/opencode_events.go
  cmds/delidev-cli/internal/worker/opencode_text.go
  cmds/delidev-cli/internal/worker/opencode_usage.go
  docs/cmds-delidev-harness-contract.md
  docs/evidence/delidev/issue-1204/aggregate-read-budget.md
  docs/evidence/delidev/issue-1204/event-reconciliation.md
Due: go-fmt

fix(delidev): retain harness sandbox and native ownership for local Git
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/workspace/pr_git_local.go
  cmds/delidev-cli/internal/workspace/pr_git_local_unix_test.go
  docs/cmds-delidev-workspace-contract.md
  docs/evidence/delidev/issue-1081/replacement-validation.md
Due: go-fmt

docs(delidev): verify original local Git launcher containment
  docs/evidence/delidev/issue-1081/local-launcher-containment-2026-09-30.md
Due: none

test(delidev): prove eligible forwarding authority before exclusion
  cmds/delidev-cli/internal/server/workspace_storage_forward_test.go
Due: go-fmt

fix(delidev): remove unused runtime after fork inspection rejection
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_inspection_test.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-review-unused-runtime.md
Due: go-fmt

docs(delidev): record current-main workspace storage validation
  docs/evidence/delidev/issue-1079/current-main-workspace-storage.md
Due: none

docs(delidev): record native compaction and earlier suite results
  docs/evidence/delidev/issue-1093/earlier-aggregate-race-result.md
  docs/evidence/delidev/issue-1093/native-replacement-validation.md
Due: none

fix(delidev): enforce service admission for advanced native Start
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/tests.rs
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-user-services-contract.md
  docs/evidence/delidev/issue-1137/review-service-aware-start-2026-09-30.md
Due: cargo-fmt

fix(delidev): retain output loss after failed terminal creation
  cmds/delidev-cli/internal/worker/terminals.go
  cmds/delidev-cli/internal/worker/terminals_unix_test.go
Due: go-fmt

docs(delidev): retain merge as the remediation default
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): reserve restore UUIDs across deletion receipts
  cmds/delidev-cli/internal/store/backup_restore_receipts_test.go
  cmds/delidev-cli/internal/store/backup_restores.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/store.go
  docs/evidence/delidev/issue-1080/review-request-reservations.md
Due: go-fmt

fix(delidev): retain terminal creation across history pages
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
  docs/cmds-delidev-terminals-contract.md
Due: none

fix(delidev): observe compatible live legacy launch readiness
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/cli/start.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/evidence/delidev/issue-1137/review-legacy-observation-2026-09-30.md
Due: go-fmt

docs(delidev): record macOS Grok probe CI investigation
  docs/evidence/delidev/issue-1097/macos-grok-probe-ci-2026-09-30.md
  docs/evidence/delidev/issue-1097/maintenance-main-d1f83cec-2026-09-30.md
Due: none

fix(delidev): preserve terminal follow stream lifetime
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/session_terminals.go
  cmds/delidev-cli/internal/cli/session_terminals_test.go
  docs/cmds-delidev-terminals-contract.md
Due: go-fmt

fix(delidev): refuse Local forks of parent-owned worktrees
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/session_forks_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_local_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-forks-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-review-local-lifetime.md
  docs/project-delidev.md
Due: go-fmt

docs(delidev): record final review repair validation
  docs/evidence/delidev/issue-1137/review-final-validation-2026-09-30.md
Due: none

docs(delidev): record reservation merge validation
  docs/evidence/delidev/issue-1084/main-65eca334-local-validation.md
Due: none

fix(delidev): reject restore of SQL deletion-owned backups
  cmds/delidev-cli/internal/store/backup_restore_deletion_test.go
  cmds/delidev-cli/internal/store/backup_restores.go
  docs/evidence/delidev/issue-1080/review-sql-deletion-ownership.md
Due: go-fmt

fix(delidev): sanitize Worker terminal diagnostics
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/terminals.go
  cmds/delidev-cli/internal/server/terminals_test.go
  cmds/delidev-cli/internal/terminal/protocol.go
  cmds/delidev-cli/internal/terminal/protocol_test.go
  docs/cmds-delidev-terminals-contract.md
Due: go-fmt

docs(delidev): record workflow merge validation and native limits
  docs/evidence/delidev/issue-1105/workflow-merge-validation-2026-09-30.md
Due: none

docs(delidev): record the main CLI review failure baseline
  docs/evidence/delidev/issue-1093/cli-main-baseline.md
Due: none

fix(delidev): reject future Worker observations for fork dispatch
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_fork_dispatch.go
  cmds/delidev-cli/internal/server/session_fork_dispatch_test.go
  docs/cmds-delidev-forks-contract.md
  docs/evidence/delidev/issue-1092/pr-1224-review-future-worker.md
Due: go-fmt

fix(delidev): gate terminal reads on server capability
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
  docs/cmds-delidev-terminals-contract.md
Due: none

fix(delidev): focus the manual PR fix project selector
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/pr-fix.test.tsx
  apps/delidev/src/pr-fix.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve foreign Grok Plan locators in public journals
  cmds/delidev-cli/internal/harness/grok/plan_observer.go
  cmds/delidev-cli/internal/harness/grok/plan_reply_test.go
  cmds/delidev-cli/internal/harness/grok/plan_tools.go
  cmds/delidev-cli/internal/harness/grok/public_tools.go
  cmds/delidev-cli/internal/harness/grok/public_tools_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/worker/AGENTS.md
  docs/cmds-delidev-harness-contract.md
  docs/evidence/delidev/issue-1091/maintenance-foreign-plan-locators-2026-09-30.md
Due: go-fmt

docs(delidev): record review repairs and complete race outcome
  docs/evidence/delidev/issue-1080/full-race-terminal-70b7de3c.md
  docs/evidence/delidev/issue-1080/validation-64eae055.md
Due: none

docs(delidev): record initial PR maintenance reconciliation
  docs/evidence/delidev/issue-1079/pr-1231-main-reconciliation.md
Due: none

fix(delidev): preserve exact terminal output eviction order
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/terminal_output.go
  cmds/delidev-cli/internal/server/terminal_output_test.go
  docs/cmds-delidev-terminals-contract.md
Due: go-fmt

test(delidev): isolate independent Settings draft lifecycle checks
  apps/delidev/src/App.test.tsx
  docs/evidence/delidev/issue-1105/ci-frontend-draft-deadline-2026-09-30.md
Due: none

docs(delidev): align desktop terminal capability contract
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

docs(delidev): preserve accepted terminal selection across pages
  docs/apps-delidev-desktop-contract.md
Due: none

docs(delidev): define terminal report diagnostic boundary
  docs/protos-delidev-v1-contract.md
Due: none

docs(delidev): record complete browser suite results
  docs/evidence/delidev/issue-1087/replacement-full-suite-results.md
Due: none

docs(delidev): record complete heartbeat race results
  docs/evidence/delidev/issue-1094/heartbeat-full-race-2026-09-30-1137.md
Due: none

fix(delidev): validate queued requirement labels against native results
  apps/delidev/src/AGENTS.md
  apps/delidev/src/github-ci-profiles.test.tsx
  apps/delidev/src/github-ci.tsx
  docs/cmds-delidev-integrations-contract.md
  docs/evidence/delidev/issue-1105/queued-native-classification-review-2026-09-30.md
Due: none

docs(delidev): record PR review repairs and validation limits
  docs/evidence/delidev/issue-1081/review-repairs-2026-09-30.md
Due: none

fix(delidev): bind restore receipt reads to the original actor
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/backup_restore_actor_test.go
  cmds/delidev-cli/internal/store/backup_restores.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1080/review-receipt-actor.md
Due: go-fmt

fix(delidev): require restore publication proof for recovery
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/delete_storage.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  cmds/delidev-cli/internal/workspace/snapshot_publication_test.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt
