Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): address shared shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/shell.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): use CEF-supported window callbacks
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): restore first-run and readiness flows
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/shell.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): restore CEF frontend readiness
  .github/workflows/CI.yml
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): address shared shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address shared shell review feedback
  .github/workflows/CI.yml
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src/styles.css
Due: none

fix(devhud): initialize GTK tray on Linux
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): address shared shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/shell.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): restore native CI build
  Cargo.lock
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): address shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): constrain platform shortcuts
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
Due: cargo-fmt

fix(devhud): satisfy GTK initialization clippy lint
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): report tray and opener failures
  apps/devhud/src-tauri/src/main.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address selected shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/shell.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): log external opener spawn failures
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): address selected shell review feedback
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/registry.test.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/shell.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): complete selected shell review fixes
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
Due: cargo-fmt

fix(devhud): tolerate preference storage failures
  apps/devhud/scripts/registry.test.mjs
  apps/devhud/src/shell.ts
Due: none

fix(devhud): address selected shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/registry.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/shell.ts
Due: cargo-fmt

fix(devhud): accept full IPv4 loopback range
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/shell.ts
Due: cargo-fmt

fix(devhud): address API foundation review feedback
  docs/servers-devhud-api-contract.md
  servers/devhud-api/Dockerfile
  servers/devhud-api/internal/domain/domain.go
  servers/devhud-api/internal/postgres/migrations.go
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/server/https.go
  servers/devhud-api/internal/server/server_test.go
  servers/devhud-api/internal/telemetry/telemetry.go
  servers/devhud-api/internal/telemetry/telemetry_test.go
  servers/devhud-api/migrations/00002_restore_retry_window.sql
  servers/devhud-api/migrations/migrations.go
Due: go-fmt

fix(devhud): address shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/src/App.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/shell.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): synchronize native theme preferences
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src/App.tsx
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): harden API review boundaries
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/internal/auth/auth.go
  servers/devhud-api/internal/auth/auth_test.go
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/server/https.go
  servers/devhud-api/internal/server/middleware.go
  servers/devhud-api/internal/server/server.go
  servers/devhud-api/internal/server/server_test.go
Due: go-fmt

fix(devhud): ignore stale onboarding sign-in
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src/App.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): synchronize shell review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/src/App.tsx
  apps/devhud/src/shell.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address API review feedback
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/rpc/services_test.go
  servers/devhud-api/internal/rpc/settings.go
  servers/devhud-api/internal/server/middleware.go
  servers/devhud-api/internal/server/server.go
  servers/devhud-api/internal/server/server_test.go
Due: go-fmt

fix(devhud): dispatch Linux external links safely
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src/App.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): harden API operational boundaries
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/postgres/store_test.go
  servers/devhud-api/internal/server/middleware.go
  servers/devhud-api/internal/server/server_test.go
  servers/devhud-api/internal/sweeper/sweeper.go
  servers/devhud-api/internal/sweeper/sweeper_test.go
Due: go-fmt

fix(devhud): cancel timed-out Linux browser dispatch
  apps/devhud/src-tauri/src/main.rs
Due: cargo-fmt

fix(devhud): address API review feedback
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/cmd/devhud-api-sweeper/main.go
  servers/devhud-api/cmd/devhud-api/main.go
  servers/devhud-api/cmd/devhud-api/main_test.go
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/postgres/store_test.go
  servers/devhud-api/internal/rpc/services_test.go
Due: go-fmt

fix(devhud): bound API shutdown cleanup
  servers/devhud-api/cmd/devhud-api/main.go
  servers/devhud-api/cmd/devhud-api/main_test.go
  servers/devhud-api/internal/postgres/migrations.go
  servers/devhud-api/internal/postgres/store_integration_test.go
Due: go-fmt

docs(devhud): define mobile host foundation
  AGENTS.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): bound database execution paths
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/internal/postgres/migrations.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/server/server.go
  servers/devhud-api/internal/server/server_test.go
Due: go-fmt

docs(devhud): align apps scope with API foundation
  apps/AGENTS.md
Due: none

fix(ci): quote DevHud API skip command
  .github/workflows/CI.yml
Due: none

fix(devhud): preserve container command overrides
  docs/servers-devhud-api-contract.md
  servers/devhud-api/Dockerfile
Due: none

fix(devhud): map completed purge during settings read
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/rpc/auth_interceptor.go
  servers/devhud-api/internal/rpc/common_errors.go
  servers/devhud-api/internal/rpc/services_test.go
  servers/devhud-api/internal/rpc/settings.go
Due: go-fmt

fix(devhud): reject unsupported Connect GET preflights
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/server/cors.go
  servers/devhud-api/internal/server/server_test.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
