Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(runlens): separate historical baseline execution failures
  apps/runlens-docs/docs/reports.md
  crates/AGENTS.md
  crates/runlens/schema/report-v1.json
  crates/runlens/src/clean.rs
  crates/runlens/src/main.rs
  crates/runlens/src/model.rs
  crates/runlens/src/report.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): prevent policy passes with uncovered accesses
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): enforce policy boundaries during preparation
  apps/runlens-docs/docs/verification.md
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): bind Linux identity to distribution and version
  apps/runlens-docs/docs/reports.md
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/src/platform.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): charge final snapshot records before retention
  crates/AGENTS.md
  crates/runlens/src/snapshot.rs
  crates/runlens/tests/core.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): honor Windows case rules in path patterns
  apps/runlens-docs/docs/configuration.md
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/src/config.rs
  crates/runlens/tests/core.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): retain unknown for masked symlink targets
  crates/AGENTS.md
  crates/runlens/src/snapshot.rs
  crates/runlens/tests/core.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): propagate exclusions to descendant accesses
  apps/runlens-docs/docs/configuration.md
  crates/AGENTS.md
  crates/runlens/src/snapshot.rs
  crates/runlens/tests/core.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(taskflow): reject ambiguous Unix backslash path identities
  apps/public-docs/docs/taskflow/configuration.md
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

style(runlens): place platform tests after implementation
  crates/runlens/src/platform.rs
Due: cargo-fmt

fix(ach): confine initial configuration writes to worktree
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/files.go
  cmds/async-commit-hook/internal/core/init_path_test.go
  cmds/async-commit-hook/internal/core/service.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): validate output link chains before publication
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): honor expired wait contexts before terminal results
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/service.go
  cmds/async-commit-hook/internal/core/wait_context_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): share one deadline across shard inventory and execution
  crates/taskflow/AGENTS.md
  crates/taskflow/src/process.rs
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): finalize receipts before remote manifest publication
  crates/taskflow/AGENTS.md
  crates/taskflow/src/remote.rs
  crates/taskflow/src/runner.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): return check counts in bounded run list summaries
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/run-detail.test.tsx
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/api_run_summary_test.go
  docs/apps-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-contract.md
  docs/packages-async-commit-hook-api-client-contract.md
  docs/project-async-commit-hook.md
  docs/protos-async-commit-hook-v1-contract.md
  packages/async-commit-hook-api-client/AGENTS.md
  packages/async-commit-hook-api-client/src/gen/async_commit_hook/v1/ach_pb.ts
  packages/async-commit-hook-api-client/tests/wire.test.ts
  protos/AGENTS.md
  protos/async_commit_hook/v1/ach.proto
  protos/gen/go/async_commit_hook/v1/ach.pb.go
Due: go-fmt

fix(taskflow): honor Go failfast across shard units
  crates/taskflow/AGENTS.md
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): stream regular and symlink input hashes
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): authenticate executable backups before recovery
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/security_test.go
  cmds/async-commit-hook/internal/core/update.go
  cmds/async-commit-hook/internal/core/update_backup_test.go
  docs/cmds-async-commit-hook-release-contract.md
Due: go-fmt

fix(taskflow): retain missing target state for dangling input links
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): include ready service identity in dependent cache keys
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): reuse ordinary prerequisite keys across shard selections
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): choose overlap defaults from each session trigger
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/src/session.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

docs(ach): record fourteenth PR repair verification
  docs/cmds-async-commit-hook-evidence.md
Due: none

style(taskflow): simplify remote publication error guard
  crates/taskflow/src/runner.rs
Due: cargo-fmt

test(taskflow): allow native startup time in shard deadline coverage
  crates/taskflow/tests/conformance.rs
Due: cargo-fmt

fix(taskflow): keep Docker cleanup independent of expired task deadlines
  crates/taskflow/AGENTS.md
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): preserve workspace aliases for absolute input links
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(taskflow): record latest repair and platform validation evidence
  crates/taskflow/AGENTS.md
  docs/crates-taskflow-conformance.md
Due: none

fix(runlens): gate new accesses on comparable baseline evidence
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): match Windows redaction environment keys by case
  crates/AGENTS.md
  crates/runlens/src/privacy.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(taskflow): propagate outputs that contradict unchanged reports
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(async-commit-hook): bind lifecycle owners to credential references
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/lifecycle.go
  cmds/async-commit-hook/internal/core/lifecycle_credentials_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

feat(release): add project-selected bot release workflow
  .github/workflows/auto-publish.yml
  .github/workflows/release-binpm.yml
  .github/workflows/release-cargo-mono.yml
  .github/workflows/release-derun.yml
  .github/workflows/release-nodeup.yml
  .github/workflows/release-project.yml
  .github/workflows/release-with-watch.yml
  AGENTS.md
  cmds/AGENTS.md
  cmds/derun/internal/mcp/server.go
  cmds/derun/internal/mcp/server_contract_test.go
  cmds/derun/internal/version/version.go
  cmds/runmoor/internal/runmoor/config_test.go
  crates/AGENTS.md
  docs/README.md
  docs/cmds-derun-foundation.md
  docs/crates-cargo-mono-foundation.md
  docs/crates-with-watch-foundation.md
  docs/project-binpm.md
  docs/project-cargo-mono.md
  docs/project-derun.md
  docs/project-nodeup.md
  docs/project-runmoor.md
  docs/project-with-watch.md
  docs/repository-workflow-contract.md
  scripts/ci/project-release.test.mjs
  scripts/release/README.md
  scripts/release/project.mjs
  scripts/release/project.test.mjs
  scripts/release/runmoor.test.mjs
  scripts/release/update-homebrew.sh
Due: go-fmt

fix(async-commit-hook): stop polling completed check logs
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/run-detail.test.tsx
  docs/apps-async-commit-hook-contract.md
Due: none

fix(taskflow): validate remote cache configuration before execution
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/src/remote.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(async-commit-hook): reject lossy public environment snapshots
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/environment_encoding_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): honor either initial subscription flag
  crates/taskflow/AGENTS.md
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(async-commit-hook): unblock completion delivery during worker shutdown
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/runner.go
  cmds/async-commit-hook/internal/core/worker_shutdown_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(runlens): normalize Windows root casing before policy checks
  crates/AGENTS.md
  crates/runlens/Cargo.toml
  crates/runlens/src/execute.rs
  crates/runlens/src/privacy.rs
  crates/runlens/src/snapshot.rs
  crates/runlens/tests/core.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
