Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(clibox): retain precision across repeated time fractions
  apps/public-docs/docs/clibox/transformations.md
  crates/AGENTS.md
  crates/clibox-transform/src/time.rs
  crates/clibox/tests/utilities.rs
  docs/crates-clibox-foundation.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

fix(clibox): restore Windows decoder internal visibility
  crates/clibox-fspy/src/windows.rs
  crates/clibox-fspy/src/windows_frame.rs
Due: cargo-fmt

fix(clibox): decode Windows descriptor mutation frames
  crates/AGENTS.md
  crates/clibox-fspy/src/lib.rs
  crates/clibox-fspy/src/windows.rs
  crates/clibox-fspy/src/windows_frame.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): relocate verified executable aliases in reproduction
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): validate captured directory identity before expansion
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(clibox): use snapshot limit in executable alias fixture
  crates/clibox/tests/fspy_repro.rs
Due: cargo-fmt

fix(clibox): preserve Linux nofollow link entries
  crates/AGENTS.md
  crates/clibox-fspy/src/lib.rs
  crates/clibox-fspy/src/linux/paths.rs
  crates/clibox-fspy/src/unix_paths.rs
  crates/clibox-fspy/src/watch.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(delidev): include license notices in release inventory
  docs/apps-delidev-packaging-contract.md
  docs/cmds-delidev-updates-contract.md
  scripts/release/delidev-release.mjs
  scripts/release/delidev-release.test.mjs
Due: none

fix(clibox): scope Linux capture path import to tests
  crates/clibox-fspy/src/linux/capture.rs
Due: cargo-fmt

fix(clibox): reject inaccessible nofollow ancestor paths
  crates/clibox-fspy/src/linux/paths.rs
  crates/clibox-fspy/src/unix_paths.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): verify nofollow reproduction link identities
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): check effective Linux executable access
  crates/AGENTS.md
  crates/clibox-fspy/src/lib.rs
  crates/clibox-fspy/src/linux/capture.rs
  crates/clibox-fspy/src/root_program.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): remove unused Linux capture path import
  crates/clibox-fspy/src/linux/capture.rs
Due: cargo-fmt

fix(clibox): retain original sockets through port termination
  crates/AGENTS.md
  crates/clibox-system/src/port/mod.rs
  crates/clibox-system/src/port/tests.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): share complete asset coverage reports
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): diagnose unmatched Linux socket owners
  crates/AGENTS.md
  crates/clibox-system/src/port/linux.rs
  crates/clibox-system/src/port/linux_snapshot.rs
  crates/clibox-system/src/port/mod.rs
  crates/clibox-system/src/port/tests.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

test(clibox): respect terminal interrupt fallback policy
  crates/clibox/tests/run.rs
  docs/crates-clibox-foundation.md
  packages/AGENTS.md
Due: cargo-fmt

fix(clibox): expand Windows executable references before lookup
  crates/AGENTS.md
  crates/clibox-system/src/environment.rs
  crates/clibox/tests/run_windows.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): prevent stale acknowledgements from dropping interrupts
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/src/launcher.cjs
  packages/clibox/test/launcher-interrupt.test.mjs
Due: none

fix(clibox): retain cancellation through reproduction reports
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): follow symlinks before parent components in reproductions
  crates/AGENTS.md
  crates/clibox-fspy/src/repro.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): match Windows relative link target traversal
  crates/AGENTS.md
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(clibox): use native separators in parent-link fixtures
  crates/clibox-fspy/src/repro.rs
Due: cargo-fmt

fix(runmoor): preserve identity quarantine after completion
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/runner_quarantine.go
  cmds/runmoor/internal/runmoor/runner_quarantine_test.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): retain managed Docker artifact engine authority
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/defaults.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_docker_endpoint.go
  cmds/runmoor/internal/runmoor/managed_docker_endpoint_test.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/managed_integration_test.go
  cmds/runmoor/internal/runmoor/managed_test.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): bind service shutdown to original manager authority
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_stop.go
  cmds/runmoor/internal/runmoor/service_stop_native_test.go
  cmds/runmoor/internal/runmoor/service_stop_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

test(runmoor): align Linux service fixtures with admission checks
  cmds/runmoor/internal/runmoor/operations_test.go
Due: go-fmt

test(runmoor): admit original service authority in shutdown fixtures
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_identity_test.go
  cmds/runmoor/internal/runmoor/service_stop.go
Due: go-fmt

fix(runmoor): retain Tart cleanup lock through same-PID exec
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_cleanup.go
  cmds/runmoor/internal/runmoor/tart_cleanup_kernel_test.go
  cmds/runmoor/internal/runmoor/tart_cleanup_other.go
  cmds/runmoor/internal/runmoor/tart_cleanup_unix.go
  cmds/runmoor/internal/runmoor/tart_rename_darwin.go
  cmds/runmoor/internal/runmoor/tart_rename_linux.go
  cmds/runmoor/internal/runmoor/tart_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): wait for artifacts in admitted service shutdown
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/artifact_wait_test.go
  cmds/runmoor/internal/runmoor/service_stop.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): claim service definition before uninstall
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_uninstall.go
  cmds/runmoor/internal/runmoor/service_uninstall_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): reject restarted manager PID reuse during pidfd acquisition
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_pidfd_test.go
Due: go-fmt

fix(runmoor): permit settled closed images in host backups
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/host_closed_image_restore_test.go
  cmds/runmoor/internal/runmoor/host_storage.go
  cmds/runmoor/internal/runmoor/state.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): bind Linux service reload to retained manager pidfd
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_pidfd_linux.go
  cmds/runmoor/internal/runmoor/service_reload_pidfd_linux_test.go
  cmds/runmoor/internal/runmoor/service_reload_pidfd_other.go
  cmds/runmoor/internal/runmoor/service_reload_pidfd_test.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(ci): preserve literal tracked Go paths in formatting checks
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/check-go-format.mjs
  scripts/ci/check-go-format.test.mjs
Due: none

fix(delidev): join signing children before cleanup
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/bundle-release.mjs
  docs/apps-delidev-packaging-contract.md
  scripts/release/delidev-macos-sign.mjs
  scripts/release/delidev-macos-sign.test.mjs
  scripts/release/delidev-release.mjs
Due: none

fix(delidev): forward required release signing secrets
  .github/AGENTS.md
  .github/workflows/release-delidev.yml
  .github/workflows/release-project.yml
  docs/apps-delidev-packaging-contract.md
  scripts/release/delidev-workflow.test.mjs
Due: none

fix(delidev): match server checks to the packaged version
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/connections.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/tests.rs
  docs/apps-delidev-packaging-contract.md
Due: cargo-fmt

fix(runmoor): verify host parent before removal proof (#1751)
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/host_storage.go
  cmds/runmoor/internal/runmoor/host_storage_unix_test.go
  cmds/runmoor/internal/runmoor/host_test.go
  docs/cmds-runmoor-foundation.md
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/extension-package.test.mjs
  scripts/ci/rustfmt-cache.fixture.mjs
Due: go-fmt

fix(runmoor): keep offline image listing read-only (#1753)
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/images_list_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
