Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

docs(dexdex): update all DexDex docs to reflect newly implemented features
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  docs/servers-dexdex-worker-server-foundation.md
Due: none

feat(dexdex): implement session fork, input handoff, and workspace work status (#262)
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/features/sessions/session-fork-panel.tsx
  apps/dexdex/src/features/sessions/session-input-form.tsx
  apps/dexdex/src/gen/v1/dexdex-NotificationService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-SessionService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkerSessionAdapterService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkspaceService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/hooks/use-dexdex-queries.ts
  apps/dexdex/src/hooks/use-workspace-stream.ts
  apps/dexdex/src/lib/adapters.ts
  apps/dexdex/src/lib/event-stream.ts
  apps/dexdex/src/lib/mock-data.ts
  apps/dexdex/src/lib/status.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  docs/servers-dexdex-worker-server-foundation.md
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/handler/handler_test.go
  servers/dexdex-main-server/internal/handler/notification_handler.go
  servers/dexdex-main-server/internal/handler/session_handler.go
  servers/dexdex-main-server/internal/handler/workspace_handler.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/seed.go
  servers/dexdex-main-server/internal/stream/fan_out.go
  servers/dexdex-main-server/internal/worker/client.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/handler/adapter_handler.go
  servers/dexdex-worker-server/internal/handler/adapter_handler_test.go
  servers/dexdex-worker-server/internal/handler/session_handler.go
  servers/dexdex-worker-server/internal/store/session_store.go
  servers/dexdex-worker-server/main.go
Due: go-fmt

feat(dexdex): wire SessionInputForm into TaskDetail for waiting-for-input subtasks
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/features/tasks/task-detail.tsx
Due: none

feat(dexdex): add menu bar tray and global shortcut Cmd/Ctrl+Shift+I
  apps/dexdex/src-tauri/Cargo.toml
  apps/dexdex/src-tauri/capabilities/default.json
  apps/dexdex/src-tauri/src/lib.rs
  apps/dexdex/src/App.tsx
  apps/dexdex/src/hooks/use-global-shortcut.ts
  apps/dexdex/src/hooks/use-tray-status.ts
Due: cargo-fmt

feat(dexdex): implement RepositoryService, PrManagementService, ReviewAssistService, ReviewCommentService
  servers/dexdex-main-server/internal/handler/pr_handler.go
  servers/dexdex-main-server/internal/handler/repository_handler.go
  servers/dexdex-main-server/internal/handler/review_handler.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/seed.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(dexdex): add PR management, review assist UI, and ListPullRequests RPC
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/sidebar.tsx
  apps/dexdex/src/features/prs/pr-management-page.tsx
  apps/dexdex/src/features/reviews/review-assist-panel.tsx
  apps/dexdex/src/gen/v1/dexdex-PrManagementService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/hooks/use-dexdex-queries.ts
  apps/dexdex/src/hooks/use-workspace-stream.ts
  apps/dexdex/src/lib/status.ts
  protos/dexdex/v1/dexdex.proto
Due: none

refactor(dexdex): migrate from inline state navigation to react-router
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/main.tsx
Due: none

feat(dexdex): add PostgreSQL persistence layer with sqlc
  servers/dexdex-main-server/db/migrations/001_create_workspaces.sql
  servers/dexdex-main-server/db/migrations/002_create_unit_tasks.sql
  servers/dexdex-main-server/db/migrations/003_create_sub_tasks.sql
  servers/dexdex-main-server/db/migrations/004_create_notifications.sql
  servers/dexdex-main-server/db/migrations/005_create_session_summaries.sql
  servers/dexdex-main-server/db/migrations/006_create_pr_records.sql
  servers/dexdex-main-server/db/migrations/007_create_repository_groups.sql
  servers/dexdex-main-server/db/migrations/008_create_review_items.sql
  servers/dexdex-main-server/db/query/notifications.sql
  servers/dexdex-main-server/db/query/pr_records.sql
  servers/dexdex-main-server/db/query/repository_groups.sql
  servers/dexdex-main-server/db/query/review_items.sql
  servers/dexdex-main-server/db/query/session_summaries.sql
  servers/dexdex-main-server/db/query/sub_tasks.sql
  servers/dexdex-main-server/db/query/unit_tasks.sql
  servers/dexdex-main-server/db/query/workspaces.sql
  servers/dexdex-main-server/db/sqlc.yaml
  servers/dexdex-main-server/generate.go
  servers/dexdex-main-server/internal/dbquery/db.go
  servers/dexdex-main-server/internal/dbquery/models.go
  servers/dexdex-main-server/internal/dbquery/notifications.sql.go
  servers/dexdex-main-server/internal/dbquery/pr_records.sql.go
  servers/dexdex-main-server/internal/dbquery/querier.go
  servers/dexdex-main-server/internal/dbquery/repository_groups.sql.go
  servers/dexdex-main-server/internal/dbquery/review_items.sql.go
  servers/dexdex-main-server/internal/dbquery/session_summaries.sql.go
  servers/dexdex-main-server/internal/dbquery/sub_tasks.sql.go
  servers/dexdex-main-server/internal/dbquery/unit_tasks.sql.go
  servers/dexdex-main-server/internal/dbquery/workspaces.sql.go
  servers/dexdex-main-server/internal/handler/pr_handler.go
  servers/dexdex-main-server/internal/store/postgres.go
  servers/dexdex-main-server/main.go
Due: go-fmt

docs(dexdex): update project index with all newly implemented features
  docs/project-dexdex.md
Due: none

fix(dexdex): fix flaky command palette Escape test with global keydown listener
  apps/dexdex/src/components/command-palette.tsx
Due: none

fix(dexdex): fix Tauri 2.10 API compatibility for tray and global shortcut
  apps/dexdex/src-tauri/src/lib.rs
Due: cargo-fmt

ci: detect rust changes outside crates
  .github/workflows/CI.yml
Due: none

ci: detect rust changes outside crates (#264)
  .github/workflows/CI.yml
Due: none

lockfile
  apps/dexdex/src-tauri/Cargo.lock
Due: none

feat(dexdex): add execution, listing, and update RPCs to proto contract
  apps/dexdex/src/gen/v1/dexdex-PrManagementService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-RepositoryService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkerSessionAdapterService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  protos/dexdex/v1/dexdex.proto
Due: none

feat(dexdex): add runtime configuration for main and worker servers
  go.mod
  servers/dexdex-main-server/internal/config/config.go
  servers/dexdex-main-server/internal/worker/client.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/config/config.go
  servers/dexdex-worker-server/main.go
Due: go-fmt

feat(dexdex): implement worktree orchestration and agent execution in worker server
  servers/dexdex-worker-server/internal/handler/adapter_handler.go
  servers/dexdex-worker-server/internal/handler/adapter_handler_test.go
  servers/dexdex-worker-server/internal/handler/agent_exec.go
  servers/dexdex-worker-server/internal/worktree/manager.go
  servers/dexdex-worker-server/internal/worktree/manager_test.go
  servers/dexdex-worker-server/main.go
Due: go-fmt

feat(dexdex): implement worker dispatch and execution stream consumption in main server
  servers/dexdex-main-server/internal/handler/handler_test.go
  servers/dexdex-main-server/internal/handler/session_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
  servers/dexdex-main-server/internal/worker/client.go
  servers/dexdex-main-server/internal/worker/dispatch.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(dexdex): implement PR polling, UpdatePullRequest RPC, and ListRepositoryGroups RPC
  servers/dexdex-main-server/internal/handler/pr_handler.go
  servers/dexdex-main-server/internal/handler/repository_handler.go
  servers/dexdex-main-server/internal/polling/github_client.go
  servers/dexdex-main-server/internal/polling/pr_poller.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/postgres.go
  servers/dexdex-main-server/internal/stream/fan_out.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(dexdex): add repository group selector to create task dialog
  apps/dexdex/src/App.tsx
  apps/dexdex/src/features/tasks/create-dialog.tsx
  apps/dexdex/src/hooks/use-dexdex-queries.ts
Due: none

feat(dexdex): add credential bridge for remote workspace connections
  apps/dexdex/src-tauri/Cargo.toml
  apps/dexdex/src-tauri/src/lib.rs
  apps/dexdex/src/features/settings/credential-manager.tsx
  apps/dexdex/src/features/settings/settings-page.tsx
Due: cargo-fmt

docs(dexdex): update implementation status across all DexDex docs
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  docs/servers-dexdex-worker-server-foundation.md
Due: none

feat(dexdex): implement worktree orchestration and real fork execution
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/handler/session_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/postgres.go
  servers/dexdex-main-server/internal/worker/dispatch.go
  servers/dexdex-main-server/internal/worker/worktree_coordinator.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/handler/adapter_handler.go
  servers/dexdex-worker-server/internal/handler/agent_exec.go
Due: go-fmt

docs(dexdex): update implementation status for worktree orchestration and fork execution
  docs/project-dexdex.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  docs/servers-dexdex-worker-server-foundation.md
Due: none

feat(dexdex): extend proto with ReviewComment anchors, CRUD RPCs, and UsageMetrics
  apps/dexdex/src/gen/v1/dexdex-ReviewCommentService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  protos/dexdex/v1/dexdex.proto
Due: none

feat(dexdex): add cost/usage normalization and plan YAML parsing to worker server
  go.mod
  go.sum
  servers/dexdex-worker-server/internal/handler/adapter_handler.go
  servers/dexdex-worker-server/internal/handler/agent_exec.go
  servers/dexdex-worker-server/internal/normalize/normalizer.go
  servers/dexdex-worker-server/internal/normalize/plan_parser.go
  servers/dexdex-worker-server/internal/normalize/usage.go
  servers/dexdex-worker-server/internal/store/session_store.go
Due: go-fmt

feat(dexdex): implement BadgeTheme handler, ReviewComment CRUD, and Redis EventBroadcaster
  go.mod
  go.sum
  servers/dexdex-main-server/internal/handler/badge_theme_handler.go
  servers/dexdex-main-server/internal/handler/event_stream_handler.go
  servers/dexdex-main-server/internal/handler/notification_handler.go
  servers/dexdex-main-server/internal/handler/review_handler.go
  servers/dexdex-main-server/internal/handler/session_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
  servers/dexdex-main-server/internal/polling/pr_poller.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/postgres.go
  servers/dexdex-main-server/internal/stream/broadcaster.go
  servers/dexdex-main-server/internal/stream/fan_out.go
  servers/dexdex-main-server/internal/stream/redis_fan_out.go
  servers/dexdex-main-server/internal/worker/dispatch.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(dexdex): complete desktop app with error boundaries, inline comments, web notifications
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/error-boundary.tsx
  apps/dexdex/src/components/skeleton-loader.tsx
  apps/dexdex/src/features/inbox/inbox-page.tsx
  apps/dexdex/src/features/prs/pr-management-page.tsx
  apps/dexdex/src/features/reviews/diff-comment-view.tsx
  apps/dexdex/src/features/reviews/inline-comment-thread.tsx
  apps/dexdex/src/features/reviews/review-assist-panel.tsx
  apps/dexdex/src/features/tasks/session-output-panel.tsx
  apps/dexdex/src/features/tasks/task-list.tsx
  apps/dexdex/src/hooks/use-dexdex-queries.ts
  apps/dexdex/src/hooks/use-web-notifications.ts
  apps/dexdex/src/hooks/use-workspace-stream.ts
  apps/dexdex/src/lib/adapters.ts
  apps/dexdex/src/lib/mock-data.ts
Due: none

feat(dexdex): add badge theme display to settings page
  apps/dexdex/src/features/settings/settings-page.tsx
Due: none

fix(dexdex): fix hook ordering for web notifications initialization
  apps/dexdex/src/App.tsx
Due: none

docs(dexdex): update implementation status for completed features
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  docs/servers-dexdex-worker-server-foundation.md
Due: none

fix(dexdex): use proto.Clone to avoid copying lock value in UsageMetrics
  servers/dexdex-worker-server/internal/normalize/usage.go
Due: go-fmt

feat(dexdex): add repository/settings management, prompt-based task creation, and configurable coding agents
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/command-palette.tsx
  apps/dexdex/src/components/sidebar.tsx
  apps/dexdex/src/features/repositories/repository-group-page.tsx
  apps/dexdex/src/features/repositories/repository-page.tsx
  apps/dexdex/src/features/settings/settings-page.tsx
  apps/dexdex/src/features/tasks/create-dialog.tsx
  apps/dexdex/src/features/tasks/task-detail.tsx
  apps/dexdex/src/features/tasks/task-list.tsx
  apps/dexdex/src/hooks/use-dexdex-queries.ts
  apps/dexdex/src/lib/adapters.ts
  apps/dexdex/src/lib/mock-data.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-main-server-foundation.md
  docs/servers-dexdex-worker-server-foundation.md
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/handler/handler_test.go
  servers/dexdex-main-server/internal/handler/repository_handler.go
  servers/dexdex-main-server/internal/handler/settings_handler.go
  servers/dexdex-main-server/internal/handler/task_handler.go
  servers/dexdex-main-server/internal/store/memory.go
  servers/dexdex-main-server/internal/store/memory_test.go
  servers/dexdex-main-server/internal/store/postgres.go
  servers/dexdex-main-server/internal/store/seed.go
  servers/dexdex-main-server/internal/worker/dispatch.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/handler/adapter_handler.go
  servers/dexdex-worker-server/internal/handler/agent_exec.go
Due: go-fmt

dexdex: enforce Esc-close and critical-input autofocus contracts
  AGENTS.md
  apps/AGENTS.md
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/features/reviews/inline-comment-thread.test.tsx
  apps/dexdex/src/features/reviews/inline-comment-thread.tsx
  apps/dexdex/src/features/sessions/session-fork-panel.tsx
  apps/dexdex/src/features/sessions/session-input-form.tsx
  apps/dexdex/src/features/tasks/create-dialog.tsx
  apps/dexdex/src/features/tasks/plan-decisions.tsx
  apps/dexdex/src/hooks/use-dialog-accessibility.ts
  docs/apps-dexdex-desktop-app-foundation.md
  docs/project-dexdex.md
Due: none

docs(dexdex): merge upstream dexdex contracts into monorepo docs
  AGENTS.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-dexdex-desktop-app-foundation.md
  docs/apps-dexdex-notification-contract.md
  docs/apps-dexdex-ui-contract.md
  docs/apps-dexdex-user-guide-contract.md
  docs/apps-dexdex-workspace-connectivity-contract.md
  docs/project-dexdex.md
  docs/protos-dexdex-api-contract.md
  docs/protos-dexdex-entities-contract.md
  docs/protos-dexdex-plan-mode-contract.md
  docs/protos-dexdex-v1-contract.md
  docs/servers-dexdex-event-streaming-contract.md
  docs/servers-dexdex-main-server-foundation.md
  docs/servers-dexdex-pr-management-contract.md
  docs/servers-dexdex-worker-server-foundation.md
  servers/AGENTS.md
Due: none
