Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(deck): address GitHub provider review
  docs/servers-devhud-deck-foundation.md
  servers/AGENTS.md
  servers/devhud-deck/README.md
  servers/devhud-deck/cmd/devhud-deck/main.go
  servers/devhud-deck/db/migrations/000002_github_provider.sql
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/fixtures_test.go
  servers/devhud-deck/internal/github/handlers.go
  servers/devhud-deck/internal/github/handlers_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/github/oauth.go
  servers/devhud-deck/internal/github/oauth_test.go
  servers/devhud-deck/internal/github/types.go
  servers/devhud-deck/internal/service/github.go
  servers/devhud-deck/internal/service/github_credential.go
  servers/devhud-deck/internal/service/integration.go
  servers/devhud-deck/internal/service/repository_authorizer.go
  servers/devhud-deck/testdata/github-app/README.md
  servers/devhud-deck/testdata/github-app/manifest.json
Due: go-fmt

fix(devhud): harden Windows frame validation
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(devhud): bind DOM selection to captured tab
  apps/devhud/realqa-extension/src/popup.js
  apps/devhud/realqa-extension/src/popup.test.js
  apps/devhud/realqa-extension/src/service-worker.js
  apps/devhud/realqa-extension/src/service-worker.test.js
Due: none

fix(devhud): hand browser captures to composer in memory
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/realqa-composer.json
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_native_host.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
  apps/devhud/src/realqa/browserCapture.ts
  apps/devhud/src/runtime/startup.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): sanitize browser captures in composer
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
  apps/devhud/src/styles.css
Due: none

fix(devhud): preserve native host clippy cleanup
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(realqa): harden image lifecycle review paths
  docs/servers-devhud-realqa-foundation.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/db/migrations/000004_image_storage.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/migrations/security_test.go
  servers/devhud-realqa/db/query/preset.sql
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/api/api.go
  servers/devhud-realqa/internal/database/dbgen/models.go
  servers/devhud-realqa/internal/database/dbgen/preset.sql.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/imageassets/http.go
  servers/devhud-realqa/internal/imageassets/http_test.go
  servers/devhud-realqa/internal/imageassets/signing.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(realqa): address image lifecycle review
  servers/devhud-realqa/db/migrations/000004_image_storage.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/migrations/security_test.go
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(devhud): address RealQA draft review feedback
  Cargo.lock
  apps/AGENTS.md
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address Chrome bridge review feedback
  apps/devhud/README.md
  apps/devhud/realqa-extension/src/manifest.test.js
  apps/devhud/realqa-extension/src/popup.js
  apps/devhud/realqa-extension/src/popup.test.js
  apps/devhud/realqa-extension/src/service-worker.js
  apps/devhud/realqa-extension/src/service-worker.test.js
  apps/devhud/scripts/build-realqa-extension.mjs
  apps/devhud/src-tauri/src/realqa_native_host.rs
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): restore native host CI
  apps/devhud/src-tauri/src/realqa_native_host.rs
Due: cargo-fmt

fix(deck): address GitHub adapter review feedback
  docs/servers-devhud-deck-foundation.md
  servers/devhud-deck/cmd/devhud-deck/main.go
  servers/devhud-deck/db/migrations/000002_github_provider.sql
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/config/config.go
  servers/devhud-deck/internal/config/config_test.go
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/security/security.go
  servers/devhud-deck/internal/security/security_test.go
  servers/devhud-deck/internal/service/integration.go
Due: go-fmt

fix(devhud): gate drafts on RealQA validation
  apps/devhud/src-tauri/src/auth.rs
Due: cargo-fmt

fix(deck): preserve view revision across reconnect
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/github.go
Due: go-fmt

fix(devhud): align macOS composer socket path
  apps/devhud/src-tauri/src/realqa_native_host.rs
Due: cargo-fmt

fix(deck): make widget snapshot reset idempotent
  servers/devhud-deck/internal/database/audit_deletion.go
  servers/devhud-deck/internal/database/database_integration_test.go
Due: go-fmt

test(deck): align semantic device revisions
  servers/devhud-deck/internal/database/database_integration_test.go
Due: go-fmt

fix(realqa): harden image cleanup races
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(devhud): complete browser capture handoff
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/realqa-composer.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
  apps/devhud/src/realqa/capture.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): adapt browser fallback to capture lifecycle
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(devhud): close RealQA draft safety gaps
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
  docs/project-devhud.md
Due: cargo-fmt

fix(realqa): address image storage review feedback
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/api/api.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/imageassets/http.go
  servers/devhud-realqa/internal/imageassets/http_test.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(deck): address provider adapter review
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/handlers.go
  servers/devhud-deck/internal/github/handlers_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/service/github_credential.go
Due: go-fmt

fix(devhud): stabilize native host CI
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_native_host.rs
Due: cargo-fmt

fix(realqa): address GitHub lifecycle review
  servers/devhud-realqa/db/query/github_provider.sql
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/internal/database/dbgen/github_provider.sql.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/github/adapter_integration_test.go
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/postgres.go
  servers/devhud-realqa/internal/github/types.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): avoid lifecycle fixture collision
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): bind lifecycle cache assertion
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(devhud): address Chrome bridge review feedback
  apps/devhud/realqa-extension/src/popup.js
  apps/devhud/realqa-extension/src/popup.test.js
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
Due: cargo-fmt

fix(devhud): support Windows composer pipes
  apps/devhud/src-tauri/src/realqa_native_host.rs
Due: cargo-fmt

fix(realqa): close storage lifecycle races
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

test(derun): stabilize Windows live-tail contract
  cmds/derun/internal/mcp/server_contract_test.go
Due: go-fmt

fix(devhud): address RealQA draft review feedback
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
  apps/devhud/src/realqa/drafts/url.ts
Due: cargo-fmt

fix(deck): address provider adapter review feedback
  servers/devhud-deck/db/migrations/000002_github_provider.sql
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/contracts/contracts.go
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/handlers.go
  servers/devhud-deck/internal/github/handlers_test.go
  servers/devhud-deck/internal/github/types.go
  servers/devhud-deck/internal/service/authorization_test.go
  servers/devhud-deck/internal/service/github.go
  servers/devhud-deck/internal/service/github_test.go
  servers/devhud-deck/internal/service/repository_authorizer.go
  servers/devhud-deck/internal/service/view.go
Due: go-fmt

fix(realqa): address GitHub provider review
  servers/devhud-realqa/internal/github/body.go
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/service/preset.go
  servers/devhud-realqa/internal/service/preset_test.go
Due: go-fmt

fix(devhud): schedule smoke shutdown once
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(realqa): address storage lifecycle review
  servers/devhud-realqa/db/migrations/000004_image_storage.sql
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(realqa): avoid nil-store deletion panic
  servers/devhud-realqa/internal/service/deletion.go
Due: go-fmt

fix(devhud): close Chrome bridge review gaps
  apps/devhud/scripts/build-realqa-extension.mjs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/auth/SessionProvider.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
  apps/devhud/src/runtime/theme.ts
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): address local draft review feedback
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
Due: cargo-fmt

fix(deck): harden GitHub authorization state
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/fixtures_test.go
  servers/devhud-deck/internal/github/handlers.go
  servers/devhud-deck/internal/github/handlers_test.go
  servers/devhud-deck/testdata/github-app/manifest.json
Due: go-fmt
