Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(pnport): preserve native-first package order
  packages/pnport/scripts/package.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

fix(pnport): mediate a pathname in Linux capability probe
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(pnport): require minor bump for first release
  AGENTS.md
  docs/project-pnport.md
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: none

fix(pnport): select native CI for installer changes
  docs/packages-pnport-distribution-contract.md
  packages/AGENTS.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

docs(clibox): update command-count guidance
  apps/AGENTS.md
Due: none

fix(pnport): refuse Homebrew downgrade on retry
  docs/packages-pnport-distribution-contract.md
  packages/AGENTS.md
  scripts/release/pnport-distribution.test.mjs
  scripts/release/update-homebrew.sh
Due: none

fix(clibox): bound headless Windows cleanup
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(pnport): preserve constrained openat2 path resolution
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(pnport): execute installed launcher in native smoke
  docs/packages-pnport-distribution-contract.md
  packages/AGENTS.md
  packages/pnport/scripts/install-smoke.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

fix(clibox): bound readiness probe observation
  crates/clibox-system/src/run.rs
Due: cargo-fmt

test(pnport): use first-release bump in workflow preflight
  scripts/ci/project-release.test.mjs
Due: none

fix(pnport): reconcile thread IDs after exec
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(clibox): recheck managed service after readiness
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(pnport): honor nofollow opens on virtual links
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
Due: cargo-fmt

fix(clibox): bound output forwarding joins
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(clibox): retain nested launcher containment
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(clibox): recover from completion worker startup failure
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(clibox): reject negative rate-limit refill times
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(pnport): restrict static Go fixture to Linux
  crates/pnport/tests/static-go/main.go
Due: go-fmt

fix(pnport): reject unsupported Linux libc targets
  crates/pnport/src/supervisor.rs
Due: cargo-fmt

fix(clibox): redact completion worker spawn errors
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(pnport): preserve Linux child exec failure codes
  crates/pnport/src/linux.rs
  crates/pnport/src/supervisor.rs
Due: cargo-fmt

fix(pnport): retain failed readlink syscall results
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(clibox): recheck cancellation before service spawn
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(pnport): track close_range descriptor lifecycle
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(pnport): resolve native dirfds through live handles
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(pnport): preserve foreground terminal job control
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(pnport): retain syscall exit tracing through signals
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(clibox): recheck service ownership before completion
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(pnport): paginate latest direct installer releases
  docs/packages-pnport-distribution-contract.md
  packages/AGENTS.md
  scripts/install/pnport.ps1
  scripts/install/pnport.sh
  scripts/release/pnport-distribution.test.mjs
Due: none

fix(pnport): resume parked tracees for graceful shutdown
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(pnport): retain root thread group and release exited state
  crates/pnport/src/linux.rs
Due: cargo-fmt

fix(clibox): recover when output worker startup fails
  crates/clibox-system/src/run.rs
Due: cargo-fmt

fix(clibox): block terminal stop during output forwarding
  crates/clibox-system/src/run.rs
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(pnport): synthesize virtual links over materialized targets
  crates/pnport/src/linux.rs
Due: cargo-fmt

test(pnport): cover Linux tracer edge cases and update contract
  crates/AGENTS.md
  crates/pnport-preload/vendor/fspy/PROVENANCE.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(clibox): compile terminal forwarding test on Linux
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(pnport): mediate tracked proc descriptor descendants
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(clibox): handle readiness worker spawn failures
  crates/clibox-system/src/run.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
