Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

test(delibase): use safe expiration poison reference
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(devhud): address performance instrumentation review
  apps/AGENTS.md
  apps/devhud/performance/result.schema.json
  apps/devhud/scripts/performance.mjs
  apps/devhud/scripts/performance.test.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): harden performance provenance
  apps/devhud/package.json
  apps/devhud/performance/result.schema.json
  apps/devhud/scripts/mobile.mjs
  apps/devhud/scripts/performance.mjs
  apps/devhud/scripts/performance.test.mjs
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): address performance provenance review
  apps/devhud/performance/fixtures/available-desktop.json
  apps/devhud/performance/result.schema.json
  apps/devhud/scripts/mobile.mjs
  apps/devhud/scripts/performance.mjs
  apps/devhud/scripts/performance.test.mjs
  apps/devhud/src-tauri/src/lib.rs
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): harden performance profiling
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/scripts/mobile.mjs
  apps/devhud/scripts/performance.mjs
  apps/devhud/scripts/performance.test.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/lib.rs
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): stabilize CI reset and mobile provenance
  apps/devhud/scripts/mobile.mjs
  apps/devhud/src/App.ui.test.tsx
Due: none

fix(devhud): build widget artifacts before native tests
  apps/devhud/scripts/widget-native.mjs
Due: none

fix(devhud): address performance review findings
  apps/devhud/scripts/mobile.mjs
  apps/devhud/scripts/performance.mjs
  apps/devhud/scripts/performance.test.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): preserve mobile performance provenance
  apps/devhud/scripts/mobile.mjs
  apps/devhud/scripts/performance.mjs
  apps/devhud/scripts/performance.test.mjs
Due: none

fix(devhud): report package build failures correctly
  apps/devhud/scripts/performance.mjs
  apps/devhud/scripts/performance.test.mjs
Due: none

docs(devhud): define Deck and RealQA contracts
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-devhud-deck-foundation.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

docs(devhud): address contract review feedback
  AGENTS.md
  apps/AGENTS.md
  docs/apps-delidev-app-foundation.md
  docs/apps-devhud-foundation.md
  docs/project-delidev.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-devhud-deck-foundation.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

test(devhud): await reset theme reconciliation
  apps/devhud/src/App.ui.test.tsx
Due: none

feat(delibase): add background usage authorization contract
  AGENTS.md
  apps/AGENTS.md
  docs/apps-delidev-app-foundation.md
  docs/project-delibase.md
  docs/project-delidev.md
  docs/protos-delibase-api-contract.md
  docs/servers-delibase-server-foundation.md
  protos/AGENTS.md
  protos/delibase/AUTHENTICATION.md
  protos/delibase/README.md
  protos/delibase/contract_test.go
  protos/delibase/contract_typecheck.ts
  protos/delibase/delibase.v1.binpb
  protos/delibase/gen/go/delibase/v1/billing.pb.go
  protos/delibase/gen/go/delibase/v1/common.pb.go
  protos/delibase/gen/go/delibase/v1/delibasev1connect/billing.connect.go
  protos/delibase/gen/go/delibase/v1/delibasev1connect/usage.connect.go
  protos/delibase/gen/go/delibase/v1/usage.pb.go
  protos/delibase/gen/ts/delibase/v1/billing_pb.ts
  protos/delibase/gen/ts/delibase/v1/common_pb.ts
  protos/delibase/gen/ts/delibase/v1/usage_pb.ts
  protos/delibase/v1/billing.proto
  protos/delibase/v1/common.proto
  protos/delibase/v1/usage.proto
  servers/AGENTS.md
  servers/delibase/internal/api/api.go
  servers/delibase/internal/api/api_test.go
Due: go-fmt

fix(delidev): refresh generated app artifact
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.613687c264.js
  apps/delidev-app/dist/static/js/index.df91e213fb.js
  apps/delidev-app/dist/sw.js
Due: none

docs(devhud): complete Deck lifecycle contracts
  AGENTS.md
  apps/AGENTS.md
  docs/apps-delidev-app-foundation.md
  docs/apps-devhud-foundation.md
  docs/project-delidev.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-devhud-deck-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

docs(devhud): close feature contract gaps
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-delibase.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-delibase-server-foundation.md
  docs/servers-devhud-deck-foundation.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

fix(delibase): harden background usage contract
  AGENTS.md
  apps/AGENTS.md
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.2d98dba5b6.js
  apps/delidev-app/dist/static/js/index.df91e213fb.js
  apps/delidev-app/dist/sw.js
  docs/apps-delidev-app-foundation.md
  docs/project-delibase.md
  docs/project-delidev.md
  docs/protos-delibase-api-contract.md
  docs/servers-delibase-server-foundation.md
  protos/AGENTS.md
  protos/delibase/AUTHENTICATION.md
  protos/delibase/README.md
  protos/delibase/contract_test.go
  protos/delibase/delibase.v1.binpb
  protos/delibase/gen/go/delibase/v1/catalog.pb.go
  protos/delibase/gen/go/delibase/v1/common.pb.go
  protos/delibase/gen/go/delibase/v1/delibasev1connect/usage.connect.go
  protos/delibase/gen/go/delibase/v1/usage.pb.go
  protos/delibase/gen/ts/delibase/v1/catalog_pb.ts
  protos/delibase/gen/ts/delibase/v1/common_pb.ts
  protos/delibase/gen/ts/delibase/v1/usage_pb.ts
  protos/delibase/v1/catalog.proto
  protos/delibase/v1/common.proto
  protos/delibase/v1/usage.proto
  servers/AGENTS.md
  servers/delibase/db/query/catalog.sql
  servers/delibase/internal/api/api.go
  servers/delibase/internal/api/api_test.go
  servers/delibase/internal/database/dbgen/catalog.sql.go
  servers/delibase/internal/service/catalog.go
  servers/delibase/internal/service/catalog_test.go
Due: go-fmt

test(devhud): await retained theme reconciliation
  apps/devhud/src/App.ui.test.tsx
Due: none

docs(devhud): close lifecycle discovery gaps
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-delibase.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-delibase-server-foundation.md
  docs/servers-devhud-deck-foundation.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

fix(delibase): address background usage review
  AGENTS.md
  apps/AGENTS.md
  docs/apps-delidev-app-foundation.md
  docs/project-delibase.md
  docs/project-delidev.md
  docs/protos-delibase-api-contract.md
  docs/servers-delibase-server-foundation.md
  protos/AGENTS.md
  protos/delibase/AUTHENTICATION.md
  protos/delibase/README.md
  protos/delibase/gen/go/delibase/v1/common.pb.go
  protos/delibase/gen/go/delibase/v1/delibasev1connect/usage.connect.go
  protos/delibase/gen/go/delibase/v1/usage.pb.go
  protos/delibase/gen/ts/delibase/v1/common_pb.ts
  protos/delibase/gen/ts/delibase/v1/usage_pb.ts
  protos/delibase/v1/common.proto
  protos/delibase/v1/usage.proto
  servers/AGENTS.md
  servers/delibase/db/migrations/000011_background_usage_catalog.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/catalog.sql
  servers/delibase/internal/catalog/catalog.go
  servers/delibase/internal/catalog/catalog_test.go
  servers/delibase/internal/database/database.go
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/catalog.sql.go
  servers/delibase/internal/database/dbgen/models.go
Due: go-fmt

docs(devhud): close RealQA storage grants on deletion
  AGENTS.md
  docs/project-devhud.md
  docs/servers-devhud-realqa-foundation.md
  servers/AGENTS.md
Due: none

docs(devhud): close review contract gaps
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-delibase.md
  docs/project-devhud.md
  docs/protos-devhud-deck-api-contract.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-delibase-server-foundation.md
  docs/servers-devhud-deck-foundation.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

feat(delibase): add background authorization storage
  docs/servers-delibase-server-foundation.md
  servers/delibase/README.md
  servers/delibase/db/migrations/000011_background_usage_authorizations.sql
  servers/delibase/db/migrations/000012_background_usage_lifecycle.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/background_authorization.sql
  servers/delibase/internal/database/dbgen/background_authorization.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/database/dbgen/usage.sql.go
  servers/delibase/internal/database/zz_background_authorization_integration_test.go
Due: go-fmt

docs(devhud): address contract review gaps
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-delibase.md
  docs/project-devhud.md
  docs/protos-delibase-api-contract.md
  docs/protos-devhud-deck-api-contract.md
  docs/servers-delibase-server-foundation.md
  docs/servers-devhud-deck-foundation.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

docs(devhud): address billing and replay review
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-delibase-server-foundation.md
  docs/servers-devhud-deck-foundation.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
Due: none

feat(delibase): implement background usage handlers
  servers/delibase/internal/reliability/identifiers.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/service/authorized_usage.go
  servers/delibase/internal/service/background_authorization.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/usage.go
Due: go-fmt

test(delibase): add disabled RealQA catalog fixture
  servers/delibase/catalog.json
  servers/delibase/internal/catalog/catalog_test.go
Due: go-fmt

test(delibase): cover background usage policy
  servers/delibase/internal/database/zz_background_authorization_integration_test.go
  servers/delibase/internal/service/background_authorization_integration_test.go
  servers/delibase/internal/service/background_authorization_test.go
Due: go-fmt

docs(delibase): document bounded background usage
  docs/apps-delidev-app-foundation.md
  docs/servers-delibase-server-foundation.md
  servers/delibase/README.md
Due: none

test(delibase): isolate authorized Polar outbox
  servers/delibase/internal/service/background_authorization_integration_test.go
Due: go-fmt

test(delibase): reject nonmember background grants
  servers/delibase/internal/service/background_authorization_integration_test.go
Due: go-fmt

fix(delibase): address background usage review feedback
  servers/delibase/db/migrations/000013_background_usage_automatic_audits.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/background_authorization.sql
  servers/delibase/internal/database/dbgen/background_authorization.sql.go
  servers/delibase/internal/database/zz_background_authorization_integration_test.go
  servers/delibase/internal/service/authorized_usage.go
  servers/delibase/internal/service/background_authorization.go
  servers/delibase/internal/service/background_authorization_integration_test.go
  servers/delibase/internal/service/background_authorization_test.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/usage.go
Due: go-fmt

fix(delibase): include managed grants in unfiltered lists
  servers/delibase/db/query/background_authorization.sql
  servers/delibase/internal/database/dbgen/background_authorization.sql.go
  servers/delibase/internal/service/background_authorization.go
  servers/delibase/internal/service/background_authorization_integration_test.go
Due: go-fmt

fix(delibase): snapshot teams in automatic audits
  servers/delibase/db/migrations/000011_background_usage_authorizations.sql
  servers/delibase/db/migrations/000013_background_usage_automatic_audits.sql
  servers/delibase/internal/database/dbgen/background_authorization.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/zz_background_authorization_integration_test.go
Due: go-fmt

fix(delibase): preserve background migration history
  servers/delibase/db/migrations/000011_background_usage_authorizations.sql
  servers/delibase/db/migrations/000013_background_usage_automatic_audits.sql
Due: none

chore(delibase): regenerate background authorization queries
  servers/delibase/internal/database/dbgen/background_authorization.sql.go
  servers/delibase/internal/database/dbgen/models.go
Due: go-fmt

fix(delibase): preserve background authorization boundaries
  servers/delibase/db/migrations/000013_background_usage_automatic_audits.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/background_authorization.sql
  servers/delibase/internal/database/dbgen/background_authorization.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/service/background_authorization_integration_test.go
Due: go-fmt

test(delibase): type background migration timestamps
  servers/delibase/db/migrations/migrations_test.go
Due: go-fmt

fix(delibase): close settled background quota
  servers/delibase/db/query/background_authorization.sql
  servers/delibase/internal/database/dbgen/background_authorization.sql.go
  servers/delibase/internal/service/background_authorization_integration_test.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
