Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

refactor(delidev): share disclosure header content renderer
  apps/delidev/src/disclosure.tsx
Due: none

fix(delidev): align saved Notifications settings sections
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-notifications-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/notification-settings-layout.fixture.tsx
  apps/delidev/src/notification-settings.css
  apps/delidev/src/notification-settings.test.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-presentation.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): satisfy tray host Clippy checks
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tray_host.rs
Due: cargo-fmt

fix(delidev): restore native disclosure focus before closing
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-disclosure-layout.mjs
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/disclosure-layout.fixture.tsx
  apps/delidev/src/disclosure.css
  apps/delidev/src/disclosure.test.tsx
  apps/delidev/src/disclosure.tsx
  apps/delidev/src/network-settings.css
  apps/delidev/src/routing-preview.css
  apps/delidev/src/styles.css
  apps/delidev/src/usage.css
Due: none

fix(delidev): preserve disclosure coverage spacing
  apps/delidev/src/usage.css
Due: none

feat(delidev): add isolated tray status popover
  apps/delidev/AGENTS.md
  apps/delidev/locales/native/en.json
  apps/delidev/locales/native/ko.json
  apps/delidev/macos-widget/Shared/Localization.swift
  apps/delidev/rsbuild.config.ts
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/tray-status.json
  apps/delidev/src-tauri/permissions/tray-status.toml
  apps/delidev/src-tauri/src/appearance.rs
  apps/delidev/src-tauri/src/appearance_host.rs
  apps/delidev/src-tauri/src/date_format.rs
  apps/delidev/src-tauri/src/date_format_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/localization_keys.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/presentation.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src-tauri/src/tray_status.rs
  apps/delidev/src-tauri/src/tray_status_host.rs
  apps/delidev/src-tauri/tauri.conf.json
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/tray-status.json
  apps/delidev/src/locales/ko/tray-status.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/tray-status-main.tsx
  apps/delidev/src/tray-status-model.ts
  apps/delidev/src/tray-status.css
  apps/delidev/src/tray-status.test.tsx
  apps/delidev/src/tray-status.tsx
  apps/delidev/src/tray-types.ts
  apps/delidev/src/tray.test.ts
  apps/delidev/src/tray.ts
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-localization-contract.md
  docs/project-delidev.md
Due: cargo-fmt

test(delidev): cover project settings context and portable policies
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/project-behavior.test.tsx
  cmds/delidev-cli/internal/server/project_behavior_test.go
Due: go-fmt

test(delidev): preserve project policies in QA updates
  apps/delidev/scripts/qa/qa.test.mjs
Due: none

fix(delidev): freeze the selected project routing policy
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/execution.go
  cmds/delidev-cli/internal/store/project_behavior_execution_test.go
  docs/cmds-delidev-catalog-contract.md
Due: go-fmt

fix(delidev): preserve legacy native approval resource shape
  cmds/delidev-cli/internal/rpc/common.go
  cmds/delidev-cli/internal/rpc/project_behavior_test.go
  cmds/delidev-cli/internal/server/automatic_plan_approval_test.go
  docs/cmds-delidev-catalog-contract.md
Due: go-fmt

test(delidev): use negotiated settings schema in integration fixture
  apps/delidev/src/settings-preferences.integration.test.tsx
Due: none

fix(delidev): reject stale empty project default observations
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/project-behavior.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): include Project defaults in Settings search coverage
  apps/delidev/scripts/test-settings-search-layout.mjs
Due: none

fix(delidev): retain exact Settings action target identities across pages
  apps/delidev/AGENTS.md
  apps/delidev/src/agent-worker-row.tsx
  apps/delidev/src/network-settings.test.tsx
  apps/delidev/src/network-settings.tsx
  apps/delidev/src/project-list.tsx
  apps/delidev/src/repository-list.tsx
  apps/delidev/src/settings-action.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/subscription-accounts.tsx
  apps/delidev/src/subscription-settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): keep future project schemas unsupported in fixtures
  apps/delidev/src/settings-projects.test.tsx
Due: none

Check Settings action geometry and original opener behavior
  apps/delidev/scripts/test-settings-actions-layout.mjs
  apps/delidev/scripts/test-settings-layout.mjs
Due: none

Retain the localized Git refresh target and scope modal checks
  apps/delidev/scripts/test-settings-actions-layout.mjs
  apps/delidev/src/locales/en/settings.json
  apps/delidev/src/locales/ko/settings.json
  apps/delidev/src/settings.tsx
Due: none

test(delidev): address the original Worker action in wizard fixtures
  apps/delidev/src/agent-worker-wizard.test.tsx
Due: none

Preserve action names and disambiguate subscription refresh targets
  apps/delidev/scripts/test-network-settings-layout.mjs
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/locales/en/agent-worker-wizard.json
  apps/delidev/src/locales/ko/agent-worker-wizard.json
  apps/delidev/src/settings-action.test.tsx
  apps/delidev/src/settings-action.tsx
  apps/delidev/src/subscription-accounts.tsx
  apps/delidev/src/subscription-settings.tsx
Due: none

fix(delidev): apply Settings action icons to project behavior controls
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/project-behavior.test.tsx
  apps/delidev/src/project-settings-menu.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

Use shared tooltip shadow tokens and retain primary action assertions
  apps/delidev/src/settings-action.css
  apps/delidev/src/settings-runner-devices.test.tsx
Due: none

fix(delidev): name GitHub profile actions with their original IDs
  apps/delidev/src/integrations.test.tsx
  apps/delidev/src/integrations.tsx
Due: none

test(delidev): use original IDs in Settings row action fixtures
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/settings-projects.test.tsx
Due: none

test(delidev): preserve the labeled profile Manage action query
  apps/delidev/src/settings-github.integration.test.tsx
Due: none

test(delidev): check model result reflow in every state
  apps/delidev/scripts/test-worker-model-layout.mjs
Due: none

fix(delidev): accept null Codex provider authority fields
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/api.go
  cmds/delidev-cli/internal/harness/codex/api_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): keep model search results stationary
  apps/delidev/package.json
  apps/delidev/scripts/test-worker-model-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/agent-worker-wizard.css
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/worker-model-results.test.tsx
  apps/delidev/src/worker-model-results.ts
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): target real Settings integration rows by original IDs
  apps/delidev/src/settings-github.integration.test.tsx
  apps/delidev/src/settings-workspace.integration.test.tsx
Due: none

test(delidev): retain unknown permission through name-only save
  apps/delidev/src/agent-configuration.test.tsx
Due: none

feat(delidev): project native Codex context snapshots
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-context.json
  apps/delidev/src/locales/ko/session-context.json
  apps/delidev/src/session-context.test.tsx
  apps/delidev/src/session-context.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_context.go
  cmds/delidev-cli/internal/server/session_context_native_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-compaction-contract.md
  docs/cmds-delidev-usage-contract.md
Due: go-fmt

fix(delidev): preserve omitted permission default presentation
  apps/delidev/src/agent-permissions.test.tsx
  apps/delidev/src/configuration-fields.tsx
Due: none

feat(delidev): use shared permission pickers with owner admission
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-agent-permissions-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-configuration.test.tsx
  apps/delidev/src/agent-permissions-layout.fixture.tsx
  apps/delidev/src/agent-permissions.test.tsx
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/settings-claude.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): expose explicit Codex Fast mode settings
  apps/delidev/scripts/test-service-tier-layout.mjs
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/provider_guidance.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/execution-configuration.test.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/provider-guidance.test.tsx
  apps/delidev/src/provider-guidance.tsx
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  apps/delidev/src/service-tier-field.test.tsx
  apps/delidev/src/service-tier-layout.fixture.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/native_service_tier_test.go
  cmds/delidev-cli/internal/domain/request_diagnostics.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/request_diagnostics.go
  cmds/delidev-cli/internal/server/request_diagnostics_test.go
  cmds/delidev-cli/internal/server/session_dispatch_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-diagnostics-contract.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

feat(delidev): add device-local shortcut preferences
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/scripts/test-shortcut-settings-layout.mjs
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/shortcut_preferences.rs
  apps/delidev/src-tauri/src/shortcut_preferences_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/main.tsx
  apps/delidev/src/settings-category.ts
  apps/delidev/src/settings-search.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/shortcut-preference-controller.tsx
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-provider.tsx
  apps/delidev/src/shortcut-settings-layout.fixture.tsx
  apps/delidev/src/shortcut-settings.css
  apps/delidev/src/shortcut-settings.test.tsx
  apps/delidev/src/shortcut-settings.tsx
  apps/delidev/src/shortcuts.ts
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-localization-contract.md
  docs/project-delidev.md
Due: cargo-fmt

feat(delidev): dim native modal backgrounds
  apps/delidev/scripts/test-repository-dialog-layout.mjs
  apps/delidev/scripts/test-subscription-background-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/styles.css
  apps/delidev/src/themes.css
  apps/delidev/src/themes.test.ts
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): fence native accelerators during shortcut capture
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/shortcuts.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/permission_tests.rs
  apps/delidev/src-tauri/src/shortcut_capture.rs
  apps/delidev/src-tauri/src/shortcut_capture_host.rs
  apps/delidev/src-tauri/src/shortcut_preferences.rs
  apps/delidev/src-tauri/src/window_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/shortcut-capture.test.ts
  apps/delidev/src/shortcut-capture.ts
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-settings.test.tsx
  apps/delidev/src/shortcut-settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

fix(delidev): group fixed shortcuts by their screen context
  apps/delidev/src/shortcut-settings.tsx
Due: none

test(delidev): identify nested dialog focus failures
  apps/delidev/scripts/test-repository-dialog-layout.mjs
Due: none
