Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(async-commit-hook): defer history queries until worktree selection
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/repositories.test.tsx
  docs/apps-async-commit-hook-contract.md
Due: none

fix(runlens): derive native artifact versions from source
  .github/workflows/runlens.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/runlens.test.mjs
  scripts/release/runlens-test.py
  scripts/release/runlens.py
Due: none

fix(async-commit-hook): release completed report tracking entries
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/report_completion_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(runlens): compare Windows snapshot volume and file identities
  crates/AGENTS.md
  crates/runlens/src/lib.rs
  crates/runlens/src/snapshot.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

test(async-commit-hook): isolate persistence failures from shell startup
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/persistence_failure_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(runlens): audit intersections of declared path globs
  crates/AGENTS.md
  crates/runlens/Cargo.lock
  crates/runlens/Cargo.toml
  crates/runlens/src/analysis.rs
  crates/runlens/src/config.rs
  crates/runlens/src/declarations.rs
  crates/runlens/src/lib.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): observe Linux readlink dependency attempts
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/mod.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/readlink.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): preserve baseline references in stopped clean reports
  crates/AGENTS.md
  crates/runlens/src/clean.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

docs(async-commit-hook): record twenty-first PR repair evidence
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(runlens): normalize isolated Windows Git environment paths
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/src/clean.rs
  crates/runlens/tests/core.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): distinguish Linux metadata probes and descriptor reads
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/stat.rs
  crates/runlens/vendor/fspy_seccomp_unotify/src/supervisor/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): reuse inherited Linux syscall collection for child execs
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/vendor/fspy_client_unix/src/lib.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): scope envelope budgets to external report parsing
  crates/AGENTS.md
  crates/runlens/src/model.rs
  crates/runlens/src/report.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): keep bounded glob compiler errors compact
  crates/runlens/src/declarations.rs
Due: cargo-fmt

docs(packages): bootstrap repository trust from explicit configuration
  apps/AGENTS.md
  apps/public-docs/docs/linux-packages.md
  docs/repository-linux-packages-contract.md
Due: none

fix(runlens): withhold completeness for inherited standard files
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/Cargo.toml
  crates/runlens/src/execute.rs
  crates/runlens/src/platform.rs
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): flag raw Linux shebang interpreter gaps
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/execve.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/mod.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

feat(clibox): add cross-platform developer utilities
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/clipboard/linux.rs
  crates/clibox/src/clipboard/macos.rs
  crates/clibox/src/clipboard/mod.rs
  crates/clibox/src/clipboard/windows.rs
  crates/clibox/src/environment.rs
  crates/clibox/src/error.rs
  crates/clibox/src/main.rs
  crates/clibox/src/open.rs
  crates/clibox/src/port/linux.rs
  crates/clibox/src/port/macos.rs
  crates/clibox/src/port/mod.rs
  crates/clibox/src/port/tests.rs
  crates/clibox/src/port/windows.rs
  crates/clibox/src/runtime.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/process.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
  scripts/ci/clibox-release.test.mjs
Due: cargo-fmt

fix(runlens): collect Linux extended attribute input attempts
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/mod.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/xattr.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(runlens): flag descendants escaping Unix lifecycle ownership
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/static.c
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/lifecycle.rs
  crates/runlens/vendor/fspy/src/unix/syscall_handler/mod.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/lifecycle.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/mod.rs
  crates/runlens/vendor/fspy_preload_unix/src/interceptions/spawn/posix_spawn.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(packages): stage APT key rotation and pin Rust bootstrap
  .github/workflows/CI.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/linux-packages.md
  apps/public-docs/scripts/validate-clean-urls.mjs
  docs/repository-linux-packages-contract.md
  packaging/linux/AGENTS.md
  packaging/linux/pins.json
  packaging/linux/signing.json
  scripts/ci/linux-packages.test.mjs
  scripts/release/linux-packages.mjs
  scripts/release/linux-packages.test.mjs
  scripts/release/linux-packages/build-rust.sh
  scripts/release/linux-packages/install-test.sh
  scripts/release/linux-packages/keyring.mjs
  scripts/release/linux-packages/model.mjs
  scripts/release/linux-packages/package.mjs
  scripts/release/linux-packages/publish.mjs
  scripts/release/linux-packages/repository.mjs
  scripts/release/linux-packages/rotation-test.mjs
Due: none

fix(packages): retain rustup bootstrap executable name
  scripts/ci/linux-packages.test.mjs
  scripts/release/linux-packages/build-rust.sh
Due: none

fix(clibox): validate Windows clipboard UTF-8 text size
  crates/clibox/src/clipboard/mod.rs
  crates/clibox/src/clipboard/windows.rs
Due: cargo-fmt

fix(runlens): flag uninstrumented native Windows children
  .github/workflows/runlens.yml
  apps/runlens-docs/docs/platforms.md
  crates/AGENTS.md
  crates/runlens/Cargo.lock
  crates/runlens/Cargo.toml
  crates/runlens/PATCHES.md
  crates/runlens/tests/fixtures/command.rs
  crates/runlens/tests/fixtures/windows_native.rs
  crates/runlens/tests/native.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/detours/create_process.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/detours/nt.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(taskflow): sanitize dotenv errors before redaction setup
  crates/taskflow/AGENTS.md
  crates/taskflow/src/environment.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(runlens): keep platform helpers before test modules
  crates/runlens/src/platform.rs
Due: cargo-fmt

test(taskflow): prove dangling Unix outputs cannot be captured
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

test(runlens): account for inherited test log descriptors
  crates/runlens/tests/native.rs
Due: cargo-fmt

fix(ach): preserve existing state directory permissions
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/files_unix.go
  cmds/async-commit-hook/internal/core/files_windows.go
  cmds/async-commit-hook/internal/core/registry_test.go
  cmds/async-commit-hook/internal/core/state_directory.go
  cmds/async-commit-hook/internal/core/state_directory_unix_test.go
  cmds/async-commit-hook/internal/core/state_directory_windows_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): revalidate owned hooks before removal
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/hooks.go
  cmds/async-commit-hook/internal/core/hooks_remove_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): reclaim stale ordinary component registrations
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/lifecycle.go
  cmds/async-commit-hook/internal/core/lifecycle_cleanup_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): normalize state leaves before private creation
  cmds/async-commit-hook/internal/core/state_directory.go
  cmds/async-commit-hook/internal/core/state_directory_test.go
Due: go-fmt

fix(taskflow): require a successful baseline for suppression
  crates/taskflow/AGENTS.md
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(ach): preserve noncomponent recovery journals during cleanup
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/lifecycle.go
  cmds/async-commit-hook/internal/core/lifecycle_cleanup_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

docs(taskflow): record diagnostic and baseline repair evidence
  docs/crates-taskflow-conformance.md
Due: none

docs(ach): record PR repair validation and platform boundaries
  docs/cmds-async-commit-hook-evidence.md
Due: none

feat(clibox): add portable text time base64 and hash commands
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/base64.rs
  crates/clibox/src/cli.rs
  crates/clibox/src/error.rs
  crates/clibox/src/hash.rs
  crates/clibox/src/io.rs
  crates/clibox/src/main.rs
  crates/clibox/src/publication.rs
  crates/clibox/src/runtime.rs
  crates/clibox/src/text.rs
  crates/clibox/src/time.rs
  crates/clibox/tests/utilities.rs
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  packages/AGENTS.md
  packages/clibox/README.md
Due: cargo-fmt

fix(clibox): preserve tokenized child quotes and backslashes
  crates/AGENTS.md
  crates/clibox/README.md
  crates/clibox/src/environment.rs
  crates/clibox/tests/process.rs
  docs/crates-clibox-foundation.md
  packages/clibox/README.md
Due: cargo-fmt

feat(clibox): add TCP HTTP and file readiness waits
  .github/workflows/CI.yml
  .github/workflows/release-clibox.yml
  AGENTS.md
  Cargo.lock
  crates/AGENTS.md
  crates/clibox/Cargo.toml
  crates/clibox/README.md
  crates/clibox/src/cli.rs
  crates/clibox/src/main.rs
  crates/clibox/src/probe.rs
  crates/clibox/src/probe_tests.rs
  crates/clibox/src/wait.rs
  crates/clibox/src/wait_tests.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/wait.rs
  docs/README.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
  scripts/ci/clibox-release.test.mjs
Due: cargo-fmt

fix(clibox): use release binaries for consumer smoke tests
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/scripts/smoke.mjs
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
