Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): archive the active iOS architecture
  apps/devhud/src-tauri/gen/apple/project.yml
Due: none

fix(rust): update quinn-proto dependency
  Cargo.lock
Due: none

fix(devhud): reconcile partial widget resets
  apps/devhud/scripts/check-widget-artifacts.mjs
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  apps/devhud/src/ui/state.tsx
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): match the iOS simulator host target
  apps/devhud/scripts/mobile.mjs
  apps/devhud/src-tauri/gen/apple/project.yml
Due: none

fix(devhud): constrain simulator archive architecture
  apps/devhud/src-tauri/gen/apple/project.yml
Due: none

fix(delibase): preserve refund debt invariants
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

test(delibase): complete shortfall fixture
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

fix(devhud): reconcile desktop failure states
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
Due: cargo-fmt

fix(devhud): preserve generated App Group entitlements
  apps/devhud/native-widgets/ios/project.yml
  apps/devhud/src-tauri/gen/apple/project.yml
Due: none

fix(devhud): allow unrelated Android receivers
  apps/devhud/scripts/check-widget-artifacts.mjs
Due: none

fix(devhud): recover corrupt widget storage on reset
  .github/workflows/CI.yml
  apps/devhud/native-widgets/android/shared/src/main/java/dev/deli/devhud/widget/AndroidWidgetSharedDataAdapter.kt
  apps/devhud/native-widgets/android/widget-foundation/src/test/java/dev/deli/devhud/widget/WidgetConfigurationTest.kt
Due: none

fix(delibase): reconcile reordered Polar billing
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/polar/webhook.go
  servers/delibase/internal/polar/webhook_test.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(security): update vulnerable dependencies (#745)
  Cargo.lock
  go.mod
  go.sum
  package.json
  pnpm-lock.yaml
Due: none

fix(devhud): harden native artifact validation
  .github/workflows/CI.yml
  apps/devhud/native-widgets/android/shared/src/main/java/dev/deli/devhud/widget/AndroidWidgetSharedDataAdapter.kt
  apps/devhud/native-widgets/android/widget-foundation/src/test/java/dev/deli/devhud/widget/WidgetConfigurationTest.kt
  apps/devhud/scripts/check-widget-artifacts.mjs
Due: none

fix(devhud): address desktop shell review
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): exclude Android receiver metadata
  apps/devhud/scripts/check-widget-artifacts.mjs
  apps/devhud/src-tauri/gen/android/app/build.gradle.kts
Due: none

fix(devhud): enforce receiver-free Android artifacts
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/scripts/check-widget-artifacts.mjs
  apps/devhud/scripts/enforce-mobile-generation.mjs
  apps/devhud/src-tauri/gen/android/app/src/main/AndroidManifest.xml
Due: none

fix(devhud): include process runner in widget CI filters
  .github/workflows/CI.yml
Due: none

fix(devhud): satisfy clippy condition checks
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): address production shell review
  Cargo.lock
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/local_log.rs
Due: cargo-fmt

feat(delibase): implement usage service
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/usage.sql
  servers/delibase/internal/api/api_test.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/usage.sql.go
  servers/delibase/internal/polar/client_test.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/team.go
  servers/delibase/internal/service/usage.go
  servers/delibase/internal/service/usage_expiration.go
  servers/delibase/internal/service/usage_integration_test.go
  servers/delibase/internal/service/usage_test.go
Due: go-fmt

test(delibase): prove concurrent usage capacity
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(devhud): address desktop shell review
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/local_log.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
Due: cargo-fmt

fix(delibase): address usage review feedback
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/polar_usage.go
  servers/delibase/internal/service/polar_usage_test.go
  servers/delibase/internal/service/usage.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

test(delibase): provide reservation actor snapshots
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(devhud): address resident shell review
  Cargo.lock
  apps/devhud/README.md
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/single_instance.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/runtime/desktop.ts
  apps/devhud/src/ui/SettingsPanel.tsx
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(delibase): harden usage expiration invariants
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/query/identity.sql
  servers/delibase/db/query/usage.sql
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/usage.sql.go
  servers/delibase/internal/reliability/identifiers.go
  servers/delibase/internal/reliability/identifiers_test.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/service/account.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/team.go
  servers/delibase/internal/service/usage.go
  servers/delibase/internal/service/usage_expiration.go
Due: go-fmt

fix(devhud): preserve shell failure outcomes
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  apps/devhud/src/persistence/tauri.ts
  apps/devhud/src/ui/state.tsx
Due: cargo-fmt

fix(delibase): close usage review gaps
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/internal/service/account.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/team.go
  servers/delibase/internal/service/usage.go
  servers/delibase/internal/service/usage_integration_test.go
  servers/delibase/internal/service/usage_test.go
Due: go-fmt

fix(devhud): address shell review feedback
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/ui/state.tsx
Due: cargo-fmt

fix(delibase): address usage review feedback
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/internal/service/polar_usage.go
  servers/delibase/internal/service/polar_usage_test.go
  servers/delibase/internal/service/usage.go
  servers/delibase/internal/service/usage_expiration.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

test(delibase): split billing period updates
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

test(delibase): isolate usage PostgreSQL cases
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(devhud): reconcile reset outcomes across windows
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  apps/devhud/src/runtime/desktop.ts
  apps/devhud/src/runtime/theme.ts
  apps/devhud/src/ui/state.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(delibase): address usage review feedback
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/billing.sql
  servers/delibase/db/query/identity.sql
  servers/delibase/db/query/usage.sql
  servers/delibase/internal/catalog/catalog.go
  servers/delibase/internal/catalog/catalog_test.go
  servers/delibase/internal/contracts/contracts.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/usage.sql.go
  servers/delibase/internal/database/reliability_integration_test.go
  servers/delibase/internal/polar/client.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(devhud): address reset lifecycle review
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/persistence/contracts.ts
  apps/devhud/src/persistence/storage.ts
  apps/devhud/src/runtime/desktop.ts
  apps/devhud/src/runtime/theme.ts
  apps/devhud/src/ui/state.tsx
Due: cargo-fmt

fix(delibase): close usage review gaps
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/internal/service/account.go
  servers/delibase/internal/service/usage.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(devhud): reconcile early reset failures
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
Due: cargo-fmt

fix(delibase): preserve usage migration contracts
  AGENTS.md
  docs/project-delibase.md
  docs/protos-delibase-api-contract.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/usage.sql.go
  servers/delibase/internal/service/usage.go
  servers/delibase/internal/service/usage_integration_test.go
  servers/delibase/internal/service/usage_test.go
Due: go-fmt

fix(delibase): address usage review feedback
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/internal/service/invitation.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
