Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): settle queued subscriptions on client revocation
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/subscriptions_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/validation.md
Due: go-fmt

fix(delidev): require original absent-removal intent
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

feat(delidev): separate core and optional Agent Worker settings (#1192)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-configuration.css
  apps/delidev/src/agent-configuration.test.tsx
  apps/delidev/src/agent-configuration.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1158/agent-settings.md
  docs/project-delidev.md
Due: none

ci(go): shard Windows tests across four runners
  .github/AGENTS.md
  .github/actions/setup-ci-go/action.yml
  .github/workflows/CI.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/go-test.mjs
  scripts/ci/go-test.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

docs(delidev): record completed race and review verification
  docs/evidence/delidev/issue-1088/validation.md
Due: none

fix(delidev): exclude background-requested failed checkpoints
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_continuation_test.go
  cmds/delidev-cli/internal/server/claude_continuation_test.go
  cmds/delidev-cli/internal/worker/claude_continuation_test.go
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1102/background-requested-review-repair.md
Due: go-fmt

feat(delidev): start the local runtime on desktop launch
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/supervision.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src-tauri/src/tray_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/connection.ts
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-registration.tsx
  apps/delidev/src/settings-devices.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/sidebar.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/devices.go
  cmds/delidev-cli/internal/cli/local_client.go
  cmds/delidev-cli/internal/cli/services_native_test.go
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/cli/startup_command.go
  cmds/delidev-cli/internal/userservice/launch.go
  cmds/delidev-cli/internal/userservice/launch_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-requirements.md
  docs/cmds-delidev-user-services-contract.md
  docs/evidence/delidev/issue-1137/launch-default.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

feat(delidev): track protected browser profiles and device cleanup
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/browser.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/client.go
  cmds/delidev-cli/internal/cli/help.go
  cmds/delidev-cli/internal/domain/browser.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/browser.go
  cmds/delidev-cli/internal/server/browser_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/server_routes.go
  cmds/delidev-cli/internal/store/browser.go
  cmds/delidev-cli/internal/store/store.go
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-browser-contract.md
  docs/evidence/delidev/issue-1087/browser-implementation.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/browser-BrowserService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/browser_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev-BrowserService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/AGENTS.md
  protos/delidev/v1/browser.proto
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/browser.pb.go
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/browser.connect.go
  protos/gen/go/delidev/v1/zz_delidev_compat.go
  scripts/delidev/proto-layout.json
Due: go-fmt

fix(delidev): explain Grok completion retention time
  apps/delidev/src/AGENTS.md
  apps/delidev/src/grok-accounting.tsx
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-usage-contract.md
  docs/evidence/delidev/issue-1100/review-grok-retention-time.md
Due: none

fix(delidev): preserve reconnected predecessor scope
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_account_switch_test.go
  cmds/delidev-cli/internal/server/session_continuation.go
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1097/stopped-account-switch.md
Due: go-fmt

fix(delidev): validate failed storage recovery artifacts
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/workspace_storage.go
  cmds/delidev-cli/internal/server/workspace_storage_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

feat(delidev): embed protected device-local CEF browser panels
  Cargo.lock
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/browser.toml
  apps/delidev/src-tauri/src/browser.rs
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  cmds/delidev-cli/internal/cli/browser_test.go
  cmds/delidev-cli/internal/server/browser.go
  cmds/delidev-cli/internal/server/browser_test.go
  cmds/delidev-cli/internal/store/browser.go
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt, go-fmt

test(delidev): wait for asynchronous preference saves
  apps/delidev/src/settings-preferences.integration.test.tsx
  docs/evidence/delidev/issue-1156/pr-1182-ci-repair.md
Due: none

fix(delidev): recheck all completed deletion copies
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1078/review-repairs.md
Due: go-fmt

docs(delidev): preserve schedule creation evidence by issue
  docs/cmds-delidev-evidence.md
  docs/evidence/delidev/issue-1152/creation-1600.png
  docs/evidence/delidev/issue-1152/creation-200-percent.png
  docs/evidence/delidev/issue-1152/creation-420-error.png
  docs/evidence/delidev/issue-1152/creation-720-error.png
  docs/evidence/delidev/issue-1152/creation-960-error.png
  docs/evidence/delidev/issue-1152/schedule-creation-validation.md
Due: none

fix(delidev): stop restore epoch before database publication
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/backup_restores.go
  cmds/delidev-cli/internal/server/backup_restores_test.go
  cmds/delidev-cli/internal/store/backup_restores.go
  cmds/delidev-cli/internal/store/backup_restores_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): preserve failed job diagnostics during recovery
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/claude_failed_resume_test.go
  cmds/delidev-cli/internal/server/session_execution_recovery.go
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1102/failed-job-diagnostic-review-repair.md
Due: go-fmt

docs(delidev): record Schedules merge validation
  docs/evidence/delidev/issue-1153/main-merge-validation.md
Due: none

feat(delidev): redesign GitHub integration profile settings (#1188)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/github-opening.tsx
  apps/delidev/src/integrations.test.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
  docs/evidence/delidev/issue-1147/integrations-presentation.md
Due: none

docs(delidev): record compaction validation and native limits
  docs/evidence/delidev/issue-1093/native-context-manual-compaction.md
Due: none

fix(delidev): preserve logout revocation through native write-back
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/subscriptions_revocation_test.go
  docs/cmds-delidev-subscription-contract.md
  docs/evidence/delidev/issue-1095/validation.md
Due: go-fmt

fix(delidev): coalesce identical initial PR fix requests
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/pr_fix.go
  cmds/delidev-cli/internal/server/pr_fix_test.go
  cmds/delidev-cli/internal/server/server.go
  docs/cmds-delidev-integrations-contract.md
  docs/evidence/delidev/issue-1081/manual-pr-fix.md
Due: go-fmt

test(delidev): bound real-server preferences save waits
  apps/delidev/src/settings-preferences.integration.test.tsx
  docs/evidence/delidev/issue-1102/preferences-ci-wait-repair.md
Due: none

fix(delidev): pin cleanup to captured source inventory
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/snapshot_capture.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): bind final backup deletion inventory
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/session_deletion_backups.go
  cmds/delidev-cli/internal/store/session_deletions_test.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1078/review-repairs.md
Due: go-fmt

test(delidev): scope subscription provider fixture queries
  apps/delidev/src/settings-subscriptions.integration.test.tsx
Due: none

docs(delidev): record complete schedule creation package validation
  docs/evidence/delidev/issue-1152/schedule-creation-validation.md
Due: none

test(delidev): retain original initial Plan completion
  cmds/delidev-cli/internal/server/grok_tools_test.go
Due: go-fmt

docs(delidev): record passing PR maintenance validation
  docs/evidence/delidev/issue-1156/pr-1182-full-validation.md
Due: none

fix(delidev): persist restore directory before live publication
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/backup_restores.go
  cmds/delidev-cli/internal/store/backup_restores_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

docs(delidev): record complete frontend repair validation
  docs/evidence/delidev/issue-1100/full-race-validation.md
  docs/evidence/delidev/issue-1100/grok-accounting.md
  docs/evidence/delidev/issue-1100/review-repair-validation.md
Due: none

test(delidev): verify joined launch authority and record validation
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/tests.rs
  cmds/delidev-cli/internal/cli/devices.go
  docs/evidence/delidev/issue-1137/launch-default.md
Due: cargo-fmt, go-fmt

fix(delidev): isolate child documents from session stream cache
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-subagents.test.tsx
  apps/delidev/src/session.tsx
  docs/cmds-delidev-subagents-contract.md
Due: none

fix(delidev): replay deletion acknowledgments read-only
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/session_deletions_test.go
  docs/cmds-delidev-storage-contract.md
  docs/evidence/delidev/issue-1078/review-repairs.md
Due: go-fmt

test(delidev): verify retained CI fixes through exact acceptance
  cmds/delidev-cli/internal/server/pr_fix_test.go
  docs/evidence/delidev/issue-1081/manual-pr-fix.md
Due: go-fmt

fix(delidev): preserve reserved worker capability numbers
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

docs(delidev): record public Grok validation and suite limits
  docs/evidence/delidev/issue-1091/public-grok-interactions.md
Due: none

fix(delidev): guard browser ownership and retain cleanup disclosures
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/configuration-browser-cleanup.test.tsx
  apps/delidev/src/session-browser.test.tsx
  cmds/delidev-cli/internal/server/browser.go
  cmds/delidev-cli/internal/server/browser_test.go
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt, go-fmt

docs(delidev): record Home navigation validation and limits
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1161/home-navigation.md
Due: none

docs(delidev): record subscription UI validation boundaries
  docs/apps-delidev-subscription-settings-contract.md
  docs/evidence/delidev/issue-1143/subscription-ui-validation.md
Due: none
