Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): retain Claude task metadata across reports
  cmds/delidev-cli/internal/server/subagent_source_fields_test.go
  cmds/delidev-cli/internal/server/subagents.go
Due: go-fmt

fix(delidev): validate nested Claude parent tools
  apps/delidev/src/subagent-page.test.tsx
  apps/delidev/src/subagent-record.ts
Due: none

Bound managed subscription native access
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_security_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(pnport): publish preload failures atomically
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(delidev): revalidate workspace root membership
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
Due: go-fmt

fix(delidev): recover published restores after edits
  cmds/delidev-cli/internal/workspace/restore_identity_test.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
Due: go-fmt

fix(delidev): restore recovery predecessor on cancel
  cmds/delidev-cli/internal/server/workspace_storage.go
  cmds/delidev-cli/internal/server/workspace_storage_test.go
Due: go-fmt

fix(delidev): persist storage retirement before reporting
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/storage_retirement.go
  cmds/delidev-cli/internal/worker/workspace_storage_test.go
Due: go-fmt

fix(delidev): propagate Windows Git long paths
  cmds/delidev-cli/internal/workspace/git.go
Due: go-fmt

fix(pnport): preserve native macOS descendant exec errors (#1294)
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/executable.rs
  crates/pnport/tests/exec-replace.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(pnport): retain failures published before child exit
  crates/AGENTS.md
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

test(pnport): diagnose native concurrent fork failures
  .github/AGENTS.md
  .github/workflows/release-pnport.yml
  crates/pnport/src/linux.rs
  docs/packages-pnport-distribution-contract.md
Due: cargo-fmt

fix(clibox): honor min-repro directory selectors and limits (#1280)
  crates/AGENTS.md
  crates/clibox-fspy/src/repro.rs
  crates/clibox-fspy/src/windows.rs
  crates/clibox/tests/fspy_repro.rs
  crates/fspy_preload_windows/src/windows/detours/nt.rs
  crates/fspy_preload_windows/src/windows/operation.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

Remove repository validation evidence records
  docs/evidence/delidev/issue-1093/actor-receipt-regression.md
  docs/evidence/delidev/issue-1093/cli-main-baseline.md
  docs/evidence/delidev/issue-1093/earlier-aggregate-race-result.md
  docs/evidence/delidev/issue-1093/latest-main-composition.md
  docs/evidence/delidev/issue-1093/main-merge-maintenance.md
  docs/evidence/delidev/issue-1093/native-context-manual-compaction.md
  docs/evidence/delidev/issue-1093/native-replacement-validation.md
  docs/evidence/delidev/issue-1093/replacement-acceptance-limits.md
  docs/evidence/delidev/issue-1093/replacement-main-validation.md
  docs/evidence/delidev/issue-1093/review-checkpoint-claims.md
  docs/evidence/delidev/issue-1093/review-claimed-cancellation.md
  docs/evidence/delidev/issue-1093/review-exclusive-claims.md
  docs/evidence/delidev/issue-1093/shared-contract-composition.md
  docs/evidence/delidev/issue-1093/stable-race-maintenance-result.md
Due: none

Allow bounded compaction jobs in persistence
  cmds/delidev-cli/internal/domain/identity.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/store_test.go
Due: go-fmt

Reject compaction after installation drift
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_compaction_test.go
Due: go-fmt

fix(pnport): satisfy clippy boolean simplification
  crates/pnport-core/src/view.rs
Due: cargo-fmt

fix(pnport): log native fork validation attempts
  .github/workflows/release-pnport.yml
Due: none

fix(pnport): limit virtual node_modules to package roots (#1295)
  crates/AGENTS.md
  crates/pnport-core/src/view.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/directory-listing.c
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

chore(delidev): refresh generated subscription client
  packages/delidev-api-client/src/gen/delidev/v1/subscription_pb.ts
Due: none

test(delidev): accept edits during restore recovery
  cmds/delidev-cli/internal/workspace/snapshots_test.go
Due: go-fmt

fix(delidev): retain cleanup intent before cancellation
  cmds/delidev-cli/internal/workspace/snapshots.go
Due: go-fmt

fix(pnport): preserve failures at native child completion (#1296)
  .github/AGENTS.md
  .github/workflows/release-pnport.yml
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
Due: cargo-fmt

fix(pnport): allow Linux IPC with optional control buffers
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/recvmsg.c
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(pnport): copy receive name length only for named buffers
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/recvmsg.c
Due: cargo-fmt

test(pnport): bound receive probes and target interruption signals
  crates/pnport/tests/core.rs
  crates/pnport/tests/recvmsg.c
Due: cargo-fmt

test(pnport): verify native TypeScript peer contexts
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/typescript-conformance.mjs
  packages/pnport/test/fixtures/typescript/fixture-packages/peer-blue/index.d.ts
  packages/pnport/test/fixtures/typescript/fixture-packages/peer-blue/package.json
  packages/pnport/test/fixtures/typescript/fixture-packages/peer-consumer/index.d.ts
  packages/pnport/test/fixtures/typescript/fixture-packages/peer-consumer/package.json
  packages/pnport/test/fixtures/typescript/fixture-packages/peer-red/index.d.ts
  packages/pnport/test/fixtures/typescript/fixture-packages/peer-red/package.json
  packages/pnport/test/fixtures/typescript/package.json
  packages/pnport/test/fixtures/typescript/packages/peer-blue/package.json
  packages/pnport/test/fixtures/typescript/packages/peer-blue/src/index.ts
  packages/pnport/test/fixtures/typescript/packages/peer-blue/tsconfig.json
  packages/pnport/test/fixtures/typescript/packages/peer-red/package.json
  packages/pnport/test/fixtures/typescript/packages/peer-red/src/index.ts
  packages/pnport/test/fixtures/typescript/packages/peer-red/tsconfig.json
  packages/pnport/test/fixtures/typescript/tsconfig.json
  packages/pnport/test/fixtures/typescript/yarn.lock
Due: none

fix(pnport): support Linux Turbopack IPC (#1297)
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/recvmsg.c
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

feat(pnport): prepare an explicit npm next preview channel
  .github/AGENTS.md
  .github/workflows/release-pnport.yml
  .github/workflows/release-project.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/pnport/getting-started.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/releases.md
  crates/AGENTS.md
  docs/apps-pnport-docs-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/README.md
  packages/pnport/package.json
  packages/pnport/scripts/common.mjs
  packages/pnport/scripts/github-release.mjs
  packages/pnport/scripts/homebrew.mjs
  packages/pnport/scripts/publish.mjs
  packages/pnport/scripts/version.mjs
  scripts/install/pnport.sh
  scripts/release/pnport-distribution.test.mjs
  scripts/release/pnport-matrix.test.mjs
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: none

docs(pnport): keep packaged preview availability registry-bound
  packages/pnport/README.md
Due: none

fix(pnport): package the authorized preview version
  packages/pnport/scripts/manifests.mjs
  packages/pnport/scripts/package.mjs
  packages/pnport/test/launcher.test.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

test(release): prepare a nonpublishing pnport next candidate
  Cargo.lock
  crates/pnport-core/Cargo.toml
  crates/pnport-preload/Cargo.toml
  crates/pnport/Cargo.toml
  packages/pnport/package.json
Due: none

test(release): validate the pnport next candidate with Linux IPC
  Cargo.lock
  crates/pnport-core/Cargo.toml
  crates/pnport-preload/Cargo.toml
  crates/pnport/Cargo.toml
  packages/pnport/package.json
Due: none

docs(pnport): clarify stable benchmark acceptance gate
  docs/packages-pnport-distribution-contract.md
Due: none

fix(pnport): preserve verified npm bootstrap placeholders
  .github/AGENTS.md
  AGENTS.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/publish.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

fix(pnport): preserve verified npm bootstrap placeholders (#1299)
  .github/AGENTS.md
  AGENTS.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/publish.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
