Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): await Windows CEF smoke readiness
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

feat(mpapp): include Expo app in root dev workflow
  AGENTS.md
  apps/AGENTS.md
  apps/mpapp/package.json
  docs/apps-mpapp-foundation.md
  docs/project-mpapp.md
  docs/repository-defaults.md
  package.json
  scripts/check-dev-contract.mjs
Due: none

fix(devhud): finalize Windows capture review
  apps/devhud/scripts/check-realqa-windows.mjs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

chore(deps): configure renovate
  AGENTS.md
  docs/repository-defaults.md
  renovate.json
Due: none

revert(docs): remove renovate documentation
  AGENTS.md
  docs/repository-defaults.md
Due: none

fix(devhud): retain early macOS capture cancellation
  apps/devhud/src-tauri/src/realqa_capture/macos.rs
Due: cargo-fmt

fix(devhud): bound editor raster work
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

ci(devhud): install arm64 cross compiler
  .github/workflows/CI.yml
Due: none

chore(deps): configure Renovate (#776)
  renovate.json
Due: none

fix(devhud): retain capture session through encoding
  apps/devhud/src-tauri/src/realqa_capture/macos.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(devhud): bind Windows captures to resolved sources
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(devhud): address screenshot editor review feedback
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src/realqa/capture.test.ts
  apps/devhud/src/realqa/capture.ts
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): retain Windows capture source lifetimes
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

test(realqa): activate GitHub installation fixtures
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(devhud): bound flatten request work
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

test(realqa): configure GitHub App authorization fixture
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(devhud): retry transient Windows CEF startup
  apps/devhud/scripts/smoke-desktop.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): retry transient CEF teardown crashes
  apps/devhud/scripts/smoke-desktop.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(realqa): address GitHub provider review
  docs/servers-devhud-realqa-foundation.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/cmd/devhud-realqa/main.go
  servers/devhud-realqa/db/migrations/000004_github_provider.sql
  servers/devhud-realqa/db/query/github_provider.sql
  servers/devhud-realqa/db/query/tracker.sql
  servers/devhud-realqa/internal/database/dbgen/github_provider.sql.go
  servers/devhud-realqa/internal/database/dbgen/models.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/tracker.sql.go
  servers/devhud-realqa/internal/github/adapter.go
  servers/devhud-realqa/internal/github/authorization.go
  servers/devhud-realqa/internal/github/authorization_test.go
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/github/postgres.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/service/preset.go
  servers/devhud-realqa/internal/service/service.go
  servers/devhud-realqa/internal/service/tracker.go
Due: go-fmt

fix(devhud): identify hosted CEF teardown
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/src/lib.rs
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): bound composer image inputs
  apps/devhud/src-tauri/src/realqa_capture/image_boundary.rs
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  apps/devhud/src/realqa/editor/model.test.ts
  apps/devhud/src/realqa/editor/model.ts
Due: cargo-fmt

fix(devhud): satisfy image visitor clippy
  apps/devhud/src-tauri/src/realqa_capture/image_boundary.rs
Due: cargo-fmt

fix(devhud): escape smoke shutdown marker
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): satisfy smoke marker lint
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): enforce editor preview bounds
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  apps/devhud/src/realqa/editor/model.test.ts
  apps/devhud/src/realqa/editor/model.ts
  docs/apps-devhud-foundation.md
Due: none

fix(realqa): address GitHub provider review
  docs/servers-devhud-realqa-foundation.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/db/query/access.sql
  servers/devhud-realqa/internal/database/dbgen/access.sql.go
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/github/postgres.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/github/types.go
Due: go-fmt

fix(devhud): align rectangle preview endpoints
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
Due: none

fix(realqa): address provider lifecycle review
  docs/servers-devhud-realqa-foundation.md
  servers/AGENTS.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/cmd/devhud-realqa/main.go
  servers/devhud-realqa/db/query/access.sql
  servers/devhud-realqa/db/query/reliability.sql
  servers/devhud-realqa/internal/config/config.go
  servers/devhud-realqa/internal/config/config_test.go
  servers/devhud-realqa/internal/database/dbgen/access.sql.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/reliability.sql.go
  servers/devhud-realqa/internal/github/adapter.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/credential.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): use valid lifecycle identity digest
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(devhud): bound editor preview and flatten workers
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(realqa): address GitHub adapter review
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
Due: go-fmt

fix(devhud): address editor processing review
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(realqa): address provider callback and paging review
  servers/devhud-realqa/db/query/github_provider.sql
  servers/devhud-realqa/db/query/tracker.sql
  servers/devhud-realqa/internal/database/dbgen/github_provider.sql.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/tracker.sql.go
  servers/devhud-realqa/internal/github/adapter.go
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/github/postgres.go
  servers/devhud-realqa/internal/github/types.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/service.go
  servers/devhud-realqa/internal/service/tracker.go
Due: go-fmt

ci(delibase): serialize PostgreSQL test packages
  .github/workflows/CI.yml
  AGENTS.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/scripts/test-postgres.sh
Due: none

fix(devhud): bound source previews and accept races
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_capture/image_boundary.rs
  apps/devhud/src/realqa/capture.ts
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

test(delibase): stabilize usage fixture references
  .github/workflows/CI.yml
  AGENTS.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/internal/service/usage_integration_test.go
  servers/delibase/scripts/test-postgres.sh
Due: go-fmt

fix(realqa): address GitHub schema review
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  protos/devhud-realqa/devhud.realqa.v1.binpb
  protos/devhud-realqa/gen/go/devhud-realqa/v1/tracker.pb.go
  protos/devhud-realqa/gen/ts/devhud-realqa/v1/tracker_pb.ts
  protos/devhud-realqa/v1/tracker.proto
  servers/AGENTS.md
  servers/devhud-realqa/db/migrations/000005_repository_schema_revision.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/query/github_provider.sql
  servers/devhud-realqa/internal/database/dbgen/github_provider.sql.go
  servers/devhud-realqa/internal/database/dbgen/models.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/github/adapter.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/tracker.go
  servers/devhud-realqa/internal/service/tracker_test.go
Due: go-fmt

fix(realqa): preserve GitHub issue metadata
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  protos/devhud-realqa/devhud.realqa.v1.binpb
  protos/devhud-realqa/gen/go/devhud-realqa/v1/tracker.pb.go
  protos/devhud-realqa/gen/ts/devhud-realqa/v1/tracker_pb.ts
  protos/devhud-realqa/v1/tracker.proto
  servers/AGENTS.md
  servers/devhud-realqa/internal/github/body.go
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/github/types.go
  servers/devhud-realqa/internal/service/tracker.go
  servers/devhud-realqa/internal/service/tracker_test.go
Due: go-fmt

fix(devhud): integrate editor capture diagnostics
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
