Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(nodeup): implement self command flows (#81)
  crates/nodeup/src/commands/mod.rs
  crates/nodeup/src/commands/self_cmd.rs
  crates/nodeup/src/commands/skeleton.rs
  crates/nodeup/src/overrides.rs
  crates/nodeup/src/store.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(nodeup): keep run json output parseable by separating delegated streams
  crates/nodeup/src/commands/run_cmd.rs
  crates/nodeup/src/dispatch.rs
  crates/nodeup/src/process.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(derun): persist startup-failure sessions for MCP discovery
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  cmds/derun/internal/state/store.go
  cmds/derun/internal/state/store_test.go
  docs/project-derun.md
Due: go-fmt

fix(derun): clean expired unreadable sessions in retention sweep
  cmds/derun/internal/retention/gc.go
  cmds/derun/internal/retention/gc_test.go
  docs/project-derun.md
Due: go-fmt

fix(cargo-mono): allow help outside workspace
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

feat(mpapp): model disconnect reasons and reconnect guidance
  apps/mpapp/App.tsx
  apps/mpapp/src/__tests__/disconnect-reason.test.ts
  apps/mpapp/src/__tests__/session-machine.test.ts
  apps/mpapp/src/__tests__/session-status-guidance.test.ts
  apps/mpapp/src/components/session-status.tsx
  apps/mpapp/src/contracts/enums.ts
  apps/mpapp/src/state/disconnect-reason.ts
  apps/mpapp/src/state/session-machine.ts
  docs/project-mpapp.md
Due: none

fix(cargo-mono): update root workspace dependency pins on bump
  crates/cargo-mono/src/versioning.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(derun): persist startup-failure sessions for MCP discovery
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  docs/project-derun.md
Due: go-fmt

fix(nodeup): keep run --output json machine-parseable (#91)
  crates/nodeup/src/commands/run_cmd.rs
  crates/nodeup/src/dispatch.rs
  crates/nodeup/src/process.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(derun): add cleanup_reason for readable expired removals
  cmds/derun/internal/retention/gc.go
  cmds/derun/internal/retention/gc_test.go
  docs/project-derun.md
Due: go-fmt

fix(mpapp): model disconnect reasons and reconnect guidance (#95)
  apps/mpapp/App.tsx
  apps/mpapp/src/__tests__/disconnect-reason.test.ts
  apps/mpapp/src/__tests__/session-machine.test.ts
  apps/mpapp/src/__tests__/session-status-guidance.test.ts
  apps/mpapp/src/components/session-status.tsx
  apps/mpapp/src/contracts/enums.ts
  apps/mpapp/src/state/disconnect-reason.ts
  apps/mpapp/src/state/session-machine.ts
  docs/project-mpapp.md
Due: none

fix(cargo-mono): update root workspace dependency pins on bump (#94)
  crates/cargo-mono/src/versioning.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(cargo-mono): allow help/version outside workspaces (#93)
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(derun): clean expired unreadable sessions in retention sweep (#92)
  cmds/derun/internal/retention/gc.go
  cmds/derun/internal/retention/gc_test.go
  docs/project-derun.md
Due: go-fmt

fix(nodeup): preserve signal exit codes for delegated processes
  crates/nodeup/src/process.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(derun): persist startup-failure sessions for MCP discovery (#96)
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  docs/project-derun.md
Due: go-fmt

fix(derun): unify missing-session errors for read/wait
  cmds/derun/internal/mcp/tools_read_wait.go
  cmds/derun/internal/mcp/tools_test.go
  cmds/derun/internal/state/store.go
  cmds/derun/internal/state/store_test.go
  docs/project-derun.md
Due: go-fmt

fix(cargo-mono): preflight dirty-tree checks before metadata
  crates/cargo-mono/src/commands/bump.rs
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(thenv): align CLI logging baseline fields
  cmds/thenv/internal/cli/root.go
  cmds/thenv/internal/cli/root_test.go
  cmds/thenv/internal/contracts/enums.go
  cmds/thenv/internal/logging/logger.go
  docs/project-thenv.md
Due: go-fmt

fix(nodeup): preserve signal-derived exits for delegated processes (#98)
  crates/nodeup/src/process.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

fix(derun): unify missing-session errors for read/wait (#102)
  cmds/derun/internal/mcp/tools_read_wait.go
  cmds/derun/internal/mcp/tools_test.go
  cmds/derun/internal/state/store.go
  cmds/derun/internal/state/store_test.go
  docs/project-derun.md
Due: go-fmt

fix(thenv): classify unauthenticated CLI rejections as denied
  cmds/thenv/internal/cli/root.go
  cmds/thenv/internal/cli/root_test.go
  docs/project-thenv.md
Due: go-fmt

fix(cargo-mono): preserve invocation logs on preflight failure
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/tests/cli.rs
Due: cargo-fmt

chore(repo): pin Node 24 via .nvmrc
  .nvmrc
  docs/monorepo.md
Due: none

feat(commit-tracker): add github actions report subcommand
  cmds/commit-tracker/internal/cli/github_context.go
  cmds/commit-tracker/internal/cli/github_output.go
  cmds/commit-tracker/internal/cli/report.go
  cmds/commit-tracker/internal/cli/root.go
  cmds/commit-tracker/internal/cli/root_test.go
  cmds/commit-tracker/internal/contracts/enums.go
  docs/project-devkit-commit-tracker.md
Due: go-fmt

chore(repo): add .nvmrc for Node 24 LTS (#106)
  .nvmrc
  docs/monorepo.md
Due: none

fix(cargo-mono): preflight dirty-tree checks before metadata (#103)
  crates/cargo-mono/src/commands/bump.rs
  crates/cargo-mono/src/commands/mod.rs
  crates/cargo-mono/src/commands/publish.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(thenv): align CLI structured logging baseline with docs (#104)
  cmds/thenv/internal/cli/root.go
  cmds/thenv/internal/cli/root_test.go
  cmds/thenv/internal/contracts/enums.go
  cmds/thenv/internal/logging/logger.go
  docs/project-thenv.md
Due: go-fmt

fix(cargo-mono): normalize cargo external-subcommand argv
  crates/cargo-mono/src/cli.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(commit-tracker): preserve raw github output values
  cmds/commit-tracker/internal/cli/github_output.go
  cmds/commit-tracker/internal/cli/github_output_test.go
  docs/project-devkit-commit-tracker.md
Due: go-fmt

docs(devmon): add project contract and monorepo map
  AGENTS.md
  cmds/AGENTS.md
  docs/monorepo.md
  docs/project-devmon.md
Due: none

fix(derun): reject dot-alias session ids
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_test.go
  cmds/derun/internal/state/store.go
  cmds/derun/internal/state/store_test.go
  docs/project-derun.md
Due: go-fmt

fix(cargo-mono): normalize cargo external-subcommand argv (#108)
  crates/cargo-mono/src/cli.rs
  crates/cargo-mono/src/main.rs
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

fix(nodeup): make multi-runtime uninstall prevalidated and atomic
  crates/nodeup/src/commands/toolchain.rs
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

feat(devkit-thenv): add audit query/outcome plumbing
  apps/devkit/src/app/api/thenv/audit/route.ts
  apps/devkit/src/apps/thenv/api-client.ts
  apps/devkit/src/apps/thenv/contracts.ts
  apps/devkit/src/apps/thenv/thenv-console.tsx
Due: none

fix(commit-tracker): prefer PR head sha from event payload
  cmds/commit-tracker/internal/cli/github_context.go
  cmds/commit-tracker/internal/cli/report.go
  cmds/commit-tracker/internal/cli/root_test.go
  docs/project-devkit-commit-tracker.md
Due: go-fmt

fix(devkit): align commit-tracker web logs with structured fields
  apps/devkit/src/app/apps/commit-tracker/page.test.tsx
  apps/devkit/src/apps/commit-tracker/commit-tracker-app.tsx
  apps/devkit/src/apps/commit-tracker/logging.ts
  docs/project-devkit-commit-tracker.md
Due: none

feat(mpapp): add coalesced 60hz move sampling policy
  apps/mpapp/App.tsx
  apps/mpapp/src/__tests__/move-sampling-policy.test.ts
  apps/mpapp/src/components/touchpad-surface.tsx
  apps/mpapp/src/contracts/enums.ts
  apps/mpapp/src/input/move-sampling-policy.ts
  docs/project-mpapp.md
Due: none

feat(devkit-thenv): add audit outcome table and time filters
  apps/devkit/src/app/api/thenv/audit/route.test.ts
  apps/devkit/src/app/apps/thenv/page.test.tsx
  apps/devkit/src/app/globals.css
  apps/devkit/src/apps/thenv/thenv-console.tsx
Due: none

docs(thenv): document audit outcome and time filters
  apps/devkit/src/apps/thenv/README.md
  docs/project-thenv.md
Due: none
