Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

chore(delidev): reserve independent OpenCode foreground child capabilities
  docs/cmds-delidev-structure-contract.md
  protos/delidev/allocations.json
Due: none

fix(pnport): lease constructor acknowledgements until native readiness
  crates/AGENTS.md
  crates/fspy_preload_unix/src/lib.rs
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/launch.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/core.rs
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/package.mjs
  scripts/release/pnport-distribution.test.mjs
Due: cargo-fmt

test(pnport): inspect macOS companion fixtures across Unix hosts
  scripts/release/pnport-distribution.test.mjs
Due: none

fix(pnport): publish initializer diagnostics before releasing the launch lease
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/launch.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): confirm constructor entry and failure records before deadline rejection
  crates/AGENTS.md
  crates/pnport/src/supervisor.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): reject mismatched Mach-O companions before native readiness
  crates/AGENTS.md
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(delidev): reject unsupported OpenCode task arguments before native execution
  cmds/delidev-cli/internal/apiproxy/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/opencode_tasks.go
  cmds/delidev-cli/internal/apiproxy/opencode_tasks_test.go
  cmds/delidev-cli/internal/apiproxy/stream.go
  docs/cmds-delidev-proxy-contract.md
  docs/cmds-delidev-subagents-contract.md
Due: go-fmt

docs(delidev): reserve independent Codex and OpenCode compaction profiles
  docs/cmds-delidev-structure-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

fix(pnport): enforce descendant readiness and matching macOS companions (#1306)
  crates/AGENTS.md
  crates/fspy_preload_unix/src/lib.rs
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/launch.rs
  crates/pnport-core/src/lib.rs
  crates/pnport/src/lib.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/process_lifecycle.rs
  crates/pnport/tests/terminal-driver.c
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/package.mjs
  scripts/release/pnport-distribution.test.mjs
Due: cargo-fmt

feat(delidev): retain original Codex context compaction observations
  apps/delidev/src/native-context-compaction.test.tsx
  apps/delidev/src/native-context-compaction.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/domain/execution_artifacts.go
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/native_compaction.go
  cmds/delidev-cli/internal/domain/native_compaction_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/compaction_test.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/native_compaction_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/server/execution_artifacts.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_native_compaction_test.go
  cmds/delidev-cli/internal/worker/codex_events.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

fix(pnport): serialize terminal fixture placement and record startup stages
  crates/AGENTS.md
  crates/pnport/src/main.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/process_lifecycle.rs
  crates/pnport/tests/terminal-driver.c
  docs/crates-pnport-foundation.md
Due: cargo-fmt

feat(delidev): pin complete Codex compaction lineage across native continuation
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/session_compaction.go
  cmds/delidev-cli/internal/domain/session_compaction_result_test.go
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/continuation.go
  cmds/delidev-cli/internal/harness/codex/continuation_context.go
  cmds/delidev-cli/internal/harness/codex/continuation_context_test.go
  cmds/delidev-cli/internal/harness/codex/native_auto_compaction_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/native_compaction_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_checkpoint.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

feat(delidev): complete OpenCode manual compaction product flow
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-context.test.tsx
  apps/delidev/src/session-context.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/session_compaction.go
  cmds/delidev-cli/internal/domain/session_compaction_opencode.go
  cmds/delidev-cli/internal/domain/session_compaction_result_test.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/compaction_checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/compaction_context.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_compaction_authority.go
  cmds/delidev-cli/internal/server/session_compaction_test.go
  cmds/delidev-cli/internal/server/session_context.go
  cmds/delidev-cli/internal/server/session_continuation_test.go
  cmds/delidev-cli/internal/server/session_opencode_compaction_native_test.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/opencode_execution.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/session_compaction.go
  cmds/delidev-cli/internal/worker/session_compaction_opencode.go
  docs/cmds-delidev-compaction-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/session_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/v1/session.proto
  protos/delidev/v1/system.proto
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/session.pb.go
  protos/gen/go/delidev/v1/system.pb.go
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

Reserve independent OpenCode General Chat fork capabilities
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/system.proto
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/system.pb.go
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

Preserve original OpenCode pruning and recent native tails
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/opencode_context.go
  cmds/delidev-cli/internal/domain/opencode_context_test.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/api_profile.go
  cmds/delidev-cli/internal/harness/opencode/api_runtime.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history_test.go
  cmds/delidev-cli/internal/harness/opencode/compaction_pruning_native_test.go
  cmds/delidev-cli/internal/worker/opencode_execution.go
  cmds/delidev-cli/internal/worker/session_compaction_opencode.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

feat(delidev): verify native OpenCode General Chat fork preparation
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_resume.go
  cmds/delidev-cli/internal/harness/opencode/claims.go
  cmds/delidev-cli/internal/harness/opencode/fork.go
  cmds/delidev-cli/internal/harness/opencode/fork_history.go
  cmds/delidev-cli/internal/harness/opencode/fork_native_test.go
  cmds/delidev-cli/internal/harness/opencode/fork_session.go
  cmds/delidev-cli/internal/harness/opencode/fork_test.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_http.go
  docs/cmds-delidev-forks-contract.md
  docs/project-delidev.md
Due: go-fmt

Reserve provider expansion identities after OAuth migration ownership
  cmds/delidev-cli/internal/store/migration-reservations.json
  docs/cmds-delidev-provider-activation-contract.md
  protos/delidev/allocations.json
Due: none

feat(delidev): integrate trusted desktop OpenRouter OAuth flow
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src-tauri/src/oauth_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/desktop.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/account_oauth.go
  cmds/delidev-cli/internal/cli/account_oauth_test.go
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_http.go
  cmds/delidev-cli/internal/server/account_oauth_http_test.go
  cmds/delidev-cli/internal/server/account_oauth_test.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/catalog_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/account_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/account.proto
  protos/delidev/v1/provider.proto
  protos/gen/go/delidev/v1/account.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/account.connect.go
Due: cargo-fmt, go-fmt

docs(delidev): establish native read-only Sidechat ownership
  AGENTS.md
  cmds/delidev-cli/AGENTS.md
  docs/README.md
  docs/cmds-delidev-sidechat-contract.md
  docs/project-delidev.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

feat(delidev): enforce pinned native read-only Sidechat profile
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/approval_response.go
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/native_fork_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/native_sidechat_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/sidechat.go
  cmds/delidev-cli/internal/harness/codex/sidechat_test.go
  cmds/delidev-cli/internal/harness/codex/thread.go
  cmds/delidev-cli/internal/harness/codex/turn.go
Due: go-fmt

feat(delidev): retain Sidechat workspace references behind joined cleanup
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  cmds/delidev-cli/internal/workspace/result.go
  cmds/delidev-cli/internal/workspace/sidechat.go
  cmds/delidev-cli/internal/workspace/sidechat_test.go
  cmds/delidev-cli/internal/workspace/snapshots.go
  cmds/delidev-cli/internal/workspace/terminal.go
Due: go-fmt

feat(delidev): add desktop workspace storage and permanent deletion
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/session-storage.test.tsx
  apps/delidev/src/session-storage.tsx
  apps/delidev/src/session.tsx
  docs/cmds-delidev-storage-contract.md
  docs/project-delidev.md
Due: none

docs(delidev): reserve signed updates and SSH setup ownership
  apps/delidev/src-tauri/AGENTS.md
  cmds/delidev-cli/AGENTS.md
  docs/README.md
  docs/cmds-delidev-ssh-setup-contract.md
  docs/cmds-delidev-updates-contract.md
  docs/project-delidev.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

feat(delidev): verify dedicated signed release inventories and downloads
  cmds/delidev-cli/internal/updates/AGENTS.md
  cmds/delidev-cli/internal/updates/download.go
  cmds/delidev-cli/internal/updates/manifest.go
  cmds/delidev-cli/internal/updates/manifest_test.go
  cmds/delidev-cli/internal/updates/trust-root.json
  scripts/release/generate-delidev-updater.mjs
  scripts/release/generate-delidev-updater.test.mjs
Due: go-fmt

feat(delidev): pin observed SSH hosts before credential authentication
  cmds/delidev-cli/internal/sshsetup/AGENTS.md
  cmds/delidev-cli/internal/sshsetup/transport.go
  cmds/delidev-cli/internal/sshsetup/transport_test.go
  cmds/delidev-cli/internal/updates/manifest_test.go
Due: go-fmt

docs(delidev): allocate installation RPC request and response schemas
  protos/delidev/allocations.json
Due: none

fix(pnport): serialize terminal setup and retain early startup diagnostics (#1307)
  crates/AGENTS.md
  crates/pnport/src/main.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/process_lifecycle.rs
  crates/pnport/tests/terminal-driver.c
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): own detached macOS processes by native audit identity
  Cargo.lock
  crates/AGENTS.md
  crates/fspy_preload_unix/src/lib.rs
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport-core/src/lib.rs
  crates/pnport-core/src/macos_process.rs
  crates/pnport/Cargo.toml
  crates/pnport/src/macos_job.rs
  crates/pnport/src/macos_owner.rs
  crates/pnport/src/macos_registry.rs
  crates/pnport/src/main.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/core.rs
  crates/pnport/tests/process-group.c
  crates/pnport/tests/process-tree.c
  crates/pnport/tests/process_lifecycle.rs
  crates/pnport/tests/terminal-driver.c
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/package.mjs
  scripts/release/pnport-distribution.test.mjs
Due: cargo-fmt

fix(pnport): preserve detached-root terminal cancellation and shutdown ordering
  crates/AGENTS.md
  crates/pnport-core/src/macos_process.rs
  crates/pnport/src/macos_job.rs
  crates/pnport/src/macos_owner.rs
  crates/pnport/src/macos_registry.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/process-tree.c
  crates/pnport/tests/process_lifecycle.rs
  crates/pnport/tests/terminal-driver.c
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
Due: cargo-fmt

chore(delidev): reserve exact original update reconciliation selector
  protos/delidev/allocations.json
Due: none

fix(delidev): reconcile original Worker updates after response loss
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/worker_lifecycle.go
  cmds/delidev-cli/internal/cli/worker_updates.go
  cmds/delidev-cli/internal/server/updates.go
  cmds/delidev-cli/internal/server/updates_native_test.go
  cmds/delidev-cli/internal/server/updates_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/updates.go
  docs/cmds-delidev-updates-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/installation_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/installation.proto
  protos/gen/go/delidev/v1/installation.pb.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
