Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

test(delidev): follow accepted account cleanup flow
  apps/delidev/src/settings-subscriptions.integration.test.tsx
Due: none

docs(delidev): record restore validation and main fixture failure
  docs/evidence/delidev/issue-1080/validation-14330c62.md
Due: none

fix(delidev): separate Windows OpenCode global root authority
  cmds/delidev-cli/internal/harness/opencode/api_profile.go
  cmds/delidev-cli/internal/harness/opencode/api_runtime.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_history.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_resume.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_resume_native_test.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_roots.go
  cmds/delidev-cli/internal/harness/opencode/checkpoint_roots_test.go
  cmds/delidev-cli/internal/harness/opencode/instructions.go
  cmds/delidev-cli/internal/harness/opencode/native_api_test.go
  cmds/delidev-cli/internal/harness/opencode/observer.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_reconcile.go
  cmds/delidev-cli/internal/harness/opencode/testdata/checkpoint-v1-unix.json
  cmds/delidev-cli/internal/harness/opencode/testdata/checkpoint-v1-windows.json
  cmds/delidev-cli/internal/harness/opencode/workspace_root.go
  cmds/delidev-cli/internal/harness/opencode/workspace_root_test.go
  cmds/delidev-cli/internal/harness/opencode/workspace_root_windows_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_opencode_native_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_native_test.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
  cmds/delidev-cli/internal/server/session_opencode_native_windows_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/opencode_execution.go
  cmds/delidev-cli/internal/worker/opencode_execution_test.go
  cmds/delidev-cli/internal/worker/opencode_inspection.go
  cmds/delidev-cli/internal/worker/opencode_native_test.go
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/evidence/delidev/issue-1205/windows-root-validation.md
Due: go-fmt

fix(delidev): fence uncertain managed execution completion
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/execution_authentication_test.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/subscriptions.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): require managed capability before dispatch
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/subscriptions_dispatch_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

docs(delidev): record native fork replacement acceptance
  docs/evidence/delidev/issue-1092/replacement-2026-09-30.md
Due: none

docs(delidev): record merged subagent validation
  docs/evidence/delidev/issue-1094/merged-validation-2026-09-30.md
Due: none

fix(delidev): pin original workspace identity before PR Git authority
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/workspace/pr_git_tool.go
  cmds/delidev-cli/internal/workspace/pr_git_tool_test.go
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/evidence/delidev/issue-1081/replacement-validation.md
Due: go-fmt

docs(delidev): record merge protocol freshness and review limits
  docs/evidence/delidev/issue-1097/main-merge-maintenance-2026-09-30.md
Due: none

fix(delidev): reject encoded credential remnants
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/subscriptions.go
  cmds/delidev-cli/internal/worker/subscriptions_cleanup_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): verify managed authentication in thread workspace
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/subscription_test.go
  cmds/delidev-cli/internal/harness/codex/thread.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

test(delidev): synchronize stream termination fixture
  cmds/delidev-cli/internal/worker/watch_unix_test.go
  docs/evidence/delidev/issue-1206/ci-stream-termination-fixture.md
Due: go-fmt

docs(delidev): record terminal integration and native reruns
  docs/evidence/delidev/issue-1088/replacement-main-integration-2026-09-30.md
Due: none

docs(delidev): record stream fixture validation limits
  docs/evidence/delidev/issue-1206/ci-stream-termination-fixture.md
Due: none

fix(delidev): explicitly reject external browser messages
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

docs(delidev): record manual PR fix validation and open limits
  docs/evidence/delidev/issue-1081/local-validation-2026-09-30.md
  docs/evidence/delidev/issue-1081/replacement-validation.md
Due: none

fix(delidev): rename execution-device copy to Runs on and Runner Device (#1220)
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/doctor.test.tsx
  apps/delidev/src/doctor.tsx
  apps/delidev/src/machine-settings.tsx
  apps/delidev/src/new-session.tsx
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  apps/delidev/src/remediation-policy.tsx
  apps/delidev/src/schedule-creation.tsx
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/session-tools.test.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings-workspace.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/pr_remediation_selection.go
  cmds/delidev-cli/internal/server/pr_remediation_selection_test.go
  cmds/delidev-cli/internal/server/schedules.go
  cmds/delidev-cli/internal/server/schedules_test.go
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-diagnostics-contract.md
  docs/evidence/delidev/issue-1136/runner-device-terminology.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): evaluate pinned required workflows on PR test merges (#1219)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/github-ci.tsx
  apps/delidev/src/github-rules.tsx
  apps/delidev/src/github-workflows.test.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/integration_ci.go
  cmds/delidev-cli/internal/domain/integration_rules.go
  cmds/delidev-cli/internal/domain/integration_workflows.go
  cmds/delidev-cli/internal/domain/integration_workflows_test.go
  cmds/delidev-cli/internal/integrations/github/AGENTS.md
  cmds/delidev-cli/internal/integrations/github/access.go
  cmds/delidev-cli/internal/integrations/github/graphql.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/rules.go
  cmds/delidev-cli/internal/integrations/github/workflows.go
  cmds/delidev-cli/internal/integrations/github/workflows_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
  docs/evidence/delidev/issue-1106/replacement-focused-validation.md
  docs/evidence/delidev/issue-1106/replacement-full-validation.md
Due: go-fmt

fix(delidev): reconcile original OpenCode event streams
  cmds/delidev-cli/internal/harness/opencode/api.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation_native_test.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation_test.go
  cmds/delidev-cli/internal/harness/opencode/events.go
  cmds/delidev-cli/internal/harness/opencode/frozen_observation.go
  cmds/delidev-cli/internal/harness/opencode/interaction_replies.go
  cmds/delidev-cli/internal/harness/opencode/observer.go
  cmds/delidev-cli/internal/harness/opencode/owned_api.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_http.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/opencode_events.go
  cmds/delidev-cli/internal/worker/opencode_text.go
  cmds/delidev-cli/internal/worker/opencode_usage.go
  docs/cmds-delidev-harness-contract.md
  docs/evidence/delidev/issue-1204/event-reconciliation.md
Due: go-fmt

feat(delidev): refine Activity sidebar filters (#1217)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/activity-sidebar.css
  apps/delidev/src/activity-sidebar.test.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/evidence/delidev/issue-1156/replacement-main-7090-merge.md
  docs/evidence/delidev/issue-1156/replacement-native-launch.md
  docs/evidence/delidev/issue-1156/replacement-post-merge-gate.md
  docs/evidence/delidev/issue-1156/replacement-validation.md
Due: none

chore(delidev): reserve repository inspection metadata wire values (#1214)
  docs/evidence/delidev/issue-1142/protocol-reservation-prerequisite.md
  docs/evidence/delidev/issue-1142/reservation-kind-review-repair.md
  docs/evidence/delidev/issue-1142/reservation-main-merge-validation.md
  docs/evidence/delidev/issue-1142/reservation-native-compaction-merge.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  scripts/ci/delidev-proto.test.mjs
Due: none

fix(delidev): reject unsupported global runtime context before launch
  cmds/delidev-cli/internal/harness/opencode/api_runtime.go
  cmds/delidev-cli/internal/harness/opencode/workspace_root_windows_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  docs/cmds-delidev-harness-contract.md
  docs/evidence/delidev/issue-1205/windows-root-validation.md
Due: go-fmt

docs(delidev): record full race-run limitations
  docs/evidence/delidev/issue-1094/full-race-limit-2026-09-30.md
Due: none

docs(delidev): retain merged validation failures and CI limits
  docs/evidence/delidev/issue-1105/merge-validation-and-ci-2026-09-30.md
Due: none

fix(delidev): retain canceled compaction ownership on late reports
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_compaction_test.go
  docs/cmds-delidev-claude-compaction-contract.md
  docs/evidence/delidev/issue-1093/review-claimed-cancellation.md
Due: go-fmt

docs(delidev): record current-main startup validation and limits
  docs/evidence/delidev/issue-1137/current-main-replacement-2026-09-30.md
Due: none

docs(delidev): record reconciled Windows root validation
  docs/evidence/delidev/issue-1205/initial-main-reconciliation.md
Due: none

fix(delidev): bound actual OpenCode reconciliation read bytes
  cmds/delidev-cli/internal/harness/opencode/api.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation.go
  cmds/delidev-cli/internal/harness/opencode/event_reconciliation_test.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_http.go
  docs/cmds-delidev-harness-contract.md
  docs/evidence/delidev/issue-1204/aggregate-read-budget.md
Due: go-fmt

docs(delidev): retain complete original Go race failure results
  docs/evidence/delidev/issue-1105/original-full-go-race-complete.md
Due: none

docs(delidev): record merged proxy validation limits
  docs/evidence/delidev/issue-1084/combined-local-validation.md
Due: none

fix(delidev): create compaction send claims exactly once
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_compaction.go
  cmds/delidev-cli/internal/worker/session_compaction_test.go
  docs/cmds-delidev-claude-compaction-contract.md
  docs/evidence/delidev/issue-1093/review-exclusive-claims.md
Due: go-fmt

docs(delidev): record replacement Grok interaction validation
  docs/cmds-delidev-harness-contract.md
  docs/evidence/delidev/issue-1091/replacement-public-grok-2026-09-30.md
Due: none

docs(delidev): record passing protocol client and desktop validation
  docs/evidence/delidev/issue-1088/replacement-final-validation-2026-09-30.md
Due: none

docs(delidev): retain first PR maintenance verification
  docs/evidence/delidev/issue-1081/first-maintenance-2026-09-30.md
Due: none

fix(delidev): verify original claims before compaction restore
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_compaction.go
  cmds/delidev-cli/internal/worker/session_compaction_test.go
  docs/cmds-delidev-claude-compaction-contract.md
  docs/evidence/delidev/issue-1093/review-checkpoint-claims.md
Due: go-fmt

docs(delidev): record replacement browser verification
  docs/evidence/delidev/issue-1087/replacement-native-and-client-checks.md
Due: none

docs(delidev): record current-main Grok boundary checks
  docs/evidence/delidev/issue-1091/main-65eca-reconciliation-2026-09-30.md
Due: none

docs(delidev): record regenerated merge verification
  docs/evidence/delidev/issue-1097/maintenance-main-65eca334-2026-09-30.md
Due: none

fix(delidev): exclude forwarding from workspace storage ownership
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/forwards.go
  cmds/delidev-cli/internal/server/workspace_storage.go
  cmds/delidev-cli/internal/server/workspace_storage_forward_test.go
  docs/cmds-delidev-forwarding-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/project-delidev.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
