Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): show current-scope skill availability (#2167)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-creation-skill-layout.mjs
  apps/delidev/src/general-chat-layout.fixture.css
  apps/delidev/src/general-chat-layout.fixture.tsx
  apps/delidev/src/locales/en/skills.json
  apps/delidev/src/locales/ko/skills.json
  apps/delidev/src/new-session.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): explain Claude execution eligibility (#2168)
  apps/delidev/src/agent-permissions.test.tsx
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
Due: none

fix(delidev): preserve terminal geometry during history refresh (#2170)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-terminal-history-layout.mjs
  apps/delidev/src/session-terminal-history.test.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/terminal-history.fixture.css
  apps/delidev/src/terminal-history.fixture.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): classify proved pre-send image rejection (#2169)
  AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/execution-startup.test.tsx
  apps/delidev/src/execution-startup.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session.tsx
  apps/delidev/src/startup-rejection.test.tsx
  apps/delidev/src/startup-rejection.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/direct_startup.go
  cmds/delidev-cli/internal/domain/direct_startup_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/image_input.go
  cmds/delidev-cli/internal/harness/codex/image_input_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/rpc/execution_startup.go
  cmds/delidev-cli/internal/rpc/execution_startup_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/direct_startup.go
  cmds/delidev-cli/internal/server/direct_startup_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/direct_startup.go
  cmds/delidev-cli/internal/worker/direct_startup_test.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/image_startup_rejection.go
  docs/cmds-delidev-execution-startup-contract.md
  docs/cmds-delidev-image-input-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

feat(delidev): persist sidebar collapse on this computer (#2171)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-sidebar-collapse-layout.mjs
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/sidebar-preference.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/shortcut_preferences.rs
  apps/delidev/src-tauri/src/sidebar_preference.rs
  apps/delidev/src-tauri/src/sidebar_preference_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/locales/en/sidebar-preference.json
  apps/delidev/src/locales/ko/sidebar-preference.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/main.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/scroll-continuation.tsx
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcuts.ts
  apps/delidev/src/sidebar-context.tsx
  apps/delidev/src/sidebar-preference.test.tsx
  apps/delidev/src/sidebar-preference.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/tray-presentation.test.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: cargo-fmt

fix(delidev): describe acknowledged execution startup accurately (#2172)
  apps/delidev/AGENTS.md
  apps/delidev/src/execution-startup-guidance.test.tsx
  apps/delidev/src/execution-startup.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/server/direct_startup.go
  cmds/delidev-cli/internal/server/direct_startup_guidance_test.go
  docs/cmds-delidev-execution-startup-contract.md
Due: go-fmt

feat(delidev): show authoritative per-turn elapsed time (#2173)
  apps/delidev/scripts/test-transcript-role-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/turn-timing.json
  apps/delidev/src/locales/ko/turn-timing.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/session.tsx
  apps/delidev/src/tool-turn-projection.ts
  apps/delidev/src/tool-turn-transcript.css
  apps/delidev/src/tool-turn-transcript.tsx
  apps/delidev/src/transcript-role-layout.fixture.tsx
  apps/delidev/src/turn-timing.test.tsx
  apps/delidev/src/turn-timing.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/turn_timing_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/direct_startup_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/grok_terminal.go
  cmds/delidev-cli/internal/server/session_compaction.go
  cmds/delidev-cli/internal/server/session_continuation.go
  cmds/delidev-cli/internal/server/session_continuation_test.go
  cmds/delidev-cli/internal/server/session_fork_opencode.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/session_opencode_fork_native_test.go
  cmds/delidev-cli/internal/server/turn_timing_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/turn_timing.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-forks-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): project Worker heartbeat into Machine observations (#2174)
  apps/delidev/AGENTS.md
  apps/delidev/src/locales/en/repository-registration.json
  apps/delidev/src/locales/ko/repository-registration.json
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/discovery_test.go
  cmds/delidev-cli/internal/server/machine_resources.go
  cmds/delidev-cli/internal/server/machine_resources_test.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/store/heartbeat_observation_test.go
  docs/apps-delidev-desktop-contract.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): dismiss verified exited terminal tabs (#2176)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-tabs.test.ts
  apps/delidev/src/session-tabs.tsx
  apps/delidev/src/session-terminal-dismissal.test.tsx
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/terminal-presentation.test.ts
  apps/delidev/src/terminal-presentation.ts
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-terminals-contract.md
Due: none

fix(delidev): explain typed local startup ownership conflicts (#2175)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/desktop_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/supervision.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-server.tsx
  apps/delidev/src/local-startup-problem.test.tsx
  apps/delidev/src/local-startup-problem.ts
  apps/delidev/src/locales/en/desktop.json
  apps/delidev/src/locales/ko/desktop.json
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_host.go
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/cli/startup_conflict_test.go
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

fix(delidev): clear rejected Fork errors when the draft is discarded (#2177)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/mutation-submission.test.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  docs/cmds-delidev-forks-contract.md
Due: none

fix(delidev): number reset credits without changing their identity (#2178)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-reset-credit-layout.mjs
  apps/delidev/src/locales/en/subscription-quota.json
  apps/delidev/src/locales/ko/subscription-quota.json
  apps/delidev/src/reset-credit-layout.fixture.tsx
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): clear conversation selection on creation pages
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
Due: none

fix(delidev): remove sidebar retained schedule lookup
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/schedules.json
  apps/delidev/src/locales/ko/schedules.json
  apps/delidev/src/schedules-sidebar.test.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

test(ach): retry bounded lifecycle contention in startup fixtures
  cmds/async-commit-hook/integration/integration_test.go
Due: go-fmt

test(ach): classify startup JSON separately from diagnostics
  cmds/async-commit-hook/integration/integration_test.go
Due: go-fmt

test(ach): isolate retry decision checks from embedded app assets
  cmds/async-commit-hook/integration/integration_test.go
  cmds/async-commit-hook/integration/startup_retry_test.go
Due: go-fmt

fix(delidev): fill Settings search content width
  apps/delidev/scripts/test-settings-search-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/settings-search.css
  docs/apps-delidev-desktop-contract.md
Due: none

test(runmoor): synchronize supervisor fixtures with Running
  cmds/runmoor/internal/runmoor/host_test.go
Due: go-fmt

fix(delidev): simplify subscription Manage labels
  apps/delidev/src/locales/en/subscription-settings.json
  apps/delidev/src/subscription-controller.test.tsx
  apps/delidev/src/subscription-settings.test.tsx
Due: none

test(delidev): reconcile PR-fix completion at the fixture clock
  cmds/delidev-cli/internal/server/pr_fix_dispatch_retry_test.go
Due: go-fmt

fix(delidev): show provider connection guidance once
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/provider-model-settings.json
  apps/delidev/src/locales/ko/provider-model-settings.json
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings-presentation.css
  apps/delidev/src/settings.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): await both original forwarding peers
  cmds/delidev-cli/internal/server/forwards_test.go
Due: go-fmt

feat(delidev): consolidate session tools and editor tabs
  apps/delidev/scripts/test-session-header-layout.mjs
  apps/delidev/scripts/test-session-tabs-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session-browser-selection.test.tsx
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-tool-menu.test.tsx
  apps/delidev/src/session-tool-menu.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(devhud): retry incomplete readiness JSON publication
  apps/devhud/scripts/platform-smoke-child.test.mjs
Due: none

style(delidev): compact Home creation controls
  apps/delidev/src/AGENTS.md
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): remove notification delivery disclosure
  apps/delidev/scripts/test-notifications-layout.mjs
  apps/delidev/scripts/test-settings-search-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/notification-settings.json
  apps/delidev/src/locales/ko/notification-settings.json
  apps/delidev/src/notification-settings.css
  apps/delidev/src/notification-settings.test.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings-search.test.tsx
  apps/delidev/src/settings-search.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(devhud): await exact modal focus transitions
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/ui-foundation.test.tsx
Due: none

fix(delidev): remove subscription Advanced settings
  apps/delidev/scripts/test-subscription-background-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/subscription-accounts.json
  apps/delidev/src/locales/en/subscription-settings.json
  apps/delidev/src/locales/ko/subscription-accounts.json
  apps/delidev/src/locales/ko/subscription-settings.json
  apps/delidev/src/styles.css
  apps/delidev/src/subscription-accounts.tsx
  apps/delidev/src/subscription-settings.test.tsx
  apps/delidev/src/subscription-settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
Due: none

feat(delidev): open or create a terminal from explicit tool intent
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-terminals.json
  apps/delidev/src/locales/ko/session-terminals.json
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-terminals-contract.md
Due: none

fix(delidev): clear conversation selection on creation pages (#2208)
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
Due: none

fix(delidev): remove sidebar retained schedule lookup (#2210)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/schedules.json
  apps/delidev/src/locales/ko/schedules.json
  apps/delidev/src/schedules-sidebar.test.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): reconcile PR-fix completion at the fixture clock (#2225)
  cmds/delidev-cli/internal/server/pr_fix_dispatch_retry_test.go
Due: go-fmt

test(delidev): await both original forwarding peers (#2229)
  cmds/delidev-cli/internal/server/forwards_test.go
Due: go-fmt

fix(delidev): show original initial readiness progress
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-progress.test.tsx
  apps/delidev/src/session-progress.ts
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): explain unavailable overview price estimates
  apps/delidev/src/locales/en/usage.json
  apps/delidev/src/locales/ko/usage.json
  apps/delidev/src/usage-overview.tsx
Due: none

feat(delidev): organize Usage into overview, history and prices
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-usage-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/grok-accounting.tsx
  apps/delidev/src/locales/en/estimate-costs.json
  apps/delidev/src/locales/en/usage.json
  apps/delidev/src/locales/ko/estimate-costs.json
  apps/delidev/src/locales/ko/usage.json
  apps/delidev/src/native-accounting.tsx
  apps/delidev/src/pricing.tsx
  apps/delidev/src/settings-pricing.integration.test.tsx
  apps/delidev/src/usage-overview.tsx
  apps/delidev/src/usage-prices.tsx
  apps/delidev/src/usage.css
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-usage-contract.md
Due: none
