Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delibase): serialize subscription webhooks
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(delidev): retain sign-out rejection handling
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.547871f5aa.js
  apps/delidev-app/dist/static/js/index.551ca8a71a.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/AccountPage.tsx
  apps/delidev-app/src/test/account-page.test.tsx
Due: none

fix(delibase): address Polar billing review
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/billing_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(devhud): address production shell review
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/src-tauri/capabilities/main.json
  apps/devhud/src-tauri/capabilities/settings.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
  apps/devhud/src-tauri/tauri.conf.json
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/runtime/desktop.test.ts
  apps/devhud/src/runtime/desktop.ts
  apps/devhud/src/runtime/startup.ts
  apps/devhud/src/runtime/theme.ts
  apps/devhud/src/ui/SettingsPanel.tsx
  apps/devhud/src/ui/state.tsx
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(delibase): address billing review feedback
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

test(delibase): align billing lock fixtures
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

fix(devhud): scope CEF feature to desktop
  apps/devhud/src-tauri/Cargo.toml
Due: none

fix(devhud): keep desktop Tauri optional
  apps/devhud/src-tauri/Cargo.toml
Due: none

fix(devhud): address mobile host review feedback
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/scripts/enforce-mobile-generation.mjs
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/main.json
  apps/devhud/src-tauri/gen/android/app/src/main/AndroidManifest.xml
  apps/devhud/src-tauri/gen/android/app/src/main/res/xml/backup_rules.xml
  apps/devhud/src-tauri/gen/android/app/src/main/res/xml/data_extraction_rules.xml
  apps/devhud/src-tauri/gen/android/gradle/wrapper/gradle-wrapper.properties
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  apps/devhud/src/persistence/tauri.ts
  apps/devhud/src/runtime/startup.ts
  apps/devhud/src/styles.css
  apps/devhud/src/ui/state.tsx
Due: cargo-fmt

fix(devhud): address production shell review
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/runtime/desktop.ts
  apps/devhud/src/ui/SettingsPanel.tsx
Due: cargo-fmt

fix(delibase): address Polar billing review
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/config/config.go
  servers/delibase/internal/config/config_test.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(devhud): exclude iOS records from backup
  AGENTS.md
  Cargo.lock
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/lib.rs
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): honor native settings outcomes
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/ui/SettingsPanel.tsx
Due: cargo-fmt

fix(delibase): address billing replay and cancellation review
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/query/identity.sql
  servers/delibase/db/query/reliability.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/polar_webhook.go
  servers/delibase/internal/service/service_test.go
Due: go-fmt

fix(delibase): serialize billing replays and chargebacks
  servers/delibase/internal/polar/webhook.go
  servers/delibase/internal/polar/webhook_test.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

test(delibase): detect blocked billing requests
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

test(delibase): trace billing lock waiters
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

fix(delibase): validate paid-cycle replay bindings
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(delibase): harden paid-cycle history
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

test(delibase): populate paid-cycle snapshots
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): enforce refund reversal history
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/service/billing_integration_test.go
Due: go-fmt

fix(devhud): repair native widget CI
  .github/workflows/CI.yml
  apps/devhud/native-widgets/ios/Sources/Extension/DevHudWidget.swift
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): select an iOS test simulator
  apps/devhud/scripts/widget-native.mjs
Due: none

fix(devhud): enforce native artifact checks
  .github/workflows/CI.yml
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/scripts/check-widget-artifacts.mjs
  apps/devhud/scripts/mobile.mjs
  apps/devhud/scripts/widget-native.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): generate the iOS host project
  apps/devhud/scripts/mobile.mjs
Due: none

fix(devhud): reconcile native settings state
  apps/devhud/README.md
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/ui/SettingsPanel.tsx
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): prepare generated iOS directories
  apps/devhud/scripts/mobile.mjs
Due: none

fix(devhud): enable WRY for the widget bridge
  Cargo.lock
  apps/devhud/src-tauri/widget-bridge/Cargo.toml
Due: none

fix(delibase): harden Polar billing recovery
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000008_polar_billing.sql
  servers/delibase/db/migrations/000009_polar_subscription_checkouts.sql
  servers/delibase/db/query/billing.sql
  servers/delibase/internal/contracts/contracts.go
  servers/delibase/internal/database/dbgen/billing.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/polar/client.go
  servers/delibase/internal/polar/client_test.go
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/billing_integration_test.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(devhud): align the iOS static library name
  apps/devhud/src-tauri/gen/apple/project.yml
Due: none

fix(devhud): address native widget review
  .github/workflows/CI.yml
  apps/devhud/native-widgets/android/shared/src/main/java/dev/deli/devhud/widget/AndroidWidgetSharedDataAdapter.kt
  apps/devhud/native-widgets/android/shared/src/main/java/dev/deli/devhud/widget/WidgetConfiguration.kt
  apps/devhud/native-widgets/android/widget-foundation/src/test/java/dev/deli/devhud/widget/WidgetConfigurationTest.kt
  apps/devhud/scripts/check-widget-artifacts.mjs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/widget-bridge/src/error.rs
  apps/devhud/src-tauri/widget-bridge/src/lib.rs
  apps/devhud/src/persistence/contracts.ts
  apps/devhud/src/persistence/storage.test.ts
  apps/devhud/src/persistence/storage.ts
  docs/apps-devhud-foundation.md
Due: cargo-fmt

test(delibase): isolate Polar image validation
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
  servers/delibase/cmd/delibase/main.go
  servers/delibase/internal/config/config.go
  servers/delibase/internal/config/config_test.go
  servers/delibase/internal/polar/client.go
  servers/delibase/scripts/mock-polar-server.py
  servers/delibase/scripts/test-image.sh
Due: go-fmt

fix(devhud): cover mobile Rust widget inputs
  .github/workflows/CI.yml
Due: none

fix(delibase): preserve overage on credit forfeiture
  servers/delibase/db/query/identity.sql
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/service/billing_test.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/polar_webhook.go
Due: go-fmt

fix(devhud): expose generated iOS libraries to Xcode
  apps/devhud/src-tauri/gen/apple/project.yml
Due: none

fix(devhud): reconcile effective settings state
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/runtime/desktop.ts
  apps/devhud/src/ui/SettingsPanel.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(deps): update vulnerable npm dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix(delibase): update pgx dependency
  go.mod
  go.sum
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
