Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delibase): isolate invalid usage expirations
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/query/usage.sql
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/usage.sql.go
  servers/delibase/internal/service/usage_expiration.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(delibase): standardize organization lock order
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/internal/service/billing.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/invitation.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/team.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(delibase): address usage review follow-ups
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/usage.sql
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/usage.sql.go
  servers/delibase/internal/service/usage_expiration.go
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(delibase): align usage lock and provider validation
  servers/delibase/db/migrations/000010_usage_service.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/internal/service/billing.go
Due: go-fmt

feat(delibase): add signed container release pipeline
  .github/workflows/CI.yml
  .github/workflows/release-delibase.yml
  AGENTS.md
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/Dockerfile
  servers/delibase/Dockerfile.dockerignore
  servers/delibase/README.md
  servers/delibase/scripts/resolve-release-tag.sh
  servers/delibase/scripts/test-image.sh
  servers/delibase/scripts/test-release-tag.sh
Due: none

test(delibase): exercise both release architectures
  .github/workflows/release-delibase.yml
Due: none

feat(delidev): complete billing and usage pages
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/css/index.4efc193faa.css
  apps/delidev-app/dist/static/css/index.7e84c0fa4a.css
  apps/delidev-app/dist/static/js/index.551ca8a71a.js
  apps/delidev-app/dist/static/js/index.a135309c92.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/api/errors.ts
  apps/delidev-app/src/components/Dialog.tsx
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/styles.css
  apps/delidev-app/src/test/cache-policy.test.ts
  apps/delidev-app/src/test/errors.test.ts
  apps/delidev-app/src/test/hosted-billing.test.ts
  apps/delidev-app/src/test/organization-billing-access.test.tsx
  apps/delidev-app/src/utils/hostedBilling.ts
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

test(delibase): ignore base image source directory
  servers/delibase/scripts/test-image.sh
Due: none

fix(delibase): promote validated release digests
  .github/workflows/release-delibase.yml
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
Due: none

fix(delibase): declare Apache image license
  servers/delibase/Dockerfile
  servers/delibase/scripts/test-image.sh
Due: none

fix(delidev): address billing review feedback
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.a135309c92.js
  apps/delidev-app/dist/static/js/index.b9a2552e69.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/api/errors.ts
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/errors.test.ts
  apps/delidev-app/src/test/organization-billing-access.test.tsx
  apps/delidev-app/src/test/organization-members.test.tsx
  apps/delidev-app/src/test/organization-teams.test.tsx
Due: none

fix(delibase): harden release reruns and metadata
  .github/workflows/release-delibase.yml
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
  servers/delibase/scripts/resolve-release-tag.sh
  servers/delibase/scripts/test-release-tag.sh
Due: none

fix(delidev): refresh hosted billing action state
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.83df95f82f.js
  apps/delidev-app/dist/static/js/index.b9a2552e69.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-billing-access.test.tsx
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

fix(delibase): pin release runtime image
  servers/delibase/Dockerfile
Due: none

fix(delidev): normalize hosted billing returns
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.83df95f82f.js
  apps/delidev-app/dist/static/js/index.fc69a457d9.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/hosted-billing.test.ts
  apps/delidev-app/src/test/organization-billing-access.test.tsx
  apps/delidev-app/src/utils/hostedBilling.ts
Due: none

fix(delibase): pin release builder image
  servers/delibase/Dockerfile
Due: none

fix(delidev): address billing usage review
  AGENTS.md
  apps/AGENTS.md
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.1f00274128.js
  apps/delidev-app/dist/static/js/index.fc69a457d9.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-billing-access.test.tsx
  apps/delidev-app/src/test/organization-billing.test.tsx
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

fix(delibase): stabilize release reruns
  .github/workflows/release-delibase.yml
Due: none

fix(delibase): normalize release image timestamps
  .github/workflows/release-delibase.yml
Due: none

fix(delidev): address billing review follow-up
  AGENTS.md
  apps/AGENTS.md
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.1f00274128.js
  apps/delidev-app/dist/static/js/index.9264fd64d3.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-billing-access.test.tsx
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

fix(delidev): preserve billing retry inputs
  AGENTS.md
  apps/AGENTS.md
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.9264fd64d3.js
  apps/delidev-app/dist/static/js/index.b3bfff328c.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-billing-access.test.tsx
  docs/apps-delidev-app-foundation.md
  docs/project-delidev.md
Due: none

fix(delidev): allow pending checkout replay
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.613687c264.js
  apps/delidev-app/dist/static/js/index.b3bfff328c.js
  apps/delidev-app/dist/sw.js
  apps/delidev-app/src/pages/OrganizationPages.tsx
  apps/delidev-app/src/test/organization-billing-access.test.tsx
Due: none

fix(devhud): enable PNG tray icon decoding
  Cargo.lock
  apps/devhud/src-tauri/Cargo.toml
Due: none

feat(devhud): implement local diagnostics contract
  .github/workflows/CI.yml
  AGENTS.md
  Cargo.lock
  Cargo.toml
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-diagnostics.mjs
  apps/devhud/scripts/check-mobile-contracts.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/main.json
  apps/devhud/src-tauri/capabilities/settings.json
  apps/devhud/src-tauri/diagnostics-bridge/Cargo.toml
  apps/devhud/src-tauri/diagnostics-bridge/android/build.gradle.kts
  apps/devhud/src-tauri/diagnostics-bridge/android/settings.gradle
  apps/devhud/src-tauri/diagnostics-bridge/android/src/main/AndroidManifest.xml
  apps/devhud/src-tauri/diagnostics-bridge/android/src/main/java/dev/deli/devhud/diagnostics/DevHudDiagnosticsPlugin.kt
  apps/devhud/src-tauri/diagnostics-bridge/build.rs
  apps/devhud/src-tauri/diagnostics-bridge/ios/Package.swift
  apps/devhud/src-tauri/diagnostics-bridge/ios/Sources/DevHudDiagnosticsPlugin/DevHudDiagnosticsPlugin.swift
  apps/devhud/src-tauri/diagnostics-bridge/permissions/autogenerated/reference.md
  apps/devhud/src-tauri/diagnostics-bridge/permissions/schemas/schema.json
  apps/devhud/src-tauri/diagnostics-bridge/src/lib.rs
  apps/devhud/src-tauri/diagnostics-bridge/src/mobile.rs
  apps/devhud/src-tauri/src/diagnostics.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/local_log.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): apply visual asset review fixes
  apps/devhud/assets/installer/devhud-installer-256.png
  apps/devhud/assets/store/devhud-store-feature-1024x500.png
  apps/devhud/assets/tray/devhud-tray-template.png
  apps/devhud/assets/tray/devhud-tray-template@2x.png
  apps/devhud/scripts/check-assets.mjs
  apps/devhud/scripts/generate-assets.mjs
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  apps/devhud/src-tauri/icons/128x128.png
  apps/devhud/src-tauri/icons/128x128@2x.png
  apps/devhud/src-tauri/icons/256x256.png
  apps/devhud/src-tauri/icons/32x32.png
Due: none

fix(devhud): address remaining asset review feedback
  apps/AGENTS.md
  apps/devhud/assets/manifest.json
  apps/devhud/assets/store/devhud-store-feature-1024x500.png
  apps/devhud/assets/tray/devhud-tray.png
  apps/devhud/assets/tray/devhud-tray@2x.png
  apps/devhud/scripts/check-assets.mjs
  apps/devhud/scripts/generate-assets.mjs
  apps/devhud/src-tauri/src/lib.rs
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): restore diagnostics CI
  apps/devhud/src-tauri/diagnostics-bridge/android/build.gradle.kts
  apps/devhud/src-tauri/src/autostart.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/shortcut.rs
Due: cargo-fmt

fix(devhud): reject stale generated assets
  apps/devhud/scripts/generate-assets.mjs
Due: none

fix(devhud): format tray icon loading
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): emit RGB store assets
  apps/AGENTS.md
  apps/devhud/assets/store/devhud-play-icon-512.png
  apps/devhud/assets/store/devhud-store-feature-1024x500.png
  apps/devhud/assets/store/devhud-store-icon-1024.png
  apps/devhud/assets/tray/devhud-tray.png
  apps/devhud/assets/tray/devhud-tray@2x.png
  apps/devhud/scripts/check-assets.mjs
  apps/devhud/scripts/generate-assets.mjs
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/devhud/src-tauri/gen/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  apps/devhud/src-tauri/gen/apple/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): address diagnostics review feedback
  apps/devhud/scripts/check-diagnostics.mjs
  apps/devhud/src-tauri/diagnostics-bridge/ios/Sources/DevHudDiagnosticsPlugin/DevHudDiagnosticsPlugin.swift
  apps/devhud/src-tauri/src/diagnostics.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/local_log.rs
  apps/devhud/src-tauri/src/single_instance.rs
Due: cargo-fmt

fix(devhud): harden diagnostic failure paths
  apps/devhud/scripts/check-diagnostics.mjs
  apps/devhud/src-tauri/diagnostics-bridge/android/src/main/java/dev/deli/devhud/diagnostics/DevHudDiagnosticsPlugin.kt
  apps/devhud/src-tauri/src/diagnostics.rs
Due: cargo-fmt

fix(devhud): harden diagnostics export and reset
  apps/devhud/src-tauri/src/diagnostics.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/local_log.rs
Due: cargo-fmt

fix(devhud): restrict diagnostic Tauri versions
  apps/devhud/src-tauri/src/diagnostics.rs
Due: cargo-fmt

fix(devhud): address asset review feedback
  apps/devhud/scripts/check-assets.mjs
  apps/devhud/scripts/generate-assets.mjs
  apps/devhud/src-tauri/icons/icon.svg
Due: none

fix(devhud): constrain obsolete asset cleanup
  apps/devhud/scripts/generate-assets.mjs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): add native bundle icons
  apps/devhud/assets/manifest.json
  apps/devhud/scripts/check-assets.mjs
  apps/devhud/scripts/generate-assets.mjs
  apps/devhud/src-tauri/icons/icon.icns
  apps/devhud/src-tauri/icons/icon.ico
  apps/devhud/src-tauri/tauri.conf.json
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): address native asset review feedback
  apps/devhud/scripts/check-assets.mjs
  apps/devhud/scripts/mobile.mjs
  apps/devhud/src-tauri/gen/apple/LaunchScreen.storyboard
  apps/devhud/src-tauri/gen/apple/project.yml
  docs/apps-devhud-foundation.md
Due: none
