Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): gate enlarged Codex transport limits on image admission (#2586)
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/image_generation.go
  cmds/delidev-cli/internal/harness/codex/image_generation_test.go
  cmds/delidev-cli/internal/harness/nativewire/wire_test.go
Due: go-fmt

fix(delidev): preserve OpenCode Go Fork capability ownership
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/opencode_go_test.go
  cmds/delidev-cli/internal/server/session_opencode_fork_recovery_test.go
Due: go-fmt

test(delidev): cover initial main updater ACL admission
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

fix(delidev): discard validated Codex filesystem notifications
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/filesystem_changed_test.go
  cmds/delidev-cli/internal/harness/codex/observations.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_filesystem_changed_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

feat(delidev): discard passive Codex gateway OAuth status
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/gateway_oauth.go
  cmds/delidev-cli/internal/harness/codex/gateway_oauth_test.go
  cmds/delidev-cli/internal/harness/codex/observations.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_gateway_oauth_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): reject screenshot output symlinks
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/image-layout-screenshot-path.mjs
  apps/delidev/scripts/image-layout-screenshot-path.test.mjs
  apps/delidev/scripts/test-image-input-layout.mjs
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retry only failed subscription read owners
  apps/delidev/src/subscription-accounts.test.tsx
  apps/delidev/src/subscription-accounts.tsx
Due: none

fix(delidev): sanitize captured desktop launch diagnostics
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/run-desktop.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  docs/apps-delidev-desktop-contract.md
  scripts/spawn-dev-server.mjs
Due: none

fix(delidev): retain archives until title cleanup settles
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/session_title_archive_test.go
  cmds/delidev-cli/internal/store/session_title_cleanup.go
  cmds/delidev-cli/internal/store/session_title_cleanup_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/terminal_queries.go
Due: go-fmt

fix(delidev): refresh accepted creation Home scopes
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/home-navigation-query.ts
  apps/delidev/src/new-session.tsx
  apps/delidev/src/sidebar.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

Open Sidechat directly with retained pending draft
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-session-tabs-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/sidechat-direct.json
  apps/delidev/src/locales/ko/sidechat-direct.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/session-browser-layout.fixture.tsx
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-tabs.test.ts
  apps/delidev/src/session-tabs.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/sidechat-creation.test.tsx
  apps/delidev/src/sidechat-creation.tsx
  apps/delidev/src/sidechat-eligibility.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): keep user message focus visible without accent (#2556)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/appearance-preferences.ts
  apps/delidev/src/themes.css
  apps/delidev/src/themes.test.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): float skill completion without shifting composers
  apps/delidev/scripts/test-creation-skill-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session.css
  apps/delidev/src/skill-completion-overlay.test.ts
  apps/delidev/src/skill-completion-overlay.ts
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): anchor active timing to server observations
  apps/delidev/src/AGENTS.md
  apps/delidev/src/turn-timing.test.tsx
  apps/delidev/src/turn-timing.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev-mobile): paginate session interaction requests
  apps/delidev-mobile/AGENTS.md
  apps/delidev-mobile/src/app.tsx
  apps/delidev-mobile/src/conversation-interactions.test.tsx
  apps/delidev-mobile/src/interaction-pages.test.ts
  apps/delidev-mobile/src/interaction-pages.ts
  apps/delidev-mobile/src/localization.ts
  docs/apps-delidev-mobile-contract.md
Due: none

fix(delidev-mobile): clear fresh rejected mutation intents
  apps/delidev-mobile/AGENTS.md
  apps/delidev-mobile/src/state.test.ts
  apps/delidev-mobile/src/state.ts
  docs/apps-delidev-mobile-contract.md
Due: none

fix(delidev): clear export errors on oversized paste
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-transfer.test.tsx
  apps/delidev/src/configuration-transfer.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): reject layout screenshot output inside the checkout (#2557)
  apps/delidev/package.json
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/image-layout-screenshot-path.mjs
  apps/delidev/scripts/image-layout-screenshot-path.test.mjs
  apps/delidev/scripts/test-image-input-layout.mjs
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): reconcile browser page selection after busy actions
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
Due: none

fix(delidev): fence browser control results to original presentation
  apps/delidev/src/session-browser.tsx
Due: none

fix(delidev): refresh observed browser page labels
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/session-tabs.test.ts
  apps/delidev/src/session-tabs.tsx
Due: none

fix(delidev): remove browser page tabs after acknowledged close
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
Due: none

fix(delidev): balance compact waiting queue row spacing
  apps/delidev/package.json
  apps/delidev/scripts/test-waiting-queue-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session.css
  apps/delidev/src/waiting-queue.test.tsx
  apps/delidev/src/waiting-queue.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): exclude native checkbox from height guard
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-usage-layout.mjs
Due: none

test(delidev): expect pending paid-credit capability
  apps/delidev/src/subscription-controller.test.tsx
Due: none

Show browser pages as direct workspace tabs
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/browser.toml
  apps/delidev/src-tauri/src/browser.rs
  apps/delidev/src-tauri/src/browser_host.rs
  apps/delidev/src-tauri/src/browser_pages.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/permission_tests.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-browser.json
  apps/delidev/src/locales/ko/session-browser.json
  apps/delidev/src/session-browser.test.tsx
  apps/delidev/src/session-browser.tsx
  apps/delidev/src/session-tab-bar.test.tsx
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-tabs.test.ts
  apps/delidev/src/session-tabs.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-browser-contract.md
  docs/project-delidev.md
Due: cargo-fmt

fix(delidev): keep exact-balance tooltip closed on Escape
  apps/delidev/src/subscription-paid-credits.tsx
Due: none

test(delidev): stabilize paid-credit expiry boundary
  apps/delidev/src/subscription-settings.test.tsx
Due: none

fix(delidev): retain legacy Codex patch output provenance
  cmds/delidev-cli/internal/domain/execution_tools.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/tools.go
  cmds/delidev-cli/internal/harness/codex/tools_test.go
  cmds/delidev-cli/internal/server/execution_tools.go
  cmds/delidev-cli/internal/server/execution_tools_test.go
  cmds/delidev-cli/internal/worker/codex_tools.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): clear stale export diagnostics when import starts (#2558)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-transfer.test.tsx
  apps/delidev/src/configuration-transfer.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): discard validated native fuzzy search notifications
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/fuzzy_search.go
  cmds/delidev-cli/internal/harness/codex/fuzzy_search_test.go
  cmds/delidev-cli/internal/harness/codex/observations.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_fuzzy_search_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): keep queue footer stable during healthy rereads
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-session-composer-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/queue-refresh.test.tsx
  apps/delidev/src/queue-refresh.ts
  apps/delidev/src/session-composer-layout.fixture.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/waiting-queue.test.tsx
  apps/delidev/src/waiting-queue.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): release proved image export admission rejections
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/image_export.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/generated-image-export.test.tsx
  apps/delidev/src/generated-image-export.tsx
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

fix(delidev): retain last paid credits after failed reads
  apps/delidev/src/subscription-rail-data.ts
  apps/delidev/src/subscription-rail.test.tsx
Due: none

fix(delidev): retain rail credit history while suspended
  apps/delidev/src/subscription-rail.test.tsx
  apps/delidev/src/subscription-rail.tsx
Due: none

feat(delidev): show saved paid credits in subscription rail popover
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-subscription-rail-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-paid-credits.test.tsx
  apps/delidev/src/subscription-paid-credits.tsx
  apps/delidev/src/subscription-rail-data.ts
  apps/delidev/src/subscription-rail-layout.fixture.tsx
  apps/delidev/src/subscription-rail.css
  apps/delidev/src/subscription-rail.test.tsx
  apps/delidev/src/subscription-rail.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-subscription-contract.md
Due: none

test(delidev): compare rail windows with current fixture time
  apps/delidev/src/subscription-rail.test.tsx
Due: none

fix(delidev): retry saved reads from the rail
  apps/delidev/src/subscription-rail.tsx
Due: none

fix(delidev): preserve skill status across locks
  apps/delidev/AGENTS.md
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): keep skill status out of editor label
  apps/delidev/AGENTS.md
  apps/delidev/src/queue.test.tsx
  apps/delidev/src/queue.tsx
  docs/apps-delidev-desktop-contract.md
Due: none
