Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(pnport): validate extended openat2 arguments
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): track descendants of standard stream aliases
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): translate nested proc descriptor paths
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

feat(delidev): connect and remove API accounts through protected storage
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/accounts.go
  cmds/delidev-cli/internal/cli/accounts_native_test.go
  cmds/delidev-cli/internal/cli/accounts_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/testdata/secret-service/run.sh
  cmds/delidev-cli/internal/credentials/vault.go
  cmds/delidev-cli/internal/domain/accounts.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/routing.go
  cmds/delidev-cli/internal/domain/routing_test.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/accounts_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/replay_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/workers_test.go
  docs/README.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-credentials-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(pnport): serialize cwd changes with traced peers
  crates/AGENTS.md
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

feat(react-forge): add preserving spreadsheet engine and Office React APIs
  Cargo.lock
  Cargo.toml
  crates/forge-package/src/lib.rs
  crates/forge-xlsx/Cargo.toml
  crates/forge-xlsx/src/emit.rs
  crates/forge-xlsx/src/import.rs
  crates/forge-xlsx/src/lib.rs
  crates/forge-xlsx/src/model.rs
  crates/forge-xlsx/src/styles.rs
  crates/forge-xlsx/tests/chart_editing.rs
  crates/forge-xlsx/tests/fixtures/README.md
  crates/forge-xlsx/tests/fixtures/external.xlsx
  crates/forge-xlsx/tests/fixtures/generate.py
  crates/forge-xlsx/tests/generation.rs
  crates/forge-xlsx/tests/preservation.rs
  crates/react-forge-node/Cargo.toml
  crates/react-forge-node/src/docx.rs
  crates/react-forge-node/src/lib.rs
  crates/react-forge-node/src/pptx.rs
  crates/react-forge-node/src/xlsx.rs
  docs/crates-react-forge-contract.md
  docs/packages-react-forge-contract.md
  packages/react-forge/src/docx-model.ts
  packages/react-forge/src/docx.ts
  packages/react-forge/src/native.ts
  packages/react-forge/src/session.ts
  packages/react-forge/src/types.ts
  packages/react-forge/src/xlsx-model.ts
  packages/react-forge/src/xlsx.ts
  packages/react-forge/tests/docx.test.tsx
  packages/react-forge/tests/xlsx.test.tsx
Due: cargo-fmt

feat(clibox): add portable system cpus command
  apps/AGENTS.md
  apps/public-docs/docs/clibox/commands.md
  apps/public-docs/docs/clibox/index.md
  apps/public-docs/docs/clibox/system.md
  apps/public-docs/docs/clibox/troubleshooting.md
  apps/public-docs/scripts/validate-clean-urls.mjs
  crates/AGENTS.md
  crates/clibox-system/src/cpus/linux.rs
  crates/clibox-system/src/cpus/macos.rs
  crates/clibox-system/src/cpus/mod.rs
  crates/clibox-system/src/cpus/windows.rs
  crates/clibox-system/src/lib.rs
  crates/clibox-system/src/system.rs
  crates/clibox/README.md
  crates/clibox/src/cli.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/cpus.rs
  docs/apps-clibox-docs-foundation.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

feat(delidev): validate account endpoints without inference
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/accounts.go
  cmds/delidev-cli/internal/cli/accounts_native_test.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/provider_validation.go
  cmds/delidev-cli/internal/domain/provider_validation_test.go
  cmds/delidev-cli/internal/providers/client.go
  cmds/delidev-cli/internal/providers/client_test.go
  cmds/delidev-cli/internal/server/account_validation.go
  cmds/delidev-cli/internal/server/account_validation_test.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/accounts_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/server.go
  docs/README.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-providers-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(react-forge): add tagged PDF flow and isolated font policies
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/forge-document/src/fonts.rs
  crates/forge-document/src/lib.rs
  crates/forge-document/tests/fonts.rs
  crates/forge-docx/src/fonts.rs
  crates/forge-docx/src/lib.rs
  crates/forge-pdf/Cargo.toml
  crates/forge-pdf/src/emit.rs
  crates/forge-pdf/src/layout.rs
  crates/forge-pdf/src/lib.rs
  crates/forge-pdf/src/model.rs
  crates/forge-pdf/tests/authoring.rs
  crates/forge-pptx/src/emit.rs
  crates/forge-pptx/src/lib.rs
  crates/forge-pptx/src/update.rs
  crates/forge-tree-doc/src/layout.rs
  crates/forge-xlsx/src/fonts.rs
  crates/forge-xlsx/src/lib.rs
  crates/react-forge-node/Cargo.toml
  crates/react-forge-node/src/docx.rs
  crates/react-forge-node/src/lib.rs
  crates/react-forge-node/src/pdf.rs
  crates/react-forge-node/src/pptx.rs
  crates/react-forge-node/src/xlsx.rs
  docs/crates-forge-foundation.md
  docs/crates-react-forge-contract.md
  docs/packages-react-forge-contract.md
  packages/react-forge/src/native.ts
  packages/react-forge/src/pdf-model.ts
  packages/react-forge/src/pdf.ts
  packages/react-forge/src/session.ts
  packages/react-forge/tests/pdf.test.tsx
Due: cargo-fmt

feat(react-forge): connect scoped native diagnostics and async React coverage
  Cargo.lock
  crates/react-forge-node/Cargo.toml
  crates/react-forge-node/src/diagnostics.rs
  crates/react-forge-node/src/lib.rs
  docs/packages-react-forge-contract.md
  packages/react-forge/src/native.ts
  packages/react-forge/src/session.ts
  packages/react-forge/src/types.ts
  packages/react-forge/tests/renderer.test.tsx
  packages/react-forge/tests/session.test.tsx
Due: cargo-fmt

feat(react-forge): expose capabilities and Office authoring measurements
  crates/forge-document/src/geometry.rs
  crates/forge-document/src/lib.rs
  crates/forge-docx/src/lib.rs
  crates/forge-docx/src/measure.rs
  crates/forge-xlsx/src/lib.rs
  crates/forge-xlsx/src/measure.rs
  crates/react-forge-node/src/docx.rs
  crates/react-forge-node/src/xlsx.rs
  docs/packages-react-forge-contract.md
  packages/react-forge/src/capabilities.ts
  packages/react-forge/src/index.ts
  packages/react-forge/src/session.ts
  packages/react-forge/src/types.ts
  packages/react-forge/tests/docx.test.tsx
  packages/react-forge/tests/xlsx.test.tsx
Due: cargo-fmt

feat(react-forge): validate installed CLI and Office rendering examples
  crates/forge-document/src/fonts.rs
  crates/forge-document/src/lib.rs
  crates/forge-document/tests/fonts.rs
  crates/forge-docx/src/fonts.rs
  crates/forge-docx/tests/roundtrip.rs
  docs/crates-react-forge-contract.md
  docs/packages-react-forge-contract.md
  packages/react-forge/examples/README.md
  packages/react-forge/examples/document.tsx
  packages/react-forge/examples/pdf.tsx
  packages/react-forge/examples/sample.png
  packages/react-forge/examples/workbook.tsx
  packages/react-forge/package.json
  packages/react-forge/src/errors.ts
  packages/react-forge/tests/cli.test.ts
  packages/react-forge/tests/installed.test.ts
Due: cargo-fmt

feat(delidev): add durable provider model discovery and catalog selection
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/accounts_native_test.go
  cmds/delidev-cli/internal/cli/catalog.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/cli_test.go
  cmds/delidev-cli/internal/domain/catalog.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/providers/catalog_test.go
  cmds/delidev-cli/internal/providers/client.go
  cmds/delidev-cli/internal/providers/metadata.go
  cmds/delidev-cli/internal/providers/presets.go
  cmds/delidev-cli/internal/server/account_inspection.go
  cmds/delidev-cli/internal/server/account_validation.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/accounts_test.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/catalog_maintenance.go
  cmds/delidev-cli/internal/server/catalog_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/catalog.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/workers_test.go
  docs/README.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-providers-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(react-forge): harden preservation fonts and session lifecycles
  crates/forge-document/src/fonts.rs
  crates/forge-document/src/lib.rs
  crates/forge-document/tests/fonts.rs
  crates/forge-document/tests/resources.rs
  crates/forge-docx/src/emit.rs
  crates/forge-docx/src/import.rs
  crates/forge-docx/tests/fixtures/README.md
  crates/forge-docx/tests/fixtures/charts.docx
  crates/forge-docx/tests/fixtures/external.docx
  crates/forge-docx/tests/fixtures/generate.py
  crates/forge-docx/tests/roundtrip.rs
  crates/forge-package/src/lib.rs
  crates/forge-package/tests/preservation.rs
  crates/forge-pdf/src/emit.rs
  crates/forge-pdf/src/layout.rs
  crates/forge-pdf/tests/authoring.rs
  crates/forge-xlsx/src/emit.rs
  crates/forge-xlsx/src/import.rs
  crates/forge-xlsx/src/measure.rs
  crates/forge-xlsx/src/model.rs
  crates/forge-xlsx/src/styles.rs
  crates/forge-xlsx/tests/generation.rs
  crates/react-forge-node/src/diagnostics.rs
  crates/react-forge-node/src/lib.rs
  crates/react-forge-node/src/pptx.rs
  docs/crates-react-forge-contract.md
  docs/packages-react-forge-contract.md
  packages/react-forge/package.json
  packages/react-forge/src/cli.ts
  packages/react-forge/src/files.ts
  packages/react-forge/src/native.ts
  packages/react-forge/src/session.ts
  packages/react-forge/tests/cli.test.ts
  packages/react-forge/tests/fonts.test.tsx
  packages/react-forge/tests/renderer.test.tsx
  packages/react-forge/tests/session.test.tsx
Due: cargo-fmt

feat(delidev): add scoped native API relay and streaming protection
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/document.go
  cmds/delidev-cli/internal/apiproxy/errors.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/apiproxy/stream.go
  cmds/delidev-cli/internal/apiproxy/stream_guard.go
  docs/README.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-proxy-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): persist sessions and ordered input through Connect and CLI
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/server/sessions_test.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/sessions.go
  cmds/delidev-cli/internal/store/sessions_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/README.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(delidev): cancel owned work when Worker stream authority ends
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/discovery_test.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/watch_unix_test.go
  cmds/delidev-cli/internal/workspace/git.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-workspace-contract.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): prepare session workspaces through cancelable Worker jobs
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/server/session_workspace.go
  cmds/delidev-cli/internal/server/session_workspace_test.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/job_controls.go
  cmds/delidev-cli/internal/store/job_controls_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/sessions_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/worker/watch_unix_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/result.go
  cmds/delidev-cli/internal/workspace/result_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): reconcile uncertain workspace preparation from durable ownership
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/cli/sessions_test.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/process/process.go
  cmds/delidev-cli/internal/server/session_workspace.go
  cmds/delidev-cli/internal/server/session_workspace_recovery.go
  cmds/delidev-cli/internal/server/session_workspace_recovery_test.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/store/assignments.go
  cmds/delidev-cli/internal/store/assignments_test.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/job_controls_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/sessions_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/workers.go
  cmds/delidev-cli/internal/worker/run.go
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  cmds/delidev-cli/internal/workspace/recover_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-process-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): bind Codex native threads to exact settings and retained identity
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/client_test.go
  cmds/delidev-cli/internal/harness/codex/native_thread_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/thread.go
  cmds/delidev-cli/internal/harness/codex/thread_decode.go
  cmds/delidev-cli/internal/harness/codex/thread_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): add native Codex turn controls and core events
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/native_thread_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/native_turn_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/thread.go
  cmds/delidev-cli/internal/harness/codex/thread_decode.go
  cmds/delidev-cli/internal/harness/codex/thread_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/harness/codex/turn_decode.go
  cmds/delidev-cli/internal/harness/codex/turn_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): atomically retain initial execution snapshots and routing claims
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_test.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/store/execution.go
  cmds/delidev-cli/internal/store/execution_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(clibox): add portable system cpus command (#969)
  apps/AGENTS.md
  apps/public-docs/docs/clibox/commands.md
  apps/public-docs/docs/clibox/index.md
  apps/public-docs/docs/clibox/system.md
  apps/public-docs/docs/clibox/troubleshooting.md
  apps/public-docs/scripts/validate-clean-urls.mjs
  crates/AGENTS.md
  crates/clibox-system/src/cpus/linux.rs
  crates/clibox-system/src/cpus/macos.rs
  crates/clibox-system/src/cpus/mod.rs
  crates/clibox-system/src/cpus/windows.rs
  crates/clibox-system/src/lib.rs
  crates/clibox-system/src/system.rs
  crates/clibox/README.md
  crates/clibox/src/cli.rs
  crates/clibox/tests/cli.rs
  crates/clibox/tests/cpus.rs
  docs/apps-clibox-docs-foundation.md
  docs/crates-clibox-foundation.md
  docs/packages-clibox-distribution-contract.md
  docs/project-clibox.md
  packages/AGENTS.md
  packages/clibox/README.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

feat(delidev): bind native API relay to durable execution authority
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/execution_authority_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/assignments_test.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/execution_grants.go
  cmds/delidev-cli/internal/store/execution_grants_test.go
  cmds/delidev-cli/internal/store/job_controls_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/sessions_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-proxy-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(react-forge): preserve external presentation identities across exports
  crates/AGENTS.md
  crates/react-forge-node/Cargo.toml
  crates/react-forge-node/src/pptx.rs
  docs/crates-react-forge-contract.md
  packages/react-forge/src/session.ts
  packages/react-forge/tests/session.test.tsx
Due: cargo-fmt

feat(delidev): configure native Codex with scoped execution proxy authority
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/harness/codex/api.go
  cmds/delidev-cli/internal/harness/codex/api_test.go
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/native_api_smoke_test.go
  cmds/delidev-cli/internal/harness/codex/thread.go
  cmds/delidev-cli/internal/server/execution_native_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/project-delidev.md
Due: go-fmt

feat(react-forge): complete supported-host validation and CI evidence
  .github/workflows/CI.yml
  AGENTS.md
  crates/AGENTS.md
  crates/forge-document/tests/resources.rs
  crates/forge-docx/src/import.rs
  crates/forge-docx/tests/roundtrip.rs
  crates/forge-package/src/lib.rs
  crates/forge-package/tests/preservation.rs
  crates/forge-pdf/src/emit.rs
  docs/README.md
  docs/crates-react-forge-contract.md
  docs/packages-react-forge-contract.md
  docs/packages-react-forge-validation.md
  docs/project-react-forge.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/react-forge/README.md
  packages/react-forge/examples/README.md
  packages/react-forge/examples/edit-office.tsx
  packages/react-forge/examples/workbook.tsx
  packages/react-forge/package.json
  packages/react-forge/scripts/benchmark.mjs
  packages/react-forge/scripts/render-check.mjs
  packages/react-forge/scripts/render-requirements.txt
  packages/react-forge/scripts/verify-render.py
  packages/react-forge/tests/evidence/benchmark-macos-arm64.json
  packages/react-forge/tests/evidence/render-macos-arm64.json
  packages/react-forge/tests/limits.test.tsx
  packages/react-forge/turbo.json
  scripts/ci/ci-contract.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: cargo-fmt

feat(delidev): durably publish native execution core events
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/server/devices.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_events_test.go
  cmds/delidev-cli/internal/server/execution_native_test.go
  cmds/delidev-cli/internal/server/execution_publication_worker_test.go
  cmds/delidev-cli/internal/store/assignments_test.go
  cmds/delidev-cli/internal/store/catalog_test.go
  cmds/delidev-cli/internal/store/execution_grants_test.go
  cmds/delidev-cli/internal/store/execution_messages.go
  cmds/delidev-cli/internal/store/execution_messages_test.go
  cmds/delidev-cli/internal/store/job_controls_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/sessions_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/publication.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(react-forge): add designed travel investor deck example
  docs/packages-react-forge-contract.md
  docs/project-react-forge.md
  packages/AGENTS.md
  packages/react-forge/examples/README.md
  packages/react-forge/examples/travel-ir-assets/README.md
  packages/react-forge/examples/travel-ir-assets/coast.png
  packages/react-forge/examples/travel-ir-assets/horizon.png
  packages/react-forge/examples/travel-ir-assets/product.png
  packages/react-forge/examples/travel-ir-assets/prompts.json
  packages/react-forge/examples/travel-ir.tsx
Due: none

docs(react-forge): record travel deck rendering validation
  docs/packages-react-forge-validation.md
  packages/react-forge/examples/travel-ir-assets/README.md
  packages/react-forge/tests/evidence/travel-ir-macos-arm64.json
Due: none

refactor(react-forge): scope npm package as @delino/react-forge
  .github/workflows/CI.yml
  docs/packages-react-forge-contract.md
  docs/packages-react-forge-requirements.md
  docs/packages-react-forge-validation.md
  docs/project-react-forge.md
  packages/AGENTS.md
  packages/react-forge/README.md
  packages/react-forge/examples/README.md
  packages/react-forge/examples/document.tsx
  packages/react-forge/examples/edit-office.tsx
  packages/react-forge/examples/pdf.tsx
  packages/react-forge/examples/presentation.tsx
  packages/react-forge/examples/travel-ir-assets/README.md
  packages/react-forge/examples/travel-ir.tsx
  packages/react-forge/examples/workbook.tsx
  packages/react-forge/package.json
  packages/react-forge/src/native.ts
  packages/react-forge/src/renderer.ts
  packages/react-forge/tests/installed.test.ts
  scripts/ci/ci-contract.test.mjs
Due: none

feat(clibox): establish fspy trace contract and validation
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/clibox-fspy/Cargo.toml
  crates/clibox-fspy/LICENSE
  crates/clibox-fspy/src/lib.rs
  crates/clibox-fspy/src/trace.rs
  docs/README.md
  docs/crates-clibox-fspy-contract.md
  docs/project-clibox.md
Due: cargo-fmt

feat(delidev): retain native Codex observations and reject settings drift
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/native_observation.go
  cmds/delidev-cli/internal/harness/codex/client_test.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/observations.go
  cmds/delidev-cli/internal/harness/codex/observations_test.go
  cmds/delidev-cli/internal/harness/codex/turn_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/execution_native_test.go
  cmds/delidev-cli/internal/server/execution_observations_test.go
  cmds/delidev-cli/internal/server/execution_publication_worker_test.go
  cmds/delidev-cli/internal/worker/codex_events.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
Due: go-fmt

fix(forge-xlsx): preserve imported validation behavior
  crates/forge-xlsx/src/emit.rs
  crates/forge-xlsx/src/import.rs
  crates/forge-xlsx/tests/preservation.rs
  docs/crates-react-forge-contract.md
Due: cargo-fmt

fix(forge-xlsx): preserve charts with foreign namespaces
  crates/forge-xlsx/src/import.rs
  crates/forge-xlsx/tests/chart_editing.rs
  docs/crates-react-forge-contract.md
Due: cargo-fmt

feat(delidev): retain workspace ownership through native execution cleanup
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/execution.go
  cmds/delidev-cli/internal/workspace/execution_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-workspace-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(react-forge): reject children on Word leaf components
  packages/react-forge/src/docx-model.ts
  packages/react-forge/tests/docx.test.tsx
Due: none

fix(react-forge): recheck every root before export snapshots
  packages/react-forge/src/renderer.ts
  packages/react-forge/src/session.ts
  packages/react-forge/tests/session.test.tsx
Due: none

fix(react-forge): refuse unsafe imported source replacement
  docs/packages-react-forge-contract.md
  docs/packages-react-forge-requirements.md
  packages/AGENTS.md
  packages/react-forge/README.md
  packages/react-forge/src/cli.ts
  packages/react-forge/src/files.ts
  packages/react-forge/src/session.ts
  packages/react-forge/tests/session.test.tsx
Due: none
