Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): use the shared native permission picker (#2073)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-agent-permissions-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-configuration.test.tsx
  apps/delidev/src/agent-permissions-layout.fixture.tsx
  apps/delidev/src/agent-permissions.test.tsx
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/settings-claude.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): add native service tier selection (#2072)
  apps/delidev/scripts/test-service-tier-layout.mjs
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/provider_guidance.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/execution-configuration.test.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/provider-guidance.test.tsx
  apps/delidev/src/provider-guidance.tsx
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  apps/delidev/src/service-tier-field.test.tsx
  apps/delidev/src/service-tier-layout.fixture.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/native_service_tier_test.go
  cmds/delidev-cli/internal/domain/request_diagnostics.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/request_diagnostics.go
  cmds/delidev-cli/internal/server/request_diagnostics_test.go
  cmds/delidev-cli/internal/server/session_dispatch_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-diagnostics-contract.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

feat(delidev): show attributed native context observations (#2074)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-context.json
  apps/delidev/src/locales/ko/session-context.json
  apps/delidev/src/session-context.test.tsx
  apps/delidev/src/session-context.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/session_context.go
  cmds/delidev-cli/internal/server/session_context_native_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-compaction-contract.md
  docs/cmds-delidev-usage-contract.md
Due: go-fmt

fix(delidev): use the shared modal backdrop color (#2075)
  apps/delidev/scripts/test-repository-dialog-layout.mjs
  apps/delidev/scripts/test-subscription-background-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/styles.css
  apps/delidev/src/themes.css
  apps/delidev/src/themes.test.ts
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): separate held and persistent shortcut help (#2077)
  apps/delidev/scripts/test-shortcut-help-lifetime.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/shortcut-help-lifetime.fixture.tsx
  apps/delidev/src/shortcut-provider.test.tsx
  apps/delidev/src/shortcut-provider.tsx
  apps/delidev/src/shortcuts.ts
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): add the application command palette (#2078)
  apps/delidev/package.json
  apps/delidev/public/command-menu-notices/LICENSE-Radix-1.txt
  apps/delidev/public/command-menu-notices/LICENSE-aria-hidden.txt
  apps/delidev/public/command-menu-notices/LICENSE-cmdk.txt
  apps/delidev/public/command-menu-notices/LICENSE-detect-node-es.txt
  apps/delidev/public/command-menu-notices/LICENSE-get-nonce.txt
  apps/delidev/public/command-menu-notices/LICENSE-react-remove-scroll-bar.txt
  apps/delidev/public/command-menu-notices/LICENSE-react-remove-scroll.txt
  apps/delidev/public/command-menu-notices/LICENSE-react-style-singleton.txt
  apps/delidev/public/command-menu-notices/LICENSE-use-callback-ref.txt
  apps/delidev/public/command-menu-notices/LICENSE-use-sidecar.txt
  apps/delidev/public/command-menu-notices/NOTICE.md
  apps/delidev/public/command-menu-notices/README-react-remove-scroll-bar.md
  apps/delidev/public/command-menu-notices/Radix-1.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-command-menu-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/command-menu-settings.test.tsx
  apps/delidev/src/command-menu.css
  apps/delidev/src/command-menu.test.tsx
  apps/delidev/src/command-menu.tsx
  apps/delidev/src/locales/en/command-menu.json
  apps/delidev/src/locales/ko/command-menu.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-provider.tsx
  apps/delidev/src/shortcuts.ts
  apps/delidev/src/sidebar.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-localization-contract.md
  docs/repository-license-contract.md
  pnpm-lock.yaml
Due: none

feat(delidev): show conversation types and nested sidebar relationships (#2081)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/conversation-navigation.test.ts
  apps/delidev/src/home-navigation.test.ts
  apps/delidev/src/home-navigation.ts
  apps/delidev/src/locales/en/sidebar.json
  apps/delidev/src/locales/ko/sidebar.json
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): simplify session header and expand session information (#2080)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-session-header-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/execution-configuration.test.tsx
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/locales/en/native-usage.json
  apps/delidev/src/locales/en/session-context.json
  apps/delidev/src/locales/en/session-tools.json
  apps/delidev/src/locales/en/subagents.json
  apps/delidev/src/locales/ko/native-usage.json
  apps/delidev/src/locales/ko/session-context.json
  apps/delidev/src/locales/ko/session-tools.json
  apps/delidev/src/locales/ko/subagents.json
  apps/delidev/src/native-usage.tsx
  apps/delidev/src/session-context.tsx
  apps/delidev/src/session-pull-requests.test.tsx
  apps/delidev/src/session-pull-requests.tsx
  apps/delidev/src/session-tools.test.tsx
  apps/delidev/src/session-tools.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/subagents.test.tsx
  apps/delidev/src/subagents.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): use primary N for New Window (#2082)
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/shortcut_preferences.rs
  apps/delidev/src-tauri/src/window_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-provider.test.tsx
  apps/delidev/src/shortcut-settings.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: cargo-fmt

fix(delidev): show attachment guidance in the plus tooltip (#2083)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-session-composer-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/image-attachments.css
  apps/delidev/src/image-attachments.test.tsx
  apps/delidev/src/image-attachments.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): group tools by their original conversation turn (#2084)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-tool-turn-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/conversation-pagination.test.tsx
  apps/delidev/src/conversation-pagination.ts
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/native-grok-interactions.tsx
  apps/delidev/src/scroll-payload-window.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/tool-turn-layout.fixture.tsx
  apps/delidev/src/tool-turn-projection.ts
  apps/delidev/src/tool-turn-transcript.css
  apps/delidev/src/tool-turn-transcript.test.tsx
  apps/delidev/src/tool-turn-transcript.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): show session startup and response-waiting progress (#2085)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session-progress.json
  apps/delidev/src/locales/ko/session-progress.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/session-progress-status.tsx
  apps/delidev/src/session-progress.css
  apps/delidev/src/session-progress.test.tsx
  apps/delidev/src/session-progress.ts
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/tool-turn-projection.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): bound prepared skill observation to 15 seconds (#2086)
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/skills.go
  cmds/delidev-cli/internal/workspace/skills_test.go
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

refactor(delidev): show quota first in account popovers (#2088)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-subscription-rail-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/subscription-rail.json
  apps/delidev/src/locales/ko/subscription-rail.json
  apps/delidev/src/subscription-rail-layout.fixture.tsx
  apps/delidev/src/subscription-rail.css
  apps/delidev/src/subscription-rail.test.tsx
  apps/delidev/src/subscription-rail.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): apply accepted Activity filters immediately (#2087)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/activity-sidebar.css
  apps/delidev/src/activity-sidebar.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/views.json
  apps/delidev/src/locales/ko/views.json
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): discard valid passive skill change notices (#2090)
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/observations.go
  cmds/delidev-cli/internal/harness/codex/skills_changed_test.go
  cmds/delidev-cli/internal/harness/codex/skills_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_skills_changed_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): bound the account rail and its final margin (#2089)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-subscription-rail-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-rail-layout.fixture.tsx
  apps/delidev/src/subscription-rail.css
  docs/apps-delidev-desktop-contract.md
Due: none

refactor(delidev): remove routine conversation labels (#2091)
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/native-claude-message.tsx
  apps/delidev/src/native-grok.tsx
  apps/delidev/src/session-mixed-draft.test.tsx
  apps/delidev/src/session-submission-lifetime.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/transcript-role.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve project creation placement while expanding (#2093)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/qa/check-release.mjs
  apps/delidev/scripts/test-general-chat-layout.mjs
  apps/delidev/scripts/test-project-session-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/new-session.tsx
  apps/delidev/src/project-session-layout.fixture.tsx
  apps/delidev/src/project-session-placement.ts
  apps/delidev/src/starting-branches.test.tsx
  apps/delidev/src/starting-branches.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): let creation forms shrink within their bounds (#2092)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-creation-skill-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/general-chat-layout.fixture.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): register repositories within project creation (#2094)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-project-registration-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/backups.test.tsx
  apps/delidev/src/locales/en/project-creation.json
  apps/delidev/src/locales/en/repository-registration.json
  apps/delidev/src/locales/ko/project-creation.json
  apps/delidev/src/locales/ko/repository-registration.json
  apps/delidev/src/project-creation.css
  apps/delidev/src/project-creation.test.tsx
  apps/delidev/src/project-creation.tsx
  apps/delidev/src/repository-github-picker.tsx
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-task.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): match Home creation selection to current page
  apps/delidev/package.json
  apps/delidev/scripts/test-sidebar-selection.mjs
  apps/delidev/src/styles.css
Due: none

feat(delidev): name new local Workers This computer
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/desktop_recovery.go
  cmds/delidev-cli/internal/cli/local_client.go
  cmds/delidev-cli/internal/cli/local_client_test.go
  cmds/delidev-cli/internal/connections/worker.go
  cmds/delidev-cli/internal/connections/worker_test.go
  cmds/delidev-cli/internal/desktopruntime/runtime.go
  cmds/delidev-cli/internal/desktopruntime/runtime_test.go
  docs/cmds-delidev-connections-contract.md
  docs/cmds-delidev-contract.md
Due: go-fmt

test(delidev): advertise prefix support in dispatch fixtures
  cmds/delidev-cli/internal/server/session_dispatch_test.go
  cmds/delidev-cli/internal/server/session_workspace_test.go
Due: go-fmt

test(delidev): declare prefix support in image lifecycle fixtures
  cmds/delidev-cli/internal/server/image_uploads_test.go
Due: go-fmt

fix(delidev): consume verified reviewer replays without republication
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_terminal_status_test.go
  protos/delidev/allocations.json
Due: go-fmt

fix(delidev): rename English creation action to New Chat
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/command-menu.test.tsx
  apps/delidev/src/locales/en/sidebar.json
  apps/delidev/src/sidebar.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): reject Go relay requests before unproved credential access
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/opencode_go_test.go
Due: go-fmt

test(delidev): keep reviewer fixture within its layer schema
  cmds/delidev-cli/internal/apiproxy/reviewer_scope_test.go
Due: go-fmt

test(delidev): verify explicit appearance image reveal
  apps/delidev/src/image-attachments.test.tsx
Due: none

feat(delidev): add device-local appearance controls and custom themes
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/appearance.rs
  apps/delidev/src-tauri/src/appearance_host.rs
  apps/delidev/src-tauri/src/tray_status_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/appearance-controls.tsx
  apps/delidev/src/appearance-palettes.json
  apps/delidev/src/appearance-preferences.ts
  apps/delidev/src/appearance.test.tsx
  apps/delidev/src/appearance.tsx
  apps/delidev/src/disclosure.tsx
  apps/delidev/src/image-attachments.css
  apps/delidev/src/image-attachments.tsx
  apps/delidev/src/locales/en/appearance.json
  apps/delidev/src/locales/ko/appearance.json
  apps/delidev/src/native-claude-compaction.tsx
  apps/delidev/src/native-claude-message.tsx
  apps/delidev/src/native-claude-tool.tsx
  apps/delidev/src/native-claude-usage.tsx
  apps/delidev/src/native-context-compaction.tsx
  apps/delidev/src/native-grok.tsx
  apps/delidev/src/native-reasoning.tsx
  apps/delidev/src/native-usage.tsx
  apps/delidev/src/qa/bridge.ts
  apps/delidev/src/settings-search.tsx
  apps/delidev/src/themes.css
  apps/delidev/src/tool-turn-transcript.tsx
  apps/delidev/src/tray-status-model.ts
  apps/delidev/src/tray-status.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-localization-contract.md
  docs/project-delidev.md
Due: cargo-fmt

fix(delidev): preserve bounded reviewer scope attribution
  cmds/delidev-cli/internal/apiproxy/reviewer_scope_test.go
  cmds/delidev-cli/internal/apiproxy/scope.go
Due: go-fmt

fix(delidev): apply appearance to draft images and message text
  apps/delidev/src/image-attachments.css
  apps/delidev/src/image-attachments.tsx
  apps/delidev/src/settings-search.test.tsx
  apps/delidev/src/themes.css
Due: none

fix(delidev): keep failed Go management reads dismissible
  apps/delidev/src/opencode-go-account.test.tsx
  apps/delidev/src/opencode-go-account.tsx
  protos/delidev/allocations.json
Due: none

feat(delidev): explain creation image attachment requirements
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-image-input-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/image-attachments.css
  apps/delidev/src/image-attachments.test.tsx
  apps/delidev/src/image-attachments.tsx
  apps/delidev/src/image-input-layout.fixture.tsx
  apps/delidev/src/locales/en/image-input.json
  apps/delidev/src/locales/ko/image-input.json
  apps/delidev/src/new-session.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
