Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): retire terminal skill preparation capacity
  cmds/delidev-cli/internal/server/skill_preparations.go
  cmds/delidev-cli/internal/server/skill_preparations_test.go
  cmds/delidev-cli/internal/server/skills.go
  cmds/delidev-cli/internal/skills/AGENTS.md
  cmds/delidev-cli/internal/skills/manager.go
  cmds/delidev-cli/internal/skills/preparations.go
  cmds/delidev-cli/internal/skills/preparations_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/skill_preparations_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

test(delidev): prove failed and restarted skill preparation cleanup
  cmds/delidev-cli/internal/server/skill_preparations_test.go
Due: go-fmt

fix(delidev): bound original skill resource removal claims
  cmds/delidev-cli/internal/skills/preparations.go
  cmds/delidev-cli/internal/skills/preparations_test.go
Due: go-fmt

fix(delidev): fence ambiguous restored skill token bindings
  apps/delidev/src/queue.test.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): fence skill completion by original composer locks
  apps/delidev/AGENTS.md
  apps/delidev/src/new-session.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): fence skill token edits and aggregate cleanup admission
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  cmds/delidev-cli/internal/domain/skills.go
  cmds/delidev-cli/internal/server/sessions.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/skill_capacity.go
  cmds/delidev-cli/internal/store/skill_capacity_test.go
  docs/cmds-delidev-sessions-contract.md
Due: go-fmt

docs(delidev): retain typed skill queue editing ownership
  apps/delidev/src/AGENTS.md
Due: none

fix(delidev): bound skill cleanup across Sidechat families
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/sidechat.go
  cmds/delidev-cli/internal/store/skill_capacity.go
  cmds/delidev-cli/internal/store/skill_family_capacity_test.go
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-sidechat-contract.md
Due: go-fmt

fix(clibox): retain precision across repeated time fractions
  apps/public-docs/docs/clibox/transformations.md
  crates/AGENTS.md
  crates/clibox-transform/src/time.rs
  crates/clibox/tests/utilities.rs
  docs/crates-clibox-foundation.md
  packages/clibox/scripts/smoke.mjs
Due: cargo-fmt

fix(clibox): restore Windows decoder internal visibility
  crates/clibox-fspy/src/windows.rs
  crates/clibox-fspy/src/windows_frame.rs
Due: cargo-fmt

fix(clibox): decode Windows descriptor mutation frames
  crates/AGENTS.md
  crates/clibox-fspy/src/lib.rs
  crates/clibox-fspy/src/windows.rs
  crates/clibox-fspy/src/windows_frame.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): relocate verified executable aliases in reproduction
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): validate captured directory identity before expansion
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

test(clibox): use snapshot limit in executable alias fixture
  crates/clibox/tests/fspy_repro.rs
Due: cargo-fmt

fix(clibox): preserve Linux nofollow link entries
  crates/AGENTS.md
  crates/clibox-fspy/src/lib.rs
  crates/clibox-fspy/src/linux/paths.rs
  crates/clibox-fspy/src/unix_paths.rs
  crates/clibox-fspy/src/watch.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): verify nofollow reproduction link identities
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  crates/clibox-fspy/src/repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): reject inaccessible nofollow ancestor paths
  crates/clibox-fspy/src/linux/paths.rs
  crates/clibox-fspy/src/unix_paths.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): check effective Linux executable access
  crates/AGENTS.md
  crates/clibox-fspy/src/lib.rs
  crates/clibox-fspy/src/linux/capture.rs
  crates/clibox-fspy/src/root_program.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): remove unused Linux capture path import
  crates/clibox-fspy/src/linux/capture.rs
Due: cargo-fmt

fix(clibox): scope Linux capture path import to tests
  crates/clibox-fspy/src/linux/capture.rs
Due: cargo-fmt

fix(clibox): retain cancellation through reproduction reports
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): share complete asset coverage reports
  crates/AGENTS.md
  crates/clibox-fspy/src/cli.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): diagnose unmatched Linux socket owners
  crates/AGENTS.md
  crates/clibox-system/src/port/linux.rs
  crates/clibox-system/src/port/linux_snapshot.rs
  crates/clibox-system/src/port/mod.rs
  crates/clibox-system/src/port/tests.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): retain original sockets through port termination
  crates/AGENTS.md
  crates/clibox-system/src/port/mod.rs
  crates/clibox-system/src/port/tests.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(clibox): prevent stale acknowledgements from dropping interrupts
  docs/packages-clibox-distribution-contract.md
  packages/AGENTS.md
  packages/clibox/src/launcher.cjs
  packages/clibox/test/launcher-interrupt.test.mjs
Due: none

test(clibox): respect terminal interrupt fallback policy
  crates/clibox/tests/run.rs
  docs/crates-clibox-foundation.md
  packages/AGENTS.md
Due: cargo-fmt

fix(clibox): follow symlinks before parent components in reproductions
  crates/AGENTS.md
  crates/clibox-fspy/src/repro.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(clibox): expand Windows executable references before lookup
  crates/AGENTS.md
  crates/clibox-system/src/environment.rs
  crates/clibox/tests/run_windows.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(delidev): retain selected skills with session drafts
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/new-session.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session-skill-draft.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): freeze supported image model eligibility and recovery
  apps/delidev/src-tauri/AGENTS.md
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/image_input_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/imageinput/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/image_claims.go
  cmds/delidev-cli/internal/server/image_cleanup.go
  cmds/delidev-cli/internal/server/image_uploads.go
  cmds/delidev-cli/internal/server/image_uploads_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_fork.go
  docs/cmds-delidev-image-input-contract.md
Due: go-fmt

feat(delidev): retain image cleanup and original Runner authority
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/image_upload.go
  cmds/delidev-cli/internal/harness/codex/image_input.go
  cmds/delidev-cli/internal/imageinput/storage.go
  cmds/delidev-cli/internal/imageinput/storage_test.go
  cmds/delidev-cli/internal/server/image_claims.go
  cmds/delidev-cli/internal/server/image_cleanup.go
  cmds/delidev-cli/internal/server/image_transfers.go
  cmds/delidev-cli/internal/server/image_uploads.go
  cmds/delidev-cli/internal/server/image_uploads_test.go
  cmds/delidev-cli/internal/server/server_startup.go
  cmds/delidev-cli/internal/server/sessions.go
Due: go-fmt

feat(delidev): define immutable image input and transfer interfaces
  AGENTS.md
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/image_input.go
  cmds/delidev-cli/internal/domain/image_input_test.go
  cmds/delidev-cli/internal/domain/image_upload.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/domain/worker.go
  docs/cmds-delidev-image-input-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  go.mod
  go.sum
  packages/delidev-api-client/src/gen/delidev/v1/attachments-AttachmentService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/attachments_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev-AttachmentService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/session_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/attachments.proto
  protos/delidev/v1/delidev.proto
  protos/delidev/v1/session.proto
  protos/delidev/v1/system.proto
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/attachments.pb.go
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/attachments.connect.go
  protos/gen/go/delidev/v1/session.pb.go
  protos/gen/go/delidev/v1/system.pb.go
  protos/gen/go/delidev/v1/worker.pb.go
  protos/gen/go/delidev/v1/zz_delidev_compat.go
Due: go-fmt

feat(delidev): retain image ownership through Fork and durable deletion
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/server/server_routes.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/backup_restore_image.go
  cmds/delidev-cli/internal/store/image_lifecycle.go
  cmds/delidev-cli/internal/store/image_lifecycle_test.go
  cmds/delidev-cli/internal/store/session_deletion_backups.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_image_deletions_test.go
  docs/cmds-delidev-forks-contract.md
  docs/cmds-delidev-sidechat-contract.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): remove pagination completion notices
  apps/delidev/scripts/test-scroll-pagination-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/locales/en/pagination.json
  apps/delidev/src/locales/ko/pagination.json
  apps/delidev/src/schedules-sidebar.test.tsx
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/scroll-continuation.test.tsx
  apps/delidev/src/scroll-continuation.tsx
  apps/delidev/src/session-files.test.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retain authenticated image enqueue actor
  cmds/delidev-cli/internal/server/sessions.go
Due: go-fmt

Bound session image admission by durable cleanup capacity
  cmds/delidev-cli/internal/domain/image_upload.go
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/image_uploads.go
  cmds/delidev-cli/internal/server/image_uploads_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/image_capacity_test.go
  cmds/delidev-cli/internal/store/image_lifecycle.go
  docs/cmds-delidev-image-input-contract.md
Due: go-fmt

fix(delidev): observe skill-only deletion replay absence
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/skill_preparations_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

Preserve text-only queue admission without image authority
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/image_claims.go
  cmds/delidev-cli/internal/server/image_text_compat_test.go
  docs/cmds-delidev-image-input-contract.md
Due: go-fmt

fix(delidev): preserve queued image references and mixed Fork inputs
  apps/delidev/src/queue.tsx
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/skill_fork.go
  cmds/delidev-cli/internal/harness/codex/skills_test.go
  cmds/delidev-cli/internal/server/image_uploads_test.go
  cmds/delidev-cli/internal/server/pr_automatic.go
  cmds/delidev-cli/internal/server/sessions.go
  docs/cmds-delidev-image-input-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/session_pb.ts
  protos/delidev/allocations.json
  protos/delidev/v1/session.proto
  protos/gen/go/delidev/v1/session.pb.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
