Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): retain tab panels during initial usage reads
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
Due: none

fix(delidev): load selected pull requests automatically
  apps/delidev/scripts/test-pr-cards-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/pull-requests.json
  apps/delidev/src/locales/ko/pull-requests.json
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/pull-requests.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: none

Keep session Info concise and retain original name editing
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/disclosure.test.tsx
  apps/delidev/src/disclosure.tsx
  apps/delidev/src/execution-configuration.test.tsx
  apps/delidev/src/execution-configuration.tsx
  apps/delidev/src/locales/en/session-name.json
  apps/delidev/src/locales/ko/session-name.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/native-usage.tsx
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  apps/delidev/src/session-budget.test.tsx
  apps/delidev/src/session-budget.tsx
  apps/delidev/src/session-context.test.tsx
  apps/delidev/src/session-context.tsx
  apps/delidev/src/session-name-editor.test.tsx
  apps/delidev/src/session-name-editor.tsx
  apps/delidev/src/session-pull-requests.test.tsx
  apps/delidev/src/session-pull-requests.tsx
  apps/delidev/src/session-tools.test.tsx
  apps/delidev/src/session-tools.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/subagents.test.tsx
  apps/delidev/src/subagents.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): consolidate global policies under Project defaults
  apps/delidev/scripts/test-settings-actions-layout.mjs
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/en/settings.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/locales/ko/settings.json
  apps/delidev/src/project-behavior.test.tsx
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings-search.test.tsx
  apps/delidev/src/settings-search.tsx
  apps/delidev/src/settings-server-preferences.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): show compact waiting inputs above the composer
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/queue.json
  apps/delidev/src/locales/ko/queue.json
  apps/delidev/src/queue.test.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session-queue-recovery.test.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): flatten pull request repository disclosures
  apps/delidev/scripts/test-pr-sidebar-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): fill Settings search content width (#2221)
  apps/delidev/scripts/test-settings-search-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/settings-search.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): simplify subscription Manage labels (#2224)
  apps/delidev/src/locales/en/subscription-settings.json
  apps/delidev/src/subscription-controller.test.tsx
  apps/delidev/src/subscription-settings.test.tsx
Due: none

test(devhud): await exact modal focus transitions (#2257)
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/ui-foundation.test.tsx
Due: none

test(devhud): retry incomplete readiness JSON publication (#2232)
  apps/devhud/scripts/platform-smoke-child.test.mjs
Due: none

docs(delidev): align native defaults ownership summary
  docs/project-delidev.md
Due: none

feat(delidev): add inherited harness configuration ownership
  AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/configuration_transfer.go
  cmds/delidev-cli/internal/domain/harness_defaults.go
  cmds/delidev-cli/internal/domain/harness_defaults_test.go
  cmds/delidev-cli/internal/rpc/common.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/agent_worker_configuration.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_import.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
  cmds/delidev-cli/internal/server/harness_defaults.go
  cmds/delidev-cli/internal/server/harness_defaults_test.go
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/harness_defaults.go
  cmds/delidev-cli/internal/store/harness_defaults_test.go
  cmds/delidev-cli/internal/store/source_routing.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-catalog-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/system.pb.go
Due: go-fmt

fix(delidev): compact the keyboard shortcut catalog
  apps/delidev/scripts/test-shortcut-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/settings.tsx
  apps/delidev/src/shortcut-settings-layout.fixture.tsx
  apps/delidev/src/shortcut-settings.css
  apps/delidev/src/shortcut-settings.test.tsx
  apps/delidev/src/shortcut-settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): organize saved projects into four tabs
  apps/delidev/scripts/test-project-repository-order-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
  apps/delidev/src/project-edit-tabs.css
  apps/delidev/src/project-edit-tabs.test.tsx
  apps/delidev/src/project-edit-tabs.tsx
  apps/delidev/src/settings-projects.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): group optional repository checkout actions
  apps/delidev/scripts/test-repository-dialog-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/repository-registration.json
  apps/delidev/src/locales/ko/repository-registration.json
  apps/delidev/src/project-creation.tsx
  apps/delidev/src/repository-registration.css
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): flatten pull request repository disclosures (#2330)
  apps/delidev/scripts/test-pr-sidebar-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

Confirm normal desktop Quit before lifecycle cleanup
  apps/delidev/locales/native/en.json
  apps/delidev/locales/native/ko.json
  apps/delidev/macos-widget/Shared/Localization.swift
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/quit.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/localization_keys.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/quit_confirmation.rs
  apps/delidev/src-tauri/src/quit_dialog.rs
  apps/delidev/src-tauri/src/quit_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/locales/en/quit-confirmation.json
  apps/delidev/src/locales/ko/quit-confirmation.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/quit-confirmation.css
  apps/delidev/src/quit-confirmation.test.tsx
  apps/delidev/src/quit-confirmation.tsx
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

feat(delidev): organize Usage into overview, history and prices (#2274)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-usage-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/grok-accounting.tsx
  apps/delidev/src/locales/en/estimate-costs.json
  apps/delidev/src/locales/en/usage.json
  apps/delidev/src/locales/ko/estimate-costs.json
  apps/delidev/src/locales/ko/usage.json
  apps/delidev/src/native-accounting.tsx
  apps/delidev/src/pricing.tsx
  apps/delidev/src/settings-pricing.integration.test.tsx
  apps/delidev/src/usage-overview.tsx
  apps/delidev/src/usage-prices.tsx
  apps/delidev/src/usage.css
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-usage-contract.md
Due: none

test(runmoor): synchronize supervisor fixtures with Running (#2222)
  cmds/runmoor/internal/runmoor/host_test.go
Due: go-fmt

test(ach): retry bounded daemon startup contention (#2212)
  cmds/async-commit-hook/integration/integration_test.go
  cmds/async-commit-hook/integration/startup_retry_test.go
Due: go-fmt

feat(delidev): add inherited Codex CLI Settings across scopes
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-row.tsx
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/harness-settings-save.test.tsx
  apps/delidev/src/harness-settings.test.tsx
  apps/delidev/src/harness-settings.tsx
  apps/delidev/src/locales/en/harness-settings.json
  apps/delidev/src/locales/ko/harness-settings.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-category.ts
  apps/delidev/src/settings-search.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/project-delidev.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/configuration-identity.ts
  packages/delidev-api-client/src/harness-inheritance.test.ts
  packages/delidev-api-client/src/harness-inheritance.ts
  packages/delidev-api-client/src/index.ts
Due: none

Compact the command menu and search session titles
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/command-menu-glyph.tsx
  apps/delidev/src/command-menu-sessions.test.tsx
  apps/delidev/src/command-menu-sessions.tsx
  apps/delidev/src/command-menu.css
  apps/delidev/src/command-menu.tsx
  apps/delidev/src/locales/en/command-menu.json
  apps/delidev/src/locales/ko/command-menu.json
  docs/apps-delidev-desktop-contract.md
Due: none

Flatten Home project groups and add project action menus
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/sidebar.json
  apps/delidev/src/locales/ko/sidebar.json
  apps/delidev/src/project-settings-menu.test.tsx
  apps/delidev/src/project-settings-menu.tsx
  apps/delidev/src/session-row-actions.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): add inherited Claude Code CLI Settings
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/claude-harness-settings.test.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/harness-settings-save.test.tsx
  apps/delidev/src/harness-settings.tsx
  apps/delidev/src/locales/en/harness-settings.json
  apps/delidev/src/locales/ko/harness-settings.json
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-category.ts
  apps/delidev/src/settings-search.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/project-delidev.md
Due: none

Guide new schedules through Task Execution Repeat and Review
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/schedule-creation.json
  apps/delidev/src/locales/ko/schedule-creation.json
  apps/delidev/src/schedule-creation.css
  apps/delidev/src/schedule-creation.tsx
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/schedules.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): reorder waiting inputs with durable image snapshots
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src/locales/en/queue.json
  apps/delidev/src/locales/ko/queue.json
  apps/delidev/src/queue.tsx
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  apps/delidev/src/waiting-queue.test.tsx
  apps/delidev/src/waiting-queue.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/waiting_queue.go
  cmds/delidev-cli/internal/server/waiting_queue_test.go
  cmds/delidev-cli/internal/store/backup_restore_image.go
  cmds/delidev-cli/internal/store/execution.go
  cmds/delidev-cli/internal/store/fork_image_snapshot.go
  cmds/delidev-cli/internal/store/image_lifecycle.go
  cmds/delidev-cli/internal/store/queue_order.go
  cmds/delidev-cli/internal/store/queue_order_restore.go
  cmds/delidev-cli/internal/store/queue_order_test.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/store/sessions.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/session-SessionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/session_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/session.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/session.connect.go
  protos/gen/go/delidev/v1/session.pb.go
  protos/gen/go/delidev/v1/system.pb.go
Due: go-fmt

feat(delidev): define protected Worker MCP catalog ownership
  cmds/delidev-cli/internal/credentials/vault.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/mcp.go
  cmds/delidev-cli/internal/domain/mcp_test.go
  cmds/delidev-cli/internal/mcpmanagement/AGENTS.md
  cmds/delidev-cli/internal/mcpmanagement/manager.go
  cmds/delidev-cli/internal/mcpmanagement/manager_test.go
  docs/cmds-delidev-credentials-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-McpManagementService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev-McpWorkerService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/mcp_management-McpManagementService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/mcp_management-McpWorkerService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/mcp_management_pb.ts
  protos/delidev/v1/mcp_management.proto
  protos/gen/go/delidev/v1/delidevv1connect/mcp_management.connect.go
  protos/gen/go/delidev/v1/mcp_management.pb.go
Due: go-fmt

feat(delidev): show selected server unread Inbox icon badges
  apps/delidev/locales/native/en.json
  apps/delidev/locales/native/ko.json
  apps/delidev/macos-widget/Shared/Localization.swift
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/presentation.toml
  apps/delidev/src-tauri/src/badge_host.rs
  apps/delidev/src-tauri/src/badge_pixels.rs
  apps/delidev/src-tauri/src/localization_keys.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/window_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/inbox-badge.test.tsx
  apps/delidev/src/inbox-badge.tsx
  apps/delidev/src/inbox.tsx
  cmds/delidev-cli/internal/server/inbox.go
  cmds/delidev-cli/internal/server/inbox_badge_test.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/store/inbox.go
  cmds/delidev-cli/internal/store/inbox_badge_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-inbox-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/inbox-InboxService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/inbox_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
  protos/delidev/v1/inbox.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/inbox.connect.go
  protos/gen/go/delidev/v1/inbox.pb.go
  protos/gen/go/delidev/v1/system.pb.go
Due: cargo-fmt, go-fmt

Use direct starting branch autocomplete with stationary suggestions
  apps/delidev/scripts/test-project-session-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/new-session.json
  apps/delidev/src/locales/ko/new-session.json
  apps/delidev/src/new-session.tsx
  apps/delidev/src/project-session-layout.fixture.tsx
  apps/delidev/src/project-session-placement.ts
  apps/delidev/src/starting-branches.css
  apps/delidev/src/starting-branches.test.tsx
  apps/delidev/src/starting-branches.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): drive command menu pagination deterministically
  apps/delidev/src/command-menu-sessions.test.tsx
Due: none

test(delidev): preserve inert MCP references after partial unselection
  apps/delidev/src/mcp-settings.test.tsx
Due: none

fix(delidev): keep imported MCP selections inert during unrelated edits
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/mcp-selection.tsx
Due: none

fix(delidev): bound MCP metadata before catalog admission
  cmds/delidev-cli/internal/mcpmanagement/manager.go
  docs/cmds-delidev-mcp-management-contract.md
Due: go-fmt

fix(delidev): narrow terminal close request metadata before validation
  apps/delidev/src/session-terminals.test.tsx
  apps/delidev/src/session-terminals.tsx
Due: none

test(delidev): narrow saved notification preferences before cloning
  apps/delidev/src/notification-settings.test.tsx
Due: none

test(delidev): expect subscriptions without Advanced disclosure
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/settings.test.tsx
Due: none

docs(delidev): align script policy with Project defaults ownership
  apps/delidev/scripts/AGENTS.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
