Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(taskflow): connect graph planning execution caching and development sessions
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/taskflow/AGENTS.md
  crates/taskflow/Cargo.toml
  crates/taskflow/src/cache.rs
  crates/taskflow/src/ci.rs
  crates/taskflow/src/cli.rs
  crates/taskflow/src/config.rs
  crates/taskflow/src/discover.rs
  crates/taskflow/src/docker.rs
  crates/taskflow/src/environment.rs
  crates/taskflow/src/files.rs
  crates/taskflow/src/graph.rs
  crates/taskflow/src/lib.rs
  crates/taskflow/src/main.rs
  crates/taskflow/src/plan.rs
  crates/taskflow/src/process.rs
  crates/taskflow/src/remote.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/src/schedule.rs
  crates/taskflow/src/session.rs
  crates/taskflow/src/shard.rs
  crates/taskflow/taskflow.schema.json
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
Due: cargo-fmt

fix(runmoor-docs): redact malformed link diagnostics
  apps/AGENTS.md
  apps/runmoor-docs/scripts/public-content.test.mjs
  apps/runmoor-docs/scripts/validate-clean-urls.mjs
  docs/apps-runmoor-docs-foundation.md
Due: none

fix(runmoor-docs): check clean URLs across resource attributes
  apps/AGENTS.md
  apps/runmoor-docs/scripts/public-content.mjs
  apps/runmoor-docs/scripts/public-content.test.mjs
  apps/runmoor-docs/scripts/validate-clean-urls.mjs
  docs/apps-runmoor-docs-foundation.md
Due: none

fix(runmoor-docs): preserve release availability checks
  apps/AGENTS.md
  apps/runmoor-docs/scripts/public-content.test.mjs
  apps/runmoor-docs/scripts/release-claims.mjs
  apps/runmoor-docs/scripts/validate-clean-urls.mjs
  docs/apps-runmoor-docs-foundation.md
Due: none

fix(runmoor-docs): validate each discovery region independently
  apps/AGENTS.md
  apps/runmoor-docs/scripts/public-content.test.mjs
  apps/runmoor-docs/scripts/validate-clean-urls.mjs
  docs/apps-runmoor-docs-foundation.md
Due: none

fix(runmoor-docs): scan emitted stylesheet resources
  apps/AGENTS.md
  apps/runmoor-docs/scripts/public-content.mjs
  apps/runmoor-docs/scripts/public-content.test.mjs
  apps/runmoor-docs/scripts/validate-clean-urls.mjs
  docs/apps-runmoor-docs-foundation.md
Due: none

style(runmoor-docs): normalize release validator EOF
  apps/runmoor-docs/scripts/release-claims.mjs
Due: none

fix(devhud): preserve recovery boundaries
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/service-boundary.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(runmoor): accept larger runner release metadata
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/doctor_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): preserve cleanup during registration inspection races
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/inspection_registration_test.go
  cmds/runmoor/internal/runmoor/manager.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(runmoor): accept larger runner release metadata (#904)
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/doctor_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(devhud): pin executable sharun assets
  apps/devhud/README.md
  apps/devhud/cef-pins.json
  apps/devhud/scripts/verify-pins.mjs
  docs/apps-devhud-operations-contract.md
  docs/project-devhud.md
Due: none

fix(ach): renew terminal pre-push attempts in run-and-wait
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/prepush.go
  cmds/async-commit-hook/internal/core/scheduler_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): make expired evidence pruning idempotent
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/core_test.go
  cmds/async-commit-hook/internal/core/query.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): normalize evidence text for protobuf transports
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/evidence_text_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/protos-async-commit-hook-v1-contract.md
Due: go-fmt

fix(ach): discard stale reports before executing their owner
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/report_ownership_test.go
  cmds/async-commit-hook/internal/core/reports.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): acknowledge completed results only
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/public/docs/index.html
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/run-detail.test.tsx
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/core_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/apps-async-commit-hook-contract.md
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): distinguish detached runs from unfiltered branches
  apps/async-commit-hook/AGENTS.md
  apps/async-commit-hook/src/App.tsx
  apps/async-commit-hook/src/run-detail.test.tsx
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/branch_filter_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/apps-async-commit-hook-contract.md
  docs/packages-async-commit-hook-api-client-contract.md
  docs/protos-async-commit-hook-v1-contract.md
  packages/async-commit-hook-api-client/src/gen/async_commit_hook/v1/ach_pb.ts
  protos/AGENTS.md
  protos/async_commit_hook/v1/ach.proto
  protos/gen/go/async_commit_hook/v1/ach.pb.go
Due: go-fmt

fix(devhud): clarify AppImage launcher pins
  AGENTS.md
  apps/AGENTS.md
Due: none

fix(ach): finalize unowned queued cancellations atomically
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/cancellation_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): install project agents at the registered worktree root
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/agent_paths_test.go
  cmds/async-commit-hook/internal/core/agents.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): retry downstream publication independently
  .github/workflows/release-async-commit-hook.yml
  docs/cmds-async-commit-hook-release-contract.md
  packaging/async-commit-hook/AGENTS.md
  scripts/release/async-commit-hook.test.mjs
Due: none

feat(taskflow): complete cache sharding CI transfer and lifecycle conformance
  crates/taskflow/AGENTS.md
  crates/taskflow/README.md
  crates/taskflow/src/cache.rs
  crates/taskflow/src/ci.rs
  crates/taskflow/src/cli.rs
  crates/taskflow/src/config.rs
  crates/taskflow/src/discover.rs
  crates/taskflow/src/docker.rs
  crates/taskflow/src/files.rs
  crates/taskflow/src/graph.rs
  crates/taskflow/src/main.rs
  crates/taskflow/src/plan.rs
  crates/taskflow/src/process.rs
  crates/taskflow/src/remote.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/src/session.rs
  crates/taskflow/src/shard.rs
  crates/taskflow/taskflow.schema.json
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/README.md
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
  docs/project-taskflow.md
Due: cargo-fmt

test(ach): use native shell syntax for Windows redaction checks
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/security_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

test(ach): keep release fixtures dependency-free
  .github/workflows/release-async-commit-hook.yml
  docs/cmds-async-commit-hook-release-contract.md
  packaging/async-commit-hook/AGENTS.md
  scripts/ci/async-commit-hook-release.test.mjs
  scripts/release/async-commit-hook.test.mjs
Due: none

feat(taskflow): finalize scheduling, platform CI and public guides
  .github/workflows/CI.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/index.md
  apps/public-docs/docs/projects-overview.md
  apps/public-docs/docs/taskflow.md
  apps/public-docs/docs/taskflow/cache.md
  apps/public-docs/docs/taskflow/ci.md
  apps/public-docs/docs/taskflow/commands.md
  apps/public-docs/docs/taskflow/configuration.md
  apps/public-docs/rspress.config.ts
  apps/public-docs/scripts/validate-clean-urls.mjs
  crates/taskflow/src/remote.rs
  crates/taskflow/src/runner.rs
  crates/taskflow/src/schedule.rs
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/apps-public-docs-foundation.md
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
  docs/project-public-docs.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
Due: cargo-fmt

fix(ci): align OCI builder with the Go module toolchain
  docs/servers-devhud-api-contract.md
  scripts/ci/ci-contract.test.mjs
  servers/AGENTS.md
  servers/devhud-api/Dockerfile
Due: none

test(runmoor): allow shell validation headroom on loaded hosts
  cmds/runmoor/internal/runmoor/guest_validation_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(taskflow): bound Docker fallback cleanup and isolate its environment
  crates/taskflow/src/docker.rs
Due: cargo-fmt

docs(ach): explain terminal pre-push retries
  apps/async-commit-hook/public/docs/index.html
Due: none

docs(ach): record PR repair regression evidence
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(runmoor): preserve cleanup during registration inspection races (#905)
  apps/runmoor-docs/docs/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/inspection_registration_test.go
  cmds/runmoor/internal/runmoor/manager.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(devhud): retain focus in realqa modals
  apps/devhud/src/realqa-submission-ui.tsx
  apps/devhud/src/realqa-ui.test.tsx
  apps/devhud/src/realqa-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address account review feedback
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/native_plugin.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-ui.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/service-boundary.tsx
  docs/project-devhud.md
Due: cargo-fmt

fix(ach): preserve UTF-8 across evidence pages
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/evidence_text_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/protos-async-commit-hook-v1-contract.md
Due: go-fmt

fix(ach): normalize bounded Git diff text for Connect
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/diff_text_test.go
  cmds/async-commit-hook/internal/core/git.go
  docs/protos-async-commit-hook-v1-contract.md
Due: go-fmt

fix(taskflow): ignore read access events in development sessions
  crates/taskflow/AGENTS.md
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): deduplicate automatic runs by execution context
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/dedup_context_test.go
  cmds/async-commit-hook/internal/core/service.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(ach): refresh live worktree branch listings
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/store.go
  cmds/async-commit-hook/internal/core/worktree_branch_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt
