Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): simplify reset credit review and confirmation
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/subscription-quota.json
  apps/delidev/src/locales/ko/subscription-quota.json
  apps/delidev/src/subscription-quota.css
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): restore credit focus only to eligible openers
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
Due: none

fix(delidev): validate displayed credit expiry timestamps
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
Due: none

fix(delidev): retain Linux gh keyring session selectors
  cmds/delidev-cli/internal/harness/claude/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/executionenv/context.go
  cmds/delidev-cli/internal/harness/executionenv/context_test.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/ordinary_tools_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): retain gh config across Worker handoffs
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/worker_updates.go
  cmds/delidev-cli/internal/cli/worker_updates_environment_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): reject malformed reset credit expiry
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): preserve credit identity for focus restoration
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): retire captured quota credentials after cleanup
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_server_quota.go
  cmds/delidev-cli/internal/server/subscription_server_quota_cleanup.go
  cmds/delidev-cli/internal/server/subscription_server_quota_test.go
  cmds/delidev-cli/internal/server/subscription_server_quota_v2_test.go
  cmds/delidev-cli/internal/server/subscriptions.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): accept the exact external login completion
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client_test.go
  cmds/delidev-cli/internal/harness/codex/quota_external.go
  cmds/delidev-cli/internal/harness/codex/quota_external_test.go
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

fix(delidev): remove the session toolbar Info button (#1892)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-session-composer-layout.mjs
  apps/delidev/scripts/test-session-remediation-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session-composer-layout.fixture.tsx
  apps/delidev/src/session-presentation.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retain Worker GitHub CLI context (#1891)
  AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/worker_updates.go
  cmds/delidev-cli/internal/cli/worker_updates_environment_test.go
  cmds/delidev-cli/internal/harness/claude/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/api.go
  cmds/delidev-cli/internal/harness/claude/ordinary_tools_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/ordinary_tools_test.go
  cmds/delidev-cli/internal/harness/executionenv/AGENTS.md
  cmds/delidev-cli/internal/harness/executionenv/context.go
  cmds/delidev-cli/internal/harness/executionenv/context_test.go
  cmds/delidev-cli/internal/harness/grok/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/ordinary_tools_test.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/api_runtime.go
  cmds/delidev-cli/internal/harness/opencode/ordinary_tools_test.go
  cmds/delidev-cli/internal/harness/ordinary_tools_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/claude_execution.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/grok_execution.go
  cmds/delidev-cli/internal/worker/opencode_execution.go
  cmds/delidev-cli/internal/worker/ordinary_tools.go
  cmds/delidev-cli/internal/worker/ordinary_tools_test.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_opencode.go
  docs/cmds-delidev-credentials-contract.md
  docs/cmds-delidev-harness-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): simplify reset credit confirmation (#1893)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/subscription-quota.json
  apps/delidev/src/locales/ko/subscription-quota.json
  apps/delidev/src/subscription-quota.css
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): allow queued edits through the UTF-8 prompt limit
  apps/delidev/src/queue.test.tsx
  apps/delidev/src/queue.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retain original queue retries after row removal
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/queue.json
  apps/delidev/src/locales/ko/queue.json
  apps/delidev/src/mutation.tsx
  apps/delidev/src/queue-recovery.test.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session-queue-recovery.test.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retire unpublished fork process owners
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/process/AGENTS.md
  cmds/delidev-cli/internal/process/retire_owner.go
  cmds/delidev-cli/internal/process/retire_owner_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletion_fork_process_test.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_opencode.go
  cmds/delidev-cli/internal/worker/session_fork_process_test.go
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_preflight_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

test(delidev): reject nested Git aliases in prepared project forks
  cmds/delidev-cli/internal/workspace/fork_git_alias_test.go
Due: go-fmt

fix(delidev): exclude native Git aliases from workspace forks
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_git_alias_test.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

fix(delidev): retain original fork Git marker across phases
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_git_alias_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

fix(delidev): retain GitHub creation across capability refreshes
  apps/delidev/src/AGENTS.md
  apps/delidev/src/github-onboarding.test.tsx
  apps/delidev/src/github-onboarding.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/locales/en/integrations.json
  apps/delidev/src/locales/ko/integrations.json
  docs/cmds-delidev-integrations-contract.md
Due: none

fix(delidev): mask credential-shaped tray labels
  apps/delidev/src-tauri/src/presentation.rs
  apps/delidev/src/tray.test.ts
  apps/delidev/src/tray.ts
  docs/apps-delidev-widget-contract.md
Due: cargo-fmt

fix(delidev): preserve widget freshness after clock correction
  apps/delidev/macos-widget/Shared/Snapshot.swift
  apps/delidev/macos-widget/Tests/main.swift
  apps/delidev/macos-widget/Widget/StatusView.swift
  docs/apps-delidev-widget-contract.md
Due: none

test(delidev): compare complete retained cleanup records
  apps/delidev/src-tauri/src/browser_host.rs
Due: cargo-fmt

test(delidev): inject unsafe storage after accepted removal
  apps/delidev/src-tauri/src/browser_host.rs
Due: cargo-fmt

fix(delidev): drain independent browser cleanup queues after failure
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): guard original native credentials in content
  cmds/delidev-cli/internal/harness/claude/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/api.go
  cmds/delidev-cli/internal/harness/claude/api_test.go
  cmds/delidev-cli/internal/harness/claude/continuation.go
  cmds/delidev-cli/internal/harness/claude/history_files.go
  cmds/delidev-cli/internal/harness/claude/protected_content_test.go
  cmds/delidev-cli/internal/harness/claude/session.go
  cmds/delidev-cli/internal/harness/claude/stream.go
  cmds/delidev-cli/internal/harness/grok/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/protected_content_test.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/api.go
  cmds/delidev-cli/internal/harness/opencode/content_guard.go
  cmds/delidev-cli/internal/harness/opencode/events.go
  cmds/delidev-cli/internal/harness/opencode/protected_content_test.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_http.go
  cmds/delidev-cli/internal/worker/claude_subagents.go
  cmds/delidev-cli/internal/worker/native_protected_content_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): retain queue mutation recovery after row removal (#1907)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/queue.json
  apps/delidev/src/locales/ko/queue.json
  apps/delidev/src/mutation.tsx
  apps/delidev/src/queue-recovery.test.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session-queue-recovery.test.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): allow queued edits through the full UTF-8 prompt limit (#1906)
  apps/delidev/src/queue.test.tsx
  apps/delidev/src/queue.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retire original process owners after rejected forks (#1908)
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/process/AGENTS.md
  cmds/delidev-cli/internal/process/retire_owner.go
  cmds/delidev-cli/internal/process/retire_owner_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletion_fork_process_test.go
  cmds/delidev-cli/internal/store/session_deletions.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_opencode.go
  cmds/delidev-cli/internal/worker/session_fork_process_test.go
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_preflight_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

fix(delidev): exclude native Git administration aliases from fork copies (#1909)
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/fork.go
  cmds/delidev-cli/internal/workspace/fork_git_alias_test.go
  cmds/delidev-cli/internal/workspace/prepare.go
  docs/cmds-delidev-forks-contract.md
Due: go-fmt

fix(delidev): retain GitHub onboarding across capability refresh failures (#1910)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/github-onboarding.test.tsx
  apps/delidev/src/github-onboarding.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/locales/en/integrations.json
  apps/delidev/src/locales/ko/integrations.json
  docs/cmds-delidev-integrations-contract.md
Due: none

fix(delidev): mark future widget observations stale after clock correction (#1912)
  apps/delidev/macos-widget/Shared/Snapshot.swift
  apps/delidev/macos-widget/Tests/main.swift
  apps/delidev/macos-widget/Widget/StatusView.swift
  docs/apps-delidev-widget-contract.md
Due: none

fix(delidev): mask credential-shaped labels in tray presentation (#1911)
  apps/delidev/src-tauri/src/presentation.rs
  apps/delidev/src/tray.test.ts
  apps/delidev/src/tray.ts
  docs/apps-delidev-widget-contract.md
Due: cargo-fmt

fix(delidev): continue independent browser cleanup after a scope failure (#1913)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): block original native credentials from published content (#1914)
  cmds/delidev-cli/internal/harness/claude/AGENTS.md
  cmds/delidev-cli/internal/harness/claude/api.go
  cmds/delidev-cli/internal/harness/claude/api_test.go
  cmds/delidev-cli/internal/harness/claude/continuation.go
  cmds/delidev-cli/internal/harness/claude/history_files.go
  cmds/delidev-cli/internal/harness/claude/protected_content_test.go
  cmds/delidev-cli/internal/harness/claude/session.go
  cmds/delidev-cli/internal/harness/claude/stream.go
  cmds/delidev-cli/internal/harness/grok/AGENTS.md
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/input_test.go
  cmds/delidev-cli/internal/harness/grok/protected_content_test.go
  cmds/delidev-cli/internal/harness/opencode/AGENTS.md
  cmds/delidev-cli/internal/harness/opencode/api.go
  cmds/delidev-cli/internal/harness/opencode/content_guard.go
  cmds/delidev-cli/internal/harness/opencode/events.go
  cmds/delidev-cli/internal/harness/opencode/protected_content_test.go
  cmds/delidev-cli/internal/harness/opencode/session.go
  cmds/delidev-cli/internal/harness/opencode/session_http.go
  cmds/delidev-cli/internal/worker/claude_subagents.go
  cmds/delidev-cli/internal/worker/native_protected_content_test.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

test(delidev): model retryable offline outcome response
  apps/delidev/src-tauri/src/updater.rs
Due: cargo-fmt

fix(delidev): retain and join original native update outcomes
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/updater.rs
  apps/delidev/src-tauri/src/updater_host.rs
  cmds/delidev-cli/internal/cli/desktop_update_outcome_test.go
  docs/cmds-delidev-updates-contract.md
Due: cargo-fmt, go-fmt

test(delidev): match canonical installer fixture scope
  apps/delidev/src-tauri/src/updater.rs
Due: cargo-fmt

test(delidev): exercise retained update through resident begin
  apps/delidev/src-tauri/src/updater_host.rs
Due: cargo-fmt

fix(delidev): satisfy updater join clippy checks
  apps/delidev/src-tauri/src/updater_host.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
