Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(clibox): preserve wait results when stderr closes (#1072)
  crates/clibox-wait/src/wait_command.rs
  crates/clibox/Cargo.toml
  crates/clibox/tests/wait.rs
  docs/crates-clibox-foundation.md
Due: cargo-fmt

fix(ci): follow DeliDev retina source in LFS checks
  docs/cmds-delidev-evidence.md
  scripts/ci/lfs-assets.test.mjs
Due: none

fix(runmoor): retain image Tart run ownership
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/scheduler.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
  cmds/runmoor/internal/runmoor/tart_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

test(delidev): bound the complete sidebar settings scenario
  apps/delidev/src/App.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

fix(runmoor): hash images through verified VM directory
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/platform_other.go
  cmds/runmoor/internal/runmoor/platform_unix.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_digest_test.go
  cmds/runmoor/internal/runmoor/tart_integration_test.go
  cmds/runmoor/internal/runmoor/tart_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(delidev): batch bounded Git metadata observations
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/workspace/diff_isolation.go
  cmds/delidev-cli/internal/workspace/git_metadata.go
  cmds/delidev-cli/internal/workspace/git_metadata_test.go
  cmds/delidev-cli/internal/workspace/recover.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

chore(delidev): retain Grok startup failure evidence
  cmds/delidev-cli/internal/harness/grok/api.go
  cmds/delidev-cli/internal/harness/grok/api_test.go
  cmds/delidev-cli/internal/harness/grok/mode_test.go
  cmds/delidev-cli/internal/harness/grok/probe.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

docs(delidev): record repair validation and remaining blockers
  docs/cmds-delidev-evidence.md
Due: none

test(delidev): refresh unavailable pairing grant reads
  apps/delidev/src/settings.integration.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

fix(runmoor): retain live setup Tart process
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
Due: go-fmt

docs(delidev): record PR repair validation
  docs/cmds-delidev-evidence.md
Due: none

fix(runmoor): bind Tart PIDs to process identity
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/platform_other.go
  cmds/runmoor/internal/runmoor/platform_unix.go
  cmds/runmoor/internal/runmoor/process_identity.go
  cmds/runmoor/internal/runmoor/process_identity_darwin.go
  cmds/runmoor/internal/runmoor/process_identity_linux.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
  cmds/runmoor/internal/runmoor/tart_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(delidev): attest managed backup publication before recovery
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_creations_test.go
  cmds/delidev-cli/internal/store/backup_publications.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): bound backup publication to manageable image sizes
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/store/backup_creations.go
  cmds/delidev-cli/internal/store/backups_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): fail waited backup commands with retained job details
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/backups.go
  cmds/delidev-cli/internal/cli/backups_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): validate complete prerequisite diagnostic reports
  apps/delidev/AGENTS.md
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): expire legacy provider inventory cursors
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/catalog_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-provider-activation-contract.md
Due: go-fmt

test(delidev): bound delayed real-server model selection
  apps/delidev/src/settings.integration.test.tsx
  docs/cmds-delidev-evidence.md
Due: none

docs(delidev): record native quit timing and repair evidence
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

fix(runmoor): reconcile setup process before sealing
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
Due: go-fmt

fix(runmoor): pair image process identity snapshots
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
Due: go-fmt

fix(runmoor): wait for stopped Tart process exit
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

test(runmoor): use impossible fixture Tart PIDs
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
  cmds/runmoor/internal/runmoor/tart_test.go
Due: go-fmt

fix(runmoor): bind Tart ownership to VM identity (#1076)
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/guest_bootstrap_test.go
  cmds/runmoor/internal/runmoor/guest_validation_test.go
  cmds/runmoor/internal/runmoor/guided_init_test.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/images_import_test.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/managed_test.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/platform_other.go
  cmds/runmoor/internal/runmoor/platform_unix.go
  cmds/runmoor/internal/runmoor/process_identity.go
  cmds/runmoor/internal/runmoor/process_identity_darwin.go
  cmds/runmoor/internal/runmoor/process_identity_linux.go
  cmds/runmoor/internal/runmoor/scheduler.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  cmds/runmoor/internal/runmoor/tart.go
  cmds/runmoor/internal/runmoor/tart_digest_test.go
  cmds/runmoor/internal/runmoor/tart_integration_test.go
  cmds/runmoor/internal/runmoor/tart_ownership_test.go
  cmds/runmoor/internal/runmoor/tart_rename_darwin.go
  cmds/runmoor/internal/runmoor/tart_rename_linux.go
  cmds/runmoor/internal/runmoor/tart_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

docs(delidev): record latest-main PR validation
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): bundle macOS CEF before desktop development launch
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/run-desktop.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  apps/delidev/src-tauri/Cargo.toml
  docs/apps-delidev-desktop-contract.md
Due: none

docs(delidev): record CEF launcher validation and runtime limits
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): bundle CEF for macOS development launches (#1107)
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/run-desktop.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  apps/delidev/src-tauri/Cargo.toml
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): retain first provider activation retries
  apps/delidev/AGENTS.md
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/settings.test.tsx
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-provider-activation-contract.md
Due: none

feat(delidev): display distinct Grok usage accounting
  apps/delidev/AGENTS.md
  apps/delidev/src/grok-accounting.test.tsx
  apps/delidev/src/grok-accounting.tsx
  apps/delidev/src/usage.test.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

feat(delidev): select compatible accounts for stopped Codex sessions
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/document.go
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  cmds/delidev-cli/internal/apiproxy/history_test.go
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/session_dispatch_native_test.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/session_account_switch.go
  cmds/delidev-cli/internal/server/session_account_switch_test.go
  cmds/delidev-cli/internal/server/session_continuation.go
  cmds/delidev-cli/internal/worker/execution.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-proxy-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SessionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

docs(delidev): record accounting storage migration boundary
  docs/cmds-delidev-storage-contract.md
Due: none

feat(delidev): add owned PTY and ConPTY process support
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/process/process.go
  cmds/delidev-cli/internal/process/process_scope_unix.go
  cmds/delidev-cli/internal/process/process_windows.go
  cmds/delidev-cli/internal/process/terminal_unix.go
  cmds/delidev-cli/internal/process/terminal_unix_test.go
  docs/cmds-delidev-process-contract.md
Due: go-fmt

fix(delidev): account for Claude main-loop input usage
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/search_test.go
  cmds/delidev-cli/internal/cli/usage.go
  cmds/delidev-cli/internal/domain/budget.go
  cmds/delidev-cli/internal/domain/claude_usage.go
  cmds/delidev-cli/internal/domain/native_accounting.go
  cmds/delidev-cli/internal/domain/native_accounting_test.go
  cmds/delidev-cli/internal/domain/usage_summary.go
  cmds/delidev-cli/internal/server/execution_claude_usage.go
  cmds/delidev-cli/internal/server/native_accounting.go
  cmds/delidev-cli/internal/server/native_accounting_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/session_budget.go
  cmds/delidev-cli/internal/server/usage_summary.go
  cmds/delidev-cli/internal/store/backup_deletions_test.go
  cmds/delidev-cli/internal/store/budget.go
  cmds/delidev-cli/internal/store/combined_migration_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/native_accounting.go
  cmds/delidev-cli/internal/store/native_accounting_test.go
  cmds/delidev-cli/internal/store/pr_ci_problems_test.go
  cmds/delidev-cli/internal/store/pr_remediation_test.go
  cmds/delidev-cli/internal/store/pricing_test.go
  cmds/delidev-cli/internal/store/provider_defaults_test.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/usage_summary.go
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-usage-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

fix(delidev): allow explicit Claude resume after settled failure
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/claude_continuation.go
  cmds/delidev-cli/internal/domain/claude_continuation_test.go
  cmds/delidev-cli/internal/domain/execution_recovery.go
  cmds/delidev-cli/internal/domain/execution_recovery_test.go
  cmds/delidev-cli/internal/harness/claude/continuation_test.go
  cmds/delidev-cli/internal/server/claude_continuation_test.go
  cmds/delidev-cli/internal/server/claude_failed_resume_test.go
  cmds/delidev-cli/internal/server/claude_recovery_test.go
  cmds/delidev-cli/internal/worker/claude_continuation.go
  cmds/delidev-cli/internal/worker/claude_continuation_test.go
  cmds/delidev-cli/internal/worker/claude_inspection.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
Due: go-fmt

test(delidev): verify switched usage and exact selection history
  cmds/delidev-cli/internal/domain/execution_continuation.go
  cmds/delidev-cli/internal/server/session_account_switch_test.go
  cmds/delidev-cli/internal/server/session_continuation.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

feat(delidev): include PR handling in retained activity
  apps/delidev/AGENTS.md
  apps/delidev/src/activity-pr-source.tsx
  apps/delidev/src/activity.test.tsx
  apps/delidev/src/views.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/activity.go
  cmds/delidev-cli/internal/cli/activity_test.go
  cmds/delidev-cli/internal/domain/pr_activity.go
  cmds/delidev-cli/internal/server/activity.go
  cmds/delidev-cli/internal/server/pr_activity_test.go
  cmds/delidev-cli/internal/store/activity.go
  cmds/delidev-cli/internal/store/pr_activity.go
  cmds/delidev-cli/internal/store/pr_activity_test.go
  cmds/delidev-cli/internal/store/pr_problems.go
  cmds/delidev-cli/internal/store/pr_remediation.go
  cmds/delidev-cli/internal/store/pr_remediation_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-activity-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
