Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

test(delidev): cover atomic Codex saves and format bundle round trips
  cmds/delidev-cli/internal/server/account_api_formats_test.go
  docs/cmds-delidev-catalog-contract.md
Due: go-fmt

docs(delidev): align ordered routes with selected API formats
  docs/cmds-delidev-catalog-contract.md
Due: none

fix(delidev): deliver direct execution leases without inspection
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/subscriptions_finish_test.go
Due: go-fmt

test(delidev): retain streamed tool calls in each selected format
  cmds/delidev-cli/internal/server/account_api_formats_test.go
Due: go-fmt

fix(delidev): restore main CI after direct startup activation
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/response_usage.go
  cmds/delidev-cli/internal/domain/response_usage_test.go
  cmds/delidev-cli/internal/domain/session_fork.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/pr_remediation_selection_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_test.go
  cmds/delidev-cli/internal/server/session_compaction_large_test.go
  cmds/delidev-cli/internal/server/session_fork_deletion_test.go
  cmds/delidev-cli/internal/server/session_fork_dispatch.go
  cmds/delidev-cli/internal/server/session_fork_execution_test.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
  cmds/delidev-cli/internal/server/subscription_server_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/direct_startup.go
  cmds/delidev-cli/internal/worker/direct_startup_test.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_opencode.go
  docs/cmds-delidev-forks-contract.md
  docs/cmds-delidev-usage-contract.md
Due: go-fmt

test(delidev): use a native executable suffix in the Fork fixture
  cmds/delidev-cli/internal/worker/direct_startup_test.go
Due: go-fmt

test(delidev): align subscription diagnostics with metadata-only startup
  cmds/delidev-cli/internal/server/subscription_server_test.go
Due: go-fmt

fix(delidev): preserve validation order before adapter checks
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/native_options_test.go
Due: go-fmt

fix(delidev): restore main CI after direct startup activation (#1655)
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/response_usage.go
  cmds/delidev-cli/internal/domain/response_usage_test.go
  cmds/delidev-cli/internal/domain/session_fork.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/pr_remediation_selection_test.go
  cmds/delidev-cli/internal/server/session_claude_dispatch_test.go
  cmds/delidev-cli/internal/server/session_compaction_large_test.go
  cmds/delidev-cli/internal/server/session_fork_deletion_test.go
  cmds/delidev-cli/internal/server/session_fork_dispatch.go
  cmds/delidev-cli/internal/server/session_fork_execution_test.go
  cmds/delidev-cli/internal/server/session_forks.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
  cmds/delidev-cli/internal/server/subscription_server_test.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/direct_startup.go
  cmds/delidev-cli/internal/worker/direct_startup_test.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_opencode.go
  docs/cmds-delidev-forks-contract.md
  docs/cmds-delidev-usage-contract.md
Due: go-fmt

fix(ci): split PR Go validation across five Ubuntu runners
  .github/AGENTS.md
  .github/workflows/CI.yml
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/go-affected.mjs
  scripts/ci/go-affected.test.mjs
  scripts/ci/go-test.mjs
  scripts/ci/go-test.test.mjs
  scripts/ci/native-matrices.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
Due: none

test(delidev): verify delegated native effort through admission
  cmds/delidev-cli/internal/server/execution_claude_publication_test.go
  cmds/delidev-cli/internal/server/execution_claude_test.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
  cmds/delidev-cli/internal/worker/claude_binding_test.go
Due: go-fmt

fix(ci): split PR Go validation across five Ubuntu runners (#1656)
  .github/AGENTS.md
  .github/workflows/CI.yml
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/go-affected.mjs
  scripts/ci/go-affected.test.mjs
  scripts/ci/go-test.mjs
  scripts/ci/go-test.test.mjs
  scripts/ci/native-matrices.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
Due: none

fix(delidev): delete failed and disconnected subscription accounts
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-deletion.tsx
  apps/delidev/src/locales/en/subscription-settings.json
  apps/delidev/src/locales/ko/subscription-settings.json
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/subscription_account_delete.go
  cmds/delidev-cli/internal/server/subscription_account_delete_test.go
  cmds/delidev-cli/internal/server/subscription_batch_cleanup.go
  cmds/delidev-cli/internal/server/subscription_batch_cleanup_test.go
  cmds/delidev-cli/internal/server/subscription_cleanup_test.go
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/cmds-delidev-subscription-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

chore(delidev): reserve OAuth account API format selection
  AGENTS.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

fix(delidev): preserve settled logout cleanup and deletion retries
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-deletion.tsx
  apps/delidev/src/locales/en/account-deletion.json
  apps/delidev/src/locales/ko/account-deletion.json
  cmds/delidev-cli/internal/server/subscription_account_delete_test.go
  cmds/delidev-cli/internal/server/subscription_batch_cleanup.go
  cmds/delidev-cli/internal/server/subscription_batch_cleanup_test.go
  docs/cmds-delidev-structure-contract.md
  docs/cmds-delidev-subscription-contract.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): preserve legacy sessions during API account deletion
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/domain/session_legacy_preparation_test.go
  cmds/delidev-cli/internal/server/account_deletion_legacy_session_test.go
  cmds/delidev-cli/internal/server/direct_startup_test.go
  docs/cmds-delidev-execution-startup-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): close OAuth account dialog after connection
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/settings-navigation.test.tsx
  apps/delidev/src/settings-task.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
Due: none

chore(delidev): reserve OAuth account API format selection (#1657)
  AGENTS.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

fix(delidev): reserve account deletion requests during cleanup
  cmds/delidev-cli/internal/server/subscription_account_delete.go
  cmds/delidev-cli/internal/server/subscription_account_delete_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/subscription_cleanups.go
  cmds/delidev-cli/internal/store/subscription_deletion_request_test.go
  docs/cmds-delidev-structure-contract.md
  docs/cmds-delidev-subscription-contract.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): preserve visible backgrounds behind every modal
  apps/delidev/src/AGENTS.md
  apps/delidev/src/settings-api-deletion.integration.test.tsx
  apps/delidev/src/settings-paired-devices.test.tsx
  apps/delidev/src/settings-runner-devices.test.tsx
  apps/delidev/src/settings-task.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/themes.css
  docs/apps-delidev-desktop-contract.md
Due: none

Continue cleanup and selected Worker flows without ownership proof
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-worker.test.tsx
  apps/delidev/src/local-worker.ts
  apps/delidev/src/new-session.tsx
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/schedule-creation.tsx
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/session-tools.test.tsx
  cmds/delidev-cli/internal/process/process_scope_unix.go
  cmds/delidev-cli/internal/server/integration_access.go
  cmds/delidev-cli/internal/server/native_models.go
  cmds/delidev-cli/internal/server/subscription_server.go
  cmds/delidev-cli/internal/server/subscriptions.go
  cmds/delidev-cli/internal/server/workspace_reads.go
  cmds/delidev-cli/internal/store/backup_restores.go
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/workspace/delete.go
  cmds/delidev-cli/internal/workspace/prepare.go
  cmds/delidev-cli/internal/workspace/recover.go
  cmds/delidev-cli/internal/workspace/sidechat.go
Due: go-fmt

fix(delidev): explain accepted account cleanup on task departure
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-deletion.tsx
  apps/delidev/src/locales/en/account-deletion.json
  apps/delidev/src/locales/ko/account-deletion.json
Due: none

fix(delidev): close OAuth account dialog after connection (#1659)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/settings-navigation.test.tsx
  apps/delidev/src/settings-task.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
Due: none

fix(delidev): select API formats across provider connections
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/api-format-choice.tsx
  apps/delidev/src/locales/en/account-oauth.json
  apps/delidev/src/locales/ko/account-oauth.json
  apps/delidev/src/settings-configuration.integration.test.tsx
  apps/delidev/src/settings-navigation.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/cli/account_oauth.go
  cmds/delidev-cli/internal/cli/account_oauth_test.go
  cmds/delidev-cli/internal/cli/catalog_capability_test.go
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_api_formats_test.go
  cmds/delidev-cli/internal/server/account_oauth_gemini_test.go
  cmds/delidev-cli/internal/server/account_oauth_profiles.go
  cmds/delidev-cli/internal/server/catalog.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-account-oauth-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/account_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/provider_pb.ts
  protos/delidev/v1/account.proto
  protos/delidev/v1/provider.proto
  protos/gen/go/delidev/v1/account.pb.go
  protos/gen/go/delidev/v1/provider.pb.go
Due: go-fmt

fix(delidev): preserve legacy sessions during API account deletion (#1658)
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/session.go
  cmds/delidev-cli/internal/domain/session_legacy_preparation_test.go
  cmds/delidev-cli/internal/server/account_deletion_legacy_session_test.go
  cmds/delidev-cli/internal/server/direct_startup_test.go
  docs/cmds-delidev-execution-startup-contract.md
  docs/project-delidev.md
Due: go-fmt

Verify nonblocking ownership metadata and retain uncertain cleanup records
  apps/delidev/README.md
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/local_worker.rs
  apps/delidev/src-tauri/src/worker_supervision.rs
  apps/delidev/src/App.test.tsx
  apps/delidev/src/local-worker-controls.tsx
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/settings-workspace.integration.test.tsx
  cmds/delidev-cli/internal/process/process_scope_unix.go
  cmds/delidev-cli/internal/server/subscription_server.go
  cmds/delidev-cli/internal/worker/approval_responses_test.go
  cmds/delidev-cli/internal/worker/claude_checkpoint_test.go
  cmds/delidev-cli/internal/worker/claude_responses_test.go
  cmds/delidev-cli/internal/worker/compaction_large_stream_test.go
  cmds/delidev-cli/internal/worker/execution_checkpoint_test.go
  cmds/delidev-cli/internal/worker/execution_inspection_test.go
  cmds/delidev-cli/internal/worker/execution_recovery_test.go
  cmds/delidev-cli/internal/worker/grok_claims_test.go
  cmds/delidev-cli/internal/worker/grok_mode_claims_test.go
  cmds/delidev-cli/internal/worker/grok_response_boundary_test.go
  cmds/delidev-cli/internal/worker/lifecycle.go
  cmds/delidev-cli/internal/worker/lifecycle_test.go
  cmds/delidev-cli/internal/worker/opencode_continuation_test.go
  cmds/delidev-cli/internal/worker/question_responses_test.go
  cmds/delidev-cli/internal/worker/repository_clone_test.go
  cmds/delidev-cli/internal/worker/session_compaction_codex_test.go
  cmds/delidev-cli/internal/worker/session_compaction_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  cmds/delidev-cli/internal/worker/steer_test.go
  cmds/delidev-cli/internal/worker/storage_large_stream_test.go
Due: cargo-fmt, go-fmt

fix(delidev): launch through the resident desktop host
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/desktop_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/tests.rs
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

fix(delidev): launch through the resident desktop host (#1663)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/desktop_host.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/tests.rs
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

Allow workspace operations during unconfirmed cleanup and update admission regressions
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/local-worker-controls.test.tsx
  apps/delidev/src/locales/en/local-worker-controls.json
  apps/delidev/src/settings-runner-devices.test.tsx
  cmds/delidev-cli/internal/server/approval_interactions_test.go
  cmds/delidev-cli/internal/server/backup_restores_test.go
  cmds/delidev-cli/internal/server/backups_test.go
  cmds/delidev-cli/internal/server/catalog_test.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  cmds/delidev-cli/internal/server/github_form_test.go
  cmds/delidev-cli/internal/server/github_onboarding_test.go
  cmds/delidev-cli/internal/server/inbox_test.go
  cmds/delidev-cli/internal/server/interactions_test.go
  cmds/delidev-cli/internal/server/network_test.go
  cmds/delidev-cli/internal/server/pr_problems_test.go
  cmds/delidev-cli/internal/server/review_context_test.go
  cmds/delidev-cli/internal/server/session_pull_requests_test.go
  cmds/delidev-cli/internal/server/session_workspace.go
  cmds/delidev-cli/internal/server/ssh_setup_test.go
  cmds/delidev-cli/internal/server/user_services_test.go
  cmds/delidev-cli/internal/server/workspace_storage.go
  cmds/delidev-cli/internal/store/backup_restore_actor_test.go
  cmds/delidev-cli/internal/store/backup_restore_deletion_test.go
  cmds/delidev-cli/internal/store/backup_restore_network_test.go
  cmds/delidev-cli/internal/store/backup_restore_subscription_test.go
  cmds/delidev-cli/internal/store/backup_restores_test.go
  cmds/delidev-cli/internal/store/backups_test.go
  cmds/delidev-cli/internal/store/session_deletions_test.go
  cmds/delidev-cli/internal/store/terminal_deletion_test.go
  cmds/delidev-cli/internal/store/terminals_test.go
  cmds/delidev-cli/internal/worker/grok_binding_test.go
  cmds/delidev-cli/internal/worker/lifecycle_test.go
  cmds/delidev-cli/internal/worker/opencode_continuation_test.go
  cmds/delidev-cli/internal/worker/pr_startup_recovery_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  cmds/delidev-cli/internal/worker/session_fork_deletion_test.go
  cmds/delidev-cli/internal/workspace/continuation_test.go
  cmds/delidev-cli/internal/workspace/execution_test.go
  cmds/delidev-cli/internal/workspace/local_recovery_test.go
Due: cargo-fmt, go-fmt

test(delidev): include OAuth format capability in inventory checks
  cmds/delidev-cli/internal/server/catalog_test.go
Due: go-fmt

fix(delidev): align macOS development build deployment targets
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/run-desktop.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  docs/apps-delidev-desktop-contract.md
Due: none

docs(delidev): reserve key-preserving API format changes
  AGENTS.md
  docs/cmds-delidev-catalog-contract.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
