Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

docs(devhud): mark staging expiry as planned
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
Due: none

fix(devhud): log account repository failures
  servers/devhud-api/internal/rpc/account.go
  servers/devhud-api/internal/rpc/services_test.go
  servers/devhud-api/internal/server/server.go
Due: go-fmt

fix(devhud): bound OIDC JWKS refresh
  servers/devhud-api/internal/auth/auth.go
  servers/devhud-api/internal/auth/auth_test.go
Due: go-fmt

fix(devhud): address API review boundaries
  go.mod
  servers/devhud-api/internal/auth/auth.go
  servers/devhud-api/internal/auth/auth_test.go
  servers/devhud-api/internal/domain/domain.go
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/rpc/auth_interceptor.go
  servers/devhud-api/internal/rpc/services_test.go
  servers/devhud-api/internal/rpc/settings.go
  servers/devhud-api/internal/server/middleware.go
  servers/devhud-api/internal/server/server.go
  servers/devhud-api/internal/server/server_test.go
  servers/devhud-api/internal/sweeper/sweeper.go
  servers/devhud-api/internal/sweeper/sweeper_test.go
Due: go-fmt

fix(devhud): bound sweeps and log settings failures
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/devhud-api/cmd/devhud-api-sweeper/main.go
  servers/devhud-api/cmd/devhud-api-sweeper/main_test.go
  servers/devhud-api/internal/rpc/services_test.go
  servers/devhud-api/internal/rpc/settings.go
  servers/devhud-api/internal/server/server.go
Due: go-fmt

fix(devhud): address operational review feedback
  AGENTS.md
  docs/project-devhud.md
  docs/protos-devhud-v1-contract.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/cmd/devhud-api-sweeper/main.go
  servers/devhud-api/cmd/devhud-api-sweeper/main_test.go
  servers/devhud-api/internal/auth/auth.go
  servers/devhud-api/internal/auth/auth_test.go
  servers/devhud-api/internal/config/config.go
  servers/devhud-api/internal/config/config_test.go
  servers/devhud-api/internal/domain/domain.go
  servers/devhud-api/internal/postgres/store.go
  servers/devhud-api/internal/postgres/store_integration_test.go
  servers/devhud-api/internal/rpc/auth_interceptor.go
  servers/devhud-api/internal/rpc/services_test.go
  servers/devhud-api/internal/rpc/settings.go
  servers/devhud-api/internal/server/middleware.go
  servers/devhud-api/internal/server/server_test.go
  servers/devhud-api/migrations/00003_request_rpc_status.sql
  servers/devhud-api/migrations/migrations.go
Due: go-fmt

ci(devhud): verify mobile targets and artifacts
  .github/workflows/CI.yml
Due: none

fix(devhud): classify flattened verifier timeouts
  servers/devhud-api/internal/auth/auth.go
  servers/devhud-api/internal/auth/auth_test.go
Due: go-fmt

fix(devhud): address API retention review
  AGENTS.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/internal/server/middleware.go
  servers/devhud-api/internal/server/server.go
  servers/devhud-api/internal/server/server_test.go
  servers/devhud-api/internal/sweeper/sweeper.go
  servers/devhud-api/internal/sweeper/sweeper_test.go
Due: go-fmt

fix(devhud): address mobile host review feedback
  apps/devhud/mobile/overrides/android/app/src/main/AndroidManifest.xml
  apps/devhud/mobile/overrides/android/app/src/main/res/xml/backup_rules.xml
  apps/devhud/mobile/overrides/android/app/src/main/res/xml/data_extraction_rules.xml
  apps/devhud/package.json
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/native_plugin.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/surface-state.test.tsx
  apps/devhud/src/surface-state.tsx
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): address account and URL review
  servers/devhud-api/internal/config/config.go
  servers/devhud-api/internal/config/config_test.go
  servers/devhud-api/internal/rpc/account.go
  servers/devhud-api/internal/rpc/auth_interceptor.go
  servers/devhud-api/internal/rpc/common_errors.go
  servers/devhud-api/internal/server/server_test.go
Due: go-fmt

fix(devhud): restore desktop and ios CI packaging
  .github/workflows/CI.yml
  apps/devhud/scripts/run-tauri-arguments.mjs
  apps/devhud/scripts/run-tauri.mjs
  apps/devhud/scripts/run-tauri.test.mjs
Due: none

fix(devhud): address mobile host review feedback
  .github/workflows/CI.yml
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
Due: none

fix(devhud): link iOS native plugin package
  Cargo.lock
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/mobile/ios/Package.swift
Due: cargo-fmt

fix(devhud): disable iOS CI code signing
  .github/workflows/CI.yml
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
Due: none

ci(devhud): pass iOS no-sign flag
  .github/workflows/CI.yml
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
Due: none

fix(devhud): avoid duplicate iOS plugin source
  apps/devhud/scripts/generate-mobile.mjs
Due: none

fix(devhud): address mobile host review feedback
  apps/devhud/README.md
  apps/devhud/mobile-platforms.json
  apps/devhud/mobile/overrides/android/app/src/debug/AndroidManifest.xml
  apps/devhud/mobile/overrides/android/app/src/main/AndroidManifest.xml
  apps/devhud/mobile/overrides/android/app/src/main/res/values-ko/devhud_strings.xml
  apps/devhud/mobile/overrides/android/app/src/main/res/values/devhud_strings.xml
  apps/devhud/package.json
  apps/devhud/scripts/generate-mobile.mjs
  apps/devhud/scripts/generate-mobile.test.mjs
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/native-bridge.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): normalize mobile dependency closures
  apps/devhud/mobile-platforms.json
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
Due: none

fix(devhud): build Intel iOS simulator workspace
  apps/devhud/README.md
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): prepare Intel simulator frontend
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
Due: none

fix(devhud): restore CEF bundles and Intel iOS
  .github/workflows/CI.yml
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/run-tauri-arguments.mjs
  apps/devhud/scripts/run-tauri.test.mjs
  apps/devhud/src-tauri/Cargo.toml
Due: none

fix(devhud): target generated Intel workspace
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
Due: none

fix(devhud): address mobile notification review
  apps/devhud/mobile-platforms.json
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): preserve iOS build options server
  apps/devhud/README.md
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): address Android host review feedback
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
Due: none

fix(devhud): address mobile review feedback
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  apps/devhud/src/styles.css
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): keep Intel iOS options alive
  apps/devhud/README.md
  apps/devhud/scripts/run-mobile.mjs
  apps/devhud/scripts/run-mobile.test.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): surface store failures and gate mobile CI
  .github/workflows/CI.yml
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/localization.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

docs(devhud): finalize identity and settings boundary
  AGENTS.md
  apps/AGENTS.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud-api): address upload review feedback
  servers/AGENTS.md
  servers/devhud-api/internal/cloudflare/client.go
  servers/devhud-api/internal/cloudflare/client_test.go
  servers/devhud-api/internal/domain/upload.go
  servers/devhud-api/internal/postgres/upload_store.go
  servers/devhud-api/internal/postgres/upload_store_integration_test.go
  servers/devhud-api/internal/rpc/upload.go
  servers/devhud-api/internal/rpc/upload_test.go
  servers/devhud-api/internal/upload/admin.go
  servers/devhud-api/internal/upload/admin_test.go
  servers/devhud-api/internal/upload/sensitive.go
  servers/devhud-api/internal/upload/service.go
  servers/devhud-api/internal/upload/service_test.go
  servers/devhud-api/migrations/00004_uploads.sql
Due: go-fmt

fix(devhud-api): harden staging cleanup
  docs/servers-devhud-api-contract.md
  servers/devhud-api/internal/config/config.go
  servers/devhud-api/internal/config/config_test.go
  servers/devhud-api/internal/domain/upload.go
  servers/devhud-api/internal/postgres/upload_store.go
  servers/devhud-api/internal/postgres/upload_store_integration_test.go
  servers/devhud-api/internal/sweeper/sweeper.go
  servers/devhud-api/internal/sweeper/sweeper_test.go
  servers/devhud-api/internal/upload/service.go
  servers/devhud-api/internal/upload/service_test.go
  servers/devhud-api/migrations/00004_uploads.sql
Due: go-fmt

fix(devhud-api): address upload review feedback
  AGENTS.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/deploy/cloudflare-public-get-rate-limit.json
  servers/devhud-api/internal/cloudflare/client.go
  servers/devhud-api/internal/cloudflare/client_test.go
  servers/devhud-api/internal/domain/upload.go
  servers/devhud-api/internal/postgres/upload_store.go
  servers/devhud-api/internal/postgres/upload_store_integration_test.go
  servers/devhud-api/internal/upload/admin.go
  servers/devhud-api/internal/upload/admin_test.go
  servers/devhud-api/internal/upload/service.go
  servers/devhud-api/internal/upload/service_test.go
Due: go-fmt

fix(devhud-api): normalize upload state filters
  servers/devhud-api/internal/rpc/upload.go
  servers/devhud-api/internal/rpc/upload_test.go
Due: go-fmt

fix(devhud): build client and encode entitlements
  Cargo.lock
  apps/devhud/package.json
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
Due: cargo-fmt

fix(devhud): address identity boundary review
  Cargo.lock
  apps/devhud/fixtures/identity-settings-e2e.json
  apps/devhud/scripts/accessibility.test.mjs
  apps/devhud/scripts/localization.test.mjs
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/registry.test.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/src/secure_store.rs
  apps/devhud/src/App.test.tsx
  apps/devhud/src/App.tsx
  apps/devhud/src/identity-client.test.ts
  apps/devhud/src/identity-client.ts
  apps/devhud/src/identity-contract.ts
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/local-data.test.ts
  apps/devhud/src/local-data.ts
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/service-boundary.tsx
  apps/devhud/src/shell.ts
  apps/devhud/tsconfig.json
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): address identity settings review
  apps/AGENTS.md
  apps/devhud/mobile/overrides/android/app/src/main/AndroidManifest.xml
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src-tauri/src/secure_store.rs
  apps/devhud/src/identity-settings.e2e.test.tsx
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/service-boundary.tsx
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt
