Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

Reject native Codex app policy overrides and persistent tool grants
  cmds/delidev-cli/internal/harness/codex/apps_effective.go
  cmds/delidev-cli/internal/harness/codex/apps_effective_test.go
Due: go-fmt

Declare original Codex apps controls with owning allocation closure
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/codex_apps-CodexAppsService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/codex_apps_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker-WorkerService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/codex_apps.proto
  protos/delidev/v1/system.proto
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/codex_apps.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/codex_apps.connect.go
  protos/gen/go/delidev/v1/delidevv1connect/worker.connect.go
  protos/gen/go/delidev/v1/system.pb.go
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

Join original Codex app controls to immutable Worker execution ownership
  cmds/delidev-cli/internal/worker/codex_apps_control.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/run.go
Due: go-fmt

Keep Codex app authority in each immutable assignment without rewriting session configuration
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/server/execution_interactions.go
  cmds/delidev-cli/internal/server/execution_tools.go
Due: go-fmt

Retain positive no-native-send cancellation for unclaimed app controls
  cmds/delidev-cli/internal/domain/codex_apps_control.go
Due: go-fmt

Bind one-call Codex app approval and result proof to the original execution
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/execution_job.go
  cmds/delidev-cli/internal/domain/interactions.go
  cmds/delidev-cli/internal/domain/question_responses.go
  cmds/delidev-cli/internal/harness/codex/apps_calls.go
  cmds/delidev-cli/internal/harness/codex/apps_questions.go
  cmds/delidev-cli/internal/harness/codex/interaction.go
  cmds/delidev-cli/internal/harness/codex/question_acceptance.go
  cmds/delidev-cli/internal/harness/codex/questions.go
  cmds/delidev-cli/internal/server/execution_interactions.go
  cmds/delidev-cli/internal/server/execution_tools.go
  cmds/delidev-cli/internal/server/question_delivery.go
  cmds/delidev-cli/internal/store/codex_app_calls.go
  cmds/delidev-cli/internal/worker/codex_interactions.go
  cmds/delidev-cli/internal/worker/codex_tools.go
Due: go-fmt

feat(delidev): manage original Codex Apps selections and revocation
  apps/delidev/src/codex-apps.test.tsx
  apps/delidev/src/codex-apps.tsx
  apps/delidev/src/locales/en/codex-apps.json
  apps/delidev/src/locales/ko/codex-apps.json
Due: none

Retain immutable private Codex app call identity against observation edits
  cmds/delidev-cli/internal/domain/codex_app_calls.go
  cmds/delidev-cli/internal/harness/codex/apps_calls.go
  cmds/delidev-cli/internal/harness/codex/apps_calls_test.go
Due: go-fmt

Bind complete native app catalog observations to the original operation claim
  cmds/delidev-cli/internal/domain/codex_apps_control.go
Due: go-fmt

Publish bounded original app progress and author approval ownership regressions
  cmds/delidev-cli/internal/harness/codex/apps_calls.go
  cmds/delidev-cli/internal/harness/codex/apps_progress.go
  cmds/delidev-cli/internal/harness/codex/apps_questions_test.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/questions.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/codex_tools.go
Due: go-fmt

fix(delidev): retain original account revision for Apps removal
  apps/delidev/src/codex-apps.test.tsx
  apps/delidev/src/codex-apps.tsx
Due: none

Define original-controller Codex app inspection and revocation receipts
  cmds/delidev-cli/internal/domain/codex_apps_control.go
Due: go-fmt

Present unclaimed app cancellation without inferring native cleanup
  apps/delidev/src/codex-apps.test.tsx
  apps/delidev/src/codex-apps.tsx
  apps/delidev/src/locales/en/codex-apps.json
  apps/delidev/src/locales/ko/codex-apps.json
Due: none

fix(delidev): align bounded app control pages with original execution journals
  cmds/delidev-cli/internal/store/codex_apps.go
Due: go-fmt

Display original Codex app inputs results and progress as inert typed data
  apps/delidev/src/native-codex-app.test.tsx
  apps/delidev/src/native-codex-app.tsx
Due: none

Preserve bounded original app history without new call authority
  cmds/delidev-cli/internal/harness/codex/apps_calls.go
  cmds/delidev-cli/internal/harness/codex/apps_calls_test.go
  cmds/delidev-cli/internal/harness/codex/compaction.go
Due: go-fmt

feat(delidev): open Codex Apps from original session Info
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/session-codex-apps.test.tsx
  apps/delidev/src/session.tsx
Due: none

fix(delidev): bind unclaimed app cancellation to the exact terminal assignment
  cmds/delidev-cli/internal/store/codex_apps.go
Due: go-fmt

feat(delidev): persist original Codex app selections and once-only controls
  cmds/delidev-cli/internal/server/codex_apps.go
  cmds/delidev-cli/internal/server/codex_apps_worker.go
  cmds/delidev-cli/internal/store/codex_apps.go
Due: go-fmt

Add original app control replay and refresh regressions
  cmds/delidev-cli/internal/domain/codex_apps.go
  cmds/delidev-cli/internal/worker/codex_apps_control.go
  cmds/delidev-cli/internal/worker/codex_apps_control_test.go
Due: go-fmt

Reconcile app controller method and canceled state declarations
  cmds/delidev-cli/internal/domain/codex_apps_control.go
  cmds/delidev-cli/internal/worker/codex_apps_control.go
  cmds/delidev-cli/internal/worker/codex_apps_control_test.go
Due: go-fmt

Wire original Codex Apps controls and assignment authority
  cmds/delidev-cli/internal/server/execution_completion.go
  cmds/delidev-cli/internal/server/server_routes.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/workers.go
Due: go-fmt

fix(delidev): retain app control history and protected account generations
  cmds/delidev-cli/internal/server/codex_apps.go
  cmds/delidev-cli/internal/server/codex_apps_test.go
  cmds/delidev-cli/internal/store/codex_apps.go
  cmds/delidev-cli/internal/store/codex_apps_test.go
Due: go-fmt

Document original Apps authority and independent cleanup boundaries
  AGENTS.md
  apps/delidev/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/worker/AGENTS.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/project-delidev.md
Due: none

Define original Apps metadata restore and purge fences
  cmds/delidev-cli/internal/store/AGENTS.md
  docs/cmds-delidev-storage-contract.md
Due: none

Keep idle Apps selection behind original preparation and cleanup proof
  apps/delidev/src/codex-apps.test.tsx
  apps/delidev/src/codex-apps.tsx
Due: none

Join Apps metadata with original deletion and restore admission
  cmds/delidev-cli/internal/store/backup_restore_image.go
  cmds/delidev-cli/internal/store/session_deletions.go
Due: go-fmt

Deny ambient native app execution without explicit selection
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/subscription.go
  cmds/delidev-cli/internal/harness/codex/subscription_test.go
Due: go-fmt

Reject independent wire controls alongside Apps delivery
  cmds/delidev-cli/internal/worker/codex_apps_control.go
  cmds/delidev-cli/internal/worker/codex_apps_control_test.go
  cmds/delidev-cli/internal/worker/run.go
Due: go-fmt

Scope Apps deletion inventory before applying its bound
  cmds/delidev-cli/internal/store/codex_apps.go
Due: go-fmt

Protect Codex Apps metadata across cleanup restore and deletion
  cmds/delidev-cli/internal/store/codex_apps.go
  cmds/delidev-cli/internal/store/codex_apps_test.go
Due: go-fmt

Align Apps payload limits and opaque native identity validation
  apps/delidev/src/codex-apps.tsx
Due: none

Advertise the complete explicit Codex Apps adapter
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/worker/run.go
Due: go-fmt

feat(delidev): add app information and retain desktop updater in Settings
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/app-information.toml
  apps/delidev/src-tauri/src/app_information.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/app-information.css
  apps/delidev/src/app-information.test.tsx
  apps/delidev/src/app-information.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/locales/en/app-information.json
  apps/delidev/src/locales/ko/app-information.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/settings-category.ts
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-search.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/updates.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-localization-contract.md
  docs/cmds-delidev-updates-contract.md
Due: cargo-fmt

test(delidev): align rejected-image notice assertion
  apps/delidev/src/startup-rejection.test.tsx
Due: none

Normalize generated Apps module EOF in the generation path
  packages/delidev-api-client/src/gen/delidev/v1/codex_apps_pb.ts
  scripts/delidev/proto-compat.mjs
Due: none

fix(delidev): enable verified Codex current-time profile
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/client_test.go
  cmds/delidev-cli/internal/harness/codex/current_time.go
  cmds/delidev-cli/internal/harness/codex/current_time_test.go
  cmds/delidev-cli/internal/harness/codex/thread_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/execution.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): dismiss skill overlay when composer is clipped
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
Due: none

docs(delidev): clarify skill overlay flow ownership
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): support Codex native sleep observations (#2652)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/native-sleep.test.ts
  apps/delidev/src/native-sleep.ts
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/execution_tools.go
  cmds/delidev-cli/internal/domain/sleep_test.go
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/continuation.go
  cmds/delidev-cli/internal/harness/codex/continuation_test.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/sleep.go
  cmds/delidev-cli/internal/harness/codex/sleep_test.go
  cmds/delidev-cli/internal/harness/codex/tools.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_sleep_test.go
  cmds/delidev-cli/internal/server/execution_tools.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/codex_sleep_test.go
  cmds/delidev-cli/internal/worker/codex_tools.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
