Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(realqa): deactivate stale GitHub installations
  servers/devhud-realqa/db/query/github_provider.sql
  servers/devhud-realqa/internal/database/dbgen/github_provider.sql.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/github/postgres.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(devhud): address composer command review
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): restore capture backend feature builds
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(devhud): serialize Deck deletion boundaries
  servers/devhud-deck/internal/database/audit_deletion.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/devices.go
  servers/devhud-deck/internal/service/device.go
Due: go-fmt

fix(devhud): address macOS capture review feedback
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/src/realqa_capture/macos.rs
  apps/devhud/src-tauri/src/realqa_capture/macos_native.m
Due: cargo-fmt

fix(devhud): gate Windows capture capabilities
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(devhud): simplify macOS catalog result type
  apps/devhud/src-tauri/src/realqa_capture/macos.rs
Due: cargo-fmt

fix(devhud): satisfy capture backend clippy
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(realqa): preserve GitHub repository schema fidelity
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  docs/protos-devhud-realqa-api-contract.md
  docs/servers-devhud-realqa-foundation.md
  protos/AGENTS.md
  protos/devhud-realqa/devhud.realqa.v1.binpb
  protos/devhud-realqa/gen/go/devhud-realqa/v1/tracker.pb.go
  protos/devhud-realqa/gen/ts/devhud-realqa/v1/tracker_pb.ts
  protos/devhud-realqa/v1/tracker.proto
  servers/AGENTS.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/service/tracker.go
  servers/devhud-realqa/internal/service/tracker_test.go
Due: go-fmt

test(delibase): use safe expiration fixture reference
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(devhud): address screenshot editor review
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
Due: none

fix(delibase): include Deck proto in image build
  servers/delibase/Dockerfile
Due: none

fix(devhud): address Deck review feedback
  servers/devhud-deck/db/migrations/000001_deck_core.sql
  servers/devhud-deck/db/query/deletion.sql
  servers/devhud-deck/db/query/system.sql
  servers/devhud-deck/db/query/views.sql
  servers/devhud-deck/internal/database/audit_deletion.go
  servers/devhud-deck/internal/database/audit_deletion_test.go
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/deletion.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/dbgen/system.sql.go
  servers/devhud-deck/internal/database/dbgen/views.sql.go
  servers/devhud-deck/internal/query/query.go
  servers/devhud-deck/internal/query/query_test.go
  servers/devhud-deck/internal/service/authorization_test.go
  servers/devhud-deck/internal/service/device.go
  servers/devhud-deck/internal/service/helpers.go
  servers/devhud-deck/internal/service/view.go
Due: go-fmt

fix(devhud): harden macOS display capture
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/src/realqa_capture/macos.rs
  apps/devhud/src-tauri/src/realqa_capture/macos_native.m
Due: cargo-fmt

fix(devhud): allow Linux capture task names
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

fix(realqa): omit issue form markdown from bodies
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
Due: go-fmt

fix(devhud): handle capped effect previews
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src/realqa/editor/ScreenshotEditor.test.tsx
  apps/devhud/src/realqa/editor/ScreenshotEditor.tsx
  docs/apps-devhud-foundation.md
Due: none

fix(deck): preserve authorization and replay invariants
  servers/devhud-deck/db/migrations/000001_deck_core.sql
  servers/devhud-deck/db/query/deletion.sql
  servers/devhud-deck/db/query/devices.sql
  servers/devhud-deck/db/query/views.sql
  servers/devhud-deck/internal/contracts/contracts.go
  servers/devhud-deck/internal/database/audit_deletion.go
  servers/devhud-deck/internal/database/audit_deletion_test.go
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/deletion.sql.go
  servers/devhud-deck/internal/database/dbgen/devices.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/dbgen/views.sql.go
  servers/devhud-deck/internal/database/devices.go
  servers/devhud-deck/internal/service/authorization_test.go
  servers/devhud-deck/internal/service/device.go
  servers/devhud-deck/internal/service/service.go
  servers/devhud-deck/internal/service/view.go
  servers/devhud-deck/internal/shortcut/shortcut.go
Due: go-fmt

fix(devhud): drop path-like X11 metadata
  apps/devhud/src-tauri/src/realqa_capture/linux/x11.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
Due: cargo-fmt

ci(devhud): cover macOS capture support modules
  .github/workflows/CI.yml
Due: none

fix(realqa): address provider review
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/service/preset.go
  servers/devhud-realqa/internal/service/preset_test.go
Due: go-fmt

fix(deck): address runtime review feedback
  servers/devhud-deck/db/query/devices.sql
  servers/devhud-deck/db/query/views.sql
  servers/devhud-deck/internal/authn/authn.go
  servers/devhud-deck/internal/authn/authn_test.go
  servers/devhud-deck/internal/config/config.go
  servers/devhud-deck/internal/config/config_test.go
  servers/devhud-deck/internal/database/audit_deletion.go
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/devices.sql.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/dbgen/views.sql.go
  servers/devhud-deck/internal/database/devices.go
  servers/devhud-deck/internal/service/device.go
  servers/devhud-deck/internal/service/device_test.go
  servers/devhud-deck/internal/service/view.go
Due: go-fmt

fix(devhud): close capture review races
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(devhud): skip vanished Windows capture sources
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(devhud): address macOS capture review
  apps/AGENTS.md
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/macos.rs
  apps/devhud/src-tauri/src/realqa_capture/macos_native.m
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(realqa): address GitHub connection review
  servers/devhud-realqa/cmd/devhud-realqa/main.go
  servers/devhud-realqa/github-app-manifest.json
  servers/devhud-realqa/internal/github/manifest.go
  servers/devhud-realqa/internal/github/postgres.go
  servers/devhud-realqa/internal/service/preset.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/preset_test.go
  servers/devhud-realqa/internal/service/service.go
Due: go-fmt

feat(devhud): add encrypted RealQA local drafts
  Cargo.lock
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/scripts/test-realqa-native.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/realqa-composer.json
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/contracts.ts
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
  apps/devhud/src/realqa/drafts/tauri.ts
  apps/devhud/src/realqa/drafts/url.ts
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

feat(devhud): add RealQA Chrome capture bridge
  AGENTS.md
  README.md
  apps/AGENTS.md
  apps/devhud/.gitignore
  apps/devhud/README.md
  apps/devhud/eslint.config.js
  apps/devhud/package.json
  apps/devhud/realqa-extension/manifest.template.json
  apps/devhud/realqa-extension/src/dom-selection.js
  apps/devhud/realqa-extension/src/manifest.test.js
  apps/devhud/realqa-extension/src/popup.css
  apps/devhud/realqa-extension/src/popup.html
  apps/devhud/realqa-extension/src/popup.js
  apps/devhud/realqa-extension/src/popup.test.js
  apps/devhud/realqa-extension/src/protocol.js
  apps/devhud/realqa-extension/src/protocol.test.js
  apps/devhud/realqa-extension/src/service-worker.js
  apps/devhud/realqa-extension/src/service-worker.test.js
  apps/devhud/scripts/build-realqa-extension.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/native_host_main.rs
  apps/devhud/src-tauri/src/realqa_native_host.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/vitest.config.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

feat(deck): add GitHub App provider adapter
  AGENTS.md
  README.md
  apps/AGENTS.md
  docs/README.md
  docs/project-devhud.md
  docs/servers-devhud-deck-foundation.md
  protos/AGENTS.md
  servers/AGENTS.md
  servers/devhud-deck/README.md
  servers/devhud-deck/cmd/devhud-deck/main.go
  servers/devhud-deck/db/migrations/000002_github_provider.sql
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/api/api.go
  servers/devhud-deck/internal/audit/audit.go
  servers/devhud-deck/internal/config/config.go
  servers/devhud-deck/internal/config/config_test.go
  servers/devhud-deck/internal/database/audit_deletion.go
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/fixtures_test.go
  servers/devhud-deck/internal/github/handlers.go
  servers/devhud-deck/internal/github/handlers_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/github/oauth.go
  servers/devhud-deck/internal/github/signatures.go
  servers/devhud-deck/internal/github/types.go
  servers/devhud-deck/internal/service/github.go
  servers/devhud-deck/internal/service/integration.go
  servers/devhud-deck/internal/service/repository_authorizer.go
  servers/devhud-deck/internal/service/service.go
  servers/devhud-deck/internal/service/view.go
  servers/devhud-deck/testdata/github-app/README.md
  servers/devhud-deck/testdata/github-app/manifest.json
  servers/devhud-deck/testdata/github-app/signatures.json
Due: go-fmt

fix(devhud): harden Windows capture identity and geometry
  apps/devhud/scripts/check-realqa-windows.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

feat(realqa): implement image storage lifecycle
  AGENTS.md
  docs/README.md
  docs/project-devhud.md
  docs/servers-devhud-realqa-foundation.md
  go.mod
  go.sum
  servers/AGENTS.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/artifacts/cloudflare-public-images.fixture.json
  servers/devhud-realqa/artifacts/cloudflare_public_images_test.go
  servers/devhud-realqa/cmd/devhud-realqa/main.go
  servers/devhud-realqa/db/migrations/000004_image_storage.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/migrations/security_test.go
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/api/api.go
  servers/devhud-realqa/internal/api/api_test.go
  servers/devhud-realqa/internal/api/github_webhook.go
  servers/devhud-realqa/internal/config/config.go
  servers/devhud-realqa/internal/config/config_test.go
  servers/devhud-realqa/internal/database/dbgen/models.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/imageassets/http.go
  servers/devhud-realqa/internal/imageassets/http_test.go
  servers/devhud-realqa/internal/imageassets/image.go
  servers/devhud-realqa/internal/imageassets/image_test.go
  servers/devhud-realqa/internal/imageassets/r2.go
  servers/devhud-realqa/internal/imageassets/signing.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/service.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(realqa): fail closed on credential lifecycle races
  docs/servers-devhud-realqa-foundation.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/db/query/github_provider.sql
  servers/devhud-realqa/internal/database/dbgen/github_provider.sql.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/github/adapter.go
  servers/devhud-realqa/internal/github/adapter_integration_test.go
  servers/devhud-realqa/internal/service/deletion.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

test(realqa): use simple protocol for refresh fixture
  servers/devhud-realqa/internal/github/adapter_integration_test.go
Due: go-fmt

fix(devhud): omit path-like Windows metadata
  apps/devhud/src-tauri/src/realqa_capture/windows.rs
Due: cargo-fmt

fix(realqa): require upload storage for submissions
  servers/devhud-realqa/internal/service/submission.go
Due: go-fmt

fix(devhud): address local draft review feedback
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/contracts.ts
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
Due: cargo-fmt

fix(realqa): address image storage review feedback
  servers/devhud-realqa/db/migrations/000004_image_storage.sql
  servers/devhud-realqa/db/migrations/migrations_test.go
  servers/devhud-realqa/db/migrations/security_test.go
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/imageassets/http.go
  servers/devhud-realqa/internal/imageassets/http_test.go
  servers/devhud-realqa/internal/imageassets/signing.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(devhud): satisfy native host clippy lint
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): validate RealQA draft submission state
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_capture/editor.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
