Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(runlens): isolate Git discovery and terminate Windows payload strings
  crates/runlens/PATCHES.md
  crates/runlens/src/clean.rs
  crates/runlens/vendor/fspy/src/windows/mod.rs
  crates/runlens/vendor/fspy_preload_windows/src/windows/client.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(ach): propagate preparation failure persistence errors
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/persistence_failure_test.go
  cmds/async-commit-hook/internal/core/runner.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): revalidate session prerequisite outputs
  crates/taskflow/AGENTS.md
  crates/taskflow/src/session.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): retain Docker launch context for cleanup
  crates/taskflow/AGENTS.md
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): stream Git tree entries through source preparation
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/git.go
  cmds/async-commit-hook/internal/core/git_blobs.go
  cmds/async-commit-hook/internal/core/git_tree_stream_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(runlens): honor diagnostic color and inspect isolated Git failures
  crates/runlens/src/clean.rs
  crates/runlens/src/main.rs
  crates/runlens/tests/native.rs
Due: cargo-fmt

chore(runlens): keep Windows diagnostic fixture lint clean
  crates/runlens/src/clean.rs
Due: cargo-fmt

fix(taskflow): preserve shard termination reasons
  crates/taskflow/AGENTS.md
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  crates/taskflow/tests/support/fixture.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): reject incompatible dependency OS applicability
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/dependency_os_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): reject unknown affected task filters
  crates/taskflow/AGENTS.md
  crates/taskflow/src/plan.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): validate resolved Docker platform defaults
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/src/graph.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
  docs/crates-taskflow-foundation.md
Due: cargo-fmt

fix(taskflow): reject nonrelative input patterns
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): validate terminal CI artifact integrity
  crates/taskflow/AGENTS.md
  crates/taskflow/src/ci.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(runlens): use portable private Git configuration files
  crates/runlens/src/clean.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
Due: cargo-fmt

fix(ach): validate complete bounded LFS pointers
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/git_blobs.go
  cmds/async-commit-hook/internal/core/git_lfs.go
  cmds/async-commit-hook/internal/core/git_lfs_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): scope harness checks to selected Cargo targets
  Cargo.lock
  crates/taskflow/AGENTS.md
  crates/taskflow/Cargo.toml
  crates/taskflow/src/shard.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): validate readiness endpoint syntax before startup
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

test(taskflow): await observable orphan PID reaping
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): refresh unchanged owned hooks on reinstall
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/hooks.go
  cmds/async-commit-hook/internal/core/hooks_refresh_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): preserve native Windows deletion status
  crates/taskflow/AGENTS.md
  crates/taskflow/Cargo.toml
  crates/taskflow/src/files/windows.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

refactor(taskflow): clarify relative input validation
  crates/taskflow/src/config.rs
Due: cargo-fmt

fix(ach): exclude non-execution settings from fingerprints
  apps/async-commit-hook/public/docs/index.html
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/config.go
  cmds/async-commit-hook/internal/core/fingerprint_test.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

test(taskflow): avoid concurrent executable copy races
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

docs(ach): record seventh-finding repair verification
  docs/cmds-async-commit-hook-evidence.md
Due: none

fix(taskflow): request native Windows metadata access
  crates/taskflow/AGENTS.md
  crates/taskflow/src/files/windows.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(ach): reload lossless run source and branch identities
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/run_source_test.go
  cmds/async-commit-hook/internal/core/store.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): report pending cancellations with code 130
  crates/taskflow/src/runner.rs
  crates/taskflow/tests/conformance.rs
Due: cargo-fmt

fix(runlens): reject non-file installer destinations
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/install/runlens-test.py
  scripts/install/runlens.sh
Due: none

fix(runlens): restrict docs deployment to main
  .github/workflows/runlens-docs.yml
  apps/AGENTS.md
  docs/apps-runlens-docs-foundation.md
  scripts/ci/runlens.test.mjs
Due: none

fix(ach): validate structured JUnit source lines
  cmds/async-commit-hook/AGENTS.md
  cmds/async-commit-hook/internal/core/api.go
  cmds/async-commit-hook/internal/core/failure_summary.go
  cmds/async-commit-hook/internal/core/junit_line_test.go
  cmds/async-commit-hook/internal/core/reports.go
  docs/cmds-async-commit-hook-contract.md
Due: go-fmt

fix(taskflow): reject nonportable output roots
  crates/taskflow/AGENTS.md
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(runlens): validate Homebrew input changes
  .github/workflows/runlens.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/runlens.test.mjs
Due: none

fix(taskflow): reject children beneath artifact file records
  crates/taskflow/AGENTS.md
  crates/taskflow/src/cache.rs
  crates/taskflow/tests/conformance.rs
  docs/crates-taskflow-conformance.md
Due: cargo-fmt

fix(taskflow): preserve external effects in session plans
  crates/taskflow/src/plan.rs
  crates/taskflow/tests/conformance.rs
Due: cargo-fmt

fix(taskflow): validate every shell argument before execution
  crates/taskflow/src/config.rs
  crates/taskflow/tests/conformance.rs
Due: cargo-fmt

fix(ach): verify existing release tag commit before signing
  .github/workflows/release-async-commit-hook.yml
  docs/cmds-async-commit-hook-release-contract.md
  packaging/async-commit-hook/AGENTS.md
  scripts/ci/async-commit-hook-release.test.mjs
  scripts/release/async-commit-hook.test.mjs
  scripts/release/build-async-commit-hook.py
Due: none

fix(runlens): require matching source selection for comparison
  apps/runlens-docs/docs/verification.md
  crates/AGENTS.md
  crates/runlens/src/analysis.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
  docs/project-runlens.md
Due: cargo-fmt

fix(taskflow): retain resolved Docker environment precedence
  crates/taskflow/src/docker.rs
  crates/taskflow/tests/conformance.rs
Due: cargo-fmt

fix(runlens): publish only after the tap update succeeds
  .github/workflows/release-runlens.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/runlens.test.mjs
Due: none

fix(runlens): preserve policy failures across inconclusive comparisons
  apps/runlens-docs/docs/verification.md
  crates/AGENTS.md
  crates/runlens/src/clean.rs
  crates/runlens/tests/native.rs
  docs/crates-runlens-foundation.md
  docs/project-runlens.md
Due: cargo-fmt
