Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(pnport): stage Unix-first releases and isolate supervisor tests
  .github/AGENTS.md
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/pnport/benchmarks.md
  apps/public-docs/docs/pnport/filesystem-and-processes.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/releases.md
  crates/AGENTS.md
  crates/pnport/src/supervisor.rs
  docs/README.md
  docs/apps-pnport-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  docs/repository-workflow-contract.md
  packages/AGENTS.md
  packages/pnport/README.md
  packages/pnport/package.json
  packages/pnport/scripts/common.mjs
  packages/pnport/scripts/evidence.mjs
  packages/pnport/scripts/github-release.mjs
  packages/pnport/scripts/homebrew.mjs
  packages/pnport/scripts/native-matrix.mjs
  packages/pnport/scripts/package.mjs
  packages/pnport/scripts/publish.mjs
  packages/pnport/scripts/smoke.mjs
  packages/pnport/src/launcher.cjs
  packages/pnport/src/platforms.cjs
  packages/pnport/test/launcher.test.mjs
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/install/pnport.ps1
  scripts/release/pnport-distribution.test.mjs
  scripts/release/pnport-matrix.test.mjs
Due: cargo-fmt

fix(delidev): release unclaimed stale automatic fixes
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/pr_automatic.go
  cmds/delidev-cli/internal/server/pr_automatic_test.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  docs/cmds-delidev-integrations-contract.md
Due: go-fmt

fix(delidev): recheck automatic policy before preflight
  cmds/delidev-cli/internal/server/pr_automatic_test.go
  cmds/delidev-cli/internal/server/pr_fix.go
Due: go-fmt

test(pnport): align release contracts with four native targets
  docs/crates-pnport-foundation.md
  packages/pnport/scripts/common.mjs
  scripts/ci/project-release.test.mjs
  scripts/release/README.md
  scripts/release/pnport-distribution.test.mjs
Due: none

ci(pnport): validate all crates with macOS 13 deployment floor
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  docs/packages-pnport-distribution-contract.md
  scripts/release/pnport-matrix.test.mjs
Due: none

feat(delidev): unify Settings body presentation
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/agent-configuration.css
  apps/delidev/src/api-account.css
  apps/delidev/src/appearance.tsx
  apps/delidev/src/backup-job.tsx
  apps/delidev/src/backups.css
  apps/delidev/src/backups.tsx
  apps/delidev/src/cache.test.ts
  apps/delidev/src/cache.ts
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/configuration-browser-cleanup.test.tsx
  apps/delidev/src/configuration-transfer.css
  apps/delidev/src/device-settings.css
  apps/delidev/src/doctor.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/main.tsx
  apps/delidev/src/notification-presentation.tsx
  apps/delidev/src/notification-settings.test.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/server-preferences.css
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-models.test.tsx
  apps/delidev/src/settings-presentation.css
  apps/delidev/src/settings-presentation.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/subscription-settings.tsx
  apps/delidev/src/themes.css
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-diagnostics-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
Due: none

fix(pnport): prepare native test companions and CI Yarn consumers
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  docs/packages-pnport-distribution-contract.md
  packages/pnport/scripts/smoke.mjs
  scripts/release/pnport-matrix.test.mjs
Due: none

fix(delidev): skip retained feedback for empty selectors
  cmds/delidev-cli/internal/server/pr_automatic.go
  cmds/delidev-cli/internal/server/pr_automatic_test.go
Due: go-fmt

test(delidev): preserve explicit models after observation failure
  cmds/delidev-cli/internal/server/native_models_test.go
Due: go-fmt

test(delidev): cover Settings forms across browser matrix
  apps/delidev/scripts/test-settings-layout.mjs
Due: none

fix(delidev): retain proved failed discovery authority
  cmds/delidev-cli/internal/server/pr_automatic.go
  cmds/delidev-cli/internal/server/pr_automatic_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/pr_automatic_test.go
  cmds/delidev-cli/internal/store/pr_fix.go
  docs/cmds-delidev-integrations-contract.md
Due: go-fmt

fix(delidev): use native fixture path separators
  apps/delidev/scripts/test-settings-layout.mjs
Due: none

fix(pnport): preserve macOS recursion guards and deny io_uring probes safely
  .github/workflows/CI.yml
  .github/workflows/release-pnport.yml
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/pnport/src/linux.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
  scripts/release/pnport-matrix.test.mjs
Due: cargo-fmt

feat(delidev): redesign Notifications settings with compact rows (#1257)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/notification-presentation.test.tsx
  apps/delidev/src/notification-presentation.tsx
  apps/delidev/src/notification-settings.css
  apps/delidev/src/notification-settings.test.tsx
  apps/delidev/src/notification-settings.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): discard deferred notification focus on interaction
  apps/delidev/src/notification-settings.test.tsx
  apps/delidev/src/notification-settings.tsx
Due: none

fix(delidev): announce subscription loading once
  apps/delidev/src/subscription-settings.tsx
Due: none

fix(delidev): retain visible backup dismissal label
  apps/delidev/src/backup-job.tsx
Due: none

fix(delidev): retain visible notification refresh label
  apps/delidev/src/notification-presentation.tsx
Due: none

fix(clibox): satisfy strict Homebrew formula audit
  docs/packages-clibox-distribution-contract.md
  packaging/homebrew/AGENTS.md
  packaging/homebrew/templates/clibox.rb.tmpl
  scripts/release/clibox-homebrew.test.mjs
Due: none

fix(clibox): satisfy strict Homebrew formula audit (#1262)
  docs/packages-clibox-distribution-contract.md
  packaging/homebrew/AGENTS.md
  packaging/homebrew/templates/clibox.rb.tmpl
  scripts/release/clibox-homebrew.test.mjs
Due: none

docs(pnport): distinguish candidate CI from full release acceptance
  docs/crates-pnport-foundation.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
Due: none

fix(delidev): preserve Settings textarea whitespace
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/settings-presentation.css
Due: none

docs(pnport): align runtime README with staged release gates
  crates/pnport/README.md
Due: none

test(pnport): decouple readiness fixtures from live release state
  scripts/release/pnport-distribution.test.mjs
Due: none

docs(pnport): reconcile remaining four-host CI contracts
  AGENTS.md
  docs/crates-fspy-vendor-contract.md
  docs/repository-workflow-contract.md
Due: none

test(delidev): bound paired-device lifecycle scenarios for CI
  apps/delidev/src/settings-paired-devices.test.tsx
Due: none

fix(pnport): recover macOS process groups after supervisor death
  crates/AGENTS.md
  crates/pnport/src/macos_owner.rs
  crates/pnport/src/main.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/process-tree.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

test(pnport): fix installed executable selection
  crates/pnport/tests/process_lifecycle.rs
Due: cargo-fmt

fix(pnport): enforce acknowledged group escalation in the parent
  crates/pnport/src/macos_owner.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): recover macOS process groups after supervisor death (#1276)
  crates/AGENTS.md
  crates/pnport/src/macos_owner.rs
  crates/pnport/src/main.rs
  crates/pnport/src/supervisor.rs
  crates/pnport/tests/process-tree.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(pnport): preserve macOS fork and spawnp interception
  crates/AGENTS.md
  crates/fspy_preload_unix/src/pnport.rs
  crates/fspy_preload_unix/src/pnport/fork_mutex.rs
  crates/pnport/tests/process-tree.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-fspy-vendor-contract.md
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

fix(pnport): preserve unplugged installation traversal
  crates/AGENTS.md
  crates/pnport-core/src/view.rs
  crates/pnport/tests/core.rs
  docs/crates-pnport-foundation.md
Due: cargo-fmt

fix(pnport): retain recursive terminal virtual links
  crates/pnport-core/src/view.rs
  crates/pnport/tests/recursive_links.rs
  crates/pnport/tests/terminal-links.c
Due: cargo-fmt

fix(clibox): preserve internal file symlinks in min-repro
  crates/AGENTS.md
  crates/clibox-fspy/src/repro.rs
  crates/clibox/tests/fspy_repro.rs
  docs/crates-clibox-fspy-contract.md
Due: cargo-fmt

fix(delidev): evict stale automatic PR cooldowns
  cmds/delidev-cli/internal/server/pr_automatic.go
  cmds/delidev-cli/internal/server/pr_automatic_scheduler_test.go
Due: go-fmt

fix(delidev): bind automatic replacement to source link
  cmds/delidev-cli/internal/server/pr_automatic.go
  cmds/delidev-cli/internal/store/pr_automatic_test.go
  cmds/delidev-cli/internal/store/pr_fix.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
