Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

docs(delidev): define compact tool dialog shortcut ownership
  apps/delidev/src/AGENTS.md
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): retain inert Codex async message suggestions
  apps/delidev/src/codex-async-message.test.tsx
  apps/delidev/src/codex-async-message.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session.tsx
  cmds/delidev-cli/internal/domain/codex_async_messages.go
  cmds/delidev-cli/internal/domain/codex_async_messages_test.go
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/execution_events.go
  cmds/delidev-cli/internal/domain/worker.go
  cmds/delidev-cli/internal/harness/codex/async_messages.go
  cmds/delidev-cli/internal/harness/codex/async_messages_test.go
  cmds/delidev-cli/internal/harness/codex/compaction.go
  cmds/delidev-cli/internal/harness/codex/continuation.go
  cmds/delidev-cli/internal/harness/codex/events.go
  cmds/delidev-cli/internal/harness/codex/fork.go
  cmds/delidev-cli/internal/harness/codex/observations_test.go
  cmds/delidev-cli/internal/server/codex_async_messages_test.go
  cmds/delidev-cli/internal/server/execution_events.go
  cmds/delidev-cli/internal/server/server_status.go
  cmds/delidev-cli/internal/server/workers.go
  cmds/delidev-cli/internal/worker/codex_async_messages_test.go
  cmds/delidev-cli/internal/worker/codex_events.go
  cmds/delidev-cli/internal/worker/execution.go
  cmds/delidev-cli/internal/worker/run.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-compaction-contract.md
  docs/cmds-delidev-harness-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/codex-async-message.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/worker_pb.ts
  packages/delidev-api-client/src/index.ts
  protos/delidev/allocations.json
  protos/delidev/v1/system.proto
  protos/delidev/v1/worker.proto
  protos/gen/go/delidev/v1/system.pb.go
  protos/gen/go/delidev/v1/worker.pb.go
Due: go-fmt

fix(delidev): overlay repository details without exposing identifiers
  apps/delidev/scripts/test-pr-sidebar-layout.mjs
  apps/delidev/src/disclosure.tsx
  apps/delidev/src/locales/en/pull-requests.json
  apps/delidev/src/locales/ko/pull-requests.json
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/repository-details-popup.test.tsx
  apps/delidev/src/repository-details-popup.ts
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): negotiate native image generation after compatibility attachment (#2699)
  cmds/delidev-cli/internal/server/image_generation_test.go
  cmds/delidev-cli/internal/worker/image_generation_attach_test.go
  cmds/delidev-cli/internal/worker/run.go
  docs/cmds-delidev-image-input-contract.md
Due: go-fmt

fix(delidev): retain popup opener removal observation
  apps/delidev/src/repository-details-popup.ts
Due: none

test(delidev): cover popup closing layout invariance
  apps/delidev/scripts/test-pr-sidebar-layout.mjs
Due: none

docs(delidev): keep shortcut requirements in contract
  apps/delidev/src/AGENTS.md
Due: none

fix(delidev): guard new provider selections in configuration imports
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_import.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
Due: go-fmt

fix(delidev): differentiate bundled semantic theme palettes
  apps/delidev/src/AGENTS.md
  apps/delidev/src/appearance-palettes.json
  apps/delidev/src/appearance-preferences.test.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): bind deletion proofs to original device obligations
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/worker/session_deletions_test.go
  cmds/delidev-cli/internal/worker/session_fork_process_test.go
  cmds/delidev-cli/internal/workspace/delete.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

test(delidev): verify provider selection parity and atomic imports
  cmds/delidev-cli/internal/server/configuration_provider_selection_test.go
  cmds/delidev-cli/internal/server/configuration_transfer_test.go
  docs/cmds-delidev-configuration-transfer-contract.md
Due: go-fmt

feat(delidev): close active workspace tabs with primary W
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/window_host.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/session-tab-bar.tsx
  apps/delidev/src/session-workspace.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-provider.test.tsx
  apps/delidev/src/shortcuts.test.ts
  apps/delidev/src/shortcuts.ts
  docs/apps-delidev-desktop-contract.md
Due: cargo-fmt

fix(delidev): use current transport after reconnect
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
Due: none

fix(delidev): retain original session removal path admission
  cmds/delidev-cli/internal/security/remove.go
  cmds/delidev-cli/internal/security/remove_admission_test.go
  cmds/delidev-cli/internal/security/remove_identity_unix.go
  cmds/delidev-cli/internal/security/remove_identity_windows.go
  cmds/delidev-cli/internal/worker/session_deletion_admission_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): join admitted restores with server lifecycle
  cmds/delidev-cli/internal/server/backup_restore_fork_test.go
  cmds/delidev-cli/internal/server/backup_restore_lifecycle_test.go
  cmds/delidev-cli/internal/server/backup_restores.go
  cmds/delidev-cli/internal/server/backup_restores_test.go
  cmds/delidev-cli/internal/server/diagnostics_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/server_startup.go
  cmds/delidev-cli/internal/store/backup_restore_lifecycle_test.go
  cmds/delidev-cli/internal/store/backup_restores.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): pin journal directories before publisher admission
  cmds/delidev-cli/internal/worker/session_deletion_admission_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
Due: go-fmt

fix(delidev): review failed repository saves before draft recovery
  apps/delidev/src/jobs.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
Due: none

fix(delidev): resolve primary shortcuts by physical key (#2695)
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcuts.test.ts
  apps/delidev/src/shortcuts.ts
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): echo repository save request identity
  apps/delidev/src/settings.test.tsx
Due: none

fix(delidev): persist bounded session backup scan progress
  cmds/delidev-cli/internal/server/session_deletions.go
  cmds/delidev-cli/internal/store/backups.go
  cmds/delidev-cli/internal/store/session_backup_identity_unix.go
  cmds/delidev-cli/internal/store/session_backup_identity_windows.go
  cmds/delidev-cli/internal/store/session_backup_scan.go
  cmds/delidev-cli/internal/store/session_backup_scan_test.go
  cmds/delidev-cli/internal/store/session_deletion_backups.go
  cmds/delidev-cli/internal/store/session_deletions.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): preserve dynamic request identity beyond JavaScript precision
  apps/delidev/src/native-codex-dynamic-tool.test.tsx
  apps/delidev/src/native-codex-dynamic-tool.tsx
  cmds/delidev-cli/internal/domain/codex_dynamic_tools.go
  cmds/delidev-cli/internal/harness/codex/dynamic_tools.go
  cmds/delidev-cli/internal/harness/codex/dynamic_tools_test.go
  cmds/delidev-cli/internal/server/codex_dynamic_tools_test.go
  cmds/delidev-cli/internal/worker/codex_dynamic_tools_test.go
  docs/cmds-delidev-harness-contract.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

test(delidev): exercise repository save recovery flow
  apps/delidev/src/settings.test.tsx
Due: none

fix(delidev): ignore stale repository review reads
  apps/delidev/src/settings.tsx
Due: none

fix(delidev): reconcile original Tailscale delivery and Worker controls
  apps/delidev/src/connections-page.css
  apps/delidev/src/locales/en/tailscale.json
  apps/delidev/src/locales/ko/tailscale.json
  apps/delidev/src/tailscale-connections.test.tsx
  apps/delidev/src/tailscale-connections.tsx
  cmds/delidev-cli/internal/server/tailscale.go
  cmds/delidev-cli/internal/server/tailscale_peer.go
  cmds/delidev-cli/internal/server/tailscale_test.go
  cmds/delidev-cli/internal/server/tailscale_worker.go
  cmds/delidev-cli/internal/tailscale/approval.go
  cmds/delidev-cli/internal/tailscale/approval_test.go
  cmds/delidev-cli/internal/tailscale/discovery.go
  docs/cmds-delidev-tailscale-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/tailscale-TailscaleService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/tailscale_pb.ts
  protos/delidev/allocations.json
  protos/delidev/v1/tailscale.proto
  protos/gen/go/delidev/v1/delidevv1connect/tailscale.connect.go
  protos/gen/go/delidev/v1/tailscale.pb.go
Due: go-fmt

fix(delidev): read retained ingress identity before Worker recovery
  cmds/delidev-cli/internal/server/tailscale_worker.go
Due: go-fmt

test(delidev): clone protocol fixtures without copying locks
  cmds/delidev-cli/internal/server/tailscale_test.go
Due: go-fmt

docs(delidev): leave catalog ownership with batch coordinator
  docs/README.md
Due: none

fix(delidev): refresh Home session scopes after creation (#2697)
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/home-navigation-query.test.tsx
  apps/delidev/src/home-navigation-query.ts
  apps/delidev/src/new-session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): normalize generated Tailscale module EOF
  packages/delidev-api-client/src/gen/delidev/v1/tailscale_pb.ts
  scripts/delidev/proto-compat.mjs
Due: none

fix(delidev): space session Diagnostics sections and facts
  apps/delidev/src/session.css
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): open session terminals with primary grave
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/session-terminal-shortcut-provider.test.tsx
  apps/delidev/src/session-terminal-shortcut.test.ts
  apps/delidev/src/session-terminal-shortcut.ts
  apps/delidev/src/session.tsx
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcuts.ts
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): await retained execution projection before tool switches
  apps/delidev/src/session-workspace.test.tsx
Due: none

docs(delidev): catalog Tailscale access contract
  docs/README.md
Due: none

feat(delidev): read exact lifetime session response subtotals
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/session-lifetime-usage.test.ts
  apps/delidev/src/session-lifetime-usage.tsx
Due: none

fix(delidev): complete verified repository edits automatically
  apps/delidev/src/AGENTS.md
  apps/delidev/src/jobs.test.tsx
  apps/delidev/src/jobs.tsx
  apps/delidev/src/locales/en/settings.json
  apps/delidev/src/locales/ko/settings.json
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): show Codex reasoning as a supplied-summary disclosure
  apps/delidev/scripts/test-transcript-role-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/codex-reasoning.test.tsx
  apps/delidev/src/codex-reasoning.tsx
  apps/delidev/src/disclosure.css
  apps/delidev/src/locales/en/native-reasoning.json
  apps/delidev/src/locales/ko/native-reasoning.json
  apps/delidev/src/session.tsx
  apps/delidev/src/transcript-role-layout.fixture.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): simplify grouped tool commands and original output
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
  apps/delidev/src/native-claude-tool.tsx
  apps/delidev/src/native-shell.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/tool-command.test.tsx
  apps/delidev/src/tool-command.tsx
  apps/delidev/src/tool-entry-context.tsx
  apps/delidev/src/tool-turn-projection.ts
  apps/delidev/src/tool-turn-transcript.css
  apps/delidev/src/tool-turn-transcript.test.tsx
  apps/delidev/src/tool-turn-transcript.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): connect repository GitHub profiles inline (#2698)
  apps/delidev/src/jobs.tsx
  apps/delidev/src/locales/en/pull-requests.json
  apps/delidev/src/locales/ko/pull-requests.json
  apps/delidev/src/mutation-submission.test.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/repository-association.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
