Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): preserve legacy checkout preparation replay
  cmds/delidev-cli/internal/workspace/prepare.go
Due: go-fmt

fix(delidev): fence all managed clones behind Worker negotiation
  cmds/delidev-cli/internal/worker/remote_workspace_test.go
  cmds/delidev-cli/internal/worker/run.go
Due: go-fmt

fix(delidev): address follow-up review feedback
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
Due: none

fix(delidev): retain unchanged catalog review candidates
  scripts/ci/delidev-known-models.test.mjs
  scripts/delidev/known-subscription-models-pr.mjs
  scripts/delidev/known-subscription-models.mjs
Due: none

test(delidev): verify reviewed catalog changes survive restart
  cmds/delidev-cli/internal/knownmodels/manager_test.go
Due: go-fmt

fix(delidev): enforce exact catalog metadata and acknowledged pricing fixtures
  cmds/delidev-cli/internal/knownmodels/catalog.go
  cmds/delidev-cli/internal/knownmodels/manager.go
  cmds/delidev-cli/internal/knownmodels/manager_test.go
  scripts/ci/delidev-known-models.test.mjs
  scripts/delidev/known-subscription-models.mjs
Due: go-fmt

fix(delidev): harden known model catalog validation
  cmds/delidev-cli/internal/knownmodels/catalog.go
  cmds/delidev-cli/internal/knownmodels/manager_test.go
  cmds/delidev-cli/internal/server/server_startup.go
  scripts/ci/delidev-known-models.test.mjs
  scripts/delidev/known-subscription-models.mjs
Due: go-fmt

fix(delidev): address known model catalog review
  .github/workflows/delidev-known-models.yml
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  cmds/delidev-cli/internal/knownmodels/catalog.json
  docs/repository-workflow-contract.md
  scripts/ci/delidev-known-models.test.mjs
  scripts/delidev/known-subscription-models-pr.mjs
  scripts/delidev/known-subscription-models.mjs
Due: none

test(delidev): exercise remote scheduled clone through execution admission
  cmds/delidev-cli/internal/server/remote_repositories_test.go
Due: go-fmt

fix(ci): prepare native tools and cache paths before Turbo
  .github/AGENTS.md
  .github/actions/setup-ci-go/action.yml
  .github/actions/setup-turbo-cache/action.yml
  .github/workflows/CI.yml
  apps/devhud/turbo.json
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/ci-contract.test.mjs
Due: none

fix(runmoor): close reload recovery races
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_darwin.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_linux.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_other.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
Due: go-fmt

feat(runmoor): update older service managers during reload (#1376)
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/control_peer_darwin.go
  cmds/runmoor/internal/runmoor/control_peer_linux.go
  cmds/runmoor/internal/runmoor/control_peer_other.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_darwin.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_linux.go
  cmds/runmoor/internal/runmoor/service_reload_exchange_other.go
  cmds/runmoor/internal/runmoor/service_reload_native_test.go
  cmds/runmoor/internal/runmoor/service_reload_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(delidev): edit Git workflow settings inline
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/server-preferences.css
  apps/delidev/src/server-preferences.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings-server-preferences.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

ci: route Runmoor PR native checks through Turbo
  .github/AGENTS.md
  .github/workflows/runmoor.yml
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/package.json
  scripts/ci/turbo.json
Due: none

fix(delidev): open Accounts after harness confirmation (#1381)
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  apps/delidev/src/settings-claude.integration.test.tsx
  apps/delidev/src/settings-configuration.integration.test.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings-preferences.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/tray-presentation.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/project-delidev.md
Due: none

feat(delidev): add recoverable Worker workspace storage (#1231)
  cmds/delidev-cli/internal/cli/desktop_launch_test.go
  docs/cmds-delidev-storage-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/gen/go/delidev/v1/zz_delidev_compat.go
  scripts/delidev/proto-layout.json
Due: go-fmt

test(delidev): await persisted settings saves
  apps/delidev/src/settings-preferences.integration.test.tsx
Due: none

fix(ci): serialize Chrome extension output writers
  apps/AGENTS.md
  apps/devhud-chrome-extension/turbo.json
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
Due: none

fix(ci): serialize Chrome extension output writers (#1386)
  apps/AGENTS.md
  apps/devhud-chrome-extension/turbo.json
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
Due: none

Guard known models until saved pages are complete
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
Due: none

Respect closed known-model reviews
  docs/cmds-delidev-catalog-contract.md
  scripts/ci/delidev-known-models.test.mjs
  scripts/delidev/known-subscription-models-pr.mjs
Due: none

Reject impossible retirement dates
  scripts/ci/delidev-known-models.test.mjs
  scripts/delidev/known-subscription-models.mjs
Due: none

feat(delidev): verify GitHub tokens before creating profiles (#1363)
  apps/delidev/scripts/test-settings-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/github-onboarding.test.tsx
  apps/delidev/src/github-onboarding.tsx
  apps/delidev/src/github-opening.test.tsx
  apps/delidev/src/github-opening.tsx
  apps/delidev/src/integrations.test.tsx
  apps/delidev/src/integrations.tsx
  apps/delidev/src/settings-github.integration.test.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/styles.css
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/github_onboarding.go
  cmds/delidev-cli/internal/server/github_onboarding_test.go
  cmds/delidev-cli/internal/server/integration_access.go
  cmds/delidev-cli/internal/server/integration_inspection.go
  cmds/delidev-cli/internal/server/integrations.go
  cmds/delidev-cli/internal/server/integrations_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/server/server_status.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/integration-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/integration_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/AGENTS.md
  protos/delidev/v1/integration.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/integration.connect.go
  protos/gen/go/delidev/v1/integration.pb.go
  protos/gen/go/delidev/v1/system.pb.go
Due: go-fmt

Fix known-model cache test permissions
  cmds/delidev-cli/internal/knownmodels/manager_test.go
Due: go-fmt

fix(delidev): recognize subscription accounts in the checklist
  apps/delidev/src/AGENTS.md
  apps/delidev/src/prerequisites.test.tsx
  apps/delidev/src/prerequisites.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): retain subscription retries after internal errors
  apps/delidev/src/AGENTS.md
  apps/delidev/src/subscription-login.test.tsx
  apps/delidev/src/subscription-login.tsx
  docs/apps-delidev-subscription-settings-contract.md
Due: none

fix(delidev): retain PR unlink recovery after row removal
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-pull-requests.test.tsx
  apps/delidev/src/session-pull-requests.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-integrations-contract.md
Due: none

fix(delidev): guard locally generated proxy errors
  cmds/delidev-cli/internal/apiproxy/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/errors.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/local_errors_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-proxy-contract.md
Due: go-fmt

fix(delidev): retain local review deletion recovery
  apps/delidev/src/AGENTS.md
  apps/delidev/src/local-reviews.test.tsx
  apps/delidev/src/local-reviews.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-files-contract.md
Due: none

fix(delidev): address remote repository review feedback
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-transfer.test.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
  cmds/delidev-cli/internal/workspace/AGENTS.md
  cmds/delidev-cli/internal/workspace/git.go
  cmds/delidev-cli/internal/workspace/remote_clone.go
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

fix(delidev): expose retained manual PR fix recovery
  apps/delidev/src/AGENTS.md
  apps/delidev/src/mutation.tsx
  apps/delidev/src/pr-fix-navigation.test.tsx
  apps/delidev/src/pr-fix.test.tsx
  apps/delidev/src/pr-fix.tsx
  apps/delidev/src/pull-requests.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve Responses SSE error codes and shape
  cmds/delidev-cli/internal/apiproxy/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/errors.go
  cmds/delidev-cli/internal/apiproxy/responses_error_test.go
  cmds/delidev-cli/internal/apiproxy/stream.go
  docs/cmds-delidev-proxy-contract.md
Due: go-fmt

fix(delidev): preserve exact API cleanup retry revisions
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-connection.test.tsx
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-removal.test.ts
  apps/delidev/src/account-removal.ts
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-accounts-contract.md
Due: none

fix(delidev): retain only request-bound fix validation
  apps/delidev/src/mutation.tsx
  apps/delidev/src/pr-fix-navigation.test.tsx
  apps/delidev/src/pr-fix.tsx
  apps/delidev/src/pull-requests.tsx
Due: none

fix(delidev): preserve merged protocol contracts
  apps/delidev/src-tauri/src/language_host.rs
  packages/delidev-api-client/src/gen/delidev/v1/integration-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/integration_pb.ts
  packages/delidev-api-client/src/gen/delidev/v1/system_pb.ts
  protos/delidev/v1/integration.proto
  protos/delidev/v1/system.proto
  protos/gen/go/delidev/v1/delidevv1connect/integration.connect.go
  protos/gen/go/delidev/v1/integration.pb.go
  protos/gen/go/delidev/v1/system.pb.go
Due: cargo-fmt, go-fmt

fix(delidev): preserve protected tokens in account preference saves
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-preferences.test.tsx
  apps/delidev/src/account-preferences.ts
  apps/delidev/src/settings.tsx
  apps/delidev/src/subscription-quota.tsx
  apps/delidev/src/subscription-resource.ts
  cmds/delidev-cli/internal/server/account_preferences_test.go
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-accounts-contract.md
Due: go-fmt

fix(delidev): coalesce pending Inbox detail refreshes
  apps/delidev/src/AGENTS.md
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(ci): repair CEF security review summary escaping
  .github/workflows/devhud-cef-security-review.yml
  AGENTS.md
  docs/apps-devhud-operations-contract.md
  docs/apps-devhud-support-contract.md
  docs/project-devhud.md
  docs/repository-workflow-contract.md
  scripts/release/devhud-operations.test.mjs
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
