Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

docs(delidev): record late execution publication repair evidence
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

test(delidev): close process handle before journal byte scan
  cmds/delidev-cli/internal/process/process_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

test(delidev): create private process recovery fixture roots
  cmds/delidev-cli/internal/process/prune_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

fix(delidev): accept remote Unix checkout paths on Windows
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/config_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-workspace-contract.md
Due: go-fmt

test(delidev): use native private roots for SQLite fixtures
  cmds/delidev-cli/internal/store/store_test.go
  cmds/delidev-cli/internal/store/workers_test.go
  docs/cmds-delidev-evidence.md
Due: go-fmt

docs(delidev): record Windows repair verification
  docs/cmds-delidev-evidence.md
Due: none

fix(delidev): guard fragmented SSE field names
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  cmds/delidev-cli/internal/apiproxy/stream_guard.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-proxy-contract.md
Due: go-fmt

fix(delidev): guard successful-status provider error bodies
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  cmds/delidev-cli/internal/apiproxy/stream.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-proxy-contract.md
Due: go-fmt

fix(delidev): reject credentials reflected in model context limits
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/providers/catalog_test.go
  cmds/delidev-cli/internal/providers/client.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-providers-contract.md
Due: go-fmt

fix(delidev): bound coherent snapshot response bytes
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/resource_pages_test.go
  cmds/delidev-cli/internal/server/resources.go
  docs/cmds-delidev-evidence.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

docs(delidev): record reviewed repair boundaries and validation
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): guard streamed JSON field-name fragments
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  cmds/delidev-cli/internal/apiproxy/stream_guard.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-proxy-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): retire empty scopes after controller creation failure
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/process/controller_test.go
  cmds/delidev-cli/internal/process/process.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-process-contract.md
  docs/project-delidev.md
Due: go-fmt

docs(delidev): record streamed-key and controller repair checks
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-process-contract.md
Due: none

ci: defer costly mac native validation to release gates
  .github/workflows/CI.yml
  .github/workflows/package-devhud-private.yml
  .github/workflows/release-react-forge.yml
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/scripts/verify-pins-policy.mjs
  apps/devhud/scripts/verify-pins.mjs
  docs/apps-devhud-foundation.md
  docs/apps-devhud-operations-contract.md
  docs/apps-devhud-support-contract.md
  docs/packages-react-forge-contract.md
  docs/packages-react-forge-release-contract.md
  docs/project-devhud.md
  docs/repository-workflow-contract.md
  packages/react-forge/AGENTS.md
  packages/react-forge/scripts/validate-host.sh
  scripts/ci/ci-contract.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/native-matrices.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/react-forge-release.test.mjs
  scripts/ci/result.mjs
  scripts/release/devhud-operations.test.mjs
  scripts/release/devhud-private-workflow.test.mjs
Due: none

fix(delidev): guard streamed numeric secret fragments
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  cmds/delidev-cli/internal/apiproxy/stream_guard.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-proxy-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): complete scopes when stderr pipe setup fails
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/process/pipe_linux_test.go
  cmds/delidev-cli/internal/process/process_scope_unix.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-process-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): authenticate detached TLS startup by configured certificate
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/cli/start_test.go
  cmds/delidev-cli/internal/cli/start_tls.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: go-fmt

docs(delidev): record numeric stream and startup repair validation
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(deps): update vulnerable dependencies and migrate Docker client
  AGENTS.md
  Cargo.lock
  Cargo.toml
  apps/AGENTS.md
  apps/devhud/mobile-platforms.json
  apps/devhud/package.json
  apps/devhud/scripts/verify-pins.mjs
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/docker.go
  cmds/runmoor/internal/runmoor/docker_integration_test.go
  crates/AGENTS.md
  crates/clibox-config/Cargo.toml
  crates/clibox-config/src/yaml.rs
  crates/clibox-wait/Cargo.toml
  crates/clibox-wait/src/probe.rs
  crates/devhud-native-messaging-host/Cargo.toml
  crates/forge-package/Cargo.toml
  crates/forge-pdf/Cargo.toml
  crates/nodeup/Cargo.toml
  docs/README.md
  docs/cmds-runmoor-foundation.md
  docs/crates-clibox-foundation.md
  docs/crates-fspy-vendor-contract.md
  docs/repository-dependency-security-contract.md
  go.mod
  go.sum
  package.json
  packages/react-forge/scripts/render-requirements.txt
  pnpm-lock.yaml
  servers/devhud-api/Dockerfile
Due: cargo-fmt, go-fmt

test(clibox): cover fail-closed concurrent destination inspection
  crates/AGENTS.md
  crates/clibox-config/src/config_publication.rs
  crates/clibox/tests/config.rs
  docs/crates-clibox-foundation.md
  docs/repository-dependency-security-contract.md
Due: cargo-fmt

chore(deps): reconcile merged Go graph and record Rust validation
  docs/repository-dependency-security-contract.md
  go.mod
  go.sum
Due: none

ci: select release fixtures for their shared test job
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

test(delidev): keep schedule loop fixture clear of minute rollover
  cmds/delidev-cli/internal/server/schedule_dispatch_test.go
Due: go-fmt

feat(delidev): add retained conversation search over Connect and CLI
  AGENTS.md
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/search.go
  cmds/delidev-cli/internal/cli/search_test.go
  cmds/delidev-cli/internal/domain/search.go
  cmds/delidev-cli/internal/domain/search_test.go
  cmds/delidev-cli/internal/server/search.go
  cmds/delidev-cli/internal/server/search_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/deleted_configuration_test.go
  cmds/delidev-cli/internal/store/migrations.go
  cmds/delidev-cli/internal/store/schedules_test.go
  cmds/delidev-cli/internal/store/search.go
  cmds/delidev-cli/internal/store/search_test.go
  cmds/delidev-cli/internal/store/store.go
  docs/README.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-search-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

docs(deps): correct resolved body-parser security version
  docs/repository-dependency-security-contract.md
Due: none

test(react-forge): record GLB and FBX visual acceptance
  .github/workflows/CI.yml
  apps/public-docs/docs/react-forge/fbx.md
  docs/packages-react-forge-scene-contract.md
  docs/packages-react-forge-validation.md
  packages/react-forge/AGENTS.md
  packages/react-forge/examples/audio-studio-assets/README.md
  packages/react-forge/scripts/compare-scenes.py
  packages/react-forge/scripts/generate-scene-profile.mjs
  packages/react-forge/scripts/inspect-scene-profile.py
  packages/react-forge/scripts/render-scenes.mjs
  packages/react-forge/scripts/render-scenes.py
  packages/react-forge/tests/evidence/audio-studio-macos-arm64.json
Due: none

feat(delidev): expose retained execution and schedule activity
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/activity.go
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/search_test.go
  cmds/delidev-cli/internal/server/activity.go
  cmds/delidev-cli/internal/server/activity_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/activity.go
  cmds/delidev-cli/internal/store/activity_test.go
  docs/README.md
  docs/cmds-delidev-activity-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-search-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

test(delidev): synchronize late turn acknowledgment fixtures
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/turn_test.go
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

feat(react-forge): refine AURA product geometry and materials
  docs/packages-react-forge-validation.md
  packages/react-forge/AGENTS.md
  packages/react-forge/examples/audio-studio-assets/README.md
  packages/react-forge/examples/audio-studio-assets/brushed-normal.png
  packages/react-forge/examples/audio-studio-assets/brushed-roughness.png
  packages/react-forge/examples/audio-studio-assets/display.png
  packages/react-forge/examples/audio-studio-assets/fabric-normal.png
  packages/react-forge/examples/audio-studio-assets/geometry.ts
  packages/react-forge/examples/audio-studio-assets/leather-normal.png
  packages/react-forge/examples/audio-studio-assets/leather-roughness.png
  packages/react-forge/examples/audio-studio-assets/textures.mjs
  packages/react-forge/examples/audio-studio-assets/wordmark.png
  packages/react-forge/examples/audio-studio.tsx
  packages/react-forge/scripts/render-scenes.mjs
  packages/react-forge/scripts/render-scenes.py
  packages/react-forge/scripts/scene-viewer.js
  packages/react-forge/tests/audio-geometry.test.ts
Due: none

feat(react-forge): add actual-file product render gallery
  docs/packages-react-forge-validation.md
  packages/react-forge/examples/audio-studio-assets/README.md
  packages/react-forge/scripts/scene-viewer.html
  packages/react-forge/scripts/scene-viewer.js
  packages/react-forge/scripts/scene-viewer.mjs
Due: none

fix(react-forge): remove radial stretching from acoustic fabric
  docs/packages-react-forge-validation.md
  packages/react-forge/examples/audio-studio-assets/geometry.ts
  packages/react-forge/examples/audio-studio.tsx
  packages/react-forge/tests/audio-geometry.test.ts
Due: none

feat(delidev): build retained-session desktop presentation
  .github/workflows/CI.yml
  AGENTS.md
  apps/AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/index.html
  apps/delidev/package.json
  apps/delidev/rsbuild.config.ts
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/documents.ts
  apps/delidev/src/main.tsx
  apps/delidev/src/mutation.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/test-setup.ts
  apps/delidev/src/ui.tsx
  apps/delidev/src/views.tsx
  apps/delidev/tsconfig.json
  apps/delidev/vitest.config.ts
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  packages/delidev-api-client/src/synchronization.ts
  packages/delidev-api-client/tests/synchronization.test.ts
  pnpm-lock.yaml
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

test(react-forge): record refined AURA visual acceptance
  docs/packages-react-forge-validation.md
  packages/react-forge/examples/README.md
  packages/react-forge/tests/evidence/audio-studio-quality-macos-arm64.json
Due: none
