Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

chore(serde-lite-derive): add docs and initial crate scaffolding
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/serde-lite-derive-macros/Cargo.toml
  crates/serde-lite-derive-macros/src/lib.rs
  crates/serde-lite-derive/Cargo.toml
  crates/serde-lite-derive/src/lib.rs
  docs/project-serde-lite-derive.md
Due: cargo-fmt

chore(serde-lite-derive): add docs and initial crate scaffolding (#182)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/serde-lite-derive-macros/Cargo.toml
  crates/serde-lite-derive-macros/src/lib.rs
  crates/serde-lite-derive/Cargo.toml
  crates/serde-lite-derive/src/lib.rs
  docs/project-serde-lite-derive.md
Due: cargo-fmt

docs(dexdex): add project contract and ownership mappings
  AGENTS.md
  apps/AGENTS.md
  docs/project-dexdex.md
  servers/AGENTS.md
Due: none

docs(ttl): add v1 project and language contracts
  AGENTS.md
  cmds/AGENTS.md
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: none

docs(ttl): add v1 project and language contracts (#184)
  AGENTS.md
  cmds/AGENTS.md
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: none

refactor(serde-feather): rebrand serde-lite-derive workspace and contracts
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/serde-feather-macros/Cargo.toml
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/Cargo.toml
  crates/serde-feather/src/lib.rs
  docs/project-serde-feather.md
Due: cargo-fmt

fix(serde-feather): rename macro crate metadata references
  crates/serde-feather-macros/Cargo.toml
  crates/serde-feather-macros/src/lib.rs
Due: cargo-fmt

refactor(serde-feather): rebrand serde-lite-derive workspace and contracts (#185)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/serde-feather-macros/Cargo.toml
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/Cargo.toml
  crates/serde-feather/src/lib.rs
  docs/project-serde-feather.md
Due: cargo-fmt

docs(dexdex): add project contract and ownership rules
  AGENTS.md
  crates/AGENTS.md
  docs/project-dexdex.md
Due: none

feat(dexdex): scaffold rust main and worker servers
  Cargo.lock
  Cargo.toml
  crates/dexdex-main-server/Cargo.toml
  crates/dexdex-main-server/src/main.rs
  crates/dexdex-worker-server/Cargo.toml
  crates/dexdex-worker-server/src/main.rs
Due: cargo-fmt

feat(ttlc): scaffold cli contracts and logging
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/contracts/enums.go
  cmds/ttlc/internal/logging/logger.go
  cmds/ttlc/main.go
Due: go-fmt

docs(dexdex): add project contract and rust server scaffolding (#186)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  crates/AGENTS.md
  crates/dexdex-main-server/Cargo.toml
  crates/dexdex-main-server/src/main.rs
  crates/dexdex-worker-server/Cargo.toml
  crates/dexdex-worker-server/src/main.rs
  docs/project-dexdex.md
Due: cargo-fmt

feat(ttlc): add ttl ast lexer and parser
  cmds/ttlc/internal/ast/ast.go
  cmds/ttlc/internal/diagnostic/diagnostic.go
  cmds/ttlc/internal/lexer/lexer.go
  cmds/ttlc/internal/lexer/lexer_test.go
  cmds/ttlc/internal/lexer/token.go
  cmds/ttlc/internal/parser/parser.go
  cmds/ttlc/internal/parser/parser_test.go
Due: go-fmt

feat(serde-feather): implement phase 3 named-struct derive mvp
  Cargo.lock
  crates/AGENTS.md
  crates/serde-feather-macros/Cargo.toml
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/Cargo.toml
  crates/serde-feather/src/lib.rs
  crates/serde-feather/tests/derive_compile_fail.rs
  crates/serde-feather/tests/derive_runtime.rs
  crates/serde-feather/tests/ui/enum_type.rs
  crates/serde-feather/tests/ui/enum_type.stderr
  crates/serde-feather/tests/ui/generic_struct.rs
  crates/serde-feather/tests/ui/generic_struct.stderr
  crates/serde-feather/tests/ui/tuple_struct.rs
  crates/serde-feather/tests/ui/tuple_struct.stderr
  crates/serde-feather/tests/ui/unsupported_attribute.rs
  crates/serde-feather/tests/ui/unsupported_attribute.stderr
  docs/project-serde-feather.md
Due: cargo-fmt

feat(ttlc): implement phase1 compiler pipeline and docs
  cmds/ttlc/internal/cache/sqlite.go
  cmds/ttlc/internal/cache/sqlite_test.go
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/emitter/go_emitter.go
  cmds/ttlc/internal/emitter/go_emitter_test.go
  cmds/ttlc/internal/fingerprint/fingerprint.go
  cmds/ttlc/internal/fingerprint/fingerprint_test.go
  cmds/ttlc/internal/graph/graph.go
  cmds/ttlc/internal/graph/graph_test.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
  cmds/ttlc/testdata/invalid/cycle.ttl
  cmds/ttlc/testdata/invalid/import.ttl
  cmds/ttlc/testdata/invalid/read-arity.ttl
  cmds/ttlc/testdata/security/path-escape.ttl
  cmds/ttlc/testdata/valid/basic.ttl
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

refactor(serde-feather): reduce derive codegen duplication
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/src/lib.rs
  docs/project-serde-feather.md
Due: cargo-fmt

docs(dexdex): add desktop app and workspace mode parity contracts
  AGENTS.md
  apps/AGENTS.md
  docs/project-dexdex.md
Due: none

fix(serde-feather): address review feedback for deserialize path
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  crates/serde-feather/tests/ui/skip_attribute_order.rs
  crates/serde-feather/tests/ui/skip_attribute_order.stderr
  docs/project-serde-feather.md
Due: cargo-fmt

fix(serde-feather): reject duplicate wire field names
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/ui/duplicate_wire_name.rs
  crates/serde-feather/tests/ui/duplicate_wire_name.stderr
  docs/project-serde-feather.md
Due: cargo-fmt

fix(ttlc): address codex review findings for phase1 mvp
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/emitter/go_emitter.go
  cmds/ttlc/internal/emitter/go_emitter_test.go
  cmds/ttlc/internal/lexer/lexer.go
  cmds/ttlc/internal/lexer/lexer_test.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
Due: go-fmt

feat(dexdex): scaffold tauri desktop app with mode parity pipeline
  apps/dexdex/.gitignore
  apps/dexdex/index.html
  apps/dexdex/package.json
  apps/dexdex/src-tauri/Cargo.lock
  apps/dexdex/src-tauri/Cargo.toml
  apps/dexdex/src-tauri/build.rs
  apps/dexdex/src-tauri/capabilities/default.json
  apps/dexdex/src-tauri/icons/icon.png
  apps/dexdex/src-tauri/src/lib.rs
  apps/dexdex/src-tauri/src/main.rs
  apps/dexdex/src-tauri/tauri.conf.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/contracts/workspace-connection.ts
  apps/dexdex/src/contracts/workspace-mode.ts
  apps/dexdex/src/lib/local-runtime-provider.ts
  apps/dexdex/src/lib/logger.ts
  apps/dexdex/src/lib/resolve-workspace-connection.test.ts
  apps/dexdex/src/lib/resolve-workspace-connection.ts
  apps/dexdex/src/main.tsx
  apps/dexdex/src/styles.css
  apps/dexdex/tsconfig.json
  apps/dexdex/vite.config.ts
  apps/dexdex/vitest.config.ts
  pnpm-lock.yaml
Due: cargo-fmt

fix(serde-feather): map wire-name indexes to deserializable fields
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
Due: cargo-fmt

fix(ttlc): handle duplicate types and tighten read dep inference
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
Due: go-fmt

fix(skill): quote yaml description in gh-pr-codex-review-loop
  .agents/skills/gh-pr-codex-review-loop/SKILL.md
Due: none

fix(dexdex): validate remote scheme and redact endpoint logs
  apps/dexdex/src-tauri/src/lib.rs
  apps/dexdex/src/lib/resolve-workspace-connection.test.ts
  apps/dexdex/src/lib/resolve-workspace-connection.ts
Due: cargo-fmt

fix(skill): quote yaml description in gh-pr-codex-review-loop (#190)
  .agents/skills/gh-pr-codex-review-loop/SKILL.md
Due: none

refactor(derun): split run lifecycle and share mcp output helpers
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_flow.go
  cmds/derun/internal/mcp/output_helpers.go
  cmds/derun/internal/mcp/output_helpers_test.go
  cmds/derun/internal/mcp/tools_read_wait.go
Due: go-fmt

refactor(derun): split run lifecycle and share mcp output helpers (#191)
  cmds/derun/internal/cli/run.go
  cmds/derun/internal/cli/run_flow.go
  cmds/derun/internal/mcp/output_helpers.go
  cmds/derun/internal/mcp/output_helpers_test.go
  cmds/derun/internal/mcp/tools_read_wait.go
Due: go-fmt

fix(dexdex): redact endpoint urls in local runtime frontend logs
  apps/dexdex/src/lib/local-runtime-provider.test.ts
  apps/dexdex/src/lib/local-runtime-provider.ts
Due: none

fix(serde-feather): align sequence decoding and normalize raw idents
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  docs/project-serde-feather.md
Due: cargo-fmt

fix(ttlc): validate duplicate struct fields and task params
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
Due: go-fmt

feat(dexdex): scaffold tauri desktop app with workspace mode parity (#189)
  AGENTS.md
  apps/AGENTS.md
  apps/dexdex/.gitignore
  apps/dexdex/index.html
  apps/dexdex/package.json
  apps/dexdex/src-tauri/Cargo.lock
  apps/dexdex/src-tauri/Cargo.toml
  apps/dexdex/src-tauri/build.rs
  apps/dexdex/src-tauri/capabilities/default.json
  apps/dexdex/src-tauri/icons/icon.png
  apps/dexdex/src-tauri/src/lib.rs
  apps/dexdex/src-tauri/src/main.rs
  apps/dexdex/src-tauri/tauri.conf.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/contracts/workspace-connection.ts
  apps/dexdex/src/contracts/workspace-mode.ts
  apps/dexdex/src/lib/local-runtime-provider.test.ts
  apps/dexdex/src/lib/local-runtime-provider.ts
  apps/dexdex/src/lib/logger.ts
  apps/dexdex/src/lib/resolve-workspace-connection.test.ts
  apps/dexdex/src/lib/resolve-workspace-connection.ts
  apps/dexdex/src/main.tsx
  apps/dexdex/src/styles.css
  apps/dexdex/tsconfig.json
  apps/dexdex/vite.config.ts
  apps/dexdex/vitest.config.ts
  docs/project-dexdex.md
  pnpm-lock.yaml
Due: cargo-fmt

feat(ttlc): implement ttl phase 1 mvp compiler pipeline (#188)
  cmds/ttlc/internal/ast/ast.go
  cmds/ttlc/internal/cache/sqlite.go
  cmds/ttlc/internal/cache/sqlite_test.go
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/contracts/enums.go
  cmds/ttlc/internal/diagnostic/diagnostic.go
  cmds/ttlc/internal/emitter/go_emitter.go
  cmds/ttlc/internal/emitter/go_emitter_test.go
  cmds/ttlc/internal/fingerprint/fingerprint.go
  cmds/ttlc/internal/fingerprint/fingerprint_test.go
  cmds/ttlc/internal/graph/graph.go
  cmds/ttlc/internal/graph/graph_test.go
  cmds/ttlc/internal/lexer/lexer.go
  cmds/ttlc/internal/lexer/lexer_test.go
  cmds/ttlc/internal/lexer/token.go
  cmds/ttlc/internal/logging/logger.go
  cmds/ttlc/internal/parser/parser.go
  cmds/ttlc/internal/parser/parser_test.go
  cmds/ttlc/internal/sema/checker.go
  cmds/ttlc/internal/sema/checker_test.go
  cmds/ttlc/internal/source/loader.go
  cmds/ttlc/internal/source/loader_test.go
  cmds/ttlc/main.go
  cmds/ttlc/testdata/invalid/cycle.ttl
  cmds/ttlc/testdata/invalid/import.ttl
  cmds/ttlc/testdata/invalid/read-arity.ttl
  cmds/ttlc/testdata/security/path-escape.ttl
  cmds/ttlc/testdata/valid/basic.ttl
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

fix(serde-feather): reject directional skip attribute conflicts
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/ui/skip_directional_conflict.rs
  crates/serde-feather/tests/ui/skip_directional_conflict.stderr
Due: cargo-fmt

feat(nodeup): add local managed-alias shim setup
  docs/project-nodeup.md
  scripts/setup/nodeup-local.sh
Due: none

feat(nodeup): add local managed-alias shim setup (#192)
  docs/project-nodeup.md
  scripts/setup/nodeup-local.sh
Due: none

fix(serde-feather): omit seq slots for skip_deserializing
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  docs/project-serde-feather.md
Due: cargo-fmt

feat(ttlc): align phase1 cache and cli contracts
  cmds/ttlc/internal/cache/sqlite.go
  cmds/ttlc/internal/cache/sqlite_test.go
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/contracts/enums.go
  cmds/ttlc/internal/logging/logger.go
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

test(cargo-mono): add comprehensive cli coverage and docs
  apps/public-docs/cargo-mono.mdx
  crates/cargo-mono/README.md
  crates/cargo-mono/tests/cli.rs
  docs/project-cargo-mono.md
Due: cargo-fmt

test(nodeup): expand contract coverage and docs
  apps/public-docs/nodeup.mdx
  crates/nodeup/Cargo.toml
  crates/nodeup/README.md
  crates/nodeup/tests/cli.rs
  docs/project-nodeup.md
Due: cargo-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
