Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(runmoor): harden managed image recovery and document automatic setup
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  apps/public-docs/docs/runmoor/index.md
  apps/public-docs/docs/runmoor/install.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/defaults.go
  cmds/runmoor/internal/runmoor/defaults_test.go
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/init_test.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/managed_integration_test.go
  cmds/runmoor/internal/runmoor/managed_test.go
  cmds/runmoor/internal/runmoor/managed_types.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/manager_test.go
  cmds/runmoor/internal/runmoor/runner_release.go
  cmds/runmoor/internal/runmoor/runner_release_test.go
  cmds/runmoor/internal/runmoor/scheduler.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

feat(delidev): browse scoped GitHub pull requests and issues
  apps/delidev/AGENTS.md
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/github.go
  cmds/delidev-cli/internal/cli/github_test.go
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/domain/integration_query_test.go
  cmds/delidev-cli/internal/integrations/github/access.go
  cmds/delidev-cli/internal/integrations/github/query.go
  cmds/delidev-cli/internal/integrations/github/query_public_schema_test.go
  cmds/delidev-cli/internal/integrations/github/query_test.go
  cmds/delidev-cli/internal/server/integration_access.go
  cmds/delidev-cli/internal/server/integration_queries.go
  cmds/delidev-cli/internal/server/integration_queries_test.go
  cmds/delidev-cli/internal/server/server.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/AGENTS.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

fix(runmoor): inspect committed managed pools in offline doctor
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/doctor_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): bound GitHub acquisition by Docker capacity
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/manager_test.go
  cmds/runmoor/internal/runmoor/scheduler.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): repair missing managed runner images
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

feat(delidev): inspect immutable PR diffs and separate head checks
  apps/delidev/AGENTS.md
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/github-pr-observations.tsx
  apps/delidev/src/github-query-model.ts
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/github.go
  cmds/delidev-cli/internal/cli/github_test.go
  cmds/delidev-cli/internal/domain/integration_pr_observations.go
  cmds/delidev-cli/internal/domain/integration_pr_observations_test.go
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/integrations/github/access.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/pr_observations_test.go
  cmds/delidev-cli/internal/integrations/github/query.go
  cmds/delidev-cli/internal/integrations/github/query_public_schema_test.go
  cmds/delidev-cli/internal/integrations/github/query_test.go
  cmds/delidev-cli/internal/server/integration_queries.go
  cmds/delidev-cli/internal/server/integration_queries_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  protos/AGENTS.md
Due: go-fmt

test(runmoor): scope archive storage tests to Unix hosts
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/runner_release_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

feat(runmoor): simplify setup and manage runner updates automatically (#1017)
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  apps/public-docs/docs/runmoor/index.md
  apps/public-docs/docs/runmoor/install.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/capacity_darwin.go
  cmds/runmoor/internal/runmoor/capacity_linux.go
  cmds/runmoor/internal/runmoor/capacity_other.go
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/config_test.go
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/defaults.go
  cmds/runmoor/internal/runmoor/defaults_test.go
  cmds/runmoor/internal/runmoor/docker.go
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/doctor_test.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/init_test.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/managed_integration_test.go
  cmds/runmoor/internal/runmoor/managed_test.go
  cmds/runmoor/internal/runmoor/managed_types.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/manager_test.go
  cmds/runmoor/internal/runmoor/runner_release.go
  cmds/runmoor/internal/runmoor/runner_release_test.go
  cmds/runmoor/internal/runmoor/scheduler.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

feat(delidev): retain scoped session pull request associations
  apps/delidev/AGENTS.md
  apps/delidev/src/session-pull-requests.test.tsx
  apps/delidev/src/session-pull-requests.tsx
  apps/delidev/src/session.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/session_pull_requests.go
  cmds/delidev-cli/internal/cli/session_pull_requests_test.go
  cmds/delidev-cli/internal/cli/sessions.go
  cmds/delidev-cli/internal/domain/session_pull_request.go
  cmds/delidev-cli/internal/server/session_pull_requests.go
  cmds/delidev-cli/internal/server/session_pull_requests_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/cmds-delidev-sessions-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-SessionService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: go-fmt

feat(delidev): open scoped GitHub forms and items through native presentation
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/github-presentation.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/github-items.tsx
  apps/delidev/src/github-opening.test.tsx
  apps/delidev/src/github-opening.tsx
  apps/delidev/src/integrations.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/github.go
  cmds/delidev-cli/internal/cli/github_form.go
  cmds/delidev-cli/internal/cli/github_form_test.go
  cmds/delidev-cli/internal/cli/integrations.go
  cmds/delidev-cli/internal/domain/github_form.go
  cmds/delidev-cli/internal/domain/github_form_test.go
  cmds/delidev-cli/internal/presentation/github.go
  cmds/delidev-cli/internal/presentation/github_test.go
  cmds/delidev-cli/internal/presentation/github_unix.go
  cmds/delidev-cli/internal/presentation/github_windows.go
  cmds/delidev-cli/internal/server/github_form.go
  cmds/delidev-cli/internal/server/github_form_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/src/gen/delidev/v1/delidev-IntegrationService_connectquery.ts
  packages/delidev-api-client/src/gen/delidev/v1/delidev_pb.ts
  protos/AGENTS.md
  protos/delidev/v1/delidev.proto
  protos/gen/go/delidev/v1/delidev.pb.go
  protos/gen/go/delidev/v1/delidevv1connect/delidev.connect.go
Due: cargo-fmt, go-fmt

feat(delidev): inspect complete active PR rules with App provenance
  apps/delidev/AGENTS.md
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/github-pr-observations.tsx
  apps/delidev/src/github-query-model.ts
  apps/delidev/src/github-rules.test.tsx
  apps/delidev/src/github-rules.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/github.go
  cmds/delidev-cli/internal/cli/github_test.go
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/domain/integration_rules.go
  cmds/delidev-cli/internal/domain/integration_rules_test.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/query.go
  cmds/delidev-cli/internal/integrations/github/rules.go
  cmds/delidev-cli/internal/integrations/github/rules_test.go
  cmds/delidev-cli/internal/server/integration_queries.go
  cmds/delidev-cli/internal/server/integration_queries_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): evaluate required CI with scoped rule and commit evidence
  apps/delidev/AGENTS.md
  apps/delidev/src/github-ci-fixture.ts
  apps/delidev/src/github-ci.test.tsx
  apps/delidev/src/github-ci.tsx
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/github-pr-observations.tsx
  apps/delidev/src/github-query-model.ts
  apps/delidev/src/github-rules.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/github.go
  cmds/delidev-cli/internal/cli/github_test.go
  cmds/delidev-cli/internal/domain/integration_ci.go
  cmds/delidev-cli/internal/domain/integration_ci_test.go
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/domain/integration_rules.go
  cmds/delidev-cli/internal/integrations/github/ci_graphql.go
  cmds/delidev-cli/internal/integrations/github/ci_inventory.go
  cmds/delidev-cli/internal/integrations/github/ci_test.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/query.go
  cmds/delidev-cli/internal/integrations/github/rules.go
  cmds/delidev-cli/internal/server/integration_queries.go
  cmds/delidev-cli/internal/server/integration_queries_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

feat(delidev): collect complete published PR feedback with content versions
  apps/delidev/AGENTS.md
  apps/delidev/src/github-feedback-fixture.ts
  apps/delidev/src/github-feedback.test.tsx
  apps/delidev/src/github-feedback.tsx
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/github-pr-observations.tsx
  apps/delidev/src/github-query-model.ts
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/github.go
  cmds/delidev-cli/internal/cli/github_test.go
  cmds/delidev-cli/internal/domain/integration_feedback.go
  cmds/delidev-cli/internal/domain/integration_feedback_test.go
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/integrations/github/ci_graphql.go
  cmds/delidev-cli/internal/integrations/github/feedback.go
  cmds/delidev-cli/internal/integrations/github/feedback_graphql.go
  cmds/delidev-cli/internal/integrations/github/feedback_test.go
  cmds/delidev-cli/internal/integrations/github/graphql.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/query.go
  cmds/delidev-cli/internal/server/integration_queries.go
  cmds/delidev-cli/internal/server/integration_queries_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

docs(runmoor): cover Ubuntu startup and service recovery
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
Due: none

docs(runmoor): explain GitHub PAT setup for Ubuntu services
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
Due: none

docs(runmoor): qualify failed service uninstall outcome
  apps/public-docs/docs/runmoor/operations.md
Due: none

docs(runmoor): require secure unit check before systemd start
  apps/public-docs/docs/runmoor/operations.md
Due: none

docs(runmoor): refresh credentials after PAT changes
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
Due: none

fix(runmoor): show current version in help
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

docs(runmoor): explain GitHub PAT setup for Ubuntu services (#1030)
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
Due: none

feat(delidev): verify current reviewer identity permissions and App provenance
  apps/delidev/AGENTS.md
  apps/delidev/src/github-items.test.tsx
  apps/delidev/src/github-items.tsx
  apps/delidev/src/github-pr-observations.tsx
  apps/delidev/src/github-query-model.ts
  apps/delidev/src/github-reviewers-fixture.ts
  apps/delidev/src/github-reviewers.test.tsx
  apps/delidev/src/github-reviewers.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/github.go
  cmds/delidev-cli/internal/cli/github_test.go
  cmds/delidev-cli/internal/domain/integration_query.go
  cmds/delidev-cli/internal/domain/integration_reviewers.go
  cmds/delidev-cli/internal/domain/integration_reviewers_test.go
  cmds/delidev-cli/internal/integrations/github/access.go
  cmds/delidev-cli/internal/integrations/github/pr_observations.go
  cmds/delidev-cli/internal/integrations/github/query.go
  cmds/delidev-cli/internal/integrations/github/reviewers.go
  cmds/delidev-cli/internal/integrations/github/reviewers_test.go
  cmds/delidev-cli/internal/server/integration_queries.go
  cmds/delidev-cli/internal/server/integration_queries_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(runmoor): preserve version banner in command help
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): preserve and recover suspended pool state
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/control.go
  cmds/runmoor/internal/runmoor/doctor.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

docs(runmoor): refresh lingering user manager after Docker group change
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/docker.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
Due: none

feat(runmoor): add platform and architecture init labels
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/defaults_test.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/init_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

feat(delidev): persist remediation defaults and repository overrides
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/remediation-policy.tsx
  apps/delidev/src/settings.test.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/config.go
  cmds/delidev-cli/internal/domain/remediation_policy.go
  cmds/delidev-cli/internal/domain/remediation_policy_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
  cmds/delidev-cli/internal/server/remediation_policy_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-configuration-transfer-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
  docs/project-delidev.md
Due: go-fmt

docs(runmoor): explain Ubuntu startup and service recovery (#1029)
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/docker.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
Due: none

fix(runmoor): show current version in help (#1031)
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): scope preparation recovery to its backend
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): retain managed reload recovery until publication
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_types.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

feat(runmoor): add platform and architecture init labels (#1033)
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/defaults_test.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/init_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

feat(delidev): retain original CI lifecycle output and result versions
  apps/delidev/AGENTS.md
  apps/delidev/src/github-ci-fixture.ts
  apps/delidev/src/github-ci.test.tsx
  apps/delidev/src/github-ci.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/domain/integration_ci.go
  cmds/delidev-cli/internal/domain/integration_ci_evidence.go
  cmds/delidev-cli/internal/domain/integration_ci_evidence_test.go
  cmds/delidev-cli/internal/domain/integration_ci_test.go
  cmds/delidev-cli/internal/integrations/github/ci_graphql.go
  cmds/delidev-cli/internal/integrations/github/ci_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-integrations-contract.md
Due: go-fmt

fix(runmoor): retire with validated replacement credentials
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

Guide macOS Tart image setup during runmoor init
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/guided_init.go
  cmds/runmoor/internal/runmoor/guided_init_test.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/tart.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

Isolate guided Tart setup from existing manager state
  cmds/runmoor/internal/runmoor/guided_init.go
  cmds/runmoor/internal/runmoor/guided_init_test.go
  cmds/runmoor/internal/runmoor/init.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

Fail guided boot verification on invalid guest
  cmds/runmoor/internal/runmoor/guided_init_test.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/tart_test.go
Due: go-fmt

fix(runmoor): refresh draining authority on credential rollback
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): keep daemon image out of version recovery
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/suspension_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

Reject incomplete Tart VM creation on guided resume
  cmds/runmoor/internal/runmoor/guided_init.go
  cmds/runmoor/internal/runmoor/guided_init_test.go
  cmds/runmoor/internal/runmoor/images.go
  cmds/runmoor/internal/runmoor/types.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

Compare complete guided setup configs on resume
  cmds/runmoor/internal/runmoor/guided_init.go
  cmds/runmoor/internal/runmoor/guided_init_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
