Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delibase): implement public catalog reads
  docs/servers-delibase-server-foundation.md
  servers/delibase/db/query/catalog.sql
  servers/delibase/internal/api/api_test.go
  servers/delibase/internal/catalog/catalog_test.go
  servers/delibase/internal/database/dbgen/catalog.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/service/catalog.go
  servers/delibase/internal/service/catalog_test.go
Due: go-fmt

fix(delibase): address catalog review findings
  servers/delibase/internal/service/catalog.go
  servers/delibase/internal/service/catalog_test.go
Due: go-fmt

feat(delibase): add PostgreSQL reliability workers
  docs/project-delibase.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/README.md
  servers/delibase/db/migrations/000005_reliability_workers.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/reliability.sql
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/database/reliability_integration_test.go
  servers/delibase/internal/reliability/enqueue.go
  servers/delibase/internal/reliability/identifiers.go
  servers/delibase/internal/reliability/postgres.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/reliability/worker.go
  servers/delibase/internal/reliability/worker_test.go
Due: go-fmt

test(delibase): align schema fixtures with reliability constraints
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

test(delibase): use allowlisted audit event type
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): harden worker lease recovery
  servers/delibase/db/query/reliability.sql
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/database/reliability_integration_test.go
  servers/delibase/internal/reliability/worker.go
  servers/delibase/internal/reliability/worker_test.go
Due: go-fmt

feat(devhud): add isolated macOS CEF probe
  Cargo.lock
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/Info.plist
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/probe.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/macos_gate.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/probe/index.ts
  apps/devhud/src/probe/model.ts
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
Due: cargo-fmt

fix(delibase): address reliability review feedback
  servers/delibase/internal/database/reliability_integration_test.go
  servers/delibase/internal/reliability/enqueue.go
  servers/delibase/internal/reliability/worker.go
  servers/delibase/internal/reliability/worker_test.go
Due: go-fmt

ci(devhud): automate native macOS CEF gate
  .github/workflows/CI.yml
  .github/workflows/devhud-macos-cef-gate.yml
  apps/devhud/.gitignore
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): pass macOS gate arguments directly
  .github/workflows/devhud-macos-cef-gate.yml
Due: none

docs(devhud): define isolated macOS gate evidence
  AGENTS.md
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): delimit ephemeral signer password
  apps/devhud/scripts/macos-gate.mjs
Due: none

fix(delibase): harden reliability queue inputs
  servers/delibase/db/migrations/000005_reliability_workers.sql
  servers/delibase/db/query/reliability.sql
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/database/reliability_integration_test.go
  servers/delibase/internal/reliability/enqueue.go
  servers/delibase/internal/reliability/worker_test.go
Due: go-fmt

fix(delibase): preserve UUID idempotency keys
  servers/delibase/internal/reliability/enqueue.go
  servers/delibase/internal/reliability/worker_test.go
Due: go-fmt

docs(devhud): record pinned macOS CEF blocker
  AGENTS.md
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(delibase): address reliability retry review
  servers/delibase/db/migrations/000005_reliability_workers.sql
  servers/delibase/db/query/reliability.sql
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/database/reliability_integration_test.go
  servers/delibase/internal/reliability/enqueue.go
  servers/delibase/internal/reliability/postgres.go
  servers/delibase/internal/reliability/types.go
  servers/delibase/internal/reliability/worker.go
  servers/delibase/internal/reliability/worker_test.go
Due: go-fmt

fix(devhud): address macOS gate review
  .github/workflows/devhud-macos-cef-gate.yml
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate.mjs
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/probe.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/macos_gate.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
Due: cargo-fmt

fix(delibase): allow UUID audit request IDs
  servers/delibase/db/migrations/000005_reliability_workers.sql
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

fix(delibase): harden reliability identifiers
  servers/delibase/internal/reliability/enqueue.go
  servers/delibase/internal/reliability/worker.go
  servers/delibase/internal/reliability/worker_test.go
Due: go-fmt

fix(devhud): address macOS gate review feedback
  .github/workflows/devhud-macos-cef-gate.yml
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
Due: none

fix(devhud): address macOS gate review follow-up
  .github/workflows/CI.yml
  .github/workflows/devhud-macos-cef-gate.yml
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/probe/model.ts
Due: none

fix(devhud): harden macOS gate evidence
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(devhud): address macOS gate review
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(devhud): advance Tauri CEF pin past macOS regression
  AGENTS.md
  Cargo.lock
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/macos_gate.rs
  apps/devhud/src/probe/harness.test.ts
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(delibase): sync sqlc query interface
  servers/delibase/internal/database/dbgen/querier.go
Due: go-fmt

fix(devhud): harden macOS gate diagnostics
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/src-tauri/src/macos_gate.rs
Due: cargo-fmt

fix(devhud): validate packaged macOS app contents
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
Due: none

feat(delibase): implement account and organization services
  docs/servers-delibase-server-foundation.md
  servers/delibase/README.md
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000006_account_organization_services.sql
  servers/delibase/db/migrations/migrations_test.go
  servers/delibase/db/query/identity.sql
  servers/delibase/db/query/reliability.sql
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/models.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/database/dbgen/reliability.sql.go
  servers/delibase/internal/logto/client.go
  servers/delibase/internal/logto/client_test.go
  servers/delibase/internal/reliability/worker.go
  servers/delibase/internal/reliability/worker_test.go
  servers/delibase/internal/service/account.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/service.go
  servers/delibase/internal/service/service_integration_test.go
  servers/delibase/internal/service/service_test.go
Due: go-fmt

chore(devhud): remove completed macOS gate
  .github/workflows/CI.yml
  .github/workflows/devhud-macos-cef-gate.yml
  AGENTS.md
  Cargo.lock
  README.md
  apps/AGENTS.md
  apps/devhud/.gitignore
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/macos-gate-contract.mjs
  apps/devhud/scripts/macos-gate-contract.test.mjs
  apps/devhud/scripts/macos-gate.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/Info.plist
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/probe.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/macos_gate.rs
  apps/devhud/src/App.tsx
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/probe/index.ts
  apps/devhud/src/probe/model.ts
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(delibase): address account organization review
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000006_account_organization_services.sql
  servers/delibase/db/query/identity.sql
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/polar/client.go
  servers/delibase/internal/polar/client_test.go
  servers/delibase/internal/service/account.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/service_integration_test.go
  servers/delibase/internal/service/service_test.go
Due: go-fmt

refactor(devhud): remove CEF gate scaffold
  .github/workflows/CI.yml
  AGENTS.md
  Cargo.lock
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/public/index.html
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/run-cargo-checks.mjs
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/main.json
  apps/devhud/src-tauri/capabilities/probe.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/tauri.conf.json
  apps/devhud/src/App.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/probe/index.ts
  apps/devhud/src/probe/model.ts
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

refactor(devhud): remove CEF gate scaffold (#736)
  .github/workflows/CI.yml
  AGENTS.md
  Cargo.lock
  README.md
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/public/index.html
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/run-cargo-checks.mjs
  apps/devhud/scripts/smoke-desktop.mjs
  apps/devhud/src-tauri/Cargo.toml
  apps/devhud/src-tauri/build.rs
  apps/devhud/src-tauri/capabilities/main.json
  apps/devhud/src-tauri/capabilities/probe.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/tauri.conf.json
  apps/devhud/src/App.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/probe/harness.test.ts
  apps/devhud/src/probe/harness.ts
  apps/devhud/src/probe/index.ts
  apps/devhud/src/probe/model.ts
  apps/devhud/src/runtime/startup.test.ts
  apps/devhud/src/runtime/startup.ts
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(delibase): complete organization review fixes
  servers/delibase/cmd/delibase/main.go
  servers/delibase/db/migrations/000006_account_organization_services.sql
  servers/delibase/db/query/identity.sql
  servers/delibase/internal/contracts/contracts.go
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/polar/client.go
  servers/delibase/internal/polar/client_test.go
  servers/delibase/internal/service/account.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/service.go
  servers/delibase/internal/service/service_integration_test.go
Due: go-fmt

test(delibase): type deletion fixture parameters
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt

feat(devhud): add empty-state application foundation
  apps/devhud/README.md
  apps/devhud/package.json
  apps/devhud/src/App.tsx
  apps/devhud/src/App.ui.test.tsx
  apps/devhud/src/styles.css
  apps/devhud/src/test/setup.ts
  apps/devhud/src/tools/registry.test.ts
  apps/devhud/src/tools/registry.ts
  apps/devhud/src/ui/Dialog.tsx
  apps/devhud/src/ui/state.tsx
  apps/devhud/vitest.config.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  pnpm-lock.yaml
Due: none

fix(devhud): address empty-state review feedback
  .github/workflows/CI.yml
  AGENTS.md
  README.md
  apps/AGENTS.md
  apps/devhud/src/App.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/runtime/platform.test.ts
  apps/devhud/src/runtime/platform.ts
  docs/README.md
  docs/apps-devhud-foundation.md
Due: none

fix(delibase): address account organization review
  docs/apps-delidev-app-foundation.md
  docs/project-delibase.md
  docs/project-delidev.md
  docs/protos-delibase-api-contract.md
  docs/servers-delibase-server-foundation.md
  protos/AGENTS.md
  protos/delibase/contract_test.go
  protos/delibase/delibase.v1.binpb
  protos/delibase/gen/go/delibase/v1/common.pb.go
  protos/delibase/gen/ts/delibase/v1/common_pb.ts
  protos/delibase/v1/common.proto
  servers/AGENTS.md
  servers/delibase/db/query/identity.sql
  servers/delibase/internal/database/database_integration_test.go
  servers/delibase/internal/database/dbgen/identity.sql.go
  servers/delibase/internal/database/dbgen/querier.go
  servers/delibase/internal/service/account.go
  servers/delibase/internal/service/helpers.go
  servers/delibase/internal/service/organization.go
  servers/delibase/internal/service/service_integration_test.go
  servers/delibase/internal/service/service_test.go
Due: go-fmt

fix(devhud): reconcile mobile shell with runtime
  apps/devhud/src/App.tsx
  apps/devhud/src/main.tsx
  apps/devhud/src/runtime/platform.test.ts
  apps/devhud/src/runtime/platform.ts
  docs/apps-devhud-foundation.md
Due: none

build(delidev): refresh generated PWA artifact
  apps/delidev-app/dist/404.html
  apps/delidev-app/dist/index.html
  apps/delidev-app/dist/static/js/index.8bb0eee064.js
  apps/delidev-app/dist/static/js/index.d4937f5014.js
  apps/delidev-app/dist/sw.js
Due: none

test(delibase): keep ledger fixture within retention
  servers/delibase/internal/database/database_integration_test.go
Due: go-fmt
