Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): limit OpenRouter discovery to text output
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/api_formats_test.go
  cmds/delidev-cli/internal/providers/catalog_test.go
  cmds/delidev-cli/internal/providers/client.go
  docs/cmds-delidev-providers-contract.md
Due: go-fmt

docs(delidev): reserve key-preserving API format changes (#1666)
  AGENTS.md
  docs/cmds-delidev-catalog-contract.md
  docs/protos-delidev-v1-contract.md
  protos/delidev/AGENTS.md
  protos/delidev/allocations.json
Due: none

fix(delidev): align macOS development build deployment targets (#1665)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/run-desktop.mjs
  apps/delidev/scripts/run-desktop.test.mjs
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): limit OpenRouter discovery to text output (#1667)
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/api_formats_test.go
  cmds/delidev-cli/internal/providers/catalog_test.go
  cmds/delidev-cli/internal/providers/client.go
  docs/cmds-delidev-providers-contract.md
Due: go-fmt

fix(delidev): validate native options before selection
  cmds/delidev-cli/internal/domain/execution.go
  cmds/delidev-cli/internal/domain/native_options.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_dispatch_test.go
Due: go-fmt

fix(delidev): allow OpenCode effort relay
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/execution_opencode_test.go
Due: go-fmt

fix(delidev): admit permission modes in subscription routes
  cmds/delidev-cli/internal/store/execution_test.go
  cmds/delidev-cli/internal/store/source_routing.go
Due: go-fmt

fix(delidev): allow macOS Keychain authentication prompts
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/credentials/native.go
  cmds/delidev-cli/internal/credentials/native_darwin.go
  cmds/delidev-cli/internal/credentials/native_darwin_policy_test.go
  cmds/delidev-cli/internal/credentials/native_darwin_process_test.go
  cmds/delidev-cli/internal/credentials/native_darwin_test.go
  docs/cmds-delidev-credentials-contract.md
  docs/cmds-delidev-diagnostics-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): delete failed and disconnected subscription accounts (#1660)
  AGENTS.md
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-deletion.test.tsx
  apps/delidev/src/account-deletion.tsx
  apps/delidev/src/locales/en/account-deletion.json
  apps/delidev/src/locales/en/subscription-settings.json
  apps/delidev/src/locales/ko/account-deletion.json
  apps/delidev/src/locales/ko/subscription-settings.json
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/resources.go
  cmds/delidev-cli/internal/server/subscription_account_delete.go
  cmds/delidev-cli/internal/server/subscription_account_delete_test.go
  cmds/delidev-cli/internal/server/subscription_batch_cleanup.go
  cmds/delidev-cli/internal/server/subscription_batch_cleanup_test.go
  cmds/delidev-cli/internal/server/subscription_cleanup_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/subscription_cleanups.go
  cmds/delidev-cli/internal/store/subscription_deletion_request_test.go
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/cmds-delidev-subscription-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(delidev): use inventory API formats for OAuth
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/settings-navigation.test.tsx
  apps/delidev/src/settings.tsx
  packages/delidev-api-client/src/api-formats.test.ts
  packages/delidev-api-client/src/api-formats.ts
Due: none

test(delidev): include inventory API format in fixture
  apps/delidev/src/settings.test.tsx
Due: none

fix(delidev): reject incomplete retained profile reference reads
  apps/delidev/src/api-format-fields.test.tsx
  apps/delidev/src/api-format-fields.tsx
  cmds/delidev-cli/internal/server/account_format_change_test.go
  cmds/delidev-cli/internal/server/configuration.go
  cmds/delidev-cli/internal/server/configuration_transfer.go
Due: go-fmt

test(delidev): verify retained formats and edit dialog behavior
  AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-account-format-layout.mjs
  apps/delidev/src/api-format-fields.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  cmds/delidev-cli/internal/domain/account_connections.go
  cmds/delidev-cli/internal/domain/account_connections_test.go
  cmds/delidev-cli/internal/server/account_format_change_test.go
  cmds/delidev-cli/internal/server/catalog_test.go
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-catalog-contract.md
Due: go-fmt

docs(delidev): distinguish legacy and retained-key format changes
  apps/delidev/AGENTS.md
Due: none

Retain immutable input validation while allowing cross-actor receipt replay
  cmds/delidev-cli/internal/server/approval_interactions_test.go
  cmds/delidev-cli/internal/server/approval_responses_test.go
  cmds/delidev-cli/internal/server/codex_subagent_settings_test.go
  cmds/delidev-cli/internal/server/execution_authority_test.go
  cmds/delidev-cli/internal/server/inbox_test.go
  cmds/delidev-cli/internal/server/integrations_test.go
  cmds/delidev-cli/internal/server/interactions_test.go
  cmds/delidev-cli/internal/server/network_delete_intent_test.go
  cmds/delidev-cli/internal/server/pricing_test.go
  cmds/delidev-cli/internal/server/question_responses_test.go
  cmds/delidev-cli/internal/server/repository_clone_test.go
  cmds/delidev-cli/internal/server/schedules_test.go
  cmds/delidev-cli/internal/server/session_account_switch_test.go
  cmds/delidev-cli/internal/server/session_budget_test.go
  cmds/delidev-cli/internal/server/session_compaction_test.go
  cmds/delidev-cli/internal/server/session_continuation.go
  cmds/delidev-cli/internal/server/session_continuation_test.go
  cmds/delidev-cli/internal/server/session_workspace_recovery_test.go
  cmds/delidev-cli/internal/server/sessions_test.go
  cmds/delidev-cli/internal/server/terminal_close_retry_test.go
  cmds/delidev-cli/internal/server/workspace_storage_test.go
  cmds/delidev-cli/internal/store/backup_deletions.go
  cmds/delidev-cli/internal/store/backup_restores.go
  cmds/delidev-cli/internal/workspace/execution.go
  cmds/delidev-cli/internal/workspace/local_head_test.go
  cmds/delidev-cli/internal/workspace/pr_match_test.go
  cmds/delidev-cli/internal/workspace/prepare_test.go
  cmds/delidev-cli/internal/workspace/read_storage_test.go
  cmds/delidev-cli/internal/workspace/recover_test.go
  cmds/delidev-cli/internal/workspace/remote_clone_test.go
  cmds/delidev-cli/internal/workspace/sidechat_rollback_test.go
  cmds/delidev-cli/internal/workspace/sidechat_test.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
  cmds/delidev-cli/internal/workspace/startup_retry_test.go
Due: go-fmt

Allow authenticated notification and backup receipt access across clients
  cmds/delidev-cli/internal/server/approval_responses_test.go
  cmds/delidev-cli/internal/server/execution_authority_test.go
  cmds/delidev-cli/internal/server/network_delete_intent_test.go
  cmds/delidev-cli/internal/server/notifications.go
  cmds/delidev-cli/internal/server/notifications_test.go
  cmds/delidev-cli/internal/server/question_responses_test.go
  cmds/delidev-cli/internal/server/repository_clone_test.go
  cmds/delidev-cli/internal/server/session_forks_test.go
  cmds/delidev-cli/internal/server/session_local_origin_test.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
  cmds/delidev-cli/internal/server/workspace_storage_test.go
  cmds/delidev-cli/internal/store/backup_creations.go
  cmds/delidev-cli/internal/store/backup_creations_test.go
  cmds/delidev-cli/internal/store/notifications.go
  cmds/delidev-cli/internal/workspace/recover_test.go
  cmds/delidev-cli/internal/workspace/startup_retry_test.go
Due: go-fmt

Keep selected accounts and legacy registration receipts independent of attribution
  cmds/delidev-cli/internal/process/process_scope_linux.go
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/session_continuation.go
  cmds/delidev-cli/internal/server/session_dispatch.go
  cmds/delidev-cli/internal/server/session_forks_test.go
  cmds/delidev-cli/internal/server/session_opencode_dispatch_test.go
  cmds/delidev-cli/internal/server/subscription_observations.go
  cmds/delidev-cli/internal/server/subscriptions_test.go
  cmds/delidev-cli/internal/store/ownership_receipts.go
Due: go-fmt

Verify nonblocking cleanup publication while preserving Stop and lease revisions
  cmds/delidev-cli/internal/server/approval_response_controls_test.go
  cmds/delidev-cli/internal/server/execution_authority_test.go
  cmds/delidev-cli/internal/server/question_response_controls_test.go
  cmds/delidev-cli/internal/server/session_forks_test.go
  cmds/delidev-cli/internal/server/subscription_observations_test.go
Due: go-fmt

Treat readiness ownership metadata as observation under retained native control
  cmds/delidev-cli/internal/process/process_scope_unix.go
  docs/cmds-delidev-process-contract.md
Due: go-fmt

Redesign Agent Worker routing preview with readable account identities
  apps/delidev/AGENTS.md
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-routing-preview-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/locales/en/routing-preview.json
  apps/delidev/src/locales/ko/routing-preview.json
  apps/delidev/src/locales/resources.ts
  apps/delidev/src/routing-account-metadata.ts
  apps/delidev/src/routing-preview.css
  apps/delidev/src/routing-preview.test.tsx
  apps/delidev/src/routing-preview.tsx
  apps/delidev/src/settings-layout.fixture.tsx
  apps/delidev/src/settings-task-context.ts
  apps/delidev/src/settings-task.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): keep modal background controls bright
  apps/delidev/src/backups.css
  apps/delidev/src/configuration-transfer.css
  apps/delidev/src/settings-task.css
  apps/delidev/src/styles.css
Due: none

fix(delidev): keep screen content visible behind all dialogs (#1661)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/backups.css
  apps/delidev/src/configuration-transfer.css
  apps/delidev/src/settings-api-deletion.integration.test.tsx
  apps/delidev/src/settings-paired-devices.test.tsx
  apps/delidev/src/settings-runner-devices.test.tsx
  apps/delidev/src/settings-task.css
  apps/delidev/src/settings-task.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/themes.css
  docs/apps-delidev-desktop-contract.md
Due: none

Preserve cleanup observations and historical attempts while permitting progress
  apps/delidev/src/locales/en/native-claude-denial-completion.json
  apps/delidev/src/locales/en/native-interaction.json
  apps/delidev/src/locales/en/ui.json
  apps/delidev/src/locales/ko/native-claude-denial-completion.json
  apps/delidev/src/locales/ko/native-interaction.json
  apps/delidev/src/locales/ko/ui.json
  apps/delidev/src/native-claude-denial-completion.test.tsx
  apps/delidev/src/native-claude-denial-completion.tsx
  apps/delidev/src/native-claude-stop.test.tsx
  apps/delidev/src/native-claude-stop.tsx
  apps/delidev/src/native-interaction.test.tsx
  apps/delidev/src/native-interaction.tsx
  apps/delidev/src/subagent-record.ts
  cmds/delidev-cli/internal/server/pr_automatic.go
  cmds/delidev-cli/internal/server/pr_remediation_history_test.go
  cmds/delidev-cli/internal/server/pr_startup_test.go
  cmds/delidev-cli/internal/server/session_continuation_test.go
  cmds/delidev-cli/internal/server/session_dispatch_test.go
  cmds/delidev-cli/internal/store/pr_fix.go
  cmds/delidev-cli/internal/store/pr_remediation.go
  cmds/delidev-cli/internal/store/pr_remediation_test.go
  cmds/delidev-cli/internal/worker/opencode_completion.go
  docs/cmds-delidev-ownership-contract.md
Due: go-fmt

fix(delidev): allow historical Worker owner on deletion
  cmds/delidev-cli/internal/server/resources.go
Due: go-fmt

Align native reference comments with nonblocking ownership policy
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/harness/claude/history.go
Due: go-fmt

Validate unknown child cleanup and document unchanged index compatibility
  apps/delidev/src/opencode-subagents.test.tsx
  cmds/delidev-cli/internal/store/AGENTS.md
  docs/cmds-delidev-ownership-contract.md
Due: none

Verify retained native history accepts shared filesystem modes
  cmds/delidev-cli/internal/harness/claude/history_files_test.go
  cmds/delidev-cli/internal/harness/grok/history_files_test.go
Due: go-fmt

Coalesce authenticated PR fix callers without actor ownership
  cmds/delidev-cli/internal/server/pr_fix.go
  cmds/delidev-cli/internal/server/pr_fix_test.go
Due: go-fmt

test(delidev): serialize loopback callback tests
  apps/delidev/src-tauri/src/oauth.rs
Due: cargo-fmt

fix(delidev): inspect retained credential reference in doctor
  cmds/delidev-cli/internal/server/diagnostics.go
  cmds/delidev-cli/internal/server/diagnostics_test.go
Due: go-fmt

fix(delidev): allow macOS Keychain authentication prompts (#1670)
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/credentials/native.go
  cmds/delidev-cli/internal/credentials/native_darwin.go
  cmds/delidev-cli/internal/credentials/native_darwin_policy_test.go
  cmds/delidev-cli/internal/credentials/native_darwin_process_test.go
  cmds/delidev-cli/internal/credentials/native_darwin_test.go
  docs/cmds-delidev-credentials-contract.md
  docs/cmds-delidev-diagnostics-contract.md
  docs/project-delidev.md
Due: go-fmt

fix(delidev): accept OpenRouter latest model aliases
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/api_formats_test.go
  cmds/delidev-cli/internal/providers/catalog_test.go
  cmds/delidev-cli/internal/providers/client.go
  cmds/delidev-cli/internal/server/account_inspection.go
  docs/cmds-delidev-providers-contract.md
Due: go-fmt

fix(delidev): reset OAuth API format per flow
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
