Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev): retain credential failures and Claude effective tiers in diagnostics
  cmds/delidev-cli/internal/apiproxy/diagnostics.go
  cmds/delidev-cli/internal/apiproxy/diagnostics_handler_test.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/handler_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/request_diagnostics.go
  cmds/delidev-cli/internal/store/request_diagnostics_test.go
  docs/cmds-delidev-diagnostics-contract.md
Due: go-fmt

fix(delidev): preserve harness on manual compaction diagnostic scopes
  cmds/delidev-cli/internal/server/session_compaction_test.go
Due: go-fmt

fix(delidev): aggregate native model usage at default granularity
  cmds/delidev-cli/internal/store/native_accounting.go
  cmds/delidev-cli/internal/store/native_accounting_test.go
Due: go-fmt

test(delidev): isolate Windows workspace removal regressions
  .github/AGENTS.md
  .github/workflows/delidev-native-dry-run.yml
  cmds/delidev-cli/internal/workspace/snapshot_unlink_test.go
  cmds/delidev-cli/internal/workspace/snapshots_test.go
  docs/repository-workflow-contract.md
  scripts/ci/delidev-native-package.test.mjs
Due: go-fmt

test(delidev): separate fixture and package concurrency
  .github/AGENTS.md
  .github/workflows/delidev-native-dry-run.yml
  docs/repository-workflow-contract.md
  scripts/ci/delidev-native-package.test.mjs
Due: none

fix(delidev): reject incomplete native diagnostic evidence
  apps/delidev/src/native-accounting.test.tsx
  apps/delidev/src/native-accounting.tsx
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  apps/delidev/src/session-budget.test.tsx
  apps/delidev/src/session-budget.tsx
  cmds/delidev-cli/internal/apiproxy/diagnostics.go
  cmds/delidev-cli/internal/apiproxy/diagnostics_test.go
Due: go-fmt

docs(runmoor): document native Tart and setup rollback limits
  apps/public-docs/docs/runmoor/tart.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  docs/cmds-runmoor-foundation.md
Due: none

test(delidev): retain writers after parent namespace claims
  cmds/delidev-cli/internal/workspace/snapshot_unlink_test.go
Due: go-fmt

fix(pnport): retain macOS ancestry after journal deletion (#1313)
  crates/AGENTS.md
  crates/pnport/src/macos_owner.rs
  crates/pnport/src/macos_registry.rs
  crates/pnport/src/macos_replica.rs
  crates/pnport/src/main.rs
  crates/pnport/tests/process-tree.c
  crates/pnport/tests/process_lifecycle.rs
  docs/crates-pnport-foundation.md
  docs/project-pnport.md
Due: cargo-fmt

feat(runmoor): add concurrent macOS host runners
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/host.md
  apps/public-docs/docs/runmoor/index.md
  apps/public-docs/docs/runmoor/install.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/rspress.config.ts
  apps/public-docs/scripts/project-routes.mjs
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/backend.go
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/host.go
  cmds/runmoor/internal/runmoor/host_migration_test.go
  cmds/runmoor/internal/runmoor/host_native_darwin.go
  cmds/runmoor/internal/runmoor/host_native_other.go
  cmds/runmoor/internal/runmoor/host_storage.go
  cmds/runmoor/internal/runmoor/host_storage_linux.go
  cmds/runmoor/internal/runmoor/host_storage_other.go
  cmds/runmoor/internal/runmoor/host_supervisor.go
  cmds/runmoor/internal/runmoor/host_test.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/managed_types.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/runner_release.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
  scripts/release/runmoor-release-notes.md
  scripts/release/runmoor.mjs
Due: go-fmt

test(delidev): verify retained Windows removal namespaces
  cmds/delidev-cli/internal/workspace/snapshot_unlink_test.go
Due: go-fmt

chore(pnport): authorize 0.1.0 with disclosed acceptance limits
  .github/AGENTS.md
  AGENTS.md
  apps/AGENTS.md
  crates/AGENTS.md
  docs/apps-pnport-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/README.md
  packages/pnport/package.json
  packages/pnport/scripts/common.mjs
  packages/pnport/scripts/github-release.mjs
  scripts/release/pnport-distribution.test.mjs
  scripts/release/project.test.mjs
Due: none

chore(pnport): validate release tags before manual publication
  .github/AGENTS.md
  .github/workflows/release-pnport.yml
  docs/project-pnport.md
  packages/AGENTS.md
  scripts/release/pnport-matrix.test.mjs
Due: none

fix(delidev): validate request diagnostic receipt and tier evidence
  apps/delidev/src/AGENTS.md
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  cmds/delidev-cli/internal/apiproxy/diagnostics.go
  cmds/delidev-cli/internal/apiproxy/diagnostics_handler_test.go
  cmds/delidev-cli/internal/domain/request_diagnostics.go
  docs/cmds-delidev-diagnostics-contract.md
Due: go-fmt

fix(delidev): require complete native accounting negotiation
  cmds/delidev-cli/internal/cli/usage.go
  cmds/delidev-cli/internal/cli/usage_accounting_test.go
Due: go-fmt

fix(delidev): bound combined native model accounting inventory
  cmds/delidev-cli/internal/store/native_accounting_test.go
  cmds/delidev-cli/internal/store/usage_summary.go
  docs/cmds-delidev-usage-contract.md
Due: go-fmt

fix(pnport): require the exact successful tag dry run before publishing
  .github/AGENTS.md
  .github/workflows/release-pnport.yml
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/README.md
  packages/pnport/scripts/github-release.mjs
  packages/pnport/scripts/release-dry-run.mjs
  packages/pnport/test/release-dry-run.test.mjs
  scripts/release/pnport-distribution.test.mjs
  scripts/release/pnport-matrix.test.mjs
Due: none

test(delidev): verify locked credential diagnostic settlement
  AGENTS.md
  cmds/delidev-cli/internal/apiproxy/diagnostics_handler_test.go
  docs/cmds-delidev-structure-contract.md
Due: go-fmt

chore(pnport): prepare 0.1.0 publication with disclosed limits (#1319)
  .github/AGENTS.md
  .github/workflows/release-pnport.yml
  AGENTS.md
  apps/AGENTS.md
  crates/AGENTS.md
  docs/apps-pnport-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/README.md
  packages/pnport/package.json
  packages/pnport/scripts/common.mjs
  packages/pnport/scripts/github-release.mjs
  packages/pnport/scripts/release-dry-run.mjs
  packages/pnport/test/release-dry-run.test.mjs
  scripts/release/pnport-distribution.test.mjs
  scripts/release/pnport-matrix.test.mjs
  scripts/release/project.test.mjs
Due: none

fix(runmoor): await detached host status publication
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/host.go
  cmds/runmoor/internal/runmoor/host_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): reserve job deadlines for busy host runners
  apps/public-docs/docs/runmoor/host.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/host.go
  cmds/runmoor/internal/runmoor/host_native_darwin.go
  cmds/runmoor/internal/runmoor/host_supervisor.go
  cmds/runmoor/internal/runmoor/host_test.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

perf(runmoor): bound host supervisor deadline polling
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/host_supervisor.go
  cmds/runmoor/internal/runmoor/host_test.go
  docs/cmds-runmoor-foundation.md
Due: go-fmt

fix(runmoor): rebind verified drained host backups
  apps/public-docs/docs/runmoor/host.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/host_restore_test.go
  cmds/runmoor/internal/runmoor/host_storage.go
  cmds/runmoor/internal/runmoor/state.go
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

test(runmoor): use native paths in host environment fixture
  cmds/runmoor/internal/runmoor/host_test.go
Due: go-fmt

fix(delidev): preserve bounded pricing and delivered request outcomes
  apps/delidev/src/native-accounting.test.tsx
  apps/delidev/src/native-accounting.tsx
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  cmds/delidev-cli/internal/apiproxy/diagnostics_handler_test.go
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/native_accounting_test.go
  cmds/delidev-cli/internal/store/usage_summary.go
  docs/cmds-delidev-usage-contract.md
  packages/delidev-api-client/tests/legacy-imports.test.ts
Due: go-fmt

fix(delidev): commit title and diagnostic send claims atomically
  cmds/delidev-cli/internal/apiproxy/diagnostics.go
  cmds/delidev-cli/internal/apiproxy/diagnostics_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/execution_authority.go
  cmds/delidev-cli/internal/server/title_diagnostic_claim_test.go
  cmds/delidev-cli/internal/server/title_execution_authority.go
  cmds/delidev-cli/internal/store/session_title_claims.go
  docs/apps-delidev-diagnostics-contract.md
Due: go-fmt

feat(delidev): connect independent subscription settings and managed Codex login
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/account-settings.test.tsx
  apps/delidev/src/account-settings.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/configuration-transfer.test.tsx
  apps/delidev/src/configuration-transfer.tsx
  apps/delidev/src/documents.ts
  apps/delidev/src/pricing.tsx
  apps/delidev/src/provider-model-settings.tsx
  apps/delidev/src/request-diagnostics.test.tsx
  apps/delidev/src/request-diagnostics.tsx
  apps/delidev/src/settings-lifetime.test.tsx
  apps/delidev/src/settings-models.test.tsx
  apps/delidev/src/settings-subscriptions.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/subscription-accounts.tsx
  apps/delidev/src/subscription-controller.test.tsx
  apps/delidev/src/subscription-settings.tsx
  apps/delidev/src/usage-chart.tsx
  apps/delidev/src/usage.tsx
  docs/apps-delidev-desktop-contract.md
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-accounts-contract.md
  docs/cmds-delidev-provider-activation-contract.md
  docs/cmds-delidev-structure-contract.md
  docs/packages-delidev-api-client-contract.md
  docs/project-delidev.md
  packages/delidev-api-client/AGENTS.md
  packages/delidev-api-client/src/configuration-identity.test.ts
  packages/delidev-api-client/src/configuration-identity.ts
  packages/delidev-api-client/src/index.ts
  packages/delidev-api-client/src/synchronization.ts
Due: none

fix(delidev): preserve pre-service pricing during historical migration
  cmds/delidev-cli/internal/server/accounts_test.go
  cmds/delidev-cli/internal/server/resource_pages_test.go
  cmds/delidev-cli/internal/store/migration_016.go
  cmds/delidev-cli/internal/store/pricing.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/store/store_test.go
Due: go-fmt

docs(delidev): align active subscription migration registry
  docs/cmds-delidev-structure-contract.md
Due: none

test(delidev): retain historical v25 without future table drops
  cmds/delidev-cli/internal/store/store_test.go
Due: go-fmt

docs(delidev): describe independent subscription lifecycle delivery
  docs/cmds-delidev-storage-contract.md
  docs/cmds-delidev-subscription-contract.md
  docs/project-delidev.md
Due: none

docs(pnport): document published 0.1.0 and retire npm bootstrap
  .github/AGENTS.md
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/README.md
  apps/public-docs/docs/index.md
  apps/public-docs/docs/pnport/benchmarks.md
  apps/public-docs/docs/pnport/cache.md
  apps/public-docs/docs/pnport/commands.md
  apps/public-docs/docs/pnport/diagnostics.md
  apps/public-docs/docs/pnport/editors.md
  apps/public-docs/docs/pnport/filesystem-and-processes.md
  apps/public-docs/docs/pnport/getting-started.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/preview-testing.md
  apps/public-docs/docs/pnport/releases.md
  apps/public-docs/docs/projects-overview.md
  apps/public-docs/scripts/validate-clean-urls.mjs
  apps/public-docs/scripts/validate-public-docs.mjs
  docs/apps-pnport-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/publish.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

docs(pnport): document 0.1.0 availability and retire npm bootstrap (#1324)
  .github/AGENTS.md
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/README.md
  apps/public-docs/docs/index.md
  apps/public-docs/docs/pnport/benchmarks.md
  apps/public-docs/docs/pnport/cache.md
  apps/public-docs/docs/pnport/commands.md
  apps/public-docs/docs/pnport/diagnostics.md
  apps/public-docs/docs/pnport/editors.md
  apps/public-docs/docs/pnport/filesystem-and-processes.md
  apps/public-docs/docs/pnport/getting-started.md
  apps/public-docs/docs/pnport/index.md
  apps/public-docs/docs/pnport/installation.md
  apps/public-docs/docs/pnport/preview-testing.md
  apps/public-docs/docs/pnport/releases.md
  apps/public-docs/docs/projects-overview.md
  apps/public-docs/scripts/validate-clean-urls.mjs
  apps/public-docs/scripts/validate-public-docs.mjs
  docs/apps-pnport-docs-foundation.md
  docs/crates-pnport-foundation.md
  docs/crates-pnport-requirements.md
  docs/packages-pnport-distribution-contract.md
  docs/project-pnport.md
  packages/AGENTS.md
  packages/pnport/scripts/publish.mjs
  scripts/release/pnport-distribution.test.mjs
Due: none

feat(runmoor): add concurrent macOS host runners (#1318)
  AGENTS.md
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/commands.md
  apps/public-docs/docs/runmoor/configuration.md
  apps/public-docs/docs/runmoor/host.md
  apps/public-docs/docs/runmoor/index.md
  apps/public-docs/docs/runmoor/install.md
  apps/public-docs/docs/runmoor/operations.md
  apps/public-docs/rspress.config.ts
  apps/public-docs/scripts/project-routes.mjs
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/backend.go
  cmds/runmoor/internal/runmoor/cli.go
  cmds/runmoor/internal/runmoor/config.go
  cmds/runmoor/internal/runmoor/host.go
  cmds/runmoor/internal/runmoor/host_migration_test.go
  cmds/runmoor/internal/runmoor/host_native_darwin.go
  cmds/runmoor/internal/runmoor/host_native_other.go
  cmds/runmoor/internal/runmoor/host_restore_test.go
  cmds/runmoor/internal/runmoor/host_storage.go
  cmds/runmoor/internal/runmoor/host_storage_linux.go
  cmds/runmoor/internal/runmoor/host_storage_other.go
  cmds/runmoor/internal/runmoor/host_supervisor.go
  cmds/runmoor/internal/runmoor/host_test.go
  cmds/runmoor/internal/runmoor/init.go
  cmds/runmoor/internal/runmoor/managed.go
  cmds/runmoor/internal/runmoor/managed_images.go
  cmds/runmoor/internal/runmoor/managed_types.go
  cmds/runmoor/internal/runmoor/manager.go
  cmds/runmoor/internal/runmoor/runner_release.go
  cmds/runmoor/internal/runmoor/state.go
  cmds/runmoor/internal/runmoor/state_test.go
  cmds/runmoor/internal/runmoor/types.go
  docs/README.md
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
  scripts/release/runmoor-release-notes.md
  scripts/release/runmoor.mjs
Due: go-fmt

fix(delidev): preserve subscription recovery and observation ownership
  apps/delidev/src/AGENTS.md
  apps/delidev/src/inbox.test.tsx
  apps/delidev/src/inbox.tsx
  apps/delidev/src/subscription-accounts.tsx
  apps/delidev/src/subscription-controller.test.tsx
  apps/delidev/src/subscription-quota.test.tsx
  apps/delidev/src/subscription-quota.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/subscription_observations.go
  cmds/delidev-cli/internal/server/subscription_review_test.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/inbox.go
  cmds/delidev-cli/internal/store/store.go
  cmds/delidev-cli/internal/worker/AGENTS.md
  cmds/delidev-cli/internal/worker/subscriptions.go
  cmds/delidev-cli/internal/worker/subscriptions_test.go
  cmds/delidev-cli/internal/worker/subscriptions_unix_test.go
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-subscription-contract.md
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
