Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(delidev/mobile): recover internal beta submissions and support iOS-only candidates (#2539)
  .github/AGENTS.md
  .github/workflows/delidev-mobile-beta.yml
  apps/delidev-mobile/AGENTS.md
  apps/delidev-mobile/scripts/beta.mjs
  apps/delidev-mobile/scripts/beta.test.mjs
  apps/delidev-mobile/scripts/mobile.mjs
  apps/delidev-mobile/scripts/mobile.test.mjs
  apps/delidev-mobile/scripts/pipeline.mjs
  apps/delidev-mobile/scripts/pipeline.test.mjs
  apps/delidev-mobile/scripts/provenance.mjs
  apps/delidev-mobile/scripts/providers.mjs
  apps/delidev-mobile/scripts/providers.test.mjs
  apps/delidev-mobile/scripts/signing.mjs
  apps/delidev-mobile/scripts/workflow.test.mjs
  apps/delidev-mobile/src/connection.ts
  apps/delidev-mobile/src/https.integration.test.ts
  apps/delidev-mobile/src/settings-compatibility.test.tsx
  docs/apps-delidev-mobile-contract.md
  docs/project-delidev.md
Due: none

fix(delidev): accept nullable Codex child questions
  cmds/delidev-cli/internal/harness/codex/subagents.go
  cmds/delidev-cli/internal/harness/codex/subagents_test.go
Due: go-fmt

fix(delidev): compose Sidechat instructions from child snapshot
  cmds/delidev-cli/internal/domain/sidechat_test.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_managed_test.go
Due: go-fmt

fix(delidev): release navigation after export failures
  apps/delidev/src/configuration-transfer.test.tsx
  apps/delidev/src/configuration-transfer.tsx
Due: none

fix(delidev): retain preview error reset behavior
  apps/delidev/src/configuration-transfer.tsx
Due: none

fix(delidev): accept bounded advisory model modalities
  apps/delidev/src/agent-worker-source-wizard.tsx
  apps/delidev/src/agent-worker-wizard.test.tsx
Due: none

fix(delidev): add command menu spacing (#2547)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-command-menu-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/command-menu.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): scope Usage scroll chaining to response sessions (#2555)
  apps/delidev/scripts/test-usage-layout.mjs
  apps/delidev/src/usage.css
  apps/delidev/src/usage.tsx
Due: none

fix(delidev): label schedule repository overrides by name
  apps/delidev/src/AGENTS.md
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/schedules.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): move Sidechat into the tool menu
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-session-tabs-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-browser-layout.fixture.tsx
  apps/delidev/src/session-fork.test.tsx
  apps/delidev/src/session-fork.tsx
  apps/delidev/src/session-tool-menu.test.tsx
  apps/delidev/src/session-tool-menu.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): hand off shared file preview focus
  apps/delidev/src/session-files.test.tsx
  apps/delidev/src/session-files.tsx
  apps/delidev/src/session.tsx
Due: none

fix(delidev): preserve selected Revert history admission
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/revert_test.go
  cmds/delidev-cli/internal/harness/codex/thread.go
  cmds/delidev-cli/internal/harness/codex/thread_decode.go
  cmds/delidev-cli/internal/harness/codex/thread_test.go
  cmds/delidev-cli/internal/harness/codex/turn.go
  docs/cmds-delidev-harness-contract.md
Due: go-fmt

fix(delidev): use a wrench icon for the tool menu trigger
  apps/delidev/scripts/test-session-tabs-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session-presentation.tsx
  apps/delidev/src/session-tool-menu.test.tsx
  apps/delidev/src/session-tool-menu.tsx
  apps/delidev/src/session.css
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): show configured Agent reasoning effort
  apps/delidev/AGENTS.md
  apps/delidev/scripts/configured-effort.test.mjs
  apps/delidev/scripts/test-agent-worker-row-layout.mjs
  apps/delidev/src/agent-worker-row-layout.fixture.tsx
  apps/delidev/src/agent-worker-row.css
  apps/delidev/src/agent-worker-row.test.tsx
  apps/delidev/src/agent-worker-row.tsx
  apps/delidev/src/configured-effort.ts
  apps/delidev/src/locales/en/agent-worker-row.json
  apps/delidev/src/locales/ko/agent-worker-row.json
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): align Claude guidance assertions
  apps/delidev/src/agent-permissions.test.tsx
Due: none

fix(delidev): simplify the pull requests sidebar heading (#2550)
  apps/delidev/scripts/AGENTS.md
  apps/delidev/scripts/test-pr-sidebar-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/pull-requests-layout.fixture.tsx
  apps/delidev/src/pull-requests.test.tsx
  apps/delidev/src/pull-requests.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): direct image corrections to a fresh session
  apps/delidev/src/execution-startup-guidance.test.tsx
  apps/delidev/src/locales/en/session.json
  apps/delidev/src/locales/ko/session.json
Due: none

feat(delidev): decorate explicitly selected skill tokens
  apps/delidev/src/AGENTS.md
  apps/delidev/src/session.css
  apps/delidev/src/skill-completion.test.tsx
  apps/delidev/src/skill-completion.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): accept canonical nullable Codex child questions metadata (#2570)
  cmds/delidev-cli/internal/harness/codex/subagents.go
  cmds/delidev-cli/internal/harness/codex/subagents_test.go
Due: go-fmt

test(delidev): cover Settings shortcut from ordinary input
  apps/delidev/src/App.test.tsx
Due: none

feat(delidev): add fixed shortcut to open Settings
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-settings.test.tsx
  apps/delidev/src/shortcuts.test.ts
  apps/delidev/src/shortcuts.ts
  apps/delidev/src/sidebar.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

feat(delidev): send follow-up messages with Enter
  apps/delidev/scripts/test-session-composer-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/locales/en/shortcuts.json
  apps/delidev/src/locales/ko/shortcuts.json
  apps/delidev/src/session-skill-draft.test.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcut-settings.test.tsx
  apps/delidev/src/shortcut-settings.tsx
  apps/delidev/src/shortcuts.test.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): close embedded browser children without closing windows
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/browser_host.rs
  docs/cmds-delidev-browser-contract.md
Due: cargo-fmt

fix(delidev): gate Codex image limits on frozen admission
  cmds/delidev-cli/internal/harness/codex/client.go
  cmds/delidev-cli/internal/harness/codex/image_generation.go
  cmds/delidev-cli/internal/harness/codex/image_generation_test.go
  cmds/delidev-cli/internal/harness/nativewire/wire_test.go
Due: go-fmt

fix(delidev): negotiate native image Worker capability
  cmds/delidev-cli/internal/worker/native_image_attach_test.go
  cmds/delidev-cli/internal/worker/run.go
Due: go-fmt

fix(delidev): refresh retained Runner heartbeat observations
  apps/delidev/src/AGENTS.md
  apps/delidev/src/machine-settings.test.tsx
  apps/delidev/src/machine-settings.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): preserve initial startup conflict guidance
  apps/delidev/src-tauri/src/desktop_host.rs
  apps/delidev/src-tauri/src/localization.rs
  apps/delidev/src-tauri/src/main.rs
Due: cargo-fmt

fix(delidev): compose Sidechat fork instructions from the read-only child snapshot (#2571)
  cmds/delidev-cli/internal/domain/sidechat_test.go
  cmds/delidev-cli/internal/worker/session_fork.go
  cmds/delidev-cli/internal/worker/session_fork_managed_test.go
Due: go-fmt

fix(delidev): accept nanosecond turn timing timestamps
  apps/delidev/src/turn-timing.test.tsx
  apps/delidev/src/turn-timing.tsx
Due: none

fix(delidev): hydrate Revert item history before checkpoint proof
  cmds/delidev-cli/internal/harness/codex/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/revert.go
  cmds/delidev-cli/internal/harness/codex/revert_history.go
  cmds/delidev-cli/internal/harness/codex/revert_history_test.go
  cmds/delidev-cli/internal/harness/codex/revert_test.go
  cmds/delidev-cli/internal/harness/codex/thread_test.go
  docs/cmds-delidev-compaction-contract.md
Due: go-fmt

fix(delidev): retain terminal message timing before session update
  apps/delidev/src/tool-turn-transcript.tsx
  apps/delidev/src/turn-timing.test.tsx
  apps/delidev/src/turn-timing.tsx
Due: none

fix(delidev): align Claude web timestamp admission with renderer
  apps/delidev/src/native-claude-web.test.tsx
  cmds/delidev-cli/internal/domain/claude_web.go
  cmds/delidev-cli/internal/domain/claude_web_test.go
  cmds/delidev-cli/internal/domain/testdata/claude-web-timestamps.json
Due: go-fmt

fix(delidev): retain all bounded session deletion Worker owners
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/session_deletion.go
  cmds/delidev-cli/internal/store/AGENTS.md
  cmds/delidev-cli/internal/store/session_deletion_capacity_test.go
  cmds/delidev-cli/internal/store/session_deletions.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): keep custom-theme focus visible
  apps/delidev/AGENTS.md
  apps/delidev/src/AGENTS.md
  apps/delidev/src/appearance-preferences.ts
  apps/delidev/src/themes.css
  apps/delidev/src/themes.test.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): distinguish Claude API and subscription requirements (#2554)
  apps/delidev/src/agent-permissions.test.tsx
  apps/delidev/src/locales/en/configuration-fields.json
  apps/delidev/src/locales/ko/configuration-fields.json
Due: none

fix(delidev): preserve composer mode when restoring reverted text
  apps/delidev/AGENTS.md
  apps/delidev/src/session-revert.integration.test.tsx
  apps/delidev/src/session-revert.tsx
  apps/delidev/src/session.tsx
  docs/apps-delidev-desktop-contract.md
Due: none

test(delidev): retain typed shortcut vector tuples
  apps/delidev/src/shortcuts.test.ts
Due: none

fix(delidev): resolve primary shortcuts by physical key
  apps/delidev/src/AGENTS.md
  apps/delidev/src/shortcut-preferences.test.ts
  apps/delidev/src/shortcut-preferences.ts
  apps/delidev/src/shortcuts.test.ts
  apps/delidev/src/shortcuts.ts
  docs/apps-delidev-desktop-contract.md
Due: none

fix(delidev): suppress sidebar scroll boundary effects
  apps/delidev/package.json
  apps/delidev/scripts/sidebar-overscroll.test.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/scroll-picker.css
  apps/delidev/src/styles.css
  apps/delidev/src/subscription-rail.css
  apps/delidev/src/usage.css
  docs/apps-delidev-desktop-contract.md
Due: none

refactor(delidev): remove wide sidebar toggle row
  apps/delidev/AGENTS.md
  apps/delidev/scripts/test-sidebar-collapse-layout.mjs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/sidebar.test.tsx
  apps/delidev/src/sidebar.tsx
  apps/delidev/src/styles.css
  docs/apps-delidev-desktop-contract.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
