Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(ci): close legacy release publication race
  .github/workflows/release-binpm.yml
  .github/workflows/release-cargo-mono.yml
  .github/workflows/release-derun.yml
  .github/workflows/release-nodeup.yml
  .github/workflows/release-with-watch.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/legacy-release.test.mjs
  scripts/release/legacy-release.test.mjs
  scripts/release/project.mjs
  scripts/release/project.test.mjs
Due: none

fix(delidev): preserve protected uint64 tokens in account preferences (#1495)
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-preferences.test.tsx
  apps/delidev/src/account-preferences.ts
  apps/delidev/src/settings.tsx
  apps/delidev/src/subscription-quota.tsx
  apps/delidev/src/subscription-resource.ts
  cmds/delidev-cli/internal/server/account_preferences_test.go
  docs/apps-delidev-subscription-settings-contract.md
  docs/cmds-delidev-accounts-contract.md
Due: go-fmt

fix(react-forge): retain Cargo target directory in host validation (#1496)
  docs/packages-react-forge-contract.md
  packages/react-forge/AGENTS.md
  packages/react-forge/tests/host-environment.test.ts
  scripts/ci/ci-contract.test.mjs
  scripts/ci/proto-breaking.test.mjs
Due: none

fix(ci): preserve Windows Go failure reports
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/go-test-report.mjs
  scripts/ci/go-test-report.test.mjs
  scripts/ci/go-test.mjs
  scripts/ci/go-test.test.mjs
Due: none

fix(delidev): preserve final storage-root ownership
  cmds/delidev-cli/internal/worker/session_deletion_storage_test.go
  cmds/delidev-cli/internal/worker/session_deletions.go
  cmds/delidev-cli/internal/workspace/delete_storage.go
  cmds/delidev-cli/internal/workspace/final_root_remove_unix.go
  cmds/delidev-cli/internal/workspace/final_root_remove_windows.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root.go
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
Due: go-fmt

fix(devhud): stop packaging on failed SignTool verification (#1482)
  .github/AGENTS.md
  .github/workflows/CI.yml
  .github/workflows/package-devhud-private.yml
  AGENTS.md
  docs/apps-devhud-operations-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/package.json
  scripts/ci/turbo.json
  scripts/release/devhud-private-workflow.test.mjs
Due: none

fix(delidev): keep tray production items before tests
  apps/delidev/src-tauri/src/tray_host.rs
Due: cargo-fmt

fix(ci): select all consumers of embedded Go fixtures (#1486)
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/go-affected.mjs
  scripts/ci/go-affected.test.mjs
Due: none

feat(delidev): connect Gemini OAuth with a quota project (#1365)
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/api-account.css
  cmds/delidev-cli/internal/apiproxy/AGENTS.md
  cmds/delidev-cli/internal/apiproxy/handler.go
  cmds/delidev-cli/internal/apiproxy/oauth_project_test.go
  cmds/delidev-cli/internal/apiproxy/scope.go
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/domain/account_oauth_credentials.go
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/client.go
  cmds/delidev-cli/internal/providers/oauth_project.go
  cmds/delidev-cli/internal/providers/oauth_project_test.go
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_inspection.go
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_gemini_test.go
  cmds/delidev-cli/internal/server/account_oauth_profiles.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/execution_authority.go
  docs/cmds-delidev-account-oauth-contract.md
Due: cargo-fmt, go-fmt

test(delidev): create private SSH artifact fixture
  cmds/delidev-cli/internal/sshsetup/transport_test.go
Due: go-fmt

fix(ci): reuse dot-aware matcher for Rust selection
  scripts/ci/rust-affected.mjs
  scripts/ci/rust-affected.test.mjs
Due: none

fix(delidev): retain integration preview state during merge repair
  cmds/delidev-cli/internal/server/server.go
Due: go-fmt

fix(delidev): repair known model catalog review findings
  .github/workflows/delidev-known-models.yml
  apps/delidev/src/agent-worker-wizard.test.tsx
  apps/delidev/src/agent-worker-wizard.tsx
  cmds/delidev-cli/internal/knownmodels/catalog.go
  cmds/delidev-cli/internal/knownmodels/catalog.json
  scripts/ci/delidev-known-models.test.mjs
  scripts/delidev/known-subscription-models.mjs
Due: go-fmt

fix(runmoor): resume completed reload stops on the first service start (#1512)
  apps/AGENTS.md
  apps/public-docs/docs/runmoor/operations.md
  cmds/runmoor/AGENTS.md
  cmds/runmoor/README.md
  cmds/runmoor/internal/runmoor/service.go
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_start_recovery_test.go
  docs/apps-runmoor-docs-foundation.md
  docs/cmds-runmoor-foundation.md
  docs/project-runmoor.md
Due: go-fmt

fix(delidev): preserve current-main OAuth merge changes
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/server/AGENTS.md
  packages/delidev-api-client/AGENTS.md
Due: cargo-fmt

fix(delidev): remove oauth merge marker
  apps/delidev/src/account-oauth.tsx
Due: none

fix(delidev): preserve provider names after OAuth
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
Due: none

fix(ci): include hidden paths in affected job selection (#1494)
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/rust-affected.mjs
  scripts/ci/rust-affected.test.mjs
Due: none

fix(delidev): enforce SSH command deadlines during channel operations (#1516)
  cmds/delidev-cli/internal/sshsetup/AGENTS.md
  cmds/delidev-cli/internal/sshsetup/transport.go
  cmds/delidev-cli/internal/sshsetup/transport_test.go
  docs/cmds-delidev-ssh-setup-contract.md
Due: go-fmt

fix(delidev): support legacy Windows final-root deletion
  cmds/delidev-cli/internal/workspace/final_root_remove_windows.go
Due: go-fmt

fix(delidev): sync OAuth repair with current main
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  cmds/delidev-cli/internal/server/AGENTS.md
Due: none

fix(ci): schedule and invalidate rustfmt configuration checks (#1484)
  .github/AGENTS.md
  .github/workflows/CI.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/AGENTS.md
  scripts/ci/ci-contract.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/package.json
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  scripts/ci/rustfmt-cache.fixture.mjs
  scripts/ci/turbo.json
Due: none

feat(delidev): add server-owned Baseten Device OAuth (#1366)
  AGENTS.md
  apps/delidev/src-tauri/AGENTS.md
  apps/delidev/src-tauri/src/oauth.rs
  apps/delidev/src/AGENTS.md
  apps/delidev/src/account-oauth.test.tsx
  apps/delidev/src/account-oauth.tsx
  apps/delidev/src/api-account.css
  apps/delidev/src/settings.tsx
  cmds/delidev-cli/internal/cli/AGENTS.md
  cmds/delidev-cli/internal/domain/AGENTS.md
  cmds/delidev-cli/internal/domain/account_oauth.go
  cmds/delidev-cli/internal/providers/AGENTS.md
  cmds/delidev-cli/internal/providers/oauth_clients.go
  cmds/delidev-cli/internal/providers/oauth_clients.json
  cmds/delidev-cli/internal/server/AGENTS.md
  cmds/delidev-cli/internal/server/account_oauth.go
  cmds/delidev-cli/internal/server/account_oauth_device.go
  cmds/delidev-cli/internal/server/account_oauth_device_test.go
  cmds/delidev-cli/internal/server/account_oauth_profiles.go
  cmds/delidev-cli/internal/server/account_oauth_tokens.go
  cmds/delidev-cli/internal/server/accounts.go
  cmds/delidev-cli/internal/server/catalog.go
  cmds/delidev-cli/internal/server/server.go
  docs/cmds-delidev-account-oauth-contract.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
  packages/delidev-api-client/AGENTS.md
Due: cargo-fmt, go-fmt

fix(delidev): bind Unix final-root unlink
  cmds/delidev-cli/internal/workspace/final_root_remove_unix.go
  cmds/delidev-cli/internal/workspace/final_root_remove_windows.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root_unix_test.go
  docs/cmds-delidev-storage-contract.md
Due: go-fmt

fix(delidev): restore final root mode after unlink failure
  cmds/delidev-cli/internal/workspace/final_root_remove_unix.go
  cmds/delidev-cli/internal/workspace/snapshot_final_root_unix_test.go
Due: go-fmt

fix(delidev): sync absent final-root proofs
  cmds/delidev-cli/internal/workspace/snapshot_recovery.go
Due: go-fmt

fix(delidev): retain final-root proof before intent
  cmds/delidev-cli/internal/worker/session_deletion_storage_test.go
  cmds/delidev-cli/internal/workspace/delete_storage.go
Due: go-fmt

fix(delidev): use file disposition handle class
  cmds/delidev-cli/internal/workspace/final_root_remove_windows.go
Due: go-fmt

fix(ci): run Linux publication fixtures for helper changes
  AGENTS.md
  docs/repository-linux-packages-contract.md
  docs/repository-workflow-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

fix(ci): restore merged planner test closures
  scripts/ci/plan.test.mjs
Due: none

fix(delidev): scope Grok overflow guidance to request identity
  apps/delidev/src/native-grok-interactions.test.tsx
  apps/delidev/src/native-grok-interactions.tsx
Due: none

fix(ci): preserve early Go diagnostics and Unicode test names
  scripts/ci/go-test-report.mjs
  scripts/ci/go-test-report.test.mjs
Due: none

fix(ci): stabilize environment cache fixture
  scripts/dev-environment/turbo-cache.test.mjs
Due: none

fix(delidev): retry repository capability checks
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
Due: none

fix(runmoor): reconcile interrupted service publication
  cmds/runmoor/internal/runmoor/service_reload.go
  cmds/runmoor/internal/runmoor/service_reload_publication_test.go
Due: go-fmt

fix(ci): recheck release state during tag creation
  scripts/release/legacy-release.test.mjs
  scripts/release/project.mjs
Due: none

fix(delidev): preserve legacy folder registration
  apps/delidev/src/repository-registration.test.tsx
  apps/delidev/src/repository-registration.tsx
Due: none

fix(delidev): preserve late review deletion acknowledgements
  apps/delidev/src/local-reviews.test.tsx
  apps/delidev/src/local-reviews.tsx
  apps/delidev/src/mutation.tsx
Due: none
