Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

dexdex-worker: preserve claude delta whitespace and merge text blocks
  servers/dexdex-worker-server/internal/service/session_output_normalizer.go
  servers/dexdex-worker-server/internal/service/session_output_normalizer_test.go
Due: go-fmt

dexdex-worker: keep whitespace in opencode text delta
  servers/dexdex-worker-server/internal/service/session_output_normalizer.go
  servers/dexdex-worker-server/internal/service/session_output_normalizer_test.go
Due: go-fmt

dexdex-worker: avoid fabricated claude text and skip blank lines
  servers/dexdex-worker-server/internal/service/session_output_normalizer.go
  servers/dexdex-worker-server/internal/service/session_output_normalizer_test.go
Due: go-fmt

feat(dexdex): normalize CLI outputs and add connect-query scaffold (#230)
  apps/dexdex/package.json
  apps/dexdex/src/lib/connect-query-provider.tsx
  apps/dexdex/src/lib/query-client.ts
  apps/dexdex/src/main.tsx
  docs/project-dexdex.md
  pnpm-lock.yaml
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-worker-server/internal/service/session_output_normalizer.go
  servers/dexdex-worker-server/internal/service/session_output_normalizer_test.go
  servers/dexdex-worker-server/internal/service/testdata/claude-code.stream.jsonl
  servers/dexdex-worker-server/internal/service/testdata/codex-cli.failure.jsonl
  servers/dexdex-worker-server/internal/service/testdata/opencode.run.jsonl
Due: go-fmt

feat(dexdex): implement main-server task and stream connect handlers
  docs/project-dexdex.md
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
  servers/dexdex-main-server/main.go
Due: go-fmt

fix(dexdex): garbage-collect empty stream-only workspaces
  docs/project-dexdex.md
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
Due: go-fmt

feat(dexdex): implement main-server task and stream connect handlers (#231)
  docs/project-dexdex.md
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(dexdex): implement remaining main-server unary handlers
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(dexdex): add desktop rpc dashboard and ts codegen
  apps/dexdex/package.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/gen/v1/dexdex-BadgeThemeService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-NotificationService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-PrManagementService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-RepositoryService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-ReviewAssistService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-ReviewCommentService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-SessionService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-TaskService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkspaceService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/lib/connect-query-provider.test.ts
  apps/dexdex/src/lib/connect-query-provider.tsx
  apps/dexdex/src/main.tsx
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
  pnpm-lock.yaml
  protos/dexdex/buf.gen.web.yaml
Due: none

chore(dexdex): add proto regeneration script for desktop app
  apps/dexdex/package.json
Due: none

feat(dexdex): complete unary rpc surface and desktop dashboard (#232)
  apps/dexdex/package.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/gen/v1/dexdex-BadgeThemeService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-NotificationService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-PrManagementService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-RepositoryService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-ReviewAssistService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-ReviewCommentService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-SessionService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-TaskService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkspaceService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/lib/connect-query-provider.test.ts
  apps/dexdex/src/lib/connect-query-provider.tsx
  apps/dexdex/src/main.tsx
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
  pnpm-lock.yaml
  protos/dexdex/buf.gen.web.yaml
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
  servers/dexdex-main-server/main.go
Due: go-fmt

feat(dexdex): implement phase4 session adapter vertical slice
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/gen/v1/dexdex-TaskService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkerSessionAdapterService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/service/connect_server.go
  servers/dexdex-worker-server/internal/service/connect_server_test.go
  servers/dexdex-worker-server/main.go
Due: go-fmt

fix(dexdex): avoid subtask mutation before worker success
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
Due: go-fmt

fix(dexdex): reset stream on connection change and bound worker timeout
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  servers/dexdex-main-server/main.go
Due: go-fmt

fix(dexdex): clear stream panel on every connection change
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
Due: none

chore: bump lefthook to 2.1.2
  package.json
  pnpm-lock.yaml
Due: none

chore: bump lefthook to 2.1.2 (#234)
  package.json
  pnpm-lock.yaml
Due: none

fix(dexdex): clear session adapter panel on connection change
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
Due: none

fix(dexdex): ignore stale adapter responses across connection changes
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
Due: none

feat(dexdex): implement phase4 session adapter vertical slice (#233)
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/gen/v1/dexdex-TaskService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex-WorkerSessionAdapterService_connectquery.ts
  apps/dexdex/src/gen/v1/dexdex_pb.ts
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
  protos/dexdex/v1/dexdex.proto
  servers/dexdex-main-server/internal/service/connect_server.go
  servers/dexdex-main-server/internal/service/connect_server_test.go
  servers/dexdex-main-server/main.go
  servers/dexdex-worker-server/internal/service/connect_server.go
  servers/dexdex-worker-server/internal/service/connect_server_test.go
  servers/dexdex-worker-server/main.go
Due: go-fmt

feat(dexdex): add plan decision dashboard slice
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  docs/project-dexdex.md
Due: none

feat(dexdex): add plan decision dashboard slice (#235)
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  docs/project-dexdex.md
Due: none

feat(dexdex): implement codex-style three-panel dashboard UI
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
Due: none

feat(dexdex): implement codex-style three-panel dashboard UI (#236)
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
Due: none

feat(serde-feather): add enum derive support for unit/newtype variants
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  crates/serde-feather/tests/ui/enum_duplicate_variant_name.rs
  crates/serde-feather/tests/ui/enum_duplicate_variant_name.stderr
  crates/serde-feather/tests/ui/enum_type.rs
  crates/serde-feather/tests/ui/enum_type.stderr
  crates/serde-feather/tests/ui/enum_variant_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_attribute.stderr
  crates/serde-feather/tests/ui/enum_variant_field_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_field_attribute.stderr
  docs/project-serde-feather.md
Due: cargo-fmt

fix(serde-feather): accept numeric enum discriminants
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  docs/project-serde-feather.md
Due: cargo-fmt

feat(ttlc): add phase2 run command with generated runner
  AGENTS.md
  cmds/AGENTS.md
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/contracts/enums.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

feat(dexdex): implement codex-role seven-page desktop routing
  apps/dexdex/package.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
  pnpm-lock.yaml
Due: none

fix(serde-feather): satisfy clippy large enum variant
  crates/serde-feather-macros/src/lib.rs
Due: cargo-fmt

feat(serde-feather): add enum derive support for unit/newtype variants (#237)
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  crates/serde-feather/tests/ui/enum_duplicate_variant_name.rs
  crates/serde-feather/tests/ui/enum_duplicate_variant_name.stderr
  crates/serde-feather/tests/ui/enum_type.rs
  crates/serde-feather/tests/ui/enum_type.stderr
  crates/serde-feather/tests/ui/enum_variant_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_attribute.stderr
  crates/serde-feather/tests/ui/enum_variant_field_attribute.rs
  crates/serde-feather/tests/ui/enum_variant_field_attribute.stderr
  docs/project-serde-feather.md
Due: cargo-fmt

fix(ttlc): honor run args in cache and isolate print output
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  cmds/ttlc/internal/runner/runner.go
  cmds/ttlc/internal/runner/runner_test.go
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

feat(dexdex): implement codex-role seven-page desktop routing (#239)
  apps/dexdex/package.json
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/contracts/dexdex-page.ts
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
  pnpm-lock.yaml
Due: none

feat(release): add tag-based multi-os distribution automation
  .github/workflows/release-derun.yml
  .github/workflows/release-dexdex.yml
  .github/workflows/release-nodeup.yml
  AGENTS.md
  packaging/homebrew/README.md
  packaging/homebrew/templates/derun.rb.tmpl
  packaging/homebrew/templates/dexdex-main-server.rb.tmpl
  packaging/homebrew/templates/dexdex-worker-server.rb.tmpl
  packaging/homebrew/templates/dexdex.rb.tmpl
  packaging/homebrew/templates/nodeup.rb.tmpl
  packaging/winget/README.md
  packaging/winget/templates/installer-portable.yaml.tmpl
  packaging/winget/templates/installer-wix.yaml.tmpl
  packaging/winget/templates/locale.en-US.yaml.tmpl
  packaging/winget/templates/version.yaml.tmpl
  scripts/install/README.md
  scripts/install/derun.ps1
  scripts/install/derun.sh
  scripts/install/dexdex-stack.ps1
  scripts/install/dexdex-stack.sh
  scripts/install/nodeup.ps1
  scripts/install/nodeup.sh
  scripts/release/README.md
  scripts/release/generate-checksums.sh
  scripts/release/update-homebrew.sh
  scripts/release/update-winget.sh
Due: none

docs(distribution): document install channels and dexdex public docs
  apps/public-docs/derun.mdx
  apps/public-docs/dexdex.mdx
  apps/public-docs/docs.json
  apps/public-docs/nodeup.mdx
  apps/public-docs/projects-overview.mdx
  docs/project-derun.md
  docs/project-dexdex.md
  docs/project-nodeup.md
  docs/project-public-docs.md
Due: none

fix(install): guard unsupported linux arm64 direct artifacts
  scripts/install/derun.sh
  scripts/install/dexdex-stack.sh
  scripts/install/nodeup.sh
Due: none

test(serde-feather): expand derive coverage and trim deserialize expansion
  crates/serde-feather-macros/src/lib.rs
  crates/serde-feather/tests/derive_runtime.rs
  crates/serde-feather/tests/ui/container_duplicate_rename.rs
  crates/serde-feather/tests/ui/container_duplicate_rename.stderr
  crates/serde-feather/tests/ui/container_unsupported_attribute.rs
  crates/serde-feather/tests/ui/container_unsupported_attribute.stderr
  crates/serde-feather/tests/ui/enum_generic.rs
  crates/serde-feather/tests/ui/enum_generic.stderr
  crates/serde-feather/tests/ui/field_default_with_value.rs
  crates/serde-feather/tests/ui/field_default_with_value.stderr
  crates/serde-feather/tests/ui/field_duplicate_default.rs
  crates/serde-feather/tests/ui/field_duplicate_default.stderr
  crates/serde-feather/tests/ui/field_duplicate_rename.rs
  crates/serde-feather/tests/ui/field_duplicate_rename.stderr
  crates/serde-feather/tests/ui/field_duplicate_skip_deserializing.rs
  crates/serde-feather/tests/ui/field_duplicate_skip_deserializing.stderr
  crates/serde-feather/tests/ui/field_duplicate_skip_serializing.rs
  crates/serde-feather/tests/ui/field_duplicate_skip_serializing.stderr
  crates/serde-feather/tests/ui/field_skip_with_value.rs
  crates/serde-feather/tests/ui/field_skip_with_value.stderr
  crates/serde-feather/tests/ui/union_type.rs
  crates/serde-feather/tests/ui/union_type.stderr
  crates/serde-feather/tests/ui/variant_duplicate_rename.rs
  crates/serde-feather/tests/ui/variant_duplicate_rename.stderr
  crates/serde-feather/tests/ui/variant_two_payload_fields.rs
  crates/serde-feather/tests/ui/variant_two_payload_fields.stderr
Due: cargo-fmt

fix(ttlc): tighten run argument type validation
  cmds/ttlc/internal/compiler/service.go
  cmds/ttlc/internal/compiler/service_test.go
  docs/project-ttl-language.md
  docs/project-ttl.md
Due: go-fmt

dexdex: add startup workspace picker and global workspace session
  apps/dexdex/src/App.test.tsx
  apps/dexdex/src/App.tsx
  apps/dexdex/src/components/rpc-dashboard.test.tsx
  apps/dexdex/src/components/rpc-dashboard.tsx
  apps/dexdex/src/contracts/workspace-profile.ts
  apps/dexdex/src/lib/workspace-profiles-store.test.ts
  apps/dexdex/src/lib/workspace-profiles-store.ts
  apps/dexdex/src/styles.css
  docs/project-dexdex.md
Due: none

chore(release): switch project tag contract from /v* to @v*
  .github/workflows/release-derun.yml
  .github/workflows/release-dexdex.yml
  .github/workflows/release-nodeup.yml
  AGENTS.md
  apps/public-docs/derun.mdx
  apps/public-docs/dexdex.mdx
  apps/public-docs/nodeup.mdx
  docs/project-derun.md
  docs/project-dexdex.md
  docs/project-nodeup.md
  scripts/install/derun.ps1
  scripts/install/derun.sh
  scripts/install/dexdex-stack.ps1
  scripts/install/dexdex-stack.sh
  scripts/install/nodeup.ps1
  scripts/install/nodeup.sh
Due: none

fix(ttlc): reject null run args payloads
  cmds/ttlc/internal/cli/root.go
  cmds/ttlc/internal/cli/root_test.go
Due: go-fmt

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
