Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

cargo-fmt:
  stage_fixed: true
  run: cargo fmt --all

go-fmt:
  stage_fixed: true
  run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): harden updater scheduler restart
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/updater.rs
Due: cargo-fmt

fix(devhud): harden Android widget lifecycle
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
Due: none

fix(devhud): invalidate stale widget credential refreshes
  apps/AGENTS.md
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address updater review feedback
  apps/AGENTS.md
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/updater.rs
  apps/devhud/src/updater-ui.test.tsx
  apps/devhud/src/updater-ui.tsx
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): reconcile widget credential failures
  apps/AGENTS.md
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): serialize widget cleanup on deck deletion
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
Due: none

fix(devhud): recover widget credential updates
  apps/AGENTS.md
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): harden updater restart handoff
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/src/native_messaging.rs
  apps/devhud/src-tauri/src/updater.rs
  docs/apps-devhud-foundation.md
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
  docs/servers-devhud-api-contract.md
  servers/AGENTS.md
  servers/devhud-api/internal/updates/handler.go
  servers/devhud-api/internal/updates/handler_test.go
Due: cargo-fmt, go-fmt

fix(devhud): address widget review feedback
  apps/AGENTS.md
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): preserve fresh widget snapshots
  apps/AGENTS.md
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/deck.test.ts
  apps/devhud/src/deck.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): reject unmarked Linux updater
  apps/AGENTS.md
  apps/devhud/src-tauri/src/updater.rs
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
Due: cargo-fmt

feat(devhud): add pinned local agent support
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/package.json
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/local_agents.rs
  apps/devhud/src-tauri/src/main.rs
  apps/devhud/src-tauri/src/secure_store.rs
  apps/devhud/src/identity-ui.tsx
  apps/devhud/src/local-agent-contract.test.ts
  apps/devhud/src/local-agent-settings-ui.tsx
  apps/devhud/src/local-data.test.ts
  apps/devhud/src/local-data.ts
  apps/devhud/src/localization.ts
  apps/devhud/src/native-bridge.ts
  apps/devhud/src/realqa-submission-ui.test.tsx
  apps/devhud/src/realqa-submission-ui.tsx
  apps/devhud/src/service-boundary.tsx
  apps/devhud/src/settings-contract.test.ts
  apps/devhud/src/settings-contract.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
  servers/devhud-api/internal/rpc/settings_schema.go
  servers/devhud-api/internal/rpc/settings_test.go
Due: cargo-fmt, go-fmt

fix(devhud): reject unreadable widget credentials
  apps/AGENTS.md
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

refactor(devhud): satisfy local agent lint gates
  apps/devhud/src-tauri/src/local_agents.rs
Due: cargo-fmt

docs(devhud): sync local agent settings contracts
  docs/protos-devhud-v1-contract.md
  docs/servers-devhud-api-contract.md
Due: none

fix(devhud): preserve widget refresh ownership
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
Due: none

fix(devhud): address updater durability feedback
  apps/AGENTS.md
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/scripts/run-tauri-arguments.mjs
  apps/devhud/scripts/run-tauri.test.mjs
  apps/devhud/scripts/verify-pins.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src-tauri/src/updater.rs
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud): align widget validation errors
  apps/AGENTS.md
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src/native-bridge.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): validate widget refresh metadata
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
Due: none

fix(devhud): address widget review feedback
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/src/bridge.rs
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
Due: cargo-fmt

fix(devhud): compile updater trust roots by target
  apps/devhud/src-tauri/src/updater.rs
Due: cargo-fmt

fix(devhud): harden widget refresh and purge
  apps/AGENTS.md
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): address widget cache review feedback
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
Due: none

fix(devhud): publish terminal restart status
  apps/devhud/scripts/native-bridge.test.mjs
  apps/devhud/src-tauri/src/bridge.rs
  docs/apps-devhud-updater-contract.md
  docs/project-devhud.md
Due: cargo-fmt

fix(devhud-api): validate updater envelope keys
  servers/devhud-api/internal/updates/handler.go
  servers/devhud-api/internal/updates/handler_test.go
Due: go-fmt

fix(devhud): harden Android widget refresh
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
Due: none

fix(devhud): require explicit never-pushed metadata
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
Due: none

fix(devhud): coalesce widget deck refreshes
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
Due: none

fix(devhud): preserve widget refresh integrity
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
  apps/devhud/src/deck.test.ts
  apps/devhud/src/deck.ts
Due: none

fix(devhud): harden Android widget responses
  apps/AGENTS.md
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): export widget refresh job service
  apps/devhud/mobile/overrides/android/app/src/main/AndroidManifest.xml
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/AndroidManifest.xml
Due: none

fix(devhud): isolate widget snapshots by profile
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
Due: none

fix(devhud): guard widget synchronization commits
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src/deck-ui.test.tsx
  apps/devhud/src/deck-ui.tsx
Due: none

fix(devhud): harden production widget state
  apps/AGENTS.md
  apps/devhud/mobile/overrides/android/app/src/main/AndroidManifest.xml
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/mobile/overrides/ios/DevHudWidgetIntent/IntentHandler.swift
  apps/devhud/scripts/generate-mobile.mjs
  apps/devhud/scripts/generate-mobile.test.mjs
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src-tauri/mobile/android/src/main/AndroidManifest.xml
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src-tauri/mobile/ios/Sources/WidgetStateStore.swift
  docs/README.md
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): preserve latest iOS widget state
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
Due: none

fix(devhud): preserve widget refresh state
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
Due: none

fix(devhud): harden widget refresh responses
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  apps/devhud/src-tauri/mobile/ios/Sources/DevhudNativePlugin.swift
  apps/devhud/src/github-provider.test.ts
  apps/devhud/src/github-provider.ts
Due: none

fix(devhud): validate Android widget completeness
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
Due: none

fix(devhud): guard widget refresh repositories
  apps/devhud/mobile/overrides/ios/DevHudWidget/DevHudWidget.swift
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetProvider.kt
Due: none

fix(devhud): block stale widget credentials
  apps/AGENTS.md
  apps/devhud/scripts/mobile-policy.mjs
  apps/devhud/scripts/mobile-policy.test.mjs
  apps/devhud/scripts/verify-mobile.mjs
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/bridge/DevhudNativePlugin.kt
  apps/devhud/src-tauri/mobile/android/src/main/java/io/delino/devhud/widget/DevHudWidgetStore.kt
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

Path conditions:
  cargo-fmt: any of: **/*.rs
  go-fmt: any of: **/*.go
