Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

fix(devhud): satisfy reset command clippy limit
  apps/devhud/src-tauri/src/lib.rs
Due: cargo-fmt

fix(realqa): classify transient image failures
  servers/devhud-realqa/internal/api/api_test.go
  servers/devhud-realqa/internal/api/github_webhook.go
  servers/devhud-realqa/internal/imageassets/http.go
  servers/devhud-realqa/internal/imageassets/http_test.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(realqa): address provider pagination review
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/service/preset.go
  servers/devhud-realqa/internal/service/service.go
  servers/devhud-realqa/internal/service/tracker.go
  servers/devhud-realqa/internal/service/tracker_test.go
Due: go-fmt

fix(devhud): address Chrome bridge review races
  apps/devhud/scripts/check-contracts.mjs
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/capabilities/realqa-composer.json
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src-tauri/src/realqa_capture/mod.rs
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(deck): address GitHub adapter review
  docs/servers-devhud-deck-foundation.md
  servers/AGENTS.md
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/handlers.go
  servers/devhud-deck/internal/github/handlers_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/service/integration.go
Due: go-fmt

fix(realqa): close image lifecycle review races
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/imageassets/http.go
  servers/devhud-realqa/internal/imageassets/http_test.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(devhud): clear failed draft restores
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
Due: cargo-fmt

fix(ci): restore serialized delibase tests
  .github/workflows/CI.yml
  AGENTS.md
  docs/servers-delibase-server-foundation.md
  servers/AGENTS.md
  servers/delibase/scripts/test-postgres.sh
Due: none

fix(realqa): address OAuth and schema review
  servers/devhud-realqa/internal/github/callback.go
  servers/devhud-realqa/internal/github/callback_test.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
Due: go-fmt

fix(devhud): harden RealQA browser capture handoff
  apps/devhud/README.md
  apps/devhud/realqa-extension/src/service-worker.js
  apps/devhud/realqa-extension/src/service-worker.test.js
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/src/realqa_capture/image_boundary.rs
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
  apps/devhud/src/realqa/capture.ts
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(realqa): guard retained image lifecycle
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission_storage.go
  servers/devhud-realqa/internal/service/submission_storage_test.go
Due: go-fmt

fix(deck): address GitHub lifecycle review
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/database/audit_deletion.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/github/types.go
  servers/devhud-deck/internal/service/authorization_test.go
  servers/devhud-deck/internal/service/github.go
  servers/devhud-deck/internal/service/github_credential.go
  servers/devhud-deck/internal/service/github_test.go
  servers/devhud-deck/internal/service/repository_authorizer.go
  servers/devhud-deck/internal/service/view.go
Due: go-fmt

fix(devhud): route logout reset diagnostics
  apps/devhud/src-tauri/src/diagnostics.rs
  apps/devhud/src-tauri/src/lib.rs
  docs/apps-devhud-foundation.md
Due: cargo-fmt

fix(devhud): serialize RealQA draft lifecycle
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/url.ts
Due: cargo-fmt

fix(realqa): enforce GitHub provider boundaries
  servers/devhud-realqa/internal/github/adapter.go
  servers/devhud-realqa/internal/github/adapter_integration_test.go
  servers/devhud-realqa/internal/github/body.go
  servers/devhud-realqa/internal/github/body_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/github/types.go
Due: go-fmt

fix(realqa): reject empty image sessions
  servers/devhud-realqa/internal/service/submission.go
  servers/devhud-realqa/internal/service/submission_storage.go
  servers/devhud-realqa/internal/service/submission_storage_test.go
Due: go-fmt

fix(devhud): preserve Chrome capture lifecycle
  apps/AGENTS.md
  apps/devhud/realqa-extension/manifest.template.json
  apps/devhud/realqa-extension/src/dom-selection.js
  apps/devhud/realqa-extension/src/dom-selection.test.js
  apps/devhud/realqa-extension/src/manifest.test.js
  apps/devhud/realqa-extension/src/service-worker.js
  apps/devhud/realqa-extension/src/service-worker.test.js
  apps/devhud/scripts/check-security.mjs
  apps/devhud/src-tauri/src/lib.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(deck): harden view and webhook authorization state
  servers/devhud-deck/db/migrations/000002_github_provider.sql
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/github.go
Due: go-fmt

test(deck): cover connected organization view creation
  servers/devhud-deck/internal/database/database_integration_test.go
Due: go-fmt

fix(realqa): tighten GitHub issue schema validation
  servers/devhud-realqa/internal/github/body.go
  servers/devhud-realqa/internal/github/body_test.go
  servers/devhud-realqa/internal/github/client.go
  servers/devhud-realqa/internal/github/client_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
  servers/devhud-realqa/internal/github/testdata/bug.yml
Due: go-fmt

fix(devhud): address RealQA draft review feedback
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
  apps/devhud/src/realqa/drafts/url.ts
  servers/devhud-realqa/internal/rules/rules.go
  servers/devhud-realqa/internal/rules/rules_test.go
Due: cargo-fmt, go-fmt

fix(devhud): address Chrome bridge review feedback
  apps/devhud/realqa-extension/src/protocol.js
  apps/devhud/realqa-extension/src/service-worker.js
  apps/devhud/realqa-extension/src/service-worker.test.js
  apps/devhud/src-tauri/src/auth.rs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(realqa): harden image storage retries
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/imageassets/http.go
  servers/devhud-realqa/internal/imageassets/http_test.go
  servers/devhud-realqa/internal/imageassets/image.go
  servers/devhud-realqa/internal/imageassets/image_test.go
  servers/devhud-realqa/internal/imageassets/signing.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(realqa): subscribe to installation target renames
  docs/servers-devhud-realqa-foundation.md
  servers/devhud-realqa/README.md
  servers/devhud-realqa/github-app-manifest.json
  servers/devhud-realqa/internal/github/manifest.go
Due: go-fmt

fix(deck): serialize GitHub lifecycle state
  docs/servers-devhud-deck-foundation.md
  servers/AGENTS.md
  servers/devhud-deck/db/migrations/000002_github_provider.sql
  servers/devhud-deck/db/query/github.sql
  servers/devhud-deck/db/query/views.sql
  servers/devhud-deck/internal/database/database.go
  servers/devhud-deck/internal/database/database_integration_test.go
  servers/devhud-deck/internal/database/dbgen/github.sql.go
  servers/devhud-deck/internal/database/dbgen/models.go
  servers/devhud-deck/internal/database/dbgen/querier.go
  servers/devhud-deck/internal/database/dbgen/views.sql.go
  servers/devhud-deck/internal/database/github.go
  servers/devhud-deck/internal/github/oauth.go
  servers/devhud-deck/internal/github/oauth_test.go
Due: go-fmt

fix(devhud): align RealQA draft review contracts
  apps/devhud/src-tauri/src/realqa_drafts.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
  servers/devhud-realqa/internal/rules/rules.go
  servers/devhud-realqa/internal/rules/rules_test.go
Due: cargo-fmt, go-fmt

fix(devhud): close RealQA handoff lifecycle gaps
  AGENTS.md
  apps/AGENTS.md
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src-tauri/src/auth_native.rs
  apps/devhud/src-tauri/src/lib.rs
  apps/devhud/src-tauri/src/realqa_capture/composer.rs
  apps/devhud/src/realqa/BrowserCaptureComposer.test.tsx
  apps/devhud/src/realqa/BrowserCaptureComposer.tsx
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: cargo-fmt

fix(realqa): close image lifecycle review gaps
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/api/api_test.go
  servers/devhud-realqa/internal/authn/authn.go
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(realqa): match GitHub issue form validation
  go.mod
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
Due: go-fmt

fix(deck): address GitHub provider review
  docs/servers-devhud-deck-foundation.md
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/fixtures_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/github/oauth.go
  servers/devhud-deck/testdata/github-app/README.md
  servers/devhud-deck/testdata/github-app/manifest.json
Due: go-fmt

fix(devhud): bound Chrome selection lifecycle
  apps/AGENTS.md
  apps/devhud/README.md
  apps/devhud/realqa-extension/src/dom-selection.js
  apps/devhud/realqa-extension/src/dom-selection.test.js
  apps/devhud/realqa-extension/src/manifest.test.js
  apps/devhud/scripts/build-realqa-extension.mjs
  docs/apps-devhud-foundation.md
  docs/project-devhud.md
Due: none

fix(devhud): retry missed CEF helper observations
  apps/devhud/scripts/smoke-desktop.mjs
  docs/apps-devhud-foundation.md
Due: none

fix(realqa): coordinate image cleanup retries
  servers/devhud-realqa/db/query/submission.sql
  servers/devhud-realqa/internal/database/dbgen/querier.go
  servers/devhud-realqa/internal/database/dbgen/submission.sql.go
  servers/devhud-realqa/internal/service/preset_integration_test.go
  servers/devhud-realqa/internal/service/submission_storage.go
Due: go-fmt

fix(devhud): address RealQA review feedback
  apps/devhud/src-tauri/src/auth.rs
  apps/devhud/src/realqa/drafts/drafts.test.ts
  apps/devhud/src/realqa/drafts/presets.ts
Due: cargo-fmt

fix(realqa): tighten issue form validation
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
Due: go-fmt

test(realqa): expect immediate staging cleanup
  servers/devhud-realqa/internal/service/preset_integration_test.go
Due: go-fmt

fix(deck): address GitHub adapter review feedback
  docs/servers-devhud-deck-foundation.md
  servers/devhud-deck/internal/github/client.go
  servers/devhud-deck/internal/github/client_test.go
  servers/devhud-deck/internal/github/mutations.go
  servers/devhud-deck/internal/service/github.go
Due: go-fmt

test(delibase): stabilize reservation lock fixture
  servers/delibase/internal/service/usage_integration_test.go
Due: go-fmt

fix(realqa): validate provider schema edge cases
  servers/devhud-realqa/internal/github/body.go
  servers/devhud-realqa/internal/github/body_test.go
  servers/devhud-realqa/internal/github/schema.go
  servers/devhud-realqa/internal/github/schema_test.go
Due: go-fmt
