Repository delinoio/oss: changes, and which lefthook commands are due for each by the changed paths.
All: cargo-fmt, go-fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo-fmt:
      stage_fixed: true
      glob: "**/*.rs"
      run: cargo fmt --all
    go-fmt:
      stage_fixed: true
      glob: "**/*.go"
      run: ./scripts/generate-go-proto.sh && go fmt ./...

feat(delidev): connect native desktop through a bundled Go client
  Cargo.lock
  Cargo.toml
  apps/delidev/AGENTS.md
  apps/delidev/package.json
  apps/delidev/scripts/prepare-sidecar.mjs
  apps/delidev/src-tauri/.gitignore
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/icons/icon.ico
  apps/delidev/src-tauri/icons/icon.png
  apps/delidev/src-tauri/icons/icon.svg
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src-tauri/tauri.conf.json
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/main.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/devices.go
  cmds/delidev-cli/internal/cli/local_client.go
  cmds/delidev-cli/internal/cli/local_client_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
  scripts/ci/job-paths.json
Due: cargo-fmt, go-fmt

docs(react-forge): record SFX validation evidence
  docs/packages-react-forge-validation.md
Due: none

test(react-forge): record sprite rendering and package validation
  docs/packages-react-forge-validation.md
  packages/react-forge/scripts/install-smoke.mjs
  packages/react-forge/tests/evidence/sprite-macos-arm64.json
Due: none

feat(delidev): handle desktop approvals and queued input actions
  apps/delidev/AGENTS.md
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/cache.test.ts
  apps/delidev/src/cache.ts
  apps/delidev/src/interactions.test.tsx
  apps/delidev/src/interactions.tsx
  apps/delidev/src/queue.test.tsx
  apps/delidev/src/queue.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
Due: none

feat(delidev): supervise local server with durable explicit-stop intent
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/supervision.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/connection.test.ts
  apps/delidev/src/connection.ts
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-server.test.tsx
  apps/delidev/src/local-server.tsx
  apps/delidev/src/main.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/lifecycle_test.go
  cmds/delidev-cli/internal/cli/start.go
  cmds/delidev-cli/internal/server/lifecycle.go
  cmds/delidev-cli/internal/server/lifecycle_test.go
  cmds/delidev-cli/internal/server/server.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

feat(delidev): add desktop configuration and account actions
  apps/delidev/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/account-connection.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/documents.ts
  apps/delidev/src/mutation.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

chore(react-forge): trim scene manifest trailing whitespace
  crates/forge-glb/Cargo.toml
  crates/forge-scene/Cargo.toml
Due: none

feat(delidev): configure desktop projects and Worker repositories
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-actions.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/jobs.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): add desktop Worker discovery and schedules
  apps/delidev/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/machine-settings.tsx
  apps/delidev/src/schedules.test.tsx
  apps/delidev/src/schedules.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): add desktop session selection and recovery controls
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/session-tools.test.tsx
  apps/delidev/src/session-tools.tsx
  apps/delidev/src/session.tsx
  apps/delidev/src/styles.css
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): bind desktop Local execution to native Worker proof
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/App.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-worker.test.tsx
  apps/delidev/src/local-worker.ts
  apps/delidev/src/schedules.tsx
  apps/delidev/src/session-tools.test.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/views.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt

feat(delidev): add durable local Worker controller lifecycle
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/devices.go
  cmds/delidev-cli/internal/cli/local_client.go
  cmds/delidev-cli/internal/cli/local_client_test.go
  cmds/delidev-cli/internal/cli/start_test.go
  cmds/delidev-cli/internal/cli/worker_lifecycle.go
  cmds/delidev-cli/internal/cli/worker_lifecycle_test.go
  cmds/delidev-cli/internal/worker/lifecycle.go
  cmds/delidev-cli/internal/worker/lifecycle_test.go
  cmds/delidev-cli/internal/worker/run.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: go-fmt

feat(delidev): expose Local Worker lifecycle in desktop settings
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/local.toml
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/local_worker.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/App.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/local-worker-controls.test.tsx
  apps/delidev/src/local-worker-controls.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt

feat(delidev): add desktop device revocation and diagnostics
  apps/delidev/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/device-settings.test.tsx
  apps/delidev/src/device-settings.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

feat(delidev): edit server routing and fetch preferences
  apps/delidev/AGENTS.md
  apps/delidev/src/configuration-fields.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none

fix(delidev): await Worker process lock after exit publication
  cmds/delidev-cli/internal/worker/lifecycle.go
  cmds/delidev-cli/internal/worker/lifecycle_test.go
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
Due: go-fmt

test(react-forge): wait for CLI readiness under slow startup
  docs/packages-react-forge-validation.md
  packages/react-forge/tests/cli.test.ts
Due: none

feat(delidev): inspect storage workers and protected references in doctor
  apps/delidev/AGENTS.md
  apps/delidev/src/device-settings.test.tsx
  apps/delidev/src/device-settings.tsx
  apps/delidev/src/doctor.tsx
  apps/delidev/src/settings.integration.test.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/credentials/inspect.go
  cmds/delidev-cli/internal/credentials/inspect_test.go
  cmds/delidev-cli/internal/credentials/vault.go
  cmds/delidev-cli/internal/domain/diagnostics.go
  cmds/delidev-cli/internal/security/files_test.go
  cmds/delidev-cli/internal/security/files_unix.go
  cmds/delidev-cli/internal/security/files_windows.go
  cmds/delidev-cli/internal/server/diagnostics.go
  cmds/delidev-cli/internal/server/diagnostics_test.go
  cmds/delidev-cli/internal/server/server.go
  cmds/delidev-cli/internal/store/diagnostics.go
  cmds/delidev-cli/internal/store/diagnostics_test.go
  cmds/delidev-cli/internal/store/space_other.go
  cmds/delidev-cli/internal/store/space_unix.go
  cmds/delidev-cli/internal/store/space_windows.go
  docs/README.md
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-credentials-contract.md
  docs/cmds-delidev-diagnostics-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
  docs/protos-delidev-v1-contract.md
Due: go-fmt

fix(react-forge): shard CPU scene renders outside native CI budget
  .github/workflows/CI.yml
  AGENTS.md
  docs/packages-react-forge-validation.md
  docs/repository-workflow-contract.md
  packages/react-forge/AGENTS.md
  packages/react-forge/scripts/compare-scenes.py
  packages/react-forge/scripts/render-scenes.mjs
  packages/react-forge/scripts/test-scene-comparison.py
  scripts/ci/ci-contract.test.mjs
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

feat(delidev): retain exact saved server connection authority
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/connections.go
  cmds/delidev-cli/internal/cli/connections_test.go
  cmds/delidev-cli/internal/connections/profiles.go
  cmds/delidev-cli/internal/connections/profiles_test.go
  cmds/delidev-cli/internal/worker/pair.go
  docs/README.md
  docs/cmds-delidev-connections-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: go-fmt

fix(deps): remediate dependency security advisories (#985)
  AGENTS.md
  Cargo.lock
  Cargo.toml
  apps/AGENTS.md
  apps/devhud/mobile-platforms.json
  apps/devhud/package.json
  apps/devhud/scripts/verify-pins.mjs
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/harness/codex/turn_test.go
  cmds/runmoor/AGENTS.md
  cmds/runmoor/internal/runmoor/docker.go
  cmds/runmoor/internal/runmoor/docker_integration_test.go
  crates/AGENTS.md
  crates/clibox-config/Cargo.toml
  crates/clibox-config/src/config_publication.rs
  crates/clibox-config/src/yaml.rs
  crates/clibox-wait/Cargo.toml
  crates/clibox-wait/src/probe.rs
  crates/clibox/tests/config.rs
  crates/devhud-native-messaging-host/Cargo.toml
  crates/forge-package/Cargo.toml
  crates/forge-pdf/Cargo.toml
  crates/nodeup/Cargo.toml
  docs/README.md
  docs/cmds-delidev-evidence.md
  docs/cmds-delidev-harness-contract.md
  docs/cmds-runmoor-foundation.md
  docs/crates-clibox-foundation.md
  docs/crates-fspy-vendor-contract.md
  docs/repository-dependency-security-contract.md
  go.mod
  go.sum
  package.json
  packages/react-forge/scripts/render-requirements.txt
  pnpm-lock.yaml
  servers/devhud-api/Dockerfile
Due: cargo-fmt, go-fmt

test(clibox): synchronize managed service failure fixture
  crates/clibox/tests/run.rs
Due: cargo-fmt

fix(react-forge): retain geometry for hidden sprite leaves
  crates/forge-sprite/src/raster.rs
  crates/forge-sprite/src/tests.rs
  docs/packages-react-forge-sprite-contract.md
  packages/react-forge/AGENTS.md
Due: cargo-fmt

feat(delidev): open saved servers in pinned desktop windows
  Cargo.lock
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/Cargo.toml
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/capabilities/main.json
  apps/delidev/src-tauri/capabilities/saved.json
  apps/delidev/src-tauri/permissions/saved.toml
  apps/delidev/src-tauri/src/connections.rs
  apps/delidev/src-tauri/src/lib.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src-tauri/tauri.conf.json
  apps/delidev/src/App.test.tsx
  apps/delidev/src/App.tsx
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/saved-connections.test.tsx
  apps/delidev/src/saved-connections.tsx
  apps/delidev/src/settings.integration.test.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-connections-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt

fix(react-forge): account for sprite atlas copy work
  crates/AGENTS.md
  crates/forge-sprite/src/lib.rs
  crates/forge-sprite/src/raster.rs
  docs/packages-react-forge-sprite-contract.md
Due: cargo-fmt

fix(react-forge): poll cancellation during sprite PNG compression
  Cargo.lock
  crates/AGENTS.md
  crates/forge-sprite/Cargo.toml
  crates/forge-sprite/src/lib.rs
  crates/forge-sprite/src/png.rs
  docs/packages-react-forge-sprite-contract.md
Due: cargo-fmt

ci: select workspace checks for affected runner changes
  docs/repository-workflow-contract.md
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
Due: none

ci: select checksum supply-chain fixtures for generator changes
  docs/repository-workflow-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

ci: select shared release fixtures for implementation changes
  docs/repository-workflow-contract.md
  scripts/ci/job-paths.json
  scripts/ci/plan.test.mjs
Due: none

test(react-forge): wait for CLI readiness on slow hosts
  docs/packages-react-forge-validation.md
  packages/react-forge/AGENTS.md
  packages/react-forge/tests/cli.test.ts
Due: none

fix(react-forge): preserve scene measurement diagnostic stages
  docs/packages-react-forge-scene-contract.md
  packages/react-forge/AGENTS.md
  packages/react-forge/src/native.ts
  packages/react-forge/tests/native.test.ts
  packages/react-forge/tests/scene.test.tsx
Due: none

docs(react-forge): align route validation with all seventeen guides
  apps/AGENTS.md
  docs/apps-react-forge-docs-foundation.md
Due: none

test(react-forge): retain cancellation before fixture readiness
  docs/packages-react-forge-mcp-contract.md
  packages/react-forge/AGENTS.md
  packages/react-forge/tests/mcp.test.ts
Due: none

feat(delidev): manage profile-owned local Workers
  apps/delidev/AGENTS.md
  apps/delidev/src-tauri/build.rs
  apps/delidev/src-tauri/permissions/saved.toml
  apps/delidev/src-tauri/src/connections.rs
  apps/delidev/src-tauri/src/local_worker.rs
  apps/delidev/src-tauri/src/main.rs
  apps/delidev/src-tauri/src/tests.rs
  apps/delidev/src/desktop.test.tsx
  apps/delidev/src/desktop.tsx
  cmds/delidev-cli/AGENTS.md
  cmds/delidev-cli/internal/cli/cli.go
  cmds/delidev-cli/internal/cli/connections.go
  cmds/delidev-cli/internal/cli/connections_test.go
  cmds/delidev-cli/internal/connections/worker.go
  cmds/delidev-cli/internal/connections/worker_test.go
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-connections-contract.md
  docs/cmds-delidev-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: cargo-fmt, go-fmt

docs(react-forge): record merged sprite repair validation
  docs/packages-react-forge-validation.md
Due: none

docs(react-forge): record merged PR repair verification
  docs/packages-react-forge-validation.md
Due: none

chore: track large repository assets with Git LFS
  .gitattributes
  apps/devhud/src-tauri/assets/fonts/noto-sans-kr/NotoSansKR-VF.ttf
  crates/forge-tree-doc/assets/fonts/noto-sans-kr/NotoSansKR-VF.ttf
  packages/react-forge/examples/travel-ir-assets/coast.png
  packages/react-forge/examples/travel-ir-assets/horizon.png
  packages/react-forge/examples/travel-ir-assets/product.png
  servers/devhud-api/internal/r2/removal.png
Due: none

ci: hydrate LFS assets in affected builds
  .github/workflows/CI.yml
  .github/workflows/package-devhud-private.yml
  .github/workflows/release-async-commit-hook.yml
  .github/workflows/release-react-forge.yml
  AGENTS.md
  docs/repository-workflow-contract.md
  scripts/ci/lfs-assets.test.mjs
  scripts/ci/plan.mjs
  scripts/ci/plan.test.mjs
  servers/devhud-api/internal/r2/removal_test.go
Due: go-fmt

feat(delidev): issue private pairing grants from desktop settings
  apps/delidev/AGENTS.md
  apps/delidev/src/App.tsx
  apps/delidev/src/desktop.tsx
  apps/delidev/src/pairing-grant.test.tsx
  apps/delidev/src/pairing-grant.tsx
  apps/delidev/src/settings.integration.test.tsx
  apps/delidev/src/settings.tsx
  docs/apps-delidev-desktop-contract.md
  docs/cmds-delidev-evidence.md
  docs/project-delidev.md
Due: none
